﻿@charset "utf-8";
/* ================================ */
/* 商城前台模板页面常用样式定义 			*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopnc.net	*/
/* Create Date:		Aug-10-2012		*/
/* Retrofit Date:	Sep-01-2012		*/
/* ================================ */

body { background-color: #FEFEFE; min-width: 1200px;}
.nch-container { width: 1200px; margin: 0 auto;}
.nch-container .left { width: 208px; float: left; }
.nch-container .right { width: 980px; float: right; }
.nch-container .left2 { width: 780px; float: left; }
.nch-container .right2 { width: 208px; float: right; }
/* 边栏模块 */
.nch-module { border: solid 1px #D7D7D7; margin-bottom: 10px;}
.nch-module .title { background-color: #F5F5F5; height: 36px;}
.nch-module .title h3 { font: normal 14px/20px "microsoft yahei"; color: #333; height: 20px; padding: 8px 10px;}
.nch-module .title h3 em { color: #D93600;}
.nch-module .content { overflow: hidden;}
.nch-module-style01 { border-top: solid 2px #D93600;}
.nch-module-style02 { border-top: solid 2px #C8C8C8;}
.module_sidebar { padding: 4px; margin-bottom: 10px; border: 1px solid #D8D8D8; overflow: hidden;}
.module_sidebar h2 { font-family: Verdana, Geneva, sans-serif; font-size:9px; font-weight: 600; line-height: 30px; color:#F60; height: 30px; margin-bottom: 10px; border-bottom: 1px solid #E7E7E7;}
.module_sidebar h2 b { font-family: "microsoft yahei", Tahoma, Arial; font-size: 15px; line-height: 30px; color: #3E3E3E; display: inline; float: left; padding: 0 6px 0 4px; margin-left: 2px;}
.no_info { height: 230px; background: url(../images/nothing.gif) no-repeat 280px center; line-height: 230px; text-align: center; font-size: 18px; }
/*侧边栏文章列表*/
.nch-sidebar-article-class { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 214px; padding: 4px 0; margin-left: -1px;}
.nch-sidebar-article-class li { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; padding: 0 9px; margin: 4px 0; border-left: dotted 1px #D7D7D7;}
.nch-sidebar-article-class li a { line-height: 16px; font-size: 12px; color: #555; display: block; width: 85px; height: 16px; padding: 2px 0;}
.nch-sidebar-article-class li a:hover { font-weight: 600; text-decoration: none; color: #FFF; background-color: #D93600;}

.nch-sidebar-article-list { padding: 4px 0;}
.nch-sidebar-article-list li { padding: 4px 9px;}
.nch-sidebar-article-list li i { background: url(../images/2014shop_background_img.png) no-repeat -80px 0; vertical-align: middle; display: inline-block; width: 3px; height: 3px; margin-right: 5px;}
.nch-sidebar-article-list li a { height: 20px;}

/*文章新闻内容*/
.nch-article-con { background: #FFF; display: block; padding: 19px; border: 1px solid #E6E6E6; margin-bottom: 10px; overflow: hidden; }
.nch-article-con h1 { font: 600 16px/32px "microsoft yahei"; color: #3d3f3e; text-align: center; }
.nch-article-con h2 { color: #9a9a9a; font-size: 12px; padding: 5px 0 20px; margin-bottom: 20px; font-weight: normal; text-align: center; border-bottom: 1px solid #d2d2d2; }
.nch-article-con .title-bar { border-bottom: solid 1px #E6E6E6; padding-bottom: 15px; margin-bottom: 15px;}
.nch-article-con .title-bar h3 { font: normal 18px/20px "microsoft yahei";}
.nch-article-con .default p { display: block; clear: both; padding: 5px;}
.nch-article-con img { max-width: 930px;}
.nch-article-list {}
.nch-article-list li { line-height: 20px; display: block; height: 20px; padding: 5px 0;}
.nch-article-list li i { background: url(../images/2014shop_background_img.png) no-repeat -80px 0; vertical-align: middle; display: inline-block; width: 3px; height: 3px; margin-right: 10px;}
.nch-article-list li a { color: #333;}
.nch-article-list li time { font-size: 11px; color: #AAA; float: right; -webkit-text-size-adjust:none;}
.more_article { border-top: 1px solid #d2d2d2; padding: 10px 0 0 20px; margin-top: 10px; overflow: hidden; }
.more_article span { color: #3f3f3f; font-weight: normal; margin-bottom: 10px; }
.more_article span a { color: #006bcd; text-decoration: none;}
.more_article span a:hover { color: #f60; text-decoration: underline; }
.more_article time { font-size: 11px; color: #999; padding-left: 20px; }
/* 翻页样式 */
.pagination { display: inline-block; margin: 0 auto;}
.pagination ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.pagination ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; margin: 0 0 0 -1px;}
.pagination ul li { *display: inline/*IE6、7*/; *zoom:1;}
.pagination li span { font: normal 14px/20px "microsoft yahei"; color: #AAA; background-color: #FAFAFA; text-align: center; display: block; min-width: 20px; padding: 8px; border: 1px solid #E6E6E6; position: relative; z-index: 1;}
.pagination li a span , 
.pagination li a:visited span { color: #005AA0; text-decoration: none; background-color: #FFF; position: relative; z-index: 1;}
.pagination li a:hover span, .pagination li a:active span{ color: #FFF; text-decoration: none !important; background-color: #D93600; border-color: #CA3300; position: relative; z-index: 9; cursor:pointer;}
.pagination li a:hover { text-decoration: none;}
.pagination li span.currentpage { color: #AAA; font-weight: bold; background-color: #FAFAFA; border-color: #E6E6E6; position: relative; z-index: 2;}



