/*
maincolor   fac734

*/

.clear {
    zoom: 1;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.lm_clear {
    zoom: 1;
}

.lm_clear:after {
    content: "";
    clear: both;
    display: block;
}

.ul_no {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lm_upload .submit {
    display: none;
}

.lm_upload .lm_upload_form {
    width: 720px;
    margin: 0 auto;
}

.lm_container_ful {
    width: 1200px;
    min-height: 10px;
    margin: 0 auto;
}

.lm_req {
    color: #fac734;
    font-size: 14px;
    margin-right: 3px
}

.lm_upload_form .zm_form-group {}

.lm_upload_form .zm_form-group {}

.lm_upload_form .zm_form-group {
    zoom: 1;
    margin-bottom: 15px;
}

.lm_upload_form .zm_form-group label.error {
    background: none;
    border: none;
    color: #fac734 !important;
}

.lm_upload_form .zm_form-group:after {
    content: "";
    clear: both;
    display: block;
}

.lm_upload_form .zm_form-group .zm_label {
    width: 200px;
    margin: 0 14px 0 0;
    text-align: right;
    float: left;
    min-height: 1px;
}

.lm_upload_form .zm_form-group .zm_inp {
    float: left;
    width: 446px;
    min-height: 1px;
}

.lm_upload_form .zm_form-group .zm_inp input,
.lm_upload_form .zm_form-group .zm_inp textarea {
    width: 213px;
    padding: 3px 3px;
}

.lm_upload_form .zm_form-group .zm_inp input[type='checkbox'],
.lm_upload_form .zm_form-group .zm_inp input[type='radio'] {
    width: 12px;
}

.lm_upload_form .zm_form-group .zm_inp input[type="text"].error,
.lm_upload_form .zm_form-group .zm_inp input[type="password"].error,
textarea.error {
    border: #fac734 solid 1px;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

.lm_upload_form .zm_form-group .zm_inp select {
    width: 70px;
}

.lm_upload_form .zm_form-group .placeholder,
.lm_upload_form .zm_form-group .webuploader-pick {
    width: 119px;
    height: 28px;
    border: #eee solid 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    padding: 0;
    color: #666;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.lm_upload_form .zm_form-group .placeholder,
.lm_upload_form .zm_form-group .webuploader-pick i {
    display: inline-block;
}

.lm_upload_form .zm_form-group .upload_list {
    margin: 15px 0;
}

.lm_upload_form .zm_form-group .upload_list .filelist {
    margin: 15px 0 0;
}

.lm_upload_form .zm_form-group .upload_list .upload_sign_con {
    width: 150px;
    float: left;
    margin: 0 20px 0 0;
}

.lm_upload_form .zm_form-group .upload_list .webuploader .filelist .uploadli {
    float: left;
}

.lm_upload_form .zm_form-group .placeholder,
.lm_upload_form .zm_form-group .webuploader-pick span {
    display: inline-block;
    vertical-align: middle;
}

.uploader-list {
    margin: 10px 0 0 0;
}

.marno {
    margin: 0 !important;
}

.uploader-list li {
    position: relative;
    width: 150px;
    height: 80px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.uploader-list li p.img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.uploader-list li img {
    max-height: 100%;
    max-width: 100%;
}

.uploader-list .over .setting {
    transition: all .1s;
}

.uploader-list .over .del {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 24px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    z-index: 3;
}

.uploader-list .loader {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
}

.uploader-list .zz {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
}

.upload_list .tip {
    color: #777777;
    font-size: 14px;
    margin-left: 10px;
}

.font0 {
    font-size: 0;
}

.upload_list .tips {
    color: #777777;
    font-size: 14px;
}

.upload_list .upload_btn {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.upload_list .error {
    padding: 1px 5px 1px 0;
}

.settled .zm_form-group .zm_label {
    width: 221px;
}

.settled .zm_form-group .zm_inp input {
    vertical-align: baseline;
}

.settled .zm_form-group .zm_inp .checkboxs label {
    margin-right: 7px;
    margin-bottom: 13px;
    display: inline-block;
}

.settled .zm_form-group .zm_inp .checkboxs {
    display: block;
    margin: 17px 0 0 17px;
}

.settled .zm_form-group .zm_inp {
    width: 400px;
    font-size: 14px;
    color: #000;
}

.settled .zm_form-group .lm_radio {
    display: none;
}

.settled .zm_form-group .zm_label {
    position: relative;
}

.settled .zm_form-group .zm_inp>label {
    position: relative;
}

.settled .zm_form-group .zm_inp>label:before {
    position: absolute;
    border: #ccc solid 1px;
    width: 14px;
    height: 14px;
    top: 0px;
    left: -21px;
    content: '';
    display: block;
    border-radius: 100%;
}


/* .settled .zm_form-group.active .zm_label:after { */

.settled .zm_form-group.active .zm_inp>label:after {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 5px;
    left: -16px;
    content: '';
    display: block;
    border-radius: 100%;
    background: #042239;
}

.lm_hr {
    width: 100%;
    height: 1px;
    background: #e4e4e4;
}

.mr30 {
    margin: 30px 0;
}

.lm_result {
    margin: 30px auto;
    width: 1200px;
    min-height: 1px;
    text-align: right;
}

.lm_result .bzj,
.lm_result .fwf {
    color: #c90000;
    font-size: 16px;
    margin: 0 0 17px 0;
}

.lm_result .sum_result {
    font-size: 20px;
    color: #000;
}

.lm_rz_success_con {
    padding: 79px 0 120px;
    text-align: center;
}

.lm_rz_success_con .title {
    color: #010101;
    font-size: 18px;
    margin: 0 0 30px;
}

.lm_rz_success_con .text {
    font-size: 14px;
    margin-top: 20px;
    color: #000;
}

.rz_success_bg {
    background: url(../images/rz_success.png) !important
}

.zm_form-group {}

.zm_form-group .lm_upload_btn {
    border: #e4e4e4 solid 1px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, .1);
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}

.zm_form-group .lm_upload_btn i {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 0;
}

.zm_form-group .lm_upload_btn span {
    color: #777;
    font-size: 14px;
}

.zm_form-group .upload_con {
    width: 150px;
    margin-right: 15px;
    float: left;
}

.zm_form-group .lm_upload_imgs img {
    width: 150px;
    height: 80px;
    object-fit: cover
}

.zm_form-group .lm_upload_imgs li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.zm_form-group .lm_upload_btn input[type='file'] {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* 商户提交 */

.lm_shopUpload {}

.lm_shopUpload .shop_title {
    margin: 0 0 20px;
    font-size: 16px;
    color: #000;
    text-align: center;
    text-indent: -89px;
}

.lm_shopUpload .lm_yy {
    margin: 15px 0 0 0;
}

.lm_shopUpload .lm_begin_date,
.lm_shopUpload .lm_end_date {
    min-width: 80px;
    width: 91px !important;
}

.lm_shopUpload .middle_hr {
    width: 15px;
    height: 1px;
    background: #e4e4e4;
    display: inline-block;
    vertical-align: middle;
}

.ml0 {
    margin-left: 0
}

.pl0 {
    padding-left: 0
}

.uploader-list~.error {
    padding-left: 0;
    margin-left: 0;
}

.mt13 {
    margin-top: 13px;
}

.lm_header {
    padding: 25px 0;
    height: 60px;
    background: #fff;
}

.lm_header .lm_logo {
    display: block;
    height: 60px;
    float: left;
}

.lm_header .lm_logo img {
    height: 60px;
}

.lm_header .lm_header_right {
    float: right;
    line-height: 60px;
    color: #777777;
    font-size: 14px;
}

.lm_header .lm_header_right a {
    color: #777;
}

.nc-register-bg {
    background: none;
}

.nc-register-box {
    left: 0;
    /* padding: 0 280px; */
}

.lm_registed .nc-register-box {
    width: 730px;
    margin: 10px auto 0;
}

.lm_registed .nc-register-layout {
    border: none;
    background: none;
    width: 100%;
}

.lm_registed dl dd .text {
    height: 42px;
}

.lm_registed dl dd {
    padding: 0;
}

.lm_registed .left {
    float: left
}

.lm_registed .right {
    float: right;
    display: block;
    width: 270px;
    padding: 20px 0 0 30px;
}

.lm_registed dl {
    margin: 0 0 26px 0;
    height: 42px;
}

.lm_registed .right .api-login a i,
.lm_art_left .lm_share a i {
    background: url('../images/lm/lm_share.png') no-repeat;
    display: block;
    width: 42px;
    height: 42px;
}

.lm_registed .right .api-login {
    padding: 18px 19px 0 0;
    width: 335px;
    border-bottom: none;
}

.lm_registed .right .api-login a.lm_sina i,
.lm_art_left .lm_share a.lm_sina i {
    background-position: 0 0;
}

.lm_registed .right .api-login a.lm_qq i,
.lm_art_left .lm_share a.lm_qq i {
    background-position: -45px 0
}

.lm_registed .right .api-login a.lm_wx i,
.lm_art_left .lm_share a.lm_wx i {
    background-position: -88px 0;
}

.lm_registed .right .api-login a.lm_zfb i,
.lm_art_left .lm_share a.lm_zfb i {
    background-position: -132px 0;
}

.lm_registed .clause-div{
    background: none;
    line-height: 0;
}
.lm_registed .right .api-login a,
.lm_art_left .lm_share a {
    font-size: 12px;
    text-decoration: none;
    color: #AAA;
    vertical-align: top;
    display: inline-block;
    height: 32px;
    margin-right: 13px;
}

.lm_registed .code-div span img {
    height: 30px;
    width: 96px;
}

.lm_registed .code-div span {
    height: 42px;
    border-left: none;
    line-height: 39px;
    text-align: center;
    background: #fff;
    margin: 0px 0 0 -1px;
}

.lm_registed .code-div dl.focus~span {
    border-color: #bb8e00;
}

.lm_registed .code-div dl.focus {
    border-color: #bb8e00;
    border-right: none;
}

.lm_registed dl.focus {
    border-color: #bb8e00;
}

.lm_registed dl.focus~span {
    border-color: #bb8e00;
    border-left: none;
}

.lm_registed label.error {
    width: 100%;
}

.lm_registed .lm_code_div {
    width: 100%;
    height: 54px;
}

.lm_registed .lm_code_div dl {
    width: 277px;
    float: left;
}

.lm_registed .lm_code_div span {
    width: 120px;
    height: 52px;
    float: left;
    margin: -1px 0 0 -1px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
    height: 42px;
    border-left: none;
    text-align: center;
    background: #fff;
    font-size: 14px;
    color: red;
    margin: 0px 0 0 -1px;
}

.lm_registed .lm_code_div span a {
    background: #f2f2f2;
    display: block;
    height: 22px;
    width: 80%;
    margin: 10px auto;
    color: #777777;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.nc-register-bg {
    overflow: auto;
}

.nc-register-bg {
    height: 700px;
}

.lm_change {
    color: #bb8e00;
    font-size: 14px;
    margin-bottom: 8px;
}

.lm_change span {
    cursor: pointer;
    color: #000;
}

.lm_change .lm_spans {
    display: inline-block;
    float: right;
}

.lm_change span:nth-child(2) {
    display: none;
}

.lm_change span:first-child {
    display: block;
}

.lm_change.active span:nth-child(1) {
    display: none;
}

.lm_change.active span:nth-child(2) {
    display: block;
}

.w100 {
    width: 100px;
}

.lm_registed .submit-div .submit {
    background: #f3b71b;
    border: #f3b71b solid 1px;
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

.lm_registed .lm_email {
    display: none;
}

.registed_success .lm_info {
    font-size: 18px;
    color: #000;
    line-height: 1.8
}

.registed_success {
    padding: 70px 0 120px;
    text-align: center;
}

.registed_success .lm_image .lm_one,
.registed_success .lm_image .lm_two {
    width: 220px;
    float: left;
    margin: 70px 40px;
}

.registed_success .lm_image .lm_two {
    margin-top: 85px;
}

.registed_success .lm_image .text {
    font-size: 14px;
    color: #000;
    line-height: 2;
    margin-top: 10px;
    display: block;
    text-align: center
}

.registed_success .lm_image {
    width: 610px;
    margin: 0 auto;
}

.registed_success .lm_line {
    width: 2px;
    height: 400px;
    background: url('../images/lm/lm_line.png');
    float: left
}

.lm_info span img,
.lm_info a {
    display: inline-block;
    vertical-align: middle;
}

.lm_info a img {
    max-height: 25px;
}

body,
html {
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    min-height: 100% !important;
}


/* 艺术家页面 */

.lm_art_left {
    width: 250px;
    height: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
}

.lm_art_left .lm_art_logo {
    text-align: center;
    display: block;
    margin: 25px 0;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
}

.lm_art_left .lm_art_ottom {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.lm_art_left .lm_art_ottom .lm_share {
    text-align: center;
}

.lm_art_left .lm_art_tx img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.lm_art_left .lm_art_tx {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100%;
    background: #f3b71b;
    margin: 0 auto;
    position: relative;
}

.lm_art_left .lm_art_content {
    height: 100%;
    padding: 140px 0 100px;
}

.lm_art_left .lm_art_tx:after {
    position: absolute;
    background: url('../images/lm_que.png') no-repeat;
    width: 40px;
    height: 17px;
    content: '';
    display: block;
    top: -17px;
    left: 50%;
    margin: 0 0 0 -20px;
}

.lm_art_left .lm_art_thumbs {
    text-align: center;
    margin-top: 10px;
}

.lm_art_left .lm_art_thumbs img {
    display: block;
    margin: 0 auto;
}

.lm_art_left .lm_art_thumbs span {
    color: #bb8e00;
    font-size: 12px;
}

.lm_art_left .lm_art_info {
    margin-top: 30px;
    text-align: center;
}

.lm_art_left .lm_art_info .lm_art_name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.lm_art_left .lm_art_info .lm_art_address {
    color: #777777;
    font-size: 14px;
}

.lm_art_left .lm_art_info img {
    margin: 7px 0;
}

.lm_art_left .lm_art_setting {
    margin-top: 60px;
}

.lm_art_left .lm_art_setting a {
    width: 100%;
    text-align: center;
    display: block;
    color: #777;
    font-size: 16px;
    margin: 20px 0;
}

.lm_art_left .lm_art_setting a i {
    display: inline-block;
    vertical-align: text-bottom
}

.ov_h {
    overflow: hidden;
}


/* 左边结束 */

.lm_art_center {
    height: 100%;
    background: #f1f1f1;
    position: absolute;
    left: 250px;
    top: 0;
    z-index: 9;
    transition: all .5s;
}

.lm_art_center_con {
    padding: 30px;
    width: 475px;
}

.lm_art_center .lm_art_top p {
    font-size: 14px;
    color: #777;
    line-height: 1.75;
}

.lm_art_center .lm_art_bottom {
    margin-top: 30px;
    height: 500px;
    overflow-y: scroll;
    border: #e7e7e7 solid 1px;
    padding: 0 30px;
    background: #fff;
}

.lm_art_center .lm_art_bottom .lm_art_bottom_con {
    border-left: #f3b71b solid 2px;
    min-height: 100%;
    height: auto;
    padding: 0 0 0 30px;
    /* overflow: hidden; */
}

.lm_art_center .lm_art_bottom .lm_art_bottom_con time,
.lm_art_center .lm_art_bottom .lm_art_bottom_con span {
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    display: block;
}

.lm_art_center .lm_art_bottom .lm_art_time {
    padding-top: 50px;
    position: relative;
}

.lm_art_center .lm_art_bottom .lm_art_time:after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border: #f3b71b solid 2px;
    top: 50px;
    left: -42px;
    border-radius: 100%;
    z-index: 3;
    background: #fff;
}

.lm_art_center .lm_art_bottom .lm_art_time:before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background: #f3b71b;
    top: 56px;
    left: -36px;
    border-radius: 100%;
    z-index: 4;
}

.lm_box * {
    box-sizing: border-box;
}

.lm_art_center_con {
    position: relative;
}

.lm_art_center .lm_art_prev,
.lm_art_center .lm_art_next img {
    width: 100%;
    height: 100%;
}

.lm_art_center .lm_art_prev,
.lm_art_center .lm_art_next {
    position: absolute;
    top: 34px;
    width: 38px;
    height: 59px;
    cursor: pointer;
}

.lm_art_center .lm_art_prev {
    right: 0;
}

.lm_art_center .lm_art_next {
    right: -38px;
}

.lm_art_center .lm_art_prev {
    display: block;
}

.lm_art_center .lm_art_next {
    display: none;
}

.lm_art_center.active .lm_art_prev {
    display: none;
}

.lm_art_center.active .lm_art_next {
    display: block;
}

.lm_art_center.active {
    left: -226px;
}


/* 艺术家中间结束 */

.lm_art_right .lm_art_right_con {
    overflow: hidden;
    padding: 48px 40px;
    height: 100%;
}

.lm_art_right {
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-left: 725px;
}

.lm_art_right .lm_switch {
    width: 65px;
    height: 25px;
    background: #fac326;
    margin: 0 0 50px 0;
    border-radius: 50px;
}

.lm_art_right .lm_switch label {
    position: relative;
    display: block;
    padding: 1px;
    border-radius: 24px;
    height: 22px;
    margin-bottom: 15px;
    cursor: pointer;
    vertical-align: top;
    -webkit-user-select: none;
}

.lm_art_right .lm_switch .switch {
    display: none;
}

.lm_art_right .lm_switch label:before {
    content: '多图';
    display: block;
    border-radius: 24px;
    height: 22px;
    background: #fac326;
    -webkit-transform: scale(1, 1);
    -webkit-transition: all 0.3s ease;
    position: absolute;
    left: 7px;
    top: 2px;
}

.lm_art_right .lm_switch label:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 5px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease;
}

.lm_art_right .lm_switch .switch:checked~label:after {
    left: 5px;
}

.switch:checked~label:before {
    content: '单图';
    position: absolute;
    right: 7px;
    top: 2px;
    text-align: right;
}


.lm_art_right .lm_art_list {
    overflow: hidden;
    display: block;
}
.lm_art_right .lm_art_list li{
    float: left;
    width: 300px;
    margin-right: 30px;
}
.lm_art_right .lm_art_list .lm_top_imgs {
    width: 100%;
    height: 243px;
    display: block;
    position: relative;
}
.lm_art_right .lm_art_list .lm_top_imgs>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lm_registed .nc-register-layout .clause-div.mt15{
    margin-bottom: 5px;
}
.lm_registed .nc-register-layout{
    padding: 0 19px;
}
.lm_art_right .lm_art_list {}
.lm_art_right .lm_art_list {}
.lm_art_right .lm_art_list {}