.tabs-nav li a.tabulous_active {
    color: #f3b71b;
}

.tabs-nav li a.tabulous_active {
    border: none;
}

.tabs-nav li a.tabulous_active i {
    display: none;
}

.tabs-nav li {
    position: relative;
}

.tabs-nav li:after {
    width: 1px;
    height: 14px;
    background: #c6c6c6;
    position: absolute;
    top: 5px;
    right: 8px;
    content: '';
}

.tabs-nav li:nth-child(2):after {
    width: 0;
}

.nc-login {
    padding: 19px 0 22px 0;
    border: none;
    left: 20px;
}

.tabs-nav {
    padding: 0 19px;
    background: #fff
}

.nc-login-mode {
    background: #f2f2f2
}

.nc-login .tabs-container {
    padding: 0 19px;
    height: 292px;
}

.nc-login .tabs-content {
    width: 315px;
}

.nc-login .nc-login-form dl {
    width: 100%;
    margin-bottom: 32px;
}

.nc-login .nc-login-form dl dd .text {
    width: 222px;
    height: 42px;
}

.w100 {
    width: 99px !important;
}

.nc-login-form dl dt {
    line-height: 42px;
    padding: 0 0 0 20px;
}

.nc-login-form dl {
    height: 42px;
}

.nc-login-form dl dd {
    padding: 0;
}

.nc-login .nc-login-form .submit-div .submit {
    width: 100%;
    background-color: #f3b71b;
    height: 38px;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    border-color: #f3b71b;
    margin-bottom: 40px;
}

.nc-login-api a i {
    background: url('../images/lm/lm_share.png') no-repeat;
}

.nc-login-api {
    padding: 18px 19px 0 0;
    width: 335px;
}

.nc-login-api a.lm_sina i {
    background-position: 0 0;
}

.nc-login-api a.lm_qq i {
    background-position: -45px 0
}

.nc-login-api a.lm_wx i {
    background-position: -88px 0;
}

.nc-login-api a.lm_zfb i {
    background-position: -132px 0;
}

.nc-login-api a {
    font-size: 12px;
    text-decoration: none;
    color: #AAA;
    vertical-align: top;
    display: inline-block;
    height: 32px;
    margin-right: 13px;
}

.nc-login-api a:last-child {
    margin-right: 0;
}

.nc-login-api .lm_share_con {
    width: 198px;
    display: inline-block;
    margin-left: 30px;
}

.nc-login-api a.lm_registed_href {
    line-height: 32px;
    text-align: right;
    color: #bb8e00;
    font-size: 16px;
    float: right;
}

.nc-login-form dl dt img {
    height: 26px;
    max-width: 100%;
}

.nc-login-form dl dd {
    height: 42px;
}

.nc-login .nc-login-form .code-div dl {
    width: 192px;
    border-right: none;
}

.nc-login-form .code-div span img {
    height: 42px;
}

.nc-login-form .code-div span {
    height: 42px;
    border-left: none;
}

.nc-login-form .code-div span a {
    height: 42px;
    line-height: 42px;
}

.lm_code-div dl .text {
    width: 99px !important;
}

.nc-login .nc-login-form .lm_code-div dl {
    width: 192px;
    border-right: none;
    float: left;
}

.nc-login-form .lm_code-div span a {
    background: #f2f2f2;
    display: block;
    height: 22px;
    width: 80%;
    margin: 10px auto;
    color: #777777;
    text-align: center;
    font-size: 14px;
}

.nc-login-form .lm_code-div span {
    width: 120px;
    height: 42px;
    float: right;
    background: #fff;
    margin: -1px 0 0 -1px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
    border-left: none;
}

.nc-login-form label.error i {
    /* display: none; */
}

.nc-login-form label.error {
    line-height: 24px;
    /* background: #FFF5D9 no-repeat 0 0; */
    text-align: left;
    white-space: nowrap;
    height: 24px;
    padding: 8px 12px 8px 0;
    position: absolute;
    z-index: 2;
    top: 38px;
    left: 0;
    text-align: left;
    color: #bb8e00 !important;
    font-size: 12px;
    background: none;
    margin-left: 0;
}

.nc-login-form dl.error {
    border-color: #bb8e00 !important;
}

.login-bg {
    /*background: url(../images/lm/lm_login-bg.jpg) center no-repeat;*/
        background: url(../images/lm/login.jpg) center no-repeat;

}

.nc-register-bg {
    /*background: url(../images/lm/register1.jpg) bottom right no-repeat;*/
    /*background-size: contain;*/
}

.qll_register{
    padding-bottom: 100px;
    margin: 0 !important;
}
.nc-login-form .code-div label.error {
    background: transparent none;
    min-width: auto;
    padding: 0;
    top: 8px;
    right: 0;
    left: auto;
}

.lm_registed .lm_image_captcha .error {
    text-align: right;
}

.lm_registed . code-div span {
    cursor: pointer;
}

.lm_registed {
    height:auto;
    overflow: inherit;
    margin-bottom: 100px;
}

.nc-login .nc-login-form dl dd input::-webkit-input-placeholder{color:rgb(187, 187, 187)}
.lm_registed  .code-div dl dd label{
  text-align: right;
}

.lm_registed .nc-register-box{
    margin: 0 auto;
}


@media screen and (min-width: 1700px){
    .lm_registed{
        padding-bottom: 200px !important;
    }
}

