
/*默认顶部*/
header,
.header {
    background: #000000; /*background: #f8f8f8;*/
    height: 45px;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    border-bottom: solid 0.1rem #EEE;
}

header.fixed {
    position: fixed;
    background: rgba(248, 248, 248, 0.95);
    z-index: 9;
}

.header-wrap {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.header-l {
    display: block;
    width: 1.95rem;
    height: 1.95rem;
    position: absolute;
    top: 0;
    left: 0;
}

.header-l a {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 0.4775rem;
}

.header-l a i {
    display: block;
    width: 100%;
    height: 100%;
}

.header-l a i.back {
    width: 80%;
    height: 80%;
    margin: 20%;
    background-image: url(../../images/top-left.png); /*background-image: url(../images/arrow_left_b.png);*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.75;
}

.header-l a i.close {
    width: 80%;
    height: 80%;
    margin: 10%;
    background-image: url(../../images/close_window.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.75;
}

.header-l a i.set {
    background-image: url(../../images/set_b.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.65;
}

.header-l a i.home {
    width: 80%;
    height: 80%;
    margin: 10%;
    background-image: url(../../images/home_b.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 90%;
    opacity: 0.7;
}

/*单一标题*/
.header-title {
    display: inline-block;
    margin: 0 auto;
}

.header-title h1 { /*font-size: 0.8rem;*/
    font-size: 17px;
    line-height: 1.95rem;
    height: 1.95rem;
    color: #fff
}



/*单行导航*/
.nctouch-main-layout {
    display: block;
    margin-top: 45px;
    background-color: #F5F5F5;
}

.nctouch-main-layout-a {
    display: block;
    position: absolute;
    top: 93px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}
.nctouch-single-nav {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0 1%;
    background: #FFF;
    border-bottom: solid 0.05rem #EEE;
}

.nctouch-single-nav ul {
    display: block;
    font-size: 0;
    white-space: nowrap;
    overflow: visible !important;
}

.nctouch-single-nav ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 4rem;
    padding: 0 !important;
}

.nctouch-single-nav .area li {
    width: 33.33%;
}

.nctouch-single-nav ul li a {
    display: inline-block;
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    color: #333;
}

.nctouch-single-nav ul li a i {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 0.1rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 70%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    opacity: 1;
}

.nctouch-single-nav ul li.selected a {
    color: #000;
    border-bottom: solid 0.1rem #000 !important;
}

.nctouch-single-nav ul li.selected a i {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
    opacity: 1;
}

.nctouch-single-nav.fixed {
    background-color: rgba(248, 248, 248, 0.95);
    position: fixed;
    z-index: 3;
    top: 2rem;
    left: 0;
    right: 0;
}


/*默认单行列表*/
.nctouch-default-list-tit {
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0.5rem;
}

.nctouch-default-list {
    overflow: hidden;
    padding: 0 0 0 0.5rem;
    background-color: #FFF;
    border-top: solid 0.05rem #EEE;
    border-bottom: solid 0.05rem #EEE;
}

.nctouch-default-list li {
    position: relative;
    z-index: 1;
    display: block;
    clear: both;
    overflow: hidden;
    line-height: 1rem;
    border-top: solid 0.05rem #EEE;
}

.nctouch-default-list li:first-child {
    border-top: none;
}

.nctouch-default-list li a {
    display: block;
    overflow: hidden;
    font-size: 0.65rem;
    color: #000;
}

.nctouch-default-list li h4 {
    float: left;
    margin-left: 1rem;
    font-size: 1.6rem;
    color: #333;
    font-weight: normal;
}

.nctouch-default-list li h4 i {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.2rem;
    width: 0.9rem;
    height: 0.9rem;
    opacity: 0.5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80%;
}

.nctouch-default-list li h6 {
    float: left;
    clear: both;
    margin-left: 0.3rem;
    font-size: 0.55rem;
    line-height: 1rem;
    color: #888;
}

.nctouch-default-list li span.num {
    float: right;
    margin-right: 1.2rem;
    font-size: 0.6rem;
    line-height: 1rem;
}

.nctouch-default-list li span.tip {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 1.2rem;
    height: 0.9rem;
    margin-top: -0.4rem;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #111;
}

.nctouch-default-list li span.arrow-r {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 1.5rem;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: -0.3rem;
    background-image: url(../../images/arrow_right_b.png);
    background-repeat: no-repeat;
    background-size: 90%;
    opacity: 0.65;
}

.nctouch-default-list li span.pics {
    float: right;
    margin-right: 1.2rem;
    font-size: 0.6rem;
    line-height: 1rem;
}

.nctouch-default-list li span.pics img {
    width: 1rem;
    height: 1rem;
}