body,p{
    margin: 0;
    padding: 0;
}



.member_header{
    background-image: url("../../images/qll/member_bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 23px 16px 23px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member_header .people_img .people_img_wrap{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.member_header .people_img{
    display: flex;
    align-items: center;
}
.member_header .people_img .people_img_wrap img{
    width: 100%;
    border-radius: 100%;
}
.member_header .people_img .people_name{
    margin-left: 20px;
}
.member_header .people_img .people_name p{
    font-size: 14px;
}
.member_header .set_up i{
    color: #78746e;
    font-size: 20px;
}
.member_header .set_up i:nth-child(2),
.member_header .set_up i:nth-child(3){
    margin-left: 20px;
}
.member_partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member_partner .member_partner_left{
    text-align: left;
}
.member_partner .member_partner_right{
    text-align: right;
}
.member_partner .member_partner_left i{
    color: #000;
    font-size: 18px;
}
.member_partner .member_partner_left span,
.member_partner .member_partner_right span{
    color: #000;
    font-size: 14px;
}
.member_partner .member_partner_right i{
    color: #78746e;
    font-size: 18px;
}
