body{
    background: #fff;
    max-width: 640px;
    margin: 0 auto;
}
.partner_special_bg{
     background-image: url("../../images/lm/special_Partner_bg.jpg");
     background-repeat: no-repeat;
     background-size: contain;
     width: 100%;
     height: auto;
    padding-top: 60%;
 }
.partner_special_detial span{
    display: block;
    text-align: center;
    line-height: 1.3;
}
.partner_special_detial .qll_spend{
    font-size: 14px;
    color: #b09f6a;
}
.partner_special_detial .qll_count{
    font-size: 18px;
}
.partner_special_detial .qll_member{
    font-size: 14px;
}
.partner_special_detial .qll_rebate{
    font-size: 14px;
}
.partner_special_upgrade .upgrade_top{
    display: flex;
    justify-content: space-around;
    padding: 20px 15px 5px 15px;
}
.partner_special_upgrade .upgrade_agent,
.partner_special_upgrade .upgrade_strategy{
    width: 49%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner_special_upgrade .upgrade_agent{

    background: #f9eab4;
}
.partner_special_upgrade .upgrade_strategy{
    background: #f1f2e0;
}
.partner_special_upgrade .upgrad_Cause{
    width: 100%;
    height: 100px;
    background: #f1f2e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.partner_special_upgrade .upgrade_bottom{
    padding: 0 15px;
}
.upgrade_top{

}
.upgrade_top span,
.upgrade_bottom span{
    display: block;
    text-align: center;
}
.upgrade_top .upgrade_content .partner_upgrade,
.upgrade_bottom .upgrade_content .partner_upgrade{
    font-size: 18px;
    color: #b09f6a;
}
@media screen and (max-width: 340px) {
    .upgrade_top .upgrade_content .partner_upgrade i,
    .upgrade_bottom .upgrade_content .partner_upgrade i,
    .upgrade_top .upgrade_content .partner_upgrade,
    .upgrade_bottom .upgrade_content .partner_upgrade{
        font-size: 14px;
    }
}
.upgrade_content2 .partner_upgrade,
.upgrade_top .upgrade_content1 .partner_upgrade{
    font-size: 18px;
    color: #747474;
}
.upgrade_content2 .partner_upgrade_rebate{
    font-size: 12px;
    color: #747474;
}
.upgrade_content2 .partner_upgrade_rebate i{
    display: inline-block;
    vertical-align: middle;
}
.upgrade_top .partner_upgrade_count,
.upgrade_bottom .partner_upgrade_count{
    font-size: 12px;
    color: #b09f6a;
}
.upgrade_top .partner_upgrade_count b,
.upgrade_bottom .partner_upgrade_count b{
    font-size: 18px;
    color: #000;
    font-weight: normal;
}
.upgrade_top .upgrade_content1 .partner_upgrade_rebate,
.upgrade_bottom .upgrade_content1 .partner_upgrade_rebate,
.upgrade_top .upgrade_content .partner_upgrade_rebate,
.upgrade_bottom .upgrade_content .partner_upgrade_rebate{
    font-size: 12px;
    color: #b09f6a;
}
.upgrade_button{
    margin-top: 5px;  }
.upgrade_button a{
    color: #000;
    background: #fabf13;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 20px;
}
.upgrade_rules{
    margin-top: 20px;
}
.upgrade_rules .upgrade_rules_title{
    text-align: center;
    font-size: 16px;
}
.partner_special_queen{

    margin-top: 20px;
}
.partner_special_queen img{
    max-width: 100%;
}
.lm_tq{
    margin-top: 20px;
}
.lm_tq img{
  max-width: 100%;
}
.upgrade_rules img{
  max-width: 100%;
}
.upgrade_rules_content{
    padding: 0 15px;
}
.upgrade_rules_content li{
    font-size: 12px;
    color:#555;
    line-height: 1.5;
}
.upgrade_rules_content{  }