.qll_nctouch-asset-info .qll_container {
    /*background: #ED5564;*/
    position: relative;
    z-index: 1;
    height: 3rem;
}

.qll_main_layout .qll_nctouch-asset-info {
    display: block;
    background-color: #fff;
}

.qll_nctouch-asset-info .qll_container .icon {
    background-image: url(../../images/mcc_06_w.png);
}

.qll_nctouch-asset-info .qll_container .icon {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 1.5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    opacity: 0.3;
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}

.qll_nctouch-asset-info .qll_container dl {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem 0;
    text-align: left;
}

.qll_nctouch-asset-info .qll_container dt {
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #b09f6b;
    height: 0.9rem;
    margin-bottom: 0.2rem;
}

.qll_nctouch-asset-info .qll_container dd {
    font-size: 0.6rem;
    line-height: 1rem;
    color: #000;
    height: 1rem;
}

.qll_nctouch-asset-info .qll_container dd em {
    font-size: 1rem;
}

/*top end*/
.qll_main_layout .qll_tab_title {
    display: flex;
    justify-content: space-around;
    background: #fff;
    font-size: 0.55rem;
    color: #b09f6b;
    border-top: #e7e7e7 solid 1px;
    border-bottom: #e7e7e7 solid 1px;
}

.qll_main_layout .qll_tab_title li.current a {
    color: #fff;
}

.qll_main_layout .qll_tab_title li.current {
    /*border-bottom: #f3b71b solid 2px;*/
    background: #b09f6b;
}

.qll_main_layout .qll_tab_title li {
    list-style: none;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    flex: 1;
}

.qll_main_layout .qll_tab_title li a {
    font-size: 0.55rem;
    color: #555;
}

.qll_main_layout .qll_tab_con .qll_tab_section {
    display: none;
}

.qll_main_layout .qll_tab_con .qll_tab_section:first-child {
    display: block;
}

.qll_main_layout .qll_tab_con .qll_tab_section ul li:last-child {
    border-bottom: none;
}

.qll_main_layout .qll_tab_con .qll_tab_section ul li {
    font-size: 0.55rem;
    color: #555;
    /*border-bottom: 10px solid #fff;*/
    border-bottom: #dddddd solid 1px;
    padding: 10px 0 0;
    background: #f8f8f8;
}

.qll_main_layout .qll_tab_section ul li .qll_detail_top {
    padding: 0 15px;
}

.qll_main_layout .qll_tab_section ul li .qll_detail_top dl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.qll_main_layout .qll_tab_section ul li .qll_detail_bottom {
    border-top: 1px dashed #d9d9d9;
}

.qll_main_layout .qll_tab_con .qll_tab_section ul {
}

.qll_main_layout .qll_tab_con .qll_tab_section {
}

.qll_main_layout .qll_tab_con .qll_tab_commend span {
    font-size: 12px;
}

.qll_main_layout .qll_tab_con .qll_tab_commend {
    text-align: right;
    font-size: 15px;
    color: #555;
    padding: 10px;
    border-bottom: 1px solid #EEE;
}

.qll_main_layout .qll_tab_con .qll_detail_bottom {
    padding: 10px 15px;
    background: #ededed;
}

.qll_main_layout .qll_tab_con .qll_detail_bottom .qll_detail_bottom_left {
    text-align: left;
}

.qll_main_layout .qll_tab_con .qll_detail_bottom .qll_detail_bottom_right {
    text-align: right;
}

.qll_main_layout .qll_tab_con .qll_detail_bottom .qll_detail_bottom_left,
.qll_main_layout .qll_tab_con .qll_detail_bottom .qll_detail_bottom_right {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.qll_main_layout .qll_tab_con .qll_detail_fenlan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.get_commission_con {
    padding: 15px 0;
}

.get_commission_con span {
    display: block;
    width: 100%;
    text-align: center;
}

.get_commission_con .get_commission_sum {
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #b09f6b;
}

.get_commission_con {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #000;
}

.get_commission_con .get_commission_fx{
    color:#555;
    font-size: 13px;
}
.qll_header-title h1{
    line-height: 20px;
    height:auto;
}
.nctouch_inp_con {
    display: block;
    clear: both;
}
.nctouch_inp_con ul {
    background: #FFF;
}
.nctouch_inp_con ul li{
    border-bottom: solid #EEE 0.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nctouch_inp_con ul li h4{
    font-size: 0.6rem;
    line-height: 1.95rem;
    color: #444;
    text-indent: 16px;
}
.nctouch_inp_con ul li .input-box{
    display: block;
    height: 1.95rem;
    flex: 1;
    margin-left: 15px;
}
.nctouch_inp_con ul li .input-box .inp{
    width: 100%;
    height: 1.95rem;
    border: 0 none;
    font-size: 0.6rem;
    color: #000;
}
.nctouch_inp_con .form-btn {
    margin-top: 1rem;
}
.nctouch_inp_con .form-btn .btn {
    display: inline-block;
    width: 100%;
    height: 1.8rem;
    padding: 0;
    font-size: 0.8rem;
    line-height: 1.8rem;
    text-align: center;
    color: #fff !important;
    background: #e29c04;
    border: none;
    border-radius: unset;
}
.delete_btn{
    background: #fcfbf7;
    color: #666666 !important;
    width: 100%;
    height: 1.8rem;
    padding: 0;
    font-size: 0.8rem;
    line-height: 1.8rem;
    text-align: center;
}