.activity_banner img{
    width: 100%;
    max-height: 375px;
}
.activity_con{
    position: relative;
}
.activity_con img{
    width: 100%;
}
.activity_con .activity_tel_con span{
    color:#ee549a;
    font-size: 12px;
    display: block;
}
.activity_con .activity_tel_con{
    position: absolute;
    left: 80px;
    top:15px;
    padding-right: 10px;
}
.activity_con .activity_tel{
    position: relative;
}
.activity_con .activity_tel a{
    color:#494949;
    font-size: 12px;
}
.activity_con .join{
    width:50%;
    height:50px;
    display: block;
    position: absolute;
    right: 0;
    top:20px;
}
.auction_activity_con img{
    width: 100%;
}
.auction_activity_con .auction_activity_red a{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
}
.auction_activity_con .auction_activity_red{
    position: relative;
}
.auction_activity_con{
    max-width: 640px;
    margin: 0 auto;
}
.summer_activity_top img{
    width: 100%;
}
.summer_activity_top a{
    display: block;
}
.summer_activity_worklist{
    overflow: hidden;
    padding: 0 5px;
    background: #fff;
}
.summer_activity_worklist a{
    display: block;
    float: left;
    width: 50%;
    height: 185px;
    box-sizing: border-box;
    padding: 5px;
}
@media screen and (min-width: 380px) {
    .summer_activity_worklist a{
        height: 230px;
    }
}
.summer_activity_worklist a img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.summer_activity_artist{
    display: block;
}
.summer_activity_artist img{
    width: 100%;
}
.qll_summer_activity_worklist{
    padding-bottom: 10px;
}
.summer_activity_footer{
    width: 100%;
    background: #fff;
    padding-top: 10px;
}
.summer_activity_footer img{
    width: 100%;
}
.summer_activity_footer a{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}
.summer_activity_footer a img{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
.love_banner img{
    width: 100%;
}
.love_gifts a{
    width: 50%;
    display: block;
    float: left;
}
.img_height1 a{
    height: 309.5px;
}
.love_gifts a img{
    width: 100%;
    height: 100%;
}
.love_shufa img{
    width: 100%;
}
.love_shufa a img{
    width: 100%;
}
.img_height2 a{
    height: 281.72px;
}
.love_footer a{
    display: block;
    width: 100%;
}
.love_footer img{
    width: 100%;
    height: 100%;
}
.bond_profit_img a img,
.bond_profit_img img{
    width: 100%;
    height: 100%;
}
.activity_join_num{
    width: 100%;
    height: 176px;
    background-color: #ec594e;
    padding-top: 20px;
}
.qll_mt{
    margin-top: -1px;
}
.activity_join_num .qll_join_us{
    display: block;
    margin-top: 25px;
}
.activity_join_num .qll_join_us img{
    width: 50%;
    margin: auto;
}
.activity_join_num .qll_words{
    text-align: center;
    font-size: 14px;
    color: #000;
}
.activity_join_num .member_num{
    text-align: center;
    padding: 5px 0;
}
.activity_join_num .member_num span{
    display: inline-block;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background: #fdf5de;
    color: #000;
    font-size: 14px;
    margin-right: 5px;
}
.solicitation_activity{
    margin-top: 50px;
}
.solicitation_activity a{
    display: block;
}
.solicitation_activity img{
    width: 100%;
}
.solicitation_activity_top{
    width: 100%;
    max-width: 640px;
    background: #157e7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top:0;
}
.solicitation_activity_top img{
    height: 30px;
}
.solicitation_activity_top a{
    display: block;
    width: 70px;
    padding: 2px 0 0 0;
    text-align: center;
    background: #fabf1b;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
}
.qll_mt{
    margin-top: -1px;
}
.collection_activity{
    padding-bottom: 1.9rem;
}
.collection_activity img{
    width: 100%;
}
.collection_activity a{
    display: block;
}
.collection_activity_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}
.collection_activity_bottom a{
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #fff;
    height: 1.8rem;
    line-height: 1.8rem;
}
.collection_activity_bottom a:first-child{
    background: #9c5e49;
}
.collection_activity_bottom a:last-child{
    background: #db6d7f;
}
.dream_activity img{
    width: 100%;
}
.partner_activity img{
    width: 100%;
}
.art_festival a img,
.art_festival img{
    width: 100%;
}
.art_festival a{
    display: block;
}
.art_festival_nav a{
    display: block;
    width: 50%;
    float: left;
}
.art_festival_nav a img{
    width: 100%;
}
.yinuo_buyer{
    padding-bottom: 49px;
}
.yinuo_buyer a img,
.yinuo_buyer img{
    width: 100%;
}
.yinuo_buyer a{
    display: block;
}
.yinuo_buyer_nav{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yinuo_buyer_nav a{
    display: block;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
}
.yinuo_buyer_nav a:first-child{
    background: #8b671c;
}
.yinuo_buyer_nav a:last-child{
    background: #a55b44;
}