.lm_footer {
    background: #fff;
    /*padding: 10px 0;*/
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    border-top: 1px solid #F0F0F0;
}

.lm_footer ul {
    line-height: 1.15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.lm_footer ul li {
    list-style-type: none;
}

.lm_footer ul li a {
    font-size:10px!important;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(122,122,122,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.lm_footer ul li:nth-child(1) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}

.lm_footer ul li:nth-child(2) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/artist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
.lm_footer ul li:nth-child(3) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/auction.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
.lm_footer ul li:nth-child(4) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/mall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
/* .lm_footer ul li:nth-child(3) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/artist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

} */
/* .lm_footer ul li:nth-child(4) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/mall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

} */
.lm_footer ul li:nth-child(5) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
/* .lm_footer ul li:nth-child(5) i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

} */

.lm_footer ul li a i {
    font-size: 20px;
    margin-bottom: 3px;
}

.lm_footer ul li a .text {
    font-size:10px!important;
}

.lm_footer ul li.active a {
    font-size:10px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(250,191,19,1);

}

.lm_footer ul li:nth-child(1).active i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/homeS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
.lm_footer ul li:nth-child(2).active i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/artistS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
.lm_footer ul li:nth-child(3).active i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/auctionS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
.lm_footer ul li:nth-child(4).active i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/mallS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}
.lm_footer ul li:nth-child(5).active i {
    width: 24px;
    height: 22.9px;
    background-image: url("../../images/whk/userS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

}

.lm_footer ul li:nth-child(1) i:before {
    /*content: "\E61C";*/
    /*content: url('../../images/whk/home.png');*/
    /*width: 2rem;*/
}

/*.lm_footer ul li:nth-child(2) i:before {*/
/*content: "\E666";*/
/*}*/

/*.lm_footer ul li:nth-child(3) i:before {*/
/*content: "\E60C";*/
/*}*/

/*.lm_footer ul li:nth-child(4) i:before {*/
/*content: "\E60A";*/
/*}*/

/*.lm_footer ul li:nth-child(5) i:before {*/
/*content: "\E65A";*/
/*}*/

/*@font-face {*/
    /*font-family: "iconfont";*/
    /*src: url('font/iconfont.eot?t=1501061270090'); !* IE9*!*/
    /*src: url('font/iconfont.eot?t=1501061270090#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('font/iconfont.woff?t=1501061270090') format('woff'), !* chrome, firefox *! url('font/iconfont.ttf?t=1501061270090') format('truetype'), !* chrome, firefox, opera, Safari, Android, iOS 4.2+*! url('font/iconfont.svg?t=1501061270090#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.icon-jiantouzuo:before {*/
    /*content: "\e603";*/
/*}*/

/*.icon-zan:before {*/
    /*content: "\e660";*/
/*}*/

/*.icon-danjiantou:before {*/
    /*content: "\e62f";*/
/*}*/

/*.icon-fenxiang:before {*/
    /*content: "\e605";*/
/*}*/

/*.icon-kefu:before {*/
    /*content: "\e6a6";*/
/*}*/

/*.icon-home:before {*/
    /*content: "\e626";*/
/*}*/

/*.icon-shuaxin:before {*/
    /*content: "\e659";*/
/*}*/

/*.icon-iconfontmark:before {*/
    /*content: "\e624";*/
/*}*/

/*.icon-guanbi:before {*/
    /*content: "\e679";*/
/*}*/

/*.icon-zizuan:before {*/
    /*content: "\e602";*/
/*}*/

/*.icon-wode:before {*/
    /*content: "\e641";*/
/*}*/

/*.icon-xiangyoujiantou:before {*/
    /*content: "\e604";*/
/*}*/

/*.icon-caidan:before {*/
    /*content: "\e606";*/
/*}*/

/*.icon-jiantoushang:before {*/
    /*content: "\e608";*/
/*}*/

/*.icon-shuangjiantouyou:before {*/
    /*content: "\e62a";*/
/*}*/

/*.icon-weixin-copy:before {*/
    /*content: "\e600";*/
/*}*/

/*.icon-shaixuan:before {*/
    /*content: "\e617";*/
/*}*/

/*.icon-chakan:before {*/
    /*content: "\e60e";*/
/*}*/

/*.icon-sousuo:before {*/
    /*content: "\e612";*/
/*}*/

/*.icon-guanzhu:before {*/
    /*content: "\e81b";*/
/*}*/

/*.icon-quanping:before {*/
    /*content: "\e621";*/
/*}*/

/*.icon-guanzhu1:before {*/
    /*content: "\e61b";*/
/*}*/

/*.icon-location:before {*/
    /*content: "\e651";*/
/*}*/

/*.icon-jiantou9:before {*/
    /*content: "\e60b";*/
/*}*/

/*.icon-fengexian:before {*/
    /*content: "\e601";*/
/*}*/

/*.icon-naozhong:before {*/
    /*content: "\e619";*/
/*}*/

/*.icon-shouji:before {*/
    /*content: "\e6e8";*/
/*}*/

/*.icon-_:before {*/
    /*content: "\e60a";*/
/*}*/

/*.icon-shouye:before {*/
    /*content: "\e61c";*/
/*}*/

/*.icon-yishujia:before {*/
    /*content: "\e70e";*/
/*}*/

/*.icon-zan1:before {*/
    /*content: "\e670";*/
/*}*/

/*.icon-icon-test:before {*/
    /*content: "\e60c";*/
/*}*/

/*.icon-shangcheng:before {*/
    /*content: "\e666";*/
/*}*/

/*.icon-myhome-o:before {*/
    /*content: "\e65a";*/
/*}*/

/*.icon-pic:before {*/
    /*content: "\e62e";*/
/*}*/

/*.icon-shangcheng1:before {*/
    /*content: "\e62d";*/
/*}*/

/*.icon-sousu:before {*/
    /*content: "\e611";*/
/*}*/

/*.icon-suofang:before {*/
    /*content: "\e647";*/
/*}*/

