@charset "UTF-8";
body,
html {
  font-size: 62.5%;
  max-width: 750px;
  margin: 0 auto; }

.ulno, .pub_works_list ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.title_wai {
  background: #e1dac5;
  width: 100%;
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: .3rem;
  font-weight: normal;
  text-align: center;
  padding: .3rem 0; }

.lm_box_con * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.textOverflow, .pub_works_list ul li .lm_title, .lm_enjoy_artist .lm_enjoy_artist_wrapper .swiper-slide a .lm_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 95%;
  display: inline-block; }

.lm_clear, .pub_works_list ul, .enjoy_artist ul {
  zoom: 1; }

.lm_clear:after, .pub_works_list ul:after, .enjoy_artist ul:after {
  content: "";
  clear: both;
  display: block; }

/*公共标题区域*/
.pub_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .pub_title .pub_title_center {
    width: 8rem;
    height: 1.7rem;
    text-align: center;
    font-size: 1.4rem;
    color: #b09f6a;
    line-height: 1.7rem; }
  .pub_title .pub_title_left,
  .pub_title .pub_title_right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 1.7rem;
    position: relative; }
    .pub_title .pub_title_left:before,
    .pub_title .pub_title_right:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 1.7rem;
      background: #bfbfbf;
      transform: rotate(50deg);
      -webkit-transform: rotate(50deg); }
  .pub_title .pub_title_left {
    border-top: #bfbfbf solid 1px; }
    .pub_title .pub_title_left:before {
      right: 8px;
      top: -3px; }
  .pub_title .pub_title_right {
    border-bottom: #bfbfbf solid 1px; }
    .pub_title .pub_title_right:before {
      left: 8px;
      top: 3px; }
    .pub_title .pub_title_right .more {
      position: absolute;
      right: 1rem;
      bottom: .2rem;
      font-size: 1.2rem;
      color: #bcbcbc;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .pub_title .pub_title_right .more img {
        width: 15px;
        margin-left: .3rem; }
      .pub_title .pub_title_right .more span {
        font-size: 1.2rem; }

/*公用列表块*/
.pub_works_list ul {
  padding: 1rem 1.5rem; }
  .pub_works_list ul li {
    width: 45%;
    margin: 1.5rem 2.2% 0 2.2%;
    float: left; }
    .pub_works_list ul li a {
      text-decoration: none;
      width: 100%;
      overflow: hidden;
      display: block; }
    .pub_works_list ul li .img img {
      width: 100%;
      max-height: 20rem;
      border-radius: 3px; }
    .pub_works_list ul li .lm_title {
      font-size: 1.1rem;
      color: #000;
      margin: 0; }
    .pub_works_list ul li dl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      margin: 0; }
      .pub_works_list ul li dl dt {
        font-size: 1rem;
        color: #000;

      }
.pub_works_list ul li dl dt .market_price{
  font-size: 1rem;
  color: #808080;
}
      .pub_works_list ul li dl dd {
        font-size: 1rem;
        color: #808080; }

/*公共区域结束*/
.lm_enjoy_banner a img {
  max-height: 20rem;
  width: 100%; }

.lm_enjoy_artist {
  border-bottom: #f0f0f0 solid .6rem;
  padding-bottom: 1.5rem; }
  .lm_enjoy_artist .pub_title {
    margin: 3rem 0; }
  .lm_enjoy_artist .lm_enjoy_artist_wrapper .swiper-slide img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%; }
  .lm_enjoy_artist .lm_enjoy_artist_wrapper .swiper-slide a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
    .lm_enjoy_artist .lm_enjoy_artist_wrapper .swiper-slide a .lm_text {
      color: #757575;
      font-size: 1.1rem;
      margin: .3rem 0;
      text-decoration: none;
      max-width: 100%; }

.lm_enjoy_typelist .title_wai {
  position: relative; }
  .lm_enjoy_typelist .title_wai .more {
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    top: .7rem; }
    .lm_enjoy_typelist .title_wai .more img {
      width: 15px; }
.lm_enjoy_typelist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0; }
  .lm_enjoy_typelist ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
  .lm_enjoy_typelist ul li .img img {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%; }
  .lm_enjoy_typelist ul li .text {
    margin-left: .3rem;
    color: #b09f6a;
    font-size: 1.1rem;
    max-width: 2.4rem; }

.lm_enjoy_typelist_list .title_wai {
  position: relative; }
  .lm_enjoy_typelist_list .title_wai .more {
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    top: .7rem; }
    .lm_enjoy_typelist_list .title_wai .more img {
      width: 15px; }

/*尊享专区页面结束*/
.enjoy_artist ul {
  padding: 0 1rem; }
  .enjoy_artist ul li {
    width: 33.3%;
    float: left;
    display: block;
    padding: 1rem 0;
    position: relative; }
    .enjoy_artist ul li a {
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap; }
      .enjoy_artist ul li a .img img {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .enjoy_artist ul li a .text {
        color: #010101;
        font-size: 1.1rem; }
  .enjoy_artist ul .enjoy_artist_hr {
    height: 1px;
    width: 100%;
    border: none;
    background: #e6e6e6; }

/*艺术家详情页面 开始*/
.lm_enjoy_artist_detail .lm_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 2rem; }
  .lm_enjoy_artist_detail .lm_top img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%; }
  .lm_enjoy_artist_detail .lm_top .lm_username {
    font-size: 14px;
    color: #010101;
    text-align: center;
    margin: 1rem 0; }

/*# sourceMappingURL=lm_main.css.map */