
.lm_arrow {
    font-size: 0px;
    line-height: 0;
    vertical-align: -4px;
    display: inline-block;
    width: 0px;
    height: 0px;
    /*margin-left: 3px;*/
    border-width: 6px;
    border-color: #777 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    -webkit-transition: .2s ease-in;
    -moz-transition: -webkit-transform .2s ease-in;
    -o-transition: -webkit-transform .2s ease-in;
    transition: .2s ease-in;
}

body {
    background: #f5f5f5;
}

body, html {
    max-width: 640px;
    margin: 0 auto;
}

.nopadding {
    padding: 0;
}

.nomaginAuto {
    margin: 0 !important;
}

.padB56 {
    padding-bottom: 56px;
}

.lm_clear {
    zoom: 1;
}

.lm_clear:after {
    content: "";
    clear: both;
    display: block;
}

.text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.lm_hidden {
    display: none !important;
}

.lm_gotop img {
    width: 40px;
    height: 40px;
}

.lm_gotop {
    position: fixed;
    bottom: 100px;
    right: 30px;
}

/*公用的东西*/

.lm_address_icon {
    display: inline-block;
    width: 12px;
    height: 14px;
    background-image: url("../../images/lm/lm_address.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.lm_address_heart {
    display: inline-block;
    width: 16px;
    height: 14px;
    background-image: url("../../images/lm/lm_heart.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.lm_address_heart1 {
    display: inline-block;
    width: 16px;
    height: 14px;
    background-image: url("../../images/lm/lm_heart1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.lm_address_pic {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("../../images/lm/lm_artist_pic.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.lm_art_close {
    height: 23px;
    width: 23px;
    background-image: url("../../images/lm/lm_close.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

}

.lm_message_icon {
    display: inline-block;
    width: 16px;
    height: 13px;
    background-image: url("../../images/lm/lm_message.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.qll_title_search{
    display: flex;
    margin: 0 20px;
    flex: 1;
    overflow: hidden;
    max-width: 400px;
    width: 78px;
    border-radius: 30px 0 0 30px;
}
@media screen and (max-width: 340px) {
    .qll_title_search{
        margin: 0 10px !important;
    }
}
.qll_title_search .qll_search_btn{
    width:26px;
    height:26px;
    line-height: 26px;
    -webkit-appearance:none;
    border-left: 0;
    border: 0;
    outline: none;
    border-radius: 0 30px 30px 0;
    background: #fff;
    padding-left: 0;
}
.qll_title_search .qll_search_btn i{
    color: #000;
    font-size: 18px;
}
.qll_title_search .qll_search_tip{
    height:26px;
    line-height: 18px;
    flex:1;
    width: 78px;
    color: #000;
    border: none;
    text-indent: 2em;
    font-size: 12px;
}
.qll_title_search .qll_search_tip::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #e1dac5;
}
.qll_title_search .qll_search_tip:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e1dac5;
    opacity:  1;
}
.qll_title_search .qll_search_tip::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e1dac5;
    opacity:  1;
}
.qll_title_search .qll_search_tip:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #e1dac5;
}
.lm_artlist_top .lm_artlist_top_left.active .lm_category {
    display: block;
}

.lm_artlist_top .lm_artlist_top_left {
    /*float: left;*/
    padding-left: .5rem;
    width: 85px;
}

.lm_artlist_top .lm_artlist_top_right {
    /*float: right;*/
    /*padding: 0 .5rem 0 0;*/
    width:85px;
}

.lm_artlist_top .lm_all_category {
    height: 100%;
    line-height: 42px;
    font-size: 14px;
    color: #010101;
    position: relative;
}

.lm_artlist_top .lm_all_category .lm_category li:last-child {
    border: none;
}

.lm_artlist_top .lm_all_category .lm_category li {
    border-bottom: #e6ce8e solid 1px
}

.lm_artlist_top .lm_all_category.active .lm_arrow {
    border-color: transparent transparent #777 transparent;
    vertical-align: 4px;
}

.lm_artlist_top .lm_all_category .lm_category {
    position: absolute;
    background: #f7f7f7;
    width: 100%;
    left: 0;
    top: 100%;
    border: #e8e8e8 solid 1px;
    border-top: #f3b71b solid 2px;
    display: none;
}

.lm_artlist_top .lm_all_category .lm_category li.active {
    background: #e6e6e6;
}

.lm_artlist_top .lm_all_category .lm_category a {
    color: #666;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
}

.lm_artlist_top .lm_artlist_top_right {
    display: flex;
    align-items: center;
}

.lm_artlist_top .lm_change_list.active {
    background-image: url("../../images/lm/lm_artlist_change1.png");
}

.lm_artlist_top .lm_change_list {
    height: 16px;
    width: 16px;
    background-image: url("../../images/lm/lm_artlist_change.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: .5rem;
}

.lm_artlist_top {
    height: 42px;
    width: 100%;
    background: #e3e3e3;
    /*background: #e1dac5;*/
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist_list_con .artist_list_card {
    background: #fff;
    padding: 15px 10px 15px 15px;
    margin-bottom: 10px;
}

.artist_list_con .artist_list_card .lm_artist_list_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.artist_list_con .artist_list_card .lm_artist_list_avatar {
    width: 66px;
    height: 66px;
    border-radius: 100%;
    float: left;
}

.artist_list_con .artist_list_card .artist_list_card_top {
    color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.artist_list_con .artist_list_card .lm_artist_list_name {
    font-size: 14px;
    color: #010101;
    margin-top: 12px;
    line-height: 1;
}

.artist_list_con .artist_list_card .lm_artist_list_school {
    color: #808080;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.artist_list_con .artist_list_card .lm_artist_list_address i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.artist_list_con .artist_list_card .lm_artist_list_address {
    color: #808080;
    font-size: 12px;
    width: 100%;
    display: block;
    line-height: 1.5;
    margin: 10px 0 0;
    /*white-space: normal;*/
}

.artist_list_con .artist_list_card .lm_list_card_center {
    margin: 0 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.artist_list_con .artist_list_card .lm_setting_info {
    width: 150px;
    align-self: flex-end;
    font-size: 0;
}

.artist_list_con .artist_list_card .artist_list_card_bottom li {
    width: 30%;
    display: block;
    margin: 10px 1.5% 0;
}

.artist_list_con .artist_list_card .artist_list_card_bottom li a {

}

.artist_list_con .artist_list_card .artist_list_card_bottom li a img {
    max-width: 100%;
    max-height: 100%;
}

.artist_list_con .artist_list_card .lm_setting_info .lm_work i, .artist_list_con .artist_list_card .lm_setting_info .lm_collect i {
    margin: 0 auto;
}

.artist_list_con .artist_list_card .lm_setting_info .lm_work,
.artist_list_con .artist_list_card .lm_setting_info .lm_collect {
    font-size: 12px;
    color: #808080;
    float: left;
    display: flex;
    flex-flow: column;
    margin: 0 2px;
    width: 64px;
}

.artist_list_con .artist_list_card .lm_text {
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.artist_list_con .artist_list_card .artist_list_card_bottom {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

/*大图列表模式*/
.artist_list_con.lm_big_list .artist_list_card .lm_artist_list_avatar {
    width: 203px;
    height: 203px;
    margin: 0 auto;
}

.artist_list_con.lm_big_list .artist_list_card .artist_list_card_top {
    flex-flow: column wrap;
    justify-content: center;
}

.artist_list_con.lm_big_list .artist_list_card .lm_artist_list_name,
.artist_list_con.lm_big_list .artist_list_card .lm_artist_list_address,
.artist_list_con.lm_big_list .artist_list_card .lm_artist_list_school {
    text-align: center;
}

.artist_list_con.lm_big_list .artist_list_card .lm_setting_info {
    width: auto;
    align-self: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.artist_list_con.lm_big_list .artist_list_card .lm_setting_info .lm_work,
.artist_list_con.lm_big_list .artist_list_card .lm_setting_info .lm_collect {
    margin: 0 10px;
    width: auto;
    max-width: 45%;
}

.modal-overlay-visible {
    display: block;
    position: fixed;
}

.modal .modal-title {
    color: #333;
}

.lm_notart {
    margin: -3rem 0 0 -5rem;
}

/*艺术家列表页结束*/
.lm_art_home {
    background: #fff;
    overflow: hidden;
}

.lm_art_home .lm_art_title {
    display: flex;
}

.lm_art_home .lm_art_title .lm_art_left {
    height: 34px;
    flex: 1;
    background-image: url("../../images/lm/lm_works_lineT.png");
    background-repeat: repeat;
    background-size: cover;
}

.lm_art_home .lm_art_title .lm_art_center {
    height: 34px;
    width: 100%;
    background-image: url("../../images/lm/lm_works_title_1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.lm_art_home .lm_art_title .lm_art_right {
    height: 34px;
    flex: 1;
    background-image: url("../../images/lm/lm_works_lineB.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

.lm_art_home .lm_art_home_top {

}

.lm_art_home .lm_art_home_top .lm_art_avatar {
    width: 203px;
    height: 203px;
    border-radius: 100%;
    margin: 22px auto 0;
}

.lm_art_home .lm_art_home_top .lm_art_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.lm_art_home .lm_art_home_top .lm_art_home_name {
    font-size: 16px;
    color: #010101;
    text-align: center;
    margin: 8px 0 4px;
}

.lm_art_home .lm_art_home_top .lm_art_home_adress {
    font-size: 14px;
    color: #808080;
    margin: 0 auto 6px;
    text-align: center;
    width: 86%;
    display: block;
}

.lm_art_home .lm_art_home_top .lm_setting_info .lm_work {
    margin-right: 15px;
}

.lm_art_home .lm_art_home_top .lm_setting_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lm_art_home .lm_art_home_top .lm_setting_info span {
    font-size: 14px;
    color: #808080;
}

.lm_art_home .lm_art_home_top .lm_setting_info i {
    display: inline-block;
    vertical-align: -1px;
}

.lm_art_home .lm_art_home_top .lm_setting i {
    width: 23px;
    height: 19px;
    margin: 16px 15px 10px;
}

.lm_art_home .lm_art_home_top .lm_setting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lm_art_home .lm_art_detail * {
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
    margin: 6px 0;
}

.lm_art_home .lm_art_detail {
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
    padding: 0 20px;
    max-height: 159px;
    overflow: hidden;
    min-height: 20px;
}

.lm_art_home .lm_more {
    color: #808080;
    font-size: 14px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    display: block;
}

.lm_art_home .lm_art_title {
    margin: 10px 0;
}

.lm_art_home .lm_art_home_list {
    background: #f5f5f5;
}

.lm_art_home .lm_art_home_list li {
    overflow: hidden;
    padding: 0 17px;
    background: #fff;
    margin-bottom: 10px;
}

.lm_art_home .lm_art_home_list li .lm_art_home_list_top i {
    vertical-align: middle;
}

.lm_art_home .lm_art_home_list li .lm_art_home_list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
}

.lm_art_home .lm_art_home_list li .lm_art_home_list_top .lm_work_title {
    color: #010101;
    font-size: 14px;
}

.lm_art_home .lm_art_home_list li .lm_art_home_list_top {
}

.lm_art_home .lm_art_home_list .lm_art_imgs {
    display: flex;
    flex-flow: wrap;
}

.lm_art_home .lm_art_home_list .lm_art_imgs .lm_art_item {
    width: 30%;
    display: block;
    margin: 10px 1.5% 0;
}

.lm_art_home .lm_art_home_list .lm_art_imgs .lm_art_item img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    max-height: 110px;
}

.lm_art_home .lm_art_home_list .lm_works_info {
    font-size: 13px;
    color: #808080;
    margin: 10px 0;
}

.lm_art_home .lm_art_home_more {

}

.lm_art_home.lm_art_home_more .lm_art_center {
    background-image: url("../../images/lm/lm_works_title_2.png");
}

.lm_art_home.lm_art_home_more .lm_art_home_more_year * {
    font-size: 14px;
    color: #808080;
    line-height: 1.7;
    margin: 6px 0;
}

.lm_art_home.lm_art_home_more .lm_art_home_more_year {
    font-size: 14px;
    color: #808080;
    line-height: 1.7;
    margin: 20px 0;
    padding: 15px;
}

/*公用筛选*/
.lm_screen {
    z-index: 100000;
}

.lm_screen .lm_screen_section {
}

.lm_screen .lm_screen_section .lm_title span {
    font-size: 16px;
    color: #808080;
}

.lm_screen .lm_screen_section .lm_title {
    background: #e6e6e6;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 42px;
    box-shadow: 0px 1px 4px 0px rgba(204, 204, 204, 2.25);
}

.lm_screen .lm_screen_section .lm_title {
}

.lm_screen .lm_screen_section .lm_title {
}

.lm_screen .lm_screen_section .lm_title {
}

.lm_screen .lm_screen_section ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
    padding: 10px;
}

.lm_screen .lm_screen_section ul li {
    width: 30%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 10px 1.5%;
    border-radius: 30px;
}

.lm_screen .lm_screen_section ul li a {
    font-size: 14px;
    color: #010101;
}

.lm_screen .lm_screen_section ul li.active, .lm_screen .lm_screen_section ul li:active, .lm_screen .lm_screen_section ul li:hover {
    background: #e1dac5;
    color: #010101;
}

.lm_screen .lm_screen_result {
    background: #fabf13;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:1000;
}

.lm_screen .lm_screen_result a:first-child {
    border-right: #fff solid 1px;
}

.lm_screen .lm_screen_result a {
    font-size: 16px;
    color: #000000;
    width: 50%;
    text-align: center;
}

/*红包弹窗*/
.pub_lm_dialog {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.lm_hidden{
    display: none;
}
.lm_over{
    overflow: hidden;
}
.pub_lm_dialog .pub_lm_dialog_con {
    width: 300px;
    background: #fb331c;
    border-radius: 8px;
    max-height: 400px;
    /*overflow: hidden;*/
    position: relative;
    padding-bottom: 70px;
    box-sizing: content-box;
}

.pub_lm_dialog .pub_lm_dialog_con .pub_lm_dialog_top {
    background-image: url("../../images/lm/redpacket_title.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 100px;
    margin: 0 auto;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper {
    list-style: none;
    padding: 0;
    margin: -11px auto 0;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li a {
    text-decoration: none;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li {
    background: #fff;
    border-radius: 8px;
    height: 80px;
    position: relative;
    padding: 0 20px;
    margin: 0 0 10px 0;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li:after,
.pub_lm_dialog .pub_lm_dialog_con_wrapper li:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: #fb331c;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li:after {
    left: -8px;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li:before {
    right: -8px;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_title {
    color: #fb4e44;
    font-size: 14px;
    margin: 5px 0;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_date {
    color: #575757;
    font-size: 12px;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_price {
    color: #fb4e44;
    font-size: 13px;
    margin: 5px 0;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_price b {
    font-size: 22px;
    margin-left: 3px;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_info {
    color: #575757;
    font-size: 12px;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_right,
.pub_lm_dialog .pub_lm_dialog_con_wrapper li .pub_lm_dialog_left {
    display: flex;
    flex-flow: column wrap;
    /*align-content: space-between;*/
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pub_lm_dialog .pub_lm_dialog_bottom {
    background: #fc0b1a;
    height:70px;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
}

.pub_lm_dialog .pub_lm_dialog_bottom a {
    background: #ffd161;
    display: flex;
    align-items: center;
    justify-content: center;
    width:150px;
    height:35px;
    border-radius: 4px;
    text-decoration: none;
    color: #343434;
    font-size: 16px;
}

.pub_lm_dialog .pub_lm_dialog_close {
    background-image: url('../../images/lm/lm_close_dialog.png');
    background-repeat: no-repeat;
    background-size: cover;
    width:30px;
    height:30px;
    display: block;
    position: absolute;
    bottom: -87px;
    left: 50%;
    margin-left: -15px;
    z-index:999999;
}
.animated {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.infinite {
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}
.animated.hinge {
    -webkit-animation-duration:2s;
    animation-duration:2s
}
.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
    -webkit-animation-duration:.75s;
    animation-duration:.75s
}

@-webkit-keyframes bounceInDown {
    0%, 100%, 60%, 75%, 90% {
        -webkit-animation-timing-function:cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function:cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -3000px, 0);
        transform:translate3d(0, -3000px, 0)
    }
    60% {
        opacity:1;
        -webkit-transform:translate3d(0, 25px, 0);
        transform:translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform:translate3d(0, -10px, 0);
        transform:translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform:translate3d(0, 5px, 0);
        transform:translate3d(0, 5px, 0)
    }
    100% {
        -webkit-transform:none;
        transform:none
    }
}
@keyframes bounceInDown {
    0%, 100%, 60%, 75%, 90% {
        -webkit-animation-timing-function:cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function:cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -3000px, 0);
        transform:translate3d(0, -3000px, 0)
    }
    60% {
        opacity:1;
        -webkit-transform:translate3d(0, 25px, 0);
        transform:translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform:translate3d(0, -10px, 0);
        transform:translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform:translate3d(0, 5px, 0);
        transform:translate3d(0, 5px, 0)
    }
    100% {
        -webkit-transform:none;
        transform:none
    }
}
.bounceInDown {
    -webkit-animation-name:bounceInDown;
    animation-name:bounceInDown
}
@-webkit-keyframes bounceInUp {
    0%, 100%, 60%, 75%, 90% {
        -webkit-animation-timing-function:cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function:cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, 3000px, 0);
        transform:translate3d(0, 3000px, 0)
    }
    60% {
        opacity:1;
        -webkit-transform:translate3d(0, -20px, 0);
        transform:translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform:translate3d(0, 10px, 0);
        transform:translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform:translate3d(0, -5px, 0);
        transform:translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes bounceInUp {
    0%, 100%, 60%, 75%, 90% {
        -webkit-animation-timing-function:cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function:cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, 3000px, 0);
        transform:translate3d(0, 3000px, 0)
    }
    60% {
        opacity:1;
        -webkit-transform:translate3d(0, -20px, 0);
        transform:translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform:translate3d(0, 10px, 0);
        transform:translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform:translate3d(0, -5px, 0);
        transform:translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
.bounceInUp {
    -webkit-animation-name:bounceInUp;
    animation-name:bounceInUp
}

/*首页添加热门艺术家*/
.artist_index_list{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
}
.artist_index_list .lm_left_img img{
    width: 66px;
    height: 66px;
    border-radius: 100%;
}
.artist_index_list li:nth-child(2n){
    border-left: 0;
    border-right: 0;
}

.artist_index_list li{
    width:33.3%;
    float: left;
    /*width:50%;*/
    /*border: #e6e6e6 solid 1px;*/
    padding: 6px;
    border-top: 0;
}
.artist_index_list li a{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.artist_index_list .lm_right_info{
    margin-left: 3px;
}
.artist_index_list .lm_right_info .userName{
    font-size: 14px;
    color: #010101;
    margin-top: 12px;
    line-height: 1;
}
.artist_index_list .lm_right_info .address i{
    display: inline-block;
    vertical-align: middle;
}
.artist_index_list .lm_right_info .address{
    color: #808080;
    font-size: 12px;
    line-height: 1.5;
    margin: 6px 0 0;
    display: block;
}
.title-name h1{
    position: relative;
}
.title-name h1 .qll_more{
    position: absolute;
    top: 0;
    right: 4px;
    margin: 9px;
    color: #999;
    font-size: 14px;
}
.pub_lm_dialog .pub_lm_dialog_coolect{
  border-radius: 5px;
  background: #fff;
    display: block;
    position: absolute;
    bottom: -45px;
    left: 50%;
    margin-left: -64px;
    color:#343434;
    font-size: 16px;
    padding: 4px 8px;
    z-index:999999;
}
.pub_lm_dialog .pub_lm_dialog_ewm{
    position: absolute;
    bottom: 0;
    width:150px;
    height:150px;
    background: #fff;
    left: 50%;
    margin-left: -75px;
    border: #ccc solid 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.pub_lm_dialog .pub_lm_dialog_ewm img{
    width:120px;
    height:120px;
}
.pub_lm_dialog .pub_lm_dialog_ewm .lm_text{
    font-size: 14px;
    color:#000;
}
.lm_pub_re{
    position: relative;
}
.pub_lm_dialog .lm_arrow1:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    transition: all .2s;
}


/*个人中心页面*/
.lm_memberList_top{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    border-bottom: #e5e5e5 solid 1px;
    padding-bottom: 12px;
}
.lm_memberList_top a img{
    width:12px;
    height:12px;
    display: inline-block;
    vertical-align: -1px;
}
.lm_memberList_top a i{
    border:#e50000 solid 1px;
    border-radius: 4px;
    padding: 2px 3px;
}
.lm_memberList_top a span{
    color:#e50000;
    font-size: 12px;
    margin-left: 3px;
}
.lm_memberList_center{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-flow: wrap row;
    justify-content: space-around;
    -webkit-justify-content:space-around;

    padding: 15px 0;
}
.lm_memberList_center .lm_memberList_list{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-flow: wrap column;
}
.lm_memberList_center .lm_memberList_list .lm_top b{
    font-size: 10px;
    color:#4a4848;
}
.lm_memberList_center .lm_memberList_list .lm_top{
    color:#000000;
    font-size: 14px;
}
.lm_memberList_center .lm_memberList_list img {
    width:20px;
    height:20px;
    margin: 5px 0;
}
.lm_memberList_center .lm_line img{
    width:1px;
    max-height:72px;
}
.lm_memberList_center .lm_line{
    width:1px;
}
.lm_memberList_center{
    font-size: 10px;
    color:#4a4848;
}
.lm_account-box .top_member_name{
    padding-top: 16px;
    border-top: #e5e5e5 solid 1px;
    width:100%;
    display: block;
}


.redpacket_member_lm {
   color:#e60000;
}
.redpacket_member_lm img{
    height:20px;
    display: inline-block;
    margin-left: 3px;
    vertical-align: -3px;
}

.lm_modal_member{
    z-index:999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    top:0;left: 0;
    display: none;
}
.lm_con_member{
    position: relative;
    width:200px;
    top:100px;
    background: #fff;
    left: 50%;
    margin-left: -100px;
}
.lm_con_member .lm_close_member img{
    width:20px;
}
.lm_con_member .lm_close_member{
    position: absolute;
    right:2px;
    top:2px;
}
.lm_con_member .lm_ewm_member{
  padding: 10px 0 0 0;
}
.lm_con_member .lm_ewm_member img{
    max-width: 100%;
}

.lm_con_member .lm_text{
    color:#000;
    font-size: 13px;
    width:100%;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.pub_overFlow {
    position: fixed;
}
 .account-info{
     padding-top:30px;
     height:194px;
     position:relative;
 }
.member-info{
    top:15%;
    margin-left: -100px !important;
}
.account-info .row div,.account-box h1{
    font-size:15px;
}
.qll_swiper_slide,
.redpacket_swiper_slide{
    position: relative;
}
.qll_swiper_slide b{
    color:red;
}
.redpacket_swiper_slide .redpacket_reward{
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -13px;
    right: 15px;
}
.qll_swiper_slide .qll_reward{
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    top: -9px;
    right: 21px;
}
.qll_swiper_slide .qll_reward,
.redpacket_swiper_slide .redpacket_reward{
    position: absolute;
    border-radius: 100%;
    text-align: center;
    background: red;
    color: #fff;

}
@media screen and (max-width: 450px) {

    .qll_swiper_slide .qll_reward{
        right: 30px !important;
    }

}
@media screen and (max-width: 340px) {
    .redpacket_swiper_slide .redpacket_reward{
        right:8px !important;
    }
    .qll_swiper_slide .qll_reward{
        right: 21px !important;
    }

}
.lm_member_span{
    color: #ccad52;
    padding: 8px 0;
    width: 50% !important;
}
.lm_member_span:first-child{
    border-right: 1px solid #333333;
}
.lm_member_span i{
    color: #fff;
}
.lm_member_span span{
    margin-right: 10px;
    color: #ccad52;
}
.lm_member_span img{
    display: inline-block;
    width: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.member_account{
    display: flex;
    justify-content: space-between;
}
.member_account .swiper-slide a{
    display: block;
}
.member_account .swiper-slide a img{
    height: 24px !important;
    margin-bottom: 5px !important;
}
.member_account .swiper-slide a span{
    color: #b4b4b4;
    font-size: 14px;
    white-space: nowrap;
}
.qll_border{
    border-bottom: 1px solid #ebebeb;
}
.qll_account_box{
    border-top: 8px solid #f5f5f5;
}
.member_buyer{
    background: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 8px solid #f5f5f5;
}
.member_buyer a{
    width: 25%;
    text-align: center;
}
.member_buyer a span{
    font-size: 14px;
    color: #b4b4b4;

}
.member_buyer a img{
    height: 24px;
    display: block;
    margin: 0 auto;
}
.lm_text{
    color: #b4b4b4;
    font-size: 14px;
}
.agreement{
    position: absolute;
    top: 0;left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    display: none;
}
.agreement_content{
    /*display: none;*/
    width: 80%;
    background: #fff;
    position: absolute;
    top:70px;
    left:10%;
    line-height: 2;
    border-radius: 5px;
    max-height: 70%;
    overflow: auto;
}
.qll_close img{
    width: 18px;
}
.agreement_content .qll_close{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 30px;
    height: 30px;
    background: #fcfbf7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agreement_content h1{
    border-bottom: 1px solid #ebebeb;
    font-size: 20px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0;
    background: #fff;
    position: fixed;
    width: 80%;
    border-radius: 5px 5px 0 0;
    color: #000;
}
.agreement_content .agreement_detail{
    background: #fcfbf7;
    padding: 10px 15px;
}
.agreement_content .agreement_detail h2{
    margin: 0;font-size: 12px;
}
.agreement_content .agreement_detail p{
    margin: 0;
    font-size: 12px;
}
.agreement_content .agreement_detail{
    margin-top: 41px;
}
.agreement_detail h2,
.agreement_detail h3{
    color: #000;
}
