<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
  <title>艺术家主页</title>
  <link rel="stylesheet" type="text/css" href="../../css/base.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

  <!--新增样式-->
  <link rel="stylesheet" href="../../css/sm.min.css">
  <link rel="stylesheet" href="../../css/sm-extend.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/animate.min.css">
  <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">

  <!--lm -->
  <link rel="stylesheet" href="../../css/lm/lm_style.css">

</head>
<body class="nopadding padB56" style="background: #fff;">
<input type="hidden" id="lm_store_id">
<div id="lm_art_home" class="lm_art_home">
</div>

<script type="text/html" id="detail">
  <% if(artist_details){ %>
  <div class="lm_art_home_top">
    <div class="lm_art_avatar">
      <img src="<%=artist_details.artist_image_path%>" alt="<%=artist_details.artist_name%>">
    </div>
    <h2 class="lm_art_home_name"><%=artist_details.artist_name%></h2>
    <!--<span class="lm_art_home_adress">中国美术学院美术教育系研究生</span>-->
    <div class="lm_setting_info">
      <div class="lm_work ">
        <i class="lm_address_pic"></i>
        <span class="lm_text" id="fileNum"><!-- 作品数 --></span>
      </div>

      <div class="lm_address">
        <i class="lm_address_icon"></i>
        <%if(artist_details.city_name){%>
        <span class="lm_text"><%=artist_details.city_name%> <%=artist_details.area_name%></span>
        <%}else{%>
        <span class="lm_text">未知</span>
        <%}%>
      </div>

    </div>
    <div class="lm_setting">
      <div class="lm_collect fllow" id="store_notcollect" nc_store_id="<%=artist_details.store_id%>">
        <i class="lm_address_heart1"></i>
      </div>
      <div class="lm_collect notfllow lm_hidden" id="store_collected" nc_store_id="<%=artist_details.store_id%>">
        <i class="lm_address_heart"></i>
      </div>
      <a href="javascript:void(0);" class="lm_kefu">
        <i class="lm_message_icon"></i>
      </a>
    </div>
    <div class="lm_art_detail"><%=artist_details.artist_resume%></div>
    <a href="artist_detail_more.html?artist_vendue_id=<%=artist_details.artist_vendue_id%>" class="lm_more">详细 > </a>
    <div class="lm_art_title" id="lm_art_title">
      <!--<div class="lm_art_left"></div>-->
      <div class="lm_art_center"></div>
      <!--<div class="lm_art_right"></div>-->
    </div>
    <ul class="lm_art_home_list" id="imgList_con">
    </ul>

  </div>
  <% }else{ %>
  <h2>没有该艺术家～</h2>
  <% } %>
</script>

<script id="imgList" type="text/html">
  <%var list=data %>
  <%if(list.length>0){%>
  <% for(var j=0;j< list.length;j++){ %>
  <li>
    <div class="lm_art_home_list_top">
      <h2 class="lm_work_title"><%=list[j].title%></h2>
      <!--<span class="lm_works_fllow"><i class="lm_address_heart1"></i>-->
      <!--</span>-->
    </div>
    <div class="lm_art_imgs">
      <% for(var h=0;h< list[j].image_list.length;h++){ %>
      <!--<h2><%=list[j].image_list[h]</h2>-->
      <% if (h<3){ %>
      <a href="../product_detail.html?goods_id=<%=list[j].id;%>" class="lm_art_item">
        <img src="<%=list[j].image_list[h].mid%>" alt="">
      </a>
      <%}%>
      <%}%>
    </div>
    <div class="lm_works_info"><%=list[j].type%>&nbsp;&nbsp;<%=list[j].size%>&nbsp;&nbsp;<%=list[j].created_at%></div>
  </li>
  <%}%>
  <%}%>
</script>
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/artist_detail.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>


</body>
</html>