<!doctype html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
  <title>艺术家主页</title>
  <link rel="stylesheet" type="text/css" href="../../css/base.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

  <!--新增样式-->
  <link rel="stylesheet" href="../../css/sm.min.css">
  <link rel="stylesheet" href="../../css/sm-extend.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/animate.min.css">
  <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">

  <!--lm -->
  <link rel="stylesheet" href="../../css/lm/lm_style.css">

</head>
<body class="nopadding padB56" style="background: #fff;">
<div id="lm_art_home" class="lm_art_home lm_art_home_more">

</div>

<script type="text/html" id="detail">
  <% if(artist_details){ %>
  <div class="lm_art_home_top">
    <div class="lm_art_avatar">
      <img src="<%=artist_details.artist_image_path%>" alt="<%=artist_details.artist_name%>">
    </div>
    <h2 class="lm_art_home_name"><%=artist_details.artist_name%></h2>

  </div>
  <div class="lm_art_home_more_year">
    <%=artist_details.artist_resume%>
  </div>
  <% }else{ %>
  <h2>没有该艺术家～</h2>
  <% } %>
</script>
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/artist_detail.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>