<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
  <title>艺圈子</title>
  <link rel="stylesheet" type="text/css" href="../../css/base.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

  <!--新增样式-->
  <link rel="stylesheet" href="../../css/sm.min.css">
  <link rel="stylesheet" href="../../css/sm-extend.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/animate.min.css">
  <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_k6fs1j7u7oiozuxr.css">

  <!--lm style-->
  <link rel="stylesheet" href="../../css/lm/lm_style.css">

</head>
<body >
<div class="lm_page1">
  <div class="lm_artlist_top">
    <div class="lm_all_category lm_artlist_top_left "><span>综合排序</span> <i class="lm_arrow"></i>
      <ul class="lm_category">
        <li order="artist_vendue_id"><a href="#">最新排序</a></li>
        <li order="artist_click"><a href="#">热度排序</a></li>
        <li order="artist_sort"><a href="#">默认排序</a></li>
      </ul>
    </div>
    <form class="qll_title_search" action="">
      <input type="text" class="qll_search_tip search_keyword" placeholder="输入姓名">
      <button class="qll_search_btn"><i class="iconfont icon-sousu"></i></button>
    </form>
    <div class="lm_artlist_top_right">
      <a href="#" class="lm_screen_btn lm_all_category"><span>筛选</span> <i class="lm_arrow"></i></a>
      <div class="lm_change_list"></div>
    </div>
  </div>

  <div class="artist_list_con " id="artist_list_wrapper">
  </div>
</div>
<!--筛选条件-->

<div class=" lm_screen lm_hidden">
  <section class="lm_screen_section">
    <h3 class="lm_title"><span>大分类</span><a class=" pull-left back lm_art_close" href="#"></a></h3>
    <ul>
      <li artist_classify="1"><a href="#">国画</a></li>
      <li artist_classify="2"><a href="#">西画</a></li>
      <li artist_classify="3"><a href="#">雕塑</a></li>
      <li artist_classify="4"><a href="#">陶瓷</a></li>
      <li artist_classify="5"><a href="#">玉雕</a></li>
    </ul>
  </section>
  <div class="lm_screen_result">
    <a class="lm_screen_setting lm_screen_setting_reset">重置</a>
    <a class="lm_screen_setting lm_screen_setting_ok">确认</a>
  </div>
</div>

<link rel="stylesheet" href="../../css/swiper.min.css">
<!-- Swiper JS -->
<script src="../../js/swiper.min.js"></script>

<footer id="footer"></footer>

<script type="text/html" id="artist_list">
  <% if(artist_list.length > 0){ %>
  <% for(var i=0;i < artist_list.length;i++){ %>
  <div class="artist_list_card">
    <div class="artist_list_card_top lm_clear">
      <a href="artist_detail.html?artist_vendue_id=<%=artist_list[i].artist_vendue_id%>" class="lm_artist_list_avatar">
        <img src="<%=artist_list[i].artist_image_path%>" alt="<%=artist_list[i].artist_name%>">
      </a>
      <div class="lm_list_card_center">
        <div class="lm_artist_list_name"><%=artist_list[i].artist_name%></div>
        <!--<span class="lm_artist_list_school">中国美术学院美术教育系研究生</span>-->
        <% if(artist_list[i].city_name){ %>
        <!--<span class="lm_artist_list_address"><i class="lm_address_icon"></i><%=artist_list[i].city_name%> <%=artist_list[i].area_name%> </span>-->
        <span class="lm_artist_list_address"><i class="lm_address_icon"></i><%=artist_list[i].city_name%></span>
        <%}%>
      </div>
      <div class="lm_setting_info">
        <a href="artist_detail.html?artist_vendue_id=<%=artist_list[i].artist_vendue_id%>&lm_art_title=1" class="lm_work">
          <i class="lm_address_pic"></i>
          <span class="lm_text">作品数:<%=artist_list[i].sales_goods_count%></span>
        </a>
        <div class="lm_collect fllow" id="store_notcollect_<%=artist_list[i].store_id%>"
             nc_store_id="<%=artist_list[i].store_id%>">
          <i class="lm_address_heart1"></i>
          <span class="lm_text">点击关注</span>
        </div>
        <div class="lm_collect notfllow lm_hidden" id="store_collected_<%=artist_list[i].store_id%>"
             nc_store_id="<%=artist_list[i].store_id%>">
          <i class="lm_address_heart"></i>
          <span class="lm_text">取消关注</span>
        </div>
      </div>
    </div>
    <ul class="artist_list_card_bottom lm_clear">
      <% var image_list_info = artist_list[i].image_list_info;%>
      <% if(image_list_info.length > 0){ %>
      <% for(var j=0;j< image_list_info.length;j++){ %>
      <% if(j <3){ %>
      <li><a href="artist_detail.html?artist_vendue_id=<%=artist_list[i].artist_vendue_id%>&type=work"><img
          class="image_lazy_load" data-src="<%=image_list_info[j].mid%>"  alt=""/></a>
      </li>
      <% }%>
      <% }%>
      <% }%>
    </ul>
  </div>
  <% }%>
  <% }else{ %>
  <div class="nctouch-norecord order lm_notart">
    <div class="norecord-ico"><i></i></div>
    <dl>
      <dt>您还没有相关的艺术家</dt>
    </dl>
    <a href="../../app_index.html" class="btn">随便逛逛</a>
  </div>
  <% }%>
</script>


<div class="lm_gotop"><img src="../../images/lm/gotop.png" alt=""></div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/artist_list.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>

</body>
</html>