<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>艺术家详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">

    <style>
        .account-info{height:288px;}
        .account-info h1{margin: 10px 0 0px;}
        .account-info .row{height:62px;width:66%;background: none;margin: 0 auto}
        .account-info .row span{color:#bfbfbf;font-size:12px;}
        .account-info div a{width:75px}
        .account-info div{width:186px;}
        .point{color:#800000;font-size: 12px;padding-left:4px; background: #fff;float: right;transform: translateY(-16px);}
        .art-center .tab .list-block ul li .item-inner .nomal{height: 64px;overflow: hidden}
        .display-out{height: auto !important;}
        .display-none{display: none !important;}
    </style>
</head>
<body class="gray-bg lm_gray-bg">
<div id="artist_detail_html"></div>
<script type="text/html" id="detail">
    <div class="account-info">
        <img src="<%=artist_details.artist_image_path%>" alt=""/>
        <h1 style="font-size:17px"><%=artist_details.artist_name%></h1>
        <span style="font-size:14px"><%=artist_details.artist_job_title%></span>
        <div style="margin:12px 0 16px;border-top:#4d4d4d solid 1px;border-bottom:#4d4d4d solid 1px;width: 100%">
            <div class="row no-gutter">
                <span class="col-33"><%=artist_details.artist_works_count%><br />作品</span>
                <span class="col-33"><%=artist_details.store_collect%><br />关注</span>
                <span class="col-33"><%=artist_details.artist_click%><br />人气</span>
            </div>
        </div>
        <div>
            <a href="store_vendue.html?store_id=<%=artist_details.store_id%>" class="button fl">个人展馆</a>
            <a href="#" class="button fr" id="store_notcollect" nc_store_id="<%=artist_details.store_id%>"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;关注</a>
            <a href="#" class="button been fr" style="background:none;display: none" id="store_collected" nc_store_id="<%=artist_details.store_id%>"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;已关注</a>
        </div>
        <a style="display:none" id="hide_work"></a>
        <div class="clear"></div>
    </div>
    <div class="art-center content content-box-05">
        <div class="content-block">
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="list-block media-list" style="margin-bottom:12px">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <h1 class="item-title">个人简介</h1>
                                        <div class="nomal"><p id="resume"><%=artist_details.artist_resume%></p></div>
                                        <span class="point">全文&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <h1 class="item-title">艺术家年表</h1>
                                        <p>
                                            <% var represent = artist_details.artist_represent;%>
                                            <% if(represent.length > 0){ %>
                                            <% for(var i =0;i<represent.length;i++) {%>
                                            <%=represent[i].repres_time%>年&nbsp;<%=represent[i].repres_intro%><br />
                                            <% }%>
                                            <% }%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li id="artist_works">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <h1 class="item-title">获奖作品</h1>
                                        <div style="margin-top:12px">
                                            <% var works = artist_details.artist_works;%>
                                            <% if(works.length > 0){ %>
                                            <% for(var j =0;j<works.length;j++) {%>
                                            <span class="all-block">
							<img src="<%=works[j].work_pic_path%>" alt=""/>
							<div class="fr">
                                <h2><%=works[j].work_name%></h2>
                                <h3 class="limited-words limited-words-3"><%=works[j].work_intro%></h3>
                                <h3 style="text-align: right;"><%=works[j].work_time%></h3>
                            </div>
						</span>
                                            <% }%>
                                            <% }%>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <h1 class="item-title">获奖情况</h1>
                                        <p>
                                            <% var awards = artist_details.artist_awards;%>
                                            <% if(awards.length > 0){ %>
                                            <% for(var z =0;z<awards.length;z++) {%>
                                            <%=awards[z].awards_time%>年&nbsp;&nbsp;<%=awards[z].awards_intro%><br />
                                            <% }%>
                                            <% }%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</script>
<!--分享弹出部分-->
<div class="popup popup-about popup-share">
    <div class="content">
        <div class="content-inner bdsharebuttonbox" data-tag="share_1">
            <ul class="content-block">
                <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" ></a></li>
                <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
                <li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>
                <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
                <li><a href="#" class="bds_more" data-cmd="copy" title="复制网址"></a></li>
            </ul>
            <div class="clear"></div>
            <a href="javascript:void(0)" class="close-popup">取消分享</a>
        </div>
    </div>
</div>
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/artist_detail.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>