<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>艺术家列表</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="gray-bg">
<header class="bar bar-nav">
    <a class="icon fl chat_list" href="../member/chat_list.html"><img src="../../images/top-m.png" width="20" height="20" alt=""/></a>
    <a class="icon fr" href="../search.html"><img src="../../images/top-search.png" width="20" height="20" alt=""/></a>
    <h1 class="title">艺术家列表</h1>
</header>
<link rel="stylesheet" href="../../css/swiper.min.css">
<!-- Swiper JS -->
<script src="../../js/swiper.min.js"></script>
<div id="artist_list_html"></div>
<script type="text/html" id="artist_list">
<div class="content found-box-03">
    <% if(artist_list.length > 0){ %>
    <% for(var i=0;i<artist_list.length;i++){ %>
    <div class="card facebook-card">
        <div class="card-header no-border fl" style="padding-right:0">
            <div class="facebook-avatar"><a href="artist_detail.html?artist_vendue_id=<%=artist_list[i].artist_vendue_id%>"><img src="<%=artist_list[i].artist_image_path%>" width="63" height="63"></a></div>
            <div class="facebook-name"><%=artist_list[i].artist_name%></div>
            <div class="facebook-date">
                <a href="javascript:void(0);" class="focus notcollect" id="store_notcollect_<%=artist_list[i].store_id%>" nc_store_id="<%=artist_list[i].store_id%>">&#43;&nbsp;关注</a>
                <a href="javascript:void(0);" class="been focus collected" id="store_collected_<%=artist_list[i].store_id%>" style="display: none" nc_store_id="<%=artist_list[i].store_id%>">&radic;&nbsp;已关注</a>
            </div>
        </div>
        <div class="card-header no-border row no-gutter fr" style="padding:18px 0 0">
            <div class="col-33"><%=artist_list[i].store_collect%><br />关注</div>
            <div class="col-33"><%=artist_list[i].artist_works_count%><br />作品</div>
            <div class="col-33"><%=artist_list[i].artist_click%><br />人气</div>
        </div>
        <div class="card-content">
            <h3>作品集</h3>
            <div class="swiper-container-01">
                <div class="swiper-wrapper">
                    <% var artist_works = artist_list[i].artist_works;%>
                    <% if(artist_works.length > 0){ %>
                    <% for(var j=0;j<artist_works.length;j++){ %>
                    <div class="swiper-slide"><a href="artist_detail.html?artist_vendue_id=<%=artist_list[i].artist_vendue_id%>&type=work"><img src="<%=artist_works[j].work_pic_path%>" width="100" height="76" alt=""/></a></div>
                    <% }%>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    <% if (hasmore) {%>
    <li class="loading"><div class="spinner"><i></i></div>艺术家数据读取中...</li>
    <% } %>
    <% }else{ %>
    <div class="nctouch-norecord order">
        <div class="norecord-ico"><i></i></div>
        <dl>
            <dt>您还没有相关的艺术家</dt>
        </dl>
        <a href="<%=WapSiteUrl%>" class="btn">随便逛逛</a>
    </div>
    <% }%>
</div>
</script>
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/artist_list.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>