<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>拍卖详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index-min.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">

</head>
<style>
    .state-button div.count-time {
        background: #000;
    }
    .default{color: #333;}
    .paican{padding:0 16px}
    .paican li{font-size: 13px;padding:10px 0;border-bottom: #ccc solid 1px}
    .paican li:last-child{border-bottom: none;padding:10px 0 0;}
	.tab-selected{width:48px;height:2px;display:block;margin:0 auto;background: #fff;transform:translateY(-4px);}
	.actived .tab-selected,.active .tab-selected{background: #000}
	.content-box-05 .buttons-tab .button{border:none}
</style>
<body class="gray-bg" style="padding: 44px 0 86px;">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:;" onclick="history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <a class="icon fr open-popup" data-popup=".popup-share" href="javascript:void(0)"><img src="../../images/top-share.png" width="22" height="20" alt=""/></a>
    <h1 class="title">拍卖详情</h1>
</header>
<link rel="stylesheet" href="../../css/swiper.min.css">
<script src="../../js/swiper.min.js"></script>
<div id="auction_detail_html"></div>
<script type="text/html" id="auction_detail">
    <div class="swiper-container-banner">
        <div class="swiper-wrapper">
            <% var auction_image = auction_info.goods_image_mobile;%>
            <div class="swiper-slide"><img src="<%=auction_info.auction_image_path%>" alt=""/></div>
            <%if(auction_image&&auction_image.length>0){%>
            <% for (var i =0;i< auction_image.length;i++){ %>
            <div class="swiper-slide"><img src="<%=auction_image[i]%>" alt=""/></div>
            <% } %>
            <% } %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="clear"></div>
    <div class="state-button" style="background: #000">
        <% if(auction_info.is_kaipai == 1 && auction_info.auctioning_time > 0){ %>
        <div class="" count_down="<%=auction_info.auction_remain_date%>">
            距&nbsp;结&nbsp;束&nbsp;&nbsp;
            <span id="saleCountDown" class="time-remain"></span>
        </div>
        <% } else if(auction_info.is_kaipai == 0){ %>
        <div id="qll_saleCountDown" class="start">开拍时间&nbsp;<%=auction_info.auction_start_date%>&nbsp;</div>
        <% } else if (auction_info.is_kaipai == 2 || auction_info.auctioning_time == 0){ %>
        <div class="start">已结束</div>
        <% }%>
    </div>
    <div class="content detail">
        <div class="clear"></div>
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-inner no-border" style="padding-bottom:0">
                        <div class="item-title"><%=auction_info.auction_name%></div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner" style="padding-top:0">
                        <div class="item-title">
                            <% if(auction_info.is_kaipai == 1){ %>
                            <h1 class="theme-color">当前价&nbsp;<b class="qll_price" style="font-size: 20px"><%=auction_info.current_price%></b>&nbsp;元</h1>
                            <% } else if(auction_info.is_kaipai == 0) { %>
                            <h1 class="theme-color">起拍价&nbsp;<b style="font-size: 20px"><%=auction_info.auction_start_price%></b>&nbsp;元</h1>
                            <% } else if(auction_info.is_kaipai == 2){ %>
                                <% if(auction_info.is_liupai != 1){ %>
                                <h1 class="theme-color">成交价&nbsp;<b style="font-size: 20px"><%=auction_info.current_price%></b>&nbsp;元</h1>
                                <% }else{ %>
                                <h1 class="theme-color">已结束</h1>
                                <% } %>
                            <% }%>
                        </div>
                    </div>
                </li>
                <% if(auction_info.is_kaipai == 1 && relation_info.is_bond == 1){ %>
                <li class="item-content" style="margin:10px 0">
                    <div class="item-inner" style="padding:0 0 0 12px">
                        <div class="item-title record">
                            <h2 class="fl" style="font-size:12px;line-height:50px">出价金额</h2>
                            <div class="value-box">
                                <!--<input type="text" class="spinnerExample fl" id="offer_num"
                                       value=""/>-->
                                <span class="minus"><a href="javascript:void(0);">&nbsp;</a></span>
                                    <span>
                                    <input type="number" pattern="[0-9]*" class="buy-num" id="buynum" value="">
                                        </span>
                                <span class="add"><a href="javascript:void(0);">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </li>
                <% }%>
                <li class="item-content">
                    <div class="item-inner number">
                        <div class="item-title">
                            <span>围观&nbsp;<%=auction_info.auction_click%>&nbsp;次</span><span>报名&nbsp;<%=auction_info.num_of_applicants%>&nbsp;人</span><span>设置提醒&nbsp;<%=auction_info.set_reminders_num%>&nbsp;人</span>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="row no-gutter">
                            <span class="col-50">起拍价格&nbsp;&nbsp;&nbsp;&nbsp;¥&nbsp;<%=auction_info.auction_start_price%></span>
                            <span class="col-50">保证金额&nbsp;&nbsp;&nbsp;&nbsp;¥&nbsp;<%=auction_info.auction_bond%></span>
                            <span class="col-50">加价幅度&nbsp;&nbsp;&nbsp;&nbsp;¥&nbsp;<%=auction_info.auction_increase_range%></span>
                            <span class="col-50">保留价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <% if(auction_info.auction_reserve_price >0){ %> 有 <%}else{ %> 无 <%}%>
                            </span>
                            <!--<span class="col-50">延时周期&nbsp;&nbsp;&nbsp;&nbsp;<%=auction_info.delayed_time%>/次</span>-->
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title record">
                            <a href="auction_bid_log.html?auction_id=<%= auction_info.auction_id %>">
                                <img src="../../images/record.png" class="fl" width="18" height="18" alt="" />
                                <h2 class="fl">&nbsp;&nbsp;出价纪录&nbsp;<font>(<%=auction_info.bid_number%>)</font></h2>
                                <i class="fa fa-angle-right all-block fr" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <% if(bid_log_list.length > 0){ %>
                <li class="item-content" style="margin:0 0 10px">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="auction_content_lm">
                        <% for(var i=0;i<bid_log_list.length;i++){ %>
                        <tr>
                            <td><% if(i==0){ %><span style="background: #800000">领先</span><% }else{ %><span style="background: #898989">出局</span><% }%></td>
                            <td><%=bid_log_list[i].member_name%></td>
                            <td><%=bid_log_list[i].created_at%></td>
                            <td>&yen;<%=bid_log_list[i].offer_num%></td>
                        </tr>
                        <% }%>
                    </table>
                </li>
                <% }%>
                <li class="item-content" style="margin:0 0 10px">
                    <div class="item-inner">
                        <div class="item-title record">
                            <a href="store_vendue.html?store_id=<%=auction_info.store_id%>">
                                <img src="<%=auction_info.store_avatar%>" class="fl" style="border-radius: 50px;overflow: hidden" width="46" height="46" alt=""/>
                                <h2 class="fl" style="line-height:50px;font-size:12px;padding-left:20px;color:#000">&nbsp;&nbsp;<%=auction_info.store_name%></h2>
                                <i class="fa fa-angle-right all-block fr" aria-hidden="true" style="line-height: 50px"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content content-box-05">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">拍品描述<span class="tab-selected"></span></a>
                <a href="#tab2" class="tab-link button">拍品参数<span class="tab-selected"></span></a>
                <a href="#tab3" class="tab-link button">帮助及保障<span class="tab-selected"></span></a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <%= auction_info.mobile_body %>
                    </div>
                    <div id="tab2" class="tab">
                        <% if(auction_info.auction_attr || auction_info.auction_custom) { %>
                        <ul class="paican">
                            <% if(auction_info.auction_attr && auction_info.auction_attr.length > 0) { %>
                                <% for (var i = 0; i < auction_info.auction_attr.length; i++) { %>
                                <li style="color: #000;">
                                    <%= auction_info.auction_attr[i].name %>： <%= auction_info.auction_attr[i].value %>
                                </li>
                                <% } %>
                            <% } %>

                            <% if(auction_info.auction_custom && auction_info.auction_custom.length > 0) { %>
                                <% for (var i = 0; i < auction_info.auction_custom.length; i++) { %>
                                <li style="color: #000;">
                                    <%= auction_info.auction_custom[i].name %>： <%= auction_info.auction_custom[i].value %>
                                </li>
                                <% } %>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                    <div id="tab3" class="tab" style="padding: 15px;color: #333;">
                        <%= article['article_content'] %>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <% var auction_recommend_list = recommend_list.auction;%>
        <% if(auction_recommend_list.length > 0) { %>
        <div class="content-box-02">
            <div class="title-top">
                <a href="store_vendue.html?store_id=<%=auction_info.store_id%>">拍品推荐<i class="fa fa-angle-right fr" aria-hidden="true"></i></a>
            </div>
            <div class="row no-gutter">
                <% for(var j=0;j<auction_recommend_list.length;j++){ %>
                <% if(auction_recommend_list[j].is_kaipai == 1){ %>
                <a href="auction_detail.html?auction_id=<%=auction_recommend_list[j].auction_id%>&is_kaipai=<%=auction_recommend_list[j].is_kaipai%>" class="col-50">
                    <img src="<%=auction_recommend_list[j].auction_image_path%>" alt=""/>
                    <div class="content-detail">
                        <h1><%=auction_recommend_list[j].auction_name%></h1>
                        <span class="theme-color">当前价&nbsp;<b id="qll_price">&yen;<%=auction_recommend_list[j].current_price%></b></span>
                    </div>
                    <div class="fixed-box" style="top:60%;border-left:none">
                        <span style="background:#262626;"><b class="all-block"><%=auction_recommend_list[j].bid_number%></b>次出价</span>
                    </div>
                    <div class="fixed-box" style="bottom:5%;">
                        <img src="../../images/index-offer.jpg" alt=""/>
                    </div>
                </a>
                <% }else if(auction_recommend_list[j].is_kaipai == 0){ %>
                <a href="auction_detail.html?auction_id=<%=auction_recommend_list[j].auction_id%>&is_kaipai=<%=auction_recommend_list[j].is_kaipai%>" class="col-50">
                    <img src="<%=auction_recommend_list[j].auction_image_path%>" alt=""/>
                    <div class="content-detail">
                        <h1><%=auction_recommend_list[j].auction_name%></h1>
                        <span class="theme-color">起拍价&nbsp;<b>&yen;<%=auction_recommend_list[j].auction_start_price%></b></span>
                        <span><%=auction_recommend_list[j].auction_id%>开始</span>
                    </div>
                    <div class="fixed-box" style="top:60%;border-left:none">
                        <span style="background:#800000;"><b class="all-block"><%=auction_recommend_list[j].auction_click%></b>次围观</span>
                    </div>
                    <div class="fixed-box" style="bottom:5%;">
                        <img src="../../images/index-remind.jpg" alt=""/>
                    </div>
                </a>
                <% }%>
                <% }%>
            </div>
            <div class="clear"></div>
            <a href="store_vendue.html?store_id=<%=auction_info.store_id%>" class="index-more">查看更多&nbsp;&gt;</a>
            <div class="clear"></div>
        </div>
        <% }%>
        <% var special_list = recommend_list.special;%>
        <% if(special_list.length > 0) { %>
        <div class="content-box-04">
            <div class="title-top">
                <a href="store_vendue.html?store_id=<%=auction_info.store_id%>">同场推荐<i class="fa fa-angle-right fr" aria-hidden="true"></i></a>
            </div>
            <div class="row no-gutter">
                <% for(var k=0;k<special_list.length;k++){ %>
                <% if(special_list[k].is_kaipai == 1){ %>
                <a href="special_details.html?special_id=<%=special_list[k].special_id%>" class="col-100">
                    <img src="<%=special_list[k].adv_image_path%>" alt=""/>
                    <div>
                        <div class="content-detail fl">
                            <h1><%=special_list[k].special_name%></h1>
                            <span><%=special_list[k].delivery_mechanism%></span>
                            <!-- 倒计时 -->
                            <span id="special_<%= special_list[k].special_id %>" class="time-remain" count_down="<%=special_list[k].special_remain_date%>">
                                距&nbsp;结&nbsp;束&nbsp;&nbsp;
                                <em time_id="d">01</em>天
                                <em time_id="h">01</em>时
                                <em time_id="m">01</em>分
                                <em time_id="s">01</em>秒
                            </span>
                        </div>
                        <div class="fr"><b><%=special_list[k].all_bid_number%></b>次出价</div>
                    </div>
                </a>
                <% } else if(special_list[k].is_kaipai == 0){ %>
                <a href="special_details.html?special_id=<%=special_list[k].special_id%>" class="col-100">
                    <img src="<%=special_list[k].adv_image_path%>" alt=""/>
                    <div>
                        <div class="content-detail fl">
                            <h1><%=special_list[k].special_name%></h1>
                            <span><%=special_list[k].delivery_mechanism%></span>
                            <span>开始时间&nbsp;&nbsp;<b class="theme-color"><%=special_list[k].special_start_date%></b></span>
                        </div>
                        <div class="fr"><b><%=special_list[k].special_click%></b>次围观</div>
                    </div>
                </a>
                <% } else if(special_list[k].is_kaipai == 2){ %>
                <a href="special_details.html?special_id=<%=special_list[k].special_id%>" class="col-100">
                    <img src="<%=special_list[k].adv_image_path%>" alt=""/>
                    <div>
                        <div class="content-detail fl">
                            <h1><%=special_list[k].special_name%></h1>
                            <span><%=special_list[k].delivery_mechanism%></span>
                            <span>结束时间&nbsp;&nbsp;<b class="theme-color"><%=special_list[k].special_end_date%></b></span>
                        </div>
                        <div class="fr"><b><%=special_list[k].all_bid_number%></b>次出价</div>
                    </div>
                </a>
                <% }%>
            <% }%>
            </div>
            <div class="clear"></div>
        </div>
        <% }%>
    </div>
    <%if(auction_info.auction_bond_rate*100>0){%>
    <%if(auction_info.interest_flag){%>
    <span class="lm_finance_ad_text_1">此作品保证金年收益率<%=auction_info.auction_bond_rate%>%
     <a class="bzjsy" href="../activity/cms_activity.html?cms_id=43">(什么是保证金送收益?)</a>
    <%}else{%>
    <span class="lm_finance_ad_text_1" style="font-size: 10px;background: #666666;color:#fff;">此作品保证金年收益率<%=auction_info.auction_bond_rate%>% 收益已截至
     <a class="bzjsy" href="../activity/cms_activity.html?cms_id=43" style="color:#fff;">(什么是保证金送收益?)</a>
    <%}%>
    </span>
    <%}%>
    <footer class="detail-footer qll_detail-footer">
        <input type="hidden" value="<%= auction_info.auction_id %>" id="auction_id">
        <div class="row no-gutter fl" <% if(relation_info.is_bond == 1 && (auction_info.state == 3 || auction_info.state == 4)){ %> style="width:34%" <% }%> >
            <% if(auction_info.is_kaipai == 1){ %>
                <div class="col-33">
                    <a href="javascript:void(0);" class="kefu">
                        <img src="../../images/footer-01.png" alt=""/>
                        <span>咨询</span>
                    </a>
                </div>
            <% } %>
            <% if(auction_info.is_kaipai == 0 || auction_info.is_kaipai == 1){ %>
                <% if(relation_info.is_remind != 1){ %>
                    <div class="<% if(auction_info.is_kaipai != 1){ %>col-50<% }else{ %>col-33<% }%>">
                        <a href="javascript:;" onclick="set_remind()">
                            <img src="../../images/footer-02.png" alt=""/>
                            <span>提醒</span>
                        </a>
                    </div>
                <% }else{ %>
                    <div class="<% if(auction_info.is_kaipai != 1){ %>col-50 red-bg<% }else{ %>col-33 red-bg<% }%>">
                        <a href="javascript:;" onclick="cancel_remind(<%= relation_info.relation_id %>)">
                            <img src="../../images/footer-02a.png" alt=""/>
                            <span>取消</span>
                        </a>
                    </div>
                <% } %>
            <% } %>
            <% if(auction_info.is_favorate){ %>
            <div class="<% if(auction_info.is_kaipai != 1){ %>col-50<% }else{ %>col-33<% }%> red-bg">
                <a href="javascript:void(0);" class="collect favorate">
                    <img src="../../images/footer-04.png" alt=""/>
                    <span>已收藏</span>
                </a>
            </div>
            <% }else{ %>
            <div class="<% if(auction_info.is_kaipai != 1){ %>col-50<% }else{ %>col-33<% }%>">
                <a href="javascript:void(0);" class="collect">
                    <img src="../../images/footer-03.png" alt=""/>
                    <span>收藏</span>
                </a>
            </div>
            <% }%>
        </div>
        <% if(auction_info.submit_bond_flag){ %>
            <% if(relation_info.is_bond != 1) { %>
                <div class="row no-gutter fr">
                    <div class="col-100 red-bg" style="padding-top: 5px">
                        <a href="./aucution_margin.html?auction_id=<%= auction_info.auction_id %>" style="line-height:0">
                            现在报名<i class="all-block">(保证金金额 ¥<%= auction_info.auction_bond %>)</i>
                        </a>
                    </div>
                </div>
            <% }else{ %>
                <div class="row no-gutter fr" style="width:50%">
                    <% if(auction_info.is_kaipai == 1){ %>
                    <div class="col-50 red-bg"><a href="javascript:;" onclick="bid()">我要出价</a></div>
                    <div class="col-50 gray-bg"><a href="./auction_daili.html?auction_id=<%= auction_info.auction_id %>&is_kaipai=<%= auction_info.is_kaipai %>">设置代理出价</a></div>
                    <% }else{ %>
                    <div class="col-100 gray-bg"><a href="#">未开拍</a></div>
                    <% } %>
                </div>
            <% } %>
        <% }else if(auction_info.is_kaipai == 2){ %>
            <% if (auction_info.is_liupai != 1) { %>
                <div class="row no-gutter fr">
                    <div class="col-100 gray-bg"><a href="#">已结束</a></div>
                </div>
            <% }else{ %>
                <div class="row no-gutter fr">
                    <div class="col-100 gray-bg"><a href="#">已结束</a></div>
                </div>
            <% } %>
        <% }else{ %>
            <div class="row no-gutter fr">
                <div class="col-100 gray-bg"><a href="#">未开拍</a></div>
            </div>
        <% } %>
    </footer>
</script>
<!--分享弹出部分-->
<div class="popup popup-about popup-share">
    <div class="content-inner bdsharebuttonbox" data-tag="share_1">
        <ul class="content-block">
            <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" ></a></li>
            <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
            <li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>
            <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
            <li><a href="#" class="bds_more" data-cmd="copy" title="复制网址"></a></li>
        </ul>
        <div class="clear"></div>
        <a href="javascript:void(0)" class="close-popup">取消分享</a>
    </div>
</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/CountDown.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>

<script type="text/javascript" src="../../js/prism-h5-min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>

<script type="text/javascript" src="../../js/template.js"></script>

<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/iscroll.js"></script>
<script type="text/javascript" src="../../js/tmpl/footer.js"></script>
<script type="text/javascript" src="../../js/fly/requestAnimationFrame.js"></script>
<script type="text/javascript" src="../../js/fly/zepto.fly.min.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/auction_detail_old.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>

</body>
</html>
