<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>出价记录</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <link rel="stylesheet" href="../../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">

</head>
<body class="gray">
<div id="bid_list_html"></div>
<script type="text/html" id="bid_list">
    <div class="auction_detail_history">
        <h2 class="title"><%=count_rows||0%>条</h2>
        <ul class="list">
            <% if(bid_log_list.length > 0) { %>
            <% for(var i=0;i< bid_log_list.length;i++){ %>
            <li>
                <span class="name"><i class="iconfont icon-shouji"></i><%=bid_log_list[i].member_name%></span>
                <span class="state"><% if(i==0){ %><span style="color: #cf9900">领先</span><% }else{ %><span>出局</span><% }%></span>
                <!--<span class="time">05.11</span>-->
                <span class="date"><%=bid_log_list[i].created_at%></span>
                <span class="price">¥<%=bid_log_list[i].offer_num%></span>
            </li>
            <%}}%>
        </ul>
    </div>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_bid_log.js"></script>

</body>
</html>