<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>拍卖详情</title>

  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">

</head>
<body style="padding-bottom: 60px;">

<div id="auction_detail_html"></div>
<script type="text/html" id="auction_detail">
  <!--本场是否存在收益-->
  <%var BOND_FLAG = auction_info.bond_flag;%>

  <!--当前页面定义 拍卖状态-->
  <%var FLAG = 4;%>
  <%if(BOND_FLAG && auction_info.interest_flag && auction_info.is_kaipai == 0 ){ FLAG=1;%>
  <!--距离收益开始-->
  <%}else if((auction_info.is_kaipai == 0 && !auction_info.interest_flag) || (auction_info.interest_flag && auction_info.is_kaipai == 0 && relation_info)){ FLAG=2;%>
  <!--距离开始—认筹期结束-->
  <%}else if(auction_info.is_kaipai == 1 && auction_info.auctioning_time > 0){ FLAG=3;%>
  <!--距离结束-->
  <%}else{ FLAG=4;%>
  <!--已经结束-->
  <%}%>

  <%if(FLAG===1||FLAG===2){%>
  <div class="auction_detail_top <%=FLAG===1?'red_ing':''%>">
    <div class="cutedown" data-date="<%=FLAG===1?auction_info.interest_time_str:auction_info.auction_start_time_str%>"
         data-type="3">
      <%=FLAG===1?'距赠送收益截止':'距开始'%>
      <div class="cutedown_con"></div>
    </div>
    <i class="iconfont icon-naozhong remind <%=relation_info.is_remind != 1?'':'active'%>"></i>
  </div>
  <%}else if(FLAG===3){%>
  <div class="auction_detail_top star_ing">
    <div class="cutedown" data-date="<%=auction_info.auction_end_time_str%>" data-type="3">
      距结束
      <div class="cutedown_con"></div>
    </div>
    <i class="iconfont icon-naozhong remind <%=relation_info.is_remind != 1?'':'active'%>"></i>
  </div>
  <%}%>

  <%if((FLAG===1||FLAG===2||FLAG===3)&& BOND_FLAG && auction_info.auction_bond_rate*100>0 ){%>
  <a class="bzjsy_top" href="../activity/cms_activity.html?cms_id=43"><%=FLAG===1&&auction_info.interest_flag?'':'赠送收益已截止'%> 什么是保证金送收益<i
      class="iconfont icon-gantan"></i></a>
  <%}%>

  <div class="swiper-container pub_banner auction_detail_banner">
    <div class="swiper-wrapper openBigImg">
      <% var auction_image = auction_info.goods_image_mobile;%>
      <a href="javascript:void(0);" class="swiper-slide"><img src="<%=auction_info.auction_image_path%>" alt=""/></a>
      <%if(auction_image&&auction_image.length>0){%>
      <% for (var i =0;i< auction_image.length;i++){ %>
      <a href="javascript:void(0);" class="swiper-slide"><img src="<%=auction_image[i]%>" alt=""/></a>
      <% } %>
      <% } %>
    </div>
    <div class="swiper-pagination auction_detail_pagination"></div>
    <%if(BOND_FLAG && auction_info.auction_bond_rate*100>0 && FLAG!==4){%>
    <%if(auction_info.auction_type == 1){%>
    <div class="novice" style="z-index: 9;">新手体验标</div>
    <%}%>
    <div class="profit <%=FLAG===1?'':'gray_profit'%>">
      奖励金年化率<b><%=auction_info.auction_bond_rate||0.00%></b>% 期限<b><%=auction_info.bond_day||0%></b>天
    </div>
    <%}%>
  </div>

  <div class="auction_detail_info">
    <h2 class="title"><%=auction_info.auction_name%> </h2>
    <div class="auction_detail_info_con">
      <div class="left">
        <span class="start_price">
          参考价：<b>￥<%=auction_info.goods_marketprice%></b><br>
          当前价：<b>￥<%=auction_info.current_price%></b>
        </span>
        <div class="other_info">
          <span><i class="iconfont icon-chakan"></i><%=auction_info.auction_click%></span>
          <span><i class="iconfont icon-icon-test"></i><%=auction_info.num_of_applicants%></span>
        </div>
      </div>
      <div class="right">
        <a href="http://html.ecqun.com/kf/sdk/openwin.html?corpid=7142567&cstype=rand&mode=0&cskey=VoymgkMzoHSFcbFhy3&scheme=0" class="kefu"><i class="iconfont icon-weixin-copy"></i></a>
        <a href="javascript:void(0);" class="collect <%=auction_info.is_favorate?'active':''%>"><i class="iconfont icon-guanzhu1"></i></a>
        <!--<a href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>-->
      </div>
    </div>
  </div>

  <div class="auction_detail_authInfo">
    <div class="left">
      <h3 class="name"><%=auction_info.store_name%></h3>
      <ul class="taglist">
        <%if(auction_info.auction_attr&&auction_info.auction_attr.length>0){ var item = auction_info.auction_attr;%>
        <%for(var i = 0;i< item.length;i++){%>
        <li><%=item[i]['0']%>：<%=item[i]['1']%></li>
        <%}}%>
      </ul>
    </div>
    <a href="../store.html?store_id=<%=auction_info.store_id%>" class="right">
      <img src="<%=auction_info.store_avatar%>" alt="">
    </a>
  </div>

  <div class="auction_detail_result">
    <span>起拍价：<b>¥<%=auction_info.auction_start_price%></b></span>
    <span>加价幅度：<b>¥<%=auction_info.auction_increase_range%></b></span>
    <span>保证金：<b>¥<%=auction_info.auction_bond%></b></span>
    <span>延时周期：<i><%=auction_info.delayed_time%>分钟／次</i></span>
  </div>

  <div class="auction_detail_history">
    <a href="auction_bid_log.html?auction_id=<%= auction_info.auction_id %>" class="top_title"><span>拍卖记录 | <%=auction_info.bid_number%>条</span><i
        class="iconfont icon-xiangyoujiantou"></i></a>
    <ul class="list">
      <% if(bid_log_list.length > 0){ %>
      <% for(var i=0;i< bid_log_list.length;i++){ %>
      <li>
        <span class="name"><i class="iconfont icon-shouji"></i><%=bid_log_list[i].member_name%></span>
        <span class="state"><% if(i==0){ %><span
            style="color: #cf9900">领先</span><% }else{ %><span>出局</span><% }%></span>
        <!--<span class="time">05.11</span>-->
        <span class="date"><%=bid_log_list[i].created_at%></span>
        <span class="price">¥<%=bid_log_list[i].offer_num%></span>
      </li>
      <%}}%>
    </ul>
  </div>

  <div class="auction_detail_panel pub_detail_panel">
    <%= auction_info.mobile_body%>
  </div>

  <%if(recommend_list.auction && recommend_list.auction.length>0){ %>
  <div class="pub_title mtb15">
    <div class="pub_left_title"></div>
    <div class="pub_center_title">其他拍品</div>
    <div class="pub_right_title"></div>
  </div>

  <div class="pub_lm_list other_list">
    <ul>
      <%for(var i=0;i< recommend_list.auction.length;i++){ var item = recommend_list.auction[i];%>
      <li>
        <a href="auction_detail.html?auction_id=<%=item.auction_id%>" class="pub_lm_list_img">
          <img src="<%=item.auction_image_path%>" alt="">
        </a>
        <div class="pub_lm_list_bottom">
          <div class="pub_lm_list_left">
            <h3 class="lm_title"><%=item.auction_name%></h3>
            <div class="list_info">
              <span class="price">当前价：¥<%=item.current_price%></span>
            </div>
          </div>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
  <%}%>

  <%if(FLAG!==4 && ( !relation_info.is_bond || relation_info.is_bond==0 )){ %>
  <a href="./auction_margin.html?auction_id=<%= auction_info.auction_id %>" class="auction_detail_bottom <%=FLAG===3?'star_ing':''%>">
  <!-- 结束后 或者已提交保证金的情况下除外，其他时间展示提交保证金-->
    提交保证金
  </a>
  <%}else if(FLAG!==4&&relation_info.is_bond==2){ %>
  <a href="./auction_margin.html?auction_id=<%= auction_info.auction_id %>" class="auction_detail_bottom <%=FLAG===3?'star_ing':''%>">
  <!-- 创建了保证金订单,未完成支付-->
    继续支付保证金
  </a>
  <%}else if(auction_info.is_kaipai == 0 && relation_info.is_bond == 1){ %>
  <!--提交保证金了，但是拍卖还没有开始，展示等待拍卖开始-->
  <div class="auction_detail_bottom">
    等待拍卖开始
  </div>
  <%}else if(FLAG===3 && relation_info && relation_info.is_bond == 1){ %>
  <!--提交保证金了 且 已经开始了 显示出价-->
  <div class="auction_detail_bottom chujia">
    <a class="offer" href="#">出价</a>
    <a class="agent" href="./auction_daili.html?auction_id=<%= auction_info.auction_id %>&is_kaipai=<%= auction_info.is_kaipai %>"><i class="iconfont icon-jiqiren"></i>代理机器人出价</a>
  </div>
  <%}else{ %>
  <div class="auction_detail_bottom end">
    已结束
  </div>
  <%}%>


  <div class="auction_detail_mask lm_hidden">
    <div class="buy_num_con">
      <div class="minus iconfont icon-jian"></div>
      <input type="tel" class="buy_num" id="buy_num" data-min="<%=auction_info.auction_bond %>">
      <div class="add iconfont icon-jia01"></div>
      <div class="auction_detail_mask_close"><i></i></div>
    </div>
  </div>
  <input type="hidden" value="<%= auction_info.auction_id %>" id="auction_id">
</script>



<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_detail.js"></script>

</body>
</html>