<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>设置代理价</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="gray-bg">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:;" onclick="history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <h1 class="title">代理价</h1>
</header>
<div class="content detail">
    <div class="clear"></div>
    <div class="list-block" id="auction_daili_html">

    </div>
</div>
<script type="text/html" id="auction_daili">
    <ul>
        <li class="item-content" style="border: none">
            <div class="item-inner">
                <div class="item-title">
                    <% if (is_agent == 1) { %>
                    <h1>您当前设置的代理出价为&nbsp;&nbsp;<b class="theme-color" style="font-weight: bold">&yen;&nbsp;<%= agent_num %></b></h1>
                    <% } else { %>
                    <h1>未设置代理价</h1>
                    <% } %>
                </div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title" style="width: 100%;">
                    <h1>请输入您的代理出价金额&nbsp;<i style="font-size:12px;color:#666 !important">（不低于&nbsp;<font style="color: #800000 !important">¥<%= lowest_price %></font>）</i></h1>
                    <input id="auction_id" value="<%= auction_id %>" type="hidden">
                    <input id="lowest_price" value="<%= lowest_price %>" type="hidden">
                    <input class="all-block" style="width:100%;background: #fcfcfc;border:#d9d9d9 solid 1px;height:28px;margin-top: 8px;" type="number" id="daili"/>
                </div>
            </div>
        </li>
        <li class="item-content" style="margin-top: 10px;">
            <div class="item-inner">
                <div class="item-title" style="white-space:normal">
                    <h1 style="font-size: 16px;">活动提示:</h1>
                    <p class="all-block">
                        1.代理价一旦设置不能下调或取消<br />
                        2.确认后系统将以最小加价幅度代您出价；<br />
                        3.若拍卖结束，当前价未达保留价，且您的代理出价高于保留价，系统将代您出价至保留价促成成交；<br />
                        4.代理出价需不低于当前价两个加价幅度。
                    </p>
                </div>
            </div>
        </li>
    </ul>
</script>
<footer class="detail-footer">
    <div class="row no-gutter" style="width: 100%">
        <div class="col-100 red-bg">
            <a href="javascript:;" onclick="save_daili()" style="color:#fff;line-height:36px;font-size: 18px;">设置代理出价</a>
        </div>
    </div>
</footer>

<!---新增JS-->
<script type="text/javascript" src="../../js/new-demos.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/zepto.min2.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-city-picker.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/tmpl/footer.js"></script>

<script type="text/javascript" src="../../js/addtohomescreen.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_daili.js"></script>
<!--<script>
	addToHomescreen({
		message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
	});
</script>-->
</body>
</html>
