<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>艺诺拍卖</title>
  
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">

</head>
<body class="ptb gray">
<div class="pub_lm_header">
  <a href="./auction_index.html" class="auction_header_left">
    <i class="iconfont icon-jiantouzuo"></i>
  </a>
  <form id="searchFormLm" action="" class="auction_header_search">
    <input type="text" class="inp" id="keyword">
    <button class="btn" id="search_btn">
      <i class="iconfont icon-sousu"></i>
    </button>
  </form>
  <a class="auction_header_msg"></a>
</div>
<div class="auction_list_wrapper">
  <ul class="auction_list_title">
    <li class="active"><a href="#">默认</a></li>
    <li data-type="1"><a href="#">正在拍</a></li>
    <li data-type="3"><a href="#">预展</a></li>
  </ul>
  <ul class="auction_list_con public_rl_list" id="auction_list_con">
  </ul>
</div>

<script type="text/html" id="home_body">
  <%if(auction_list.length>0){%>
  <%for (var i=0;i< auction_list.length;i++){ var item=auction_list[i]%>
  <li>
    <a href="auction_detail.html?auction_id=<%=item.auction_id%>" class="public_rl_left">
      <img src="<%=item.auction_image_path%>" alt="">
    </a>
    <a href="auction_detail.html?auction_id=<%=item.auction_id%>" class="public_rl_right">
      <h3 class="title"><%=item.auction_name%></h3>
      <div class="public_rl_bottom">
        <%if(item.is_kaipai===2&&item.is_liupai==0){%>
        <span class="text">成交价：￥<%=item.current_price%></span>
        <%}else{%>
        <span class="text">起拍价：￥<%=item.auction_start_price%></span>
        <%}%>
        <div class="setting">
          <%if(item.is_kaipai===0){%>
          <span class="state bzj">提交保证金</span>
          <%}else if(item.is_kaipai===1){%>
          <span class="state">拍卖中</span>
          <span class="price_num"><%=item.bid_number%>次出价</span>
          <%}else if(item.is_kaipai===2&&item.is_liupai==0){%>
          <span class="bigText">已成交 </span>
          <span class="price_num"><%=item.bid_number%>次出价</span>
          <%}else if(item.is_kaipai===2&&item.is_liupai==1){%>
          <span class="text bigText">已流拍</span>
          <%}%>

        </div>
        <%if(item.is_kaipai!==2){%>
        <%if(item.is_kaipai===1){%>
        <div class="cutedown" id="auction_<%=item.auction_id%>" data-date="<%=item.auction_remain_date%>" data-type="1">
          距结束
          <%}else if(item.is_kaipai===0){%>
          <div class="cutedown" id="auction_<%=item.auction_id%>" data-date="<%=item.auction_remain_date%>" data-type="1">
            距开始
            <%}else{%>
            <div class="cutedown" id="auction_<%=item.auction_id%>" data-date="0" data-type="1">
              <%}%>
              <div class="cutedown_con">
                <span class="day">00</span>天
                <span class="hours">00</span>时
                <span class="minutes">00</span>分
                <span class="seconds">00</span>秒
              </div>
            </div>
        <%}%>
      </div>
    </a>
  </li>
  <%}%>
  <%}else{%>
    <div class="lm_list_null">
      <div class="null_icon">
        <i></i>
      </div>
      <div class="lm_list_null_con">
        <dl>
          <dt>没有找到任何相关信息</dt>
          <dd>选择或搜索其它拍品分类/名称...</dd>
        </dl>
        <a href="auction_list.html" class="lm_list_null_btn">重新选择</a>
      </div>
    </div>
  <%}%>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_list.js"></script>
</body>
</html>