<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>出价记录</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="stylesheet" type="text/css" href="../../css/base.css">
  <link rel="stylesheet" type="text/css" href="../../css/index.css">
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <!--新增样式-->
  <link rel="stylesheet" href="../../css/sm.min.css">
  <link rel="stylesheet" href="../../css/sm-extend.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/animate.min.css">
  <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="gray-bg">
<header class="bar bar-nav">
  <a class="icon fl" href="javascript:;" onclick="history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
  <h1 class="title">拍卖记录</h1>
</header>
<div class="content detail">
  <div class="clear"></div>
  <div class="list-block" id="bid_list_html">
  </div>
</div>
<script type="text/html" id="bid_list">
  <ul>
    <li class="item-content" style="margin:0 0 10px">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <% if(bid_log_list.length > 0) { %>
        <% for(var i=0; i< bid_log_list.length; i++) { %>
        <tr>
          <td>
            <% if(i == 0) { %>
            <span style="background: #800000">领先</span>
            <% } else { %>
            <span style="background: #898989">出局</span>
            <% } %>
          </td>
          <td><%= bid_log_list[i].member_name %></td>
          <td><%=bid_log_list[i].created_at%></td>
          <td>&yen;<%=bid_log_list[i].offer_num%></td>
        </tr>
        <% } %>
        <% } else { %>
        <tr>
          <td>无人出价</td>
        </tr>
        <% } %>
      </table>
    </li>
  </ul>
</script>


<!---新增JS-->
<script type="text/javascript" src="../../js/new-demos.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/zepto.min2.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-city-picker.min.js" charset="utf-8"></script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/tmpl/footer.js"></script>

<script type="text/javascript" src="../../js/addtohomescreen.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_bid_log.js"></script>
<!--<script>
	addToHomescreen({
		message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
	});
</script>-->
</body>
</html>
