<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>艺诺拍卖</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">

</head>
<body class="ptb" style="padding-top: 0;">
<!--
<div class="pub_lm_header" style="background: none;">
  <a href="../../tmpl/type_list.html" class="auction_header_left">
    <i class="iconfont icon-caidan"></i>
  </a>
  <a href="../../tmpl/search.html" class="auction_header_search">
    <input type="text" class="inp" id="keyword">
    <button class="btn">
      <i class="iconfont icon-sousu"></i>
    </button>
  </a>
  <a href="../../tmpl/member/chat_list.html" class="auction_header_msg" id="auction_header_msg">
    <i class="iconfont icon-iconfontmark"><span class="auction_header_num"></span></i>
  </a>
</div>
-->
<div id="main-container1"></div>
<div id="main-container2"></div>
<div id="main-container"></div>
<script type="text/html" id="adv_list">
  <div class="swiper-container auction_banner pub_banner">
    <div class="swiper-wrapper">
      <% for (var i in item) { %>
      <a href="<%= item[i].url %>" class="swiper-slide"><img src="<%= item[i].image %>" alt=""></a>
      <%}%>
    </div>
    <div class="swiper-pagination auction_banner_pagination"></div>
  </div>
</script>
<!--<script type="text/html" id="sem">-->
  <!--<div class="top-hot-search">-->
    <!--<div class="hot-search swiper-container" style="width:100%;">-->
      <!--<div class="swiper-wrapper">-->
        <!--<style>-->
          <!--.top-hot-search .hot-search .swiper-wrapper .swiper-slide{margin-right:16px !important}-->

        <!--</style>-->
        <!--<% for (var i in item) { %>-->
        <!--<div class="swiper-slide" style="width: 25%"><a href="<%= item[i].url %>" class="<% if(i == 0){%> selected <%}%>"><%= item[i].sem %></a></div>-->
        <!--<% } %>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="clear"></div>-->
  <!--</div>-->

<!--</script>-->
<script type="text/html" id="special">
  <div class="auction_recommend">
    <h2 class="lm_title">推荐拍卖</h2>
    <ul class="pub_tab_title">
      <%for(var i=0;i< special.length;i++){%>
      <li><a href="javascript:void(0);"><%=special[i].title%></a></li>

      <%}%>
    </ul>
    <div class="pub_tab_wrapper">
      <%for(var i=0;i< special.length;i++) {%>
      <div class="pub_tab_con">
        <div class="app_auction">
          <ul>
            <%for(var j in special[i].item){%>
            <%var item=special[i].item[j]%>
            <%if(item.is_kaipai===3){%>
            <li>
              <%}else if(item.special_remain_time_rate===0&&item.is_kaipai===0){%>
            <li class="start_before">
              <%}else if(item.is_kaipai===1){%>
            <li class="star_ing">
              <%}else if(item.is_kaipai===2){%>
            <li class="end">
              <%} else{%>
            <li>
              <%}%>
              <a href="special_details.html?special_id=<%=item.special_id%>" class="top">
                <div class="left ">
                  <h3 class="title textOverflow"><%=item.special_name%></h3>
                  <span class="collect"><i class="iconfont icon-chakan"></i><%=item.special_click||0%>人围观</span>
                  <%if(item.is_kaipai===1||item.is_kaipai===2){%>
                  <span class="joiner">已出价<%=item.all_bid_number||0%>人次</span>
                  <%}%>
                </div>
                <!--1拍卖进行中；2：拍卖已结束；3：认筹中；special_remain_time_rate===0认筹结束-->
                <%if(item.is_kaipai!==2){%>
                <%if(item.is_kaipai===3&&item.special_rate*100>0){%>
                <div class="cutedown small_screen" data-date="<%=item.special_remain_time_rate%>">
                  距赠送收益截止
                  <%}else
                  if((item.special_remain_time_rate===0&&item.is_kaipai===0)||(item.special_rate*100<=0&&((item.special_remain_time_rate===0&&item.is_kaipai===0)||item.is_kaipai===3))){%>
                  <div class="cutedown" data-date="<%=item.special_remain_time_start%>">
                    距开始
                    <%}else if(item.is_kaipai===1){%>
                    <div class="cutedown" data-date="<%=item.special_remain_time_end%>">
                      距结束
                      <%}else{%>
                      <div class="cutedown">
                        <%}%>
                        <div class="cutedown_con"></div>
                      </div>
                      <%}else{%>
                      <div class="result">
                        <span>总成交额： ￥<%=item.all_price||0%></span>
                        <span>总成交量： <%=item.jian_num||0%>件</span>
                      </div>
                      <%}%>
                      <!--判断结束-->
              </a>
              <a href="special_details.html?special_id=<%=item.special_id%>" class="middle">
                <img src="<%=item.wap_image_path%>" alt="">
                <%if(item.is_kaipai===2){%>
                <span class="text">已结束</span>
                <%}%>
                <%if(item.special_rate*100>0){%>
                <%if(item.special_type == 1){%>
                <div class="novice">新手体验标</div>
                <%}%>
                <div class="profit">
                  奖励金年化率<b><%=item.special_rate||0.00%></b>% 期限<b><%=item.day_num||0%></b>天
                </div>
                <%}%>
              </a>
              <div class="bottom">
                <a href="special_details.html?special_id=<%=item.special_id%>" class="avgater">
                  <div class="img">
                    <img src="<%=item.store_logo%>" alt="">
                  </div>
                  <span class="text">
            出品方：<%=item.delivery_mechanism%>
          </span>
                </a>
                <%if(item.is_kaipai!==3&&item.special_rate*100>0){%>
                <span class="text">赠送收益已截止</span>
                <a class="bzjsy" href="../../tmpl/activity/cms_activity.html?cms_id=43">什么是保证金送收益?</a>
                <%}%>
              </div>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
      <%}%>
    </div>
  </div>
</script>
<script type="text/html" id="auctions">
  <%if(item){%>
  <div class="pub_title mtb15">
    <div class="pub_left_title"></div>
    <div class="pub_center_title"><%=title%></div>
    <div class="pub_right_title">
      <a href="/wap/tmpl/auction/auction_list.html">more <img src='../../images/lm/more_hui.png' alt=""></a>
    </div>
  </div>
  <div class="pub_lm_list">
    <ul>
      <%for(var i=0;i< item.length;i++){%>
      <%var list=item[i];%>
      <li>
        <a href="auction_detail.html?auction_id=<%= list.auction_id %>" class="pub_lm_list_img">
          <img src="<%=list.auction_image%>" alt="">
        </a>
        <div class="pub_lm_list_bottom">
          <div class="pub_lm_list_left">
            <h3 class="lm_title"><%=list.auction_name%></h3>
            <div class="list_info">
              <span class="price">当前价格：¥<%=list.current_price%></span>
              <span class="auction_price"><%=list.bid_number%>次出价</span>
            </div>
          </div>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
  <%}%>
</script>


<script type="text/html" id="profit_activity">
  <div class="profit_activity_wrapper">
    <h2 onclick="window.location.href='../../tmpl/activity/profit_activity.html'" class="lm_title">收益专场<a
        href="../../tmpl/activity/profit_activity.html">more <img src='../../images/lm/more_hui.png' alt=""></a></h2>
    <div class="app_auction">
      <ul>
        <%if(list&&list.length){%>
        <%for (var j = 0;j < list.length ;j++){ var item = list[j];%>
        <li>
          <div href="../../tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="top">
            <div class="left ">
              <h3 class="title textOverflow"><%=item.special_name%></h3>
              <span class="collect"><i class="iconfont icon-chakan"></i><%=item.special_click||0%>人围观</span>
            </div>
            <div class="cutedown small_screen" data-date="<%=item.special_remain_rate_time%>">
              距赠送收益截止
              <div class="cutedown_con"></div>
            </div>
            <!--判断结束-->
          </div>
          <a href="../../tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="middle">
            <img src="<%=item.wap_image_path%>" alt="">
            <%if(item.special_type == 1){%>
            <div class="novice">新手体验标</div>
            <%}%>
            <div class="profit">
              奖励金年化率<b><%=item.special_rate||0%></b>% 期限<b><%=item.day_num||0%></b>天
            </div>
          </a>
          <div class="bottom">
            <a href="../../tmpl/auction/special_details.html?special_id=<%=item.special_id%>`" class="avgater">
              <div class="img">
                <img src="<%=item.store_logo%>" alt="">
              </div>
              <span class="text">
            出品方：<%=item.store_name%>
          </span>
            </a>
          </div>
        </li>
        <%}}%>
      </ul>
    </div>
  </div>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_index.js"></script>
</body>
</html>