<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="Author" contect="U2FsdGVkX1+liZRYkVWAWC6HsmKNJKZKIr5plAJdZUSg1A==">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>拍卖列表</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_products_list.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
    <style>
        .top-hot-search .hot-search .swiper-wrapper .swiper-slide{padding: 0 6px}
        .top-hot-search .hot-search .swiper-wrapper .swiper-slide a{line-height: 36px;}
    </style>
</head>
<body class="gray-bg">
<header id="header" class="bar bar-nav">
    <a class="icon fl" href="javascript:history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <!--<a class="icon fr open-popup" data-popup=".popup-share" href="javascript:void(0)"><img src="../../images/top-share.png" width="22" height="20" alt=""/></a>-->
    <a class="icon fr" id="header-nav" href="javascript:void(0);" >搜索</a>
    <form class="title">
        <i class="icon"></i>
        <input id="keyword" class="fl search-input" type="text" autocomplete="off" placeholder="请输入关键字">
    </form>
</header>
<body>
<div class="top-hot-search">
    <div class="hot-search-name"><img src="../../images/hot-search.jpg" alt=""/></div>
    <div class="hot-search swiper-container fr" style="overflow-x:scroll">
        <div class="swiper-wrapper" id="search_list_html"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-box-02 content-tab" id="nav_ul">
    <div class="title-name">
		<a href="javascript:void(0); " onclick="init_get_list('', '')" class="actived"><h1>默认</h1><span class="tab-selected"></span></a>
        <a href="javascript:void(0); " onclick="init_get_list('2', '1')"><h1>最新</h1><span class="tab-selected"></span></a>
        <a href="javascript:void(0); " onclick="init_get_list('2', '2')"><h1>出价<span></span></h1><span class="tab-selected"></span></a>
        <a href="javascript:void(0); " onclick="init_get_list('2', '3')"><h1>价格<span></span></h1><span class="tab-selected"></span></a>
    </div>
    <div class="clear"></div>
    <div class="row no-gutter" id="auction_list" style="margin-top: 1px"></div>
    <div class="clear"></div>
</div>
<!--分享弹出部分-->
<div class="popup popup-about popup-share">
    <div class="content-inner bdsharebuttonbox" data-tag="share_1">
        <ul class="content-block">
            <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" ></a></li>
            <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
            <li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>
            <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
            <li><a href="#" class="bds_more" data-cmd="copy" title="复制网址"></a></li>
        </ul>
        <div class="clear"></div>
        <a href="javascript:void(0)" class="close-popup">取消分享</a>
    </div>
</div>
<footer id="footer"></footer>
<script type="text/html" id="search_list">
    <% if(search_list.length > 0){ %>
    <% for(var z=0;z<search_list.length;z++){ %>
    <div class="swiper-slide"><a href="<%=$buildUrl('auction',search_list[z].value)%>"><%=search_list[z].value%></a></div>
    <% }%>
    <% }%>
</script>
<script type="text/html" id="home_body">
<% if(auction_list.length > 0){ %>
<% for(var i=0;i<auction_list.length; i++){ %>
<% if(auction_list[i].is_kaipai == 1){ %>
<a href="auction_detail.html?auction_id=<%=auction_list[i].auction_id%>" class="col-50">
    <img src="<%=auction_list[i].auction_image_path%>" alt=""/>
    <div class="content-detail">
        <h1><%=auction_list[i].auction_name%></h1>
        <span class="theme-color">当前价&nbsp;&yen;<%=auction_list[i].current_price%></span>
        <span class="count-time" id="auction_<%=auction_list[i].auction_id%>" count_down="<%=auction_list[i].auction_remain_date%>">距结束&nbsp;<em time_id="d">01</em>天<em time_id="h">01</em>时<em time_id="m">01</em>分<em time_id="s">01</em>秒</span>
    </div>
    <div class="fixed-box" style="top:60%;border-left:none">
        <span style="background:#000000;"><b class="all-block"><%=auction_list[i].bid_number%></b>次出价</span>
    </div>

    <div class="fixed-box" style="bottom:5%;">
        <img src="../../images/index-offer.jpg" alt=""/>
    </div>
</a>
<% }else if(auction_list[i].is_kaipai == 0){%>
<a href="auction_detail.html?auction_id=<%=auction_list[i].auction_id%>" class="col-50">
    <img src="<%=auction_list[i].auction_image_path%>" alt=""/>
    <div class="content-detail">
        <h1><%=auction_list[i].auction_name%></h1>
        <span class="theme-color">起拍价&nbsp;<b>&yen;<%=auction_list[i].auction_start_price%></b></span>
        <span>开拍时间&nbsp;<%=auction_list[i].auction_start_date%></span>
    </div>
    <div class="fixed-box" style="top:60%;border-left:none">
        <span style="background:#800000;"><b class="all-block"><%=auction_list[i].auction_click%></b>次围观</span>
    </div>
    <div class="fixed-box" style="bottom:5%;">
        <img src="../../images/index-remind.jpg" alt=""/>
    </div>
</a>
<% } else if(auction_list[i].is_kaipai == 2){%>
<a href="auction_detail.html?auction_id=<%=auction_list[i].auction_id%>" class="col-50">
    <%if(auction_list[i].is_liupai == 1){%>
    <i class="liupai"></i>
    <%}else{%>
    <i class="yichengjiao"></i>
    <%}%>
    <img src="<%=auction_list[i].auction_image_path%>" alt=""/>
    <div class="content-detail">
        <h1><%=auction_list[i].auction_name%></h1>
        <span class="theme-color">成交价&nbsp;&yen;<%=auction_list[i].current_price%></span>
        <span>结束时间&nbsp;<%=auction_list[i].auction_end_date%></span>
    </div>
    <div class="fixed-box" style="top:60%;border-left:none">
        <span style="background:#818181;"><b class="all-block"><%=auction_list[i].bid_number%></b>次出价</span>
    </div>
</a>
<% }%>
<% }%>
<% if (hasmore) {%>
<li class="loading"><div class="spinner"><i></i></div>拍品数据读取中...</li>
<% } %>
<% }else{ %>
<div class="nctouch-norecord search mt0">
    <div class="norecord-ico"><i></i></div>
    <dl>
        <dt>没有找到任何相关信息</dt>
        <dd>选择或搜索其它拍品分类/名称...</dd>
    </dl>
    <a href="auction_list.html" class="btn" style="position:initial;float:none">重新选择</a>
</div>
<% }%>
</script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/auction_common.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/auction_list_old.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</html>