<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>提交保证金</title>

  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../../css/agreement.css">
  <style type="text/css">
    .nctouch-pay label span.lklpay {
      background-image: url(../../images/lklpay.png);
    }
    .auction_margin .auction_margin_pay_list{font-size: 1.2rem;width: 100%;height: 35px;border: solid #cccccc;border-width: 0 1px 1px 1px}
    .auction_margin .auction_margin_pay_list .left,.chose_list div{float: left}
    .auction_margin .auction_margin_pay_list .right{padding: 7px 5px 0 0;float: right;}
  </style>
</head>
<body class="gray" style="padding-bottom: 6rem;">
<div id="margin_num"></div>
<script type="text/html" id="margin_num_html">
  <div class="auction_margin">
    <div class="auction_margin_top">
      <div class="minus iconfont icon-jian"></div>
      <input type="tel" class="buy_num" id="buy_num" data-min="<%= auction_bond %>">
      <div class="add iconfont icon-jia01"></div>
    </div>
    <div class="auction_margin_tip">
      <h3 class="title">保证金收益</h3>
      <p>保证金收益是艺诺网最新推出的保证金增值服务，参与拍卖时支付保证金就可获得一定的收益，收益率是按照<b>年化收益5%-15%</b>计算，
        （具体收益率根据拍品情况而定）保证金和保证金收益可随时用于拍品结束时抵扣货款或拍卖结束后返回到个人账户，并可用于商城消费或提现。支持艺诺账户余额支付、储蓄卡的资金转入。目前不收取任何手续费。</p>
      <% if(auction_type == 1){ %><p style="color:red" >注:新手标拍品赠送收益仅限用户首次支付保证金才可享受.</p><% } %>
    </div>
    <div class="auction_margin_type">
      <div class="chose">
        <div class="left">
          <i class="iconfont icon-187zhifufangshi"></i>
          <span class="text">支付方式</span>
        </div>
      </div>
      <div class="auction_margin_pay_list" style="height: 36px;border-width: 1px">
        <div id="online" class="chose_list active " pay_name="online">
          <div style="padding: 8px 8px 0;">
            <i class="iconfont icon-yuandian"></i>
          </div>
          <div style="padding: 12px 0 0;">
            <span class="text">在线支付</span>
          </div>
        </div>
        <div class="left" style="padding: 12px 0 0 20px;">
          <span class="get_agreement_btn" g_type="bankcard" style="color: #FC1010;">大额支付说明！</span>
        </div>
        <div class="right"><i class="iconfont icon-danjiantou"></i></div>
      </div>
      <div class="auction_margin_pay_list">
        <div id="tl_pay" class="chose_list " pay_name="tl_pay">
          <div style="padding: 8px 8px 0;">
            <i class="iconfont icon-yuand"></i>
          </div>
          <div style="padding: 12px 0 0;">
            <span class="text">通联支付</span>
          </div>
        </div>
        <div class="left" style="padding: 12px 0 0 20px;">
          <span class="get_agreement_btn" g_type="bankcard" style="color: #FC1010;">线下扫码！</span>
        </div>
        <div class="right"><i class="iconfont icon-danjiantou"></i></div>
      </div>
      <div class="auction_margin_pay_list">
        <div id="underline" class="chose_list" pay_name="underline">
          <div style="padding: 8px 8px 0;">
            <i class="iconfont icon-yuand"></i>
          </div>
          <div style="padding: 12px 0 0;">
            <span class="text">线下支付</span>
          </div>
        </div>
        <div class="left" style="padding: 12px 0 0 20px;">
            <span class="get_agreement_btn" g_type="underline_pay_prize" style="color: #FC1010;">线下支付，送豪礼！</span>
        </div>
        <div class="right"><i class="iconfont icon-danjiantou"></i></div>
      </div>
      <div class="agreement">
        <div class="agreement_btn active">
          <i class="iconfont icon-yuand"></i>
          <span class="text">竟拍需同意艺诺拍卖竞拍协议</span>
        </div>
        <a href="javascript:void (0);" class="get_agreement_btn" g_type="caution_money">《拍卖保证金协议》</a>
      </div>
    </div>
  </div>

</script>
<div class="agreement_bottom">
</div>
<div class="agreement_content" id="withdrawalsAagreementHtml">

</div>
<script type="text/html" id="withdrawalsAagreement">
  <h1>
    <%=title%>
    <div class="qll_close">
      <img src="../../images/qll_close.png" alt="">
    </div>
  </h1>
  <div class="agreement_detail">
  </div>
</script>

<div class="auction_margin_bottom" id="ToBuyStep2">
  提交保证金
</div>
<!--底部总金额固定层End-->
<div class="nctouch-bottom-mask">
  <div class="nctouch-bottom-mask-bg"></div>
  <div class="nctouch-bottom-mask-block">
    <div class="nctouch-bottom-mask-tip"><i></i>点击此处返回</div>
    <div class="nctouch-bottom-mask-top">
      <p class="nctouch-cart-num">本次交易需在线支付<em id="onlineTotal">0.00</em>元</p>
      <p style="display:none" id="isPayed"></p>
      <a href="javascript:void(0);" class="nctouch-bottom-mask-close"><i></i></a></div>
    <div class="nctouch-inp-con nctouch-inp-cart">
      <ul class="form-box" id="internalPay">
        <p class="rpt_error_tip" style="display:none;color:red;"></p>

        <li class="form-item" id="wrapperUseRCBpay">
          <div class="input-box pl5" style="margin: 0">
            <label>
              <input type="checkbox" class="checkbox" id="useRCBpay" autocomplete="off"/>
              使用充值卡支付 <span class="power"><i></i></span> </label>
            <p>可用充值卡余额 ￥<em id="availableRcBalance"></em></p>
          </div>
        </li>
        <li class="form-item" id="wrapperUsePDpy">
          <div class="input-box pl5" style="margin: 0">
            <label>
              <input type="checkbox" class="checkbox" id="usePDpy" autocomplete="off"/>
              使用预存款支付 <span class="power"><i></i></span> </label>
            <p>可用预存款余额 ￥<em id="availablePredeposit"></em></p>
          </div>
        </li>
        <li class="form-item" id="wrapperPaymentPassword" style="display:none">
          <div class="input-box" style="margin: 0"><span class="txt">输入支付密码</span>
            <input type="password" class="inp fr" id="paymentPassword" autocomplete="off"/>
            <span class="input-del"></span></div>
          <a href="../member/member_paypwd_step1.html" class="input-box-help" style="display:none"><i>i</i>尚未设置</a></li>
      </ul>
      <div class="nctouch-pay">
        <div class="spacing-div"><span>在线支付方式</span></div>
        <style>
          .pay-sel label {
            position: relative;
          }

          .pay-sel span {
            z-index: 9;
          }
          .pay-sel input {
            -webkit-appearance: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            /*background: red;*/
            display: block !important;
            content: '';
            border-radius: 0;
            z-index: 10;
          }
        </style>
        <div class="pay-sel">
          <label style="display:none">
            <input type="radio" name="payment_code" class="checkbox" id="alipay" autocomplete="off"/>
            <span class="alipay">支付宝</span></label>
          <label style="display:none">
            <input type="radio" name="payment_code" class="checkbox" id="lklpay" autocomplete="off"/>
            <span class="lklpay">拉卡拉快捷支付</span></label>
          <label style="display:none">
            <input type="radio" name="payment_code" class="checkbox" id="wxpay_jsapi" autocomplete="off"/>
            <span class="wxpay">微信</span></label>
          <label style="display:none">
            <input type="radio" name="payment_code" class="checkbox" id="wxpay" autocomplete="off"/>
            <span class="wxpay">微信</span></label>
        </div>
      </div>
      <div class="pay-btn"><a href="javascript:void(0);" id="toPay" class="btn-l">确认支付</a></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/tmpl/order_payment_auction.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_margin.js"></script>
<script type="text/javascript" src="../../js/tmpl/agreement.js"></script>
</body>
</html>