<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>专场拍卖详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="gray-bg">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <a class="icon fr open-popup" data-popup=".popup-share" href="javascript:void(0)"><img src="../../images/top-share.png" width="22" height="20" alt=""/></a>
    <h1 class="title">专场拍卖</h1>
</header>
<div id="special_detail_html"></div>
<script type="text/html" id="special_detail">
<div class="auction-top">
    <img src="<%=special_info.adv_image_path%>" alt=""/>
    <div>
        <h1><%=special_info.special_name%></h1>
        <% if(special_info.SpecialEndTime){ %>
         <span>正在进行&nbsp;&nbsp;&nbsp;<%=special_info.SpecialEndTime%>&nbsp;&nbsp;结束</span>
        <% }%>
        <% if(special_info.SpecialPreviewTime){ %>
        <span>预展中&nbsp;&nbsp;&nbsp;<%=special_info.SpecialPreviewTime%>&nbsp;&nbsp;开始</span>
        <% }%>
        <div style="width:100%;height:1px;width: 100%;height: 1px;margin: 0;padding: 0;border: 0;"></div>
        <span class="lm_finance_ad_text">此专场作品保证金年收益率<%=special_info.special_rate%>%</span>
        <%if(special_info.is_jigou_show == 1){ %><a href="store_vendue.html?store_id=<%=special_info.store_id%>" class="all-block">进入机构</a><% }%>
    </div>
</div>
<div class="content-box-02">
    <div class="row no-gutter">
        <% var goods_list = special_goods_list; %>
        <% if(goods_list.length >0){%>
        <%for(i=0;i<goods_list.length;i++){%>
        <% if(goods_list[i].is_kaipai == 1){ %>
        <a href="auction_detail.html?auction_id=<%=goods_list[i].auction_id%>" class="col-50">
            <img class="qll_auction_detail_img" src="<%=goods_list[i].auction_image_path%>" alt=""/>
            <div class="content-detail">
                <h1><%=goods_list[i].auction_name%></h1>
                <span class="theme-color">当前价&nbsp;<b>&yen;<%=goods_list[i].current_price%></b></span>
                <span class="count-time settime" endtime="<%=goods_list[i].auction_end_time%>"><em time_id="d">0</em>日<em time_id="h">0</em>时<em time_id="m">0</em>分<em time_id="s">0</em>秒</span>
            </div>
            <div class="fixed-box" style="top:60%;border-left:none">
                <span style="background:#000000;"><b class="all-block"><%=goods_list[i].bid_number%></b>次出价</span>
            </div>
            <div class="fixed-box" style="bottom:5%;">
                <img src="../../images/index-offer.jpg" alt=""/>
            </div>
        </a>
        <% }else if(goods_list[i].is_kaipai == 0){ %>
        <a href="auction_detail.html?auction_id=<%=goods_list[i].auction_id%>" class="col-50">
            <img class="qll_auction_detail_img" src="<%=goods_list[i].auction_image_path%>" alt=""/>
            <div class="content-detail">
                <h1><%=goods_list[i].auction_name%></h1>
                <span class="theme-color">起拍价&nbsp;<b>&yen;<%=goods_list[i].auction_start_price%></b></span>
                <span>开始时间&nbsp;<%=goods_list[i].auction_start_date%></span>
            </div>
            <div class="fixed-box" style="top:60%;border-left:none">
                <span style="background:#800000;"><b class="all-block"><%=goods_list[i].auction_click%></b>次围观</span>
            </div>
            <div class="fixed-box" style="bottom:5%;">
                <img src="../../images/index-remind.jpg" alt=""/>
            </div>
        </a>
        <% } else if(goods_list[i].is_kaipai == 2){%>
        <a href="auction_detail.html?auction_id=<%=goods_list[i].auction_id%>" class="col-50">
            <%if(goods_list[i].is_liupai == 1){%>
            <i class="liupai"></i>
            <%}else{%>
            <i class="yichengjiao"></i>
            <%}%>
            <img class="qll_auction_detail_img" src="<%=goods_list[i].auction_image_path%>" alt=""/>
            <div class="content-detail">
                <h1><%=goods_list[i].auction_name%></h1>
                <span class="theme-color">成交价&nbsp;<b>&yen;<%=goods_list[i].current_price%></b></span>
                <span>结束时间&nbsp;<%=goods_list[i].auction_end_date%></span>
            </div>
            <div class="fixed-box" style="top:60%;border-left:none">
                <span style="background:#818181;"><b class="all-block"><%=goods_list[i].bid_number%></b>次出价</span>
            </div>

        </a>
        <% }%>
        <% } %>
        <% } else{%>
        <div class="nctouch-norecord order">
            <div class="norecord-ico"><i></i></div>
            <dl>
                <dt>此专场还没有相关的拍品</dt>
            </dl>
        </div>
        <% }%>
    </div>
    <div class="clear"></div>
</div>
</script>
<!--分享弹出部分-->
<!--<div class="popup popup-about popup-share">-->
    <!--<div class="content">-->
        <!--<div class="content-inner">-->
            <!--<div class="bdsharebuttonbox">-->
                <!--<ul class="content-block">-->
                    <!--<li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>-->
                    <!--<li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>-->
                    <!--<li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>-->
                    <!--<li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>-->
                    <!--<li><a href="#" class="bds_more" data-cmd="more"></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="clear"></div>-->
            <!--<a href="javascript:void(0)" class="close-popup">取消分享</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/special_details_old.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>

</body>
</html>
