<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title class="special_details_title"></title>
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" href="../../css/lm/activity.css">
  <style>
    .special_profit{height: 100px;width: 100%;background: #f5f5f5;padding: 25px 33px;border-bottom: #eaeaea 2px solid;font-size: 14px;}
    .special_profit a{display: block;text-align: right;color: #b0b0b0;}
    .profit_img img{width: 100%;}
    .profit_img img:last-child{margin-top: -1px;}
  </style>
</head>
<body class="gray" style="padding: 0 0 56px;">
<div id="special_detail_html"></div>

<script type="text/html" id="special_detail">
  <% var FLAG=0;%>
  <%if(special_info.is_kaipai===3) {FLAG=1;%>
  <!--认筹中-->
  <%}else if(special_info.special_remain_time_rate===0&special_info.is_kaipai===0) { FLAG=2;%>
  <!--据开始-认筹结束-->
  <%}else if(special_info.is_kaipai===1) { FLAG=3;%>
  <!--拍卖进行中-->
  <%}else if(special_info.is_kaipai===2) { FLAG=4;%>
  <!--拍米结束-->
  <%}%>

  <%if(FLAG===1){%>
  <div class="special_list_top">
  <%}else if(FLAG===2){%>
  <div class="special_list_top start_before">
  <%}else if(FLAG===3){%>
  <div class="special_list_top star_ing">
  <%}else if(FLAG===4){%>
  <div class="special_list_top end">
  <%} else{%>
  <div class="special_list_top">
  <%}%>
    <img src="<%=special_info.wap_image_path%>" alt="">
    <% if(FLAG===4){%>
    <span class="endText">已结束</span>
    <%}%>
    <%if(special_info.special_rate*100>0){%>
    <%if(special_info.special_type == 1){%>
    <div class="novice">新手体验标</div>
    <%}%>
    <div class="profit">奖励金年化率<b><%=special_info.special_rate%></b>% 期限<b><%=special_info.day_num%></b>天</div>
    <%}%>
  </div>

<%if(FLAG===1){%>
    <!--special_list_wrapper_ing-->
<div class="special_list_wrapper special_list_wrapper_before">
<%}else if(FLAG===3){%>
<div class="special_list_wrapper special_list_wrapper_ing">
<%}else if(FLAG===4){%>
<div class="special_list_wrapper special_list_wrapper_end">
<%}else{%>
<div class="special_list_wrapper">
<%}%>
  <div class="special_list_con_constr">
    <div class="special_list_info">
      <div class="top_info">
      <a href="store_vendue.html?store_id=<%=special_info.store_id%>" class="spjg">送拍机构：<%=special_info.delivery_mechanism%></a>
        <%if(special_info.special_rate*100>0){%>
        <%if(!(special_goods_list.length==1 && special_goods_list[0].auction_bond_rate > 0)){%>
        <a class="bzjsy" href="../../tmpl/activity/cms_activity.html?cms_id=43" style="color: #3a3a3a;font-size: 1rem;">什么是保证金送收益？</a>
        <%}%>
        <%}%>
      </div>
      <%if(FLAG!==4){%>
      <!--如果未结束-->
      <%if(FLAG===1){%>
      <div class="cutedown" data-date="<%=special_info.special_remain_time_rate%>" data-type="1">距赠送收益截止
        <%}else if(FLAG===2){%>
        <div class="cutedown" data-date="<%=special_info.special_remain_time_start%>" data-type="1">距开始
          <%}else if(FLAG===3){%>
          <div class="cutedown" data-date="<%=special_info.special_remain_time_end%>" data-type="1">距结束
            <%}else{%>
            <div class="cutedown" data-date="0" data-type="1">
              <%}%>
              <div class="cutedown_con"></div>
            </div>
            <%} else {%>
            <div class="result lm_hidden">
              <span class="all_price">总成交额：¥<%=special_info.all_price%></span>
              <span class="all_num">总成交量：<%=special_info.jian_num%></span>
            </div>
            <%}%>
          </div>
          <div class="special_list_setting">
            <div class="watch">
              <i class="iconfont icon-chakan"></i>
              <span class="text"><%=special_info.special_click%></span>
            </div>
            <div class="join">
              <i class="iconfont icon-icon-test"></i>
              <span class="text"><%=special_info.num_of_applicants%></span>
            </div>
            <div class="collectSpecial" style="text-align: center;" store_id="<%=special_info.store_id%>">
              <i class="iconfont icon-guanzhu1"></i>
              <span class="text" style="display:block;font-size: 1rem;"><%=special_info.collect%></span>
            </div>
            <!--<div class="share">-->
              <!--<i class="iconfont icon-fenxiang"></i>-->
            <!--</div>-->
            <div class="big">
              <i class="iconfont icon-quanping"></i>
            </div>
            <div class="stop">
              <i class="iconfont icon-jiantoushang"></i>
            </div>
          </div>
          <div class="special_list_setting_open lm_hidden">
            <i class="iconfont icon-jiantou9"></i>
          </div>
  </div>
  <ul class="special_list_con public_rl_list ">
    <%for(var key in special_goods_list){var item=special_goods_list[key]%>
    <li auction_id="<%=item.auction_id%>" special_id="<%=item.special_id%>" relation_id="<%=item.relation_id%>">
      <a href="auction_detail.html?auction_id=<%=item.auction_id%>" class="public_rl_left">
        <img src="<%=item.auction_image_path%>" alt="">
        <div class="setting">
          <i class="iconfont icon-naozhong remin <%=item.is_remind?'active':''%>"></i>
          <i class="iconfont icon-guanzhu collect <%=item.is_favorate?'active':''%>" ></i>
        </div>
      </a>
      <div class="public_rl_right">
        <div class="public_rl_top">
          <a href="auction_detail.html?auction_id=<%=item.auction_id%>" class="title"><%=item.auction_name%></a>
          <span class="text">参考价：￥<%=item.goods_marketprice||0%></span>
          <%if(FLAG===1){%>
          <span class="text">起拍价：￥<%=item.auction_start_price||0%></span>
          <%}else if(FLAG===4){%>
          <span class="text">成交价：￥<%=item.current_price||0%></span>
          <%}else{%>
          <span class="text">当前价：￥<%=item.current_price||0%></span>
          <%}%>
        </div>
        <div class="public_rl_bottom">
          <span class="text">参考价：￥<%=item.goods_marketprice||0%></span>
          <%if(FLAG===1){%>
          <span class="text">起拍价：￥<%=item.auction_start_price||0%></span>
          <%}else if(FLAG===4){%>
          <span class="text">成交价：￥<%=item.current_price||0%></span>
          <%}else{%>
          <span class="text">当前价：￥<%=item.current_price||0%></span>
          <%}%>
          <div class="setting">
            <a href="auction_detail.html?auction_id=<%=item.auction_id%>" class="state">
                <%=FLAG===3?'出价':'提交保证金'%>
            </a>
            <i class="iconfont icon-naozhong remin <%=item.is_remind?'active':''%>"></i>
            <i class="iconfont icon-guanzhu collect <%=item.is_favorate?'active':''%> "></i>
          </div>
        </div>
      </div>
    </li>
    <%}%>
  </ul>
</div>
</script>
<div id="qllProfitHtml">

</div>
<script type="text/html" id="qllProfit">
  <%if( special_goods_list.length==1 && special_goods_list[0].auction_bond_rate > 0){%>
  <div class="special_profit">
    <a href="../../tmpl/activity/cms_activity.html?cms_id=43">什么是保证金送收益？>></a>
  </div>
  <div class="profit_img">
    <img src="../../images/profit_new_01.jpeg" alt="">
    <img src="../../images/profit_new_02.png" alt="">
  </div>
  <div class="activity_join_num qll_mt">
    <div class="qll_words">截至到目前已有</div>
    <div class="member_num"></div>
    <div class="qll_words">聪明的小伙伴加入！</div>
    <a href="/wap/tmpl/member/member.html" class="qll_join_us" style="text-align: center;"><img src="../../images/lm/activity/bond_profit_16.png" alt=""></a>
  </div>
  <div class="bond_profit_img">
    <a href="/wap/tmpl/member/partner_special.html"><img class="qll_mt" src="../../images/lm/activity/bond_profit1_18.jpg" alt=""></a>
  </div>
  <%}%>
</script>
<footer id="footer"></footer>

<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script src="../../dist/script/main.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/special_details.js"></script>
</body>
</html>