<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>商家中心</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_store.css">

    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="gray-bg">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <a class="icon fr open-popup" data-popup=".popup-share" href="javascript:void(0)"><img src="../../images/top-share.png" width="22" height="20" alt=""/></a>
    <h1 class="title">商家中心</h1>
</header>
<div id="store_vendue_html"></div>

<script type="text/html" id="store_vendue">
<div class="account-info" style="height:auto">
    <img src="<%=store_vendue_info.store_avatar%>" alt="" style="margin: 0 auto;"/>
    <h1 style="margin:8px 0;"><%=store_vendue_info.store_name%></h1>
    <a href="javascript:void(0);" class="focus qll_focus" id="store_notcollect">关注</a>
    <a href="javascript:void(0);" style="display: none" class="been focus qll_focus" id="store_collected">已关注</a>
    <span class="all-block" id="qll_store_collect" style="font-size: 12px;margin-top: 8px"><%=store_vendue_info.store_collect%>人关注</span>
    <div style="border-top: #ccc dashed 1px; padding:0 16px;width:90%;margin:16px auto"></div>
    <div class="nomal"><%=store_vendue_info.store_vendue_intro%></div>
    <span class="point">全文&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></span>
    <div class="clear"></div>
</div>
<div class="content content-box-05" style="margin: 0">
    <div class="buttons-tab">
        <a href="#tab1" class="tab-link active button">专场动态</a>
        <a href="#tab2" class="tab-link button">全部商品</a>
    </div>
    <div class="content-block">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="content-block">
                    <div class="content-box-04">
                        <div class="row no-gutter">
                            <% if(special_list.length >0){%>
                            <%for(i=0;i<special_list.length;i++){%>
                            <% if(special_list[i].is_kaipai ==0){%>
                            <a href="special_details.html?special_id=<%=special_list[i].special_id%>" class="col-100">
                                <img src="<%=special_list[i].wap_image_path%>" alt=""/>
                                <div class="content-detail fl">
                                    <h1><%=special_list[i].special_name%></h1>
                                    <span class="theme-color"><%=special_list[i].delivery_mechanism%></span>
                                    <span>开始时间&nbsp;&nbsp;<%=special_list[i].special_start_date%></span>
                                </div>
                                <div class="fr green-bg"><b><%=special_list[i].special_click %></b>次围观</div>
                            </a>
                            <% } else if(special_list[i].is_kaipai == 1){%>
                            <a href="special_details.html?special_id=<%=special_list[i].special_id%>" class="col-100">
                                <img src="<%=special_list[i].wap_image_path%>" alt=""/>
                                <div class="content-detail fl">
                                    <h1><%=special_list[i].special_name%></h1>
                                    <span class="theme-color"><%=special_list[i].delivery_mechanism%></span>
                                    <span class="count-time settime" endtime="<%=special_list[i].special_end_time%>"><em time_id="d">0</em>日<em time_id="h">0</em>时<em time_id="m">0</em>分<em time_id="s">0</em>秒</span>
                                </div>
                                <div class="fr black-background-color"><b><%=special_list[i].all_bid_number %></b>次出价</div>
                            </a>
                            <% } else if(special_list[i].is_kaipai == 2){%>
                            <a href="special_details.html?special_id=<%=special_list[i].special_id%>" class="col-100">
                                <img src="<%=special_list[i].wap_image_path%>" alt=""/>
                                <div class="content-detail fl">
                                    <h1><%=special_list[i].special_name%></h1>
                                    <span class="theme-color"><%=special_list[i].delivery_mechanism%></span>
                                    <span>结束时间&nbsp;&nbsp;<%=special_list[i].special_end_date%></span>
                                </div>
                                <div class="fr gray-background-color"><b><%=special_list[i].jian_num %></b>件成交</div>
                            </a>
                            <% }%>
                            <% }%>
                            <% }else{ %>
                            <div class="nctouch-norecord order">
                                <div class="norecord-ico"><i></i></div>
                                <dl>
                                    <dt>您还没有相关的专场</dt>
                                </dl>
                            </div>
                            <% }%>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab">
                <div class="content-block">
                    <div class="content-box-02">
                        <div class="row no-gutter">
                            <% if(auctions_list.length >0){%>
                            <%for(i=0;i<auctions_list.length;i++){%>
                            <% if(auctions_list[i].is_kaipai == 0){ %>
                            <a href="auction_detail.html?auction_id=<%=auctions_list[i].auction_id%>" class="col-50">
                                <img src="<%=auctions_list[i].auction_image_path%>" alt=""/>
                                <div class="content-detail">
                                    <h1><%=auctions_list[i].auction_name%></h1>
                                    <span class="theme-color">起拍价&nbsp;<b>&yen;<%=auctions_list[i].auction_start_price%></b></span>
                                    <span>开拍时间&nbsp;<%=auctions_list[i].auction_start_date%></span>
                                </div>
                                <div class="fixed-box" style="top:60%;border-left:none">
                                    <span style="background:#800000;"><b class="all-block"><%=auctions_list[i].auction_click%></b>次围观</span>
                                </div>
                                <div class="fixed-box" style="bottom:5%;">
                                    <img src="../../images/index-remind.jpg" alt=""/>
                                </div>
                            </a>
                            <% }else if(auctions_list[i].is_kaipai == 1){ %>
                            <a href="auction_detail.html?auction_id=<%=auctions_list[i].auction_id%>" class="col-50">
                                <img src="<%=auctions_list[i].auction_image_path%>" alt=""/>
                                <div class="content-detail">
                                    <h1><%=auctions_list[i].auction_name%></h1>
                                    <span class="theme-color">当前价&nbsp;<b>&yen;<%=auctions_list[i].current_price%></b></span>
                                    <span class="count-time settime" endtime="<%=auctions_list[i].auction_end_time%>"><em time_id="d">0</em>日<em time_id="h">0</em>时<em time_id="m">0</em>分<em time_id="s">0</em>秒</span>
                                </div>
                                <div class="fixed-box" style="top:60%;border-left:none">
                                    <span style="background:#000000;"><b class="all-block"><%=auctions_list[i].bid_number%></b>次出价</span>
                                </div>
                                <div class="fixed-box" style="bottom:5%;">
                                    <img src="../../images/index-offer.jpg" alt=""/>
                                </div>
                            </a>
                            <% } else if(auctions_list[i].is_kaipai == 2){%>
                            <a href="auction_detail.html?auction_id=<%=auctions_list[i].auction_id%>" class="col-50">
                                <%if(auctions_list[i].is_liupai == 1){%>
                                <i class="liupai"></i>
                                <%}else{%>
                                <i class="yichengjiao"></i>
                                <%}%>
                                <img src="<%=auctions_list[i].auction_image_path%>" alt=""/>
                                <div class="content-detail">
                                    <h1><%=auctions_list[i].auction_name%></h1>
                                    <span class="theme-color">成交价&nbsp;<b>&yen;<%=auctions_list[i].current_price%></b></span>
                                    <span>结束时间&nbsp;<%=auctions_list[i].auction_end_date%></span>
                                </div>
                                <div class="fixed-box" style="top:60%;border-left:none">
                                    <span style="background:#818181;"><b class="all-block"><%=auctions_list[i].bid_number%></b>次出价</span>
                                </div>
                            </a>
                            <% }%>
                            <% }%>
                            <% }else{ %>
                            <div class="nctouch-norecord order">
                                <div class="norecord-ico"><i></i></div>
                                <dl>
                                    <dt>您还没有相关的商品</dt>
                                </dl>
                            </div>
                            <% }%>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<!--分享弹出部分-->
<div class="popup popup-about popup-share">
    <div class="content">
        <div class="content-inner bdsharebuttonbox" data-tag="share_1">
            <ul class="content-block">
                <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" ></a></li>
                <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
                <li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>
                <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
                <li><a href="#" class="bds_more" data-cmd="copy" title="复制网址"></a></li>
            </ul>
            <div class="clear"></div>
            <a href="javascript:void(0)" class="close-popup">取消分享</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/store_vendue.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>