<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>艺诺首页</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="css/lm/iconfont.css">
  <style>
    .ptb{padding-top: 0;}
    .app_recommend{display: flex;align-items: center;border-top: 8px solid #f5f5f5;border-bottom: 8px solid #f5f5f5;}
    .app_recommend .hot_commodity{width: 50%;padding: 10px 15px;height: 168px;display: flex;flex-direction: column;justify-content: space-between;color: #000;}
    .app_recommend .hot_commodity h3{display: flex;justify-content: space-between;align-items: center;font-size: 1.3rem;}
    .app_recommend .hot_commodity h3 img{width: 20px;}
    .app_recommend .hot_commodity .hot_commodity_img{display: flex;justify-content: flex-end;}
    .app_recommend .hot_commodity .hot_commodity_img img{width: 100%;height: 105px;object-fit: cover;}
    .app_recommend .hot_classification{width: 50%;height: 168px;display: flex;flex-direction: column;justify-content: space-between;border-left: 1px solid #ebebeb;}
    .app_recommend .hot_classification a{height: 50%;border-bottom: 1px solid #ebebeb;padding: 0 30px;margin: 0;display: flex;justify-content: space-between;align-items: center;color: #000;font-size: 1.2rem}
    .app_recommend .hot_classification a:last-child{border: none;}
    .app_recommend .hot_classification a img{width: 20px;}
    .ncscroll{}
    .wt_css{
    font-size: 1.1rem;
    color: #808080;
    font-weight: normal;
    margin-top: 10px;

}

    .newPaimai{
      border-top: 8px solid #f5f5f5;
    }
    .newPaimai a{

    }
    .newPaimai a img{
      width: 100%;
      max-height: 20rem;
    }
    .newPaimaiHide{
      display: none;
    }
  </style>
</head>
<body class="ptb">
<!--
<div class="app_header">
  <div class="pub_lm_header" style="background: none;">
    <a tapmode="" onclick="openSide()" class="auction_header_left">
      <i class="iconfont icon-caidan"></i>
    </a>
    <a href="tmpl/search.html" class="auction_header_search">
      <input type="text" class="inp" id="keyword">
      <button class="btn">
        <i class="iconfont icon-sousu"></i>
      </button>
    </a>
    <a href="./tmpl/member/chat_list.html" class="auction_header_msg" id="auction_header_msg">
      <i class="iconfont icon-iconfontmark"><span class="auction_header_num"></span></i>
    </a>
  </div>
</div>
-->
<div id="main-container1"></div>

<div id="main-container"></div>
<div class="profit_activity_wrapper"></div>

<div id="artist_list">
</div>
<!-- 暂时不展示艺术家 2017-10-26  -->
<!--<div id="appArts">
  <div class="app_arts">
    <a href="tmpl/auction/artist_list.html" class="topTitle">热门艺术家</a>
    <div class="swiper-container app_arts_container">
      <div class="swiper-wrapper">
      </div>
    </div>
  </div>
</div>-->
<!--banner-->
<script type="text/html" id="adv_list">
  <div class="swiper-container app_banner">
    <a class="app_search" href="tmpl/search.html"><img src="images/qll/search.png" alt=""></a>
    <div class="swiper-wrapper">
      <% for (var i in item) { %>
      <a href="<%= item[i].url %>" class="swiper-slide"><img class="app_banner_img" data-echo="<%= item[i].image %>" alt="" class="lazy" src="./images/whk/bitamF.png"></a>
      <% } %>
    </div>
    <div class="swiper-pagination app_banner_pagination"></div>
  </div>
</script>


<script type="text/html" id="cla">
<div class="app_type">
  <ul>
    <% for (var i in item) { %>
    <li>
      <a href="<%= item[i].href %>">
        <img data-echo="<%= item[i].img_url %>" alt="" class="lazy" src="./images/whk/bitamF.png">
        <span class="text"><%= item[i].cla %></span>
      </a>
    </li>
    <% } %>
  </ul>
</div>
</script>
<script type="text/html"  id="auctions"></script>
<script type="text/html"  id="enjoy_zone">
  <div class="pub_title mtb15">
  <div class="pub_left_title"></div>
  <div class="pub_center_title"><%=title%></div>
  <div class="pub_right_title"></div>
</div>
  <a href="tmpl/enjoy_area.html" class="maxw_img"><img src="images/lm/ZXZQb.jpg" alt=""></a>
  <div class="swiper-container app_enjoy">
  <div class="swiper-wrapper">
    <a href="<%=url%>" class="swiper-slide all">
      <div class="img"><img src="images/lm/lm_app_enjoy.png" alt=""></div>
    </a>
    <%for(var i in good_list){%>
    <a href="tmpl/product_detail.html?goods_id=<%= good_list[i].goods_id %>" class="swiper-slide">
      <div class="img"><img data-echo="<%= good_list[i].goods_image %>" alt=""  class="lazy" src="./images/whk/bitamF.png"></div>
      <% if (good_list[i].sales_model == '2') { %>
      <span class="price"><%= good_list[i].goods_price %></span>
      <% } else { %>
      <span class="price">¥<%= good_list[i].goods_price %> <del>¥<%= good_list[i].goods_marketprice %></del></span>
      <% } %>
    </a>
    <%}%>
  </div>
</div>
<div class="pub_lm_list">
  <ul>
    <%for(var i in item){%>
    <%if(i >= limit){ break;}%>
    <li>
      <a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>" class="pub_lm_list_img">
        <img data-echo="<%= item[i].goods_image %>" alt="" class="lazy" src="./images/whk/bitamF.png">
      </a>
      <div class="pub_lm_list_bottom">
        <div class="pub_lm_list_left">
          <h3 class="lm_title"><%= item[i].goods_name %></h3>
          <div class="list_info market_list">
            <% if (item[i].sales_model == '2') { %>
            <span class="price bargain"><%= item[i].goods_price %></span>
            <% } else { %>
            <span class="price">¥<%= item[i].goods_price %> <span class="market_price">￥<del><%=item[i].goods_marketprice%></del></span></span>
            <% } %>
            <span class="source"><%= item[i].store_name %></span>
          </div>
        </div>
      </div>
    </li>
    <%}%>
  </ul>
</div>
</script>
<script type="text/html" id="qucai">
<% if (title) { %>
<div class="pub_title app_guess_title">
  <div class="pub_left_title"></div>
  <div class="pub_center_title">
    <%= title %>
  </div>
  <div class="pub_right_title">
    <a href="./tmpl/qucai/qucai.html">more <img src='images/lm/more_hui.png' alt=""></a>
  </div>
  <span class="guanggao">猜中就1元拿走</span>
</div>
<% } %>
  <div class="app_guess">
  <div class="swiper-container app_guess_container">
    <div class="swiper-wrapper">
      <% for (var i in item) { %>
      <div class="swiper-slide app_guess_item  <%=item[i].gs_time_flag===1?'nostart':''%> ">
        <div class="title textOverflow"><%= item[i].gs_name %></div>
        <a href="./tmpl/qucai/xiangqing-qucai.html?gs_id=<%= item[i].gs_id %>" class="app_guess_img">
          <img data-echo="<%= item[i].gs_img %>" alt="" class="lazy" src="./images/whk/bitamF.png">
          <span class="app_guess_text"></span>
          <span class="app_guess_info"><i class="lm_arrow"></i><b><%=item[i].joined_times%></b>人参与</span>
        </a>
        <div class="cutedown" data-date="<%=item[i].gs_time_flag===1?item[i].gs_remain_time_start:item[i].gs_remain_time_end%>">
          <%=item[i].gs_time_flag===1?"距开始":"距结束"%>
          <div class="cutedown_con"></div>
        </div>
      </div>
      <%}%>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination app_guess_pagination"></div>
  </div>
</div>
</script>

<script type="text/html" id="special">
<%var list=special[0]%>
<div class="pub_title mtb15" id="recommend_auction">
  <div class="pub_left_title"></div>
  <div class="pub_center_title"><%= list.title %></div>
  <div class="pub_right_title">
    <a href="/wap/tmpl/auction/auction_index.html">more <img src='images/lm/more_hui.png' alt=""></a>
  </div>
</div>
<div class="app_auction">
  <ul>
    <% for  (var i in list.item) { %>
    <%var item=list.item[i]%>
    <%if(item.is_kaipai===3){ %>
    <li>
    <%}else if(item.special_remain_time_rate===0&&item.is_kaipai===0){ %>
    <li class="start_before">
    <%}else if(item.is_kaipai===1){ %>
    <li class="star_ing">
    <%}else if(item.is_kaipai===2){ %>
    <li class="end">
    <%} else{ %>
      <li>
    <%}%>
      <div href="tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="top">
        <div class="left ">
          <h3 class="title textOverflow"><%=item.special_name%></h3>
          <span class="collect"><i class="iconfont icon-chakan"></i><%=item.special_click||0%>人围观</span>
          <%if(item.is_kaipai===1||item.is_kaipai===2){ %>
          <span class="joiner">已出价<%=item.all_bid_number||0%>人次</span>
          <%}%>
        </div>
        <!--1拍卖进行中；2：拍卖已结束；3：认筹中；special_remain_time_rate===0认筹结束-->
        <%if(item.is_kaipai!==2){ %>
          <%if(item.is_kaipai===3&&item.special_rate*100>0){ %>
            <div class="cutedown small_screen" data-date="<%=item.special_remain_time_rate%>">
            距赠送收益截止
          <%}else if((item.special_remain_time_rate===0&&item.is_kaipai===0)||(item.special_rate*100<=0&&((item.special_remain_time_rate===0&&item.is_kaipai===0)||item.is_kaipai===3))){ %>
            <div class="cutedown" data-date="<%=item.special_remain_time_start%>">
            距开始
          <%}else if(item.is_kaipai===1){ %>
            <div class="cutedown" data-date="<%=item.special_remain_time_end%>">
            距结束
         <%}else{ %>
              <div class="cutedown">
          <%}%>
          <div class="cutedown_con"></div>
        </div>
        <%}else{ %>
        <div class="result">
          <span>总成交额： ￥<%=item.all_price||0%></span>
          <span>总成交量： <%=item.jian_num||0%>件</span>
        </div>
        <%}%>
       <!--判断结束-->
      </div>
      <a href="tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="middle">
        <img data-echo="<%=item.wap_image_path%>" alt="" class="lazy" src="./images/whk/bitamF.png">
        <%if(item.is_kaipai===2){ %>
        <span class="text">已结束</span>
        <%}%>
        <%if(item.special_rate*100>0){ %>
        <%if(item.special_type == 1){ %>
        <div class="novice">新手体验标</div>
        <%}%>
        <div class="profit">
          奖励金年化率<b><%=item.special_rate||0.00%></b>% 期限<b><%=item.day_num||0%></b>天
        </div>
        <%}%>
      </a>
      <div   class="bottom">
        <a href="tmpl/auction/special_details.html?special_id=<%=item.special_id%>"   class="avgater">
          <div class="img">
            <img data-echo="<%=item.store_logo%>" alt="" class="lazy" src="./images/whk/bitamF.png">
          </div>
          <span class="text">
            出品方：<%=item.delivery_mechanism%>
          </span>
        </a>
        <%if(item.is_kaipai!==3&&item.special_rate*100>0){ %>
        <span class="text">赠送收益已截止</span>
        <%}%>
        <a class="bzjsy" href="./tmpl/activity/cms_activity.html?cms_id=43">什么是保证金送收益？</a>
      </div>
    </li>
    <%}%>
  </ul>
</div>
</script>
<script type="text/html" id="appArts_con">
      <%for(var i=0;i< artist_list.length;i++){ %>
      <%if(artist_list&&artist_list.length){ %>
      <%var item=artist_list[i]%>
      <div class="swiper-slide">
        <a href="tmpl/auction/artist_detail.html?artist_vendue_id=<%=item.artist_vendue_id%>" class="avgater">
          <img class="lazy" data-echo="<%=item.artist_image_path%>" alt="" src="./images/whk/bitamF.png">
        </a>
        <div class="info">
          <span class="name"><%=item.ardata-echotist_name%></span>
          <%if(item.area_name){ %>
          <span class="address"><i class="iconfont icon-location"></i><%=item.area_name%></span>
          <%}%>
        </div>
        <div class="collect follow" id="store_notcollect_<%=item.store_id%>" nc_store_id="<%=item.store_id%>">
          <i class="iconfont icon-guanzhu1"></i>
          <span class="text">点击关注</span>
        </div>
        <div class="collect unfollow lm_hidden" id="store_collected_<%=item.store_id%>" nc_store_id="<%=item.store_id%>">
          <i class="iconfont icon-guanzhu1"></i>
          <span class="text">取消关注</span>
        </div>

        <ul class="imgs clear">
          <%for(var j=0;j< item.image_list_info.length;j++){ %>
            <%if(j<3){ %>
              <li><a href="tmpl/product_detail.html?goods_id=<%=item.image_list_info[j].goods_id%>"><img class="lazy" data-echo="<%=item.image_list_info[j].mid%>" alt="" src="./images/whk/bitamF.png"></a></li>
            <%}%>
          <%}%>
        </ul>
      </div>
      <%}%>
    <%}%>
</script>
<script type="text/html" id="goods">
  <div class="pub_title mtb15">
    <div class="pub_left_title"></div>
    <% if (title) { %>
    <div class="pub_center_title"><%=title%></div>
    <%}%>
    <div class="pub_right_title">
      <a href="<%=url%>">more <img src='images/lm/more_hui.png' alt=""></a>
    </div>
  </div>
  <div class="pub_lm_list">
    <ul>
      <% for (var i in item) { %>
      <li>
        <a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>" class="pub_lm_list_img">
          <img class="lazy" data-echo="<%= item[i].goods_image %>" alt="" src="./images/whk/bitamF.png" >
        </a>
        <div class="pub_lm_list_bottom">
          <div class="pub_lm_list_left">
            <h3 class="lm_title"><%= item[i].goods_name %></h3>
            <div class="list_info market_list">
              <% if(item[i].sales_model == '1'){ %>
              <span class="price">¥<%= item[i].goods_price %><span class="market_price">￥<del><%=item[i].goods_marketprice%></del></span></span>
              <% } if(item[i].sales_model == '2') { %>
              <span class="price bargain">¥<%= item[i].goods_price %></span>
              <% } %>
              <span class="source"><%= item[i].store_name %></span>
            </div>
          </div>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
</script>


<script type="text/html" id="profit_activity">
  <div onclick="window.location.href='./tmpl/activity/profit_activity.html'" class="pub_title mtb15">
    <div class="pub_left_title"></div>
    <div class="pub_center_title">收益专场</div>
    <div class="pub_right_title">
      <a href="./tmpl/activity/profit_activity.html">more <img src='images/lm/more_hui.png' alt=""></a>
    </div>
  </div>
  <div class="app_auction">
    <ul>
      <%if(list&&list.length){ %>
      <%var item = list[0];%>
      <li>
        <div href="./tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="top">
          <div class="left ">
            <h3 class="title textOverflow"><%=item.special_name%></h3>
            <span class="collect"><i class="iconfont icon-chakan"></i><%=item.special_click||0%>人围观</span>
          </div>
          <div class="cutedown small_screen" data-date="<%=item.special_remain_rate_time%>">
            距赠送收益截止
            <div class="cutedown_con"></div>
          </div>
          <!--判断结束-->
        </div>
        <a href="./tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="middle">
          <img class="lazy" src="./images/whk/bitamF.png" data-echo="<%=item.wap_image_path%>" alt="">
          <%if(item.special_type == 1){ %>
          <div class="novice">新手体验标</div>
          <%}%>
          <div class="profit">
            奖励金年化率<b><%=item.special_rate||0%></b>% 期限<b><%=item.day_num||0%></b>天
          </div>
        </a>
        <div class="bottom">
          <a href="./tmpl/auction/special_details.html?special_id=<%=item.special_id%>`" class="avgater">
            <div class="img">
              <img data-echo="<%=item.store_logo%>" alt="" class="lazy" src="./images/whk/bitamF.png">
            </div>
            <span class="text">
            出品方：<%=item.store_name%>
          </span>
          </a>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
</script>
<script type="text/html" id="hot_good">

  <div class="newPaimai">
    <a style="width: 100%;max-height: 20rem;" href="./tmpl/auction/auction_index_newPaimai.html">
      <img  src="//yinuoimg.oss-cn-shanghai.aliyuncs.com/wap/images/whk/paimaiBanner.jpg" alt="新拍卖">
    </a>
  </div>
  <div class="app_recommend">
    <a href="<%=data%>" class="hot_commodity">
      <h3>
        <span><%=title%></span>
        <img src="images/qll_hot_r.png" alt="">
      </h3>
      <div class="hot_commodity_img">
        <img data-echo="<%=image%>" alt=""  src="./images/whk/bitamF.png" class="lazy">
      </div>
    </a>
    <div class="hot_classification">
      <!--<a href="tmpl/qucai/qucai.html">-->
        <!--<h3>-->
        <!--趣猜-->
        <!--<br>-->
        <!--<span class='wt_css'>猜对就送</span>-->
        <!--</h3>-->
        <!--<img src="images/qll_guess.png" alt="">-->
      <!--</a> -->
      <a href="tmpl/customize.html">
        <h3>
          定制
          <br>
          <span class='wt_css'>个性定制</span>
        </h3>
        <img src="images/customize.png" alt="">
      </a>
        <!--<a href="tmpl/product_list.html">
        <h3>
          新品
          <br>
          <span class='wt_css'>艺诺严选</span>
        </h3>
        <img src="images/qll_new.png" alt="">
      </a>-->
      <a href="tmpl/product_list.html?sales_model=3">
        <h3>
        福利
          <br>
          <span class='wt_css'>新手专享</span>
        </h3>
        <img src="images/qll_new.png" alt="">
      </a>
    </div>
  </div>
</script>

<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/simple-plugin.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/app_index.js"></script>
<script type="text/javascript" src="js/pub_boot.js"></script>
<script type="text/javascript" src="dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="js/echo.min.js"></script>
<script>
var isapp = 0;
apiready = function(){
    isapp = 1;
}
function openSide() {
    if (isapp) {
        api.sendEvent({
            name: 'open_side',
            extra: {
                wap: 1
            }
        });
    } else {
        document.location.href = "./tmpl/type_list.html";
    }
}

</script>
<script type="text/javascript">
    // window.location.href = "http://whk.test.yinuovip.com/wap/app_index.html";

    // window.addEventListener('message', function(e){
    //
    //
    //     // 判断数据发送方是否是可靠的地址
    //     if(e.origin !== 'http://192.168.97.164')
    //         return;
    //     // 打印数据格式
    //     console.log(e);
    //     // 回发数据
    //     e.source.postMessage('hello world', e.origin);
    // }, false);

    $(function () {
        Echo.init({
            offset: 0,
            throttle: 0
        });
    })
</script>



</body>
</html>