<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>商城-艺诺网</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
 <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#800000"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="msapplication-tap-highlight" content="no" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
<!--新增样式-->
<link rel="stylesheet" href="css/sm.min.css">
<link rel="stylesheet" href="css/sm-extend.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
<style>
.quality .content-block .tabs .tab{width:500%;}
</style>
</head>
<body class="gray-bg">
<script type="text/javascript" src="js/zepto.min2.js" charset="utf-8"></script>
<header id="page-modal" class="bar bar-nav">
	<a class="icon fl confirm-ok" href="./tmpl/type_list.html"><img src="images/typelist_icon.png" width="20" height="20" alt=""/></a>
	<!--<a class="icon fl confirm-ok" href="javascript:void(0);"><img src="images/top-s.png" width="20" height="20" alt=""/></a>-->
	<!--<script>$(document).on('click','.confirm-ok', function () {$.confirm('确定打开艺诺App', function () {});});-->
	<!--</script>-->
	<a class="icon fr chat_list" href="./tmpl/member/chat_list.html"><img src="images/top-m.png" width="20" height="20" alt=""/></a>
	<form class="title">
		<button class="fl" type="submit"></button>
		<a href="tmpl/search.html"><input class="fl" type="text" autocomplete="off" placeholder="请输入关键词" id="keyword"></a>
	</form>
</header>
<div class="nctouch-home-layout" id="main-container1"></div>
<div class="nctouch-home-layout adv_list" id="main-container3"></div>
<div class="nctouch-home-layout" id="main-container2"></div>
<div class="fix-block-r">
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<footer id="footer" class="fixed-Width"></footer>
<script type="text/html" id="adv_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
</script>
<script type="text/html" id="home1">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<div class="item-pic">
			<a href="<%= url %>">
				<img src="<%= image %>" alt="">
			</a>
		</div>
	</div>
</script>
<script type="text/html" id="home2">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-l1-r2">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script>
<script type="text/html" id="home3">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-list">
		<% for (var i in item) { %>
			<li>
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</li>
		<% } %>
		</ul>
	</div>
</script>
<script type="text/html" id="home4">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-l2-r1">
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script>
<script type="text/html" id="goods">
<div class="content-box-02">
<% if (title) { %>
	<div class="title-name">
		<h1><%= title %></h1>
		<i class="all-block"></i>
	</div>
<% } %>
	<div class="clear"></div>
	<div class="row no-gutter">
		<% for (var i in item) { %>
		<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>" class="col-50">
			<img src="<%= item[i].goods_image %>" alt=""/>
			<div class="content-detail">
				<h1 style="width:90%"><%= item[i].goods_name %></h1>
				<span class="theme-color"><b>&yen;<%= item[i].goods_promotion_price %> </b></span>
				<span><%=item[i].store_name%></span>
			</div>
		</a>
		<% } %>
	</div>
	<div class="clear"></div>
	<a href="./tmpl/product_list.html" class="index-more all-block fn">查看更多&nbsp;&gt;</a>
</div>
</script>
<!-- 我的视频 wap端不显示 此处占位 -->
<script type="text/html" id="video_list">
<% if(wap_display == 0) { %>
<% } %>
</script>
<script type="text/html" id="sem">
	<div class="top-hot-search">
		<div class="hot-search swiper-container" style="width:100%;">
	        <div class="swiper-wrapper">
	        	<style>
					.top-hot-search .hot-search .swiper-wrapper .swiper-slide{margin-right:16px !important}
				</style>
				<% for (var i in item) { %>
				<div class="swiper-slide"><a href="<%= item[i].url %>" class="<% if(i == 0){%> selected <%}%>"><%= item[i].sem %></a></div>
				<% } %>
	        </div>
		</div>
		<div class="clear"></div>
	</div>
		<script>
		var swiper = new Swiper('.swiper-container', {
			paginationClickable: true,
			loop : false,
			slidesPerView : 'auto',
		});
		</script>
</script>

<script type="text/html" id="cla">

    <div class="content-box-03">
	<div class="title-name mt0">
		<h1>精品分类</h1>
		<i class="all-block"></i>
	</div>
	<div class="content quality white-bg">
	  <div class="buttons-tab">
	  	<% for(var i in item){%>
			<a href="#tab<%=i%>" class="tab-link button <%if(i==0){%>active<%}%>"><%= item[i].cla%></a>
	  	<% } %>
	  </div>
	  <div class="content-block" style="height: 108px;overflow-x:scroll ">
		<div class="tabs">
		<% for(var i in item){%>
		<% var elem = item[i].elem;%>
		  <div id="tab<%=i%>" class="tab <%if(i==0){%>active<%}%>">
		<% for(var j in elem){ %>
			  <a href="<%=elem[j].e_link%>"><img src="<%=elem[j].e_images%>" alt=""/></a>
		  <% } %>
		  </div>
		 <% } %>
		</div>
	  </div>
	</div>
	<div class="clear"></div>
</div>
</script>
<script type="text/html" id="store_top">
	<div class="content-box-03">
	<%if(title){%>
		<div class="title-name">
			<h1><%=title%></h1>
			<i class="all-block"></i>
		</div>
	<%}%>
	<div class="row no-gutter">
		<% for(var i in item){ %>
		<div class="col-50 fl">
			<a href="<%=item[i].url%>" style="display:inherit;float:none;"><img src="<%=item[i].image%>" alt=""></a>
			<div class="content-detail" style="padding:6px 0 4px 10px;">
				<img src="<%=item[i].store_logo%>" alt="" style="width:44%;height:auto;float:left">
				<span class="index_like index_like_no fr"></span>
				<div class="clear"></div>
				<h1><%=item[i].store_name%></h1>
				<span><font data-storeid="<%=item[i].store_id%>" class="collect_num"><%=item[i].store_collect%></font>人关注</span>
			</div>
		</div>
		<% } %>
	</div>
	<div class="clear"></div>
</div>
</script>
<script type="text/html" id="auctions">
    <div class="content-box-02">
        <div class="title-name">
            <% if (title) { %>
            <h1><%= title %></h1>
            <% } %>
            <i class="all-block"></i>
        </div>
        <div class="row no-gutter">
            <% for (var i in item) { %>
            <a href="./tmpl/auction/auction_detail.html?auction_id=<%= item[i].auction_id %>" class="col-50">
				<% if(item[i].is_kaipai == 2){%>
				<%if(item[i].is_liupai == 1){%>
				<i class="liupai"></i>
				<%}else{%>
				<i class="yichengjiao"></i>
				<%}%>
				<%}%>
				<img src="<%= item[i].auction_image %>" alt=""/>
                <div class="content-detail">
                    <h1><%= item[i].auction_name %></h1>
                    <% if(item[i].is_kaipai == 0){%>
                    <span class="theme-color">起拍价&nbsp;<b>&yen;<%= item[i].auction_start_price %></b></span>
                    <span>开拍时间&nbsp;<%= item[i].auction_start_date %></span>
                    <%}else if(item[i].is_kaipai == 1){%>
                    <span class="theme-color">当前价&nbsp;<b>&yen;<%= item[i].current_price %></b></span>
                    <span class="count-time" count_down="<%=item[i].auction_remain_date%>">距&nbsp;结&nbsp;束&nbsp;&nbsp;<em time_id="d">01</em>天<em time_id="h">01</em>时<em time_id="m">01</em>分<em time_id="s">01</em>秒</span>
                    <% }else{%>
                    <span class="theme-color">成交价&nbsp;<b>&yen;<%= item[i].current_price %></b></span>
                    <span>结束时间&nbsp;<%= item[i].auction_end_date %></span>
                    <% }%>

                </div>
                <div class="fixed-box" style="top:60%;border-left:none">
                    <% if(item[i].is_kaipai == 1 || item[i].is_kaipai == 2){%>
                    <span style="background:#262626;"><b class="all-block"><%= item[i].bid_number %></b>次出价</span>
                    <% }else{%>
                    <span style="background:#262626;"><b class="all-block"><%= item[i].auction_click %></b>次围观</span>
                    <% }%>
                </div>
                <% if(item[i].is_kaipai == 1){%>
                <div class="fixed-box" style="bottom:5%;">
                    <img src="../../images/index-offer.jpg" alt=""/>
                </div>
                <% }%>
            </a>
            <% } %>


        </div>
        <div class="clear"></div>
        <a href="./tmpl/auction/auction_list.html" class="index-more">查看更多&nbsp;&gt;</a>
        <div class="clear"></div>
    </div>
</script>
<script type="text/html" id="qucai">
    <div class="content-box-04">
        <div class="title-name">
            <% if (title) { %>
            <h1><%= title %></h1>
            <% } %>
            <i class="all-block"></i>
        </div>
        <div class="row no-gutter">

            <% for (var i in item) { %>
            <a href="./tmpl/qucai/xiangqing-qucai.html?gs_id=<%= item[i].gs_id %>" class="col-100">
                <img src="<%= item[i].gs_img %>" alt=""/>
                <div>
                    <div class="content-detail fl">
                        <h1><%= item[i].gs_name %></h1>
                        <span>竞猜区间&nbsp;&nbsp;&yen;<%= item[i].gs_min_price %>-<%= item[i].gs_max_price %></span>
	                    <span >距离结束&nbsp;&nbsp;
						<span class="time-remain settime" endtime="<%=item[i].end_time%>" style="display: inline;color: #800000 !important;">
							<em time_id="d">0</em>日<em time_id="h">0</em>时<em time_id="m">0</em>分<em time_id="s">0</em>秒
						</span>
                    </div>
				</span>
                    <div class="fr"><b><%= item[i].joined_times %></b>次趣猜</div>
                </div>
            </a>
            <% } %>

        </div>
        <div class="clear"></div>
    </div>
</script>
<script type="text/html" id="special">
    <div class="content content-box-05">
    <div class="buttons-tab">
        <% for ( var j in special) { %>
        <a href="javascript:void(0);" id="special_<%= j%>" onclick="get_special_list('<%= j%>')" <% if(j == 0){%>class="tab-link active button"<% }else{%>class="tab-link button"<% }%>><%= special[j].title %></a>
        <% }%>
    </div>
    <div class="content-block">
        <div class="tabs">
            <% for (var j in special) {%>
            <div id="tab<%= j%>" <% if(j == 0){%>class="tab active"<% } else {%>class="tab" <% }%>>
                <div class="content-block">
                    <div class="content-box-04">
                        <div class="row no-gutter">
                            <% for  (var i in special[j].item) {%>
                            <a href="special_details.html?special_id=<%= special[j].item[i].special_id %>" class="col-100">
                                <img src="<%= special[j].item[i].special_image %>" alt=""/>
                                <div class="content-detail fl">
                                    <h1><%= special[j].item[i].special_name %></h1>
                                    <span class="theme-color"><%= special[j].item[i].delivery_mechanism %></span>
                                    <%if(special[j].item[i].is_kaipai == 0){%>
                                    <span>开拍时间&nbsp;<%= special[j].item[i].special_start_date %></span>
                                    <%} else if(special[j].item[i].is_kaipai == 1){%>
                                    <span class="count-time" count_down="<%=special[j].item[i].special_remain_date%>">距&nbsp;结&nbsp;束&nbsp;&nbsp;<em time_id="d">01</em>天<em time_id="h">01</em>时<em time_id="m">01</em>分<em time_id="s">01</em>秒</span>
                                    <% } else{%>
                                    <span>结束时间&nbsp;<%= special[j].item[i].special_end_date %></span>
                                    <% }%>
                                </div>
                                <% if(special[j].item[i].is_kaipai == 0){%>
                                <div class="fr green-bg"><b><%= special[j].item[i].special_click %></b>次围观</div>
                                <% }else if(special[j].item[i].is_kaipai == 1){%>
                                <div class="fr black-bg"><b><%= special[j].item[i].all_bid_number %></b>次出价</div>
                                <% }else{%>
								<div class="fr gray-big-bg"><b><%= special[j].item[i].jian_num %></b>件成交</div>
								<%}%>
                            </a>
                            <% }%>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <% }%>
            </div>
        </div>
        </script>
<script src="js/swiper.min.js"></script>
        <script>
    var swiper = new Swiper('.swiper-container-banner', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop : true,
        autoplay : 3000,
    });
</script>

<script type="text/javascript" src="js/new-demos.js" charset="utf-8"></script>
<script type="text/javascript" src="js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/sm-city-picker.min.js" charset="utf-8"></script>

<script type="text/javascript" src="js/simple-plugin.js"></script>
<script type="text/html" id="nav_list"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="js/addtohomescreen.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="js/tmpl/wx_share.js"></script>

<script>
//    if(!isWeiXin()){
//        addToHomescreen({
//            message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
//        });
//    }
</script>
</body>
</html>