<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>艺诺商城</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="css/lm/iconfont.css">

</head>
<body class="ptb" style="padding-top: 0;" onload="RefreshOnce()">
<!--
<div class="app_header">
  <div class="pub_lm_header" style="background: none;">
    <a tapmode="" onclick="openSide()" class="auction_header_left">
      <i class="iconfont icon-caidan"></i>
    </a>
    <a href="tmpl/search.html" class="auction_header_search">
      <input type="text" class="inp" id="keyword">
      <button class="btn">
        <i class="iconfont icon-sousu"></i>
      </button>
    </a>
    <a href="./tmpl/member/chat_list.html" class="auction_header_msg" id="auction_header_msg">
      <i class="iconfont icon-iconfontmark"><span class="auction_header_num"></span></i>
    </a>
  </div>
</div>
-->
<!--以下为渲染模块-->
<div id="main-container1">

</div>
<div id="main-container3"></div>
<div id="main-container2"></div>

<script type="text/html" id="adv_list">
  <div class="swiper-container shop_banner">
    <a class="app_search" href="tmpl/search.html"><img src="images/qll/search.png" alt=""></a>
    <div class="swiper-wrapper">
      <% for (var i in item) { %>
      <a href="<%= item[i].url %>" class="swiper-slide"><img class="shop_banner_img" data-echo="<%= item[i].image %>" alt="" class="lazy" src="./images/whk/bitamF.png"></a>
      <% } %>
    </div>
    <div class="swiper-pagination index_banner_pagination"></div>
  </div>
</script>
<script type="text/html" id="cla">
  <div class="pub_title mtb15">
    <div class="pub_left_title"></div>
    <div class="pub_center_title">精选分类</div>
    <div class="pub_right_title"></div>
  </div>
  <div class="shop_type">
    <ul class="clear">
      <% for(var i in item){%>
      <% var elem = item[i].elem;%>
      <% for(var j in elem){ %>
      <li >
        <a href="<%=elem[j].e_link%>">
          <img data-echo="<%=elem[j].e_images%>" alt="" class="lazy" src="./images/whk/bitamF.png">
          <span class="text"><%=item[i].cla%></span>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </div>
</script>
<script type="text/html" id="store_top"></script>
<script type="text/html" id="goods">
  <div class="pub_title mtb15">
    <div class="pub_left_title"></div>
    <div class="pub_center_title"><%=title%></div>
    <div class="pub_right_title"><a href="<%=url%>">more <img src='images/lm/more_hui.png' alt=""></a></div>
  </div>
  <div class="pub_lm_list">
    <ul class="clear">
      <% for(var i in item){ %>
      <% if (i<4) { %>
      <li>
        <a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id%>" class="pub_lm_list_img">
          <img data-echo="<%=item[i].goods_image%>" alt="" class="lazy" src="./images/whk/bitamF.png">
        </a>
        <div class="pub_lm_list_bottom">
          <div class="pub_lm_list_left">
            <h3 class="lm_title textOverflow"><%=item[i].goods_name%></h3>
            <div class="list_info market_list">
              <% if (item[i].sales_model == '2') { %>
              <span class="price bargain"><%=item[i].goods_price%></span>
              <% } else { %>
              <span class="price">¥<%=item[i].goods_price%><span class="market_price">￥<del><%=item[i].goods_marketprice%></del></span></span>
              <% } %>
              <span class="source"><%=item[i].store_name%></span>
            </div>
          </div>
        </div>
      </li>
      <%}%>
      <%}%>
    </ul>
  </div>
</script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/simple-plugin.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="js/tmpl/wx_share.js"></script>
<script src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/echo.min.js"></script>
<script>
  /*
  * 判断如果是移动端，就跳转网址
  * */

    // if(/Android|webOS|iPhone|iPad|BlackBerry/i.test(navigator.userAgent)) {
    // /*
    // * 不执行操作
    // * */
    // } else {
    //     window.location.href = appUrl + "/index.html";
    // }
  $(function () {
      Echo.init({
          offset: 0,
          throttle: 0
      });
  })
</script>
</body>
</html>