<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>专题</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
 <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#800000"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="msapplication-tap-highlight" content="no" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
<!--新增样式-->
<link rel="stylesheet" href="css/sm.min.css">
<link rel="stylesheet" href="css/sm-extend.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
<style type="text/css">
	.content-box-05 .buttons-tab .button {
	  height: 40px;
	  line-height: 24px;
	}
</style>
</head>
<body class="gray-bg">
<script type="text/javascript" src="js/zepto.min2.js" charset="utf-8"></script>

<header id="page-modal" class="bar bar-nav" style="display:none">
	<a class="icon fl confirm-ok" href="./tmpl/type_list.html"><img src="images/typelist_icon.png" width="20" height="20" alt=""/></a>
	<!--<a class="icon fl confirm-ok" href="javascript:void(0);"><img src="images/top-s.png" width="20" height="20" alt=""/></a>-->
	<!--<script>$(document).on('click','.confirm-ok', function () {$.confirm('确定打开艺诺App', function () {});});-->
	<!--</script>-->
	<a class="icon fr" href=""><img src="images/top-m.png" width="20" height="20" alt=""/></a>
	<form class="title">
		<button class="fl" type="submit"></button>
		<a href="tmpl/search.html"><input class="fl" type="text" autocomplete="off" placeholder="" id="keyword"></a>
	</form>
</header>
<header id="header" class="fixed fixed-Width">
  <div class="header-wrap">
    <div class="header-l"> <a class="icon fl" href="javascript:history.go(-1)"><img src="images/top-left.png" width="20" height="20" alt=""/></a> </div>
    <div class="header-title">
      <h1>专题</h1>
    </div>
    <div class="header-r"><a class="icon fr open-popup" data-popup=".popup-share" href="javascript:void(0)" style="padding: 0.5rem 0.5rem;"><img src="images/top-share.png" width="22" height="20" alt=""/></a></div>
  </div>
</header>
<div class="nctouch-home-layout" id="main-container1"></div>
<div class="nctouch-home-layout adv_list" id="main-container3"></div>
<div class="nctouch-home-layout" id="main-container2"></div>
<!--分享弹出部分-->
<div class="popup popup-about popup-share">
	<div class="content">
		<div class="content-inner bdsharebuttonbox" data-tag="share_1">
			<ul class="content-block">
				<li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" ></a></li>
				<li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
				<li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>
				<li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
				<li><a href="#" class="bds_more" data-cmd="copy" title="复制网址"></a></li>
			</ul>
			<div class="clear"></div>
			<a href="javascript:void(0)" class="close-popup">取消分享</a>
		</div>
	</div>
</div>
<footer id="footer" class="fixed-Width"></footer>
<script type="text/html" id="adv_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
</script> 
<script type="text/html" id="home1">
	<div class="nctouch-home-block">
	  <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
		<div class="item-pic">
			<a href="<%= url %>">
				<img src="<%= image %>" alt="">
			</a>
		</div>
	</div>
</script> 
<script type="text/html" id="home2">
	<div class="nctouch-home-block">
	  <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
		<ul class="item-pic-l1-r2">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="home3">
	<div class="nctouch-home-block">
	  <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
		<ul class="item-pic-list">
		<% for (var i in item) { %>
			<li>
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</li>
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="home4">
	<div class="nctouch-home-block">
	  <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
		<ul class="item-pic-l2-r1">
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script>
<script type="text/html" id="home5">
	<div class="content-box-01">
		  <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
		<div class="row no-gutter">
			<% for (var i in item) { %>
			<a href="<%= item[i].url %>" <%if(i== 0 || i== 1){%>class="col-50"<% }else{%>class="col-25"<% }%>><img src="<%= item[i].image %>" alt=""/></a>
			<% } %>
		</div>
		<div class="clear"></div>
	</div>
</script>
<script type="text/html" id="home6">
	<div class="content-box-01">
		  <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
		<div class="row no-gutter">
			<% for (var i in item) { %>
			<a href="<%= item[i].url %>" class="col-25"><img src="<%= item[i].image %>" alt=""/></a>
			<% } %>
		</div>
		<div class="clear"></div>
	</div>
</script>
<script type="text/html" id="goods">
<div class="content-box-02">
<% if (title) { %>
	<div class="title-name">
		<h1><%= title %></h1>
		<i class="all-block"></i>
	</div>
<% } %>
	<div class="clear"></div>
	<div class="row no-gutter">	
		<% for (var i in item) { %>
		<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>" class="col-50">
			<img src="<%= item[i].goods_image %>" alt=""/>
			<div class="content-detail">
				<h1 class="w100"><%= item[i].goods_name %></h1>
				<span class="theme-color"><b>&yen;<%= item[i].goods_promotion_price %></b></span>
			</div>
		</a>
		<% } %>
	</div>
	<div class="clear"></div>
	<a href="./tmpl/product_list.html" class="index-more">查看更多&nbsp;&gt;</a>
</div>
</script>
<!-- 我的视频 wap端不显示 此处占位 -->
<script type="text/html" id="video_list">
<% if(wap_display == 0) { %>
<% } %>
</script>
<script type="text/html" id="sem">
	<div class="top-hot-search">
		<div class="hot-search swiper-container" style="width:100%;">
	        <div class="swiper-wrapper">
	        	<style>
					.top-hot-search .hot-search .swiper-wrapper .swiper-slide{margin-right:16px !important}
				</style>
				<% for (var i in item) { %>
				<div class="swiper-slide"><a href="<%= item[i].url %>" <% if(i == 0){%>class="selected"<% }%>><%= item[i].sem %></a></div>
				<% } %>
	        </div>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/html" id="cla">
<div class="content-box-03">
	<div class="title-name">
		<h1>精品推荐</h1>
		<i class="all-block"></i>
	</div>
	<div class="content quality">
	  <div class="buttons-tab">
	  	<% for(var i in item){%>
			<a href="#tab<%=i%>" class="tab-link button <%if(i==0){%>active<%}%>"><%= item[i].cla%></a>
	  	<% } %>
	  </div>
	  <div class="content-block">
		<div class="tabs">
		<% for(var i in item){%>
		<% var e_images = item[i].e_images;%>
		<% var e_links =  item[i].e_links;%>
		  <div id="tab<%=i%>" class="tab <%if(i==0){%>active<%}%>">
		<% for(var j in e_images){ %>
			  <a href="<%=e_links[j]%>"><img src="<%=e_images[j]%>" alt=""/></a>
		  <% } %>
		  </div>
		 <% } %>
		</div>
	  </div>
	</div>
	<div class="clear"></div>
</div>
</script>
<script type="text/html" id="store_top">
<div class="content-box-03">
	<%if(title){%>
		<div class="title-name">
			<h1><%=title%></h1>
			<i class="all-block"></i>
		</div>
	<%}%>
	<div class="row no-gutter">	
		<% for(var i in item){ %>
		<a href="<%=item[i].url%>" class="col-50">
			<img src="<%=item[i].image%>" alt="">
			<div class="content-detail fl" style="padding:8px 0 8px 10px;">
				<img src="<%=item[i].store_logo%>" alt="" style="width:60%;height:auto">
				<h1><%=item[i].store_name%></h1>
				<span><%=item[i].store_collect%>人关注</span>
			</div>
		</a>
		<% } %>
	</div>
	<div class="clear"></div>
</div>
</script>
<script type="text/html" id="auctions">
    <div class="content-box-02">
        <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
        <div class="row no-gutter">
            <% for (var i in item) { %>
            <a href="./tmpl/auction/auction_detail.html?auction_id=<%= item[i].auction_id %>" class="col-50">
				<% if(item[i].is_kaipai == 2){%>
				<%if(item[i].is_liupai == 1){%>
				<i class="liupai"></i>
				<%}else{%>
				<i class="yichengjiao"></i>
				<%}%>
				<%}%>
                <img src="<%= item[i].auction_image %>" alt=""/>
                <div class="content-detail">
                    <h1><%= item[i].auction_name %></h1>
                    <% if(item[i].is_kaipai == 0){%>
                    <span class="theme-color">起拍价&nbsp;<b>&yen;<%= item[i].auction_start_price %></b></span>
                    <span>开拍时间&nbsp;<%= item[i].auction_start_date %></span>
                    <%}else if(item[i].is_kaipai == 1){%>
                    <span class="theme-color">当前价&nbsp;<b>&yen;<%= item[i].current_price %></b></span>
					<span class="settime" endtime="<%=item[i].auction_end_time%>">距结束&nbsp;<em time_id="d">01</em>天<em time_id="h">01</em>时<em time_id="m">01</em>分<em time_id="s">01</em>秒</span>
                    <% }else{%>
                    <span class="theme-color">成交价&nbsp;<b>&yen;<%= item[i].current_price %></b></span>
                    <span>结束时间&nbsp;<%= item[i].auction_end_date %></span>
                    <% }%>

                </div>
                <div class="fixed-box" style="top:60%;border-left:none">
                    <% if(item[i].is_kaipai == 1 || item[i].is_kaipai == 2){%>
                    <span style="background:#262626;"><b class="all-block"><%= item[i].bid_number %></b>次出价</span>
                    <% }else{%>
                    <span style="background:#262626;"><b class="all-block"><%= item[i].auction_click %></b>次围观</span>
                    <% }%>
                </div>
                <% if(item[i].is_kaipai == 1){%>
                <div class="fixed-box" style="bottom:5%;">
                    <img src="images/index-offer.jpg" alt=""/>
                </div>
				<% }else if(item[i].is_kaipai == 0){%>
				<div class="fixed-box" style="bottom:5%;">
					<img src="images/index-remind.jpg" alt=""/>
				</div>
				<% }%>
            </a>
            <% } %>


        </div>
        <div class="clear"></div>
        <a href="./tmpl/auction/auction_list.html" class="index-more">查看更多&nbsp;&gt;</a>
        <div class="clear"></div>
    </div>
</script>
<script type="text/html" id="qucai">
    <div class="content-box-04">
        <% if (title) { %>
        <div class="title-name">
            <h1><%= title %></h1>
            <i class="all-block"></i>
        </div>
        <% } %>
        <div class="row no-gutter">

            <% for (var i in item) { %>
            <a href="./tmpl/qucai/xiangqing-qucai.html?gs_id=<%= item[i].gs_id %>" class="col-100">
                <img src="<%= item[i].gs_img %>" alt=""/>
                <div>
                    <div class="content-detail fl">
                        <h1><%= item[i].gs_name %></h1>
                        <span>竞猜区间&nbsp;&nbsp;&yen;<%= item[i].gs_min_price %>-<%= item[i].gs_max_price %></span>
	                    <span >距离结束&nbsp;&nbsp;
						<span class="time-remain settime" endtime="<%=item[i].end_time%>" style="display: inline;color: #800000 !important;">
							<em time_id="d">0</em>日<em time_id="h">0</em>时<em time_id="m">0</em>分<em time_id="s">0</em>秒
						</span>
                    </div>
				</span>
                    <div class="fr"><b><%= item[i].joined_times %></b>竞拍次</div>
                </div>
            </a>
            <% } %>

        </div>
        <div class="clear"></div>
    </div>
</script>
<script type="text/html" id="special">
    <div class="content content-box-05">
    <div class="buttons-tab">
        <% for ( var j in special) { %>
        <a style="padding-top:5px" href="javascript:void(0);" id="special_<%= j%>" onclick="get_special_list('<%= j%>')" <% if(j == 0){%>class="tab-link active button"<% }else{%>class="tab-link button"<% }%>><%= special[j].title %><span class="tab-selected" style="margin: 0 auto;height:1px;width: 28px"></span></a>
        <% }%>
    </div>
    <div class="content-block">
        <div class="tabs">
            <% for (var j in special) {%>
            <div id="tab<%= j%>" <% if(j == 0){%>class="tab active"<% } else {%>class="tab" <% }%>>
                <div class="content-block">
                    <div class="content-box-04">
                        <div class="row no-gutter">
                            <% for  (var i in special[j].item) {%>
                            <a href="./tmpl/auction/special_details.html?special_id=<%= special[j].item[i].special_id %>" class="col-100">
                                <img src="<%= special[j].item[i].special_image %>" alt=""/>
                                <div class="content-detail fl">
                                    <h1><%= special[j].item[i].special_name %></h1>
                                    <span class="theme-color"><%= special[j].item[i].delivery_mechanism %></span>
                                    <%if(special[j].item[i].is_kaipai == 0){%>
                                    <span>开拍时间&nbsp;<%= special[j].item[i].special_start_date %></span>
                                    <%} else if(special[j].item[i].is_kaipai == 1){%>
                                    <span class="settime" endtime="<%=special[j].item[i].special_end_time%>">距结束&nbsp;<em time_id="d">01</em>天<em time_id="h">01</em>时<em time_id="m">01</em>分<em time_id="s">01</em>秒</span>
                                    <% } else{%>
                                    <span>结束时间&nbsp;<%= special[j].item[i].special_end_date %></span>
                                    <% }%>
                                </div>
                                <% if(special[j].item[i].is_kaipai == 0){%>
                                <div class="fr green-bg"><b><%= special[j].item[i].special_click %></b>次围观</div>
                                <% }else if(special[j].item[i].is_kaipai == 1){%>
                                <div class="fr  black-bg"><b><%= special[j].item[i].all_bid_number %></b>次出价</div>
								<% } else if(special[j].item[i].is_kaipai == 2){%>
								<div class="fr gray-big-bg"><b><%= special[j].item[i].jian_num %></b>件成交</div>
								<% }%>
                            </a>
                            <% }%>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <% }%>
            </div>
        </div>
        </script>

<div class="content-box-02 content-tab" id="auction_list" style="display:none">
	<div class="title-name">
		<a href="javascript:void(0); " onclick="init_get_list('', '')" class="actived"><h2>默认</h2><span class="tab-selected"></span></a>
		<a href="javascript:void(0); " onclick="init_get_list('2', '1')"><h2>最新</h2><span class="tab-selected"></span></a>
		<a href="javascript:void(0); " onclick="init_get_list('2', '2')"><h2>出价&nbsp;<span></span></h2><span class="tab-selected"></span></a>
		<a href="javascript:void(0); " onclick="init_get_list('2', '3')"><h2>价格&nbsp;<span></span></h2><span class="tab-selected"></span></a>
	</div>
	<div class="clear"></div>
	<div class="row no-gutter" id="lists" style="position: relative;min-height:9rem">
		<script type="text/html" id="home_body">
			<% if(auction_list.length > 0){ %>
			<% for(var i=0;i<auction_list.length; i++){ %>
			<% if(auction_list[i].is_kaipai == 1){ %>
			<a href="tmpl/auction/auction_detail.html?auction_id=<%=auction_list[i].auction_id%>" class="col-50">
				<img src="<%=auction_list[i].auction_image_path%>" alt=""/>
				<div class="content-detail">
					<h1><%=auction_list[i].auction_name%></h1>
					<span class="theme-color">当前价&nbsp;<b>&yen;<%=auction_list[i].current_price%></b></span>
					<span class="count-time settime" endtime="<%=auction_list[i].auction_end_time%>">距结束&nbsp;<em time_id="d">01</em>天<em time_id="h">01</em>时<em time_id="m">01</em>分<em time_id="s">01</em>秒</span>
				</div>
				<div class="fixed-box" style="top:60%;border-left:none">
					<span style="background:#000000;"><b class="all-block"><%=auction_list[i].bid_number%></b>次出价</span>
				</div>

				<div class="fixed-box" style="bottom:5%;">
					<img src="images/index-offer.jpg" alt=""/>
				</div>
			</a>
			<% }else if(auction_list[i].is_kaipai == 0){%>
			<a href="tmpl/auction/auction_detail.html?auction_id=<%=auction_list[i].auction_id%>" class="col-50">
				<img src="<%=auction_list[i].auction_image_path%>" alt=""/>
				<div class="content-detail">
					<h1><%=auction_list[i].auction_name%></h1>
					<span class="theme-color">起拍价&nbsp;<b>&yen;<%=auction_list[i].auction_start_price%></b></span>
					<span>开拍时间&nbsp;<%=auction_list[i].auction_start_date%></span>
				</div>
				<div class="fixed-box" style="top:60%;border-left:none">
					<span style="background:#800000;"><b class="all-block"><%=auction_list[i].auction_click%></b>次围观</span>
				</div>
				<div class="fixed-box" style="bottom:5%;">
					<img src="images/index-remind.jpg" alt=""/>
				</div>
			</a>
			<% } else if(auction_list[i].is_kaipai == 2){%>
			<a href="tmpl/auction/auction_detail.html?auction_id=<%=auction_list[i].auction_id%>" class="col-50">
				<%if(auction_list[i].is_liupai == 1){%>
				<i class="liupai"></i>
				<%}else{%>
				<i class="yichengjiao"></i>
				<%}%>
				<img src="<%=auction_list[i].auction_image_path%>" alt=""/>
				<div class="content-detail">
					<h1><%=auction_list[i].auction_name%></h1>
					<span class="theme-color">成交价&nbsp;<b>&yen;<%=auction_list[i].current_price%></b></span>
					<span>结束时间&nbsp;<%=auction_list[i].auction_end_date%></span>
				</div>
				<div class="fixed-box" style="top:60%;border-left:none">
					<span style="background:#818181;"><b class="all-block"><%=auction_list[i].bid_number%></b>次出价</span>
				</div>
			</a>
			<% }%>
			<% }%>
			<% if (hasmore) {%>
			<li class="loading"><div class="spinner"><i></i></div>拍品数据读取中...</li>
			<% } %>
			<% }else{ %>
			<div class="nctouch-norecord search" style="top:0;margin:1.5rem 0 0 -5rem;">
				<div class="norecord-ico"><i></i></div>
				<dl>
					<dt>没有找到任何相关信息</dt>
				</dl>
			</div>
			<% }%>
		</script>
	</div>
	<div class="clear"></div>
</div>

<script src="js/swiper.min.js"></script>
        <script>
    var swiper = new Swiper('.swiper-container-banner', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop : true,
        autoplay : 3000,
    });
</script>
<!-- Swiper JS -->
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        paginationClickable: true,
        loop : false,
        slidesPerView : 'auto',
    });
</script>
<script type="text/javascript" src="js/config.js"></script> 
<script type="text/javascript" src="js/template.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script> 
<script type="text/javascript" src="js/special.js"></script> 
<script type="text/javascript" src="js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/sm-city-picker.min.js" charset="utf-8"></script>
</body>
</html>