body,
html {
  font-size: 62.5%;
  max-width: 750px;
  margin: 0 auto;
}

.ulno {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title_wai {
  background: #e1dac5;
  width: 100%;
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: .3rem;
  font-weight: normal;
  text-align: center;
  padding: .3rem 0;
}

.lm_box_con * {
  box-sizing: border-box;
}

.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 95%;
  display: inline-block;
}

.lm_clear {
  zoom: 1;
}

.lm_clear:after {
  content: "";
  clear: both;
  display: block;
}

/*公共标题区域*/
.pub_title {
  display: flex;
  .pub_title_center {
    width: 8rem;
    height: 1.7rem;
    text-align: center;
    font-size: 1.4rem;
    color: #b09f6a;
    line-height: 1.7rem;
  }
  .pub_title_left,
  .pub_title_right {
    flex: 1;
    height: 1.7rem;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 1.7rem;
      background: #bfbfbf;
      transform: rotate(50deg);
      -webkit-transform: rotate(50deg);
    }
  }
  .pub_title_left {
    border-top: #bfbfbf solid 1px;
    &:before {
      right: 8px;
      top: -3px;
    }
  }
  .pub_title_right {
    border-bottom: #bfbfbf solid 1px;
    &:before {
      left: 8px;
      top: 3px;
    }
    .more {
      position: absolute;
      right: 1rem;
      bottom: .2rem;
      font-size: 1.2rem;
      color: #bcbcbc;
      text-decoration: none;
      display: flex;
      align-items: center;
      img{
        width:15px;
        margin-left: .3rem;
      }
      span {
        font-size: 1.2rem;
      }
    }
  }
}
/*公用列表块*/
.pub_works_list{
  ul {
    padding: 1rem 1.5rem;
    @extend .ulno;
    @extend .lm_clear;
    li {
      width: 45%;
      margin: 1.5rem 2.2% 0 2.2%;
      float: left;

      a {
        text-decoration: none;
        width: 100%;
        overflow: hidden;
        display: block;
      }
      .img {
        img {
          width: 100%;
          max-height: 20rem;
          border-radius: 3px;
        }
      }
      .lm_title {
        font-size: 1.1rem;
        color: #000;
        margin: 0;
        @extend .textOverflow;
      }
      dl {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        dt {
          font-size:1rem;
          color: #000;
        }
        dd {
          font-size: 1rem;
          color: #808080;
        }
      }
    }
  }
}
/*公共区域结束*/
.lm_enjoy_banner {
  a {
    img {
      max-height: 20rem;
      width: 100%;
    }
  }
}


.lm_enjoy_artist {
  border-bottom: #f0f0f0 solid .6rem;
  padding-bottom: 1.5rem;
  .pub_title {
    margin: 3rem 0;
  }
  .lm_enjoy_artist_wrapper {
    .swiper-slide {
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
      }
      a {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-decoration: none;
        .lm_text {
          color: #757575;
          font-size: 1.1rem;
          margin: .3rem 0;
          text-decoration: none;
          @extend .textOverflow;
          max-width: 100%;
        }
      }
    }
  }
}

.lm_enjoy_typelist {
  .title_wai {
    position: relative;
    .more {
      position: absolute;
      right: 1rem;
      img{
        width:15px;
      }
      font-size: 1.2rem;
      color: #fff;
      text-decoration: none;
      letter-spacing: 0;
      top: .7rem;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 ;
    li {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
      .img {
        img {
          width: 4.4rem;
          height: 4.4rem;
          border-radius: 100%;
        }
      }
      .text {
        margin-left: .3rem;
        color: #b09f6a;
        font-size: 1.1rem;
        max-width: 2.4rem;
      }
    }
  }
}

.lm_enjoy_typelist_list {
  .title_wai {
    position: relative;
    .more {
      position: absolute;
      right: 1rem;
      font-size: 1.2rem;
      color: #fff;
      text-decoration: none;
      letter-spacing: 0;
      top: .7rem;
      img{
        width:15px;
      }
    }
  }

}

/*尊享专区页面结束*/
.enjoy_artist {
  ul {
    padding: 0 1rem;
    @extend .lm_clear;
    li {
      width:33.3%;
      float: left;
      display: block;
      padding: 1rem 0;
      position: relative;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        .img {
          img {
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            object-fit: cover;
          }
        }
        .text {
          color: #010101;
          font-size: 1.1rem;
        }
      }
    }
    .enjoy_artist_hr{
      height: 1px;
      width: 100%;
      border: none;
      background: #e6e6e6;
    }
  }
}

/*艺术家详情页面 开始*/
.lm_enjoy_artist_detail{
  .lm_top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 2rem;
    img{
      width:20rem;
      height:20rem;
      border-radius: 100%;
    }
    .lm_username{
      font-size: 14px;
      color:#010101;
      text-align: center;
      margin: 1rem 0;
    }
  }
}
