
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.captcha-img{
  cursor:pointer;
  border-radius: 0 4px 4px 0;
  display: inline-table;width: 105px;height: 38px;
}
.captcha input.captcha-input{
  display: inline-table;
  width:200px;
  border-radius: 6px 0 0 6px;
}