@import "my_mixin";
body{
  color: #fff;
  background:{
    image: url('../images/login_bg.jpg');
    repeat:no-repeat;
    size: 100% auto;
    color: #000;
  }
}

input:focus {
  outline: none;
  -moz-box-shadow:
          0 2px 3px 0 rgba(0,0,0,.1) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:
          0 2px 3px 0 rgba(0,0,0,.1) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  box-shadow:
          0 2px 3px 0 rgba(0,0,0,.1) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
}
.navbar{
  margin-bottom: 78px;
  opacity: 0;
}
input.form-control {
  margin: auto 0px;
  width: 300px;
  height: 42px;
  margin-top: 25px;
  padding: 0 15px;
  background: #2d2d2d;
  background: rgba(45,45,45,.15);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #3d3d3d;
  border: 1px solid rgba(255,255,255,.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.1);
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
}
@include placeholder('input'){
    color: #fff !important;
    font-weight: bold !important;
}

.panel-default {
  box-shadow : none;
  border-style: none;
  background-color:rgba(0, 0, 0, 0);
  position: relative;
  width: 365px;
  margin: 15px auto 0 auto;
  text-align: center;
  > .panel-heading {
    font-size: 30px;
    font-weight: 700;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0);
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
    color: #FFF;
    border-style: none;
  }
  .form-group, .form-group .col-md-12{
    margin: auto;
  }
}

button.btn-login {
  cursor: pointer;
  width: 300px;
  height: 44px;
  margin-top: 25px;
  padding: 0;
  background: #ef4300;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ff730e;
  -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
  box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.1);
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  &:hover,&:active {
    box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
  }
  &:active {
    box-shadow:
            0 5px 8px 0 rgba(0,0,0,.1) inset,
            0 1px 4px 0 rgba(0,0,0,.1);

    border: 0px solid #ef4300;
  }
}
.btn-link{
  float: left;
}