
/*首页导航等内容结束*/
.lm_home_pub {
    margin-bottom: 15px;
    position: relative;
}

.lm_home_pub .lm_home_top {
    position: relative;
    height: 117px;
    width: 100%;
    background: url("../images/lm_home_pub_bg.png") repeat-x;
    z-index: 1;
}

.lm_home_pub .lm_home_titile {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    z-index: 2;
    height: 117px;
}

.lm_home_pub .lm_home_con {
    width: 1200px;
    margin: 0 auto;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li:hover {
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.09);
}
.lm_more:hover{
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.09);
}
.lm_home_pub .lm_home_con .lm_home_mod1 li {
    margin-bottom: 35px;
    border-radius: 4px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_home_mod1_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    object-position: center;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_home_mod1_left {
    float: left;
    width: 720px;
    height: 300px;
    display: block;
    border-radius: 4px 0 0 4px;
    background: #f3f3f3;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_home_mod1_right {
    float: left;
    width: 480px;
    height: 300px;
    background: #f3f3f3;
    border-radius: 0 4px 4px 0;
}

.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .lm_info {
    margin: 29px 0;
}

.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .lm_address {
    color: #3a3a3a;
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
}

.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .lm_title {
    font-size: 24px;
    margin: 40px auto 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 26px;
    max-width: 95%;
}


.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .lm_middle_info .lm_price_state {
    margin-right: 10px;
}

.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .lm_middle_info {
    width: 40%;
    float: left;
    text-align: center;
    color: #a99557;
    font-size: 24px;
    font-weight: bold;
}

.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .lm_count, .lm_home_pub .lm_home_mod1 .lm_home_mod1_right .vote_count {
    width: 30%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #3a3a3a;
}

.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .vote_count {
    float: right;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_countdown .lm_timestate {
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #3a3a3a;
    text-indent: -25px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_countdown .lm_date span:last-child {
    margin-right: 0;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_countdown .lm_date span {
    margin-right: 16px;
    display: inline-block;
    font-size: 18px;
    color: #010101;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_countdown .lm_date .lm_date_info {
    width: 75px;
    height: 51px;
    display: inline-block;
    color: #010101;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: #92cdbb;
    border-radius: 4px;
    line-height: 51px;
    margin-right: 6px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_countdown {
    height: 109px;
    background: #e5f4ef;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_date {
    width: 350px;
    margin: 0 auto;
}

.lm_home_pub .lm_home_con .lm_home_mod1 {
}

/*距离开始 鼠标划过的样式*/
.lm_home_pub .lm_home_con .lm_home_mod1 li:hover .lm_home_mod1_right {
    background: #e5f4ef;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li:hover .lm_countdown {
    background: #cbe9df;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li:hover .lm_countdown .lm_date_info {
    background: #92cdbb;
}

/*距离结束的样式*/
.lm_home_pub .lm_home_con .lm_home_mod1 .lm_state_over .lm_home_mod1_right {
    background: #f3f3f3;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_state_over .lm_countdown {
    background: #f0ebde;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_state_over .lm_countdown .lm_date_info {
    background: #fabf13;
}

/*距离结束 鼠标划过的样式*/
.lm_home_pub .lm_home_con .lm_home_mod1 .lm_state_over:hover .lm_home_mod1_right {
    background: #fefceb;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_state_over:hover .lm_countdown {
    background: #e9ddbc;
}

.lm_home_pub .lm_home_con .lm_home_mod1 .lm_state_over:hover .lm_countdown .lm_date_info {
    background: #fabf13;
}

/*缩放列表时*/
.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small {
    width: 378px;
    float: left;
    overflow: hidden;
    margin-right: 33px;
    height: 380px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_info span {
    width: 120px;
    display: inline-block;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_info {

}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_home_mod1_left {
    width: 100%;
    height: 215px;
    border-radius: 4px 4px 0 0;
    float: none;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_home_mod1_right {
    width: 100%;
    height: 167px;
}

.lm_home_pub .lm_home_mod1 li.lm_home_mod1_small .lm_home_mod1_right .lm_title {
    color: #3a3a3a;
    font-size: 20px;
    margin: 20px auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lm_home_pub .lm_home_mod1 li.lm_home_mod1_small:last-of-type {
    margin-right: 0;
}

.lm_home_pub .lm_home_mod1 li.lm_home_mod1_small .lm_home_mod1_right .lm_address {
    width: 120px;
    display: inline-block;
    vertical-align: 9px;
}
.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small.lm_state_over .lm_middle_info{
    display: none;
}
.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_middle_info{
    display: none;
}
.lm_home_pub .lm_home_mod1 .lm_home_mod1_right .vote_count i{
    display: inline-block;
    vertical-align: 1px;
    margin-right: 3px;
}
.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_info span i{
    margin-right: 3px;
}
.lm_home_pub .lm_home_mod1 li.lm_home_mod1_small .lm_home_mod1_right .lm_info {
    margin: 0;
    display: inline-block;
    width: 253px;
    vertical-align: super;
}

.lm_home_pub .lm_home_mod1 li.lm_home_mod1_small .lm_home_mod1_right .lm_date {
    width: 270px;
    float: left;
    margin: 18px 0;
}
.lm_home_mod3 li .lm_home_mod3_content a:nth-child(1){
    width:378px;
    height:380px;
    display: block;
}
.lm_home_mod3 li .lm_home_mod3_content{

}
.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_countdown .lm_timestate {
    width: 77px;
    display: inline-block;
    line-height: 75px;
    height: 75px;
    float: left;
    margin-right: 15px;
    text-indent: 30px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_countdown {
    height: 75px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_countdown .lm_date .lm_date_info {
    width: 53px;
    height: 41px;
    line-height: 41px;
}

.lm_home_pub .lm_home_con .lm_home_mod1 li.lm_home_mod1_small .lm_countdown .lm_date span {
    margin-right: 10px;
    font-size: 14px;
}

.lm_home_pub .lm_notfound_arts {
    color: #808080;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 14px;
}

.lm_home_pub .lm_more {
    color: #808080;
    font-size: 18px;
    border: #e6e6e6 solid 1px;
    border-radius: 4px;
    width: 377px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 11px auto;
    text-align: center;
}



/*首页第二个板块*/
.lm_home_mod2_left {
    background: #e6e6e6;
    z-index:3;
    width:66px;
}

@media screen and  (max-width: 1370px){
    .lm_home_mod2_left{
        display: none;
    }
}
.lm_home_mod2 .lm_home_con .pin-wrapper{
    position: absolute;
}
.lm_home_mod2 .lm_home_con section{
    padding-left: 100px;
}
.lm_home_mod2 .lm_home_con{
    width:1300px;
}
.lm_home_mod2_left li span {
    display: block;
    font-size: 14px;
    color:#434343;
}
.lm_home_mod2_left li {
    border-bottom: #fff solid 1px;
    padding:13px 19px;
    cursor: pointer;
}
.lm_home_mod2_left li:hover, .lm_home_mod2_left li.active{
    background: #e9debc;
}
.lm_home_mod2 section .lm_title{
    color:#b09f6a;
    font-size: 20px;
    font-weight:bold;
    height:74px;
    line-height: 74px;
    margin-bottom: 16px;
}
.lm_home_mod2 section .lm_title img{
    width:74px;
    height:74px;
    margin-right: 10px;
    object-fit: cover;
}
.lm_home_mod2 section .lm_product_list{}
.lm_home_mod2 section .lm_product_list li{
    border:#dedede solid 1px;
    border-radius: 4px;
    width:275px;
    margin-bottom: 30px;
    float: left;
    margin-right: 30px;
}
.lm_home_mod2 section .lm_product_list li:nth-child(4n){
    margin-right: 0;
}
.lm_home_mod2 section .lm_product_list li .lm_img{
    height:270px;
    border-radius: 4px 4px 0 0;
    background: #f3f3f3;
    display: flex;
    align-self:center;
    justify-content: center;
}
.lm_home_mod2 section .lm_product_list li .lm_img img{
    width:100%;
    height:100%;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info{
    background: #f3f3f3;
    overflow: hidden;
    padding: 0 15px;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_title{
    font-size: 14px;
    color:#000000;
    text-align: center;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width:100%;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_user img{
    width:33px;
    height:33px;
    border-radius: 100%;
    display: inline-block;
    vertical-align:-8px;
    margin-right: 5px;
}
.lm_home_mod2 section .lm_product_list li:hover .lm_product_info{
    background: #e9ddbc;
}
.lm_home_mod2 section .lm_product_list li:hover{
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.09);
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_user .lm_text{
    font-size: 12px;
    color:#000000;
    width:73px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_user{
    width:115px;
    height:33px;
    display: inline-block;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_price, .lm_home_mod2 section .lm_product_list li .lm_product_info_cell{
    display: inline-block;
    font-size: 12px;
    color:#000;
    vertical-align: 3px;
    text-align: right;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_price{
    width:72px;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_cell{
    width:50px;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_cell img{
    display: inline-block;
    vertical-align: -2px;
    margin-right: 3px;
}
.lm_home_mod2 section .lm_product_list li .lm_product_info_bottom{
    margin-bottom: 10px;
}

.lm_home_mod3{
    background: #f3f3f3;
    padding: 25px 0;
}
.lm_home_mod3 .lm_home_top{
    height:140px;
    background:  url("../images/lm_home_pub_bg1.png") repeat-x;
}
.lm_home_mod3 .lm_more{
    background: #fafafa;
}

.lm_home_mod3 ul li:nth-child(3n){
    margin-right: 0;
}
.lm_home_mod3 ul li{
    margin-top: 24px;
    width:378px;
    height:470px;
    position: relative;
    float: left;
    margin-right: 33px;
}
.lm_home_mod3 ul li {
    width:378px;
    height:470px;
    display: block;
}
.lm_home_mod3 ul li .lm_toptitle{
    color:#3a3a3a;
    width:100%;
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mtb15{
    margin:15px auto !important;
}
.lm_home_mod3 li .lm_home_mod3_content img{
    border-radius: 4px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.lm_home_mod3 li .lm_home_mod3_content .lm_tips{
    position: absolute;
    top: 360px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height: 45px;
    display: block;
    background: url("../images/lm_tips1.png") no-repeat;
}
.lm_home_mod3 li .lm_home_mod3_content .lm_participate_info{
    background: #fa1939;
    height:40px;
    line-height: 40px;
    padding:0 15px;
    position: absolute;
    top:20px;
    right:10px;
    border-radius: 20px;
    color:#ffffff;
    font-size: 18px;
}
.lm_home_mod3 li .lm_home_mod3_content .lm_participate_info span{
    font-size:24px;
}
.lm_home_mod3 li .lm_home_mod3_content .lm_participate_info:after{
    background:  url("../images/lm_sj.png") no-repeat;
    content: '';
    position: absolute;
    top:40px;
    right:20px;
    width:11px;
    height:10px;

}
.lm_home_mod3 li:hover .lm_home_mod3_content{
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.2);
}
.lm_home_mod3 li .lm_home_mod3_content{
    position: relative;
    margin-bottom: 34px;
    width:378px;
    height:380px;
}

.lm_home_mod3 li  .lm_countdown{
    color:#3a3a3a;
    font-size: 14px;
    text-align: center;
}
.lm_home_mod3 li:hover .lm_tips{
    background: url("../images/lm_tips.png") no-repeat;
}
.lm_home_mod3 li  .lm_countdown span{
    display: inline-block;
}
.lm_home_mod3 li  .lm_countdown .lm_date_info{
    color:#fa1939;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

/*第三块结束*/
.lm_home_mod4 .lm_home_con{
    width: 1200px;
    height:500px;
    padding: 30px 0 50px 0;
}
.lm_home_mod4 .lm_home_con .lm_home_left{
    width:134px;
    float: left;
    height:100%;
    display: none;
}
.lm_home_mod4 .lm_home_con .lm_home_center{
    width:720px;
    float: left;
    height:100%;
}
.lm_home_mod4 .lm_home_con .lm_home_right{
    width:480px;
    float: left;
    height:100%;
}

.lm_home_mod4 .lm_home_con .lm_home_left{
    background: url("../images/lm_column.png") no-repeat 15px;
    position: relative;
}
.lm_home_mod4 .lm_home_con .lm_home_left li{
    background: url("../images/lm_mod4_si1.png") no-repeat;
    width:66px;
    height:69px;
    position: absolute;
    left:3px;

    display: block;
}
@media screen and  (max-width: 1350px){
    .lm_home_mod4 .lm_home_con .lm_home_left {
        display: none;
    }
}
.lm_home_mod4 .lm_home_con .lm_home_left li:nth-child(1){
    top:167px;
}
.lm_home_mod4 .lm_home_con .lm_home_left li:nth-child(2){
    top:236px;
}
.lm_home_mod4 .lm_home_con .lm_home_left li:nth-child(3){
    top:305px;
}

.lm_home_mod4 .lm_home_con .lm_home_left li span {
    display: block;
    font-size: 14px;
    color:#434343;
}
.lm_home_mod4 .lm_home_con .lm_home_left li {
    border-bottom: #fff solid 1px;
    padding:18px 19px;
    cursor: pointer;
}
.lm_home_mod4 .lm_home_con .lm_home_left li:hover, .lm_home_mod4 .lm_home_con .lm_home_left li.active{
    background: url("../images/lm_mod4_si2.png") no-repeat;
}

.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_center_title{
    margin: 20px 0 25px;
    color:#808080;
    font-size: 18px;
}
.lm_home_mod4 .lm_home_con .lm_home_center{
    position: relative;
}
.lm_home_mod4 .lm_home_con .lm_home_center:after{
    background: url("../images/lm_middle_line.png");
    content: '';
    right:-3px;
    width:1px;
    height:590px;
    display: block;
    top:0;
    position: absolute;
}

.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend{
    overflow: hidden;
    width:100%;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li{
    background: #e9debc;
    height:112px;
    width:112px;
    border-radius: 112px;
    cursor: pointer;
    float: left;
    margin:0 0 25px 7px;
    position: relative;
    z-index:4;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li:hover .lm_home_address{
    color:#808080;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li:hover {
    z-index:5;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li:hover .lm_home_info_con{
    padding-left: 126px;
    opacity:1;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li:hover .lm_home_info{
    width:237px;
    opacity:1;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_img{
    width:112px;
    height:112px;
    border-radius: 100%;
    position: relative;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_img img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_img{
    z-index:3;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_info_con{
    width:110px;
    padding-left:20px;
    opacity:0;
    /*transition: all ease-in-out .3s;*/
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_center_tab{
    display: none;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_title{
    margin:14px 0 6px;
    font-size: 16px;
    color:#010101;
    width:100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_path{
    color:#010101;
    font-size: 12px;
    width:100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_cell{
    width:100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color:#bb8e00;
    margin: 5px 0 3px;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_address img,.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_cell img{
    display: inline-block;
    vertical-align: -2px;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_address{
    width:100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend li .lm_home_title{}

.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_recommend .lm_home_info{
    width:0;
    height:112px;
    border-radius: 112px;
    position: absolute;
    left:0;
    top:0;
    background: #e9debc;
    /*transition: all ease-in-out .3s;*/
    opacity:0;
    z-index:2;
}
.lm_home_mod4 .lm_home_con  .pub_lag_con{
    width:602px;
    overflow: hidden;
}
.lm_home_mod4 .lm_home_con  .lm_next{
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_new_registed_list{
    position: relative;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_new_registed_list .lm_home_recommend {    transition: all .3s ease-in-out;
    width: 1200%;}


.lm_home_mod4 .lm_home_con .lm_home_right .lm_home_right_title{
    margin: 20px 0 25px;
    color:#808080;
    font-size: 18px;
    padding-left: 50px;
}


.lm_home_mod4 .lm_home_con .lm_home_right .lm_home_big_news{
    margin-left: 50px;
    width:420px;
    border:#dedede solid 1px;
}
.lm_home_mod4 .lm_home_con .lm_home_right .lm_home_big_news img{
    width:420px;
    height:210px;
    object-fit: cover;
    /*contain*/
}

.lm_home_mod4 .lm_home_con .lm_home_right .lm_home_big_news .lm_title{
    font-size:16px;
    color:#808080;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    display: block;
    background: #cccccc;
    height:30px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}
.lm_home_mod4 .lm_home_con .lm_home_right  .lm_home_news{
    margin-left: 50px;
    margin-top: 16px;
}
.lm_home_mod4 .lm_home_con .lm_home_right  .lm_home_news li a:hover{
    text-decoration: underline;
}
.lm_home_mod4 .lm_home_con .lm_home_right  .lm_home_news li a{
    width:420px;
    font-size:14px;
    color:#808080;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    line-height:2;
}
.lm_home_mod5 .lm_home_con li{
    display: inline-block;
    margin-right: 15px;
}
.lm_home_mod5 .lm_home_con ul{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 30px auto;
    overflow: hidden;
}

.lm_home_footer_info .lm_home_con{
    width:1200px;
    min-height:1px;
    margin: auto;
}
.lm_home_footer_info{
    margin: 65px 0 65px;
}
.lm_home_footer_info ul{
    padding:0 135px;
    overflow: hidden;
}
.lm_home_footer_info li{
    width:230px;
    text-align: center;
    float: left;
}
.lm_home_footer_info li .title{
    font-size:18px;
    color:#000;
    margin:15px 0 6px;
}
.lm_home_footer_info li .text {
    color: #333333;
    font-size: 12px;
}



.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_double .lm_home_double_wrapper{
    width:1200%;
    transition: all ease-in .3s;
}

.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_double .lm_home_double_con .lm_home_recommend{
    width:602px;
    float: left;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_double .lm_home_double_con{
    width:602px;
    height:274px;
    overflow: hidden;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_double{
    position: relative;
}
.lm_home_mod4 .lm_home_con .lm_home_center .lm_home_double .lm_next{
    position: absolute;
    top: 110px;
    right: 30px;
    cursor: pointer;
}
.lm_home_mod4 .lm_home_double .lm_home_recommend li:nth-child(5n):hover .lm_home_info_con{
    padding-left: 39px;
}

.lm_home_mod4 .lm_home_double  .lm_home_recommend li:nth-child(5n) .lm_home_info{
    right: 0;
    left: auto;
}

/* old silder  */
.category {
    display: block !important;
}

.home-focus-layout .right-sidebar {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000');
    background: rgba(0, 0, 0, 0.7);
    width: 120px;
    border: none;
    margin-left: 480px;
}

.home-focus-layout .right-sidebar .top-account img, .home-focus-layout .right-sidebar .activity img {
    margin: 10px auto;
    width: 68px;
    height: 68px;
    overflow: hidden;
    border-radius: 100px;
}

.home-focus-layout .right-sidebar .top-account p {
    text-align: center;
    font-size: 14px;
    color: #fff
}

.home-focus-layout .right-sidebar .top-account a, .home-focus-layout .right-sidebar .activity a {
    color: #fff;
    text-align: center;
    display: block
}

.home-focus-layout .right-sidebar .login {
    padding: 0 14px;
    background: #800000;
    width: 54px;
    border-radius: 100px;
    margin: 10px auto !important
}

.home-focus-layout .right-sidebar .activity h1 {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2434343', endColorstr='#B2434343');
    background: rgba(67, 67, 67, 0.7);
    text-align: center;
    color: #fff;
    padding: 4px 0;
    margin: 8px 0 6px;
}
.lm_home_top_silder{
    position: relative;
}

.home-focus-layout .right-sidebar .activity a {
    margin: 2px 0
}

.full-screen-slides li a {
    display: block;
    width: 100% !important;
    height: 480px !important;
    text-indent: 0px !important;
    margin-left: 0;
    position: inherit;
    z-index: 2;
    left: 0;
}

.full-screen-slides li a img {
    width: 100% !important;
    height: 480px !important;
}

.public-nav-layout .all-category .category {
    height: 479px;
}
.full-screen-slides{
    overflow: hidden;
}
/*old silder end*/

.full-screen-slides-pagination li{
    width:10px !important;
    height:10px !important;
    border-radius: 100%;
    background: rgba(0,0,0,1) !important;
}
.full-screen-slides-pagination .current{
    background: #f3b71b !important ;
}

/*lm 17.5.26*/
.lm_home_pub .lm_home_con .lm_home_mod1 .lm_home_mod1_left{
    position: relative;
}

.lm_finance_ad {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #e90525;
    font-size: 14px;
    color: #fff;
}

.lm_finance_ad span {
    width: 100%;
    display: block;
    height: 34px;
    position: relative;
    line-height: 34px;
    padding-right: 15px;
}
.lm_finance_ad span:before {
    background-image: url(../images/lm_finance_tip.png);
    width: 54px;
    height: 34px;
    position: absolute;
    left: -54px;
    bottom: 0;
    display: block;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
}
