body,html{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	background-color: #f5f5f5;
	word-wrap: break-word;
}
.header{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.header-top{
	width: 100%;
	height: auto;
}
.header-top img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-bottom{
	width: 100%;
	margin-top: 25px;
	padding-bottom: 7px;
	position: relative;
    display: flex;
}
.header-bottom-span1{
    color: #010101;
    font-size: 13px;
    width: 8rem;
    text-align: center;
    line-height: 2rem;
}
.header-bottom-i1{
	color:#e8e8e8;
	font-style: normal;
	padding-left: 3%;
	padding-right: 3%;
}
.search{
	width: 65%;
	border: solid 1px #e8e8e8;
	border-radius: 18px;
	line-height: 29px;
	outline:none;
	text-indent: 12px;
}
.search_btn{
    height: 100%;
    border: rgba(0, 0, 0, 0.09) solid 1px;
    border-radius: 0 6rem 6rem 0;
    background: #fff;
    border-left: none;
    cursor: pointer;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.header-bottom-icon1{
	display: block;
	position: absolute;
	right: 9%;
	top: 6px;
	background-image: url("../../images/toupiao/sousuo.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
#qll_search {
     height: 26px;
     flex: 1;
     display: flex;
     align-items: center;
 }
#qll_search .inp {
    height: 100%;
    border: rgba(0, 0, 0, 0.09) solid 1px;
    border-radius: 6rem 0 0 6rem;
    background: #fff;
    border-right: none;
    padding: 0 1rem;
    flex: 0.9;
    font-size: 1.3rem;
}
#qll_search .btn {
    width: 15%;
    height: 100%;
    border: rgba(0, 0, 0, 0.09) solid 1px;
    border-radius: 0 6rem 6rem 0;
    background: #fff;
    border-left: none;
    cursor: pointer;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
#qll_search .btn i {
    font-size: 1.8rem;
    color: #b5b5b5;
}

.main{
	width: 100%;
	margin-top: 12px;
}
.main-top{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
}
.main-top ul{
	margin:0;
	padding:0;
	padding-top: 19px;
}
.main-top ul li{
	display: block;
    width: 40%;
	height: 0;
	padding-bottom: 54%;
    float: left;
    margin-left: 6.5%;
    margin-top: 0;
    position: relative;
    margin-bottom: 15px;
}
/*
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 160px;
    height: 160px;
    border: solid 1px #F5F5F5;
    overflow: hidden;



	border: medium none;
    vertical-align: middle;



*/

.main-top-span1{
	width: 100%;
	display: block;
	position: relative;
	padding-bottom: 98%;
	height: 0;
	overflow: hidden;
	background: #fff;
	border: #dfdfdf solid 1px;
	border-radius: 2px;
	vertical-align: middle;
}
.main-top-span1 img{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	vertical-align: middle;
	margin: auto;
	max-width: 96%;

}
.main-top-span2{
	display: block;
	color:#3a3a3a;
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	overflow: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main-top-icon1{
	display: inline-block;
	background-image: url("../../images/toupiao/xin.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 15px;
	height: 13px;
	margin:0 auto;
}
.main-top-span3{
	display: block;
	position: absolute;
    left: -7%;
    top: 7px;
	z-index: 11111;
	font-size: 12px;
	color: #3a3a3a;
	background-color: #fabf13;
	width: 55%;
	line-height: 20px;
	border-radius: 18px;
	text-align: center;
}
.icon2{
	background-image: url("../../images/toupiao/xin1.png");
}
.main-top-p1{
	text-align: center;
	margin:0;
	padding:0;
}
.main-top-span4{
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	margin-left:2%;
}

.main-center{
	margin-top:12px;
	background-color: #fff;
	overflow: hidden;
}
.main-center-top{
	padding-left:5%;
	padding-right: 5%;
	border-bottom: solid 1px #a0a0a0;
	padding-bottom:25px;
	overflow: hidden;
}
.main-center-top h3{
	font-size: 12px;
	color: #010101;
	margin:0;
	padding:0;
	margin-top: 18px;
	margin-bottom: 10px;
}
.main-center-top p{
	font-size: 12px;
	color: #3a3a3a;
	text-indent: 12px;
	margin: 0;
	padding: 0;
	line-height: 25px;
}
.main-center-center{
	padding-left:5%;
	padding-right: 5%;
	border-bottom: solid 1px #a0a0a0;
	padding-bottom:5%;
	overflow: hidden;
}
.main-center-center h3{
	font-size: 12px;
	color: #010101;
	margin:0;
	padding:0;
	margin-top: 18px;
	margin-bottom: 10px;
}
.main-center-center p{
	font-size: 12px;
	color: #3a3a3a;
	text-indent: 12px;
	margin: 0;
	padding: 0;
	line-height: 25px;
}
.main-center-bottom{
	text-align: center;
	padding: 51px 0;
	background-color: #fff;
}
.main-center-bottom-btn1{
	background-color: #92cdbb;
	border: solid 1px #92cdbb;
	line-height: 26px;
	border-radius: 14px;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 12px;
	color:#3a3a3a;
}


/* 分享页面 */
.share-header{
	background-color: #fff;
	width: 100%;
	height: auto;
}
.share-header img{
	display: block;
	width: 100%;
	height: 100%;
}
.share-main{}
.share-top{
	background-color: #fff;
}
.share-top h3{
	font-size: 12px;
	color: #010101;
	text-align: center;
	margin:0;
	padding:0;
	padding-top: 16px;
	padding-bottom:26px;
}
.share-center{
	background-color: #fff;
}
.share-center ul{
	margin:0;
	padding:0;
}
.share-center ul li{
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
}
.share-center-span1{
	display: block;
	width: 100%;
	height: auto;
}
.share-center-span1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.main-top-span6{
	display: block;
	position: absolute;
    left: -7%;
    top: 7px;
	z-index: 11111;
	font-size: 12px;
	color: #3a3a3a;
	background-color: #fabf13;
    width: 35%;
    line-height: 25px;
	border-radius: 18px;
	text-align: center;
}
.share-center-p2{
	text-align: center;
	font-size: 14px;
	color: #3a3a3a;
}
.share-center-span2{
	margin-right: 3%;
}
.share-top-p3{
	font-size: 12px;
	color: #3a3a3a;
	padding-bottom: 21px;
}


.share-bottom{
	margin-top:12px;
	background-color: #fff;
	overflow: hidden;
}
.share-bottom-top{
	padding-left:5%;
	padding-right: 5%;
	border-bottom: solid 1px #a0a0a0;
	padding-bottom:25px;
	overflow: hidden;
}
.share-bottom-top h3{
	font-size: 12px;
	color: #010101;
	margin:0;
	padding:0;
	margin-top: 18px;
	margin-bottom: 10px;
}
.share-bottom-top p{
	font-size: 12px;
	color: #3a3a3a;
	text-indent: 12px;
	margin: 0;
	padding: 0;
	line-height: 25px;
}
.share-bottom-center{
	padding-left:5%;
	padding-right: 5%;
	border-bottom: solid 1px #a0a0a0;
	padding-bottom:25px;
	overflow: hidden;
}
.share-bottom-center h3{
	font-size: 12px;
	color: #010101;
	margin:0;
	padding:0;
	margin-top: 18px;
	margin-bottom: 10px;
}
.share-bottom-center p{
	font-size: 12px;
	color: #3a3a3a;
	text-indent: 12px;
	margin: 0;
	padding: 0;
	line-height: 25px;
}
.share-bottom-bottom{
	margin-top:46px;
	text-align: center;
	padding-bottom:51px;
}
.share-bottom-bottom-btn1{
	background-color: #92cdbb;
	border: solid 1px #92cdbb;
	line-height: 26px;
	border-radius: 14px;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 12px;
	color:#3a3a3a;
}

/* 活动列表 */
.list-main{
	background-color: #fff;
	overflow: hidden;
	margin-top: 2rem;
}
.list-main-top{}
.list-main-top ul{
	margin:0;
	padding:0;
}
.list-main-top ul li{
	list-style: none;
	display: block;
	padding: 5%;
	border-bottom: solid 1px #ccc;
	overflow: hidden;
}
.list-main-top-span1{
	display: block;
	width: 100%;
	height: auto;
}
.list-main-top-span1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.list-main-top-top{
}
.list-main-top-top-p1{
	margin:0;
	font-size: 15px;
	color: #3a3a3a;
	line-height: 25px;
	margin-top: 10px;
}

.list-main-top-bottom{
}
.list-main-top-bottom a{

}
.list-main-top-bottom-p2{
	margin:0;
	font-size: 12px;
	color: #666666;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 45%;
	line-height: 24px;
}
.btn1{
	display: block;
	float: right;
	padding:4px 15px;
	background-color: #e5e5e5;
	font-size: 12px;
	color: #3a3a3a;
	text-decoration: none;
	border-radius: 15px;
	width: 38px;
}
.btn2{
	display: block;
	float: right;
	padding:4px 15px;
	background-color: #e5e5e5;
	font-size: 12px;
	color: #3a3a3a;
	text-decoration: none;
	border-radius: 15px;
	margin-left: 3px;
	width: 50px;
}
.btn-icon1{
	display: block;
	background-image: url("../../images/toupiao/you.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 7px;
	height:13px;
	float: right;
	margin-top: 2px;
	margin-left:5px;
}

/*活动详情页面*/
.s-dialog-wrapper{
	min-width: 20rem;
	margin-top: -6rem;
}
.s-dialog-content{
	padding-top: 2rem;
	height: 5rem;
	font-size: 2rem !important;

}
.s-dialog-btn-wapper a{
	padding-top: .5rem;
	display: inline-block;
	height: 2rem;
	font-size: 1.5rem !important;
}
.vote_footer {
	background: #272727;
	padding: 10px 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999; }
.vote_footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around; }
.vote_footer ul li a {
	color: #cdbf8c;
	display: flex;
	flex-flow: column wrap;
	align-items: center; }
.vote_footer ul li a i {
	font-size: 20px;
	margin-bottom: 3px; }
.vote_footer ul li a .text {
	font-size: 13px; }
.vote_footer ul li.active a {
	color: #f3b71b; }
.vote_footer ul li:nth-child(1) i:before {
	content: "\E61C"; }
.vote_footer ul li:nth-child(5) i:before {
	content: "\E65A"; }


/*提示*/
.s-dialog-content{
	font-size: 12px !important;
}