  .header-w {
  width: 100%;
}
  .header-w .header-img{
      position: relative;
  }
  .header-w .header-img img {
      width: 100%;
  }
  .header-w .header-txt{
      width: 100%;
      /*height: 25rem;*/
      background-color: #fff;
  }
  .header-w .header-txt span{
      width: 100%;
      display: inline-block;
      height: 7rem;
      line-height: 7rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;

  }

  .header-w .header-txt p{
      font-size: 1.2rem;
      line-height: 2rem;
      padding: 0 1.2rem 2.4rem 1.2rem;
      word-break:break-all;
  }
  .header-w .header-btn{
      width: 100%;
      height: 9rem;
      background-color: #fff8e5;
      box-shadow:0px 0px  8px 0px #aaa;
      text-align: center;
  }
  .header-w .header-btn span{
      display: block;
      text-align: center;
      height: 4rem;
      line-height: 4rem;
      font-size: 1.5rem;
      font-family: PingFangSC-Regular, sans-serif;
  }
  .header-w .header-btn .w-btn{
      display: inline-block;
      width: 18rem;
      height: 4rem;
      background: url(../images/btn.png) no-repeat;
      background-size:18rem 4rem;
  }
  .header-w .header-btn .w-btn p{
      color: #fff;
      font-size: 1.3rem;
      letter-spacing: 2px;
      line-height: 3.8rem;
      font-family: PingFangSC-Regular, sans-serif;
      width: 18rem;
      overflow: hidden;
  }


  /*商品*/
  .commodity{
      box-shadow:0px 0px  8px 0px #aaa;
      padding: 1rem 0rem;
      margin-top: 1rem;
  }
  .commodity ul li {
      width: 100%;
      height: 41.5rem;
      display: inline-block;


  }

  .commodity ul li a{
      display: inline-block;
      width: 100%;
  }

  .commodity ul li a .img-sell{
      position: relative;
      height: 23rem;
  }
  .commodity ul li a .img-sell img{
      height: 23rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;

  }
  .commodity ul li a .img-sell .sell-out{
      position: absolute;
      width: 12rem;
      height: 12rem;
      background-color: #555452;
      opacity: 0.5;
      border-radius: 50%;
      left:50%;
      top:50%;
      margin-left: -6rem;
      margin-top: -7rem;
  }
  .commodity ul li a .img-sell .sell-out .sell-dotted{
      width: 11rem;
      height: 11rem;
      border: 2px dotted #bebfbe;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      text-align: center;
  }
  .commodity ul li a .img-sell .sell-out .sell-dotted span{

      height: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      font-family: PingFangSC-Regular, sans-serif;
      color: #fff;
      font-size: 1.6rem;


  }

  .commodity ul li a .img-sell .sell-out .z-line{
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
      position: absolute;
      top: 25px;
      right: 25px;
      transform: rotate(-55deg);

  }
  .commodity ul li a .img-sell .sell-out .f-line{
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
      position: absolute;
      bottom: 30px;
      left: 20px;
      transform: rotate(-55deg);
  }

  .commodity ul li a .information{
      height: 18.5rem;
      padding: 2rem 3.5rem;
      color: #000;
      line-height: 3rem;
      font-family: PingFangSC-Regular, sans-serif;
  }


  .commodity ul li a .information .info-title{
      font-size: 1.6rem;
      font-family: PingFangSC-Regular, sans-serif;
      font-weight: bold;
  }
  .commodity ul li a .information .info-price{
      font-size: 1.3rem;

  }

  .commodity ul li a .information .info-price .market-price{

      float: left;
      width: 50%;
  }
  .commodity ul li a .information .info-price .market-price .mp{
      font-weight: 600;

  }
  .commodity ul li a .information .info-price .market-price .line-through{
      text-decoration:line-through;
      font-weight: lighter!important;
  }

  .commodity ul li a .information .info-price .promotion-price{
      float: left;
      width: 50%;
  }
  .commodity ul li a .information .info-price .promotion-price .mp{
      font-weight: 600;
  }
  .commodity ul li a .information .info-price .promotion-price .price-red{
      color: #bb0000;
  }
  .commodity ul li a .information .introduce{

  }
  .commodity ul li a .information .info-btn{
      width: 10rem;
      height: 3rem;
      background-color: #c2c2c2;
      border-radius: 10px;
      text-align: center;
  }
  .commodity ul li a .information .info-btn span{
      font-size: 1.2rem;
      letter-spacing: 4px;
  }
  .commodity ul li a .information .buying-btn{
      width: 10rem;
      height: 3rem;
      background-color: #a65b44;
      border-radius: 10px;
      text-align: center;
  }
  .commodity ul li a .information .buying-btn span{
      font-size: 1.2rem;
      letter-spacing: 4px;
      color: #fff;
  }

  .erweima{
      width: 100%;
      height: 15rem;

  }
  .erweima img{
      width: 100%;
  }

  /*售罄隐藏和显示*/
  .hide{
      display: none;
  }
  .show{
      display: block;
  }





