/* ============== */
/* 店铺模板水墨风格 */
/* @kivenhan      */
/* www.shopnc.net */
/* Apr-14-2012    */
/* ============== */


body { background: #FFF9E6 url(images/body_bg.jpg) no-repeat 50% 181px;}
a { color: #960; }
a:hover { color: #600;}

/* 导航区域布局控制 */
.ncsl-nav { text-align: center; width: 100%; height: 350px; position: relative; z-index: 1;}
.ncsl-nav .banner a.img { width: 1200px; margin: 0 auto;}
.ncs-default-banner { background: url(images/header.png) no-repeat 50% 0; display: block; width: 100%; height: 306px; position: absolute; z-index: 2; top:0; left:0;}
/* 店铺导航 */
#nav { background: url(images/nav_bg.png) no-repeat center top; text-align: left; width: 100%; height: 60px; padding-bottom: 95px; border: none 0; position: absolute; z-index:3; left:0; top:280px;}
#nav ul { width: 1182px; height: 36px; margin: 10px auto auto auto;}
#nav li { padding: 0px 20px 0px 26px;}
#nav ul li:first-child { background-image: none;}/* 排行列表第一行不显示上虚线 */
#nav li.normal a, 
#nav li.active a { background-color: transparent;}
#nav li.normal a span, 
#nav li.active a span {font-family:"microsoft yahei"; font-size: 16px; font-weight: 600; line-height: 36px; color: #ccc; background-color: transparent; text-overflow: ellipsis; white-space: nowrap; max-width:160px; height: 36px; padding: 0; float: left; overflow:hidden; cursor:pointer; }
#nav li.normal a:hover span { color: #FFF;}
#nav li.active a span, 
#nav li.active a:hover span { color: #FFF; }
/*店铺分类下拉导航*/
#nav .ncs-nav-classes .classes-menu { background-color: #EFDFCB; border-color: #CCA881; top: 36px; left: 30px;}
#nav .store-nav-class-sub-menu a { color: #996600;}
#nav .store-nav-class-sub-menu a i { background-color: #CCA881; }
#nav .store-nav-class-menu-item { background-color: #FFF9E6; border-color: #CCA881;}
#nav .store-nav-class-menu-item li a:hover { color: #996600;}



/* (nc-s-c-s) full name -> ShopNC Store Container Style */
.ncs-sidebar-container {}
.ncs-sidebar-container .title { background: url(images/sidebar_bg.png) no-repeat scroll 0% 0%; height: 54px; border: none 0;}
.ncs-sidebar-container .title h4 { font-size: 14px; color:#000; line-height: 22px; margin: 16px 0 16px 38px; display: inline-block; text-shadow: 1px 1px 0 rgba(255,255,255,1);}
.ncs-sidebar-container .title h4 {*display: inline;}
.ncs-sidebar-container .content { background: url(images/sidebar_bg.png) no-repeat 0% 100%; border: none 0; padding-bottom: 20px;}



.ncs-main-container {}
.ncs-main-container .title { height: 36px; background: #FFF url(images/title_bg_01.png) no-repeat 0% 0%; padding: 8px 0 8px 0; border: solid #DABF9E; border-width: 1px 1px 0 1px; border-radius: 5px 5px 0 0;}
.ncs-main-container .title h4 { font-weight: normal; font-size: 14px; font-weight: 600; line-height: 22px; color: #000; display: inline-block; margin: 0 0 0 56px; text-shadow: 1px 1px 0 rgba(255,255,255,1);}
.nc-s-c-s2 .title h4 { *display: inline;}
.ncs-main-container .title span { display: inline-block; font-size: 12px; float:right; margin-right: 16px; line-height: 16px; color: #777;}
.ncs-main-container .content { clear:both; background-color: #FFF; border: solid #DABF9E; border-width: 0 1px 1px 1px; border-radius: 0 0 5px 5px; overflow:hidden; }


/* =====================
 * 独立类样式
 * ===================== */
/* 列表翻页 */
.pagination{ padding: 2px; margin-right: 16px;}
.pagination ul li span{ line-height: 20px; color: #EEDCC6; padding: 1px 8px; margin: 0px 2px; border: 1px solid #F3E6D7; border-radius: 4px;}
.pagination ul li a span , .pagination li a:visited span{ color: #CCA881; text-decoration: none; border-color: #F3E6D7;}
.pagination ul li a:hover span, .pagination li a:active span{ color: #876136; background-color: #FFF; border-color: #F3E6D7;}
.pagination ul li span.currentpage{ color:#876136; background-color: #FAF2DF; border-color: #E6D3BE; box-shadow: 0 1px 1px rgba(0,0,0,0.1)}



/* ============================== */
/* 头部店铺介绍与搜索 -> header.php */
/* ============================== */

/* 导航上部图片控制 */






/* ====================== */
/* 左侧边栏样式 -> left.php */
/* ====================== */

/* 侧边栏商品分类 */
.ncs-class-bar p { background: transparent url(images/line_bg.gif) repeat-x center bottom; height:28px; padding-top: 4px;}
.ncs-class-bar p span { text-align: center; display:inline-block; width: 25%; height:20px; padding: 4px 0}
.ncs-class-bar p a { line-height: 16px; color: #777; padding: 2px; background: url(images/no_repeat_bg.png) no-repeat 0 -999px;}
.ncs-class-bar p a:hover { text-decoration: none; color: #FFF; background-color: transparent; background-position:  0 0; border-radius: 4px;}
.ico-none, .ico-block, .ico-sub {display: inline-block; float:left; cursor: default;}
.ico-none, .ico-block { width: 10px; height:10px; text-align:center; margin: 5px 10px 5px 0; border-radius: 2px;}
.ico-none em, .ico-block em { font-size: 12px; line-height:10px; text-shadow: 1px 1px 0 rgba(255,110,0,.25);}
.ico-sub { font-size: 0px; line-height:0; width: 3px; height:3px; margin: 8px 6px 8px 0; border-radius: 3px;}

/* 侧边栏排行榜 */
.ncs-top-tab { background: transparent url(images/line_bg.gif) repeat-x center bottom; height:28px; padding-top: 4px;}
.ncs-top-tab li a { line-height: 20px; text-decoration:none; color: #85684B; background-color: #EFDFCB; text-align:center; width: 86px; height: 20px; float:left; padding:1px 0; margin: 4px 0 1px 4px; border: solid #CCA881; border-width: 1px 1px 0 1px; border-radius: 4px 4px 0 0; text-shadow: 1px 1px 0 rgba(255,255,255,1);}
.ncs-top-tab li.current a { color:#000; background: #FAF2DF url(images/background.gif) repeat-x center top; padding: 1px 0 2px 0; margin: 4px 0 0 4px; box-shadow: 0 -1px 1px rgba(0,0,0,.05);}
.ncs-top-panel li { border-bottom: dotted 1px #E4DAC5;}
.ncs-top-panel li:hover { background-color: #FFF9E6;}
.ncs-top-panel dd.goods-pic a { border: solid 1px #E4DAC5; border-radius: 4px; }
.ncs-top-panel li:hover dd.goods-pic a { border-color: #EBE1CA; box-shadow: none;}
.ncs-top-panel dd.goods-pic p { border: solid 1px #CCA881;}
.ncs-top-panel dd.goods-pic p big { border-color: transparent #CCA881 transparent transparent;}
.ncs-top-panel dd.goods-pic p small { border-color: transparent #FFFFFF transparent transparent;}


/* ========================================= */
/* 商品列表类页面 -> index.php, goods_list.php */
/* ========================================= */

/* 焦点图轮换 */ 
.flex-control-nav li a { line-height: 10px; background: url(images/no_repeat_bg.png) no-repeat 0px -30px; text-indent: -9999px; width: 10px; height: 10px; border: none;}
.flex-control-nav li a:hover { line-height: 10px; background-position: -10px -30px; width: 10px; height: 10px; border: none;}
.flex-control-nav li a.flex-active { line-height: 10px; background: url(images/no_repeat_bg.png) no-repeat -20px -30px; width: 10px; height: 10px; border: none; box-shadow: none;}

/* 列表排序 */
.ncs-goodslist-bar { background: #FFF; border-style: solid; border-color: #DABF9E; border-width: 0 1px; padding:6px 0;}

/* 商品列表 */
.ncg-list { clear:both;}
.ncg-list .content ul { width: 790px; margin: 20px auto; overflow:hidden;}
.ncg-list .content ul li { width: 33%; display: inline-block; float: left; margin-bottom: 20px;}
.ncg-list .content ul li dl { width: 220px; margin: 0px auto; padding-top: 220px; position: relative; display: block; line-height: 16px; text-align: center;}
.ncg-list .content ul li dd.ncg-pic { background:url(images/no_repeat_bg.png) no-repeat 0px -50px; width: 160px; height: 160px; padding: 30px; margin: 0; border: none;}
.ncg-list .content ul li dd.ncg-pic .thumb { width: 160px; height: 160px;}
.ncg-list .content ul li dt { width: 220px; height: 40px;  margin: 8px 0 2px 0;}
.ncg-list .content ul li dt a { line-height: 17px; background: url(images/no_repeat_bg.png) no-repeat 9999px 9999px; display:block; width: 200px; height: 32px; padding: 3px 10px; overflow:hidden;}
.ncg-list .content ul li dt a:hover { color: #FFF; background-position: 0px -280px; text-decoration: none; text-shadow: 1px 1px 0 rgba(255,255,255,.2);}
.ncg-list .content ul li dd { margin: 0 0 6px 0; top: 0px; left: 0px;}
.ncg-list .content ul li dd.ncg-sold { color: #B9B5A8;}
