@charset "utf-8";
/* CSS Document */
a,p{color:#000}
a,a:hover{text-decoration:none}
body,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,select,textarea,ul{margin:0;padding:0;-webkit-text-size-adjust:none;font-family:"Microsoft YaHei","Heiti",Helvetica,"Hiragino Sans GB","Helvetica Neue",STHeiTi,sans-serif,arial;color: #fff; font-weight:normal; font-size: 0.8rem}
table{margin:0 auto}
p{text-align:justify;line-height:24px}
body{background-color:#fff;min-width:320px; max-width:960px; margin:0 auto}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block}
[hidden],audio:not([controls]),img:not([src*="/"]){display:none}
.clear,.clearfix:after,.clearfix:before{overflow:hidden;clear:both;height:0;display:block}
ol,ul{list-style:none}
li{list-style-type:none}
img{border:0;outline:0;display: block}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:400}
b{font-weight:normal}
i{font-style:normal}
a{-webkit-tap-highlight-color:rgba(255,255,255,0);font-family:"Microsoft YaHei","Heiti",Helvetica,"Hiragino Sans GB","Helvetica Neue",STHeiTi,sans-serif,arial; cursor:pointer}
.clear{line-height:0; width: 0; height: 0;margin: 0; padding: 0; clear: both;}
.clear:after{visibility:hidden;content:"."}
.theme-color{ color:#800000 !important}
.theme-background-color{ background:#800000 !important}
.black-background-color{ background:#000000 !important}
.gray-background-color{ background:#818181 !important}
.white{ color:#fff}
.black{color:#000}
.all-block{display:block !important}
.gray-bg{background:#f2f2f2}
.white-bg{background:#fff}
.black-bg{background:#000}
.red-bg{background:#800000}
.gray-big-bg{background:#818181}
.fl{float:left}.fr{float:right}.fn{float:none !important}
.no-footer{padding-bottom:0 !important}
.no-header{padding-top:0 !important}
.footer,footer{z-index:99999}
.w100{width:100% !important}
.mt0{margin-top:0 !important;}  
/*小号字体样式*/
.small-font{font-size:12px;-webkit-transform-origin-x:0;-webkit-transform:scale(0.85);}
.smallsize-font{font-size:10px !important;}

.f-w-13{font-size:13px}.f-w-14{font-size:14px}.f-w-15{font-size:15px}.f-w-16{font-size:16px}.f-w-17{font-size:17px}.f-w-18{font-size:18px}.f-w-19{font-size:19px}.f-w-20{font-size:20px}.f-w-21{font-size:21px}.f-w-22{font-size:22px}
.f-w-23{font-size:23px}.f-w-24{font-size:24px}.f-w-25{font-size:25px}.f-w-26{font-size:26px}.f-w-27{font-size:27px}.f-w-28{font-size:28px}.f-w-29{font-size:29px}.f-w-30{font-size:30px}.f-w-31{font-size:31px}.f-w-32{font-size:32px}
.limited-words{
	display: -webkit-box;/*将对象作为弹性盒子模型显示*/
	overflow: hidden; /*超出隐藏*/
	text-overflow:ellipsis;
	word-break:break-all;
	-webkit-box-orient:vertical;/*伸缩盒对象的子元素的排列方式-垂直*/
	}
.limited-words-1{-webkit-line-clamp:1;/*限制在一个块级元素显示的文本的行数*/}
.limited-words-2{-webkit-line-clamp:2;}
.limited-words-3{-webkit-line-clamp:3;}
.limited-words-4{-webkit-line-clamp:4;}
.limited-words-5{-webkit-line-clamp:5;}
.limited-words-6{-webkit-line-clamp:6;}
.limited-words-7{-webkit-line-clamp:7;}
.limited-words-8{-webkit-line-clamp:8;}
.limited-words-9{-webkit-line-clamp:9;}
.limited-words-10{-webkit-line-clamp:10;}
/*首页样式*/
body{padding:44px 0 56px;}
.title-name{width:100%; height: auto;padding:8px 0;margin:10px 0 0; background: #fff; text-align: center;border-bottom:#d9d9d9 solid 1px;}
.title-name h1{color: #000;font-size:15px;}
.title-name i{width:1.4rem;height: 2px; margin:6px auto 0; background: #000}
.content-box-01{display:block;width:100%;}
.content-box-01 a{display:block;float: left;border-bottom:#e6e6e6 solid 1px;border-left:#e6e6e6 solid 1px;}
.content-box-01 a img{display:block;width: 100%; height: auto}
.content-box-02 a{position:relative;float: left;background: #fff}
.content-box-02 a img{width:100%; height: auto;border-left:#e6e6e6 solid 1px;}
.content-box-02 a div.content-detail{padding:6px 0 8px 10px;height: auto;display:block; background: #fff;color:#4c4c4c;border-left:#e6e6e6 solid 1px;}
.content-box-02 a div.content-detail h1{width:120px;font-size:12px; color:#000;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.content-box-02 a div.content-detail span{display:block;font-size:12px;-webkit-transform-origin-x:0;-webkit-transform:scale(0.9);margin: 0.15rem 0;}
.content-box-02 a div.content-detail span b{font-size:14px}
.content-box-02 a div.content-detail span:last-child{-webkit-transform-origin-x:0;-webkit-transform:scale(0.85);}
.content-box-02 a div.fixed-box{width:54px;text-align: center;position: absolute;right:0;border-left:#e6e6e6 solid 1px;background: #fff}
.content-box-02 a div.fixed-box span{display:block;padding:5px 0;width: 54px; height:50px;font-size: 12px;box-shadow:-1px 2px 5px rgba(0,0,0,.35);-moz-box-shadow:-1px 2px 5px rgba(0,0,0,.35); -webkit-box-shadow:-1px 2px 5px rgba(0,0,0,.35);}
.content-box-02 a div.fixed-box span b{font-size:14px}
.content-box-02 a div.fixed-box img{display:block;width:42px;margin: 0 auto;border: none}
.index-more{width:100%;height: 38px; background: #fff;padding:8px 0;border-top:#e6e6e6 solid 1px;font-size: 12px;color: #4c4c4c; text-align: center}
.content-box-03 a{position:relative;float: left;background: #fff;border-left:#e6e6e6 solid 1px;}
.content-box-03 a img{width:100%; height: auto;}
.content-box-03 div.content-detail{padding:4px 0 0 10px;display:block; background: #fff;color:#4c4c4c;}
.content-box-03 div.content-detail h1{width:120px;font-size:12px;margin-top: 4px; color:#000;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.content-box-03 div.content-detail span{display:block;font-size:12px;-webkit-transform-origin-x:0;-webkit-transform:scale(0.85); }
.content-box-03 a div.fr{width:48px;height:48px;}
.content-box-03 a div.fr img{width:100%;height: 100%}
.content-box-04 a{position:relative;float: left;background: #fff}
.content-box-04 a img{width:100%;border-left:#e6e6e6 solid 1px;}
.content-box-04 a div.content-detail{padding:2px 0 0 10px; height: auto;display:block; background: #fff;color:#4c4c4c;border-left:#e6e6e6 solid 1px;}
.content-box-04 a div.content-detail h1{width:270px;font-size:12px; color:#000;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.content-box-04 a div.content-detail span{display:block;font-size:12px;-webkit-transform-origin-x:0;-webkit-transform:scale(0.8);}
.content-box-04 a div.content-detail span:last-child{font-size:12px;-webkit-transform-origin-x:0;-webkit-transform:scale(0.9);}
.content-box-04 a div.fr{width:70px;height:62px;background: #4d4d4d; text-align: center;font-size:12px;}
.content-box-04 a div.fr b{display:block;margin-top:8px;font-size: 17px}
.content-box-05{margin:12px 0 0; }
.content-box-05 .content-block{margin: 0;padding: 0}
.content-box-05 .buttons-tab .button{font-size:12px;border-left:#e6e6e6 solid 1px;height: 40px;line-height: 36px}
.content-box-05 .buttons-tab .button:first-child{border-left:none}
.content-box-05 .buttons-tab .button.active{color:#fff; background: #000;border-bottom:#fff solid 1px;}
.content-box-05 .content-block{border-bottom:none !important}
.bar-tab{position:fixed;background: #000;height:56px}
.bar-tab .tab-item{color: #bfbfbf; width: 20%;height: 56px; display: block;float: left}
.bar-tab .tab-item .icon,.bar-tab .tab-item .icon img{height:22px;width: auto;display: inline}
.bar-tab .tab-item .icon~.tab-label{top:6px;font-size: 12px}
.bar-tab .tab-item .icon{top:8px}
/*热门搜索*/
.top-hot-search{background:#fff;padding-top:8px}
.top-hot-search a.selected{border-bottom:#000 solid 1px; padding-bottom: 6px}
.top-hot-search .hot-search-name{width:74px;height: 38px; display: inline-block}
.top-hot-search .hot-search-name img{width:auto; height: 38px;}
.top-hot-search .hot-search{width:80%;height:38px;padding:0 2%; background: #fff; color: #333}
.top-hot-search .hot-search .swiper-wrapper .swiper-slide{display:inline-block; width: auto !important;padding: 0 6px}
.top-hot-search .hot-search .swiper-wrapper .swiper-slide a{font-size:14px;line-height:28px}
.content-tab .title-name{height:38px;padding:7px 0 0}
.content-tab .title-name a{display:block;width: 25%; float: left;height: 32px}
/*.content-tab .title-name a.actived{padding-bottom:8px; border-bottom:#000 solid 1px}*/
.tab-selected{width:36px;height:2px;display:block;margin:6px auto 0;background: #fff}
.actived .tab-selected{background: #000}
.content-tab .title-name h1,.content-tab .title-name h2{font-size:14px;color:#000}
.content-tab .title-name h1 span,.content-tab .title-name h2 span{display:inline-block;margin-left:2px; width:8px; height:14px;background: url(../images/point-03.png) center no-repeat; background-size: 100%;transform:translateY(2px);}
.account-info{width:100%;height: 180px;background: #161719;padding-top: 14px;text-align: center}
.account-info img{display:block;margin: 0 auto; width: 80px; height: 80px; border-radius: 50%; overflow: hidden}
.account-info h1{font-size:14px; text-align: center;margin: 10px 0 12px}
.account-info div{width:200px; margin: 0 auto}
.account-info div a{display:block;width:90px; height:28px; line-height: 26px; color:#fff;border-color: #e5e5e5;font-size: 12px;;border-radius: 2px}
.account-info div a.been{color:#878787; border-color: #878787}
.account-info .focus{padding: 0.2rem 0.5rem;margin: 0 auto 6px; width:60px; height: 24px;background: #800000;font-size: 12px; color: #fff;line-height: 22px}
.account-info a.been{background: #666}
.account-info div.nomal{display:block;width: 88%; height:38px;overflow: hidden; margin:0 auto; font-size: 12px; color: #ccc;line-height:18px;text-indent: 24px;text-align: justify}
.account-info div.nomal p{color:#fff;margin:0;padding: 0;line-height:inherit}
.account-info .display-out{height: auto !important;margin-bottom: 16px !important;}
.account-info .display-none{display: none !important;}
.account-info .point{font-size:12px; color:red;height:30px; display:inline-block;float:right;margin-right:12px;padding-left:8px;background: #161719;transform:translateY(-20px)}
.account-info .point i{font-size:18px;transform:translateY(3px);}
.account-number div{height:58px;padding-top: 4px; background: #fff;color: #262626; text-align: center; font-size:16px;line-height:24px;border-left:#e6e6e6 solid 1px;}
.account-number div:first-child{border-left:none}
footer{position:fixed;bottom: 0;width: 100%}
footer .row div{background:#fff; text-align: center;height: 42px;padding-top: 6px;color: #262626; text-align: center; font-size:14px;line-height: 26px;border-left:#e6e6e6 solid 1px;}
footer .row div:first-child{border-left:none}
.swiper-container-banner{width: 100%;position: relative;overflow: hidden}
.swiper-container-banner img{width:100%;height: auto}
.banner-a img{width:100%; height: auto;margin: 12px 0}
.quality .buttons-tab{width: 100%; overflow-x: scroll;}
.quality .buttons-tab .tab-link{font-size:12px}
.quality .buttons-tab .button{height:37px;line-height:36px;margin: 0 8px}
.quality .content-block{padding:10px 0 0;margin: 0;}
.quality .tab a{display: block;margin:6px 0 6px 11px; width: 80px;height: 80px;border-radius: 8px;float: left; overflow: hidden}
.quality .tab img{width:100%; height: 100%;}
.quality .buttons-tab .button.active{color: #000; border-color: #000;}
/*拍卖页面*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:6px !important}
.auction-top img{margin:0;width: 100%}
.auction-top div{text-align:center;padding: 14px 0;background: #ebebe9;border-top:#bfbfbf solid 1px}
.auction-top h1{width:100%; text-align: center; font-size: 16px;color:#000}
.auction-top span{display:inline-block;padding:0 14px;margin: 0 auto; height: 24px;line-height: 22px; text-align: center; font-size: 12px;color:#fff; background: #000;border-radius: 50px}
.auction-top a{width:80px;margin:10px auto 0;height: 24px; padding: 0 10px; border:#000 solid 1px;font-size: 12px;line-height: 21px; border-radius: 4px}
/*详情页面*/
.state-button{width:100%;height:44px; color: #fff;}
.state-button div{ width: 100%; height: 100%;text-align: center;font-size: 14px;line-height:46px;}
.state-button div.been{background: #666;}
.state-button div.start{background: #000;}
.detail .list-block{margin:0}
.detail .list-block ul{background:none}
.detail .list-block ul li{background:#fff}
.detail .list-block .item-content{padding:0;}
.detail .list-block .item-inner{padding:14px 12px}
.detail .list-block .item-inner .item-title{font-size:14px;color: #333}
.detail .list-block .item-inner .item-title h1{font-size:12px;color: #333}
.detail .list-block .item-inner .item-title h1 b{padding-left:8px}
.detail .list-block .item-inner .item-title span{display:block; float: left;margin:6px 24px 0 0;font-size: 12px}
.detail .list-block .item-inner .item-title h3{display:inline-block;padding:3px 14px;background: #800000;border-radius: 50px}
.detail .list-block .item-inner .item-title h4{display:block;color: #666;font-size: 12px;margin-top:6px}
.detail .list-block .item-inner .item-title h2,.detail .list-block .item-inner .item-title i{color:#333}
.detail .list-block .number{padding:0}
.detail .list-block .number .item-title,.detail .list-block .item-inner .row{width:100%}
.detail .list-block .number .item-title span{display: block;height: 100%; text-align: center;width: 33.333333%;margin: 0;border-left: #e6e6e6 solid 1px}
.detail .list-block .number .item-title span:first-child{border-left:none}
.detail .list-block  p{font-size:12px;}
.detail .list-block .item-inner .item-title .tip{display: block;width: 316px; padding:4px 14px;color:#fff; background: #666;border-radius: 6px; margin:0 auto;float: none}
.detail .list-block .item-inner .row span{color:#333}
.detail .list-block .item-inner .row span{display:block; float: left;margin:3px 0; font-size:12px;/*-webkit-transform-origin-x:0;-webkit-transform:scale(0.85);*/}
.detail .list-block .item-inner .record{width:100%;}
.detail .list-block .item-inner .record a{display:inline-block;width: 100%}
.detail .list-block .item-inner .record a img{transform:translateY(3px);}
.detail .list-block .item-inner .record a h2 font{font-size:12px}
.detail .list-block .item-inner .record a i{font-size:20px;color: #707070;transform:translateY(1px);}
.detail .list-block .item-content table tr{height:40px;font-size: 13px; border-bottom: #e6e6e6 solid 1px}
.detail .list-block .item-content table tr td{text-align: center;color: #333}
.detail .list-block .item-content table tr td span{color:#fff;font-size: 12px;padding:4px 6px;border-radius: 4px}
.detail .content-box-05 .buttons-tab .button.active{color:#000; background: #fff;/* border-bottom: #000 solid 1px;*/}
.detail .content-block{border-bottom: #000 solid 1px;}
.detail .content-block .tab{width:100%; overflow: hidden}
.detail .content-block .tab img{max-width:100%}
.detail .title-top{width: 100%; height:36px;margin: 12px 0 0; background: #fff}
.detail .title-top a{float:none;padding: 0 3%; width:100%; height: 100%;display: block;font-size: 12px;line-height:34px}
.detail .title-top a i{font-size:20px;color: #707070;transform:translateY(6px);}
.detail .like a div.content-detail{padding:8px 0 10px;text-align: center}
.detail .like a div.content-detail h1{width:100%; font-size: 16px}
footer.detail-footer{-moz-box-shadow:0px -2px 10px rgba(0,0,0,.2); -webkit-box-shadow:0px -2px 10px rgba(0,0,0,.2)
; box-shadow:0px -2px 10px rgba(0,0,0,.2);background: #fff}
footer.detail-footer .row{width:50%;}
footer.detail-footer .row div{height:54px;padding-top:8px;}
footer.detail-footer .fr a{line-height: 38px;color: #fff;font-size: 15px}
footer.detail-footer .row a img{display:block;margin: 0 auto; width:auto;height:18px}
footer.detail-footer .row a span{font-size:12px;}
footer.detail-footer .row a i{margin-top: 4px;font-size: 12px}
footer.detail-footer .gray-bg{background:#666666;border: none}
footer.detail-footer .red-bg{background:#800000;border: none}
footer.detail-footer .red-bg a span{color: #fff}
footer.detail-footer .none,footer.detail-footer .none img{opacity: 0.3}
/*增加减少控件样式*/
.value-box{height:50px;border: none;float: right}
.value-box span{margin:0 !important}
.value-box span input{height:50px !important;width:128px !important;color:#800000 !important;padding: 0 !important;font-style:normal !important;text-align: center}
.value-box span.minus,.value-box span.minus a,.value-box span.add,.value-box span.add a{width:50px !important;height:50px;margin:0 !important;border-radius:0}
.value-box span.minus a{background:url(../images/left-btn.jpg) center no-repeat;background-size:100% 100%;opacity:1}
.value-box span.add a{background:url(../images/right-btn.jpg) center no-repeat;background-size:100% 100%;opacity:1}

.detail .list-block .item-inner h1 i{color: #800000 !important;line-height: 32px;}
.detail .list-block .item-inner h1 input{width:118px;height: 28px;margin-left: 12px; background: #fcfcfc;border:#d9d9d9 solid 1px; float: left}
.detail .list-block .item-inner .row .col-100{margin:4px 0}
.detail .list-block .item-inner .l-btn{display:inline-block;margin:2px 6px 0 0;padding:0 4px;border:#800000 solid 1px;font-size: 12px; color: #800000;border-radius: 4px}
.detail .list-block .item-inner .item-title span font,.detail .list-block .item-inner .item-title span font i{color:#800000}
.detail .list-block .item-inner .item-title span font i{font-size:12px;transform:translateY(-1px);}
.modal-overlay-visible{display:none}
.popup-about{bottom:0;left:0;min-height: 240px; height:auto;background: #f7f7f7;-moz-box-shadow:0px -2px 10px rgba(0,0,0,.2); -webkit-box-shadow:0px -2px 10px rgba(0,0,0,.2)
; box-shadow:0px -2px 10px rgba(0,0,0,.2);}
.popup-about .content-block{height:auto;margin:0;padding: 0}
.popup-about .content-block .close-popup{position: relative;top:8px;width:32px; height:32px; float: right;}
.goods-options-stock dd a.current{padding: 0.25rem 0.5rem;}
.goods-options-stock dt{margin-bottom:8px;}
.goods-options-stock dd a{height:auto}
/*个人中心*/
.account-info .row{padding-top:12px; width:100%;height:40px;background:#000;}
.account-info .row div{height:18px; font-size:13px;border-left:#fff solid 1px}
.account-info .row div:first-child{border-left:none}
.other{width:100%;position:absolute; top:16px;padding:0 16px;z-index: 999}
.other a{display:block;width:60px}
.other a img{width:20px; height: 20px;}
.account-box{padding:16px 12px;margin:0 0 10px;width:100%;background: #fff}
.account-box h1{color:#000}
.account-box h1 i{font-size:18px;transform:translateY(2px);color:#c3c3c3}
.account-box h2{color:#7b7979;font-size: 13px;margin-top:14px;}
.account-box .account-link{background:#fff;padding-top:16px}
.account-box .account-link .swiper-container{width:100%;height:50px;background: #fff; color: #333}
.account-box .account-link .swiper-container .swiper-wrapper .swiper-slide{display:inline-block; width:18.2%;text-align: center;height: 48px;}
.account-box .account-link .swiper-container .swiper-wrapper .swiper-slide a{font-size:12px;}
.account-box .account-link .swiper-container .swiper-wrapper .swiper-slide a img{height: 20px;width: auto;display:block;margin: 0 auto}
.account-box .account-link .swiper-container-03 .swiper-wrapper .swiper-slide{width:25%}
.account-box .account-link .swiper-container .swiper-wrapper .swiper-slide a span{text-align:center;width:100%;display:inline-block;-webkit-transform-origin-x:0;-webkit-transform:scale(0.9);text-indent:2px}
.account-box .red-envelope{position:relative}
.account-box .red-envelope img{width:100%; height: auto}
.account-box .red-envelope div{position:absolute;min-width:102px;top:6px;left:120px;z-index:99;text-align: center}
.account-box .red-envelope div b{display:block;font-size:26px;}
.account-box .red-envelope div span{display:block;font-size:12px;}
.account-box-01{border-bottom:#e6e6e6 solid 1px;margin-bottom:0;}
.account-box-01 p{display:block;width:100%;margin:4px 0;color:#6c6a6a;font-size: 14px;}
.account-box-01 p i{color:#000}
.account-box-02{padding:46px 0 24px;width:100%;background:#f2f2f2;text-align:center}
.account-box-02 img{margin:0 auto;}
.account-box-02 h1{font-size:17px;color:#373737;margin: 18px 0 10px}
.account-box-02 b{font-size:30px;color:#000;font-weight: bold}
.account-box-02 span{font-size:14px;color:#373737;margin:8px 0}
.account-box-02 a{font-size:14px;color:#888787;text-decoration: underline}
.account-box .button{margin-bottom:16px;background:#000;border-color:#000;color: #fff;height:40px;line-height: 34px;}
.account-box-03{width:100%;background:#f2f2f2;margin-top:14px;}
.account-box-03 .list-block .item-content .item-inner .item-title{color:#000;font-size:17px}
.account-box-03 .list-block{margin:0;font-size:14px;}
.account-box-03 .list-block ul{background:none}
.account-box-03 .list-block .item-content .item-inner input{color:#6c6a6a;font-size: 17px}
.account-box-03 .list-block .item-title.label{width:20%}
.popup-about .box-02{height:40px;border-bottom:#e6e6e6 solid 1px;color:#000;line-height:36px;font-size:14px}
.popup-about .box-03{height:50px;padding:8px 12px; border-bottom:#e6e6e6 solid 1px;color:#000;line-height:36px;font-size:14px}
.popup-about .content-block .selected{background:url(../images/bank-check.png) right no-repeat;background-size:auto 90%}
.bank-icon{border-radius:50px;overflow:hidden}
.account-box-03 .list-block .item-input{color:#000;padding:4px 0}
/*发现页面*/
.found-box{height:54px;margin-bottom: 1px; border-bottom:#e6e6e6 solid 1px;}
.found-box .found-link{width:100%;height:54px;padding-top:12px;padding-left:12px; background: #fff; color: #333}
.found-box .found-link .swiper-wrapper .swiper-slide{display:inline-block;margin-right: 10px; width: auto !important;padding:0 22px 2px;background:#f2f2f2;border-radius:20px;}
.found-box .found-link .swiper-wrapper .swiper-slide a{font-size:14px;}
.found-box-01 .card{margin:0 0 12px 0}
.found-box-01 .card .card-header{position:relative}
.found-box-01 .card .card-header .focus{padding:4px 12px 6px;border:#e6e6e6  solid 1px;color:#800000;position:absolute;top:12px;right:12px;text-align:center;font-size:13px;border-radius: 4px;}
.found-box-01 .card .card-header .been{color:#fff;background: #800000;border-color: #800000}
.found-box-01 .card .card-header .facebook-avatar img{border:#eaeaea solid 1px; border-radius: 50px; overflow: hidden}
.found-box-01 .card .card-header .facebook-name{color:#000;font-size:15px;}
.found-box-01 .card .card-header .facebook-date{color:#999;font-size:12px;}
.found-box-01 .card .card-header p{display:block;font-size:12px;line-height: 20px;margin:10px 0 0}
.found-box-01 .card .card-content{padding:0 12px 14px 12px;}
.found-box-01 .card .card-footer{background:#fff}
.found-box-01 .card .card-footer .link{color:#666666;font-size: 13px;text-align: center}
.found-box-02 .card{margin:0 0 12px 0}
.found-box-02 .card .list-block.media-list .item-media{padding:0;width:40%}
.found-box-02 .card .list-block.media-list .item-media img{width:100%; height: auto}
.found-box-02 .card .list-block .item-content{padding:12px 0}
.found-box-02 .card .list-block.media-list .item-title{color:#000;font-size:16px;white-space:normal}
.found-box-02 .card .item-inner{position:relative}
.found-box-02 .card .list-block .item-subtitle{width:100%;padding-right:12px;color:#999;font-size: 12px; position: absolute;bottom:8px}
.found-box-03{overflow:hidden}
.found-box-03 .card{margin:0 0 12px 0;padding-top:12px;height:228px;background: url(../images/works-bg.jpg) center no-repeat;background-size: 100% 100%;}
.found-box-03 .card .card-header{width:50%;}
.found-box-03 .card .card-header .col-33{color:#000;font-size: 12px; text-align: center;border-left:#afafaf solid 1px}
.found-box-03 .card .card-header .col-33:first-child{border-left:none}
.found-box-03 .card .card-header .focus{padding:4px 12px 6px;border:#000  solid 1px;color:#fff;text-align:center;font-size:12px;border-radius: 2px;background: #000}
.found-box-03 .card .card-header .been{color:#fff;background: #800000;border-color: #800000}
.found-box-03 .card .card-header .facebook-avatar{margin-right:14px;}
.found-box-03 .card .card-header .facebook-avatar img{border:#eaeaea solid 1px; border-radius: 50px; overflow: hidden}
.found-box-03 .card .card-header .facebook-name{color:#000;font-size:18px;margin-bottom: 10px;width: 90px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.found-box-03 .card .card-header .facebook-date{color:#999;font-size:12px;}
.found-box-03 .card .card-content{position:absolute;bottom:12px;width:100%;height:114px;}
.found-box-03 .card .card-content h3{margin:0 auto 10px; width:48px;color: #000;font-size:15px;padding-bottom: 4px; border-bottom: #000 solid 1px}
.found-box-03 .card .card-content .swiper-container-01 .swiper-wrapper .swiper-slide{width:100px;margin-right: 4px;}
.found-content{width:100%;padding:0 12px}
.found-content h1{color:#000;font-size: 16px;margin-top:16px;}
.found-content span{color:#666;font-size: 12px}
.found-content p{font-size:12px; line-height:22px;color: #666;text-align: justify}
.found-content p img{width:100%; max-width: 100%;margin:10px 0}
.found-box-01 .card .card-word{padding:0 0 8px 16%;border-bottom:#e6e6e6 solid 1px;font-size:13px;}
.found-box-01 .card .card-word p{margin:0;display: block}
.found-box-01 .card .card-word span{display:block;width:95%;padding:6px 10px 8px;margin:6px 0; background:#f7f7f7;color: #000}
.found-box-01 .card .card-word span i{color:#ff5a00}
/*账户设置*/
.accoung-setting{margin-top: 16px;}
.accoung-setting h1{color:#000;text-align:center;margin-bottom: 30px}
.accoung-setting form{width:90%; margin: 0 auto}
.accoung-setting form span{color:#000;font-size:14px;padding-left:18px;margin:10px 0}
.accoung-setting form .input{padding:0 20px;margin-bottom:10px; width:100%;color:#606060;background: #f6f6f6;border: none;height: 44px;border-radius: 50px;font-size: 15px;}
.accoung-setting form .row a.fr{width:37%;color:#000;background: #f6f6f6;border: none;height: 44px;border-radius: 50px;font-size:13px;text-align: center;line-height:42px}
.accoung-setting .account-box{text-align:center}
/*订单页面*/
.state{padding:20px 0 32px;background: #fff;}
.state img{margin:0 auto 16px}
.state h1{font-size: 16px; color:#000;text-align: center}
.state h2{font-size: 12px; color:#838282;text-align: center}
.recommend{background:#fff;margin:12px 0 0;padding: 16px 0}
.recommend h1{font-size: 15px; color:#000;text-align: center;}
.recommend .recommend-list a{display:block;float:left;width:43%;margin:18px 0 0 18px; border:#f4f4f4 solid 1px}
.recommend .recommend-list a img{width:100%;}
.recommend .recommend-list a span{display:block;padding:4px 8px 4px 0;font-size: 13px;}
.state-address{padding:16px 12px;margin-top: 16px; background: #fff}
.state-address h1{color:#000;font-size: 16px;margin-bottom: 4px}
.state-address span{display:block;color:#838282;font-size: 13px;line-height:20px}
.logistics .card{margin:0;box-shadow:none}
.logistics .card .list-block .item-content{padding:0 16px;}
.logistics .card .list-block.media-list .item-title{color:#000;font-size: 12px}
.logistics .card .list-block.media-list .logistics-state{padding:12px 16px 0;border-bottom: #e6e6e6 solid 1px;}
.logistics .card .list-block.media-list .logistics-state .box{position:relative}
.logistics .card .list-block.media-list .logistics-state .box:first-child span{background: url(../images/point-01.png) center no-repeat;background-size: 100%;top:2px}
.logistics .card .list-block.media-list .logistics-state .box:first-child div.fr{padding-top:0}
.logistics .card .list-block.media-list .logistics-state span{display:block;position: absolute;left:4px;top:10px; width:12px; height:12px;background: url(../images/point-02.png) center no-repeat;background-size: 100%}
.logistics .card .list-block.media-list .logistics-state div.fr{width:97%;padding:7px 0 7px 22px; border-left: #e6e6e6 solid 1px;border-bottom: #e6e6e6 solid 1px}
.logistics .card .list-block.media-list .logistics-state .box:last-child div.fr{border-bottom:none}
.logistics .card .list-block.media-list .logistics-state div.fr p{margin:0}
.logistics .card .list-block.media-list .logistics-state .box:first-child div.fr p{color:#800000}
.logistics .card .list-block.media-list .logistics-state div.fr p,.logistics .card .list-block.media-list .logistics-state div.fr i{color:#838282;font-size: 12px;line-height: 20px}
.logistics .card .list-block.media-list .card-footer a{display:inline-block;float: right;padding:2px 6px; border:#bab9b9 solid 1px;font-size: 12px;margin-left:16px}
.logistics .card .list-block.media-list .card-header{color:#000;font-size: 12px;border-radius: 0;width: 100%;padding:12px 0}
.logistics .card .list-block.media-list .star{display:block;float: left;width:88px;height: 16px;background-size:100% !important;transform:translateY(2px);}
.logistics .card .list-block.media-list .star-0{background:url(../images/star-00.png) center no-repeat;}
.logistics .card .list-block.media-list .star-1{background:url(../images/star-01.png) center no-repeat;}
.logistics .card .list-block.media-list .star-2{background:url(../images/star-02.png) center no-repeat;}
.logistics .card .list-block.media-list .star-3{background:url(../images/star-03.png) center no-repeat;}
.logistics .card .list-block.media-list .star-4{background:url(../images/star-04.png) center no-repeat;}
.logistics .card .list-block.media-list .star-5{background:url(../images/star-05.png) center no-repeat;}
.logistics .card .list-block.media-list .item-title-img img{display:block;width: 60px;height: 60px; float:left;margin:12px 6px 0 0}
/*银行卡样式*/
.bank-card ul{margin-top:24px}
.bank-card ul li{padding:0 16px 24px;background: #161616}
.bank-card ul li .bank-card-bg{width:100%;height:120px; overflow: hidden; border-radius:8px}
.bank-card ul li .bank-card-bg .bank-card-name{padding:12px 0 0 16px}
.bank-card ul li .bank-card-bg .bank-card-name .bank-card-icon{padding:4px;width:40px; height: 40px;/* background-size:80% !important; */border-radius:50px; overflow: hidden;-moz-box-shadow:2px 2px 4px rgba(0,0,0,.15); -webkit-box-shadow:2px 2px 4px rgba(0,0,0,.15); box-shadow:2px 2px 4px  rgba(0,0,0,.15); background: #fff}
.bank-card ul li .bank-card-bg .bank-card-name .bank-card-icon span{width:32px;height:32px;background-size: 100% !important}
.bank-card ul li .bank-card-bg .bank-card-name div h1{font-size:14px;margin-left:10px}
.bank-card ul li .bank-card-bg .bank-card-name div h2{font-size:12px;margin-left:10px}
.bank-card ul li .bank-card-bg i{padding:10px 22px 0 0;font-size:24px; text-align: right;position: relative;z-index: 999;text-shadow: 2px 2px 4px rgba(0,0,0,.25);}
.bank-card ul li .bank-card-bg .bank-card-icon-bg{margin-right:20px; width:120px;height:120px;/*mix-blend-mode: screen;*/position:relative;bottom:98px; background-size:94% !important;opacity:0.15}
/*通用银行卡样式*/
.bank-card ul li div#normal{background:url(../images/bank-card/normal-bg.jpg) center no-repeat;background-size: 100%}
.bank-card ul li div#normal .bank-card-name .bank-card-icon span{background:url(../images/bank-card/normal.png) center no-repeat;}
.bank-card ul li div#normal .bank-card-icon-bg{background:url(../images/bank-card/normal-w.png) center no-repeat;}
/*农业银行卡样式*/
.bank-card ul li div#ny{background:#018c77}
.bank-card ul li div#ny .bank-card-name .bank-card-icon span{background:url(../images/bank-card/ny.png) center no-repeat;}
.bank-card ul li div#ny .bank-card-icon-bg{background:url(../images/bank-card/ny-w.png) center no-repeat;}
/*工商银行卡样式*/
.bank-card ul li div#gs{background:#c9291d}
.bank-card ul li div#gs .bank-card-name .bank-card-icon span{background:url(../images/bank-card/gs.png) center no-repeat;}
.bank-card ul li div#gs .bank-card-icon-bg{background:url(../images/bank-card/gs-w.png) center no-repeat;}
/*建设银行卡样式*/
.bank-card ul li div#js{background:#1062ac}
.bank-card ul li div#js .bank-card-name .bank-card-icon span{background:url(../images/bank-card/js.png) center no-repeat;}
.bank-card ul li div#js .bank-card-icon-bg{background:url(../images/bank-card/js-w.png) center no-repeat;}
/*中国银行卡样式*/
.bank-card ul li div#zg{background:#b20733}
.bank-card ul li div#zg .bank-card-name .bank-card-icon span{background:url(../images/bank-card/zg.png) center no-repeat;}
.bank-card ul li div#zg .bank-card-icon-bg{background:url(../images/bank-card/zg-w.png) center no-repeat;}
/*交通银行卡样式*/
.bank-card ul li div#jt{background:#091f5b}
.bank-card ul li div#jt .bank-card-name .bank-card-icon span{background:url(../images/bank-card/jt.png) center no-repeat;}
.bank-card ul li div#jt .bank-card-icon-bg{background:url(../images/bank-card/jt-w.png) center no-repeat;}
/*中信银行卡样式*/
.bank-card ul li div#zx{background:#e40001}
.bank-card ul li div#zx .bank-card-name .bank-card-icon span{background:url(../images/bank-card/zx.png) center no-repeat;}
.bank-card ul li div#zx .bank-card-icon-bg{background:url(../images/bank-card/zx-w.png) center no-repeat;}
/*邮政储蓄银行卡样式*/
.bank-card ul li div#yz{background:#109242}
.bank-card ul li div#yz .bank-card-name .bank-card-icon span{background:url(../images/bank-card/yz.png) center no-repeat;}
.bank-card ul li div#yz .bank-card-icon-bg{background:url(../images/bank-card/yz-w.png) center no-repeat;}
/*兴业银行卡样式*/
.bank-card ul li div#xy{background:#01458e}
.bank-card ul li div#xy .bank-card-name .bank-card-icon span{background:url(../images/bank-card/xy.png) center no-repeat;}
.bank-card ul li div#xy .bank-card-icon-bg{background:url(../images/bank-card/xy-w.png) center no-repeat;}
/*平安银行卡样式*/
.bank-card ul li div#pa{background:#e5620b}
.bank-card ul li div#pa .bank-card-name .bank-card-icon span{background:url(../images/bank-card/pa.png) center no-repeat;}
.bank-card ul li div#pa .bank-card-icon-bg{background:url(../images/bank-card/pa-w.png) center no-repeat;}
/*浦发银行卡样式*/
.bank-card ul li div#pf{background:#013f7a}
.bank-card ul li div#pf .bank-card-name .bank-card-icon span{background:url(../images/bank-card/pf.png) center no-repeat;}
.bank-card ul li div#pf .bank-card-icon-bg{background:url(../images/bank-card/pf-w.png) center no-repeat;}
/*民生银行卡样式*/
.bank-card ul li div#ms{background:#27a1a6}
.bank-card ul li div#ms .bank-card-name .bank-card-icon span{background:url(../images/bank-card/ms.png) center no-repeat;}
.bank-card ul li div#ms .bank-card-icon-bg{background:url(../images/bank-card/ms-w.png) center no-repeat;}
/*广发银行卡样式*/
.bank-card ul li div#gf{background:#e1002a}
.bank-card ul li div#gf .bank-card-name .bank-card-icon span{background:url(../images/bank-card/gf.png) center no-repeat;}
.bank-card ul li div#gf .bank-card-icon-bg{background:url(../images/bank-card/gf-w.png) center no-repeat;}
/*招商银行卡样式*/
.bank-card ul li div#zs{background:#ae172a}
.bank-card ul li div#zs .bank-card-name .bank-card-icon span{background:url(../images/bank-card/zs.png) center no-repeat;}
.bank-card ul li div#zs .bank-card-icon-bg{background:url(../images/bank-card/zs-w.png) center no-repeat;}
/*花旗银行卡样式*/
.bank-card ul li div#hq{background:#2f2267}
.bank-card ul li div#hq .bank-card-name .bank-card-icon span{background:url(../images/bank-card/hq.png) center no-repeat;}
.bank-card ul li div#hq .bank-card-icon-bg{background:url(../images/bank-card/hq-w.png) center no-repeat;}
/*渣打银行卡样式*/
.bank-card ul li div#zd{background:#198132}
.bank-card ul li div#zd .bank-card-name .bank-card-icon span{background:url(../images/bank-card/zd.png) center no-repeat;}
.bank-card ul li div#zd .bank-card-icon-bg{background:url(../images/bank-card/zd-w.png) center no-repeat;}
/*汇丰银行卡样式*/
.bank-card ul li div#hf{background:#da1328}
.bank-card ul li div#hf .bank-card-name .bank-card-icon span{background:url(../images/bank-card/hf.png) center no-repeat;}
.bank-card ul li div#hf .bank-card-icon-bg{background:url(../images/bank-card/hf-w.png) center no-repeat;}
.bank-card a,.bank-card a img{display:block;width:100%;}

header{height:44px !important;background:#000 !important;z-index:9999 !important;position:fixed !important;border:none}
header h1.title{font-size:17px;line-height:42px;color: #fff !important;height:44px !important;margin:0 -.5rem !important}
.label-switch input[type=checkbox]:checked+.checkbox{background:#000}
header form.title{width:270px;padding: 0 10px; height:24px; background:rgba(255,255,255,.3);border-radius:50px;left: 50%;margin-left: -135px;top:9px}
header form.title input[type=text]{background:none; border:none;font-size: 14px;padding:0 8px;width:220px; color: #fff;line-height:24px}
header form.title button{width:16px;height:16px;display: block;padding:0;background: url(../images/top-search.png) center no-repeat;background-size:100% 100%;border:none;transform:translateY(4px)}
.modal.modal-in .modal-inner .modal-text{font-size:17px; color:#000}
.modal.modal-in .modal-button{color:#3399ff;font-size:15px;}
.bar .icon{color:#fff;font-size: 14px;padding:11px 0}
.search-content{width:100%; padding:0 12px}
.search-content li{width:100%;padding:8px 0;font-size:14px; border-bottom:#fff solid 1px}
.search-content li a{color:#FFFFFF}
/*添加图片*/
.container{width:100%;height:100%;padding:0 12px;overflow:auto;clear:both}
.z_photo{width:100%;height:106px;overflow:auto;clear:both;margin:0 auto;}
.z_photo img{width:80px;height:80px}
.z_addImg{float:left;margin-right:7px}
.z_file{width:80px;height:80px;background:url(../images/photo-up.png) center no-repeat;background-size:100% 100%;float:left;margin-right:7px}
.z_file input::-webkit-file-upload-button{width:80px;height:80px;border:none;position:absolute;outline:0;opacity:0}
.z_file input#file{display:block;width:auto;border:0;vertical-align:middle}
.z_mask{width:100%;height:100%;background:rgba(0,0,0,.4);position:fixed;top:0;left:0;z-index:999;display:none}
.z_cancel,.z_sure{display:inline-block;width:49.5%;height:48px;line-height:45px;color:#3399ff;text-align:center;font-size:15px;float:left;border-top:1px solid #ddd}
.z_cancel{border-right:1px solid #ddd}
.z_alert{width:298px;height:106px;border-radius:.35rem;background:#f0f0f0;text-align:center;position:absolute;left:50%;top:50%;margin-left:-149px;margin-top:-53px;}
.evaluation a{width:33.33333333333333333%;padding-top:12px;display:block;height: 48px;border-top:#e6e6e6 solid 1px;text-align: center;font-size:14px;float: left}
.evaluation .selected{color:#fff;background: #800000}
.evaluation a span{width:18px;height:18px;background-size: 100% !important;display: inline-block;transform:translateY(3px)}
.evaluation a.good span{background:url(../images/evaluation-01.png) center no-repeat}
.evaluation a.soso span{background:url(../images/evaluation-02.png) center no-repeat}
.evaluation a.bad span{background:url(../images/evaluation-03.png) center no-repeat}
.evaluation .selected.good span{background:url(../images/evaluation-04.png) center no-repeat}
.evaluation .selected.soso span{background:url(../images/evaluation-05.png) center no-repeat}
.evaluation .selected.bad span{background:url(../images/evaluation-06.png) center no-repeat}
.starability-container{padding:0 12px;width:100%;height:44px}
.starability-container h1{color:#000;font-size: 14px;}
.login form input[type=text]{background:url(../images/input-01.png) right no-repeat #f6f6f6;}
.login form input[type=password]{background:url(../images/input-02.png) right no-repeat #f6f6f6;}
.account-img img{margin:60px auto 36px}
.setting-box .account-box,.detail-box .account-box{border-bottom:#e6e6e6 solid 1px;margin-bottom:0}
.popup-share .content{ height:150px; bottom:0 !important; top:initial}
.popup-share .close-popup{ margin:20px auto 0; display:block; width:90%; height:40px; background:#ededed; font-size:16px; color:#999; text-align:center; line-height:37px; border-radius:6px;}
.popup-share .content-block li{ width:20%; float:left;}
.popup-share .content-block a{display:block; margin:0 auto; width:50px; height:50px; text-align:center; border:#f2f2f2 solid 1px; border-radius:50px; overflow:hidden}
.popup-share .content-block a img{ width:100%; height:auto;}
.popup-share{min-height:150px;z-index:999999;position:fixed;left:0;bottom:0;height:auto;background: #f7f7f7;-moz-box-shadow:0px -2px 10px rgba(0,0,0,.2); -webkit-box-shadow:0px -2px 10px rgba(0,0,0,.2); box-shadow:0px -2px 10px rgba(0,0,0,.2);}
.popup-share .content-inner{padding-top:20px}
.popup-share .content-inner .content-block{margin:0}
.art-center{margin-top:0}
.art-center .buttons-tab .button.active{color: #5f646e;background:none; border-bottom: #000 solid 1px;}
.art-center .buttons-tab{margin-bottom:10px}
.art-center .media-list{margin:0}
.art-center .tab .list-block ul li .item-inner h1{color:#000;font-size:14px;border-left:#000 solid 5px; padding-left:5px;height: 16px;line-height: 15px;}
.art-center .tab .list-block ul li .item-inner p{font-size:12px;line-height:18px;margin-bottom:0;color:#333;text-align: justify}
.art-center .tab .list-block ul li .item-inner div span{width:100%;height:146px;margin-bottom:12px;border:#f3f3f3 solid 1px}
.art-center .tab .list-block ul li .item-inner div span img{width:160px;height:144px;display:block;float:left}
.art-center .tab .list-block ul li .item-inner div span div.fr{width:168px;padding:4px 8px 0 0}
.art-center .tab .list-block ul li .item-inner div span div.fr h2{color:#000;font-size:15px;text-align:center;margin: 7px 0}
.art-center .tab .list-block ul li .item-inner div span div.fr h3{font-size:14px;color:#808080;text-align:justify}
.art-center .tab .list-block ul li .item-inner div span div.fr h3{height: 84px}
.found-box-01 .card .card-content a.all-block{min-height:128px;padding-top:10px}
.found-box-01 .card .card-content a.all-block div.fr{width:170px;}
.found-box-01 .card .card-content a.all-block div.fr h2{color:#000;font-size: 14px;}
.found-box-01 .card .card-content a.all-block div.fr h3{color:#800000;font-size: 12px;margin:8px 0}
.found-box-01 .card .card-content a.all-block div.fr h2 b{color:#800000;font-size: 16px;}
/*登录注册样式修改*/
.black-bg .remember-form label{color:#fff;font-size: 12px;line-height: 22px}
.black-bg .header-l a i.back{background-image: url(../images/arrow_left_w.png);}
.black-bg .nctouch-main-layout{margin-top:0}
.black-bg .nctouch-main-layout{background:none}
.black-bg .accoung-setting{margin:0}
.black-bg .accoung-setting form{width:100%}
.black-bg .nctouch-inp-con ul,.nctouch-inp-con ul li{background:none;margin-bottom:7px}
.black-bg .nctouch-inp-con ul li{border:none}
.black-bg .nctouch-inp-con ul li h4{color:#fff;position: inherit}
.black-bg .nctouch-inp-con ul li .input-box .inp{padding: 0 20px;margin-bottom: 10px;width: 86%;color: #606060;/*background: #f6f6f6;*/border: none;height: 44px;border-radius: 50px;font-size: 15px;}
.black-bg .nctouch-inp-con ul li .input-box{margin:0}
.black-bg .login form input[type=text]{background:url(../images/input-01.png) right no-repeat #f6f6f6 !important;}
.black-bg .login form input[type=password]{background:url(../images/input-02.png) right no-repeat #f6f6f6 !important;}
.black-bg .nctouch-single-nav{background:rgba(255,255,255,.15)}
.black-bg .nctouch-single-nav ul li.selected a{color:#fff;border-bottom-color:#fff !important}
.black-bg .nctouch-single-nav{border:none}
.black-bg .nctouch-single-nav ul li a{color:#fff}
.black-bg .nctouch-inp-con ul li .input-box .input-del{right:1rem;padding-left:18px;width:0.8rem;height:1rem;top:0.4rem}
.black-bg .form-item .input-box .code-img{right:1rem}
/*修改百度分享*/
.popup-share ul.content-block li a{background-position:0 !important;background-size:100% 100% !important;float: none}
.bdsharebuttonbox .bds_tsina{background:url(../images/share-weibo.jpg) center no-repeat !important;}
.bdsharebuttonbox .bds_weixin{background:url(../images/share-weixin.jpg) center no-repeat !important;}
.bdsharebuttonbox .bds_sqq{background:url(../images/share-qq.jpg) center no-repeat !important;}
.bdsharebuttonbox .bds_qzone{background:url(../images/share-q-zone.jpg) center no-repeat !important;}
.bdsharebuttonbox .bds_more{background:url(../images/share-share.jpg) center no-repeat !important;}
.nctouch-norecord{margin: 4rem 0 0 -5rem;}
.nctouch-norecord dl dt{color:#000}
/*银行卡绑定的下一步按钮*/
.form-btn {margin-top: 1rem;}
.form-btn .btn { display: inline-block; width: 90%; height: 1.8rem; padding: 0; margin: 0 5%; font-size: 0.8rem; line-height: 1.8rem; text-align: center; color: #888; background: #EEE; border: none; border-radius: 0.2rem; }
.form-btn.ok .btn {color: #FFF !important;background: #ED5564;}

.account-icon{background:url(../images/input-01.png) right no-repeat #f6f6f6;}
.password-icon{background:url(../images/input-02.png) right no-repeat #f6f6f6;}
.big-bg{background:url(../images/big-bg.jpg) center no-repeat #000 !important;background-size:100% 100% !important;}
.no-border:after{background:none !important}
.list-block ul:after{background-color:#e6e6e6;}
.index_like{display:block;width:16px;height:15px;margin:2px 10px 0 0;}
.index_like_no{background:url(../images/index_like.png) center no-repeat;background-size:100% 100%;}
.index_like_selected{background:url(../images/index_like1.png) center no-repeat;background-size:100% 100%;}
.account-info-bg{background:url(../images/account-info-bg.jpg) center no-repeat #000;background-size:100% 100%;}
.nctouch-single-nav{width:100%}
.buttons-tab .button{color:#000}
input[type="checkbox"]:checked{border-color: #000;background-color: #000;bottom:2px}
.header-l a{width:auto}
.overflow-x{overflow-x:scroll !important;}
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0); 
    background:rgba(0,0,0,0);  
}  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{   
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0); 
    background:rgba(0,0,0,0);   
} 
/*小于340px*/
@media screen and (max-width:360px){
	.top-hot-search .hot-search{width:74%}
	.top-hot-search .hot-search{padding-left:3.2%;}
	.account-info .point{bottom:1.5rem}
	.content-box-04 a div.content-detail h1{width:210px}
	.detail .list-block .item-inner .item-title span{margin:14px 0px;}
	.account-box .red-envelope div{top:0;left:90px;}
	.account-img img{margin:4rem auto 3rem;}
	.account-box,.account-box .button{margin-bottom:10px}
	.logistics .card .list-block.media-list .item-title-img img{width:50px;height:50px;margin: 12px 4px 0 0;}
	input[type="checkbox"]{width: 0.4rem; height: 0.4rem;}
	input[type="checkbox"]:checked:after {left: 0.05rem;top: 0.05rem;width: 0.2rem;height: 0.1rem;}
	.found-box,.found-box .found-link{height:48px}
	.swiper-container{padding-bottom:1rem;}
	.card-footer,.card-header{padding:1rem 1.2rem;}
	.found-box-03 .card .card-header .focus{padding: 4px 10px 6px;}
	.content-box-02 a div.fixed-box span{padding:4px 0;height: auto}
	.content-box-02 a div.content-detail h1{width:94px}
	.found-box-02 .card .list-block.media-list .item-title{font-size:15px}
	.label-switch{transform: translateY(0px) !important;}
	.setting-box .account-box h1,.detail-box .account-box h1{font-size:14px}
	.bank-card ul li .bank-card-bg .bank-card-icon-bg{margin-right:8px}
	header form.title{width: 230px;margin-left: -115px;}
	header form.title input[type=text]{width:180px}
	.modal.modal-in .modal-inner .modal-text{font-size:14px}
	.modal.modal-in .modal-button{font-size:12px}
	.quality .tab a{width:66px;height: 66px}
	.content-box-03 a div.content-detail h1{width:90px}
	.account-box .button{font-size:14px}
	.list-block textarea{margin-top:20px !important}
	.value-box span input{font-size:16px !important}
	.detail .list-block .item-inner .item-title .tip{padding:4px}
	.accoung-setting h1{padding:0 16px}
	.share .content-block a{ width:42px; height:42px;}
	.share{ height:140px;}
	.black-bg .nctouch-inp-con ul li .input-box{height:auto}
	.black-bg .nctouch-inp-con ul li h4{width:5rem;margin-bottom:0.5rem}
	.black-bg .nctouch-inp-con .form-btn .btn{height:2.8rem;line-height: 2.8rem}
	.black-bg .nctouch-inp-con .form-notes{line-height: normal}
    .nctouch-norecord{margin:10rem 0 0 -5rem;}
	.account-info .point{top:274px}
	.art-center .tab .list-block ul li .item-inner div span div.fr{width:128px}
}
/*大于400px*/
@media screen and (min-width:400px){
	.bar-tab .tab-item .icon~.tab-label{top:0px;}
	.account-box .red-envelope div{top:10px;left:140px;}
	.found-box,.found-box .found-link{height:58px}
	.account-info .point{top:281px}
	.account-info .point{transform:translateY(-21px)}
}