@charset "UTF-8";
body,
html {
    font-size: 62.5%;
    max-width: 750px;
    margin: 0 auto;
}

html {
    font-size: 20px;
}
a{
    text-decoration: none!important;
    text-decoration: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/*Note3*/
@media only screen and (min-width: 360px) {
    html {
        font-size: 22px !important;
    }
}

/*iPhone6*/
@media only screen and (min-width: 376px) {
    html {
        font-size: 23px !important;
    }
}

/*iPhone6 plus*/
@media only screen and (min-width: 414px) {
    html {
        font-size: 25px !important;
    }
}

/*big Resolution*/
@media only screen and (min-width: 641px) {
    html {
        font-size: 25px !important;
    }
}

.lm_box_con * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sTiText {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
}

.line {
    width: 0.27rem;
    height: 0.91rem;
    background-color: #FABF13;
    border-radius: 0.135rem;
    margin-left: 0.27rem;
}

/*.lm_box_con p{*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
.lm_box_con {
    background: rgba(247, 247, 247, 1);
}

/*swiper*/
.swiper-container {
    width: 100%;
    height: 9rem;
    /*background-color: #fff;*/
}

.swiper-slide {
    width: 100%;
    height: 9.17rem;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet-active{

}

/* -- */
.enjoyTab {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    height: 5.5rem;
    background-color: #fff;
    margin-bottom: 0.45rem;
}

.enjoyTab .everOne {
    text-align: center;
}

.enjoyTab .everOne img {
    width: 1.82rem;
    height: 2.19rem;
    margin-bottom: 0.27rem;
}

.enjoyTab .everOne p {
    font-size: 0.65rem;
    font-family: PingFangSC-Regular;
    font-weight: bolder;
    color: rgba(51, 51, 51, 1);
    line-height: 0.64rem;
}

/*至尊首推*/
.supremacyFirst {
    /*height: 1rem;*/
    padding: 0.59rem 15px 0 15px;
    background-color: #fff;

}

.supremacTitle {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    /*margin-top: 0.64rem;*/
}

.supremacTitle span {
    margin-left: 0.27rem;
    font-size: 0.68rem;
    font-family: PingFangSC-Semibold;
    font-weight: bolder;
    color: rgba(58, 58, 58, 1);
}

.supremacyMore {

    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.supremacyMore span {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    /*line-height:0.55rem;*/
    margin-right: 0.37rem;
}

.supremacyMore img {
    width: 0.35rem;
    height: 0.64rem;
}

.supremacyFirstContentScrollBG {
    height: 8.4rem;
    overflow: hidden;
}

.supremacyFirstContentScroll {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 8.7rem;
    padding: 0.86rem 0 0rem 0rem;
}

.supremacyFirstContent {
    float: left;
    margin: 0 0.5rem;
    text-align: center;
    /*padding: 0.5rem 0 0.5rem 0;*/
    /*padding-bottom: 0.5rem;*/
    /*padding-right: 0.38rem;*/

}
.supremacyFirstContent a{
    text-decoration: none;
}
.supremacyFirstContent img {
    width: 4.35rem;
    height: 4.35rem;
    display: block;
    /*background-color: #0EB800;*/
    border-radius: 5px;

}

.supremacContentName {
    font-size: 0.64rem;
    font-family: PingFangSC-Semibold;
    font-weight: bolder;
    color: rgba(51, 51, 51, 1);
    margin: 0.45rem auto 0.2rem ;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 4rem;
}

.supremacContentWorksNum {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}

/*.supremacyFirstContent p{*/
/*padding: 0!important;*/
/*margin: 0!important;*/
/*}*/

/*尊享优选*/
.enjoyPreference {
    padding: 0.59rem 15px 0 15px;
    background-color: #fff;
    margin-top: 0.45rem;

}

.enjoyPreferenceTitle {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.enjoyPreferenceTitle span {
    margin-left: 0.27rem;
    font-size: 0.68rem;
    font-family: PingFangSC-Semibold;
    font-weight: bolder;
    color: rgba(58, 58, 58, 1);
}

.enjoyPreferenceMore {

    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.enjoyPreferenceMore span {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    /*line-height:0.55rem;*/
    margin-right: 0.37rem;
}

.enjoyPreferenceMore img {
    width: 0.35rem;
    height: 0.64rem;
}

.enjoyPBottom {
    padding: 0.26rem 0 0.6rem 0rem;

}

.enjoyPBottomOne {

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    text-align: center;
}

.enjoyPOneContent {
    width: 50%;
    text-align: left;
    margin-top: 0.6rem;
}

.enjoyPOneContent .enjoyPOneImg {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.enjoyPOneContent .enjoyPOneImg img {
    width: 7.5rem;
    height: 7.5rem;
    display: block;
    /*background-color: #0EB800;*/
    text-align: center;
    border-radius: 5px;
    padding: 0.15rem;
}

.enjoyPOneContent p {
    margin-left: 0.5rem;
}

.enjoyPOneContentTitle {
    font-size: 0.64rem;
    font-family: PingFangSC-Semibold;
    font-weight: bolder;
    color: rgba(51, 51, 51, 1);
    margin: 0.45rem 0 0.32rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.enjoyPOneContentName {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    margin: 0 0 0.32rem 0;

}

.enjoyPOneContentNowPrice {
    font-size: 0.64rem;
    font-family: PingFangSC-Semibold;
    font-weight: bolder;
    color: rgba(253, 68, 68, 1);
}

.enjoyPOneContentBeforePrice {
    text-decoration: line-through;
    font-size:0.55rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(187,187,187,1);
    margin-left: 0.32rem;
}

/*推荐作品*/
.recommendedWorks {
    margin: 0.36rem 0 2rem 0;
}

.recommendedWorksTitle {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1rem;
    background-color: #fff;
    padding: 0rem 15px 0 15px;
    height: 2rem;
}

.recommendedWorksTitle span {
    margin-left: 0.27rem;
    font-size: 0.68rem;
    font-family: PingFangSC-Semibold;
    font-weight: bolder;
    color: rgba(58, 58, 58, 1);
}
.recommendedWorksMore {

    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.recommendedWorksMore a{
    text-decoration: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.recommendedWorksMore span {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    /*line-height:0.55rem;*/
    margin-right: 0.37rem;
}

.recommendedWorksMore img {
    width: 0.35rem;
    height: 0.64rem;
}

.recommendedWorksBottom {
    background-color: #fff;
    padding: 0.45rem 15px 15px 15px;

}

.recommendedWorksBottomOne {

}

.recommendedWorksOneContent {

    margin: 0.5rem 0;

}
.recommendedWorksOneContent a{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
}
.recommendedWorksOneImg{
    width: 5.91rem;
    height: 5.91rem;
    display: block;
}
.recommendedWorksOneImg img {
    width: 5.91rem;
    height: 5.91rem;
    display: block;
    /*background-color: #0EB800;*/
    border-radius: 0.23rem;
}
.recommendedWorksText{
    display: flex;
    display: -webkit-flex;
    height: 5.91rem;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0.68rem;
}
.recommendedWorksTextTop{

}
.recommendedWorksTextBottom{

}
.recommendedWorksText p {
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
}
.recommendedWorksTextTitle {
    font-size:0.64rem;
    font-family:PingFangSC-Semibold;
    font-weight:bolder;
    color:rgba(51,51,51,1);
    margin: 0.45rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

}
.recommendedWorksTextName{
    font-size:0.55rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(117,117,117,1);
    margin: 0 0 0.45rem 0;

}
.recommendedWorksTextCategory{
    font-size:0.45rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.recommendedWorksTextCategory span{
    background-color: #fabf13;
    padding: 0.08rem 0.23rem;
    border-radius: 2px;
    height:0.73rem;

}
.recommendedWorksTextNowPrice{
    font-size:0.68rem;
    font-family:PingFangSC-Semibold;
    font-weight:bolder;
    color:rgba(253,68,68,1);
    margin-bottom: 0.2rem;
}
.recommendedWorksTextBeforePrice{
    text-decoration: line-through;
    font-size:0.55rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(187,187,187,1);
    margin-left: 0.45rem;
}


/*查看更多*/
.lookMore {
    text-align: center;
    background-color: #fff;
    height: 2rem;
}

.lookMore a {
    text-decoration: none !important;
    font-size:0.55rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(122,122,122,1);
    padding: 0.32rem 1.23rem;
    border: 1px solid #BEBEBE;
    border-radius: 15px;
}

