@charset "UTF-8";
body,
html {
    font-size: 62.5%;
    max-width: 750px;
    margin: 0 auto;
}

html {
    font-size: 20px;
}

/*Note3*/
@media only screen and (min-width: 360px) {
    html {
        font-size: 22px !important;
    }
}

/*iPhone6*/
@media only screen and (min-width: 376px) {
    html {
        font-size: 23px !important;
    }
}

/*iPhone6 plus*/
@media only screen and (min-width: 414px) {
    html {
        font-size: 25px !important;
    }
}

/*big Resolution*/
@media only screen and (min-width: 641px) {
    html {
        font-size: 25px !important;
    }
}

.lm_box_con * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.lm_box_con {
    background-color: #fff;

}

/* title */
.title_back {
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid #E3E3E3;
}

.tb {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    height: 100%;
}
.title{
    font-size:0.77rem;
    font-family:PingFangSC-Regular;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.back img{
    width: 0.47rem;
    height: 0.86rem;
}
.Noback{
    opacity: 0;
}
.Noback img{
    width: 0.47rem;
    height: 0.86rem;
}

.enjoyPreference {
    padding: 0rem 15px 0 15px;

}

.enjoyPreferenceTitle {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.enjoyPreferenceTitle span {
    margin-left: 0.27rem;
    font-size: 0.68rem;
    font-family: PingFangSC-Semibold;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}

.enjoyPreferenceMore {

    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.enjoyPreferenceMore span {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    /*line-height:0.55rem;*/
    margin-right: 0.37rem;
}

.enjoyPreferenceMore img {
    width: 0.35rem;
    height: 0.64rem;
}

.enjoyPBottom {
    padding: 0.26rem 0 0.6rem 0rem;

}

.enjoyPBottomOne {

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    text-align: center;
}

.enjoyPOneContent {
    width: 33.33%;
    text-align: center;
    margin-top: 0.6rem;
}

.enjoyPOneContent .enjoyPOneImg {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.enjoyPOneContent .enjoyPOneImg img {
    width: 4.77rem;
    height: 4.77rem;
    display: block;
    /*background-color: #0EB800;*/
    text-align: center;
    border-radius: 5px;
}

.enjoyPOneContent p {
    /*margin-left: 0.5rem;*/
}

.enjoyPOneContentTitle {
    font-size: 0.64rem;
    font-family: PingFangSC-Semibold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0.45rem auto 0.32rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 4rem;
    /*margin-left: 0.6rem;*/
}

.enjoyPOneContentName {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    margin: 0 0 0.32rem 0;
}

.enjoyPOneContentNowPrice {
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    margin: 0 0 0.32rem 0;
}

/*查看更多*/
.lookMore {
    text-align: center;
    background-color: #fff;
    height: 2rem;
}

.lookMore a {
    text-decoration: none !important;
    font-size: 0.55rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(122, 122, 122, 1);
    padding: 0.32rem 1.23rem;
    border: 1px solid #BEBEBE;
    border-radius: 15px;
}

