<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>活动列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <link rel="stylesheet" type="text/css" href="../../css/toupiao/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <style>
        header h1.title {
            font-size: 17px;
            line-height: 2.2rem;
            color: #fff !important;
            height: 44px !important;
            width: 100%;
        }
    </style>
</head>
<body>
<header id="header" class="fixed">
    <div class="header-wrap">
        <div class="header-l"><a href="member.html"><img src="../../images/top-left.png" width="24" height="24" alt=""/></a></div>
        <h1 class="title">活动列表</h1>
        <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
    </div>
    <div class="nctouch-nav-layout">
        <div class="nctouch-nav-menu"> <span class="arrow"></span>
            <ul>
                <li><a href="../../app_index.html"><i class="home"></i>首页</a></li>
                <li><a href="member.html"><i class="member"></i>个人中心</a><sup></sup></li>
                <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
            </ul>
        </div>
    </div>
</header>

<div class="list-main">
    <div class="list-main-top"><ul id="vote-list"></ul></div>
</div>
<script type="text/html" id="list-main-con">
    <% for(var i = 0;i<vote_list.length;i++){%>
        <li>
            <a href="entry_list.html?act_id=<%=vote_list[i]['id']%>">
                <span class="list-main-top-span1">
                <% if(vote_list[i]['image']){ %><img src="/data/upload/cms/vote_activity/<%=vote_list[i]['image']%>" alt=""><% }%>
            </span>
                <div class="list-main-top-top">
                    <p class="list-main-top-top-p1"><%=vote_list[i]['title']%></p>
                </div>
                <div class="list-main-top-bottom">
                    <p class="list-main-top-bottom-p2"><%=vote_list[i]['description']%></p>
                    <a href="entry_list.html?act_id=<%=vote_list[i]['id']%>"  class="btn2">去投票<i class="btn-icon1"></i></a>
                    <a href="activity_info.html?act_id=<%=vote_list[i]['id']%>" class="btn1">去投稿</a>
                </div>
            </a>

        </li>
    <%}%>
    <% if (hasmore) {%>
    <li class="loading"><div class="spinner"><i></i></div>数据读取中...</li>
    <% } %>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/tmpl/activity_list.js"></script>
<script>
    hide_header = true;
</script>
</body>
</html>