<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>艺诺网</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <link rel="stylesheet" href="../../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/toupiao/main.css">
</head>
<body style="padding-bottom: 60px;">
<div id="cms_activity_wrapper"></div>
<div class="main-center" style="padding-bottom: 4rem">
    <div class="main-center-top" style="display: none">
        <h3>活动说明</h3>
        <p class="huodong-explain"></p>
    </div>
    <div class="main-center-center" style="border-bottom: 0;display: none;margin-bottom: 1rem">
        <h3>投票说明</h3>
        <p class="vote-explain"></p>
    </div>
</div>
<script type="text/html" id="cms_activity">
    <div class="cms_activity_con">
        <%if(detail && detail.content){%>
        <%== detail.content %>
        <%}%>
    </div>
</script>
<div class="vote_footer">
    <ul><li>
        <a href="/wap/app_index.html"><i class="iconfont"></i><span class="text">首页</span></a>
    </li><li>
    </li><li>
        <a href="javascript:void(0);"><i class="iconfont icon-icons01"></i><span class="text">上传作品</span></a>
    </li><li>
    </li><li>
        <a href="/wap/tmpl/member/member.html"><i class="iconfont"></i><span class="text">我</span></a>
    </li></ul>
</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/activity_info.js"></script>
<script type="text/javascript" src="../../js/kjua_qcrode.js"></script>

</body>
</html>