<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>收货地址</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
	<style>
		header{
			background: #fff!important;
			color: #333333;
			border-bottom: 1px solid #E3E3E3;
		}
        .header-title h1 {
			color: #333333 !important;

		}
	</style>
</head>
<body style="background: #fafaf7;">
<header id="header">
  <div class="header-wrap">
	  <div class="header-l"><a href="javascript:void(0);" onclick="history.back();"><img src="../../images/whk/back.png" width="10.5" height="19" alt=""/></a></div>
    <div class="header-title">
      <h1>收货地址</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="address_opera.html"><i class="add"></i></a> </div>
  </div>
</header>
<div class="nctouch-main-layout mb20">
  <div class="nctouch-address-list" id="address_list"></div>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="saddress_list">
<%if(address_list.length>0){%>
	<ul>
	<%for(var i=0;i<address_list.length;i++){%>
		<a href="address_opera_edit.html?address_id=<%=address_list[i].address_id %>">
			<li class="<% if (address_list[i].is_default == 1) { %>active<% } %>">
				<dl>
					<dt>
						<span class="name"><%=address_list[i].true_name %></span>
						<span class="phone"><%=address_list[i].mob_phone %></span>
					</dt>
					<dd><%=address_list[i].area_info %>&nbsp;<%=address_list[i].address %></dd>
				</dl>
				<img class="address_arow" src="../../images/qll_arow.png" alt="">
				<img class="adress_choose" src="../../images/adress_choose.png" alt="">
			</li>
		</a>
	<%}%>
    </ul>
	<a class="btn-l mt5 new_address" href="address_opera.html">新增收货地址</a>
<%}else{%>
    <div class="nctouch-norecord address">
		<div class="norecord-ico"><i></i></div>
			<dl>
				<dt>您还没有过添加收货地址</dt>
				<dd>正确填写常用收货地址方便购物</dd>
			</dl>
			<a href="address_opera.html" class="btn">添加新地址</a>
		</div>
	</div>
<%}%>
</script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/address_list.js"></script> 
<script type="text/javascript" src="../../js/tmpl/footer.js"></script> 
</body>
</html>