<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
</head>
<body>
<header id="header" class="fixed">
    <div class="header-wrap">
        <div class="header-l"><a href="member.html"><img src="../../images/top-left.png" width="24" height="24" alt=""/></a></div>
        <div class="header-title">
            <h1>订单详情</h1>
        </div>
        <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
    </div>
    <div class="nctouch-nav-layout">
        <div class="nctouch-nav-menu"> <span class="arrow"></span>
            <ul>
                <li><a href="../../app_index.html"><i class="home"></i>首页</a></li>
                <!--<li><a href="../search.html"><i class="search"></i>搜索</a></li>-->
                <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
                <li><a href="../../tmpl/member/member.html"><i class="member"></i>个人中心</a></li>
                <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
            </ul>
        </div>
    </div>
</header>
<div class="nctouch-main-layout mb20">
    <div class="nctouch-order-list" id="order-info-container">
        <ul>
        </ul>
    </div>
</div>
<footer id="footer"></footer>
<script type="text/html" id="order-info-tmpl">
    <div class="nctouch-oredr-detail-block">
        <h3><i class="orders"></i>交易状态</h3>
        <div class="order-state"><%=state_desc%></div>
        <div class="info" style="margin-right: 1.6rem">请在订单生成后72小时内支付尾款，逾期视为买家违约，扣除保证金</div>
    </div>
    <%if(if_deliver){ %>
    <div class="nctouch-oredr-detail-delivery">
        <a href="<%=WapSiteUrl%>/tmpl/member/auction_order_delivery.html?order_id=<%=auction_order_id%>&margin_id=<%= margin_id %>">
			<span class="time-line">
				<i></i>
			</span>
            <div class="info">
                <p id="delivery_content"></p>
                <time id="delivery_time"></time>
            </div>
            <span class="arrow-r"></span>
        </a>
    </div>
    <%}%>
    <div class="nctouch-oredr-detail-block mt5">
        <div class="nctouch-oredr-detail-add">
            <i class="icon-add"></i>
            <dl>
                <dt>收货人：<span><%=extend_order_common.reciver_name%></span><span><%=extend_order_common.reciver_info.mob_phone%></span></dt>
                <dd>收货地址：<%=extend_order_common.reciver_info.address%></dd>
            </dl>
        </div>
    </div>

    <%if (invoice != ''){ %>
    <div class="nctouch-oredr-detail-block">
        <h3><i class="invoice"></i>发票信息</h3>
        <div class="info"><%=invoice%></div>
    </div>
    <%}%>
    <%if (payment_name != ''){ %>
    <div class="nctouch-oredr-detail-block">
        <h3><i class="pay"></i>付款方式</h3>
        <div class="info"><%=payment_name%></div>
    </div>
    <%}%>
    <div class="nctouch-order-item mt5">
        <div class="nctouch-order-item-head">
            <%if (ownshop){ %>
            <a class="store"><i class="icon"></i><%=store_name%></a>
            <%}else{ %>
            <a href="<%=WapSiteUrl%>/tmpl/store.html?store_id=<%=store_id%>" class="store"><i class="icon"></i><%=store_name%><i class="arrow-r"></i></a>
            <%}%>
        </div>
        <div class="nctouch-order-item-con">

            <div class="goods-block detail">
                <a href="<%=WapSiteUrl%>/tmpl/auction/auction_detail.html?auction_id=<%=auction_info.auction_id%>">
                    <div class="goods-pic">
                        <img src="<%=extend_order_goods.image_240_url%>">
                    </div>
                    <dl class="goods-info">
                        <dt class="goods-name"><%=auction_info.auction_name%></dt>
                    </dl>
                    <div class="goods-subtotal">
                        <span class="goods-price">￥<em><%=auction_info.current_price%></em></span>
                        <span class="goods-num">x1</span>
                    </div>
                </a>
            </div>
            <div class="goods-subtotle">
                <dl class="t">
                    <dt>实付款</dt>
                    <dd>￥<em><%=order_amount%></em></dd>
                </dl>
            </div>
        </div>
        <div class="nctouch-order-item-bottom">
            <span><a href="chat_info.html?t_id=<%=extend_store.member_id%>"><i class="im"></i>联系客服</a></span>
            <span><a href="tel:<%=extend_store.store_phone%>"><i class="tel"></i>拨打电话</a></span>
        </div>
    </div>
    <div class="nctouch-oredr-detail-block mt5">
        <ul class="order-log">
            <li>订单编号：<%=order_sn%></li>
            <li>创建时间：<%= getLocalTime(add_time) %></li>
            <% if(payment_time){ %>
            <li>付款时间：<%= getLocalTime(payment_time) %></li>
            <%}%>
            <% if(ship_time){ %>
            <li>发货时间：<%= getLocalTime(ship_time) %></li>
            <%}%>
            <% if(finnshed_time){ %>
            <li>完成时间：<%= getLocalTime(finnshed_time) %></li>
            <%}%>
        </ul>
    </div>
    <div class="nctouch-oredr-detail-bottom">

        <% if (if_deliver) { %>
        <a href="javascript:void(0)" order_id="<%=auction_order_id%>" margin_id="<%=margin_info.margin_id%>" class="btn viewdelivery-order">查看物流</a>
        <%}%>
        <% if (if_receive){ %>
        <a href="javascript:void(0)" order_id="<%=auction_order_id%>" class="btn key sure-order">确认收货</a>
        <% } %>
    </div>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/tmpl/auction_order_detail.js"></script>
</body>
</html>