<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>绑定手机号</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <link rel="stylesheet" type="text/css" href="../../../css/qll/style.css">
    <style>
        .qll_bind_phone_success_tip{
            text-align: center;
            font-weight: normal;
            margin: 0;
        }
        .bind_phone_success_btn{
            display: block;
            margin: 20px auto;
        }
        .bind_phone_success_btn a{
            text-decoration: none;
            color:#000;
        }
        .qll_bind_phone_success_content{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <!--<div class="qll_bind_phone_success_content">-->
        <!--<h5 class="qll_bind_phone_success_tip">您的手机号<span class="qll_phoneNum">13073726510</span>已经被绑定，</h5>-->
        <!--<h5 class="qll_bind_phone_success_tip">请重新输入新的手机号绑定。</h5>-->
        <!--<button class="bind_phone_success_btn"><a href="#">重新绑定</a></button>-->
    <!--</div>-->

    <div class="nctouch-main-layout">
        <div id="viewlist" class="list">
    <div class="nctouch-norecord views">
        <dl>
            <dd>您的手机号<span class="qll_phoneNum">13073726510</span>已经被绑定，</dd>
            <dd>请重新输入新的手机号绑定</dd>
        </dl>
        <a href="<%=WapSiteUrl%>" class="btn">重新绑定</a>
    </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/config.js"></script>
    <script type="text/javascript" src="../../js/zepto.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/simple-plugin.js"></script>
    <script type="text/javascript" src="../../js/tmpl/footer.js"></script>
    <script type="text/javascript" src="../../js/tmpl/login.js"></script>
</body>
</html>