<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>分佣详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_310664_ce1c9ymof3s7nwmi.css">
    <!--qll_base-->
    <link rel="stylesheet" type="text/css" href="../../css/qll/qll_base.css">

</head>
<body style="background: #fff;">
<!--顶部-->
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20"></a>
    <h1 class="title">详情</h1>
</header>
<div id="bondRebateHtml">

</div>
<script type="text/html" id="bondRebate">
    <div class="bond_rebate">
        <%if(commission_type==1){%>
        <h2>消费金返现</h2>
        <%}%>
        <%if(commission_type==3){%>
        <h2>保证金收益返现</h2>
        <%}%>
        <%if(commission_type==4){%>
        <h2>推荐会员返现</h2>
        <%}%>
        <%if(commission_type==5){%>
        <h2>艺术家推荐返现</h2>
        <%}%>
        <div class="bond_rebate_count"><span><b><%=commission_amount%></b>元</span><i class="iconfont icon-gantan"></i></div>
    </div>
    <div class="bond_order_info">
        <div class="bond_order_info_sn">
            <%if(commission_type==1||commission_type==3){%>
            <span>订单编号: <%=order_sn%></span>
            <%}else{%>
            <%if(commission_type==4){%>
            <span>受邀者</span>
            <%}%>
            <%if(commission_type==5){%>
            <span>受邀艺术家</span>
            <%}%>
            <span><%=commission_time%></span>
            <%}%>
        </div>
        <div class="bond_order_info_detail">
            <a href="">
                <%if(commission_type==1||commission_type==3){%>
                    <img class="commodity_img" src="<%=goods_image%>" alt="">
                <%}else{%>
                <div class="avatar_img_content">
                    <img class="avatar_img" src="<%=member_avatar%>" alt="">
                    <img src="<%=type_logo%>" alt="" class="avatar_img_type">
                </div>
                <%}%>
            </a>
            <div class="order_detail">
                <%if(commission_type==1||commission_type==3){%>
                <h2 class="order_title"><%=goods_name%></h2>
                <%}else{%>
                <h2 class="order_title" id="memberName"><%=member_name%></h2>
                <%}%>
                <div class="order_conut">
                    <%if(commission_type==1||commission_type==3){%>
                    <span class="order_price"><b><%=goods_pay_amount%></b> 元</span>
                    <span class="order_num">共 1 件商品</span>
                    <%}else{%>
                    <span class="order_price"><%=member_mobile%></span>
                    <span class="order_num">ID：<%=from_member_id%></span>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="bond_order_info_time">
            <%if(commission_type==1||commission_type==3){%>
            <span>创建时间: <%=add_time%></span>
            <span>结束时间: <%=commission_time%></span>
            <%}else{%>
            <span><%=add_time%></span>
            <%if(commission_type==4){%>
            <span>成功升级为微合伙人</span>
            <%}%>
            <%if(commission_type==5){%>
            <span>成功升级为艺术家</span>
            <%}%>
            <%}%>

        </div>
    </div>

</script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<!--<script type="text/javascript" src="../../js/tmpl/fenyong.js"></script>-->
<script>
    var key = getCookie('key');
    var log_id = getQueryString('log_id');
    $.ajax({
        type: "get",
        url: ApiUrl + "/index.php?act=member_fund&op=getMemberCommissionDetail",
        dataType: 'json',
        data: {key: key,log_id: log_id},
        success: function (result) {
            var data = result.datas;
            var html = template.render('bondRebate', data);
            $("#bondRebateHtml").html(html);
            var val = $('#memberName').html();
            var validata=/^(1{1})+\d{10}$/.test(val);
            if(validata){
                $('.order_price').html('');
            }
        }
    });
</script>

</body>
</html>
