<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>奖励金明细</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_310664_ce1c9ymof3s7nwmi.css">
    <!--qll_base-->
    <link rel="stylesheet" type="text/css" href="../../css/qll/qll_base.css">
    <style>
        body{
            background-color: #f7f7f7;
            height: 100vh;
        }
        .aggregateAmount{
            padding-top:30px;
            height:120px;
        }
        p{
            margin:0;
        }
        .aggregateAmount p{
            font-size:14px;
            color:rgba(51,51,51,1);
            text-align: center;
        }
        .aggregateAmount p:nth-child(2){
            font-size:18px;
            font-family:PingFangSC-Semibold;
            font-weight:600;
            color:rgba(253,68,68,1);
            text-align: center;
        }
        .content{
            padding: 0 15px;
            background-color: #fff;
        }
        .content ul li {
            height: 48px;
            line-height: 48px;
            text-align: center;
            font-size:14px;
            color:rgba(117,117,117,1);
            border-bottom:1px solid #f2f2f2 ;
        }
        .flex{
            display: flex;
            justify-content: space-between;
        }
        .level span{
            font-size: 10px;
            background-color: #FABF13;
            padding:2px 5px;
            border-radius: 5px;
            color: #fff;
        }

    </style>
</head>
<body>
<!--顶部-->
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20"></a>
    <h1 class="title">奖励金明细</h1>
</header>
<div id="bondRebateHtml">
    <div class="content">

    </div>
</div>
<script type="text/html" id="bondRebate">
    <div class="aggregateAmount">
        <p>本次奖励金额</p>
        <p>¥ <%= commission_amount %></p>
    </div>
    <div class="content">
        <ul>
            <li class="flex">
                <span>编 号：</span>
                <span><%= order_sn %></span>
            </li>
            <li class="flex">
                <span>交 易 人 ：</span>
                <span class="level"><%= from_member_name %>
                    <% if(level == 0){ %>
                <span class="rank">自己</span>
                <% } else if(level ==1 ) {%>
                <span class="rank">一级</span>
                <% } else if( level==2 ) {%>
                <span class="rank">二级</span>
                <% } %>
                </span>
            </li>
            <li class="flex">
                <span>交易时间：</span>
                <span><%= commission_time %></span>
            </li>
            <li class="flex">
                <span>专场名称：</span>
                <span><%= special_name %></span>
            </li>
            <li class="flex">
                <span>拍品名称：</span>
                <span><%= auction_name %></span>
            </li>
            <li class="flex">
                <span>加 价：</span>
                <span>¥<%= goods_pay_amount %></span>
            </li>
            <li class="flex">
                <span>奖励比例：</span>
                <span><%= dis_commis_rate %>%</span>
            </li>
            <li class="flex">
                <span>奖 励 金 ：</span>
                <span>¥<%= commission_amount %></span>
            </li>
        </ul>
    </div>
</script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<!--<script type="text/javascript" src="../../js/tmpl/fenyong.js"></script>-->
<script>
    var key = getCookie('key');
    var log_id = getQueryString('log_id');
    $.ajax({
        type: "get",
        //        url: ApiUrl + "/index.php?act=member_fund&op=getMemberCommissionDetail",
        url: ApiUrl2 + "/index.php?act=member_fund&op=getMemberCommissionDetail",
        dataType: 'json',
        data: {key: key ,log_id: log_id },
        success: function (result) {
            console.log(result)
            var data = result.datas;
            var html = template.render('bondRebate', data);
            $("#bondRebateHtml").html(html);
            var val = $('#memberName').html();
            var validata=/^(1{1})+\d{10}$/.test(val);
            if(validata){
                $('.order_price').html('');
            }
        }
    });
</script>

</body>
</html>
