<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>通知消息</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_chat.css">
</head>
<body>
<header id="header">
  <div class="header-wrap">
      <div class="header-l"><a href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="24" height="24" alt=""></a></div>
    <div class="header-title">
      <h1>通知消息</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more-w more bgc-t"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../app_index.html"><i class="home"></i>首页</a></li>
        <!--<li><a href="../search.html"><i class="search"></i>搜索</a></li>-->
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>个人中心</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
    <div class="qll_notice_con">
        <ul class="qll_notice_num" id="qllNoticeNum">

        </ul>
    </div>
    <script type="text/html" id="qllNoticeNumScript">
        <li>
            <span class="active">
                通知
                <%if(count_info['message_count_num']>0){%>
                <sup><%=count_info['message_count_num']%></sup>
                <%}%>
            </span>
        </li>
        <li>
            <span>
                消息
                <%if(count_info['chat_count_num']>0){%>
                <sup><%=count_info['chat_count_num']%></sup>
                <%}%>
            </span>
        </li>
    </script>

  <div class="nctouch-notice-list">
      <div id="noticeRead" style="padding: 3px 0;background: #f5f5f5">

      </div>
      <ul id="noticeList">

      </ul>
  </div>

    <script type="text/html" id="noticeReadScript">
        <%if(count_info['message_count_num']>0){%>
        <div class="qll_all_read">
            <img src="../../images/qll_read_all_2.png" alt="">
            <span>全部标为已读</span>
        </div>
        <%}%>
    </script>
    <script type="text/html" id="noticeListScript">
        <%if(message_list.length > 0){%>
        <% for (var i=0; i < message_list.length; i++) { var v = message_list[i]; %>
        <li>
            <a href="notice_info.html?message_id=<%=v.message_id%>">
                <img src="../../images/qll_bank.png" alt="">
                <p><%=v.message_title%></p>
                <div class="qll_red">
                    <%if(v.message_open == 0){%>
                    <sup></sup>
                    <%}%>
                </div>
                <time><%=v.message_time%></time>
            </a>
        </li>
        <%}%>
        <% } else { %>
        <div class="nctouch-norecord talk">
            <div class="norecord-ico"><i></i></div>
            <dl>
                <dt>您还没有和任何通知</dt>
                <!--<dd>对话后可在此找到最近联系的客服</dd>-->
            </dl>
        </div>
        <% } %>

    </script>
  <div class="nctouch-message-list">
      <div id="messageRead" style="padding: 3px 0;background: #f5f5f5">

      </div>

      <ul id="messageList">

      </ul>
  </div>

</div>
<script type="text/html" id="messageReadScript">
    <%if(count_info['chat_count_num']>0){%>
    <div class="qll_all_read">
        <img src="../../images/qll_read_all_2.png" alt="">
        <span>全部标为已读</span>
    </div>
    <%}%>
</script>
<script type="text/html" id="messageListScript">

<% if (!isEmpty(list)) { %>
<% for (var k in list) { %>
    <li>
     <a href="chat_info.html?t_id=<%=k%>&t_name=<%=list[k].u_name%>">
      <div class="avatar">
		<img src="<%=list[k].avatar%>"/>
		<% if (list[k].r_state == 2) {%>
		<sup></sup>
		<%}%>
      </div>
      <p><%=list[k].t_msg%></p>
      <time><%=list[k].time%></time>
     </a>
    </li>
<% } %>
<% } else { %>
        <div class="nctouch-norecord talk">
			<div class="norecord-ico"><i></i></div>
				<dl>
                 <dt>您还没有和任何人联系过</dt>
				<dd>对话后可在此找到最近联系的客服</dd>
			</dl>
     	</div>
<% } %>
</script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/chat_list.js"></script>
<script>
    hide_header = true;
</script>
</body>
</html>