<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>艺诺网_打造全球最专业艺术品保真保值交易平台</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="HandheldFriendly" content="true">
	 <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- 适应移动端end -->
	<!-- apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<!-- Mobile Devices -->
	<meta name="msapplication-TileColor" content="#800000"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="msapplication-tap-highlight" content="no"/>
	<link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
	<link rel="stylesheet" href="../../dist/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/toupiao/main.css">
</head>
<body>
	<div class="header">
		<div class="header-top"></div>
		<div class="header-bottom">
			<span class="header-bottom-span1">作品精选<i class="header-bottom-i1">|</i></span>
			<!--<input type="text" name="search" class="search" style="font-size: 1.4rem;">-->
			<!--<button class="btn search_btn" id="search_btn">-->
				<!--<i class="header-bottom-icon1"></i>-->
			<!--</button>-->
			<!--&lt;!&ndash;<a class="header-bottom-icon1"></a>&ndash;&gt;-->

			<div id="qll_search">
				<input type="text"  name="search" class="inp search" id="">
				<button class="btn" id="search_b">
					<i class="header-bottom-icon1"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="main-top">
			<ul id="vote_list_ul"></ul>
		</div>
		<script type="text/html" id="vote_list_con">
			<%if(entry_list&&entry_list.length){var tmpl = '';%>
				<%for(var i = 0;i< entry_list.length;i++){var list = entry_list[i];%>
				<li>
					<a href="entry_info.html?id=<%=list.id%>">
						<div class="main-top-span1"><img src="/data/upload/cms/vote_activity_entry/<%=list.image%>"></div>
					</a>
					<span class="main-top-span2"><%=list.name%></span>
					<p class="main-top-p1" onclick="like('<%=list.id%>')">
						<span>
							<%if(list.like){%>
							<i class="main-top-icon1 like like_<%=list.id%> icon2" like="1" ></i>
							<%}else{%>
							<i class="main-top-icon1 like like_<%=list.id%>" like="0"></i>
							<%}%>
						</span>
						<span class="main-top-span4 likeCount e_id_<%=list.id%>"><%=list.vote_num%></span>
					</p>
					<span class="main-top-span3">编号 <%=list.entry_no%></span>
				</li>
				<%}%>
			<%}else{%>
			<div style="text-align: center">
				<p class="content_null">没有内容哦......</p>
			</div>
			<%}%>
		</script>
		<div class="main-center">
			<div class="main-center-top" style="display: none">
				<h3>活动说明</h3>
				<p class="huodong-explain"></p>
			</div>
			<div class="main-center-center" style="display: none">
				<h3>投票说明</h3>
				<p class="vote-explain"></p>
			</div>
			<a href="#download_app" id="go_download_app"></a>
			<div class="main-center-bottom" id="download_app">
				<a href="http://yinuovip.com/wap/tmpl/app_download.html"><button class="main-center-bottom-btn1">下载 APP 投票</button></a>
			</div>
		</div>
	</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/entry_list.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</body>
</html>
