<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>艺诺网——艺术之星</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="HandheldFriendly" content="true">
	 <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- 适应移动端end -->
	<!-- apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<!-- Mobile Devices -->
	<meta name="msapplication-TileColor" content="#800000"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="msapplication-tap-highlight" content="no"/>
	<link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
	<link rel="stylesheet" href="../../dist/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/toupiao/main.css">
</head>
<body>
<div class="share-header"></div>
<div class="share-main">
	<div class="share-top">
		<h3>作品分享</h3>
	</div>
	<div class="share-center">
		<ul>
			<li id="vote-info"></li>
		</ul>
	</div>
</div>
<script type="text/html" id="vote-info-con">
	<% if(vote_info){ %>
	<span class="share-center-span1"><img src="/data/upload/cms/vote_activity_entry/<%=vote_info.image%>"></span>
	<p class="share-center-p2">
		<span class="share-center-span2">作品名称：<%=vote_info.name%></span><br>
		<span class="share-center-span3">作者：<%=vote_info.auther%></span>
	</p>
	<p class="main-top-p1" onclick="like('<%=vote_info.id%>')">
		<i class="main-top-icon1 <%if(vote_info.like){%>icon2<%}%>" id="like"></i>
		<span class="main-top-span4" id="likeCount"><%=vote_info.vote_num%></span>
	</p>
	<p class="share-top-p3">
		<span class="share-center-span5">作品说明：<%=vote_info.description%></span>
	</p>
	<span class="main-top-span6">编号 <%=vote_info.entry_no%></span>
	<% } else { %>
	<div style="text-align: center;height: 5rem;padding-top: 2rem"><p class="content_null">没有内容哦......</p></div>
	<% } %>
</script>

<div class="share-bottom">
	<div class="share-bottom-top" style="display: none">
		<h3>活动说明</h3>
		<p class="huodong-explain"></p>
	</div>
	<div class="share-bottom-center" style="display: none">
		<h3>投票说明</h3>
		<p class="vote-explain"></p>
	</div>
	<div class="share-bottom-bottom" id="download_app">
		<a href="http://yinuovip.com/wap/tmpl/app_download.html"><button class="share-bottom-bottom-btn1">下载 APP 投票</button></a>
	</div>
</div>

<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/entry_info.js"></script>
</body>
</html>