<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>艺诺网</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <link rel="stylesheet" href="../../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
    <style>
        .qrcode {
            background-color: #343235;
            color: #ffffff;
        }
        .qrcode .margin20{
            font-size: 18px;
            margin-left: 22%;
        }
        .ex_entry div{
            font-size: 1.2rem;
            float: left;
            width: 50%;
        }
        #qrcode {
            display: initial;
        }
        #qrcode img{
            width: 33%;
            position: absolute;
            top: 3rem;
            left: 3rem;
            z-index: 999;
        }
    </style>
</head>
<body style="padding-bottom: 60px;">
<div id="cms_activity_wrapper"></div>
<script type="text/html" id="cms_activity">
  <div class="cms_activity_con">
      <%if(detail&&detail.special_mobile_content&&detail.special_mobile_content){%>
          <%== detail.special_mobile_content %>
      <%}%>
  </div>
</script>
<div class="qrcode" style="padding-top: 2rem;display: none">
    <div class="margin20">
        <b><i class="iconfont icon-lianxiren"></i></b>&nbsp;邀请人&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ex_name"></span>
    </div>
    <br>
    <div class="margin20">
        <b><i class="iconfont icon-dianhua"></i></b>&nbsp;联系电话&nbsp;:&nbsp;<span class="ex_mobile"></span>
    </div>
    <br>
    <div class="margin20" id="entry_end_time">
        报名截止时间:&nbsp;<span class="entry_end_time"></span>
    </div>

    <div style="width: 80%; margin-left: 10%;position: relative;z-index: 998;">
        <img src="../../images/boot/tmp_weixin.jpg" width="100%">
        <div id="qrcode"></div>
    </div>
    <div class="ex_entry" style="width: 100%;height: 60px;">
        <div>
            <a href="javascript:void(0)" class="entry_into"><img src="../../images/boot/baoming.jpg" alt="" style="width: 50%;margin-left: 40%"></a>
        </div>
        <div>
            <a href="javascript:void(0)" class="register"><img src="../../images/boot/zhuce.jpg" alt="" style="width: 50%;margin-left: 10%"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/exhibition.js"></script>
<script type="text/javascript" src="../../js/kjua_qcrode.js"></script>

</body>
</html>