<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>活动列表</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">

    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">

    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">

    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">

    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">

    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <link rel="stylesheet" href="../../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../libs/css/sm.min.css">
</head>
<body>


<div id="exhibition_list" style="padding-bottom: 60px;"></div>

<script type="text/html" id="exhibition_list_con">
    <%if(exhibition_list&&exhibition_list.length){var tmpl = '';%>
    <div class="exhibition_list">
        <ul class="exhibition_list_ul">
            <%for(var i = 0;i< exhibition_list.length;i++){var list = exhibition_list[i];%>
            <li  ex_id="<%=list.id%>">
                <a href="javascript:void(0);" >
                    <div class="left" onclick="get_exhibition('<%=list.id%>','<%=invite_code%>')">
                        <span class="text"><%=list.title%></span>
                    </div>
                    <div class="right" >
                        <span class="text" onclick="go_exhibition_member_list('<%=list.id%>')">查看报名人数</span>
                        <span class="date"><%=list.add_time%></span>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
    </div>
    <%}else{%>
    <p class="content_null">没有内容哦......</p>
    <%}%>
</script>

<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script src="../../dist/script/main.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/get_exhibition_list.js"></script>
</body>
</html>