<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
  <title>分佣明细</title>
  <link rel="stylesheet" type="text/css" href="../../css/base.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
  <!--新增样式-->
  <link rel="stylesheet" href="../../css/sm.min.css">
  <link rel="stylesheet" href="../../css/sm-extend.min.css">

  <!--qll_base-->
  <link rel="stylesheet" type="text/css" href="../../css/qll/qll_base.css">
</head>
<body style="background: #fff;">
<!--顶部-->
<div class="qll_main_layout">
  <div class="qll_nctouch-asset-info">
    <div class="qll_container">
      <!--<i class="icon"></i>-->
      <dl>
        <dt>历史累计金额</dt>
        <dd>￥<em id="sum_commission_amount_lm">0.00</em></dd>
      </dl>
    </div>
  </div>
  <!--top end-->
  <ul class="qll_tab_title">
    <li class="current"><a href="#">交易返佣</a></li>
    <li><a href="#">保证金收益返佣</a></li>
    <li><a href="#">推荐返佣</a></li>
  </ul>


  <!--tab title end-->
  <div class="qll_tab_con" id="transaction_con">

  </div>
</div>

<script type="text/html" id="transaction_list">
  <div class="qll_tab_section">
    <% if(commission_list&&commission_list.length >0){ %>
    <h4 class="qll_tab_commend"><span>交易返佣总收益</span> ￥<%=sum_commission_amount%>   <span>未结算收益</span> ￥<%=sum_commission_amount_1%></h4>
    <ul>
      <%for (var j in commission_list) { var list = commission_list[j];%>
      <li>
        <div class="qll_detail_top">
          <dl class="qll_detail_fenlan">
            <dt><%=list.goods_name%></dt>
            <dd>+ <%=list.commission_amount%></dd>
          </dl>
          <dl class="qll_detail_fenlan">
            <dt></dt>
            <dd><%=list.label_date%> <%=list.label_status%></dd>
          </dl>
        </div>
        <div class="qll_detail_bottom">
          <%var orderList=orders_list[list.order_id]%>
          <span class="qll_detail_bottom_left">订单编号：<%=list.order_sn%></span>
          <%for (var k in orderList.goods_info) { var goodsList = orderList.goods_info[k];%>
          <span class="qll_detail_bottom_left"><%=goodsList.goods_name%>：<%=goodsList.goods_num%>件</span>
          <%}%>
          <span class="qll_detail_bottom_right">消费总金额：￥<%=orderList.order_amount%></span>
          <span class="qll_detail_bottom_right">时间：<%=orderList.label_date%></span>
          <span class="qll_detail_bottom_right">订单状态：<%=orderList.label_status%></span>
        </div>
      </li>
      <%}%>
    </ul>
    <%}%>
  </div>

  <!--第二块-->
  <div class="qll_tab_section">
    <%if(list&&list.length>0&&list[0].order_info){ %>
    <h4 class="qll_tab_commend"><span>保证金收益返佣总收益</span> ￥<%=sum_commission_amount%></h4>
    <ul>
      <%for (var l in list) { var bondList = list[l];%>
      <li>
        <div class="qll_detail_top">
          <dl class="qll_detail_fenlan">
            <dt></dt>
            <dd>+ <%=bondList.commission_amount%></dd>
          </dl>
          <dl class="qll_detail_fenlan">
            <dt></dt>
            <dd><%=bondList.label_date%> <%=bondList.label_status%></dd>
          </dl>
        </div>
        <div class="qll_detail_bottom">
          <dl class="qll_detail_fenlan">
            <dt>保证金总金额: <%=bondList.goods_pay_amount%></dt>
            <dd>年化收益率：<%=bondList.label_dis_commis_rate%></dd>
          </dl>
          <dl class="qll_detail_fenlan">
            <dt>周期：<%=bondList.order_info.pay_date_number%>天</dt>
            <dd><%=bondList.order_info.label_payment_time%></dd>
          </dl>
          <dl class="qll_detail_fenlan">
            <dt></dt>
            <dd><%=bondList.label_status%></dd>
          </dl>
        </div>
      </li>
      <%}%>
    </ul>
    <%}%>

  </div>
  <!--第三块-->
  <div class="qll_tab_section">
    <%if(list&&list.length>0&&!list[0].order_info){ %>

    <h4 class="qll_tab_commend"><span>推荐返佣总收益</span> ￥<%=sum_commission_amount%></h4>
    <ul>
      <%for (var m in list) { var recommendList = list[m];%>
      <li>
        <div class="qll_detail_top">
          <dl class="qll_detail_fenlan">
            <dt><%=recommendList.goods_name%></dt>
            <dd>+ <%=recommendList.commission_amount%></dd>
          </dl>
          <dl class="qll_detail_fenlan">
            <dt></dt>
            <dd><%=recommendList.label_date%> <%=recommendList.label_status%></dd>
          </dl>
        </div>
      </li>
      <%}%>
    </ul>
    <%}%>
  </div>

</script>


<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/fenyong.js"></script>

</body>
</html>