<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>领取优惠券</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<link rel="stylesheet" href="../../css/sm.min.css">
<link rel="stylesheet" href="../../css/sm-extend.min.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/animate.min.css">
<link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="no-footer" style="margin-bottom: 50px;">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <h1 class="title">领取优惠券</h1>
</header>
<div class="bank-card" id="member_coupon_html"></div>
<div class="account-box">
    <a href="javascript:void(0);" class="btn-l button" id="getCoupon">马上领取</a>
</div>
<script type="text/html" id="member_coupon">
<% if(coupon_info){ %>
<div class="account-box account-box-02">
    <img src="<%=coupon_info.voucher_t_customimg%>" width="200" height="auto" />
    <a href="../store.html?store_id=<%=coupon_info.voucher_t_store_id%>" target="_blank">
        <h1><%=coupon_info.voucher_t_storename%></h1>
    </a>
    <b class="all-block">¥<%=coupon_info.voucher_t_price%></b>
    <span>
        <% if (coupon_info.voucher_t_limit > 0){ %>
        购物满<%=coupon_info.voucher_t_limit%>元可用
        <% } else { %>
        无限额代金券
        <% } %>
    </span><br/>
    <span>有效期至<%=coupon_info.voucher_t_end_date%></span><br/>
    <span><em><%=coupon_info.voucher_t_giveout%></em>人兑换</span>
    <% if (coupon_info.voucher_t_mgradelimit > 0){ %>
    <br/><span><%=coupon_info.voucher_t_mgradelimittext%></span>
    <% } %>
</div>
<% } %>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_card.js"></script>
<script>
    $(function(){
        var key = getCookie('key');
        var tid = getQueryString('tid');
        var post_data = 0;
        $('#getCoupon').click(function(){
            if (!key) {
                errorTipsShow('<p>请先登录</p>');
                window.location.href = WapSiteUrl+'/tmpl/member/login.html';
                return false;
            }
            if (post_data) {
                errorTipsShow("<p>正在处理中，请勿重复点击！</p>");
                return false;
            }
            post_data = 1;
            $.ajax({
                url:ApiUrl+"/index.php?act=member_coupon&op=get_free_coupon",
                type:"post",
                dataType:"json",
                data:{key:key,tid:tid},
                success:function (result){
                    if(!result.datas.error){
                        errorTipsShow('<p>提交成功</p>');

                        setTimeout(function(){
                            window.location.href = WapSiteUrl + '/tmpl/member/member.html';
                        }, 3000);
                    }else{
                        errorTipsShow('<p>' + result.datas.error + '</p>');
                    }
                }
            });
        });

        $.ajax({
            type:'post',
            url:ApiUrl+"/index.php?act=member_coupon&op=coupon_info",
            data:{tid:tid,key:key},
            dataType:'json',
            success:function(result){
                if(result.code == 200){
                    var data = result.datas;
                    var html = template.render('member_coupon', data);
                    $("#member_coupon_html").html(html);
                }
            }
        });

    });
</script>
</body>
</html>