<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>奖励金明细</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../../libs/css/sm.min.css">
</head>
<body>
<!--<div class="pub_header">-->
<!--<a class="icon" href="member.html"><img src="../../images/top-left.png" width="20" height="20" alt=""></a>-->
<!--<h1 class="title">保证金收益</h1>-->
<!--</div>-->
<div id="member_margin_top"></div>
<script type="text/html" id="member_margin_top_con">
  <div class="get_commission">
    <div class="member_margin_price lf">
      <span class="text">总金额</span>
      <span class="price"><%=sum_commission_amount%><b>元</b></span>
    </div>
  </div>
</script>


<div class="member_margin_select pub_mask_select ">
  <div class="pub_mask_select_head member_margin_select_head">
    <div class="left pub_mask_select_trigger">
      <span class="text pub_mask_select_val" data-data="全部,消费金额,保证金收益,推荐会员,艺术家推荐">全部</span>
      <i class="iconfont icon-jiantou9"></i>
    </div>
    <i class="iconfont icon-riqi trigger_date">
      <input type="text" id='datetime-picker'/>
    </i>
  </div>
</div>

<div id="member_margin_list" style="padding-bottom: 60px;"></div>

<script type="text/html" id="member_margin_list_con">
  <%if(commission_list&&commission_list.length){var tmpl = '';%>
  <div class="member_margin_list get_commission_list">
    <ul class="member_margin_list_ul">
      <%for(var i = 0;i< commission_list.length;i++){var list = commission_list[i];%>
      <%if(list.commission_time_str!==tmpl){tmpl = list.commission_time_str%>
      <div class="member_margin_select_date">
        <span class="date"><%=$formatDate(list.commission_time_str)%></span>
      </div>
      <%}%>
      <li>
        <a href="bonus_detail.html?log_id=<%=list.log_id%>">
          <div class="left">
            <%if(list.commission_type==1||list.commission_type==2){%>
            <i class="iconfont icon-jianglijin"></i>
            <%}else if(list.commission_type==3){%>
            <i class="iconfont icon-baozhengjin"></i>
            <%}else if(list.commission_type==4){%>
            <i class="iconfont icon-myhome-o"></i>
            <%}else{%>
            <i class="iconfont icon-yishujia"></i>
            <%}%>
            <span class="text"><%=list.goods_name%></span>
          </div>
          <span class="price"><%=list.commission_amount%></span>
          <span class="date"><%=list.commission_date%></span>
        </a>
      </li>
      <%}%>
    </ul>
  </div>
  <%}else{%>
  <p class="content_null">没有内容哦......</p>
  <%}%>
</script>

<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/get_commission.js"></script>
</body>
</html>