<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的保证金</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <!--可调用原有商城Wap样式-->
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css">
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
    <style>
		.logistics .card .list-block.media-list .card-header{font-size:14px}
		.logistics .card .list-block.media-list .card-header .fr{font-size:12px;-webkit-transform-origin-x:0;-webkit-transform:scale(0.85);color:#6c6a6a}
    .content-tab .title-name a {
        display: block;
        width: 33.3%;
        float: left;
        height: 32px;
    }

    </style>
</head>
<body class="gray-bg">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <h1 class="title">我的保证金</h1>
</header>

<div class="content logistics" style="margin-top:12px">
    <input type="hidden" id="list_all" class="actived">
    <div class="card" id="order-list">
    </div>
</div>

<script type="text/html" id="order-list-tmpl">
    <% var order_group_list = datas.order_group_list; %>
    <% if (order_group_list != null && order_group_list.length>0) { %>
        <% for (var i = 0; i<order_group_list.length; i++) { %>
            <div class="card-content">
                <div class="list-block media-list">
                    <ul>
                        <li class="item-content" style="padding:0 0 0 16px">
                            <div class="card-header">
                                <% if (order_group_list[i].auction_order) { %>
                                    订单号：<%= order_group_list[i].auction_order.order_sn %>
                                    <span class="fr"><%= $getLocalTime(order_group_list[i].auction_order.add_time) %></span>
                                <% } else { %>
                                    订单号：<%= order_group_list[i].order_sn %>
                                    <span class="fr"><%= $getLocalTime(order_group_list[i].created_at) %></span>
                                <% } %>
                            </div>
                        </li>
                        <li class="item-content gray-bg">
                            <div class="item-media">
                                <% if (order_group_list[i].auction_order) { %>
                                    <a href="auction_order_detail.html?margin_id=<%= order_group_list[i].margin_id %>&auction_order_id=<%= order_group_list[i].auction_order.order_id %>">
                                        <img src="<%= order_group_list[i].image_240_url %>" width="56" height="56" alt=""/>
                                    </a>
                                <% } else { %>
                                    <a href="../auction/auction_detail.html?auction_id=<%= order_group_list[i].auction_id %>">
                                        <img src="<%= order_group_list[i].image_240_url %>" width="56" height="56" alt=""/>
                                    </a>
                                <% } %>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><%= order_group_list[i].auction_info.auction_name %></div>
                                </div>

                                <div class="item-title-row">
                                    <div class="item-title">保证金：&yen;<%= p2f(order_group_list[i].margin_amount) %></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer" style="border-bottom:#e6e6e6 solid 1px">
                        <span></span>
                        <% if(order_group_list[i].order_state == 1 && order_group_list[i].refund_state == 2){ %>
                            <span style="font-size: 12px">
                                违约,扣除保证金
                            </span>
                        <% } else if (order_group_list[i].order_state != 1 && !order_group_list[i].auction_order) { %>
                            <% if(order_group_list[i].order_state == 5){ %>
                                <span style="font-size: 12px">
                                    支付异常
                                </span>
                            <% }else if(order_group_list[i].order_state == 4 ) { %>
                                <span style="font-size: 12px">
                                    订单已取消
                                </span>
                            <% }else if(order_group_list[i].auction_info.state == 0 ) { %>
                                <span>
                                    <a href="javascript:void(0)" order_id="<%=order_group_list[i].margin_id%>" class="cancel-order">取消订单</a>
                                    <a href="../auction/auction_margin.html?auction_id=<%= order_group_list[i].auction_id %>">支付保证金</a>
                                </span>
                            <% } %>
                        <% }else if (order_group_list[i].relation.is_bond == 1 && !order_group_list[i].auction_order) { %>
                            <% if (order_group_list[i].lock_state == 1){ %>
                            <span style="font-size: 12px">
                                <!--订单抵扣-->
                            </span>
                            <% }else if (order_group_list[i].relation.offer_num >= order_group_list[i].auction_info.current_price && order_group_list[i].refund_state != 1) { %>
                            <span style="font-size: 12px">
                                待释放
                            </span>
                            <% } else if (order_group_list[i].refund_state != 1) { %>
                            <span style="font-size: 12px">
                                待释放
                            </span>
                            <% } else { %>
                            <span style="font-size: 12px">
                                已释放
                            </span>
                            <% } %>

                        <% } else if (order_group_list[i].order_state == 2 && !order_group_list[i].auction_order) { %>
                            <span style="font-size: 12px">
                                付款凭证待审核
                            </span>
                        <% } else { %>
                                <span style="font-size: 12px">已拍中</span>
                        <% } %>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        <% } %>
    <% } else { %>
    <div class="state">
        <img src="../../images/state-03.png" width="74" height="74" alt=""/>
        <h1>您还没有相关的订单</h1>
        <h2>可以去看看有哪些想买的</h2>
    </div>
    <% } %>
    <% if (hasmore) { %>
    <li class="loading"><div class="spinner"><i></i></div>订单数据读取中...</li>
    <% } %>
</script>
<!-- 我的视频 wap端不显示 此处占位 -->
<script type="text/html" id="video_list">
    <% if(wap_display == 0) { %>
    <% } %>
</script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/order_payment_auction.js"></script>
<script type="text/javascript" src="../../js/tmpl/margin_order_list.js"></script>

<script type="text/javascript" src="../../js/addtohomescreen.js"></script>
<!--<script>
	addToHomescreen({
		message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
	});
</script>-->
<script type="text/javascript">
  apiready = function() {
    isapp = 1;
    checkWxHandler();
  }
  hide_header = true;
</script>
</body>
</html>
