<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>签约艺术家</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
 <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#800000"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="msapplication-tap-highlight" content="no" />

<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<!--可调用原有商城Wap样式-->
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css">
<link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
<!--新增样式-->
<link rel="stylesheet" href="../../css/sm.min.css">
<link rel="stylesheet" href="../../css/sm-extend.min.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/animate.min.css">
<link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
<style>
	.card{margin:0;box-shadow:none}	
	.card .item-title{color:#000;font-size:14px;}
	.card .item-media img{border-radius:50px; overflow: hidden}
</style>
</head>
<body class="gray-bg">
<header class="bar bar-nav">
	<a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20"/></a>
	<h1 class="title">签约艺术家</h1>
</header>
<div class="card">
  <div class="card-content">
    <div class="list-block" id="list-block">
    </div>
  </div>
</div>
<script type="text/html" id="artist_body">
  <% var artist_list = datas.member_list; %>
  <% if(artist_list.length > 0){ %>
  <ul>
    <% for(i = 0; i < artist_list.length; i++){ %>
    <li>

      <a href="javascript:void(0);" class="item-link item-content">
        <div class="item-media"><i class="icon icon-f7"></i></div>
        <div class="item-media">
          <img src="<%=artist_list[i].member_avatar;%>" width="58" height="58">
        </div>
        <div class="item-inner" style="background-image: none;">
          <div class="item-title-row">
            <div class="item-title">伙伴名称：<%=artist_list[i].member_name;%></div>
            <div class="item-title">注册时间：<%=artist_list[i].member_time;%></div>
            <div class="item-title">会员类型：<%=artist_list[i].member_type_display;%></div>
            <div class="item-title">佣金金额：¥<%=artist_list[i].commission_amount;%></div>
          </div>
        </div>
      </a>
    </li>
    <% } %>
    <% if (hasmore) {%>
    <li class="loading"><div class="spinner"><i></i></div>数据读取中...</li>
    <% } %>
  </ul>
  <% }else{ %>
    <div class="nctouch-norecord order">
      <div class="norecord-ico"><i></i></div>
      <dl>
        <dt>您还没有签约艺人</dt>
      </dl>
      <a href="<%=WapSiteUrl%>" class="btn">随便逛逛</a>
    </div>
  <% } %>
</script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>

<script type="text/javascript" src="../../js/tmpl/member_artist.js"></script>
<script type="text/javascript" src="../../js/tmpl/footer.js"></script>
</body>
</html>
