<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>保证金收益</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../../libs/css/sm.min.css">
  <link rel="stylesheet" href="../../css/agreement.css">
</head>
<body style="padding:0 0 6rem;width: 100%">
<!--<div class="pub_header">-->
<!--<a class="icon" href="member.html"><img src="../../images/top-left.png" width="20" height="20" alt=""></a>-->
<!--<h1 class="title">保证金收益</h1>-->
<!--</div>-->
<div id="member_margin_top"></div>
<script type="text/html" id="member_margin_top_con">
  <div class="member_margin_top">
    <div class="member_margin_price lf">
      <span class="text">累计总收益</span>
      <span class="price"><%=all_recharge%><b>元</b></span>
    </div>
    <%if(freeze_margin){%>
    <div class="member_margin_price rg">
      <span class="text">冻结中</span>
      <span class="price"><%=freeze_margin%><b>元</b></span>
    </div>
    <%}%>
    <i class="iconfont icon-tanhao3 get_agreement_btn" g_type="bond_explanation" style="color: #f5f5f5;margin-bottom: -4px"></i>
  </div>
</script>
<div class="agreement_bottom"></div>
<div class="agreement_content" id="withdrawalsAagreementHtml"></div>
<script type="text/html" id="withdrawalsAagreement">
  <h1>
    <%=title%>
    <div class="qll_close">
      <img src="../../images/qll_close.png" alt="">
    </div>
  </h1>
  <div class="agreement_detail">
  </div>
</script>


<div class="member_margin_select pub_mask_select ">
  <div class="pub_mask_select_head member_margin_select_head">
    <div class="left pub_mask_select_trigger">
      <span class="text pub_mask_select_val" data-data="全部,未结算,已结算">全部</span>
      <i class="iconfont icon-jiantou9"></i>
    </div>
    <i class="iconfont icon-riqi trigger_date">
      <input type="text" id='datetime-picker'/>
    </i>
  </div>
</div>

<div id="member_margin_list"></div>

<script type="text/html" id="member_margin_list_con">
  <%if(margin_list){%>
  <%for(var item in margin_list){%>
  <div class="member_margin_list">
    <div class="member_margin_select_date">
      <span class="date"><%=item%></span>
    </div>
    <ul class="member_margin_list_ul">
      <%for(var i = 0;i< margin_list[item].length;i++){var list = margin_list[item][i]%>
      <li>
        <a href="member_margin_info.html?log_id=<%=list.log_id%>">
          <span class="text"><%=list.auction_name%></span>
          <%if(list.dis_commis_state && list.dis_commis_state == 0){%>
          <span class="price">- - - -</span>
          <%}else{%>
          <span class="price">+<%=list.commission_amount%></span>
          <%}%>
          <span class="date"><%=list.commission_time%></span>
        </a>
      </li>
      <%}%>
    </ul>
  </div>
  <%}}else{%>
  <p class="content_null">没有内容哦......</p>
  <%}%>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_margin.js"></script>
<script type="text/javascript" src="../../js/tmpl/agreement.js"></script>
</body>
</html>

