<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的合伙人</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <!--可调用原有商城Wap样式-->
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css">
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
    <style>
        .card{margin:0;box-shadow:none} .card .item-title{color:#000;font-size:14px;} .card .item-media img{border-radius:50px; overflow: hidden}
        .qll_header{position:fixed;top:0;left:0;width:100%;height: 44px;background: #000;padding:0 .5rem;}
        .qll_title{font-size: 17px;line-height: 42px;color: #fff !important;height: 44px !important;margin: 0 -.5rem !important;text-align: center;}
    </style>
</head>
<body class="gray-bg">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20"/></a>
    <h1 class="title"></h1>
</header>

<span class="sum_partner">
  共<span id="total">0</span>个合伙人
</span>

<div class="card">
  <div class="card-content">
    <ul class="lm_cardcontent_ul">
      <li class="active" data-type = "1">一级(<span id="count_lv_1">0</span>人)</li>
      <li data-type = "2">二级(<span id="count_lv_2">0</span>人)</li>
      <!--<li data-type = "2">艺术家</li>-->
    </ul>
    <div class="lm_list-block" >
      <ul class="lm_card_list" id="list-block">
      </ul>
    </div>

<div class="remarks_lm_wrapper  nctouch-full-mask hide" id="remarks_lm_wrapper">
    <div class="nctouch-full-mask-bg"></div>
    <div class="nctouch-full-mask-block">
        <div class="qll_header bar bar-nav ">
            <a class="icon fl" id="qll_header_close" href="javascript:void(0);"><img src="../../images/top-left.png" width="20" height="20"/></a>
            <h1 class="qll_title title"></h1>
        </div>
        <div class="nctouch-main-layout">
            <form>
                <div class="lm_form_group">
                    <label class="lm_form_group_text">备注名： </label>
                    <input name="lmremarks" class="lm_form_group_inp" type="text" placeholder="请输入备注名">
                </div>
                <button class="lm_sub">保存</button>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="partner_body">
  <% var partner_list = datas.member_list; %>
  <% if(partner_list.length > 0){ %>



    <% for(i = 0; i < partner_list.length; i++){ %>
    <li data-memberId="<%=partner_list[i].member_id;%>">
      <div class="lm_card_item">
        <div class="lm_card_left">
          <div class="lm_card_media">
            <img src="<%=partner_list[i].member_avatar;%>" alt="">
          </div>
          <div class="remarks_lm">
          <span class="lm_name"><% if(partner_list[i].member_comment){ %>
              <%=partner_list[i].member_comment;%>
              <% }else{ %>
              <%=partner_list[i].member_name;%>
              <% } %></span>
            <img src="../../images/lm/lm_set_hhr.png" alt="">
          </div>
        </div>

        <div class="lm_card_inner">


          <span class="lm_mobile">手机：<%=partner_list[i].member_mobile;%></span>
          <span class="lm_date">时间：<%=partner_list[i].member_time;%></span>
          <span class="lm_type">类型：<%=partner_list[i].member_type_display;%></span>
          <span class="lm_yongjin">佣金：¥<%=partner_list[i].commission_amount;%></span>
            <% if(partner_list[i].total){ %>
          <span class="lm_yongjin">下级合伙人：<%=partner_list[i].total;%>人</span>
            <% } %>

        </div>
        <div class="lm_card_right">
          <div class="lm_card_look">
              <% if(partner_list[i].total){ %>
            <a href="member_partner_children.html?member_id=<%=partner_list[i].member_id%>&is_childrens=ok">查看合伙人</a>
              <% } %>
          </div>

          <div class="lm_card_more_con">
            <a href="fenyong.html?form_member_id=<%=partner_list[i].member_id;%>" class="lm_card_more">佣金详情</a>

          </div>
        </div>
      </div>
    </li>
    <%}%>
    <% if (hasmore) { %>
    <li class="loading"><div class="spinner"><i></i></div>数据读取中...</li>
    <% } %>
  <% }else{ %>
  <div class="nctouch-norecord order">
    <div class="norecord-ico"><i></i></div>
    <dl>
      <dt>您还没有合作伙伴</dt>
    </dl>
    <a href="<%=WapSiteUrl%>" class="btn">随便逛逛</a>
  </div>
  <% } %>





</script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_partner_old.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>
