<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>合伙人</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">

</head>
<body style="padding: 0 0 56px;">
<div id="member_partner_list"></div>

<script type="text/html" id="member_partner_list_con">
  <div class="member_partner_list_top">
    <div class="left">
      <span class="text">合伙人</span>
      <span class="price"><%=total%><b>人</b></span>
    </div>
    <div class="right">
      <a href="#" class="member_partner_search" id="member_partner_search">
        <i class="iconfont icon-sousuo1"></i>
      </a>
    </div>
  </div>
  <ul class="member_partner_list_list">
    <li>
      <a href="member_partner_list_children.html?lv=1">
        <div class="left">
          <img src="../../images/lm/icon/one_icon.png" alt="">
          <span class="text">一级合伙人</span>
        </div>
        <div class="right">
          <span class="text"><%=lv_total_1%></span>
          <i class="iconfont icon-danjiantou"></i>
        </div>
      </a>
    </li>
    <li>
      <a href="member_partner_list_children.html?lv=2">
        <div class="left">
          <img src="../../images/lm/icon/two_icon.png" alt="">
          <span class="text">二级合伙人</span>
        </div>
        <div class="right">
          <span class="text"><%=lv_total_2%></span>
          <i class="iconfont icon-danjiantou"></i>
        </div>
      </a>
    </li>
    <li>
      <a href="member_partner_list_children.html?lv=3">
        <div class="left">
          <img src="../../images/lm/icon/excellent_icon.png" alt="">
          <span class="text">优秀合伙人</span>
        </div>
        <div class="right">
          <span class="text"><%=lv_total_3%></span>
          <i class="iconfont icon-danjiantou"></i>
        </div>
      </a>
    </li>
  </ul>
  <div class="member_partner_list_con" id="member_partner_list_list">

  </div>
</script>

<script type="text/html" id="member_partner_list_list_con">
  <%if(member_list){%>
  <%for(var item in member_list) {%>
  <div class="member_partner_list_panpel">
    <div class="member_partner_list_con_date">
      <span class="date"><%=item%></span>
    </div>
    <ul class="list">
      <%for(var i = 0;i< member_list[item].length;i++){var list = member_list[item][i]%>
      <li data-id="<%=list.member_id%>">
        <a href="member_partner_level.html?member_id=<%=list.member_id%>">
          <div class="left">
            <div class="img">
              <img src="<%=list.member_avatar%>" alt="">
              <i class="icon"><img src="<%=list.member_type_img%>"></i>
            </div>
            <div class="text">
              <h4 class="name"><%=list.member_name||'未命名'%></h4>
              <%if(list.comment!='' && list.comment!=null){%>
              <span class="level">
                <img style="vertical-align: middle;width: 20px;" src="../../images/qll/member_partner_remarks_2.png" alt="">
                <%=list.comment%></span>
              <%}%>
            </div>
          </div>
          <span class="date"><%=list.member_time%></span>
        </a>
      </li>
      <%}%>
    </ul>
  </div>
  <%}}%>
</script>
<!--hide-->
<div id="member_partner_search_wrapper" class="nctouch-full-mask hide public_search_wrapper">
  <div class="nctouch-full-mask-bg"></div>
  <div class="nctouch-full-mask-block public_search_con">
    <div class="public_search_head">
      <a href="#" class="public_search_back">
        <i class="iconfont icon-fanhui"></i>
      </a>
      <form action="#" class="public_search_bar">
        <div class="public_search_panpel">
          <i class="iconfont icon-sousuo1"></i>
          <input type="search" class="inp" id="public_search_inp" placeholder="输入关键词">
        </div>
      </form>
    </div>
    <div class="public_search_result">
      <div class="public_search_result_panpel">
      </div>
      <!--<div class="public_search_result_panpel">-->
      <!--<h4 class="title">备注</h4>-->
      <!--<ul>-->
      <!--<li><a href="#">sadada</a></li>-->
      <!--<li><a href="#">sadada</a></li>-->
      <!--<li><a href="#">sadada</a></li>-->
      <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</div>
<script type="text/html" id="public_search_result_con">
  <%if(datas){%>
  <h4 class="title">昵称</h4>
  <ul>
    <%for(var i=0;i< datas.length;i++){var item =datas[i]%>
    <li><a href="member_partner_level.html?member_id=<%=item.member_id%>"><%=item.member_name%></a></li>
    <%}%>
  </ul>
  <%}%>
</script>


<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_partner_list.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>