<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>保证金收益</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="white-bg">
<header class="bar bar-nav">
    <a class="icon fl" href="member.html"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <h1 class="title">保证金收益</h1>
</header>
<!--保证金收益-->
<div class="account-box account-box-02">
    <img src="../../images/gezhong-01.png" width="88" height="auto" alt=""/>
    <h1 >保证金金额（元）</h1>
    <b class="all-block"><span id="margin_num"></span></b>
    <input type="hidden" value="" id="margin_num_val">

    <span class="all-block">冻结<span id="freeze_margin"></span></span>
    <span class="all-block">释放<span id="switch_margin"></span>（可转入余额账户）</span>
    <span class="all-block">累计保证金收益总额<span id="all_recharge"></span></span>
    <a href="margin_list.html">查看保证金收益明细&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

</div>
<div class="account-box"><a href="#" class="button" id="draw_cash">转入余额账户</a></div>

<!-- 我的视频 wap端不显示 此处占位 -->
<script type="text/html" id="video_list">
    <% if(wap_display == 0) { %>
    <% } %>
</script>
<!---新增JS-->
<script type="text/javascript" src="../../js/zepto.min2.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/new-demos.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-city-picker.min.js" charset="utf-8"></script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/tmpl/footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_margin_old.js"></script>

<script type="text/javascript" src="../../js/addtohomescreen.js"></script>
<!--<script>
	addToHomescreen({
		message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
	});
</script>-->
</body>
</html>
