<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>设置</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
    <style>
        header{
            background: #fff!important;
            color: #333333;
            border-bottom: 1px solid #E3E3E3;
        }
        header h1 {
            color: #333333 !important;

        }
    </style>
</head>
<body class="setting-box">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/whk/back.png" width="10.5" height="19" alt=""/></a>
    <h1 class="title">设置</h1>
</header>
<div id="accountBoxHtml">

</div>
<script type="text/html" id="accountBox">
    <div class="account_box account_box_grade">
        <a href="partner_special.html">
            <div class="account_box_list">
                我的等级
                <div class="account_box_list_left">
                    <img class="qll_member" src="../../../data/upload/shop/vendue/<%=logo_img%>" alt="">
                    <%=member_type%>
                    <img class="qll_arow" src="../../images/qll_arow.png" alt="">
                </div>
            </div>
        </a>
    </div>
    <div class="account_box account_box_img">
        <a href="member_avatar.html">
            <div class="account_box_list">
                头像
                <div class="account_box_list_left">
                    <div class="qll_avatar_wrap">
                        <img class="qll_avatar" src="<%=member_avatar%>" alt="">
                    </div>
                    <img class="qll_arow" src="../../images/qll_arow.png" alt="">
                </div>
            </div>
        </a>
    </div>
    <div class="account_box">
        <a href="member_name.html?edit_name=member_truename&edit_value=<%=member_truename%>">
            <div class="account_box_list">
                昵称
                <div class="account_box_list_name">
                    <span><%=member_truename%></span>
                    <img class="qll_arow" src="../../images/qll_arow.png" alt="">
                </div>
            </div>
        </a>
    </div>
    <div class="account_box">
        <a href="member_name.html?edit_name=member_real_name&edit_value=<%=member_real_name%>">
            <div class="account_box_list">
                姓名
                <div class="account_box_list_name">
                    <span><%=member_real_name%></span>
                    <img class="qll_arow" src="../../images/qll_arow.png" alt="">
                </div>
            </div>
        </a>
    </div>
    <div class="account_box account_box_sex">
        <div class="choose_sex_btn">
            <div class="account_box_list">
                性别
                <div class="account_box_list_sex">
                    <span><%=member_sex%></span>
                    <img class="qll_arow" src="../../images/qll_arow.png" alt="">
                </div>
            </div>
        </div>
        <div class="choose_sex">

        </div>
        <div class="choose_sex_wrap">
            <div class="choose_sex_content">
                <div class="sex_men sex_btn">
                    <span>男</span>
                    <img class="choose_before" src="../../images/qll_choose_sex_1.png" alt="">
                    <img class="choose_after" src="../../images/qll_choose_sex_2.png" alt="">
                </div>
                <div class="sex_women sex_btn">
                    <span>女</span>
                    <img class="choose_before" src="../../images/qll_choose_sex_1.png" alt="">
                    <img class="choose_after" src="../../images/qll_choose_sex_2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="account_box">
        <a href="member_name.html?edit_name=member_using_mobile&edit_value=<%=member_using_mobile%>">
            <div class="account_box_list">
                手机号
                <div class="account_box_list_name">
                    <span><%=member_using_mobile%></span>
                    <img class="qll_arow" src="../../images/qll_arow.png" alt="">
                </div>
            </div>
        </a>
    </div>
    <div class="account_box">
        <a href="member_brief_introduction.html?edit_name=member_profile&edit_value=<%=member_profile%>">
            <div class="account_box_list">
                简介
                <img class="qll_arow" src="../../images/qll_arow.png" alt="">
            </div>
        </a>
    </div>
    <div class="account_box account_box_adress">
        <a href="address_list.html">
            <div class="account_box_list">
                收货地址
                <img class="qll_arow" src="../../images/qll_arow.png" alt="">
            </div>
        </a>
    </div>
</script>
<!--<div class="account-box" style="background:none;margin:0;padding-bottom:0;border:none"><a id="logoutbtn" href="javascript:void(0);" class="button">退出当前帐号</a></div>-->
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/tmpl/member_account.js"></script> 
<!--<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>-->
<script type="text/javascript" src="../../js/template.js"></script>
<script>
    hide_header = true;
</script>
</body>
</html>