<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title class="title"></title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body style="background: #fafaf7">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <h1 class="title"></h1>
</header>
<div id="accountBoxHtml"></div>
<script type="text/html" id="accountBox">
    <div class="member_name_content">
        <textarea class="member_name edit_value" style="overflow: auto;" name="<%=edit_name%>" cols="30" rows="1" maxlength="30" placeholder=""><%=edit_value%></textarea>
        <img style="top: 30%;" src="../../images/qll_delete.png" alt="">
    </div>
    <div class="member_name_num">
        30个字
    </div>
    <div class="member_name_preservation">
        保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存
    </div>
</script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>

<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_center.js"></script>
</body>
</html>