<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>保证金</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
</head>
<body class="gray" style="padding:0 0 6rem">
<!--<div class="pub_header">-->
<!--<a class="icon" href="member_margin.html"><img src="../../images/top-left.png" width="20" height="20" alt=""></a>-->
<!--<h1 class="title">保证金收益</h1>-->
<!--</div>-->

<div id="member_margin_info"></div>

<script type="text/html" id="member_margin_info_con">
  <div class="member_margin_info_top">
    <a href="../auction/auction_detail.html?auction_id=<%=auction_id%>" class="member_margin_info_work">
      <h2 class="work_info">拍品名称<span class="work_name"><%=auction_name%></span>
      </h2>
      <i class="iconfont icon-danjiantou"></i>
    </a>
    <!--<div class="time_line_con active">-->
    <div class="time_line_con <%=dis_commis_state == 1 ?'active':''%>">
      <!--<div class="time_line_box two_step">-->
      <div class="time_line_box one_step">
        <div class="time_line">
          <ul>
            <li>
              <a href="#" class="order_item">
                <span class="text">起息日</span>
                <span class="date"><%=bond_start_data%></span>
              </a>
            </li>
            <li>
              <a href="#" class="order_item">
                <span class="text">保证金天数</span>
                <span class="date"><%=pay_date_number%>天</span>
              </a>
            </li>
            <li>
              <a href="#" class="order_item">
                <span class="text">到期日</span>
                <span class="date"><%=bond_end_data%></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="member_margin_info_con">
    <!--0未结算 1 结算-->
    <div class="member_margin_info_con_left member_margin_info_con_pan  <%=dis_commis_state == 0 ?'active':''%>">
      <div class="default">
        <span class="price"><%=redemption_amount%><b>元</b></span>
        <span class="text">赎回金额</span>
      </div>
      <div class="dongjie">
        <div class="img">
          <img src="../../images/lm/icon/jine_icon.png" alt="">
        </div>
        <span class="text">本金锁定中</span>
      </div>
    </div>
    <div class="member_margin_info_con_center member_margin_info_con_pan">
      <img src="../../images/lm/icon/arrow_icon.png" alt="">
    </div>
    <div class="member_margin_info_con_right member_margin_info_con_pan">
      <div class="img">
        <img src="../../images/lm/icon/amount_icon.png" alt="">
      </div>
      <span class="text">账户余额</span>
    </div>
  </div>

  <div class="member_margin_info_list">
    <ul>
      <li>
        <div class="left">收益利息 <span>收益率 年化<%=auction_bond_rate%></span></div>
        <%if(dis_commis_state == 0){%>
        <div class="right">- - - -</div>
        <%}else{%>
        <div class="right">¥ <%=commission_amount%></div>
        <%}%>
      </li>
      <li>
        <div class="left">赎回时间</div>
        <%if(dis_commis_state == 0){%>
        <div class="right">- - - -</div>
        <%}else{%>
        <div class="right"><%=auction_end_time%></div>
        <%}%>
      </li>
      <li>
        <div class="left">支付金额</div>
        <div class="right">¥ <%=goods_pay_amount%></div>
      </li>
      <li>
        <div class="left">付款方式</div>
        <div class="right"><%=payment_name%></div>
      </li>
    </ul>
  </div>

  <div class="member_margin_info_orderList">
    <ul>
      <li>
        <div class="left">订单编号：<%=order_sn%></div>
        <div class="right"><%=add_time%></div>
      </li>

    </ul>
  </div>
</script>


<div class="member_margin_info_orderFooter">
  <a href="tel:400-135-2688" class="tel">客服：400-135-2688</a>
</div>


<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_margin_info.js"></script>
</body>
</html>