<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>我的合伙人</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
</head>
<body style="padding: 0 0 56px;">
<div id="member_partner"></div>

<script type="text/html" id="member_partner_con">
<div class="member_pather_top">
  <div class="member_pather_top_panpel">
    <a href="get_commission.html" class="member_pather_top_con">
      <span class="title">
      <i class="iconfont icon-jianglijin"></i>
      奖励金（元）
    </span>
      <span class="text"><%=amount%></span>
    </a>
  </div>
  <a href="member_partner_list.html" class="member_pather_top_panpel">
    <div class="member_pather_top_con">
      <span class="title">
      <i class="iconfont icon-hehuoren"></i>
      合伙人（人）
    </span>
      <span class="text"><%=partner_count%></span>
    </div>
  </a>
  <div class="member_pather_top_panpel">
    <div class="member_pather_top_con">
      <span class="title">
      <i class="iconfont icon-xiaoshoue"></i>
      销售额（元）
    </span>
      <span class="text"><%=goods_amount%></span>
    </div>
  </div>
</div>
<!--<div class="member_pather_top_more">-->
  <!--<i class="iconfont icon-gantan"></i>-->
  <!--<span class="text">点击可查看详情</span>-->
<!--</div>-->

<div class="member_pather_data">
  <div class="left">
    <h3 class="title">奖励金</h3>
    <ul class="member_pather_data_left">
      <%var k = 0;%>
      <%for(var i in commission_list){var item = commission_list[i];%>
      <li>
        <span class="name"><i class="icon" style="background:<%=echarts_color[k]%>"></i><%=item.type_name%></span>
        <span class="value"><%=item.amount||'0'%></span>
      </li>
      <%k++%>
      <%}%>
    </ul>
  </div>
  <div id="main" class="right" style="width: 12rem;height:12rem;position: relative;float: right"></div>
</div>
</script>
<a href="partner_special.html" class="member_pather_href">
  <div class="left">
    <i class="iconfont icon-tequan"></i>
    <span class="text">合伙人的特权</span>
  </div>
  <i class="iconfont icon-danjiantou right"></i>
</a>

<a href="member_qrcode.html" class="member_pather_invitation">
  <i class="iconfont icon-jiarutuandui"></i>
  <span class="text">邀请更多好友</span>
</a>


<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<!--<script src="https://cdn.bootcss.com/echarts/3.7.2/echarts-en.js"></script>-->
<script src="../../js/echarts.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_partner.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>