<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>合伙人详情</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <!--可调用原有商城Wap样式-->
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css">
    <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body>
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20"/></a>
    <h1 class="title"></h1>
</header>
<div class="member_partner_info">
    <div id="partnerInfoHtml"></div>

</div>
<script type="text/html" id="partnerInfo">
    <div class="member_partner_top" data-memberId="<%=partner_info.member_id;%>">
        <div class="member_partner_avatar">
            <div class="partner_avatar">
                <img class="partner_avatar_img" src="<%=partner_info.member_avatar%>" alt="">
                <img class="partner_level" src="<%=partner_info.member_type%>" alt="">
            </div>
            <div class="member_partner_name">
                <span><%=partner_info.member_name%></span>
                <%if(partner_info.comment!='' && partner_info.comment!=null){%>
                <i><img src="../../images/qll/member_partner_remarks_2.png" alt=""><%=partner_info.comment%></i>
                <%}%>
            </div>
        </div>
        <a href="set_remarks.html?member_id=<%=partner_info.member_id%>" class="member_partner_remarks">
            <img src="../../images/qll/member_partner_remarks_1.png" alt="">
            添加备注
        </a>
    </div>
    <div class="member_partner_bottom">
        <div class="member_partner_tel">
            <i>ID:<%=partner_info.member_id%></i>
            <i><%=partner_info.member_mobile%></i>
        </div>
        <div class="member_partner_avatar">
            <div class="member_partner_name">
                <i>由TA邀请：<%=partner_info.top_member_name%></i>
                <i><%=partner_info.add_time%></i>
            </div>
            <div class="partner_avatar">
                <img class="partner_avatar_img" src="<%=partner_info.top_member_avatar%>" alt="">
                <img class="partner_level" src="<%=partner_info.top_member_type_logo%>" alt="">
            </div>
        </div>
    </div>
    <div class="bonus_info">
        <ul class="bonus_info_con">
            <li class="member_bonus active">
                <h3>奖励金</h3>
                <span id="bonusCount">¥ <%=commission_sum||'0.00'%></span>
            </li>
            <%if(partner_info.top==1){%>
            <li class="member_partner member_bonus"><h3>合伙人</h3><span id="partnerSum"><%=partner_count||0%></span></li>
            <%}%>
        </ul>
        <ul class="bonus_info_detail" id="bonusInfoHtml">

        </ul>
        <ul class="partner_info_detail" id="bonusInfoDetailHtml">

        </ul>
    </div>
</script>

<script type="text/html" id="bonusInfo">
    <%if(list.length>0){%>
    <%for(var i=0 ;i< list.length ;i++){%>
    <li>
        <h3 class="bonus_order">
            <span>
            <%if(list[i].order_sn){%>
                订单编号：<%=list[i].order_sn%>
            <%}%>
            </span>
            <span><%=list[i].lg_add_time_text%></span></h3>
        <h3 class="bonus_adv">
            <span><img src="../../images/qll/partner_adv.png" alt=""><%=list[i].commission_type_name%></span>
            <span>+<%=list[i].commission_amount%></span>
        </h3>
    </li>
    <%}%>
    <%}%>
</script>
<script type="text/html" id="bonusInfoDetail">
    <%for(var i in member_list){%>
    <li>
        <a href="?member_id=<%=i%>">
            <h3>
            <span>
                <i class="partner_avatar">
                    <img src="<%=member_list[i].member_avatar%>" alt="">
                    <img class="partner_level" src="<%=member_list[i].member_type_img%>" alt="">
                </i>
                    <%=member_list[i].member_name%>
            </span>
                <span><%=member_list[i].member_time%></span>
            </h3>
        </a>
    </li>
    <%}%>
</script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_partner_level.js"></script>
</body>
</html>
