<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>合伙人</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">

</head>
<body style="padding: 0 0 56px;">
<div class="member_ortner_list_children">

</div>

<script type="text/html" id="member_ortner_list_children_con">
  <%if(member_list&&count){%>
  <div class="member_partner_list_panpel">
    <ul class="list">
      <%for(var item in member_list) { var list = member_list[item];%>
      <li data-id="<%=list.member_id%>">
        <a href="member_partner_level.html?member_id=<%=list.member_id%>">
          <div class="left">
            <div class="img">
              <img src="<%=list.member_avatar%>" alt="">
              <i class="icon"><img src="<%=list.member_type_img%>" ></i>
            </div>
            <div class="text">
              <h4 class="name"><%=list.member_name||'未命名'%></h4>
              <%if(list.comment!='' && list.comment!=null){%>
              <span class="level">
                <img style="vertical-align: middle;width: 20px;" src="../../images/qll/member_partner_remarks_2.png" alt="">
                <%=list.comment%></span>
              <%}%>
            </div>
          </div>
          <span class="date"><%=list.member_time%></span>
        </a>
      </li>
      <%}%>
    </ul>
  </div>
  <%}else{%>
  <div class="content_null">
    没有内容哦～
  </div>
  <%}%>
</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_partner_list_children.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
</body>
</html>