<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>银行卡</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../../css/sm.min.css">
    <link rel="stylesheet" href="../../css/sm-extend.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="no-footer">
<header class="bar bar-nav">
    <a class="icon fl" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
    <h1 class="title">银行卡</h1>
</header>
<div class="bank-card" id="member_bankcard_html"></div>
<div class="bank-card"><a class="add_bank_card" href="member_card_add_step1.html"><img src="../../images/bank-check-add3.png" alt=""/></a></div>
<script type="text/html" id="member_bankcard">
    <ul id="card_list">
        <% if(data.length > 0){ %>
        <% for(var i=0;i< data.length;i++){ %>
            <li bankcard_id="<%=data[i].bankcard_id%>" class="del delete-card">
                <a href="javascript:void(0)" >
                    <div id="<%=data[i].bank_card_name%>" class="bank-card-bg">
                        <div class="bank-card-name">
                            <div class="bank-card-icon fl"><span class="all-block"></span></div>
                            <div class="fl">
                                <h1><%=data[i].bank_name%></h1>
                                <h2><%=data[i].card_type%></h2>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <i class="all-block"><%=data[i].bank_card_show%></i>
                        <div class="bank-card-icon-bg fr"></div>
                        <div class="clear"></div>
                    </div>
                </a>
            </li>
        <% }%>
        <% if (hasmore) {%>
        <li class="loading"><div class="spinner"><i></i></div>银行卡数据读取中...</li>
        <% } %>
        <% } %>
    </ul>
</script>
<footer id="footer"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/tmpl/member_card.js"></script>
<script>
    hide_header = true;
</script>
</body>
</html>