<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>消息详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_chat.css">
    <style>
        .qll_header{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding: 15px 20px;
            border-bottom: #f0f0f0 1px solid;
            margin-top: 49px;
        }
        .qll_notice_list dl{
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
        }
        .qll_notice_list dl dd{
            flex: 1;
            font-size: 14px;
            padding: 5px 10px;
            color: #606060;
            word-break: break-all;
            line-height: 1.3;
        }
        .qll_notice_list dl dt{
            display: inline-block;
            border-radius: 5px;
        }
        .qll_notice_list dl dt img{
            border-radius: 5px;
            width: 50px;
        }
        .qll_notice_list time{
            text-align: right;
            display: block;
            padding: 0 20px 15px 20px;
            font-size: 12px;
            color: #b2b2b2;
        }
        .qll_notice_list{
            border-bottom: #ebebeb 1px solid;
        }
        .qll_footer{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #faf9f7;
            padding: 15px;
        }
        .qll_footer p{
            text-align: center;
            color: #cececd;
            font-size: 14px;
        }
    </style>
</head>
<body style="background: #fff">
<header id="header">
    <div class="header-wrap">
        <div class="header-l"><a href="javascript:" onclick="location.replace(document.referrer);"><img src="../../images/top-left.png" width="24" height="24" alt=""/></a></div>
        <div class="header-title">
            <h1>详情</h1>
        </div>
    </div>
</header>

    <div class="qll_notice_list">
        <div id="noticeDetial">

        </div>
    </div>
    <div class="qll_footer" id="qllKefu">

    </div>
    <script type="text/html" id="noticeDetialScript">
        <div class="qll_header">
            <div class="qll_notice">新消息</div>

            <div class="qll_del">删除</div>
        </div>
            <dl>
                <dt><% if (datas.mmt_message_logo) { %>
                    <img src="<%=datas.mmt_message_logo%>" alt="">
                    <% } else { %>
                    <img src="../../images/qll_logo.png" alt="">
                    <% } %>
                </dt>
                <dd class="message_body"></dd>
            </dl>
            <time><%=datas.message_time%></time>
    </script>
    <script type="text/html" id="qllKefuScript">
        <p>客服：<%=datas.site_phone%></p>
    </script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/tmpl/notice_info.js"></script>
</body>
</html>