<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>我的升级</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/qll/partner_special.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_xtij5i4lb41b57b9.css">
</head>
<body>
<div class="partner_special_bg">
    <div id="partner_special_html">
    </div>
    <script type="text/html" id="partner_special">
    <div class="partner_special_detial">
        <span class="qll_spend">合伙人升级消费</span>
        <span class="qll_count"> ￥<%=td_amount%></span>
        <span class="qll_member">当前等级：<%=member_type_name%></span>
        <span class="qll_rebate">累计返佣：<%=available_commis%>元<%</span>
    </div>
    <% if (member_type ) {%>
    <div class="partner_special_upgrade">
        <div class="upgrade_top">
            <div class="upgrade_agent">
                <% if (member_type == 0) {%>
                <div class="upgrade_content2">
                    <span class="partner_upgrade">童生</span>
                    <span class="partner_upgrade_rebate">您已超越，可以飘过<i class="iconfont icon-wangyiyun"></i></span>
                </div>
                <% } %>
                <% if (member_type == 5) {%>
                <div class="upgrade_content2">
                    <span class="partner_upgrade">秀才</span>
                    <span class="partner_upgrade_rebate">您已超越，可以飘过<i class="iconfont icon-wangyiyun"></i></span>
                </div>
                <% } %>
                <% if (member_type == 1) {%>
                <div class="upgrade_content2">
                    <span class="partner_upgrade">举人</span>
                    <span class="partner_upgrade_rebate">您已超越，可以飘过<i class="iconfont icon-wangyiyun"></i></span>
                </div>
                <% } %>
                <% if (member_type == 2) {%>
                <div class="upgrade_content2">
                    <span class="partner_upgrade">贡士</span>
                    <span class="partner_upgrade_rebate">您已超越，可以飘过<i class="iconfont icon-wangyiyun"></i></span>
                </div>
                <% } %>
                <% if (member_type == 3) {%>
                <div class="upgrade_content2">
                    <span class="partner_upgrade">进士</span>
                    <span class="partner_upgrade_rebate">您已超越，可以飘过<i class="iconfont icon-wangyiyun"></i></span>
                </div>
                <% } %>
            </div>
            <div class="upgrade_strategy">
                <% if (member_type == 0 ) {%>
                <div class="upgrade_content">
                    <span class="partner_upgrade"><i class="iconfont icon-xing2"></i><i class="iconfont icon-xing2"></i>升级秀才</span>
                    <span class="partner_upgrade_count">需消费<b>￥<%=dis_list4.price%></b></span>
                    <!--<span class="partner_upgrade_rebate">交易返佣<%=dis_list2.goods_num%>%</span>-->
                </div>
                <% } %>
                <% if (member_type == 5 ) {%>
                <div class="upgrade_content">
                    <span class="partner_upgrade"><i class="iconfont icon-xing2"></i><i class="iconfont icon-xing2"></i>升级举人</span>
                    <span class="partner_upgrade_count">需消费<b>￥<%=dis_list1.price%></b></span>
                    <!--<span class="partner_upgrade_rebate">交易返佣<%=dis_list2.goods_num%>%</span>-->
                </div>
                <% } %>
                <% if (member_type == 1) {%>
                <div class="upgrade_content">
                    <span class="partner_upgrade"><i class="iconfont icon-xing2"></i><i class="iconfont icon-xing2"></i>升级贡士</span>
                    <span class="partner_upgrade_count">需消费<b>￥<%=dis_list2.price%></b></span>
                    <!--<span class="partner_upgrade_rebate">交易返佣<%=dis_list2.goods_num%>%</span>-->
                </div>
                <% } %>
                <% if (member_type == 2) {%>
                <div class="upgrade_content">
                    <span class="partner_upgrade"><i class="iconfont icon-xing2"></i><i class="iconfont icon-xing2"></i>升级进士</span>
                    <span class="partner_upgrade_count">需消费<b>￥<%=dis_list3.price%></b></span>
                    <!--<span class="partner_upgrade_rebate">交易返佣<%=dis_list2.goods_num%>%</span>-->
                </div>
                <% } %>
                <% if (member_type == 3) {%>
                <div class="upgrade_content1">
                    <span class="partner_upgrade">您已是进士</span>
                    <!--<span class="partner_upgrade_rebate">交易返佣<%=dis_list2.goods_num%>%</span>-->
                </div>
                <% } %>
            </div>
        </div>
        <div class="upgrade_bottom">
            <% if (member_type == 5 || member_type == 1 || member_type == 0) {%>
            <div class="upgrad_Cause">
                <div class="upgrade_content">
                    <span class="partner_upgrade"><i class="iconfont icon-xing2"></i><i class="iconfont icon-xing2"></i><i class="iconfont icon-xing2"></i>升级进士</span>
                    <span class="partner_upgrade_count">需消费<b>￥<%=dis_list3.price%></b></span>
                    <!--<span class="partner_upgrade_rebate">交易返佣<%=dis_list3.goods_num%>%</span>-->
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
    <% if (member_type == 3){%>
    <div class="partner_special_queen">
        <img src="../../images/lm/qll_partner_special_queen_1.png" alt="">
    </div>
    <% } %>
    <!--<% if (member_type < 5) {%>-->
    <!---->
    <!--<% } %>-->
    <div class="upgrade_button">
        <a href="/wap/tmpl/store.html?store_id=<%=store_id%>">消费升级</a>
    </div>
    <div class="upgrade_rules">
        <!--<h3 class="upgrade_rules_title">合伙人升级规则</h3>-->
        <img src="../../images/lm/partner_special_gz.jpg" alt="">
        <ul class="upgrade_rules_content">
            <li>1、在尊享专区按照作品实际售价购买作品累计达到198元，可成为秀才。</li>
            <li>2、在尊享专区按照作品实际售价购买作品累计达到5000元，可成为举人。</li>
            <li>3、在尊享专区按照作品实际售价购买作品累计达到10万元且有展览场地，可成为贡士。</li>
            <li>4、在尊享专区按照作品实际售价购买作品累计达到100万元且有运营团队和展览场地，可成为进士。</li>
            <li>5、合伙人升级等级时相应等级的消费金额自动清空，不予累计，超出部分继续累计。</li>

            <!--1、在尊享专区按照作品实际售价购买作品累计达到198元，可成为秀才。
                2、在尊享专区按照作品实际售价购买作品累计达到5000元，可成为举人。
                3、在尊享专区按照作品实际售价购买作品累计达到10万元且有展览场地，可成为贡士。
                4、在尊享专区按照作品实际售价购买作品累计达到100万元且有运营团队和展览场地，可成为进士。
                5、合伙人升级等级时相应等级的消费金额自动清空，不予累计，超出部分继续累计。-->
        </ul>
    </div>

    </script>
</div>
<div class="lm_tq">
    <!--<img src="../../images/lm/partner_special_001.jpg" alt="">-->
    <!--<img src="../../images/lm/partner_special_002.jpg" alt="">-->
    <!--<img src="../../images/lm/partner_special_003.jpg" alt="">-->
</div>
<script type="text/javascript" src="../../js/zepto.min2.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script>
$(function() {
    var key = getCookie('key');
    if (!key) {
        window.location.href = WapSiteUrl+'/tmpl/member/login.html';
        return;
    }
    //渲染数据
    var load_class = new ncScrollLoad();
    load_class.loadInit({'url':ApiUrl + '/index.php?act=member_partner&op=partner_count','getparam':{'key':key},'tmplid':'partner_special','containerobj':$("#partner_special_html"),'iIntervalId':true});
});
</script>
</body>
</html>