<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>账户余额</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">

  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">

  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
  <link rel="stylesheet" href="../../css/agreement.css">
</head>
<body style="width: 100%">
<!--<div class="pub_header">-->
<!--<a class="icon" href="javascript:history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""></a>-->
<!--<h1 class="title">登录页面</h1>-->
<!--</div>-->
<div class="member_margin_top">
  <div class="member_margin_price lf">
    <span class="text">余额</span>
    <span class="price" id="available_predeposit">0<b>元</b></span>
  </div>
  <div class="member_margin_price rg">
    <span class="text">冻结中</span>
    <span class="price" id="freeze_predeposit">0.00<b>元</b></span>
  </div>
  <i class="iconfont icon-tanhao3 get_agreement_btn" g_type="predeposit_explanation" style="color: #f5f5f5;margin-bottom: -4px"></i>
</div>
<ul class="predepositlog_list">
  <li>
    <a href="withdrawals.html">
      <div class="left">
        <i class="iconfont icon-tixian"></i>
        <span class="text">提现</span>
      </div>
      <i class="iconfont icon-danjiantou-copy right"></i>
    </a>
  </li>
  <li>
    <a href="recharge.html">
      <div class="left">
        <i class="iconfont icon-chongzhi"></i>
        <span class="text">充值</span>
      </div>
      <i class="iconfont icon-danjiantou-copy right"></i>
    </a>
  </li>
</ul>
<div class="agreement_bottom"></div>
<div class="agreement_content" id="withdrawalsAagreementHtml"></div>
<script type="text/html" id="withdrawalsAagreement">
  <h1>
    <%=title%>
    <div class="qll_close">
      <img src="../../images/qll_close.png" alt="">
    </div>
  </h1>
  <div class="agreement_detail">
  </div>
</script>
<a href="predepositlog_list.html" class="predepositlog_more">查看明细 <i class="iconfont icon-chakan1"></i></a>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/agreement.js"></script>
<script type="text/javascript">
    (function () {
        var key = getCookie('key');
        if (!key) {
            window.location.href = WapSiteUrl + '/tmpl/member/login.html';
            return;
        }
        //获取佣金金额
        $.getJSON(ApiUrl + '/index.php?act=member_index&op=member_info', {'key': key}, function (result) {
            var data = result.datas;
            var available_predeposit = data.available_predeposit,
                freeze_predeposit = data.freeze_predeposit + '';

            $('#available_predeposit').html(changeSplit(available_predeposit) + '<b>元</b>');
            $('#freeze_predeposit').html(changeSplit(freeze_predeposit) + '<b>元</b>');
        });
    })();
</script>
</body>
</html>