<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>充值卡余额</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"><a href="member.html"><img src="../../images/top-left.png" width="24" height="24" alt=""/></a></div>
    <div class="header-tab"><a href="javascript:void(0);" class="cur">充值卡余额</a> <a href="rechargecard_add.html">充值卡充值</a></div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../app_index.html"><i class="home"></i>首页</a></li>
        <!--<li><a href="../search.html"><i class="search"></i>搜索</a></li>-->
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="member.html"><i class="member"></i>个人中心</a><sup></sup></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <div id="rcb_count" class="nctouch-asset-info"></div>
  <ul id="rcbloglist" class="nctouch-log-list">
  </ul>
</div>
<div class="fix-block-r">
    <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="rcb_count_model">
	<div class="container rcard">
			<i class="icon"></i>
		    <dl>
				<dt>充值卡余额</dt>
				<dd>￥<em><%=available_rc_balance;%></em></dd>
			</dl>
		</div>
</script> 
<script type="text/html" id="list_model">
        <% if(log_list.length >0){%>
        <% for (var k in log_list) { var v = log_list[k]; %>
            <li><div class="detail"><%=v.description;%></div>
                <time class="date"><%=v.add_time_text;%></time>
                <% if(v.available_amount >0){%>
                <div class="money add">+<%=v.available_amount;%></div>
                <%}else{%>
                <div class="money reduce"><%=v.available_amount;%></div>
                <%}%>
            </li>
        <%}%>
        <li class="loading"><div class="spinner"><i></i></div>数据读取中</li>
        <%}else {%>
        <div class="nctouch-norecord recharge">
            <div class="norecord-ico"><i></i></div>
            <dl>
                <dt>您尚无充值卡使用信息</dt>
				<dd>使用充值卡充值余额结算更方便</dd>
            </dl>
        </div>
        <%}%>
    </script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/ncscroll-load.js"></script> 
<script>
    $(function(){
        var key = getCookie('key');
        if (!key) {
            window.location.href = WapSiteUrl+'/tmpl/member/login.html';
            return;
        }

        //渲染list
        var load_class = new ncScrollLoad();
        load_class.loadInit({'url':ApiUrl + '/index.php?act=member_fund&op=rcblog','getparam':{'key':key},'tmplid':'list_model','containerobj':$("#rcbloglist"),'iIntervalId':true});

        //获取预存款余额
        $.getJSON(ApiUrl + '/index.php?act=member_index&op=my_asset', {'key':key,'fields':'available_rc_balance'}, function(result){
            var html = template.render('rcb_count_model', result.datas);
            $("#rcb_count").html(html);
        });
    });
</script>
</body>
</html>