<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <title>账户余额</title>
  <!--新增样式-->
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_310664_le3a8ggic35o2yb9.css">
  <link rel="stylesheet" href="../../css/agreement.css">

  <style>
    .lm_pay_recharge {
      border-top: #d1c0a5 solid 1px;
      margin-top: 2px;
      background: #f5f5f5;
      display: flex;
      padding: 10px 20px 10px 0;
    }

    .lm_pay_recharge label {
      width: 30px;
      text-align: right;
      color: #808080;
      font-size: 18px;
      margin-right: 10px;
    }

    .lm_pay_recharge input {
      background: #f5f5f5;
      border: none;
      color: #333;
      font-size: 14px;
      flex: 1;
    }

    input::-webkit-input-placeholder {
      color: #dadada;
    }

    .lm_recharge_btn {
      background: #fabf13;
      color:#000000;
      font-size: 18px;
      width:100%;
      height:50px;
      border:none;
      position: fixed;
      bottom: 0;
      left: 0;
    }
    .nctouch-pay label span.lklpay { background-image: url(../../images/lklpay.png);}
  </style>
</head>
<body style="padding: 44px 0 0 0;position: fixed;width: 100%;height: 100%">
<div class="pub_header">
  <a class="icon" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20" alt=""></a>
  <h1 class="title">充值</h1>
</div>
<div class="drawals_price">
  <i class="icon">¥</i>
  <input type="tel" class="drawals_price_val" id="amount" placeholder="请输入充值金额" value="">
</div>
<div class="drawals_price_info">
  <span class="text">限额说明</span>
  <i class="iconfont icon-gantan get_agreement_btn" g_type="limit_rule_explanation"></i>
</div>
<button class="withdrawals_btn" id="add_recharge">充值</button>
<div class="agreement_bottom">
</div>
<div class="agreement_content" id="withdrawalsAagreementHtml">

</div>
<script type="text/html" id="withdrawalsAagreement">
  <h1>
    <%=title%>
    <div class="qll_close">
      <img src="../../images/qll_close.png" alt="">
    </div>
  </h1>
  <div class="agreement_detail">
  </div>
</script>

<!--底部总金额固定层End-->

  <div class="nctouch-bottom-mask">
    <div class="nctouch-bottom-mask-bg"></div>
    <div class="nctouch-bottom-mask-block">
      <div class="nctouch-bottom-mask-tip"><i></i>点击此处返回</div>
      <div class="nctouch-bottom-mask-top">
        <p class="nctouch-cart-num">本次交易需在线支付<em id="onlineTotal">0.00</em>元</p>
        <p style="display:none" id="isPayed"></p>
        <a href="javascript:void(0);" class="nctouch-bottom-mask-close"><i></i></a> </div>
      <div class="nctouch-inp-con nctouch-inp-cart">
        <ul class="form-box" id="internalPay">
          <p class="rpt_error_tip" style="display:none;color:red;"></p>
			<!--<li class="form-item" id="wrapperPoints">-->
				<!--<div class="input-box pl5" style="margin: 0">-->
					<!--<label style="font-size: 14px !important;">-->
						<!--<input type="checkbox" class="checkbox" id="usePoints" autocomplete="off" />-->
						<!--使用诺币支付 <span class="power"><i></i></span> </label>-->
					<!--<p>可用诺币 <em id="availablePoints"></em> 个，可抵￥<em id="availablePmoney"></em></p>-->
				<!--</div>-->
			<!--</li>-->
          <li class="form-item" id="wrapperUseRCBpay">
            <div class="input-box pl5">
              <label>
                <input type="checkbox" class="checkbox" id="useRCBpay" autocomplete="off" />
                使用充值卡支付 <span class="power"><i></i></span> </label>
              <p>可用充值卡余额 ￥<em id="availableRcBalance"></em></p>
            </div>
          </li>
          <li class="form-item" id="wrapperUsePDpy">
            <div class="input-box pl5">
              <label>
                <input type="checkbox" class="checkbox" id="usePDpy" autocomplete="off" />
                使用预存款支付 <span class="power"><i></i></span> </label>
              <p>可用预存款余额 ￥<em id="availablePredeposit"></em></p>
            </div>
          </li>

          <li class="form-item" id="wrapperPaymentPassword" style="display:none">
            <div class="input-box"> <span class="txt">输入支付密码</span>
              <input type="password" class="inp" id="paymentPassword" autocomplete="off" />
              <span class="input-del"></span></div>
            <a href="../member/member_paypwd_step1.html" class="input-box-help" style="display:none"><i>i</i>尚未设置</a> </li>
        </ul>
        <div class="nctouch-pay">
          <div class="spacing-div"><span>在线支付方式</span></div>
          <div class="pay-sel">
            <label style="display:none">
              <input type="radio" name="payment_code" class="checkbox" id="alipay" autocomplete="off" />
              <span class="alipay">支付宝</span></label>
            <label style="display:none">
              <input type="radio" name="payment_code" class="checkbox" id="lklpay" autocomplete="off" />
              <span class="lklpay">拉卡拉快捷支付</span></label>
            <label style="display:none">
              <input type="radio" name="payment_code" class="checkbox" id="wxpay_jsapi" autocomplete="off" />
              <span class="wxpay">微信</span></label>
            <label style="display:none">
              <input type="radio" name="payment_code" class="checkbox" id="wxpay" autocomplete="off" />
              <span class="wxpay">微信</span></label>
          </div>
        </div>
        <div class="pay-btn"> <a href="javascript:void(0);" id="toPay" class="btn-l">确认支付</a> </div>
      </div>
    </div>
  </div>
<!--<button class="lm_recharge_btn" id="add_recharge">充值</button>-->
<script type="text/javascript" src="../../js/config.js"></script>
<script src="../../dist/script/main.js"></script>
<!--<script type="text/javascript" src="../../js/zepto.min.js"></script>-->
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
<script type="text/javascript" src="../../js/ncscroll-load.js"></script>
<script type="text/javascript" src="../../js/tmpl/pd_payment_common.js"></script>
<script type="text/javascript" src="../../js/tmpl/agreement.js"></script>
<script>
    $(function () {
        var key = getCookie('key');
        $('#add_recharge').click(function(){
            console.log(parseFloat($('#amount').val()));
            if(!parseFloat($('#amount').val())||parseFloat($('#amount').val())<=0){
                $(document).tipModal({
                    html: '请输入正确的充值金额',
                });
                return false;
            }
            if(parseFloat($('#amount').val())<10){
                $(document).tipModal({
                    html: '最低充值金额≥10元',
                });
                return false;
            }
            add_recharge(key);
        });
        $('#wechat').click(function(){
            choose_wechat();
        });
        var key = getCookie('key');
        if (!key) {
            window.location.href = WapSiteUrl + '/tmpl/member/login.html';
            return;
        }
    });

    function add_recharge(key){
      var amount = $('#amount').val();
      $.post(ApiUrl + '/index.php?act=recharge&op=add_recharge',{'amount':amount,'key':key},function(data){
          toPay(data.datas.pdr_sn,'recharge','choose_channel')
      },'json');
    }
</script>
<script type="text/javascript">
  apiready = function() {
    isapp = 1;
    checkWxHandler();
  }
</script>
</body>
</html>