<!doctype html>
<html style="height:100%;">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>提现</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <!--<link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">-->
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_310664_j8oiup8wgyuba9k9.css">
  <link rel="stylesheet" href="../../css/agreement.css">
</head>
<body style="padding: 44px 0 60px;position: fixed;width: 100%;height: 100%">
<div class="pub_header">
  <a class="icon" href="javascript:void(0);" onclick="history.back();"><img src="../../images/top-left.png" width="20" height="20" alt=""></a>
  <h1 class="title">银行卡</h1>
</div>
<div id="withdrawals"></div>
<script type="text/html" id="withdrawals_con">
  <div class="bank_list bank_select_list">
    <ul class="card_list">
      <%if(bankcard_list&&bankcard_list.length){%>
      <%for(var i =0;i< 1;i++){var item = bankcard_list[i];%>
      <li class="bank_item" bankcard_id="<%=item.bankcard_id%>">
        <div class="bank_info">
          <div class="bank_img">
            <img src="<%=item.bank_image%>" alt="">
          </div>
          <span class="bank_card"><%=item.bank_card_show%></span>
        </div>
        <i class="iconfont icon-danjiantou"></i>
      </li>
      <%}}%>
      <li class="new_bank">
        <a href="./member_card_add_step1.html?withdrawals=1&pd=14834.61">
          <div class="bank_info">
            <i class="iconfont icon-icon2"></i>
            <span class="bank_name">添加银行卡</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="drawals_price">
    <i class="icon">¥</i>
    <input type="number" class="drawals_price_val" placeholder="请输入提现金额" value="">
  </div>
  <div class="drawals_price_info">
    <span class="text">可提现金额：<%=pd%></span>
    <i class="iconfont icon-gantan get_agreement_btn" g_type="withdrawals_explanation"></i>
  </div>
  <button class="withdrawals_btn">确认提现</button>

  <!--遮罩层-->
  <div class="bank_mask select_bank_add">
    <div class="pub_header">
      <a class="icon close" href="javascript:void(0);">
        <img src="../../images/top-left.png" width="20" height="20"  alt="">
      </a>
      <h1 class="title">选择银行卡</h1>
    </div>
    <div class="bank_list">
      <ul class="card_list">
        <%if(bankcard_list&&bankcard_list.length){%>
        <%for(var i =0;i< bankcard_list.length;i++){var item = bankcard_list[i];%>
        <li class="bank_item" bankcard_id="<%=item.bankcard_id%>">
          <div class="bank_info">
            <div class="bank_img">
              <img src="<%=item.bank_image%>" alt="">
            </div>
            <span class="bank_card">**** ***** **** <%=item.bank_card.toString().slice(-4)%></span>
          </div>
          <i class="iconfont icon-yousanjiaogou_ic select_bank"></i>
        </li>
        <%}}%>
        <li class="new_bank">
          <a href="./member_card_add_step1.html?withdrawals=1&pd=14834.61">
            <div class="bank_info">
              <i class="iconfont icon-icon2"></i>
              <span class="bank_name">添加银行卡</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</script>
<div class="agreement_bottom">
</div>
<div class="agreement_content" id="withdrawalsAagreementHtml">

</div>
<script type="text/html" id="withdrawalsAagreement">
  <h1>
    <%=title%>
    <div class="qll_close">
      <img src="../../images/qll_close.png" alt="">
    </div>
  </h1>
  <div class="agreement_detail">
  </div>
</script>

<!--输入支付密码-->
<div class="drawals_modal input_bank_pwd">
  <div class="drawals_modal_mask"></div>
  <div class="drawals_modal_con">
    <div class="drawals_modal_head">
      <span class="text">请输入支付密码</span>
      <i class="iconfont close icon-cha"></i>
    </div>
    <div class="drawals_modal_wrapper">
      <div class="inputBoxContainer" id="inputBoxContainer">
        <input type="password" class="realInput" id="payment_password" style="font-size: .1rem;color:#fff;"/>
        <div class="bogusInput">
          <input type="password" maxlength="6" disabled/>
          <input type="password" maxlength="6" disabled/>
          <input type="password" maxlength="6" disabled/>
          <input type="password" maxlength="6" disabled/>
          <input type="password" maxlength="6" disabled/>
          <input type="password" maxlength="6" disabled/>
        </div>
      </div>
    </div>
  </div>
</div>
<!--设置支付密码-->
<div class="drawals_modal input_bank_new ">
  <div class="drawals_modal_mask"></div>
  <div class="drawals_modal_con">
    <div class="drawals_modal_head">
      <span class="text">设置支付密码</span>
      <i class="iconfont close icon-cha"></i>
    </div>
    <div class="drawals_modal_wrapper">
      <form action="#">
        <div class="input_form">
          <label class="input_form_label">输入密码</label>
          <input type="tel" style="text-security:disc;-webkit-text-security:disc;" class="input_form_inp" id="password"  name="password" maxlength="20" size="10" autocomplete="off" placeholder="0-9的6位数字"  oninput="writeClear($(this));">
        </div>
        <div class="input_form">
          <label class="input_form_label">确认密码</label>
          <input type="tel" style="text-security:disc;-webkit-text-security:disc;" class="input_form_inp" id="password1"  name="password"  maxlength="20"  oninput="writeClear($(this));" placeholder="0-9的6位数字" onfocus="writeClear($(this));" >
        </div>
        <button  class="input_form_sub">确认</button>
      </form>
    </div>
  </div>
</div>
<!--支付密码成功-->
<div class="drawals_modal input_bank_success">
  <div class="drawals_modal_mask"></div>
  <div class="drawals_modal_con">
    <div class="drawals_modal_head">
      <span class="text"></span>
      <i class="iconfont close icon-cha"></i>
    </div>
    <div class="drawals_modal_wrapper">
       <div class="drawals_modal_state">
         <span class="big_text">提现成功</span>
         <span class="small_text"><b id="num_djs">3秒</b>后自动返回</span>
       </div>
      <div class="drawals_modal_bottom">
         <i class="iconfont icon-gantan"></i>
         <span class="text">资金预计会在1-3个工作日到账，请留意</span>
      </div>
    </div>
  </div>
</div>
<!--支付密码失败-->
<div class="drawals_modal input_bank_error ">
  <div class="drawals_modal_mask"></div>
  <div class="drawals_modal_con">
    <div class="drawals_modal_head">
      <span class="text"></span>
      <i class="iconfont close icon-cha"></i>
    </div>
    <div class="drawals_modal_wrapper">
      <div class="drawals_modal_state">
        <span class="big_text">支付密码错误</span>
      </div>
      <div class="drawals_modal_bottom">
        <a href="javascript:void(0);" class="agine_inp">重新输入</a>
        <a href="./member_paypwd_step1.html" class="rember">忘记密码</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script src="../../dist/script/main.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script src="../../js/tmpl/withdrawals.js"></script>
<script type="text/javascript" src="../../js/tmpl/agreement.js"></script>

</body>
</html>

