/*
maincolor   fac734

*/

.clear {
    zoom: 1;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.lm_clear {
    zoom: 1;
}

.lm_clear:after {
    content: "";
    clear: both;
    display: block;
}

.ul_no {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lm_upload .submit {
    display: none;
}

.lm_upload .lm_upload_form {
    width: 720px;
    margin: 0 auto;
}

.lm_container_ful {
    width: 1200px;
    min-height: 10px;
    margin: 0 auto;
}

.lm_req {
    color: #fac734;
    font-size: 14px;
    margin-right: 3px
}

.lm_upload_form .zm_form-group {}

.lm_upload_form .zm_form-group {}

.lm_upload_form .zm_form-group {
    zoom: 1;
    margin-bottom: 15px;
}

.lm_upload_form .zm_form-group label.error {
    background: none;
    border: none;
    color: #fac734 !important;
}

.lm_upload_form .zm_form-group:after {
    content: "";
    clear: both;
    display: block;
}

.lm_upload_form .zm_form-group .zm_label {
    width: 200px;
    margin: 0 14px 0 0;
    text-align: right;
    float: left;
    min-height: 1px;
}

.lm_upload_form .zm_form-group .zm_inp {
    float: left;
    width: 446px;
    min-height: 1px;
}

.lm_upload_form .zm_form-group .zm_inp input,
.lm_upload_form .zm_form-group .zm_inp textarea {
    width: 213px;
    padding: 3px 3px;
}

.lm_upload_form .zm_form-group .zm_inp input[type='checkbox'],
.lm_upload_form .zm_form-group .zm_inp input[type='radio'] {
    width: 12px;
}

.lm_upload_form .zm_form-group .zm_inp input[type="text"].error,
.lm_upload_form .zm_form-group .zm_inp input[type="password"].error,
textarea.error {
    border: #fac734 solid 1px;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

.lm_upload_form .zm_form-group .zm_inp select {
    width: 70px;
}

.lm_upload_form .zm_form-group .placeholder,
.lm_upload_form .zm_form-group .webuploader-pick {
    width: 119px;
    height: 28px;
    border: #eee solid 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    padding: 0;
    color: #666;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.lm_upload_form .zm_form-group .placeholder,
.lm_upload_form .zm_form-group .webuploader-pick i {
    display: inline-block;
}

.lm_upload_form .zm_form-group .upload_list {
    margin: 15px 0;
}

.lm_upload_form .zm_form-group .upload_list .filelist {
    margin: 15px 0 0;
}

.lm_upload_form .zm_form-group .upload_list .upload_sign_con {
    width: 150px;
    float: left;
    margin: 0 20px 0 0;
}

.lm_upload_form .zm_form-group .upload_list .webuploader .filelist .uploadli {
    float: left;
}

.lm_upload_form .zm_form-group .placeholder,
.lm_upload_form .zm_form-group .webuploader-pick span {
    display: inline-block;
    vertical-align: middle;
}

.uploader-list {
    margin: 10px 0 0 0;
}

.marno {
    margin: 0 !important;
}

.uploader-list li {
    position: relative;
    width: 150px;
    height: 80px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.uploader-list li p.img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.uploader-list li img {
    max-height: 100%;
    max-width: 100%;
}

.uploader-list .over .setting {
    transition: all .1s;
}

.uploader-list .over .del {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 24px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    z-index: 3;
}

.uploader-list .loader {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
}

.uploader-list .zz {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
}

.upload_list .tip {
    color: #777777;
    font-size: 14px;
    margin-left: 10px;
}

.font0 {
    font-size: 0;
}

.upload_list .tips {
    color: #777777;
    font-size: 14px;
}

.upload_list .upload_btn {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.upload_list .error {
    padding: 1px 5px 1px 0;
}

.settled .zm_form-group .zm_label {
    width: 221px;
}

.settled .zm_form-group .zm_inp input {
    vertical-align: baseline;
}

.settled .zm_form-group .zm_inp .checkboxs label {
    margin-right: 7px;
    margin-bottom: 13px;
    display: inline-block;
}

.settled .zm_form-group .zm_inp .checkboxs {
    display: block;
    margin: 17px 0 0 17px;
}

.settled .zm_form-group .zm_inp {
    width: 400px;
    font-size: 14px;
    color: #000;
}

.settled .zm_form-group .lm_radio {
    display: none;
}

.settled .zm_form-group .zm_label {
    position: relative;
}

.settled .zm_form-group .zm_inp>label {
    position: relative;
}

.settled .zm_form-group .zm_inp>label:before {
    position: absolute;
    border: #ccc solid 1px;
    width: 14px;
    height: 14px;
    top: 0px;
    left: -21px;
    content: '';
    display: block;
    border-radius: 100%;
}


/* .settled .zm_form-group.active .zm_label:after { */

.settled .zm_form-group.active .zm_inp>label:after {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 5px;
    left: -16px;
    content: '';
    display: block;
    border-radius: 100%;
    background: #042239;
}

.lm_hr {
    width: 100%;
    height: 1px;
    background: #e4e4e4;
}

.mr30 {
    margin: 30px 0;
}

.lm_result {
    margin: 30px auto;
    width: 1200px;
    min-height: 1px;
    text-align: right;
}

.lm_result .bzj,
.lm_result .fwf {
    color: #c90000;
    font-size: 16px;
    margin: 0 0 17px 0;
}

.lm_result .sum_result {
    font-size: 20px;
    color: #000;
}

.lm_rz_success_con {
    padding: 79px 0 120px;
    text-align: center;
}

.lm_rz_success_con .title {
    color: #010101;
    font-size: 18px;
    margin: 0 0 30px;
}

.lm_rz_success_con .text {
    font-size: 14px;
    margin-top: 20px;
    color: #000;
}

.rz_success_bg {
    background: url(../images/jl/rz_success.png) !important
}

.zm_form-group {}

.zm_form-group .lm_upload_btn {
    border: #e4e4e4 solid 1px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, .1);
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}

.zm_form-group .lm_upload_btn i {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 0;
}

.zm_form-group .lm_upload_btn span {
    color: #777;
    font-size: 14px;
}

.zm_form-group .upload_con {
    width: 150px;
    margin-right: 15px;
    float: left;
}

.zm_form-group .lm_upload_imgs img {
    width: 150px;
    height: 80px;
    object-fit: cover
}

.zm_form-group .lm_upload_imgs li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.zm_form-group .lm_upload_btn input[type='file'] {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* 商户提交 */

.lm_shopUpload {}

.lm_shopUpload .shop_title {
    margin: 0 0 20px;
    font-size: 16px;
    color: #000;
    text-align: center;
    text-indent: -89px;
}

.lm_shopUpload .lm_yy {
    margin: 15px 0 0 0;
}

.lm_shopUpload .lm_begin_date,
.lm_shopUpload .lm_end_date {
    min-width: 80px;
    width: 91px !important;
}

.lm_shopUpload .middle_hr {
    width: 15px;
    height: 1px;
    background: #e4e4e4;
    display: inline-block;
    vertical-align: middle;
}

.ml0 {
    margin-left: 0
}

.pl0 {
    padding-left: 0
}

.uploader-list~.error {
    padding-left: 0;
    margin-left: 0;
}

.mt13 {
    margin-top: 13px;
}

.lm_header {
    padding: 25px 0;
    height: 60px;
    background: #fff;
}

.lm_header .lm_logo {
    display: block;
    height: 60px;
    float: left;
}

.lm_header .lm_logo img {
    height: 60px;
}

.lm_header .lm_header_right {
    float: right;
    line-height: 60px;
    color: #777777;
    font-size: 14px;
}

.lm_header .lm_header_right a {
    color: #777;
}

.nc-register-bg {
    background: none;
}

.nc-register-box {
    left: 0;
    /* padding: 0 280px; */
}

.lm_registed .nc-register-box {
    width: 730px;
    margin: 20px auto 0;
}

.lm_registed .nc-register-layout {
    border: none;
    background: none;
    width: 100%;
}

.lm_registed dl dd .text {
    height: 42px;
}

.lm_registed dl dd {
    padding: 0;
}

.lm_registed .left {
    float: left
}

.lm_registed .right {
    float: right;
    display: block;
    width: 270px;
    padding: 20px 0 0 30px;
}

.lm_registed dl {
    margin: 0 0 35px 0;
    height: 42px;
}

.lm_registed .right .api-login a i,
.lm_share a i {
    background: url('../../images/jl/lm_share.png') no-repeat;
    display: block;
    width: 42px;
    height: 42px;
}

.lm_share a.off i {
    background: url('../../images/jl/lm_share_off.png') no-repeat;
}

.lm_registed .right .api-login {
    padding: 18px 19px 0 0;
    width: 335px;
    border-bottom: none;
}

.lm_registed .right .api-login a.lm_sina i,
.lm_share a.lm_sina i {
    background-position: 0 0;
}

.lm_registed .right .api-login a.lm_qq i,
.lm_share a.lm_qq i {
    background-position: -45px 0
}

.lm_registed .right .api-login a.lm_wx i,
.lm_share a.lm_wx i {
    background-position: -88px 0;
}

.lm_registed .right .api-login a.lm_zfb i,
.lm_share a.lm_zfb i {
    background-position: -132px 0;
}

.lm_registed .clause-div {
    background: none;
    line-height: 0;
}

.lm_registed .right .api-login a,
.lm_share a {
    font-size: 12px;
    text-decoration: none;
    color: #AAA;
    vertical-align: top;
    display: inline-block;
    height: 32px;
    margin-right: 13px;
}

.lm_registed .code-div span img {
    height: 30px;
    width: 96px;
}

.lm_registed .code-div span {
    height: 42px;
    border-left: none;
    line-height: 39px;
    text-align: center;
    background: #fff;
    margin: 0px 0 0 -1px;
}

.lm_registed .code-div dl.focus~span {
    border-color: #bb8e00;
}

.lm_registed .code-div dl.focus {
    border-color: #bb8e00;
    border-right: none;
}

.lm_registed dl.focus {
    border-color: #bb8e00;
}

.lm_registed dl.focus~span {
    border-color: #bb8e00;
    border-left: none;
}

.lm_registed label.error {
    width: 100%;
}

.lm_registed .lm_code_div {
    width: 100%;
    height: 54px;
}

.lm_registed .lm_code_div dl {
    width: 277px;
    float: left;
}

.lm_registed .lm_code_div span {
    width: 120px;
    height: 52px;
    float: left;
    margin: -1px 0 0 -1px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
    height: 42px;
    border-left: none;
    text-align: center;
    background: #fff;
    font-size: 14px;
    color: red;
    margin: 0px 0 0 -1px;
}

.lm_registed .lm_code_div span a {
    background: #f2f2f2;
    display: block;
    height: 22px;
    width: 80%;
    margin: 10px auto;
    color: #777777;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.nc-register-bg {
    overflow: auto;
}

.nc-register-bg {
    height: 700px;
}

.lm_change {
    color: #bb8e00;
    font-size: 14px;
}

.lm_change span {
    cursor: pointer;
    color: #000;
}

.lm_change .lm_spans {
    display: inline-block;
    float: right;
}

.lm_change span:nth-child(2) {
    display: none;
}

.lm_change span:first-child {
    display: block;
}

.lm_change.active span:nth-child(1) {
    display: none;
}

.lm_change.active span:nth-child(2) {
    display: block;
}

.w100 {
    width: 100px;
}

.lm_registed .submit-div .submit {
    background: #f3b71b;
    border: #f3b71b solid 1px;
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

.lm_registed .lm_email {
    display: none;
}

.registed_success .lm_info {
    font-size: 18px;
    color: #000;
    line-height: 1.8
}

.registed_success {
    padding: 70px 0 120px;
    text-align: center;
}

.registed_success .lm_image .lm_one,
.registed_success .lm_image .lm_two {
    width: 220px;
    float: left;
    margin: 70px 40px;
}

.registed_success .lm_image .lm_two {
    margin-top: 85px;
}

.registed_success .lm_image .text {
    font-size: 14px;
    color: #000;
    line-height: 2;
    margin-top: 10px;
    display: block;
    text-align: center
}

.registed_success .lm_image {
    width: 610px;
    margin: 0 auto;
}

.registed_success .lm_line {
    width: 2px;
    height: 400px;
    background: url('../../images/jl/lm_line.png');
    float: left
}

.lm_info span img,
.lm_info a {
    display: inline-block;
    vertical-align: middle;
}

.lm_info a img {
    max-height: 25px;
}

body,
html {
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    min-height: 100% !important;
}


/* 艺术家页面 */

.lm_art_left {
    width: 250px;
    height: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
}

.lm_art_left .lm_art_logo {
    text-align: center;
    display: block;
    margin: 25px 0;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
}

.lm_art_left .lm_art_ottom {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.lm_art_left .lm_art_ottom .lm_share {
    text-align: center;
}

.lm_art_left .lm_art_tx img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.lm_art_left .lm_art_tx {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100%;
    background: #f3b71b;
    margin: 0 auto;
    position: relative;
}

.lm_art_left .lm_art_content {
    height: 100%;
    padding: 140px 0 100px;
}

.lm_art_left .lm_art_tx:after {
    position: absolute;
    background: url('../../images/jl/lm_que.png') no-repeat;
    width: 40px;
    height: 17px;
    content: '';
    display: block;
    top: -17px;
    left: 50%;
    margin: 0 0 0 -20px;
}

.lm_art_left .lm_art_thumbs {
    text-align: center;
    margin-top: 10px;
}

.lm_art_left .lm_art_thumbs img {
    display: block;
    margin: 0 auto;
}

.lm_art_left .lm_art_thumbs span {
    color: #bb8e00;
    font-size: 12px;
}

.lm_art_left .lm_art_info {
    margin-top: 30px;
    text-align: center;
}

.lm_art_left .lm_art_info .lm_art_name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.lm_art_left .lm_art_info .lm_art_address {
    color: #777777;
    font-size: 14px;
}

.lm_art_left .lm_art_info img {
    margin: 7px 0;
}

.lm_art_left .lm_art_setting {
    margin-top: 60px;
}

.lm_art_left .lm_art_setting a {
    width: 100%;
    text-align: center;
    display: block;
    color: #777;
    font-size: 16px;
    margin: 20px 0;
}

.lm_art_left .lm_art_setting a i {
    display: inline-block;
    vertical-align: text-bottom
}

.ov_h {
    overflow: hidden;
}


/* 左边结束 */

.lm_art_center {
    height: 100%;
    background: #f1f1f1;
    position: absolute;
    left: 250px;
    top: 0;
    z-index: 9;
    transition: all .5s;
}

.lm_art_hide {
    overflow-y: auto;
    overflow-x: hidden;
}

.lm_art_center_con {
    padding: 30px 40px;
    width: 475px;
}

.lm_art_center .lm_art_top {
    transition: all .6s;
}

.lm_art_center .lm_art_top p {
    font-size: 14px;
    color: #777;
    line-height: 1.75;
}

.lm_art_center .lm_art_top .lm_art_top_text {
    overflow: hidden;
    transition: all .6s;
}
/*用户编辑强制去除默认属性*/
.lm_art_center .lm_art_top .lm_art_top_text *{
  background:transparent !important;
    font-size: 14px;
    color: #777;
    line-height: 1.75;
}

.lm_art_center .lm_art_top .setting {
    margin: 20px 0 0;
    cursor: pointer;
}

.lm_art_center .lm_art_top .setting span {
    background: #fff;
    border: #ccc solid 1px;
    width: 170px;
    display: block;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #393939;
    font-size: 14px;
    text-align: center;
    margin: 0 10px;
    /* display: none; */
}

.lm_art_center .lm_art_top .setting {}

.lm_art_center .lm_art_bottom {
    margin-top: 30px;
    height: 500px;
    overflow-y: scroll;
    border: #e7e7e7 solid 1px;
    padding: 0 30px;
    background: #fff;
}

.lm_art_center .lm_art_bottom .lm_art_bottom_con {
    border-left: #f3b71b solid 2px;
    min-height: 100%;
    height: auto;
    padding: 0 0 0 30px;
    /* overflow: hidden; */
}

.lm_art_center .lm_art_bottom .lm_art_bottom_con time,
.lm_art_center .lm_art_bottom .lm_art_bottom_con span {
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    display: block;
}

.lm_art_center .lm_art_bottom .lm_art_time {
    padding-top: 50px;
    position: relative;
}

.lm_art_center .lm_art_bottom .lm_art_time:after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border: #f3b71b solid 2px;
    top: 50px;
    left: -42px;
    border-radius: 100%;
    z-index: 3;
    background: #fff;
}

.lm_art_center .lm_art_bottom .lm_art_time:before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background: #f3b71b;
    top: 56px;
    left: -36px;
    border-radius: 100%;
    z-index: 4;
}

.lm_art * {
    box-sizing: border-box;
}

.lm_art {
    background: #fff;
    overflow: hidden;
}

.lm_art_center_con {
    position: relative;
}

.lm_art_center .lm_art_prev,
.lm_art_center .lm_art_next img {
    width: 100%;
    height: 100%;
}

.lm_art_center .lm_art_prev,
.lm_art_center .lm_art_next {
    position: absolute;
    top: 34px;
    width: 38px;
    height: 59px;
    cursor: pointer;
}

.lm_art_center .lm_art_prev {
    right: 0;
}

.lm_art_center .lm_art_next {
    right: -38px;
}

.lm_art_center .lm_art_prev {
    display: block;
}

.lm_art_center .lm_art_next {
    display: none;
}

.lm_art_center.active .lm_art_prev {
    display: none;
}

.lm_art_center.active .lm_art_next {
    display: block;
}

.lm_art_center.active {
    left: -226px;
}


/* 艺术家中间结束 */

.lm_art_right .lm_art_right_con {
    /* overflow: hidden; */
    padding: 34px 0;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.lm_art_right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-left: 725px;
    background: #fff;
    /* overflow: auto; */
}

.lm_art_right .lm_switch {
    width: 65px;
    height: 25px;
    background: #fac326;
    margin: 0 0 50px 20px;
    border-radius: 50px;
}

.lm_art_right .lm_switch label {
    position: relative;
    display: block;
    padding: 1px;
    border-radius: 24px;
    height: 22px;
    margin-bottom: 15px;
    cursor: pointer;
    vertical-align: top;
    -webkit-user-select: none;
}

.lm_art_right .lm_switch .switch {
    display: none;
}

.lm_art_right .lm_switch label:before {
    content: '多图';
    display: block;
    border-radius: 24px;
    height: 22px;
    background: #fac326;
    -webkit-transform: scale(1, 1);
    -webkit-transition: all 0.3s ease;
    position: absolute;
    left: 7px;
    top: 2px;
}

.lm_art_right .lm_switch label:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 5px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease;
}

.lm_art_right .lm_switch .switch:checked~label:after {
    left: 5px;
}

.switch:checked~label:before {
    content: '单图';
    position: absolute;
    right: 7px;
    top: 2px;
    text-align: right;
}

.lm_art_right .lm_art_list {
    overflow: hidden;
    display: block;
    min-height:680px;
}

.lm_art_right .lm_art_list li:hover .lm_top_imgs{
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.09);
}
.lm_art_right .lm_art_list li {
    float: left;
    width: 300px;
    margin: 0 30px 20px 0;
}

.lm_art_right .lm_art_list .lm_top_imgs:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient( rgba(0, 0, 0, 0.3),transparent); */
}

.lm_art_right .lm_art_list .lm_top_imgs {
    width: 100%;
    height: 243px;
    display: block;
    position: relative;
    border: #dedede solid 1px;
    padding:20px 10px 10px;
}

.lm_art_right .lm_art_list .lm_top_imgs>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lm_art {
    min-width: 1360px;
}

@media screen and (max-width: 1400px) {
    .lm_art_left .lm_art_ottom {
        height: 40px !important;
    }
    .lm_art_center .lm_art_bottom {
        height: 400px !important;
    }
    .lm_art_right {
        overflow: auto;
    }
}

@media screen and (max-width: 1500px) {
    .lm_art_right .lm_art_right_con {
        width: 580px !important;
    }
    .lm_art_right .lm_art_list .lm_top_imgs {
        height: 219px !important;
    }
    .lm_art_right .lm_art_list li {
        width: 270px !important;
        margin-right: 40px !important;
        margin-bottom: 10px !important;
    }
    .lm_art_right .lm_art_list li:nth-child(2n) {
        margin-right: 0 !important;
    }
    .lm_art_right .lm_switch {
        margin: 0 0 36px 0;
    }
    .lm_art_right.active .lm_art_right_con {
        width: 900px !important;
    }
    .lm_art_right.active .lm_art_list li {
        width: 270px !important;
        margin: 0 90px 15px !important;
    }
    .lm_art_right.active .lm_art_list .lm_top_imgs {
        height: 219px !important;
    }
    /* 单图的时候 */
    .lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap {
        width: 100%;
        height: 386px;
    }
    .lm_art_right .lm_work_sign .lm_art_work_info .title {}
    .lm_art_right .lm_switch {
        margin: 0 0 15px 20px !important;
    }
    .lm_art_right .lm_work_sign .lm_art_prev img,
    .lm_art_right .lm_work_sign .lm_art_next img {
        top:193px;
    }
    .lm_art_right .lm_art_list{
        min-height:610px;
    }
}

.lm_art_right.active {
    padding-left: 250px !important;
}

@media screen and (min-width: 1501px) and (max-width: 1700px) {
    .lm_art_right .lm_art_right_con {
        width: 700px !important;
    }
    .lm_art_right .lm_art_list li {
        margin: 0 25px 30px !important;
    }
    .lm_art_right.active .lm_art_right_con {
        width: 1000px !important;
    }
    .lm_art_right.active .lm_art_list li {
        width: 340px !important;
        margin: 0 80px 40px !important;
    }
    .lm_art_right.active .lm_art_list .lm_top_imgs {
        height: 275px !important;
    }
    .lm_art_right .lm_art_work_con {
        width: 80% !important;
        margin: auto !important;
    }
    /* 单图的时候 */
    .lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap {
        width: 100%;
        height: 400px;
    }
    .lm_art_right .lm_work_sign .lm_art_prev img,
    .lm_art_right .lm_work_sign .lm_art_next img {
        top:200px;
    }
}

@media screen and (min-width: 1701px) {
    .lm_art_right .lm_art_right_con {
        width: 970px !important;
    }
    .lm_art_right .lm_art_list .lm_top_imgs {
        height: 275px !important;
    }
    .lm_art_right .lm_art_list li {
        margin: 0 72.5px 20px !important;
        width: 340px !important;
    }
    .lm_art_right.active .lm_art_right_con {
        width: 1200px !important;
    }
    .lm_art_right.active .lm_art_list li {
        width: 340px !important;
        margin: 0 100px 20px !important;
    }
    .lm_art_right.active .lm_art_list .lm_top_imgs {
        height: 275px !important;
    }
    .lm_art_right .lm_art_work_con {
        width: 80% !important;
        margin: auto !important;
    }
    /* 单图的时候 */
    .lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap {
        width: 100%;
        height: 500px;
    }
    .lm_art_right .lm_work_sign .lm_art_prev img,
    .lm_art_right .lm_work_sign .lm_art_next img {
        top:250px;
    }
}

.lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap img{
    max-width: 100%;
    max-height: 100%;
}
.lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border:#dedede solid 1px;
    padding:5px;
}

.lm_art_right .lm_art_list .lm_top_imgs .lm_infos {
    position: absolute;
    top: 1px;
    text-align: right;
    width: 100%;
    left:0;
}

.lm_art_right.active .lm_art_work_con {
    width: 80%;
    margin: 0 auto;
}

.lm_art_right .lm_art_list .lm_top_imgs:hover .lm_infos span {
    /* color: #fff; */
}

.zm_form-group .lm_upload_btn {
    cursor: pointer;
}

.lm_art_right .lm_art_list .lm_top_imgs .lm_infos span {
    margin-right: 5px;
    color: #777777;
    font-size: 12px;
}

.lm_art_right .lm_art_list .lm_top_imgs .lm_infos span img {
    display: inline-block;
    vertical-align: sub;
    margin-right: 3px;
}

.lm_art_right .lm_art_list .lm_art_info .lm_art_info_top {
    margin: 8px 0;
}

.lm_art_right .lm_art_list .lm_art_info .lm_art_info_top .lm_art_title p {
    display: inline-block;
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lm_art_right .lm_art_list .lm_art_info .lm_art_info_top .lm_art_title span {
    font-size: 14px;
    margin-left: 8px;
}

.lm_art_right .lm_art_list .lm_art_info .lm_art_info_top .lm_art_title {
    float: left;
    color: #000;
    font-size: 18px;
    margin-top: 3px;
}

.lm_art_right .lm_art_list .lm_art_info .lm_art_info_top .lm_art_shop {
    float: right;
    width: 80px;
    background: #fac326;
    color: #000;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 26px;
}

.lm_art_right .lm_art_list .lm_art_info .lm_art_infos {
    font-size: 12px;
    color: #000;
}

.lm_art_right .lm_work_sign {
    position: relative;
    width: 100%;
    display: none;
}

.lm_art_right .lm_work_sign .lm_art_prev img,
.lm_art_right .lm_work_sign .lm_art_next img {
    width: 20px;
    object-fit: cover;
    position: absolute;
    /*top: 50%;*/
    /*margin-top: -36.5px;*/
    left: 50%;
    margin-left: -10px;
    margin-top: -18px;
}

.lm_art_right .lm_work_sign .lm_art_prev,
.lm_art_right .lm_work_sign .lm_art_next {
    width: 30px;
    position: absolute;
    text-align: center;
    display: block;
    height: 100%;
    top: 0;
    cursor: pointer;
    opacity: .6;
}

.lm_art_right .lm_work_sign .lm_art_prev:hover,
.lm_art_right .lm_work_sign .lm_art_next:hover {
    opacity: 1;
}

.lm_art_right .lm_work_sign .lm_art_prev {
    left: 0;
}

.lm_art_right .lm_work_sign .lm_art_next {
    right: 0;
}

.lm_art_right .lm_art_work_con {
    width: 100%;
    padding: 0 50px;
}

.lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lm_art_right .lm_work_sign .lm_art_work_con .lm_imgWrap {}

.lm_art_right .lm_work_sign .lm_art_work_info .title {
    font-size: 18px;
    color: #000;
    margin: 12px 0;
}

.lm_art_right .lm_work_sign .lm_art_work_info span {
    color: #000;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.lm_art_right .lm_work_sign .lm_art_work_info .lm_infos i {
    display: inline-block;
    vertical-align: 1px;
    margin-right: 3px;
}

.lm_art_right .lm_work_sign .lm_art_work_info .price {
    display: block;
}

.lm_art_right .lm_work_sign .lm_art_work_info .state {
    width: 80px;
    background: #fac326;
    color: #000;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 26px;
    margin: 10px 0 0 0;
}

.lm_art_right .lm_work_sign .lm_art_work_info .lm_share {
    margin: 20px 0 0;
}

.demo-image {
    width: 100%;
}

.lm_art_right .lm_fenye {
    text-align: center;
    display: flex;
    justify-content: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    position:absolute;
    left:50%;
    margin-left: -135.5px;
}
.lm_null{
    text-align: center;
    height: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;
}
.lm_art_right .lm_fenye ul {}

.lm_art_right .lm_fenye li.lm_fenye_prev,
.lm_art_right .lm_fenye li.lm_fenye_next {
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 60px;
    border-radius: 25px;
}

.lm_art_right .lm_fenye li:hover,
.lm_art_right .lm_fenye li.active {
    background: #fac326;
}

.lm_art_right .lm_fenye li {
    font-size: 14px;
    color: #000;
    background: #e2e2e2;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    height: 26px;
    width: 26px;
    line-height: 26px;
    margin-right: 7px;
}

.lm_art_right .lm_fenye li:first-child,
.lm_art_right .lm_fenye li:last-child {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 100%;
}

.M-box,
.M-box1,
.M-box2,
.M-box3,
.M-box4 {
    /*  position: absolute;
    text-align: center;
    zoom: 1;
    left: 50%;
    transform: translateX(-50%); */
    margin: 10px auto;
}

.M-box:before,
.M-box:after,
.M-box1:before,
.M-box1:after,
.M-box2:before,
.M-box2:after,
.M-box3:before,
.M-box3:after,
.M-box4:before,
.M-box4:after {
    content: "";
    display: table;
}

.M-box:after,
.M-box1:after,
.M-box2:after,
.M-box3:after,
.M-box4:after {
    clear: both;
    overflow: hidden;
}

.M-box span,
.M-box1 span,
.M-box2 span,
.M-box3 span,
.M-box4 span {
    float: left;
    margin: 0 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #bdbdbd;
    border-radius: 100%;
    font-size: 14px;

}

.M-box .active,
.M-box1 .active,
.M-box2 .active,
.M-box3 .active,
.M-box4 .active {
    float: left;
    margin: 0 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background: #fac326;
    color: #000;
    font-size: 14px;
    /*border: 1px solid #fac326;*/
}

.M-box a,
.M-box1 a,
.M-box2 a,
.M-box3 a,
.M-box4 a {
    float: left;
    margin: 0 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background: #e2e2e2;
    /*border: 1px solid #ebebeb;*/
    color: #000;
    font-size: 14px;
}

.M-box a:hover,
.M-box1 a:hover,
.M-box2 a:hover,
.M-box3 a:hover,
.M-box4 a:hover {
    color: #000;
    background: #fac326;
}

.M-box .next,
.M-box .prev,
.M-box1 .next,
.M-box1 .prev {
    font-family: "Simsun";
    font-size: 14px;
    width: 64px !important;
    height:28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
}
.M-box .lm_first{
    border-radius: 100%;
    width:35px;
    height:35px;
    line-height:35px;
    margin:-4px 5px;
}

.now,
.count {
    padding: 0 5px;
    color: #f00;
}

.lm_mask_pub .lm_loader{
    height: 136px;
    position: absolute;
    top: 50%;
    margin-top:-68px;
    left: 50%;
    margin-left: -68px;

}

.lm_mask_pub {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    /* width: 100%; */
    position: fixed;
    top: 0;
    right: 0;
}
.lm_art_infos span,.lm_infos span{
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hidden{
    display: none;
}

.lm_bdsharebuttonbox{
    width:40px;
    margin: 5px auto;
}