.agreement_bottom {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.agreement_content {
    width: 80%;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 10%;
    line-height: 2;
    border-radius: 5px;
    max-height: 70%;
    overflow: auto;
}

.agreement_detail img {
    width: 100%;
}

.qll_close img {
    width: 18px;
}

.agreement_content .qll_close {
    position: absolute;
    top:5px;
    right: 4px;
    width: 30px;
    height: 30px;
    background: #fcfbf7;
    border-radius: 100%;
    text-align: center;
    line-height: 34px;
}

.agreement_content h1 {
    border-bottom: 1px solid #ebebeb;
    font-size: 20px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0;
    background: #fff;
    position: fixed;
    width: 80%;
    border-radius: 5px 5px 0 0;
}

.agreement_content .agreement_detail {
    background: #fcfbf7;
    padding: 10px 15px;
}

.agreement_content .agreement_detail h2 {
    margin: 0;
    font-size: 12px;
}

.agreement_content .agreement_detail p {
    margin: 0;
    font-size: 12px;
    word-wrap:break-word;
}

.agreement_content .agreement_detail {
    margin-top: 41px;
}

.pub_overFlow {
    position: fixed;
}

.get_agreement_btn {
    cursor: pointer;
}