@charset "utf-8";
/* CSS Document */
a:hover{color:inherit}
/*艺术家简介*/
.artist-profile{margin: 40px auto 0 !important; width:1200px;height: 140px; background: url(../images/new-index/artist-profile-bg.jpg) center repeat-x;  overflow: hidden}
.artist-profile .artist-profile-word{margin: 12px 0;padding: 0 0 0 20px;height: 128px;}
.artist-profile .artist-profile-word h1{padding: 16px 0 0;font-size:18px; color: #000}
.artist-profile .artist-profile-word h2{margin: 8px 0 0; font-size:14px; color:#5e5e5e}
.artist-profile .artist-profile-word a{display:block;margin:16px 0 0; font-size:14px;color:#6a0115}
.artist-profile .artist-list{margin:0 0 0 10px}
.artist-profile .artist-list li{margin: 0 7px 0; width:152px; height: 140px; background: url(../images/new-index/artist-profile-image-bg.png) center no-repeat; overflow: hidden; float: left}
.artist-profile .artist-list li a{display:inline-block;width:146px; height: 140px; padding: 0 0 0 6px; overflow: hidden}
.artist-profile .artist-list li a img{position: relative; top: -140px; width:140px; height: 140px; z-index: 1}
.artist-profile .artist-list li span{position: relative;top:-140px; display:block; width: 140px; height: 140px; background-color: rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');z-index: 2}
.artist-profile .artist-list li span p:first-child{padding: 36px 0 0;}
.artist-profile .artist-list li span p{ color:#fff;font-size:14px; text-align: center !important;line-height: 24px;width: 92%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 0 4%;}
.artist-profile .artist-list li span i{margin: 10px 0 0; display:block; color: #fff; font-size:22px; text-align: center}
.artist-profile .artist-list li:hover span{top:0;transition:all 0.4s ease-in-out 0.1s;-moz-transition:all 0.4s ease-in-out 0.1s;-ms-transition:all 0.4s ease-in-out 0.1s;-o-transition:all 0.4s ease-in-out 0.1s;-webkit-transition:all 0.4s ease-in-out 0.1s;}
.artist-profile .artist-more{float: right; display:block;width:186px; height: 140px; background: #000; color: #fff; text-align: center;font-size: 14px;line-height: 140px;}
/*拍卖推荐*/
.big-title{padding: 10px 0 0;margin: 40px 0 0; width:1200px; height: 55px; background: url(../images/new-index/big-title-bg.jpg) center no-repeat; overflow: hidden;}
.big-title h1{font-size:30px; color: #333; font-weight: bold; text-indent: 20px;}
.big-title h2{padding: 5px 0 0; font-size:12px; color: #999;line-height: 30px;text-indent: 150px;}
#new-tab{margin: 20px 0 0;width:882px; height:auto;}
#new-tab .tab_menu{width:880px;height: 40px; background:#fff; border: #e5e5e5 solid 1px; border-right: none}
#new-tab .tab_menu li{float:left; line-height: 40px; width:175px;height:40px;cursor:pointer;text-align:center;color:#000;font-size: 14px; text-align: center;border-right: #e5e5e5 solid 1px;}
#new-tab .tab_menu li:hover{background-color:#e7e7e7;text-decoration:none;}
#new-tab .tab_menu .selected{background-color:#e7e7e7;cursor:pointer;}
#new-tab .hide{display:none;}
#new-tab .tab_box{width:100%;clear:both;}
#new-tab .tab_box .news-list-b{margin:10px 0 0;height: 300px; padding: 0 0 20px;border-bottom:#f0f0f0 solid 1px}
#new-tab .tab_box .news-list-b div.fl{width:420px;text-align: justify}
#new-tab .tab_box .news-list-b div.fl span{display:inline-block;width:auto; height: 16px;padding: 0 6px 4px; background: #000; color: #fff; text-align: center}
#new-tab .tab_box .news-list-b div.fl h1{font-size:18px;margin: 12px 0;line-height: 24px}
#new-tab .tab_box .news-list-b div.fl h2{font-size:12px;margin: 0 0 10px}
#new-tab .tab_box .news-list-b div.fl a{/*display:block;*/margin: 40px 0 0; text-align: center;width:100%; height: 42px;/*background: #f8f8f8;*/font-size: 14px;line-height: 36px}
#new-tab .news-list-s{display:block;width:100%;height:150px;padding:20px 0;border-bottom:#f0f0f0 solid 1px}
#new-tab .news-list-s div.fl{width:158px; height: 156px;overflow: hidden}
#new-tab .news-list-s div.fl img{display:block; position: relative;bottom:34px;left:10px; z-index: -1}
#new-tab .news-list-s div.fl span{display:block;width:74px; height: 34px; background: url(../images/zixun/hot-news-left.png) center no-repeat; color: #fff; text-align: center;line-height: 24px;}
#new-tab .news-list-s div.fr{width:700px; text-align: justify}
#new-tab .news-list-s div.fr h1{font-size:18px;margin:0 0 12px;line-height: 24px}
#new-tab .news-list-s div.fr h2{font-size:12px;margin: 0 0 10px}
.news-label{width:278px; min-height: 126px; background: #f8f8f8;margin: 0 14px 0 0;padding: 12px 0}
.news-label h1{height:22px;margin: 0 0 16px 0 ; padding: 0 0 0 10px;font-size:16px;border-left: #000 solid 4px}
.news-label span{display:inline-block;padding:4px 10px;margin:10px 0 0 10px ; color: #999; border:#d1d1d1 solid 1px;float: left;cursor: default}
.news-label span:hover{border:#000 solid 1px;color:#000}
.news .hot-list{margin:20px 0 0; width:318px; height: auto;}
.news .hot-list .top{ width:100%;height: 41px; border:#dcdcdc solid 1px;border-left: none}
.news .hot-list .hot-goods{margin: 16px 14px 0 0; width: 280px; background:#f8f8f8;}
.news .hot-list .hot-goods ul{display:block;padding: 2px 0 20px;margin: 0; width: 100%;height: auto; 16px;}
.news .hot-list .hot-goods ul li{display:block;margin: 20px auto 0; width:240px; height: 240px;border:#e6e6e6 solid 1px;background: #fff;overflow: hidden;}
.news .hot-list .hot-goods ul li:hover{border: #dadada solid 1px;-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.news .hot-list .hot-goods ul li img{ width:240px; height: 240px}
.news .hot-list .hot-goods .title{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #fff;line-height: 36px; background:#000;}

.news-detail .hot-list{margin:20px 0 0; width:318px; height: auto;}
.news-detail .hot-list .hot-goods{padding: 0 16px 0 0; width: 276px;}
.news-detail .hot-list .hot-goods ul{display:block;padding: 2px 0 20px;margin: 0 0 40px; width: 100%;height: auto; 16px; background: #f6f6f6;border:#e6e6e6 solid 1px;}
.news-detail .hot-list .hot-goods ul li{display:block;margin: 20px auto 0; width:240px; height: 274px;border:#e6e6e6 solid 1px;background: #fff;overflow: hidden;}
.news-detail .hot-list .hot-goods ul li:hover{border: #dadada solid 1px;-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.news-detail .hot-list .hot-goods ul li img{ width:240px; height: 240px}
.news-detail .hot-list .hot-goods .title{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000;line-height: 36px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99FFFFFF', endColorstr='#99FFFFFF');background:rgba(255,255,255,0.6);}
.news-detail .hot-list .hot-goods .info{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px;line-height: 36px; }
.news-detail .hot-list .hot-goods .info span b,.hot-list .hot-goods .info span i{color:#800000; font-size: 14px;}
.news-detail div.fl{width:850px;margin:20px 0 0 ; padding:10px 30px 10px 0;border-right:#e6e6e6 solid 1px;}
.news-detail div.fl .news-content h1{font-size:18px; text-align: center;margin: 20px 0}
.news-detail div.fl .news-content span{display:inline-block;width: 100%;margin: 0 0 16px; font-size:14px; text-align: center}
.news-detail div.fl .news-content p{line-height:24px;text-align: justify; font-size: 13px;}
.news-detail .hot-list .hot-goods h1{width:276px;padding:10px 0;margin: 0 0 16px 0; background: #f6f6f6;border: #e6e6e6 solid 1px; text-align: center; font-size: 18px; }