.fl{
    float: left;
}
.fr{
    float: right;
}
.solicitation_activity img{
    max-width: 100%;
    border:none;
}
.solicitation_activity a{
    display: block;
}
.solicitation_activity{
    line-height: 0;
    padding-top: 93px;
}
.solicitation_activity_top{
    background: #157e7e;
    padding: 10px 0;
    position: fixed;
    top:0;
    left: 0;
    width:100%;
}
.solicitation_activity_top .solicitation_activity_top_con{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.solicitation_activity_top .activity_top_logo{
    margin-top: 15px;
}
.solicitation_activity_top .activity_top_logo img{
    height: 45px;
}
.solicitation_activity_top .activity_top_nav{
    margin: 15px 0 0 80px;
}
.solicitation_activity_top .activity_top_nav a{
    text-decoration: none;
    color: #ebe9e5;
    display: inline-block;
    padding: 10px 20px;
}
.solicitation_activity_top .activity_top_contact img{
    height: 70px;
}
.bond_profit_img{
    line-height: 0;
}
.bond_profit_img img{
    max-width: 100%;
    border:none;
}
.bond_profit_img a img,
.bond_profit_img img{
    width: 100%;
    height: 100%;
}
.activity_join_num{
    width: 100%;
    height: 176px;
    background-color: #ec594e;
    padding-top: 20px;
}
.qll_mt{
    margin-top: -1px;
}
.activity_join_num .qll_join_us{
    display: block;
    margin-top: 25px;
    text-align: center;
}
.activity_join_num .qll_join_us img{
    width: 300px;
    margin: auto;
}
.activity_join_num .qll_words{
    text-align: center;
    font-size: 24px;
    color: #000;
}
.activity_join_num .member_num{
    text-align: center;
    padding: 5px 0;
}
.activity_join_num .member_num span{
    display: inline-block;
    width: 26px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    background: #fdf5de;
    color: #000;
    font-size: 20px;
    margin-right: 5px;
}

.download_img{
    line-height: 0;
    position: relative;
}
.download_img img{
    width: 100%;
}
.download_img .download_btn{
    width: 450px;
    position: absolute;
    left: 45%;
    top: 47%;
    text-align: center;
}
.download_img .download_btn .download_btn_top{
    width: 100%;
}
.download_img .download_btn .download_btn_top a img,
.download_img .download_btn .download_btn_top .andr_download img{
    width: 210px;
    border-radius: 3px;
}
.download_img .download_btn .download_btn_top .andr_download,
.download_img .download_btn .download_btn_top a{
    display: inline-block;
    margin-left: 10px;
    z-index: 2;
    cursor: pointer;
}
.andr_download{
    margin-top: 10px;
}
.andr_download_hide{
    display: none;
}
.andr_download .andr_download_left{
    display: inline-block;
    width: 120px;
    background: #fff;
    margin-left: 10px;
    border-radius: 3px;
}
.andr_download .andr_download_left img{
    width: 70%;
    padding: 8.5px 0;
}
.andr_download .andr_download_right{
    display: inline-block;
    background: #fff;
    width: 300px;
    margin-left: 10px;
    border-radius: 3px;
}
.andr_download .andr_download_right a{
    display: inline-block;
    width: 32%;
}
.andr_download .andr_download_right a img{
    width: 70%;
    padding: 8px 0;
}
.andr_download .andr_download_right a:nth-child(1) img{
    width: 60%;
}
.andr_download .andr_download_right a:nth-child(1),
.andr_download .andr_download_right a:nth-child(2){
    background-image: url('../image/download/download_line.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}


.art_festival_lr{
    position: relative;
}
.art_festival_lr .left{
   position: absolute;
   left: 0;
    top:0;
    width:50%;
    height:100%;
}
.art_festival_lr .right{
    position: absolute;
    left: 50%;
    top:0;
    width:50%;
    height:100%;
}
