<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>更多趣猜</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="stylesheet" href="../../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
</head>
<body>
    <ul class="qucai_list_tab">
        <li class="qucai_ing qucai_change">
            正在进行
        </li>
        <li class="qucai_end qucai_change1">
            已经结束
        </li>
    </ul>
    <div id="guess_list_html">

    </div>
    <script type="text/html" id="guess_list">
        <div class="guess_list_con">
            <ul class="qucai_list_detail">
                <% if(guess_list.length > 0){ %>
                <% for(var i=0;i<guess_list.length ;i++){ %>
                <li class="qucai_list_item">
                    <h3 class="qucai_detail_title"><%=guess_list[i].gs_name;%></h3>
                    <a href="./xiangqing-qucai.html?gs_id=<%=guess_list[i].gs_id;%>" class="qucai_detail_img">
                        <img src="<%=guess_list[i].gs_img;%>" alt="">
                        <%if(guess_list[i].is_close == 1){%>
                        <div class="qucai_detail_end_show">
                            <div class="qucai_detail_img_end">
                                <div class="qucai_detail_end_content">
                                    <span>已结束</span>
                                    <span>中奖者：<%=guess_list[i].guess_user%></span>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </a>
                    <div class="qucai_detail_info">
                        <div class="qucai_info_left">
                            <div class="qucai_info_left_top">
                                <span class="qucai_info_price">竞猜区间：￥<%=guess_list[i].gs_min_price;%>-<%=guess_list[i].gs_max_price;%></span>
                                <span class="qucai_info_num"><i class="iconfont icon-chakan"></i><%=guess_list[i].views%>人</span>
                            </div>
                            <div class="qucai_info_left_bottom">
                                <div class="settime qucai_info_endtime qucai_info_con" endtime="<%=guess_list[i].end_time;%>">
                                    <!--距结束`-->
                                </div>
                                <%if(guess_list[i].is_close == 1){%>
                                <div class="qucai_info_end qucai_info_con">竞猜价：￥<%=guess_list[i].gs_offer_price||0%></div>
                                <%}%>
                            </div>
                        </div>
                        <div class="qucai_info_right">
                            <div><b><%=guess_list[i].joined_times;%></b>次</div>
                            <div>竞猜出价</div>
                        </div>
                    </div>
                </li>
                <%}%>
                <%}%>
            </ul>
        </div>
    </script>

<script src="../../dist/script/main.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script src="../../js/tmpl/qll_qucai_list.js"></script>

</body>
</html>
