<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>更多趣猜</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
 <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#800000"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="msapplication-tap-highlight" content="no" />

<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
<!--新增样式-->
<link rel="stylesheet" href="../../css/sm.min.css">
<link rel="stylesheet" href="../../css/sm-extend.min.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/animate.min.css">
<link rel="stylesheet" href="../../font/font-awesome/css/font-awesome.min.css">
</head>
<body class="gray-bg">
<script type="text/javascript" src="../../js/zepto.min2.js" charset="utf-8"></script>
<header class="bar bar-nav">
	<a class="icon fl" href="javascript:history.go(-1)"><img src="../../images/top-left.png" width="20" height="20" alt=""/></a>
	<h1 class="title">更多趣猜</h1>
</header>
<div id="guess_list_html" class="content-box-04" style="margin-top:12px">
	<div class="row no-gutter">	
	</div>
	<div class="clear"></div>
</div>
<script type="text/html" id="guess_list">
<div class="content found-box-03">
    <% if(guess_list.length > 0){ %>
    <% for(var i=0;i<guess_list.length ;i++){ %>
    <div class="row no-gutter">	
		<a href="./xiangqing-qucai.html?gs_id=<%=guess_list[i].gs_id;%>" class="col-100">
			<div class="lm_img_qc">
				<img src="<%=guess_list[i].gs_img;%>" alt=""/>
				<%if(guess_list[i].is_close == 1){%>
				<div class="lm_qc_state">
					<span class="state_lm">已结束</span>
					<span class="lm_qc_result">中奖者：<%=guess_list[i].guess_user%></span>
				</div>
				<%}%>
			</div>
			<div>
			<div class="content-detail fl">
				<h1><%=guess_list[i].gs_name;%></h1>
				<span>竞猜区间&nbsp;&nbsp;&yen;<%=guess_list[i].gs_min_price;%>-<%=guess_list[i].gs_max_price;%></span>
				<span >距离结束&nbsp;&nbsp;
					<span class="time-remain settime" endtime="<%=guess_list[i].end_time;%>" style="display: inline;color: #800000 !important;">
						<em time_id="d">0</em>日<em time_id="h">0</em>时<em time_id="m">0</em>分<em time_id="s">0</em>秒
					</span>
				</span>
			</div>
			<div class="fr"><b><%=guess_list[i].joined_times;%></b>出价次</div>
			</div>
		</a>
	</div>
	<div class="clear"></div>
    <% }%>
    <% if (hasmore) {%>
    <li class="loading"><div class="spinner"><i></i></div>商品数据读取中...</li>
    <% } %>
    <% }else{ %>
    <div class="nctouch-norecord order">
        <div class="norecord-ico"><i></i></div>
        <dl>
            <dt>还没有趣猜信息</dt>
        </dl>
        <a href="../../index.html" class="btn">随便逛逛</a>
    </div>
    <% }%>
</div>
</script>
<footer id="footer"></footer>
<!-- 我的视频 wap端不显示 此处占位 -->
<script type="text/html" id="video_list">
<% if(wap_display == 0) { %>
<% } %>
</script>
<!---新增JS-->

<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/swipe.js"></script> 
<!--<script type="text/javascript" src="../../js/index.js"></script> -->
<script type="text/javascript" src="../../js/sm.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-extend.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/sm-city-picker.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/tmpl/new_footer.js"></script>
<script type="text/javascript" src="../../js/addtohomescreen.js"></script>
<script type="text/javascript" src="../../js/tmpl/guess_list.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
</body>
</html>
