<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>趣猜详情</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>

  <link rel="stylesheet" href="../../dist/css/main.css">
  <link rel="stylesheet" href="../../css/animate.min.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">
</head>
<body>
<div id="guess_detail_html"></div>
<script type="text/html" id="guess_detail">
  <% var FLAG=0;%>
  <% var isLiupai=0;%>
  <% var guess_info=guess.guess_info;%>
  <%if(guess.guess_info.guess_start_flag===true) {FLAG=1;%>
  <!--趣猜未开始-->
  <%}else if(guess.guess_info.guess_start_flag===false&&guess.guess_info.guess_end_flag===true) { FLAG=2;%>
  <!--据开始-趣猜未结束-->
  <%}else if(guess.guess_info.guess_end_flag===false) { FLAG=3;%>
  <!--趣猜结束-->
  <%}%>

  <%if(FLAG===3&&guess_info.if_has_actor && guess_info.winer){isLiupai=1%>
  <!--未流拍，有人中奖-->
  <%}else{isLiupai=0%>
  <!--流拍，无人中奖-->
  <%}%>

  <div class="qucai_detail_top">
    <%if(isLiupai===1){%>
    <div class="pub_start_time winning">
      <%}else{%>
      <div class="pub_start_time">
        <%}%>
        <%if(FLAG===1){ %>
        <div class="cutedown" data-date="<%=guess_info.guess_start_remain_time;%>" data-type="3">
          距开始
          <div class="cutedown_con"></div>
        </div>
        <%}%>
        <%if(FLAG===2){ %>
        <div class="cutedown start_ing" data-date="<%=guess_info.guess_end_remain_time;%>" data-type="3">
          距结束
          <div class="cutedown_con"></div>
        </div>
        <%}%>
        <%if(FLAG===3){ %>
        <div class="cutedown">
          已结束
        </div>
        <%if(isLiupai){ %>
        <span class="result">中奖者:<%=guess_info.winer.member_name%></span>
        <%}%>
        <%}%>

        <i class="iconfont icon-naozhong remind <%=guess_info.is_remind_flag?'active':''%>"></i>
      </div>
    </div>
    </div>
    <div class="qucai_detail_works">
      <div class="swiper-container qucai_detail_banner">
        <div class="swiper-wrapper">
          <%for (var i=0;i< banner.list.length;i++){%>
          <a href="javascript:void(0);" class="swiper-slide"><img src="<%= banner.list[i] %>" alt=""></a>
          <%}%>
        </div>
        <div class="swiper-pagination qucai_detail_pagination"></div>
      </div>
      <h2 class="detail_works_name"><%=guess_info.gs_name;%></h2>
      <div class="detail_works_price">竞猜价：<b>￥<%=guess_info.gs_min_price;%> ~ <%=guess_info.gs_max_price;%></b></div>
      <div class="detail_works_follow">
        <i><%=guess_info.joined_times;%>人参与竞猜</i>
        <i class="iconfont icon-chakan"><%=guess_info.views;%></i>
        <!--<i class="iconfont icon-icon-test">2000</i>-->
      </div>
      <div class="detail_works_contact">
        <i class="iconfont icon-guanzhu1 collect <%=guess_info.is_favorite_flag?'active':''%>"></i>
        <!--<i class="iconfont icon-fenxiang"></i>-->
      </div>
    </div>
    <div class="qll_goods_detail_artist detail_artist">
      <div class="qll_artist_info detail_artist_info ">
        <div>
          <b class="qll_artist_name"><%=guess.guess_info.store_name%></b>
        </div>
        <div>
          <%if(guess.guess_info.goods_attr){%>
            <%for(var i in guess.guess_info.goods_attr){var item=guess.guess_info.goods_attr;%>
            <span><%=item[i][0]%>：<%=item[i][1]%></span>
            <%}%>
          <%}%>

        </div>
      </div>
      <a href="../store.html?store_id=<%=guess_info.store_id%>" class="qll_artist_img">
        <img src="<%=guess_info.store_avatar%>" alt="">
      </a>
    </div>


    <%if((FLAG==1||FLAG===2)){%>
    <div class="qll_quiz_price">
      <b>最低竞猜价格 ￥<%=guess_info.guess_offer_min;%></b>
      <b>最高竞猜价格 ￥<%=guess_info.guess_offer_max;%></b>
    </div>
    <%}%>
    <%if(FLAG===3&&guess_info.winer){%>
    <div class="qll_quiz_price_result">
      <h3 class="title">开奖揭幕</h3>
      <span style="width:100%;margin-bottom: 1rem">中奖人：<%=guess_info.winer.member_name%></span>
      <div class="result">
        <span style="color: #cf9900;">中猜价：¥<%=guess_info.winer.gs_offer_price%></span>
        <span>趣猜价：¥<%=guess_info.gs_right_price%></span>
        <span>诺币奖励：<%=guess_info.points%>诺币</span>
        <span>市场估值：¥<%=guess_info.gs_estimate_price%></span>
        <span>购买价：¥<%=guess_info.gs_discount_price%></span>
        <span>购买折扣：<%=guess_info.discount%>折</span>
        <div class="botot">
        <span>最低竞猜价格 ￥<%=guess_info.gs_min_price;%></span>
        <span>最高竞猜价格 ￥<%=guess_info.gs_max_price;%></span>
        </div>
      </div>
    </div>
    <%}%>

    <div class="qucai_record">
      <a href="qucailist_more.html?gs_id=<%=guess_info.gs_id%>" class="record_top">
        <span>趣猜记录 | <%=guess_info.joined_times;%>条</span>
        <i class="iconfont icon-xiangyoujiantou"></i>
      </a>
      <div class="record_list_block">
        <ul>
          <% if(guess_info.guesslog){ %>
          <%for(i = 0; i < guess_info.guesslog.length; i++){ %>
          <%if(i <5){ %>
          <li class="item_content">
            <dl>
              <dt class="name"><i class="iconfont icon-shouji"></i><%=guess_info.guesslog[i].member_name;%></dt>
              <% if(guess_info.guesslog[i][gs_state] == 3){ %>
              <dd class="state">中奖</dd>
              <%}else{%>
              <dd class="state">参与</dd>
              <%}%>
              <dd class="date"><span><%=guess_info.guesslog[i].partake_time;%></span></dd>
              <dd class="price">&yen;<%=guess_info.guesslog[i].gs_offer_price;%></dd>
            </dl>
          </li>
          <%}}}%>
        </ul>
      </div>
    </div>
    <div class="qll_works_img">
      <%= guess.guess_info.detail %>
    </div>
    <% if(guess.more_guess.length){ var more_guess=guess.more_guess;%>
    <div class="qll_qucai_recommend">
      <div class="pub_title mtb15">
        <div class="pub_left_title"></div>
        <div class="pub_center_title">趣猜推荐</div>
        <div class="pub_right_title"></div>
      </div>
      <ul>
        <% for(i = 0; i < more_guess.length; i++){ %>
        <li class="qucai_list_item">
          <h3 class="qucai_detail_title"><%=more_guess[i].gs_name %></h3>
          <a href="./xiangqing-qucai.html?gs_id=<%=more_guess[i].gs_id%>" class="qucai_detail_img">
            <img src="<%=more_guess[i].gs_img %>" alt="<%=more_guess[i].gs_name %>">
          </a>
          <div class="qucai_detail_info">
            <div class="qucai_info_left_top">
              <span class="qucai_info_price">竞猜价格区间：￥<%=more_guess[i].gs_min_price || 0%>-<%=more_guess[i].gs_max_price || 0%></span>
              <span class="qucai_info_num"><i class="iconfont icon-chakan"><%=more_guess[i].views || 0 %>人</i><i><%=more_guess[i].joined_times || 0 %>人参与竞猜</i></span>
            </div>
            <div class="qucai_info_left_bottom">
                  <div class="cutedown" data-date="<%=more_guess[i].gs_remain_time%>">
                      <%=more_guess[i].gs_time_flag===2?'距结束':'距开始'%>
                      <div class="cutedown_con"></div>
                  </div>
            </div>
          </div>
        </li>
        <%}%>
      </ul>
    </div>
    <%}%>
    <!--总计6种状态判断-->
    <!--结束且当前用户中奖-->
    <%if(guess_info.winer&&guess_info.winer.member_id===u_id&&FLAG===3&&is_guess){%>
    <!--三个状态 1、已中奖未领取 2、已中奖未领取已过时 3、已中奖已领取-->
    <%if(guess_info.winer.gs_state==3&&guess_info.if_has_actor){%>
    <div class="qucai_detail_bottom" goods_id="<%=guess_info.goods_id%>" style="background: #666666;color:#fff;">
      奖品已领取
    </div>
    <%}else if(guess_info.winer.gs_state==2&&guess_info.if_out_time){%>
    <div class="qucai_detail_bottom"  style="background: #666666;color:#fff;">
      您已错过领奖
    </div>
    <%} else if(guess_info.winer.gs_state==2&&guess_info.if_has_actor) { %>
    <div class="qucai_detail_bottom" id="submit" goods_id="<%=guess_info.goods_id%>" style="background: #800000;color:#fff;">
      恭喜您中奖，前去领奖
    </div>
    <%}%>

    <%}%>
    <!--结束 但用户未参与 is_guess===0 未出价-->
    <%if(!is_guess && FLAG===3){%>
    <div class="qucai_detail_bottom"  style="background: #666666;color:#fff;">
      竞猜已结束
    </div>
    <%}%>

    <!--结束 用户参与 但未中奖-->
    <%if(is_guess&&FLAG===3&&guess_info.winer&&guess_info.winer.member_id!=u_id){%>
    <div class="qucai_detail_bottom"  style="background: #666666;color:#fff;">
      很遗憾，您本次未中奖
    </div>
    <%}%>

    <%if(FLAG===2){%>
    <!--进行状态，如果已经参与-->
    <%if(is_guess){%>
    <div class="qucai_detail_bottom">
      已出价
    </div>
    <%}else{%>
    <!--进行状态，如果没有参与-->
    <div class="qucai_detail_bottom" id="chujia" >
      竞猜出价
    </div>
    <%}%>
    <%}%>
    <%if(FLAG===1){%>
    <div class="qucai_detail_bottom"  style="background: #666666;color:#fff;">
      等待趣猜开始
    </div>
    <%}%>

</script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/tmpl/xiangqing-qucai.js"></script>
</body>
</html>
