<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="Author" contect="U2FsdGVkX1+liZRYkVWAWC6HsmKNJKZKIr5plAJdZUSg1A==">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
	<title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/nctouch_products_list.css">
	<link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
    <link rel="stylesheet" href="../dist/css/main.css">
    <link rel="stylesheet" href="../css/lm/lm_style.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../css/lm/iconfont.css">
</head>
<body>
  <div class="lm_artlist_top">
    <div class="lm_all_category lm_artlist_top_left "><span>综合排序</span> <i class="lm_arrow"></i>
      <ul class="lm_category">
        <li order="artist_vendue_id"><a href="#">最新排序</a></li>
        <li order="artist_click"><a href="#">热度排序</a></li>
      </ul>
    </div>
    <form class="qll_title_search" action="">
      <input type="text" class="qll_search_tip search_keyword" placeholder="输入姓名">
      <button class="qll_search_btn"><i class="iconfont icon-sousu"></i></button>
    </form>
    <div class="lm_artlist_top_right">
      <a href="#" class="lm_screen_btn lm_all_category"><span>筛选</span> <i class="lm_arrow"></i></a>
      <div class="lm_change_list"></div>
    </div>
  </div>

  <div class="artist_list_con " id="artist_list_wrapper">
  </div>
</div>
  <div class="mb20 qll_nctouch_layout">
	<div id="product_list" class="list">
		<ul class="goods-secrch-list">
		</ul>
	</div>
</div>
<!--筛选部分-->
<div class="nctouch-full-mask hide">
	<div class="nctouch-full-mask-bg"></div>
	<div class="nctouch-full-mask-block">
		<div class="header">
			<div class="header-wrap">
				<div class="header-l"> <a href="javascript:void(0);"><i class="back"></i></a></div>
				<div class="header-title">
					<h1>商品筛选</h1>
				</div>
				<div class="header-r"><a href="javascript:void(0);" id="reset" class="text">重置</a> </div>
			</div>
		</div>
		<div class="nctouch-main-layout-a secreen-layout" id="list-items-scroll" style="top: 2rem;"><div></div></div>
	</div>
</div>
<div class="fix-block-r">
	<a href="member/views_list.html" class="browse-btn"><i></i></a>
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="search_items">
	<div>
		<dl>
			<dt>价格区间</dt>
			<dd>
				<span class="inp-balck"><input type="text" id="price_from" nctype="price" pattern="[0-9]*" class="inp" placeholder="最低价"/></span>
				<span class="line"></span>
				<span class="inp-balck"><input nctype="price" type="text" id="price_to" pattern="[0-9]*" class="inp" placeholder="最高价"/></span>
			</dd>
		</dl>
		<dl style="display: none">
			<dt>商品所在地</dt>
			<dd><span class="inp-balck add"><select id="area_id">
					<option value="">不限</option>
    				<% for (i = 0; i < area_list.length; i++) { %>
    				<option value="<%=area_list[i]['area_id']%>"><%=area_list[i]['area_name']%></option>
    				<% } %>
    				</select>
					<i></i>
			</span>
			</dd>
		</dl>
		<dl style="display: none">
			<dt>商品类型</dt>
			<dd>
				<a href="javascript:void(0);" nctype="items" id="gift" class="">赠品</a>
				<a href="javascript:void(0);" nctype="items" id="groupbuy">团购</a>
				<a href="javascript:void(0);" nctype="items" id="xianshi">限时折扣</a>
				<a href="javascript:void(0);" nctype="items" id="virtual">虚拟</a>
			</dd>
		</dl>
		<dl>
			<dt>店铺类型</dt>
			<dd>
				<a href="javascript:void(0);" nctype="items" id="own_shop" class="">平台自营</a>
			</dd>
		</dl>
		<% if(contract_list.length >0){%>
		<dl style="display: none">
			<dt>店铺服务</dt>
			<dd>
				<% for (i = 0; i < contract_list.length; i++) { %>
				<a href="javascript:void(0);" nctype="items" name="ci" value="<%=contract_list[i]['id']%>"><%=contract_list[i]['name']%></a>
				<% } %>
			</dt>
		</dl>
		<% } %>
		<div class="bottom">
			<!--lm 17.5.20-->
			<div class="error-tips"></div>
			<a href="javascript:void(0);" class="btn-l" id="search_submit">筛选商品</a>
		</div>
	</div>
</script>
<!--筛选部分-->
</body>
<script type="text/html" id="home_body">
	<% var goods_list = datas.goods_list; %>
	<% if(goods_list.length >0){%>
	<%for(i=0;i<goods_list.length;i++){%>
	<li class="qll_goods_item" goods_id="<%=goods_list[i].goods_id;%>">
				<span class="qll_goods_pic">
					<a href="product_detail.html?goods_id=<%=goods_list[i].goods_id;%>">
						<img src="<%=goods_list[i].goods_image_url;%>"/>
					</a>
				</span>
		<dl class="qll_goods_info">
			<dt class="qll_goods_name">
				<a href="product_detail.html?goods_id=<%=goods_list[i].goods_id;%>">
					<h4><%=goods_list[i].goods_name;%></h4>
					<h6><%=goods_list[i].goods_jingle;%></h6>
				</a>
			</dt>
			<dd class="qll_goods_address">
				天光墟
			</dd>
			<dd class="qll_goods_sale">
				<a href="product_detail.html?goods_id=<%=goods_list[i].goods_id;%>">
							<span class="goods-price">￥<em><%=goods_list[i].goods_price;%></em>
							</span>
				</a>
				<i class="iconfont icon-guanzhu1 qll_quxiao"></i>
				<i class="iconfont icon-guanzhu qll_guanzhu" style="display:none;"></i>
			</dd>
		</dl>
	</li>
		<li style="display:none;" class="qll_goods_item_change" goods_id="<%=goods_list[i].goods_id;%>">
				<span class="qll_goods_pic_change">
					<a href="product_detail.html?goods_id=<%=goods_list[i].goods_id;%>">
						<img src="<%=goods_list[i].goods_image_url;%>"/>
					</a>
				</span>
		<dl class="qll_goods_info_change">
			<dt class="qll_goods_name_change">
				<a href="product_detail.html?goods_id=<%=goods_list[i].goods_id;%>">
					<h4><%=goods_list[i].goods_name;%></h4>
					<h6><%=goods_list[i].goods_jingle;%></h6>
				</a>
			</dt>
			<dd class="qll_goods_address_change">
				<span>天光墟</span>
				<a class="qll_goods_sale_change" href="product_detail.html?goods_id=<%=goods_list[i].goods_id;%>">
					<span class="qll_goods_price">￥<em><%=goods_list[i].goods_price;%></em></span>
				</a>
				<span class="qll_guanzhu_change">
					<i class="iconfont icon-guanzhu1 qll_quxiao" style="display:none;"></i>
					<i class="iconfont icon-guanzhu qll_guanzhu"></i>
				</span>
			</dd>
		</dl>
	</li>
	<%}%>
	<% if (hasmore) {%>
	<li class="loading"><div class="spinner"><i></i></div>商品数据读取中...</li>
	<% } %>
	<%
	}else {
	%>
	<div class="nctouch-norecord search">
		<div class="norecord-ico"><i></i></div>
		<dl>
			<dt>没有找到任何相关信息</dt>
			<dd>选择或搜索其它商品分类/名称...</dd>
		</dl>
		<a href="javascript:history.go(-1)" class="btn">重新选择</a>
	</div>
	<%
	}
	%>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/tmpl/product_list.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</html>