/* ================================ */
/* 初始化HTML标签及常用类型				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopnc.net	*/
/* Create Date:		Apr-01-2012		*/
/* Retrofit Date:	May-28-2014		*/
/* ================================ */


/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none; vertical-align: middle;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { font: 12px/20px "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; color: #666; background: #FFF none repeat scroll 0 0; min-width: 1200px;}
input, select, textarea { font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
i, cite, em { font-style: normal;}
input,button,select,textarea{ outline:none}
html {min-height:101%; }

/* 链接 */
a { color: #333; text-decoration: none; outline: medium none; -webkit-transition-property:color; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease; }
a:link, a:visited, a:active { text-decoration: none;}
a:hover { color: #C81623; text-decoration: none;}

/* 超出隐藏（需要再设置宽高） */
.over_hidden{ display: block; overflow-x: hidden; overflow-y: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* input放大by input_max.js */
.parentCls { display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.js-max-input { font-size: 20px; color: #F40; background: #FFFAE5; white-space: nowrap; padding: 7px; border: solid 1px #FFD2B2;}



/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题 */
	.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
	.clearfix { display: inline-block;}
	html[xmlns] .clearfix { display: block;}
	*html .clearfix{height:1%;}
	*+html .clearfix{height:1%;}

time { color: #777;}

/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/*文字排版
******************************/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f20 { font-size:20px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t2 { text-indent:2em;}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}
.noborder { border-style:none!important; border-width: 0!important ;}

/*定位
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right !important; display:inline;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
/*.hidden { visibility:hidden;*/}
.none { display:none;}
.clear { clear: both; height: 0; font-size: 0; line-height:0; }

/*长度高度
******************************/
.w10 { width:10px;}
.w20 { width:20px;}
.w30 { width:30px;}
.w40 { width:40px !important;}
.w50 { width:50px !important;}
.w60 { width:60px !important;}
.w65 { width:65px !important;}
.w70 { width:70px !important;}
.w80 { width:80px !important;}
.w90 { width:90px;}
.w96 {width: 96px;}
.w100 { width:100px !important;}
.w110 { width:110px !important;}
.w120 { width:120px !important;}
.w130 { width:130px !important;}
.w150 { width:150px !important;}
.w160 { width:160px;}
.w180 { width:180px;}
.w200 { width:200px !important;}
.w210 { width:210px !important;}
.w230 { width:230px;}
.w240 { width:240px;}
.w250 { width:250px !important;}
.w270 { width:270px;}
.w300 { width:300px !important;}
.w340 { width:340px;}
.w380 { width:380px;}
.w400 { width:400px!important;}
.w450 { width:450px!important;}
.w500 { width:500px;}
.w530 { width:530px;}
.w600 { width:600px !important;}
.w700 { width:700px;}
.w780 { width: 780px;}
.w800 { width:800px;}
.w208 {width: 208px;}



.w { width:100%;}
.h20 { height: 20px !important;}
.h30 { height: 30px !important;}
.h40 { height: 40px !important;}
.h50 { height: 50px !important;}
.h80 { height: 80px;}
.h100 { height:100px !important;}
.h200 { height:200px ;}
.h500 { height:500px !important;}
.h { height:100%}
.size30 { width: 30px; height: 30px;}
.size32 { width: 32px; height:32px;}
.size40 { width: 40px; height:40px;}
.size60 { width: 60px; height:60px;}
.size70 { width: 70px; height: 70px;}
.size72 { width: 72px; height: 72px;}
.size75 { width: 75px; height: 75px;}
.size80 { width: 80px; height:80px;}
.size90 { width: 90px; height:90px;}
.size100 { width: 100px; height: 100px;}
.size110 { width: 110px; height: 110px;}
.size120 { width: 120px; height: 120px;}
.size128 { width: 128px; height: 128px;}
.size160 { width: 160px; height: 160px;}
.size160-48 { width: 160px; height: 48px;}
.size160 { width: 160px; height: 160px;}
.size184 { width: 184px; height: 114px; }
.size190 { width: 190px; height: 190px;}
.size196 { width: 196px; height: 196px;}
.size233 { width: 233px; }

/*边距
******************************/
.m0 { margin: 0!important; }
.m10 { margin:10px;}
.m15 { margin:15px !important;}
.m30 { margin:30px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt50 { margin-top:50px !important;}
.mt100 { margin-top:100px;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px !important;}
.mb50 { margin-bottom:50px;}
.mb100 { margin-bottom:100px;}
.ml5 { margin-left:5px!important;}
.ml10 { margin-left:10px!important;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml50 { margin-left:50px;}
.ml100 { margin-left:100px !important;}
.ml200 { margin-left:200px !important;}
.mr5 { margin-right:5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px !important;}
.mr50 { margin-right:50px !important;}
.mr100 { margin-right:100px;}

/*边距
******************************/
.p10 { padding:10px;}
.p15 { padding:15px;}
.p30 { padding:30px;}
.pt5 { padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt30 { padding-top:30px;}
.pt50 { padding-top:50px;}
.pt100 { padding-top:100px;}
.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px;}
.pb50 { padding-bottom:50px;}
.pb100 { padding-bottom:100px;}
.pl5 { padding-left:5px;}
.pl10 { padding-left:10px;}
.pl15 { padding-left:15px;}
.pl20 { padding-left:20px;}
.pl30 { padding-left:30px;}
.pl50 { padding-left:50px;}
.pl100 { padding-left:100px;}
.pr5 { padding-right:5px;}
.pr10 { padding-right:10px;}
.pr15 { padding-right:15px;}
.pr20 { padding-right:20px;}
.pr30 { padding-right:30px;}
.pr50 { padding-right:50px;}
.pr100 { padding-right:100px;}

.hr { font-size: 1px; display: block; height: 0; margin: 12px 0; border-top: 1px solid #E3E3E3; overflow: hidden;}
.hr-double { height: 1px; border-top: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3;}
.hr8 {  margin: 8px 0 !important;}
.hr12 { margin: 12px 0 !important;}
.hr16 { margin: 16px 0 !important;}
.hr18 { margin: 18px 0 !important;}
.hr24 { margin: 24px 0 !important;}
.hr32 { margin: 32px 0 !important;}
.hr.dotted { border-top-style: dotted;}
.hr-double.dotted { border-bottom-style: dotted;}

/* =====================
 * 表单元素格式化及伪类效果
 * ===================== */
input[type="text"], input[type="password"], input.text, input.password { font: 12px/20px Arial; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 20px; padding: 4px; border: solid 1px #E6E9EE; outline: 0 none;}
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.password:focus, textarea:focus { color: #333; border-color: #CCD0D9; outline: 0 none;}
input[type="text"].error, input[type="password"].error, textarea.error { border: dashed 1px #ED5564; outline: 0 none;}
textarea, .textarea { font: 12px/18px Arial; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 54px; padding: 4px; border: solid 1px #CCD0D9; outline: 0 none;}
select, .select { color: #777; background-color: #FFF; height: 30px; vertical-align: middle; *display: inline; padding: 0 4px; border: solid 1px #E6E9EE; *zoom:1;}
select option, .select option { line-height: 20px; display: block; height: 20px; padding: 4px;}
input[type="radio"], .radio { vertical-align: middle; display: inline-block; margin-right: 5px;}
.submit-border { vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; *zoom: 1;}
input[type="submit"], 
input[type="button"],
input.submit, 
a.submit { font-size: 12px; line-height: 30px; font-weight: bold; color: #FFF; background-color: #48CFAE; display: block; height: 30px; padding: 0 20px; border-radius: 3px; border: none 0; cursor: pointer; }
input[type="submit"]:hover, 
input[type="button"]:hover, 
input.submit:hover, 
a.submit:hover { text-decoration: none; color: #FFF; background-color: #36BC9B;}
input[type="file"] { line-height:20px; background-color:#FBFBFB; height: 20px; border: solid 1px #D8D8D8; cursor: default;}
.add-on { line-height: 28px; background-color: #F6F7Fb; vertical-align: top; display: inline-block; text-align: center; width: 28px; height: 28px; border: solid #E6E9EE; border-width: 1px 1px 1px 0;}
.add-on { *display: inline/*IE6,7*/; zoom:1;}
.add-on i { font-size: 14px; color: #434A54; *margin-top: 8px/*IE7*/; margin-right: 0!important;}
/*表单验证错误提示文字*/
label.error { font-size: 12px; color: #ED5564 !important; margin-left: 8px;}
label.error i { margin-right: 4px;}

/* 常用标准按钮样式定义
-------------------------------------------*/
a.ncbtn-mini,
a.ncbtn { font: normal 12px/20px "microsoft yahei", arial; color: #FFF; background-color: #CCD0D9; text-align: center; vertical-align: middle; display: inline-block; *display: inline; height: 20px; padding: 5px 10px; border-radius: 3px; cursor: pointer; *zoom: 1;}
a.ncbtn-mini { line-height: 16px; height: 16px; padding: 3px 7px; border-radius: 2px;}
a.ncbtn { height: 20px; padding: 5px 10px; border-radius: 3px; }
a:hover.ncbtn-mini,
a:hover.ncbtn { text-decoration: none; color: #FFF; background-color: #AAB2BD;}
a.ncbtn-mini i, 
a.ncbtn i { font-size: 14px !important; vertical-align: middle; margin: 0 4px 0 0 !important;}
/*葡萄柚红*/
a.ncbtn-grapefruit { background-color: #ED5564;}
a:hover.btn-grapefruit,
a:hover.ncbtn-grapefruit { background-color: #DB4453;}
/*白英橘*/
a.ncbtn-bittersweet { background-color: #FB6E52;}
a:hover.btn-bittersweet,
a:hover.ncbtn-bittersweet { background-color: #E9573E;}
/*向日葵黄*/
a.ncbtn-sunflower { color: #000; background-color: #FFCE55;}
a:hover.btn-sunflower,
a:hover.ncbtn-sunflower { color: #000; background-color: #F6BB43;}
/*青草绿*/
a.ncbtn-grass { background-color: #A0D468;}
a:hover.btn-grass,
a:hover.ncbtn-grass { background-color: #8CC051;}
/*薄荷绿*/
a.ncbtn-mint { background-color: #48CFAE;}
a:hover.btn-mint,
a:hover.ncbtn-mint { background-color: #36BC9B;}
/*水绿*/
a.ncbtn-aqua { background-color: #4FC0E8;}
a:hover.btn-aqua,
a:hover.ncbtn-aqua { background-color: #3BAEDA;}
/*牛仔蓝*/
a.ncbtn-bluejeansjeans { background-color: #5D9CEC;}
a:hover.btn-bluejeans,
a:hover.ncbtn-bluejeansjeans { background-color: #4B89DC;}
/*薰衣草紫*/
a.ncbtn-lavander { background-color: #AC92ED;}
a:hover.btn-lavander,
a:hover.ncbtn-lavander { background-color: #967BDC;}
/*玫瑰粉*/
a.ncbtn-lavander { background-color: #EC87BF;}
a:hover.btn-lavander,
a:hover.ncbtn-lavander { background-color: #D870AD;}
/*浅灰色*/
a.ncbtn-lightgray { color: #656D78; background-color: #F6F7FB;}
a:hover.btn-lightgray,
a:hover.ncbtn-lightgray { color: #434A54; background-color: #E6E9EE;}
/*中灰色*/
a.ncbtn-mediumgray { background-color: #CCD0D9;}
a:hover.btn-mediumgray,
a:hover.ncbtn-mediumgray { background-color: #AAB2BD;}
/*灰黑*/
a.ncbtn-darkgray { background-color: #656D78;}
a:hover.btn-darkgray,
a:hover.ncbtn-darkgray { background-color: #434A54;}

/* 翻页样式 */
.pagination { text-align: center; display:block; margin: 0 auto; padding: 15px 0;}
.pagination ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.pagination ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; margin: 0 0 0 -1px;}
.pagination ul li { *display: inline/*IE6、7*/; *zoom:1;}
.pagination li span { font: 600 12px/20px Verdana, Tahoma, Arial; color: #AAA; background-color: #FFF; text-align: center; display: block; min-width: 20px; padding: 8px; border: 1px solid #E6E6E6; position: relative; z-index: 1;}
.pagination li a span , 
.pagination li a:visited span { color: #555; text-decoration: none; background-color: #FFF; position: relative; z-index: 1;}
.pagination li a:hover span, 
.pagination li a:active span { color: #ED5564; text-decoration: none; border-color: #DB4453; position: relative; z-index: 9; cursor:pointer;}
.pagination li a:hover { text-decoration: none;}
.pagination li span.currentpage { color: #FFF; font-weight: bold; background-color: #ED5564; border-color: #DB4453; position: relative; z-index: 2;}
.pagination li:first-child { margin-right: 8px;}
.pagination li:last-child { margin-left: 8px;}

/*弹窗登录*/
.quick-login { background: #FFF; overflow: hidden; width: 298px; padding: 0 30px; }
.quick-login dl { width: 100%; margin: 0 auto; overflow: hidden;}
.quick-login dl dt { line-height: 20px; height:20px; margin: 8px 0 2px 0; text-shadow: 1px 1px 0 #FFF;}
.quick-login dl dd span { line-height: 28px; color: #999; margin-left:8px;}
.quick-login .text{ width: 250px;}

.quick-login ul { width: 100%; display:block; clear:both; margin: 20px auto 10px auto; padding-bottom:10px; overflow: hidden; border-bottom: solid 1px #E7E7E7;}
.quick-login ul li {line-height: 20px; color:#999;}
.quick-login ul li a { text-decoration:underline; font-weight:600; margin:0 2px;}
.quick-login ul li a.forget {  color: #FF7F00;}
.quick-login ul li a.register { color: #006DD9;}
.quick-login .enter { width: 100%; margin: 10px auto 20px auto; overflow: hidden;}
.quick-login .enter .submit { color:#FFF; line-height: 28px; font-weight:600; background-image: none; background-color: #ED5564; display: inline-block; width: 88px; padding: 0; margin: 0; border: 0; cursor:pointer;}
.quick-login .enter .submit:hover { background-color: #DB4453;}
.quick-login .enter .other { margin: 0 0 0 15px;}
.quick-login .enter a { line-height: 32px; color: #999; display: inline-block; margin-right: 8px;}
.quick-login .enter a i { background: url(../images/login.png) no-repeat; vertical-align: middle; display: inline-block; width: 32px; height: 32px; margin-right: 6px;}
.quick-login .enter a.qq i { background-position: 0 0;}
.quick-login .enter a:hover.qq { color: #3EB6E8;}
.quick-login .enter a:hover.qq i {background-position: -96px 0; text-decoration:none;}
.quick-login .enter a.sina i { background-position: -32px 0;}
.quick-login .enter span a:hover.sina { color: #F77362;}
.quick-login .enter span a:hover.sina i {background-position: -128px 0; text-decoration:none;}
.quick-login .enter a.wx i { background-position: -64px 0;}
.quick-login .enter span a:hover.wx { color: #4EA335;}
.quick-login .enter span a:hover.wx i {background-position: -160px 0; text-decoration:none;}


/*div宽高局中
******************************/
.thumb , .logo { display:table-cell; vertical-align:middle; text-align:center;}
.thumb i , .logo i { *display:inline-block; *height:100%; *vertical-align:middle; }
.thumb img , .logo img { *vertical-align:middle; }

.thumb-cut { overflow: hidden;}
.thumb-cut a { text-align: center; float: left; position:relative; overflow:hidden; }
.thumb-cut img { vertical-align: text-top; float: none; position:relative;}

#page { background-color: #F5F5F5; width: 100%; height: 29px; border-bottom: 1px solid #D8D8D8; }
/*会员级别图标*/
.nc-grade-mini { font: 600 italic 12px/16px Georgia,Arial; text-shadow: 1px 1px 0 rgba(0,0,0,0.25); color: #FFF4F4; background-color: #800000; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; height: 16px; padding: 1px 3px; border-radius: 2px; *zoom: 1/*IE7*/;}

/*用于ToolTip.js配合图片显示
******************************/
.trans_msg { background-color: #FFF; padding: 4px; border: solid 1px #CCC; box-shadow: 0 0 0 2px rgba(153,153,153,0.1); filter:alpha(opacity=100,enabled=1) revealTrans(duration=.2,transition=1) blendtrans(duration=.2);}
.trans_msg img { display: block; max-width: 150px; max-height: 150px;}
.warp-all { width: 1000px; margin: 0 auto;}

/* 公用顶部区域
-------------------------------------- */
.public-top-layout { font-family: Arial, "宋体"; line-height: 20px; color: #777; background-color: #FAFAFA; border-bottom: solid 1px #F0F0F0;}
.public-top-layout .topbar { height: 30px;}
.public-top-layout .user-entry { width: 50%; height: 20px; float: left; padding: 5px 0;}
.public-top-layout .user-entry a { color: #333333}
.public-top-layout .quick-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: right; width: 50%; height: 30px; float: right;}
.public-top-layout .quick-menu a { color: #777 !important;}
.public-top-layout .quick-menu dl { text-align: left; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; width: 80px; height: 30px; position: relative; z-index: 999; *zoom:1/*IE6、7*/;}
.public-top-layout .quick-menu dl dt { font-size: 12px; line-height: 20px; height: 20px; padding: 5px 0; position: absolute; z-index: 2; top: 0px; left: 12px;}
.public-top-layout .quick-menu dl dt a:hover { text-decoration: none; color: #F30;}
.public-top-layout .quick-menu dl dt i { background: url(../images/top_bg.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 6px; height: 3px; margin-left: 6px;-webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.public-top-layout .quick-menu dl.hover dt i { FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.public-top-layout .quick-menu dl dd { background-color: #FFF; display: none; width: 78px; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 0; left: 0;}
.public-top-layout .quick-menu dl.hover dd { display: block;}
.public-top-layout .quick-menu dl dd ul { width: 78px; margin: 30px 0 0 0; }
.public-top-layout .quick-menu dl dd ul li a { font-size: 12px; line-height: 24px; display: block; clear: both; padding: 2px 0 2px 11px;}
.public-top-layout .quick-menu dl dd ul li a:hover { text-decoration: none; background-color: #F7F7F7;}
.public-top-layout .quick-menu dl.weixin { width: 114px;}
.public-top-layout .quick-menu dl.weixin dt { background:url(../images/weixin.png) no-repeat 10px 8px; padding-left: 30px;}
.public-top-layout .quick-menu dl.weixin dd { width: auto; padding: 5px; right: 0; left: auto;}
.public-top-layout .quick-menu dl.weixin dd h4 { line-height: 18px; color:#F98016; text-align: center; margin: 30px 0 5px 0; font-size: 12px;}
.public-top-layout .quick-menu dl.weixin dd img { max-width: 96px; max-height: 96px;}


.warning { color: #C00; background-color: #FFC; width: 98%; clear: both; padding: 6px; margin: 6px auto; border: 1px dashed #F90;}
.warning label { clear: both; line-height: 20px;}


/* Scrollbar jQuery Plugin
-------------------------------------- */
.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-y { background-color: #AAA; height: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: absolute; z-index: auto; bottom: 3px; opacity: 0; filter: alpha(opacity=0); -webkit-transition: opacity.25s linear; -moz-transition: opacity .25s linear; transition: opacity .25s linear;}
.ps-container .ps-scrollbar-x { left: auto; height: 8px; bottom: 3px; }
.ps-container .ps-scrollbar-y { right: 3px; width: 8px; bottom: auto; }

.ps-container:hover .ps-scrollbar-x,
.ps-container:hover .ps-scrollbar-y { opacity: .6; filter: alpha(opacity=60);}
.ps-container .ps-scrollbar-x:hover,
.ps-container .ps-scrollbar-y:hover { opacity: .9; filter: alpha(opacity=90); cursor: default;}
.ps-container .ps-scrollbar-x.in-scrolling,
.ps-container .ps-scrollbar-y.in-scrolling { opacity: .9; filter: alpha(opacity=90);}

#cti { clear: both; display: block; float: none; }
#cti .wrapper { border-top: solid 1px #F5F5F5; overflow: hidden;}
#cti ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; padding: 30px 0; margin-left: -1px }
#cti li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 25%; zoom:1;}
#cti li span { vertical-align: middle; display: inline-block;}
#cti li .line { font-size: 0; background-color: #D7D7D7; width: 1px; height: 36px;}
#cti li .icon { width: 48px; height: 48px; margin: 0 6% 0 12%;}
#cti li .icon img { max-width: 48px; max-height: 48px;}
#cti li .name { font-size: 18px; line-height: 48px; color: #333;}

#faq { background-color: #FFF; width: 100%; overflow: hidden;}
#faq .wrapper { border: solid #F5F5F5; border-width: 1px 0;}
#faq ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; padding: 20px 2%;}
#faq li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 16%; zoom:1;}
#faq dl { display: block; width: 90%; margin: 0 auto;}
#faq dl dt { font: 600 16px/20px "microsoft yahei"; color: #666; padding: 5px; margin: 5px 0;}
#faq dl dd { font: 12px/20px "microsoft yahei"; white-space: nowrap; text-overflow: ellipsis; display: block; clear: both; padding: 2px 5px; overflow: hidden; }
#faq dl dd i { font-size: 0; line-height: 0; background: url(../images/top_bg.png) no-repeat -80px -10px; vertical-align: middle; display: inline-block; width: 3px; height: 3px; margin-right: 5px;}
#faq dl dd a { color: #999;}

#footer { font-size: 12px !important; text-align: center;  margin: 0 auto; padding-bottom: 10px; overflow: hidden;}
#footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#footer .vol { font-family: Verdana, Geneva, sans-serif; font-weight: 600; font-style: oblique; font-size: 12px;}
#footer .vol .b { color: #00F;}
#footer .vol .o { color: #F60;}
#footer .vol em { font-family: Georgia, Arial;  font-weight: 600; font-style: italic; color: #000; margin-left: 2px;}
/* tip提示 */
.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}

/* 侧边工具条 */
.nc-appbar { position: fixed; z-index: 1998; width: 35px; height: 100%; right: 0; top: 0; bottom: 0;}
.nc-appbar-tabs { width: 35px; height: 100%;}
.nc-appbar-tabs .ever { width: 35px; height: 158px; background-color: #000; position: absolute; z-index: 2; top: 50%; margin-top: -79px;}
.nc-appbar-tabs .variation { width: 35px; height: 100%; background-color: #000; position: relative; z-index: 1;}
.nc-appbar-tabs .variation .middle { width: 35px; height: 250px; margin-top: -125px; position: absolute; z-index: 1; top: 50%; left: 0;}
.nc-hidebar { display: block; position: absolute; z-index: 3; bottom: 15px; right: -79px; cursor: pointer;}
.nc-hidebar .nc-hidebar-bg { background: url(../images/toolbar.png) no-repeat -100px 0; width: 79px; height: 56px; position: relative; z-index: 1;}
.nc-hidebar .nc-hidebar-bg .user-avatar,
.nc-hidebar .nc-hidebar-bg .frame,
.nc-hidebar .nc-hidebar-bg .show { background: url(../images/toolbar.png) no-repeat; width: 36px; height: 36px; position: absolute; top: 10px; left: 15px;}
.nc-hidebar .nc-hidebar-bg .user-avatar { background-position: -100px 0px; z-index: 1;}
.nc-hidebar .nc-hidebar-bg .user-avatar img { max-width: 36px; max-height: 36px;}
.nc-hidebar .nc-hidebar-bg .frame { background-position: -100px -70px; z-index: 2;}
.nc-hidebar .nc-hidebar-bg .show { display: none; background-position: -140px -70px; z-index: 3;}
.nc-hidebar .nc-hidebar-bg:hover .show { display: block;}
.nc-hidebar:hover { background-position: -100px -60px;}

.nc-appbar-tabs .user { display: block;}
.nc-appbar-tabs .user .avatar { background-color: #FFF; width: 28px; height: 28px; margin: 3px auto 4px auto; border-radius: 14px;}
.nc-appbar-tabs .user .avatar img { width: 28px; height: 28px; border-radius: 14px;}
.nc-appbar-tabs span.icon { display: block; background: url(../images/toolbar.png) no-repeat; width: 35px; height: 35px;}
.nc-appbar-tabs .chat { display: block;}
.nc-appbar-tabs .chat .icon { background-position: 0 0;}

.nc-appbar-tabs .cart a { display: block; width: 35px; height: 100px; padding: 10px 0 0; border-top: dotted 1px #555; border-bottom: dotted 1px #555; position: relative; z-index: 1;}
.nc-appbar-tabs .chat a,
.nc-appbar-tabs .user a,
.nc-appbar-tabs .compare a,
.nc-appbar-tabs .gotop a { display: block; width: 35px; height: 35px; padding: 5px 0 6px 0; position: relative; z-index: 1;}

.nc-appbar-tabs .cart a:hover,
.nc-appbar-tabs .user a:hover,
.nc-appbar-tabs .chat a:hover, 
.nc-appbar-tabs .compare a:hover,
.nc-appbar-tabs .gotop a:hover { text-decoration: none; background-color: #F32613;}

.nc-appbar-tabs .compare .icon { background-position: 0 -40px;}
.nc-appbar-tabs .cart .icon { background-position: 0 -120px;}
.nc-appbar-tabs .cart .name { line-height: 16px; color: #FFF; display: block; text-align: center; width: 15px; padding: 0 10px; white-space: pre-wrap;}

.nc-appbar-tabs .prech { display: block; width: 35px; height: 158px;}

.nc-appbar-tabs .gotop { position: fixed; bottom: 0;}
.nc-appbar-tabs .gotop .icon { background-position: 0 -80px; opacity: 1;}
.nc-appbar-tabs .gotop:hover .icon { opacity: 1;}

.nc-appbar-tabs a i { font: 10px/12px Arial;  color: #FFF; background-color: #F32613; text-align: center; min-width: 12px; height: 12px; padding: 1px; border-radius: 100%; position: absolute; z-index: 1; top: 5px; right: 3px;}
.nc-appbar-tabs a:hover i { color: #F32613; background-color: #FFF;}
.nc-appbar-tabs a span.tit { line-height: 25px; color: #FFF; background: url(../images/toolbar.png) no-repeat -50px 0; white-space: nowrap; display: none; width: 50px; height: 25px; padding: 4px 21px 4px 15px; position: absolute; z-index: 1; top: 5px; right: 29px;}
.nc-appbar-tabs a:hover span.tit { display: block;}


/*工具条-会员登录*/
.nc-appbar-tabs .user-login-box { background-color: #FFF; width: 240px; padding: 10px 40px 30px 40px; border: solid 1px #CCC; position: absolute; z-index: 2; top: -32px; right: 35px; box-shadow: -4px 0 4px rgba(0,0,0,0.25);}
.nc-appbar-tabs .user-login-box i.arrow { background:url(../images/toolbar.png) no-repeat -100px -150px; width: 7px; height: 13px; position: absolute; z-index: 3; top: 45px; right: -7px;}
.nc-appbar-tabs .user-login-box a.close-a { font: 600 11px /16px Verdana, Geneva, sans-serif; text-decoration: none; color: #999; text-align: center; width: 16px; height: 16px; position: absolute; z-index: 3; top: 10px; right: 10px;}
.nc-appbar-tabs .user-login-box a { font: 12px/20px arial,"宋体"; color: #005EA6; text-decoration: underline; float: right;}
.nc-appbar-tabs .user-login-box dl {}
.nc-appbar-tabs .user-login-box dt { font: 13px/20px Arial,"microsoft yahei"; height: 20px; padding: 10px 0 0;}
.nc-appbar-tabs .user-login-box dt a { font: 12px/20px arial,"宋体"; color: #005EA6; text-decoration: underline; float: right;}
.nc-appbar-tabs .user-login-box dd {}
.nc-appbar-tabs .user-login-box dd .text { line-height: 20px; width: 226px; height: 20px; padding: 3px 5px; border: solid 1px #CCC;}
.nc-appbar-tabs .user-login-box .bottom { margin-top: 20px;}
.nc-appbar-tabs .user-login-box .submit { font: 600 14px/20px Arial,"microsoft yahei";  color: #FFF; background-image:none;background-color: #D93600; width: 240px; height: 30px; border: solid 1px #B22D00; cursor: pointer;}
/*工具条-会员信息*/
.nc-appbar-tabs .user-info { background-color: #FFF; width: 240px; padding: 9px 19px; border: solid 1px #CCC; position: absolute; z-index: 2; top: -32px; right: 35px; box-shadow: -4px 0 4px rgba(0,0,0,0.25);}
.nc-appbar-tabs .user-info i.arrow { background:url(../images/toolbar.png) no-repeat -100px -150px; width: 7px; height: 13px; position: absolute; z-index: 3; top: 45px; right: -7px;}
.nc-appbar-tabs .user-info .avatar { width: 88px; height: 88px; float: left; position: relative; z-index: 1;}
.nc-appbar-tabs .user-info .avatar .frame { background: url(../images/point_bg.png) no-repeat 0 0; width: 88px; height: 88px; position: absolute; z-index: 2; top: 0; left: 0;}
.nc-appbar-tabs .user-info .avatar img { width: 80px; height: 80px; position: absolute; z-index: 1; top: 4px; left: 4px;}
.nc-appbar-tabs .user-info dl { display: block; width: 140px; float: left; margin: 10px 0 0 10px;}
.nc-appbar-tabs .user-info dt { font: 600 14px/20px "microsoft yahei"; margin-bottom: 6px;}
.nc-appbar-tabs .user-info dd { line-height: 22px;}


#ncToolbar .content-box { background-color: #F5F5F5; width: 200px; height: 100%; border-left: solid 1px #7C8994; position: absolute; z-index: 0; top: 0; right: -210px; bottom: 0; box-shadow: -4px 0 2px rgba(0,0,0,0.25);}
#ncToolbar .content-box .top { height: 24px; padding: 9px 7px; border-bottom: dotted 1px #CCC; margin-bottom: 10px;}
#ncToolbar .content-box .top h3 { font: 16px/24px "microsoft yahei"; color: #333; display: inline-block; }
#ncToolbar .content-box .top a.close { background: url(../images/toolbar.png) no-repeat -100px -120px; width: 16px; height: 16px; margin-top: 4px; float: right;}
#ncToolbar .content-box .goods-list { background-color: #FFF; width: 180px; padding: 10px 0; margin: 0 auto;}
#ncToolbar .content-box .goods-list li { width: 160px; padding: 0 0 10px 0; margin: 0 auto; }
#ncToolbar .content-box .goods-info { width: auto; margin: auto;}
.nc-appbar .goods-pic { width: 120px; height: 120px; margin: 0 auto 10px auto;}
.nc-appbar .goods-pic a { line-height: 0; background: none; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; padding: 0; margin: 0; overflow: hidden;}
.nc-appbar .goods-pic a img { max-width: 120px; max-height: 120px; margin-top: expression( 120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/;}
.nc-appbar .goods-name a { font-weight: normal; line-height: 16px; color: #555; background: none; text-align: left; display: block; width: 100%; height: 16px; padding: 0; margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.nc-appbar .goods-price { font: 600 14px/20px Arial; color: #C00;}
.nc-appbar .goods-price .del { font: normal 12px/20px  Arial; color: #005EA6; display: none; float: right; cursor: pointer;}
#ncToolbar .goods-list li:hover .goods-price .del { display: block;}
#ncToolbar .content-box .no-compare { color: #999; line-height: 180px; text-align: center;}
.nc-appbar .content-box .btn-box { background-color: #F5F5F5; text-align: center; width: 160px; padding: 10px; position: absolute; z-index: 2; bottom: 0; left: 10px;}
.nc-appbar .content-box .btn-box a { background-color: #F32613; color: #FFFFFF; cursor: pointer; padding: 5px 10px;}
.nc-appbar .content-box .btn-box .total-price { color: #777; padding-bottom: 10px;}

.nc-appbar .cart-list { width: 180px; margin: 0 auto;}
.nc-appbar .cart-list li { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FFF; padding: 4px; border: solid 1px #FFF; margin-bottom: 10px; position: relative; z-index: 1;}
.nc-appbar .cart-list li:hover { border-color: #F32613; box-shadow: 3px 3px 0 rgba(204,204,204,0.75);}
.nc-appbar .cart-list .goods-pic,
.nc-appbar .cart-list dl { font-size: 12px; vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE6、7*/; *zoom:1; }
.nc-appbar .cart-list .goods-pic { width: 40px ; height: 40px; margin: 0;}
.nc-appbar .cart-list .goods-pic a { line-height: 0; background: none; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; padding: 0; margin: 0; overflow: hidden;}
.nc-appbar .cart-list .goods-pic a img { max-width: 40px; max-height: 40px; margin-top: expression( 40-this.height/2);}
.nc-appbar .cart-list dl { width: 125px; margin-left: 5px;}
.nc-appbar .cart-list .goods-name { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.nc-appbar .cart-list a.del { font: 600 10px/14px Arial; color: #FFF; background-color: #CCC; text-align: center; width: 14px; height: 14px; border-radius: 7px; position: absolute; z-index: 1; top: -5px; right: -5px;}
.nc-appbar .cart-list li:hover a.del { background-color: #F32613;}

/* 顶部搜索 */
#top_search_box .ui-widget-content { background: #FFF none !important; border-color: #CCC !important; border: 1px solid #dddddd;}
#top_search_box .ui-corner-all { line-height: 24px; display: block; color: #555 !important; text-indent: 8px;}
#top_search_box .ui-state-hover { font-weight: normal !important; color: #333 !important; text-decoration: none !important; background: #EEE none !important; border: none !important; cursor: pointer !important;}

/* 调试模式 */
.trace { font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size: 12px; color: #000; line-height: 18px; background:#FFF299; width: 95%; padding:  1%; margin: 1%; border: 1px dashed silver;}
.trace fieldset { margin:8px;}
.trace fieldset legend { font-size: 16px; color: #000; font-weight:bold;}
.trace fieldset div { display: block; white-space: normal; word-break:break-all;  width: inherit; max-height: 300px; _height: 300px; text-align: left; overflow: auto;}

.member-card { width: 280px; margin: -5px -9px;}
.member-card dl { padding: 5px 9px; position: relative; z-index: 1;}
.member-card dl dt.member-id { line-height: 20px; color: #333; height: 20px; margin-left: 85px;}
.member-card dl dt.member-id i { background: url(../images/member-card/sex.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 5px;}
.member-card dl dt.member-id i.sex1 { background-position: 0 0;}
.member-card dl dt.member-id i.sex2 { background-position: 100% 0;}
.member-card dl dt.member-id i.sex3 { display: none;}
.member-card dl dt.member-id a { font-size: 14px; font-weight: 600;}
.member-card dl dd.avatar { width: 72px; height: 72px; padding: 2px; border: solid 1px #E7E7E7; position: absolute; z-index: 1; top: 5px; left: 9px;}
.member-card dl dd.avatar img { width: 72px; height: 72px;}
.member-card dl dd.info { height: 60px; margin-left: 85px;}
.member-card dl dd.info li { line-height: 20px; vertical-align: middle; height: 20px;}
.member-card dl dd.ajax-info { line-height: 20px; margin-top: 5px;}
.member-card .bottom { background-color: #F8FBFE; padding: 5px 9px; border-top: solid 1px #AED2FF; overflow: hidden; }
.member-card .follow-handle { }
.member-card .follow-handle a{ font-size: 12px; font-weight: 600; text-decoration: none; text-shadow: 1px 1px 0 rgba(0,0,0,0.25); line-height: 16px; color: #FFFFFF; background-color: #44AA5D; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44AA5D', endColorstr='#289D55'); background-image: -webkit-gradient( linear, left top, left bottom, from(#44AA5D), to(#289D55)) ; background-image: -moz-linear-gradient(top, #44AA5D, #289D55); display: inline-block; height: 16px; padding: 4px 12px; border: 1px solid #289D55; cursor: pointer; box-shadow: 1px 1px 0 rgba(255,255,255,0.75); margin-right: 10px; }

.member-card .send-msg { float: right; padding: 5px;}
.member-card .send-msg a { font-size: 12px; line-height: 16px; color: #777; height: 16px; }
.member-card .send-msg a i { background: url(../images/member-card/mail-send.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 4px;}

/*以下为分销模块样式*/
.hide{ display:none !important}
.d_index{ width:1200px; margin-left:auto; margin-right:auto; margin-top:30px; margin-bottom:0}
.d_index_box-01{ width:49%; margin-bottom: 30px;}
.d_index_box-02{ width:100%}
.d_index_box-01 h1,.d_index_box-02 h1{ height:20px; padding-bottom:16px;}
.d_index_box-01 span,.d_index_box-02 span{ display:block; margin-left:10px; font-size:16px; color:#666; line-height:22px}
.d_index_box-01 div{ border:#f2f2f2 solid 1px; border-top:none; width:100%; height:400px}
.d_index_box-01 div a{ display:block;}
.d_index_box-01 div a:hover{transition: box-shadow .2s ease-in; box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-moz-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-ms-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-o-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.15); z-index:99}
.d_index_shop{ display:block;border-left:#e5e5e5 solid 1px;}
.d_index_shop li{position: relative; z-index: 1; display:inline-block;border-right:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px; float:left;}
.d_index_shop li:hover{transition: box-shadow .2s ease-in; box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-moz-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-ms-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-o-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.15); z-index:99}
.d_index_shop li a{ display:block;}
.d_index_box-01 .d_index_shop li a img{ width:292px; height:397px;max-width:292px; max-height:397px;}
.d_index_box-02 .d_index_shop li a img{width:298px; height:120px;max-width:298px; max-height:120px;}
.d_index_box-03 .d_index_shop li a img{width:398px !important; height:160px !important;max-width:398px !important; max-height:160px !important;}
.d_index .d_list li{ padding:2px; margin:10px; width:214px; height:auto; border:#e5e5e5 solid 1px; float:left;-webkit-transition:.3s ease-in;-o-transition:.3s ease-in;transition:.3s ease-in}
.d_index .d_list li:hover{transition: box-shadow .2s ease-in; box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-moz-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-ms-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-o-box-shadow:0 2px 8px 0 rgba(0,0,0,.15);-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.15); z-index:99}
.d_index .d_list .d_list_goods_img{ display:block; width:214px; height:214px;}
.d_index .d_list .d_list_goods_name{ width:194px; padding:4px 10px}
.d_index .d_list .d_list_goods_name span{ display:block;height:20px; overflow:hidden; color:#666; font-weight:normal}
.d_index .d_list .d_list_goods_name span:hover{ color:#f50}
.d_index .d_list .d_list_goods_name div{ clear:both;height:20px; margin:6px 0;}
.d_index .d_list .d_list_goods_name div span{ font-size:12px;}
.d_index .d_list .d_list_goods_name div span b{ font-size:14px}
.d_index .d_list .d_list_goods_name div span i{ font-size:13px; font-weight:200}
.d_index_gray9{ color:#999 !important}
.d_index_gray6{ color:#666 !important}
.d_index_orange{ color:#f50 !important}
.d_list_shop_name{ padding:8px 8px 14px; height:14px; background:#fafafa}
.d_list_shop_name img{ width:14px !important; height:14px !important; margin:3px 6px 0 0}
.d_list .checkbox{ width:100%; height:40px;}
.d_list .checkbox a{ width:50%; float:left; text-align:center; font-size:13px; line-height:42px;}
.d_list .checkbox a:hover{ background:#f9f9f9; color:#f50 !important}
.d_index_filtrate{ width:auto; padding-top:4px}
.d_index_filtrate select{ /*float:right;*/ margin-right:10px; width:120px; padding:0 10px; border:#e6e6e6 solid 1px;}
.d_index_filtrate select option{padding-left:10px; box-shadow:none; border:none}
.d_index_filtrate select {
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url(../images/arrow-down.jpg) no-repeat scroll right center #fff;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.d_index_filtrate select::-ms-expand { display: none; }
.d_index_filtrate input{ margin:1px 10px 0 0; width:54px; height:28px; text-align:center; color:#fff; background:#ff5500; border-radius:4px; padding:0; line-height:26px;}

/*弹出层*/
.cd-popup1,.cd-popup2{position:fixed;left:0;top:0;height:100%;width:100%;background-color:rgba(0,0,0,.5);opacity:0;visibility:hidden;-webkit-transition:opacity .3s 0s,visibility 0s .3s;-moz-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s;z-index:9999}
.cd-popup1.is-visible1,.cd-popup2.is-visible2{opacity:1;visibility:visible;-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container1,.cd-popup-container2{position:relative; left:50%; top:50%; margin-top:-120px; margin-left:-250px; padding:50px 40px 10px;width:500px;height:240px;background:#FFF;border-radius:.4rem .4rem .4rem .4rem;box-shadow:0 0 20px rgba(0,0,0,.2);-webkit-transform:translateY(-60px);-moz-transform:translateY(-60px);-ms-transform:translateY(-60px);-o-transform:translateY(-60px);transform:translateY(-60px);-webkit-backface-visibility:hidden;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.cd-popup-close{position:absolute;right:10px;top:10px;z-index:10;width:auto;height:1.25rem;display:block;font-size:14px}
.is-visible1 .cd-popup-container1,.is-visible2 .cd-popup-container2{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
.cd-popup-box div div img{ display:block; width:80px; height:auto}
.cd-popup-box div div h4{ text-align:left; font-size:0.9rem; float:left; width:80%; padding-left:20px}
.cd-popup-box div div h4 b{ color:#F32613; display:block; padding-top:0.8rem}
.cd-popup-box .share{ margin-top:45px}
.cd-popup-box .share .sharebord .item input[type="text"]{ width:78%; float:left}
.cd-popup-box .share .sharebord .item button{ width:18%; height:30px; float:right; background:#F32613; color:#fff; border:none; border-radius:0.3rem; font-family:"Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; font-weight:normal; cursor:pointer}
.cd-popup-box .bdsharebuttonbox{ margin-top:30px;}
.qrcodeTable{ margin-top:26px}
.qrcodeTable h4{ padding:2rem 0 0 1.5rem; width:40%}
#qrcodeTable{ display:block}
.cd-popup-box .w-55{ width:55%}
.cd-popup-box .w-45{ width:45%}
.cd-popup-box .share-qrcode{ position:absolute; right:1.5rem; top:3rem}
.bdsharebuttonbox a{ background:url(../images/share_icon.png) no-repeat !important;}
.bdsharebuttonbox a:first-child{cursor:default; padding:0 4px 0 0; line-height:28px; font-size:13px;background:none !important}
.bdsharebuttonbox .bds_tsina{ background-position:0 0 !important}
.bdsharebuttonbox .bds_qzone{ background-position:-33px 0 !important}
.bdsharebuttonbox .bds_weixin{ background-position:-66px 0 !important}
.bdsharebuttonbox .bds_tqq{ background-position:-98px 0 !important}
.bdsharebuttonbox .bds_sqq{ background-position:-131px 0 !important}

.d_index .detail-shop-info{ padding:20px 0; height:106px;}
.d_index .detail-shop-info img{ display:block; border:#e6e6e6 solid 1px; width:268px; height:106px;}
.d_index .detail-shop-info ul{ width:62%; padding:20px 0 0 50px;}
.d_index .detail-shop-info ul li{width:30%; float:left}
.d_index .detail-shop-info ul li:first-child{ width:40%;}
.d_index .detail-shop-info ul li span{ display:block; line-height:24px}
.d_index .detail-shop-info ul li span b{ color:#df1e36}
/*.d_index .detail-shop-info a{ display:block; padding:8px 0 0 20px; margin-top:22px; width:110px; height:32px; text-align:center; background:#ededed; border:#e0e0e0 solid 1px; color:#777; border-radius:4px;}

*/.d_index .detail-shop-info a i{background: url(../images/chat_state_01.gif) no-repeat center; width:21px; height:21px; display:block; background-position:0px 0px}
.d_index .detail-shop-info a span{ margin:1px 0 0 2px}
.d_index .detail-shop-info a:hover i{background-position:0px -21px}
.d_index .detail-shop-info a:hover span{ color:#999}
.d_index .detail-shop-data{ padding:30px; width:1140px; height:250px; background:#fafafa}
.d_index .detail-shop-data h1{ font-size:18px; color:#666}
.d_index .detail-shop-data .data-number{ margin:40px 0px 0;}
.d_index .detail-shop-data .data-number span{ display:block; line-height:34px;}
.d_index .detail-shop-data .data-number span b{ font-size:24px; color:#4385de}
.detail-shop-data canvas {display: block;margin: 0 auto;}
.d_index .detail-shop-data .chat-nav{ padding-right:30px; margin-bottom:14px}
.d_index .detail-shop-data .chat-nav a{ float:right; display:block; text-align:center; margin:0 0 0 16px; padding:3px 10px 4px; border:#f40 solid 1px; background:rgba(255,68,0,.8); color:#fff; border-radius:4px; font-weight:lighter}
.d_index .detail-shop-data .chat-nav a:first-child{ border:#4385de solid 1px; background:rgba(67,133,222,.8)}
.d_index .detail-shop-data .promote{ display:none}
.d_index .p-goods{ display:block; width:98.5%; height:20px; margin:18px auto 2px; font-size:14px; color:#999; padding-bottom:10px;border-bottom:#ddd solid 1px}
.d_index .detail-shop-data .chat{overflow:hidden; height:260px}

.nc-login-enter .nc-login-enter-info{font-size:14px;}
.nc-login-enter .nc-login-enter-info span{ color:#666}
.nc-login-enter .nc-login-enter-info a{color: #f50;}
.nc-login-enter .nc-login-enter-img{ margin:20px auto 30px; width:120px; height:120px; border-radius:50%; overflow:hidden;}
.nc-login-enter .nc-login-enter-img img{ width:120px; height:120px;}
.nc-login-enter .nc-login-enter-name{ text-align:center; font-size:16px; color:#333}
.nc-login-enter .nc-login-enter-btn{ display:block; margin:20px auto 14px; width:80%; height:40px; text-align:center; line-height:38px; font-size:14px; background:#F32613; border-radius:4px; color:#fff}
.nc-login-enter .nc-login-enter-btn:hover{ background:#f50}
.nc-login-enter .nc-login-enter-link{ width:100%; text-align:center}
.nc-login-enter .nc-login-enter-link a{ display:inline-block; padding:0 20px; font-size:12px; color:#666; border-left:#ccc solid 1px;}
.nc-login-enter .nc-login-enter-link a:first-child{ border-left:none}
.nc-login-enter .nc-login-enter-link a:hover{ color:#f50}
.nc-login-enter .nc-login-enter-ad{ position:absolute; left:50%; margin-left:-175px; bottom:10px; width:350px; height:120px;}

.d_list li img{ width:216px; height:216px;}
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
	.detail-shop-data canvas {margin:30px auto 0;}
	.d_index .detail-shop-data .chat-nav{ position:absolute; right:20px}
	.d_index .detail-shop-data .chat{ position:absolute}
}
.link_im{display: block;padding: 8px 0 0 0px;margin-top: 22px;width: 110px;height: 32px;text-align: center; background: #ededed; border: #e0e0e0 solid 1px; color: #777;border-radius: 4px;}
.text-left-word{ text-align:left}