@charset 'utf-8';
.new-mask {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  &.left {
    display: block;
    left: 0;
    right: 0;
    animation: optionBlockLeft 0.3s ease-in-out;
    .new-mask-header {
      left: 0 !important;
      right: 0 !important;
      animation: optionBlockLeft 0.3s ease-in-out;
    }
  }
  &.right {
    left: 110%;
    right: -110%;
    animation: optionBlockRight 0.5s ease-in-out;
    .new-mask-header {
      left: 110% !important;
      right: -110% !important;
      animation: optionBlockRight 0.5s ease-in-out;
    }
  }
  .new-mask-con {
    padding-top: 4rem;
    display: block;
    position: absolute;
    z-index: 12;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F5F5F5;
    box-shadow: -0.25rem 0 0.2rem rgba(0, 0, 0, 0.2);
    .new-mask-header {
      background: #000;
      position: fixed;
      top: 0;
      left: 0;
      height: 4rem;
      width: 100%;
      text-align: center;
      .back_history {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 4rem;
        i {
          color: #fff;
          font-size: 2rem;
        }
      }
      .text {
        color: #fff;
        flex: 1;
        font-size: 1.5rem;
        line-height: 4rem;
      }
    }
    .new-mask-box {
      display: block;
      background: #FFF;
      padding: 1rem 1.5rem;
      .title {
        margin: 0 0 1rem;
        font-size: 1.6rem;
        color: #000;
      }
    }
  }
}

@keyframes optionBlockLeft {
  from {
    display: none;
    left: 100%;
    right: -100%;
  }
  to {
    display: block;
    left: 0;
    right: 0;
  }
}

@-webkit-keyframes optionBlockLeft {
  from {
    display: none;
    left: 100%;
    right: -100%;
  }
  to {
    display: block;
    left: 0;
    right: 0;
  }
}

.nctouch-full-mask.right {
  left: 110%;
  right: -110%;
  animation: optionBlockRight 0.5s ease-in-out;
  -webkit-animation: optionBlockRight 0.5s ease-in-out;
}

@keyframes optionBlockRight {
  from {
    display: block;
    left: 0;
    right: 0;
  }
  to {
    display: none;
    left: 110%;
    right: -110%;
  }
}

@-webkit-keyframes optionBlockRight {
  from {
    display: block;
    left: 0;
    right: 0;
  }
  to {
    display: none;
    left: 110%;
    right: -110%;
  }
}

//直接复制
/*页内下部滑入遮罩*/
.nctouch-bottom-mask {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}

.nctouch-bottom-mask-bg {
  display: block;
  position: absolute;
  z-index: 21;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
}

.nctouch-bottom-mask-block {
  display: block;
  position: absolute;
  z-index: 22;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 12rem;
  background: #FFF;
}

.nctouch-bottom-mask.up {
  display: block;
  bottom: 0;
  animation: optionBlockUp 0.5s ease-in-out;
  -webkit-animation: optionBlockUp 0.5s ease-in-out;
}

@keyframes optionBlockUp {
  from {
    display: none;
    bottom: -100%;
  }
  to {
    display: block;
    bottom: 0;
  }
}

@-webkit-keyframes optionBlockUp {
  from {
    display: none;
    bottom: -100%;
  }
  to {
    display: block;
    bottom: 0;
  }
}

.nctouch-bottom-mask.down {
  animation: optionBlockDown 0.5s ease-in-out;
  -webkit-animation: optionBlockDown 0.5s ease-in-out;
}

@keyframes optionBlockDown {
  from {
    display: block;
    bottom: 0;
  }
  to {
    display: none;
    bottom: -100%;
  }
}

@-webkit-keyframes optionBlockDown {
  from {
    display: block;
    bottom: 0;
    opacity: 1;
  }
  to {
    display: none;
    bottom: -100%;
    opacity: 0;
  }
}

.nctouch-bottom-mask-tip {
  position: absolute;
  z-index: 1;
  top: -2.2rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: #FFF;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.nctouch-bottom-mask-tip i {
  background-image: url(../../images/back_down.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75%;
  width: 1.8rem;
  height: 1.9rem;
  display: inline-block;
  vertical-align: top;
  margin-right: .8rem;
}

.nctouch-bottom-mask-top {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem;
  border-bottom: solid 1px #EEE;
}

.nctouch-bottom-mask-close {
  position: absolute;
  z-index: 1;
  top: -1.3rem;
  right: 0;
  background: #FFF;
  width: 1.9rem;
  height: 1.9rem;
  padding: 0.3rem;
  border-radius: 100%;
}

.nctouch-bottom-mask-close i {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../images/close_window.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  opacity: .5;
}

.nctouch-bottom-mask-rolling {
  min-height: 1.9rem;
  max-height: 12rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/*购物车选择地址*/
.nctouch-cart-add-list {
  background: #FFF;
}

.nctouch-cart-add-list li {
  position: relative;
  z-index: 1;
  display: block;
  border-bottom: solid #EEE 0.05rem;
}

.nctouch-cart-add-list li i {
  position: absolute;
  z-index: 1;
  top: 0.8rem;
  left: 0.5rem;
  display: none;
  width: 0.7rem;
  height: 0.7rem;
  background-image: url(../../images/ok.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.nctouch-cart-add-list li.selected i {
  display: block;
}

.nctouch-cart-add-list dl {
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0;
  color: #666;
}

.nctouch-cart-add-list li.selected dl {
  margin-left: 1.8rem
}

.nctouch-cart-add-list dt {
  display: block;
  height: 0.9rem;
  margin-bottom: 0.2rem;
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #666
}

.nctouch-cart-add-list dt span {
  margin-right: 0.3rem;
  font-size: 0.7rem;
  color: #111;
}

.nctouch-cart-add-list dt span:last-child {
  font-weight: 600;
}

.nctouch-cart-add-list dt sub {
  display: inline-block;
  background-color: #DB4453;
  font-size: 0.45rem;
  line-height: 0.6rem;
  padding: 0 0.1rem;
  margin-left: 0.1rem;
  border-radius: 0.1rem;
  color: #FFF;
}

.nctouch-cart-add-list dd {
  display: block;
  min-height: 0.7rem;
  max-height: 1.4rem;
  font-size: 0.55rem;
  line-height: 0.7rem;
  color: #666
}

.nctouch-cart-subtotal {
}

.nctouch-cart-subtotal dl {
  position: relative;
  z-index: 1;
  height: 1rem;
  padding: 0.4rem 0 0;
  font-size: 0;
}

.nctouch-cart-subtotal dt {
  position: absolute;
  z-index: 1;
  top: 0.4rem;
  left: 0.4rem;
  display: block;
  width: 50%;
  height: 1rem;
  font-size: 0.6rem;
  line-height: 1rem;
}

.nctouch-cart-subtotal dd {
  height: 1rem;
  margin: 0 0.5rem 0 50%;
  text-align: right;
  font-size: 0.6rem;
  line-height: 1rem;
}

.nctouch-cart-subtotal .message {
  position: relative;
  z-index: 1;
  display: block;
  height: 1.6rem;
  padding-top: 0.4rem;
}

.nctouch-cart-subtotal .message input[type="text"] {
  display: block;
  width: 91%;
  height: 0.9rem;
  padding: 2%;
  margin: 0 2.5%;
  background-color: #F0F0F0;
  border: none;
  border-radius: 0.2rem;
  line-height: 0.9rem;
  font-size: 0.6rem;
}

.nctouch-cart-subtotal .store-total {
  padding: 0.5rem;
  text-align: right;
  font-size: 0.6rem;
  line-height: 0.9rem;
}

.nctouch-cart-subtotal .store-total span {
  font-size: 0.45rem;
  color: #DB4453;
}

.nctouch-cart-subtotal .store-total span em {
  font-size: 0.6rem;
  font-weight: 600;
}

.nctouch-cart-num {
  display: block;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  color: #000;
  line-height: 2rem;
}

.nctouch-cart-num em {
  font-size: 2rem;
  color: #DB4453;
  font-weight: 600;
  display: inline-block;
  vertical-align: sub;
  margin: 0 0.5rem;
  font-style: normal;
}

.nctouch-inp-cart ul {
  background-color: transparent;
}

.nctouch-inp-cart ul li {
  height: auto;
  margin: 0;
  background-color: transparent;
}

.nctouch-inp-cart ul li .input-box {
  margin: 0;
}

.nctouch-inp-cart ul li .input-box p {
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  top: 1.8rem;
  right: 1.5rem;
  color: #555;
}

.nctouch-inp-cart ul li .input-box p em {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  font-style: normal;
}

.nctouch-inp-cart ul li .input-box .txt {
  margin-left: 0.5rem;
}

.nctouch-inp-cart ul li .input-box .inp {
  width: 45%;
  background-color: #F5F5F5;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem 0 0.25rem;
  border-radius: 0.2rem;
}

.nctouch-inp-cart ul li .input-box .select {
  float: right;
  width: auto;
  text-align: right;
  margin-right: 1.1rem;
}

.nctouch-inp-cart ul li .input-box .arrow-down {
  right: 0.35rem;
}

.nctouch-inp-cart .pay-btn {
  display: block;
  margin: 0.5rem 0 0 0;
}

.nctouch-inp-cart .pay-btn .btn-l {
  height: 45px;
  line-height: 45px;
}

/*默认输入表单*/
.nctouch-inp-con {
  display: block;
  clear: both;
}

.nctouch-inp-con ul {
  background: #FFF;
}

.nctouch-inp-con ul li {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 2.95rem;
  margin-left: 0.5rem;
  background-color: #FFF;
  border-bottom: solid #EEE 0.05rem;
}

.nctouch-inp-con ul li:nth-last-child(1) {
  border-bottom: none 0;
}

.nctouch-inp-con ul li.upload-item {
  height: 2.55rem
}

.nctouch-inp-con ul li h4 {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 0;
  width: 100%;
  font-size: 0.6rem;
  line-height: 1.95rem;
  color: #444;
  text-align: left;
  text-indent: 16px
}

.nctouch-inp-con ul li .input-box {
  display: block;
  height: 3.95rem;
  margin: 0 0.5rem 0 3.5rem;
  position: relative;
  z-index: 1;
  padding: .6rem 0;
}

.nctouch-inp-con ul li.upload-item .input-box {
  height: 1.95rem;
  padding: 0.3rem 0;
}

.nctouch-inp-con ul li .input-box .inp {
  width: 45%;
  min-height: 1.95rem;
  padding: .8rem .5rem;
  border: 0 none;
  font-size: 1.2rem;
  line-height: 1.95rem;
  color: #000;
  float: right;
}

.nctouch-inp-con ul li .input-box .input-del {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
  width: 0.975rem;
  height: 0.975rem;
  background-image: url(../../images/cancel_b.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60%;
  opacity: 0.4;
}

.nctouch-inp-con ul li .input-box.write .input-del {
  display: block;
}

.nctouch-inp-con ul li .input-box .checkbox {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  left: 0.5rem;
}

.nctouch-inp-con ul li .input-box .txt {
  margin: 0 0 0 1.5rem;
  font-size: 0.7rem;
  line-height: 2.95rem;
  color: #555;
}

.nctouch-inp-con ul li .input-box .note {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0.25rem;
  height: 1.6rem;
  text-align: right;
}

.nctouch-inp-con ul li .input-box .note em {
  display: block;
  vertical-align: top;
  font-size: 0.6rem;
  font-weight: 600;
  color: #36BC9B;
  line-height: 0.8rem;
}

.nctouch-inp-con ul li .input-box .note h6 {
  display: block;
  vertical-align: top;
  font-size: 0.55rem;
  color: #999;
  line-height: 0.8rem;
}

.nctouch-inp-con ul li .input-box .select {
  width: 95%;
  height: 1.95rem;
  margin: 0;
  font-size: 0.55rem;
  background-color: transparent;
  line-height: 1.95rem;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none; /*for chrome*/
}

.nctouch-inp-con ul li .input-box .arrow-down {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0;
  display: block;
  width: 0.975rem;
  height: 0.975rem;
  background-image: url(../../images/arrow_down_b.png);
  background-repeat: no-repeat;
  background-repeat: 50% 50%;
  background-size: 50%;
  opacity: 0.5;
}

.nctouch-inp-con .form-btn {
  margin-top: 1rem;
}

.nctouch-inp-con .form-btn .btn {
  display: inline-block;
  width: 90%;
  height: 1.8rem;
  padding: 0;
  margin: 0 5%;
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-align: center;
  color: #888;
  background: #EEE;
  border: none;
  border-radius: 0.2rem;
}

.nctouch-inp-con .form-btn.ok .btn {
  color: #FFF !important;
  background: #ED5564;
}

/*开关*/
.input-box label {
  display: inline-block !important;
  height: 2.95rem !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  font-size: 1.2rem !important;
  line-height: 2.95rem !important;
  color: #555 !important;
}

.input-box label.checked {
  background-color: transparent !important;
  padding: 0 !important;
  color: #555 !important;
}

.input-box label input[type="checkbox"] {
  display: none;
}

.input-box label .power {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 3.6rem;
  height: 1.9rem;
  margin: 0 0.2rem;
  border: solid 0.05rem #DDD;
  border-radius: 1.5rem;
}

.input-box label .power i {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0rem;
  width: 1.9rem;
  height: 1.9rem;
  background-color: #FFF;
  border-radius: 100%;
  box-shadow: 0.05rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

.input-box label.checked .power {
  background-color: #48CFAE;
  border-color: #48CFAE;
}

.input-box label.checked .power i {
  left: auto;
  right: 0;
  box-shadow: -0.05rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

.nctouch-full-mask {
  z-index: 999999
}

a.btn-l {
  font-size: 16px
}

.nctouch-inp-con .form-btn .btn {
  font-size: 16px !important;
}

.nctouch-inp-con ul li .input-box {
  margin: 0 0.5rem 0 4rem;
}

.nctouch-bottom-mask {
  z-index: 999999
}

.nctouch-inp-cart ul li .input-box p {
  top: 1.5rem;
  margin: 0
}

.nctouch-inp-con ul li .input-box .txt {
  font-size: 14px
}

.input-box label .power i {
  top: -0.05rem;
}

.s-dialog-wrapper, .s-dialog-mask {
  z-index: 999999;
}

/*在线支付方式选择*/
.nctouch-pay {
  display: block;
}

.nctouch-pay .spacing-div {
  position: relative;
  z-index: 1;
  display: block;
  height: 2rem;
  margin: 0 1.5rem 2rem 1.5rem;
  border-bottom: solid #EEE 0.05rem;
}

.nctouch-pay .spacing-div span {
  position: absolute;
  z-index: 1;
  bottom: -1.3rem;
  left: 50%;
  display: block;
  width: 10rem;
  margin-left: -2.5rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  height: 1.6rem;
  background-color: #FFF;
  color: #888;
}

.nctouch-pay .pay-sel {
  display: block;
  font-size: 0;
  overflow: hidden;
}

.nctouch-pay label {
  float: left;
  width: 50%;
  height: 5rem;
  padding: 1.25rem 0;
  text-align: center;
  border: none !important;
}

.nctouch-pay label input[type="radio"] {
  display: none;
}

.nctouch-pay label span {
  display: inline-block;
  width: 8rem;
  height: 2.5rem;
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity: 0.5;
}

.nctouch-pay label.checked span {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: gray;
  opacity: 1;
}

.nctouch-pay label span.alipay {
  background-image: url(../../images/alipay.jpg);
}

.nctouch-pay label span.wxpay {
  background-image: url(../../images/wxpay.jpg);
}

/*操作提示弹出层*/
.s-dialog-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#BF000000', endColorstr='#BF000000');
  background: rgba(0, 0, 0, 0.75);
}

.s-dialog-wrapper {
  position: fixed;
  z-index: 9999;
  max-width: 12rem;
  min-width: 10rem;
  margin-top: -2rem;
  border-radius: 0.2rem;
}

.s-dialog-skin-green {
  background-color: rgba(255, 255, 255, 0.90);
  border: solid 0.05rem #000;
}

.s-dialog-skin-block {
  background-color: rgba(255, 255, 255, 0.90);
  border: solid 0.05rem #000;
}

.s-dialog-skin-red {
  background-color: rgba(255, 255, 255, 0.90);
  border: solid 0.05rem #000;
}

.s-dialog-content {
  padding: 0.8rem 0.6rem;
  text-align: center;
  font-size: 1.2rem !important;
  line-height:1.4rem !important;
}

.s-dialog-skin-green .s-dialog-content {
  color: #000;
}

.s-dialog-skin-red .s-dialog-content {
  color: #000;
}

.s-dialog-skin-block .s-dialog-content {
  color: #000;
}

.s-dialog-content h6 {
  display: block;
  font-size: 0.55rem;
  line-height: 0.9rem;
  color: #333;
}

.s-dialog-btn-wapper {
  display: block;
  padding: 0.6rem 0;
  border-top: solid 0.05rem rgba(0, 0, 0, 0.15);
  font-size: 0;
}

.s-dialog-btn-wapper a {
  display: inline-block;
  width: 49%;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 0.9rem;
  color: #0080FF;
  text-align: center;
}

.s-dialog-btn-wapper a:last-child {
  border-left: solid 0.05rem rgba(0, 0, 0, 0.15);
}

.s-dialog-skin-block .s-dialog-btn-wapper a {
  color: #0080FF;
}

.btn-l {
  display: inline-block;
  width: 100%;
  /*margin: 0 5%;*/
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-align: center;
  color: #FFF;
  background: #000;
  /*border-radius: 0.2rem;*/
}

//dialog结束


//上面是日期时间选择