@charset 'utf-8';
body,
html {
  font-size: 62.5% !important;
  color: #010101;
  max-width: 640px;
  margin: 0 auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//清除ios下默认的样式
input[type="button"], input[type="submit"], input[type="reset"], textarea, button, input[type="text"] {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

.gray {
  background: #f5f5f5;
}

.lm_arrow {
  font-size: 0;
  line-height: 0;
  vertical-align: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
  border-color: #777 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  transition: .2s ease-in;
}

//溢出省略号
.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
}

.lm_hidden {
  display: none !important;
}

.clear {
  zoom: 1;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.mtb15 {
  margin: 1.5rem 0;
}

.ptb {
  padding: 42px 0 6rem 0;
}

.pub_title {
  display: flex;
  position: relative;
  .pub_left_title, .pub_right_title {
    height: 2rem;
    flex: 1;
  }
  .pub_center_title {
    float: left;
    color: #b09f6a;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    position: relative;
    padding: 0 2rem;
    &:before {
      content: '';
      width: 2rem;
      height: 1px;
      background: #bfbfbf;
      position: absolute;
      left: -1.7rem;
      transform: rotate(135deg);
      top: 1.4rem;
    }
    &:after {
      content: '';
      width: 2rem;
      height: 1px;
      background: #bfbfbf;
      position: absolute;
      right: -1.7rem;
      transform: rotate(135deg);
      bottom: 1rem;
    }

  }
  .pub_left_title {
    border-top: #bfbfbf solid 1px;
    margin-top: .7rem;
  }
  .pub_right_title {
    border-bottom: #bfbfbf solid 1px;
    text-align: right;
    margin-top: .7rem;
    a {
      font-size: 1.2rem;
      color: #999999;
      line-height: 2rem;
      margin-right: .6rem;
      img {
        max-height: .6rem;
        margin-right: 1rem;
      }
    }
  }
  .guanggao {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    background: #b09f6a;
    border-radius: 4px;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -3px;
      content: '';
      font-size: 0;
      line-height: 0;
      vertical-align: -4px;
      display: inline-block;
      width: 0;
      height: 0;
      border-width: 6px;
      border-color: #b09f6a transparent transparent transparent;
      border-style: solid dashed dashed dashed;
      transition: .2s ease-in;
    }
  }
}

.maxw_img {
  img {
    width: 100%;
  }
}

/*公用列表*/
.pub_lm_list {
  ul {
    zoom: 1;
    font-size: 0;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    li {
      width: 46%;
      margin: 0 2% 1.2rem;
      //float: left;
      display: inline-block;
      .pub_lm_list_img {
        width: 100%;
        display: block;
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
        background: #fff;
        border: #dfdfdf solid 1px;
        border-radius: 2px;
        img {
          border-radius: 2px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .pub_lm_list_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pub_lm_list_left {
          width: 100%;
          overflow: hidden;
          .lm_title {
            font-size: 1.2rem;
            max-width: 100%;
            margin: .5rem 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            font-weight: normal;
          }
          .list_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price {
              color: #000000;
              font-size: 1.2rem;
              .market_price {
                font-size: 1.2rem;
                color: #808080;
              }
            }
            .source {
              color: #808080;
              font-size: 1rem;
            }
            .auction_price {
              color: #ab9758;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

}

.swiper-pagination {
  .swiper-pagination-bullet {
    background: #e1dac5;
    &.swiper-pagination-bullet-active {
      background: #f3b71b;
    }
  }
}

.pub_banner {
  position: relative;
  overflow: hidden;
  .swiper-slide {
    width: 100%;
    display: block;
  }
  img {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
  }
}

.pub_screen_top {
  z-index: 2;
  height: 4.2rem;
  width: 100%;
  background: #e1dac5;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pub_arrow {
    font-size: 0px;
    line-height: 0;
    vertical-align: -4px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 6px;
    border-color: #777 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    transition: .2s ease-in;
  }
  .pub_screen_top_left {
    padding-left: 1.4rem;
    width: 9rem;
    height: 100%;
    line-height: 4.2rem;
    font-size: 1.4rem;
    color: #010101;
    position: relative;
    .pub_category {
      position: absolute;
      background: #f7f7f7;
      width: 82%;
      left: 0;
      top: 100%;
      border: #e8e8e8 solid 1px;
      border-top: #f3b71b solid 2px;
      li {
        border-bottom: #e6ce8e solid 1px;
        a {
          color: #666;
          font-size: 1.4rem;
          text-align: center;
          display: block;
          width: 100%;
        }
      }
    }
  }

  .pub_screen_top_right {
    display: flex;
    align-items: center;
    width: 9rem;
    .pub_all_category {
      height: 100%;
      line-height: 4.2rem;
      font-size: 1.4rem;
      color: #010101;
      position: relative;
    }
    .pub_change_list {
      height: 1.6rem;
      width: 1.6rem;
      background-image: url(../../images/lm/lm_artlist_change.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-left: 2rem;
    }
  }
}

.pub_lm_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #e3e3e3;
  height: 42px;
  display: flex;
  align-items: center;
  .auction_header_left, .auction_header_msg {
    width: 60px;
    text-align: center;
    i {
      font-size: 2.4rem;
      color: #b5b5b5;
    }
  }
  .auction_header_search {
    flex: 1;
    height: 26px;
    display: flex;
    align-items: center;
    width: 100%;
    .inp {
      height: 100%;
      border: rgba(0, 0, 0, 0.09) solid 1px;
      border-radius: 6rem 0 0 6rem;
      background: #fff;
      border-right: none;
      padding: 0 1rem;
      flex: 1;
      font-size: 1.3rem;
    }
    .btn {
      height: 100%;
      border: rgba(0, 0, 0, 0.09) solid 1px;
      border-radius: 0 6rem 6rem 0;
      background: #fff;
      border-left: none;
      cursor: pointer;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      i {
        font-size: 1.8rem;
        color: #b5b5b5;
      }
    }
  }
  .auction_header_msg {
    i {
      position: relative;
    }
    .auction_header_num {
      position: absolute;
      top: 1px;
      right: 1px;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      background: #f3b71b;
      display: none;
    }
  }
  &.lm_left_back {

  }
}

.pabShop {
  padding-bottom: 5rem !important;
}

.pub_foo_shop {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  display: flex;
  width: 100%;
  .left {
    background: #f3f1e9;
    height: 100%;
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
      position: relative;
      height: 100%;
      width: 50%;
      color: #787878;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      i {
        font-size: 2rem;
      }
      .text {
        color: #777777;
        font-size: 1rem;
      }
      &:first-child {
        &:after {
          width: 1px;
          height: 100%;
          content: '';
          background: url("../../images/lm/qll_qucai_list_line.png");
          background-size: contain;
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          .right {
            flex: 6;
            background: #fabf13;
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
              color: #000;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

.lm_list_null {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .null_icon {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.4rem;
    margin: 0 auto;
    background-color: #DDD;
    border-radius: 100%;
    i {
      background-image: url(../../images/search_w.png);
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 80%;
    }
  }
  .lm_list_null_con {
    dl {
      height: 2.75rem;
      margin-top: 0.75rem;
      dt {
        display: block;
        font-size: 1.4rem;
        line-height: 1.5rem;
        color: #000;
        margin: 0 0 .25rem 0;
      }
      dd {
        display: block;
        margin: 0 0 .5rem 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: #999;
      }
    }
    .lm_list_null_btn {
      vertical-align: top;
      display: inline-block !important;
      padding: .4rem 0.3rem;
      margin: 10px auto;
      font-size: 1rem;
      color: #555 !important;
      line-height: 1.1rem;
      text-align: center;
      background-color: #FFF;
      border: solid 1px #CCC;
      border-radius: 0.15rem;
    }
  }
}

//横排列表布局左右布局
.public_rl_list {
  li {
    display: flex;
    padding: 1.5rem;
    background: #fff;
    margin: 1rem 0 0 0;
    .public_rl_left {
      width: 12.9rem;
      height: 12.9rem;
      border-radius: .4rem;
      margin-right: 1.5rem;
      img {
        border-radius: .4rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .public_rl_right {
      flex: 1;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      .title {
        color: #3a3a3a;
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: normal;
        margin: 0;
        flex: 1;
      }
      .public_rl_bottom {
        padding-bottom: 1rem;
        & > span {
          display: block;
          width: 100%;
          margin-top: .8rem;
          color: #3a3a3a;
          font-size: 1rem;
        }
        .setting {
          margin-top: .8rem;
          span {
            font-size: 1rem;
            color: #3a3a3a;
            display: inline-block;
          }
          .state {
            height: 2.5rem;
            padding: 0 1.5rem;
            line-height: 2.5rem;
            border-radius: 2.5rem;
            background: #fabf13;
            &.bzj {
              background: #92cdbb;
            }
          }
          .price_num {
            color: #a99557;
            font-size: 1rem;
            font-weight: 600;
            margin-left: 1rem;
          }
        }
        .bigText {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .pub_lm_list ul li .pub_lm_list_bottom .pub_lm_list_left .list_info.market_list .source {
    word-wrap: break-word;
    display: block;
    width: 4rem;
    padding-left: .2rem;
  }
  .pub_lm_list ul li {
    min-height: 18rem;
  }
}

.pub_detail_panel {
  min-width: 320px;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  p,
  div,
  table {
    width: 100% !important;
    font-size: 1.2rem !important;
  }
  img {
    width: 100% !important;
  }
}

.pub_overFlow {
  overflow: hidden;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.pub_header {
  height: 44px;
  background: #000;
  z-index: 558;
  position: fixed;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 .7rem;
  .icon {
    margin: 12px 0;
    display: block;
    position: relative;
    z-index: 20;
  }
  .title {
    top: 0;
    font-size: 17px;
    color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
  }
}

.lm_errorTipsShow {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  z-index: 1000;
}

//公用遮罩选择
.pub_mask_select {
  position: relative;
  &.active,
  .pub_mask_select_con {
    z-index: 10;
  }
  &.active {
    .pub_mask_select_head {
      .left {
        i {
          transform: rotate(180deg);
        }
      }
      .trigger_date {
        display: none;
      }
    }
  }
  .pub_mask_select_con {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    left: 0;
    ul {
      li {
        padding: 1.5rem 2rem;
        color: #666666;
        font-size: 12px;
        &.active {
          background: #333;
          color: #fff;
        }
        &:last-child.active {
          border-radius: 0 0 .5rem .5rem;
        }
      }
    }
    border-radius: 0 0 .5rem .5rem;
  }
}

.pub_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 9;
}

.content_null {
  color: #999999;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.white_bg {
  background: #fff !important;
}

.public_search_wrapper {
  display: block;
  left: 0;
  right: 0;
  .public_search_con {
    background: #fff;
    .public_search_head {
      .public_search_back {
        height: 2.2rem;
        line-height: 1.8rem;
        width: 3.5rem;
        i {
          color: #1f1f1f;
          font-size: 24px;
        }
      }
      .public_search_bar {
        flex: 1;
        background: #f2f2f2;
        height: 2.9rem;
        display: flex;
        align-items: center;
        padding: 0 .4rem;
        .public_search_panpel {
          display: flex;
          align-items: center;
          width: 100%;
          i {
            color: #1f1f1f;
            font-size: 20px;
          }
          .inp{
            border:none;
            outline: none;
            padding: .3rem .5rem;
            margin-left: .5rem;
            height: 2.2rem;
            border-radius: 0;
            width: 100%;
            font-size: 12px;
            color:#666666;
            background: transparent;
            &:focus{
              outline: none;
            }
          }
        }
      }
      border-bottom: #ebebeb solid 1px;
      padding: 1.5rem 2rem;
      display: flex;
      align-items: center;
    }
    .public_search_result{
      padding: 0 2rem;
      .public_search_result_panpel{
        .title{
          color:#333333;
          font-size: 13px;
          font-weight: bold;
          margin:1.7rem 0 1.2rem;
        }
        ul{
          li{
            padding: 1.5rem 0;
            border-bottom: #ebebeb solid 1px;
            a{
              font-size: 11px;
              color:#999999;
            }
          }
        }
      }
    }
  }
}
