@charset 'utf-8';
.shop_banner {
  .swiper-slide {

    width: 100%;
    display: block;
  }
  img {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
  }
}

.shop_type {
  ul {
    padding: 0 1rem 0;
    li {
      padding: .8rem 0;
      float: left;
      width: 33.3%;
      border-bottom: #e1dac5 solid 1px;
      &:nth-last-child(3), &:nth-last-child(1), &:nth-last-child(2) {
        border-bottom: none;
      }
      a {

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: #b09f6a;
        .text {
          max-width: 3rem;
        }
        img {
          width: 4.3rem;
          height: 4.3rem;
          border-radius: 100%;
          margin-right: 3px;
        }
      }
    }
  }
}

.lm_footer {
  background: #272727;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      a {
        color: #cdbf8c;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        i {
          font-size: 20px;
          margin-bottom: 3px;
        }
        .text {
          font-size: 13px;
        }
      }
      &.active {
        a {
          color: #f3b71b;
        }
      }
      &:nth-child(1) {
        i:before {
          content: "\e61c";
        }
      }
      &:nth-child(2) {
        i:before {
          content: "\e666";
        }
      }
      &:nth-child(3) {
        i:before {
          content: "\e60c";
        }
      }
      &:nth-child(4) {
        i:before {
          content: "\e60a";
        }
      }
      &:nth-child(5) {
        i:before {
          content: "\e65a";
        }
      }
    }
  }
}

.app_banner {
  .swiper-slide {
    width: 100%;
    display: block;
  }
  img {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
  }
}

.app_type {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem 0;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        img {
          width: 6rem;
          height: 6rem;
          border-radius: 100%;
        }
        .text {
          font-size: 1.2rem;
          color: #b09f6a;
          margin-top: .6rem;
        }
      }

    }
  }
}

.app_enjoy {
  margin: 1.5rem 0;
  .swiper-slide {
    display: block;
    position: relative;
    &.all {
      padding: .7rem;
      background: #e5e5e5;
      border-radius: 4px;
    }
    .price {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1.2rem;
      color: #fff;
      width: 100%;
      background: rgba(0, 0, 0, .5);
      line-height: 2rem;
      text-indent: 3px;
      border-radius: 0 0 .4rem .4rem;
      del {
        font-size: 1rem;
      }
    }
    .img {
      width: 100%;
      display: block;
      position: relative;
      padding-bottom: 100%;
      height: 0;
      overflow: hidden;
      background: #fff;
      border: #ded5bf solid 1px;
      border-radius: 4px;
      img {
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.app_guess_title {
  .pub_center_title {
    background-image: url("../../images/lm/lm_guess_title.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 5.8rem 1.5rem;
    text-align: left !important;
    text-indent: 1rem;
    width: 9rem;
    padding: 0 !important;
  }
}

.app_guess {
  padding: 0 1.5rem;
  position: relative;
  background: #f0f0f0;
  .app_guess_container {
    padding: 0 0 3rem;
    .swiper-pagination-bullet {
      background: #e1dac5;
      &.swiper-pagination-bullet-active {
        background: #f3b71b;
      }
    }
  }
  .app_guess_item {
    padding: 0 1rem 0 0;
    .app_guess_img {
      position: relative;
      display: block;
      border-radius: 3px;
      img {
        width: 100%;
        height: 10.5rem;
        border-radius: 3px;
      }
      .app_guess_text {
        background-image: url("../../images/lm/app_guess_join.png");
        width: 6.5rem;
        height: 2.25rem;
        display: block;
        position: absolute;
        bottom: -1.2rem;
        left: 50%;
        margin-left: -3.25rem;
        background-size: cover;
      }
      .app_guess_info {
        position: absolute;
        background: #fa1939;
        border-radius: 2.15rem;
        height: 2.15rem;
        line-height: 2.15rem;
        padding: 0 1rem;
        top: .8rem;
        right: -1rem;
        font-size: 1rem;
        color: #fff;
        b {
          font-size: 1.1rem;
        }
        .lm_arrow {
          position: absolute;
          top: 100%;
          left: 25%;
          border-color: #fa1939 transparent transparent transparent;
        }
      }
    }
    .title {
      text-align: center;
      color: #3a3a3a;
      font-size: 1.2rem;
      margin: 0.85rem 0;
      width: 100%;
    }
    .cutedown {
      color: #3a3a3a;
      font-size: 1rem;
      margin-top: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      .cutedown_con {
        display: inline-block;
      }
      span {
        color: #fa1939;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
    &.nostart {
      .cutedown {
        span {
          color: #92cdbb;
        }
      }
      .app_guess_info {
        display: none;
      }
    }
  }
  .swiper-pagination {
    bottom: 0;
  }
}

.app_guess_title {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.2rem;
  padding: 4rem 0 1.5rem 0;
  margin: 0;
  width: 100%;
  background: #f0f0f0;
}

.app_auction {
  ul {
    li {
      background: #ebe6d8;
      margin-bottom: 1rem;
      .top {
        padding: 1rem 1.5rem .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          flex: 3;
          max-width: 50%;
          .title {
            color: #3a3a3a;
            font-size: 1.2rem;
            margin: 0 0 .5rem 0;
            display: block;
          }
          .collect {
            font-size: 1rem;
            color: #3a3a3a;
            i {
              display: inline-block;
              vertical-align: middle;
            }
          }
          .joiner {
            display: inline-block;
            font-size: 1rem;
            color: #fa1939;
          }
        }
        .cutedown {
          font-size: 1rem;
          color: #3a3a3a;
          &.small_screen {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .cutedown_con {
              margin-top: .5rem;
            }
          }
          .cutedown_con {
            display: inline-block;
          }
          span {
            background: #fa1939;
            padding: .3rem;
            border-radius: 4px;
            font-size: 1.4rem;
            color: #fff;
            font-weight: 600;
            min-width: 2rem;
            text-align: center;
            display: inline-block;
            margin-right: .2rem;
          }
        }
      }
      .middle {
        position: relative;
        display: block;
        line-height: 0;
        min-height: 10rem;
        .profit {
          padding: 0 1rem 0 0;
          height: 2rem;
          background: #fa1939;
          display: inline-block;
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 1.2rem;
          color: #ffffff;
          line-height: 2rem;
          b {
            font-size: 1.6rem;
          }
          &:before {
            content: '';
            background-image: url("../../images/lm/profit_left.png");
            background-repeat: no-repeat;
            height: 2rem;
            width: 3.1rem;
            position: absolute;
            background-size: cover;
            left: -3.1rem;
            top: 0;
          }
          &.gray_profit {
            background: #808080;
            &:before {
              background-image: url("../../images/lm/profit_left_end.png");
            }
          }
        }
        img {
          width: 100%;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem .5rem;
        .avgater {
          margin-top: -1.5rem;
          z-index: 9;
          .img {
            width: 4.1rem;
            height: 4.1rem;
            display: inline-block;
            border-radius: 100%;
            img {
              border-radius: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            font-size: 1rem;
            color: #3a3a3a;
            vertical-align: 1rem;
            display: inline-block;
            margin-left: .3rem;
          }
        }
        .bzjsy {
          color: #808080;
          font-size: 1rem;
        }
        .text {
          color: #808080;
          font-size: 1rem;
        }
      }
      &.start_before {
        background: #f5f5f5;
        .top {
          .cutedown {
            span {
              background: #92cdbb;
              color: #010101;
            }
          }
        }
        .middle {
          .profit {
            background: #808080;
            &:before {
              background-image: url("../../images/lm/profit_left_end.png");
            }
          }
        }
      }
      &.star_ing {
        background: #f5f5f5;
        .top {
          .cutedown {
            span {
              background: #fabf13;
              color: #010101;
            }
          }
        }
        .middle {
          .profit {
            background: #808080;
            &:before {
              background-image: url("../../images/lm/profit_left_end.png");
            }
          }
        }
      }
      &.end {
        background: #f5f5f5;
        .top {
          .cutedown {
            display: none;
          }
          .result {
            display: flex;
            flex-flow: column wrap;
            text-align: right;
            span {
              font-size: 1.2rem;
              color: #808080;
              margin-bottom: .5rem;
            }
          }
        }
        .middle {
          position: relative;
          .text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .profit {
            background: #808080;
            &:before {
              background-image: url("../../images/lm/profit_left_end.png");
            }
          }
        }
      }
    }
  }
}

.app_arts {
  background: #f5f5f5;
  padding: 1.5rem 0;
  .topTitle {
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .2rem;
    margin: 0 0 1.5rem;
    text-align: center;
    display: block;
  }
  .app_arts_container {
    .swiper-slide {
      padding-bottom: 1.3rem;
      border-radius: 3px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      background: #fff;
      min-height: 17.5rem;
      height: auto;
      .avgater {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        img {
          width: 8.9rem;
          height: 8.9rem;
          border-radius: 100%;
        }
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        .name {
          color: #010101;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .address {
          margin-left: .3rem;
          i {
            display: inline-block;
            vertical-align: -1px;
          }
          font-size: 1rem;
          color: #808080;
        }
      }
      .collect {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        margin-bottom: 2rem;
        color: #808080;
        font-size: 1rem;
        .text {
          display: block;
          margin: .3rem;
        }
        &.follow {
          color: #808080;
          i {
            &:before {
              content: "\e61b";
            }
          }
        }
        &.unfollow {

          i {
            color: #fa1939;
            &:before {
              content: "\e81b";
            }
          }
        }
      }
      .imgs {
        padding: 0 1.5rem;
        li {
          width: 32%;
          margin: 0 2% 0 0;
          float: left;
          &:nth-child(3) {
            margin-right: 0;
          }
          a {
            width: 100%;
            display: block;
            position: relative;
            padding-bottom: 100%;
            height: 0;
            overflow: hidden;
            background: #fff;
            img {
              border-radius: 2px;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.auction_recommend {
  .lm_title {
    color: #b09f69;
    font-size: 1.8rem;
    text-align: center;
    line-height: 4.5rem;
    height: 4.5rem;
    font-weight: normal;
    margin: 0;
  }
  .pub_tab_title {
    background: #f3f3f3;
    padding: 0 1.5rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: #c6c6c6 solid 1px;
    li {
      flex: 1;
      background: #f3f3f3;
      line-height: 4.2rem;
      text-align: center;
      position: relative;
      //border-image: url(../../images/lm/qll_goods_detail_footer_line.png) 12 12 12 12 stretch stretch;
      &:before, &:after {
        content: '';
        width: 1px;
        height: 3.6rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../../images/lm/qll_goods_detail_footer_line.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
      &:before {
        left: -1px;
      }
      &:after {
        right: -1px;
      }
      a {
        font-size: 1.2rem;
        color: #808080;
      }
      &.active {
        color: #b09f69;
        background: #fff;
      }
    }
  }
}

.lm_search {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #e3e3e3;
  height: 42px;
  display: flex;
  align-items: center;
  .lm_search_left {
    width: 14rem;
    text-align: center;
    height: 100%;
    line-height: 42px;
    font-size: 14px;
    color: #010101;
    position: relative;
    i {
      font-size: 2.4rem;
      color: #b5b5b5;
    }
    &.active {
      .lm_arrow {
        border-color: transparent transparent #777 transparent;
        vertical-align: 4px;
      }
      .lm_category {
        display: block;
      }
    }
    .lm_category {
      display: none;
      position: absolute;
      background: #f7f7f7;
      width: 100%;
      left: 0;
      top: 100%;
      border: #e8e8e8 solid 1px;
      border-top: #f3b71b solid 2px;
      li {
        &.active {
          background: #e6e6e6;
        }
        border-bottom: #e6ce8e solid 1px;
        a {
          color: #666;
          font-size: 14px;
          text-align: center;
          display: block;
          width: 100%;
        }
      }
    }
  }
  .lm_search_bar {
    height: 26px;
    margin-right: 1.5rem;
    width: 100%;
    form {
      height: 26px;
      flex: 1;
      display: flex;
      align-items: center;
    }
    .inp {
      height: 100%;
      border: rgba(0, 0, 0, 0.09) solid 1px;
      border-radius: 6rem 0 0 6rem;
      background: #fff;
      border-right: none;
      padding: 0 1rem;
      flex: 1;
      font-size: 1.3rem;
    }
    .btn {
      height: 100%;
      border: rgba(0, 0, 0, 0.09) solid 1px;
      border-radius: 0 6rem 6rem 0;
      background: #fff;
      border-left: none;
      cursor: pointer;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      i {
        font-size: 1.8rem;
        color: #b5b5b5;
      }
    }
  }
}

.lm_search_con {
  padding: 0 1.5rem;
  .lm_search_history {
    padding: 1.4rem 0 1.2rem;
    margin: 0;
    font-size: 1.5rem;
    color: #666666;
    font-weight: normal;
    .del_search {
      margin-left: 1rem;
      font-size: 1.2rem;
      i {
        display: inline-block;
        vertical-align: -2px;
        color: #666666;
      }
    }
    border-bottom: #e6e6e6 solid 1px;
  }
  .history_list {
    li {
      display: inline-block;
      margin: 1.5rem .5rem;
      a {
        font-size: 1.2rem;
        color: #808080;
      }
    }
  }
}

//搜索结束
/*搜索页面结束*/
.auction_list_wrapper {
  .auction_list_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: #a0a0a0 solid 1px;
    background: #fff;
    li {
      flex: 1;
      padding: 1rem 0;
      a {
        font-size: 1.4rem;
        color: #272727;
      }
      &.active {
        border-bottom: #b09f6a solid 2px;
        a {
          color: #b09f6a;
        }
      }
    }
  }
  .auction_list_con {
    li {
      .public_rl_left {
        border: #dfdfdf solid 1px;
      }
      .public_rl_right {
        font-size: 1rem;
        color: #3a3a3a;
        .public_rl_bottom {
          .cutedown {
            margin-top: 1rem;
            .cutedown_con {
              display: inline-block;
              span {
                font-size: 1rem;
                color: #3a3a3a;
              }
            }
          }
        }
      }
    }
  }
}

/*拍卖列表页面结束*/
.special_list_top {
  position: relative;
  line-height: 0;
  img {
    width: 100%;
    max-height: 19rem;
  }
  .profit {
    padding: 0 1rem 0 0;
    height: 2rem;
    background: #fa1939;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 2rem;
    b {
      font-size: 1.6rem;
    }
    &:before {
      content: '';
      background-image: url("../../images/lm/profit_left.png");
      background-repeat: no-repeat;
      height: 2rem;
      width: 3.1rem;
      position: absolute;
      background-size: cover;
      left: -3.1rem;
      top: 0;
    }
  }
  &.start_before {
    .profit {
      background: #808080;
      &:before {
        background-image: url("../../images/lm/profit_left_end.png");
      }
    }
  }
  &.star_ing {
    .profit {
      background: #808080;
      &:before {
        background-image: url("../../images/lm/profit_left_end.png");
      }
    }
  }
  &.end {
    .profit {
      background: #808080;
      &:before {
        background-image: url("../../images/lm/profit_left_end.png");
      }
    }
    &:before {
      background: rgba(0, 0, 0, .6);
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .endText {
      color: #fff;
      font-size: 1.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.special_list_wrapper {
  .special_list_info {
    background: #e5f4ef;
    padding: .8rem 1.5rem 2rem 1.5rem;
    .state {
      text-align: right;
      display: block;
      color: #3a3a3a;
      font-size: 1rem;
    }
    .result {
      display: none;
    }
    .top_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .spjg {
        color: #3a3a3a;
        font-size: 1rem;
      }
    }
  }
  .cutedown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    .cutedown_con {
      color: #3a3a3a;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.4rem;
        color: #000000;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #92cdbb;
        margin: 0 .2rem;
        border-radius: .3rem;
      }
    }
  }
  .special_list_setting {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .7rem 1.5rem;
    background: #92cdbb;
    & > div {
      &.watch, &.join {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .text {
          display: block;
          color: #3a3a3a;
          font-size: 1rem;
        }
      }
    }
    .collectSpecial {
      i:before {
        content: "\e61b";
      }
      &.active {
        color: #fa1939;
        i {
          color: #fa1939;
          &:before {
            content: "\e81b";
          }
        }
      }
    }
    .big {
      i {
        &:before {
          content: "\e621";
        }
      }
      &.active {
        i {
          &:before {
            content: "\e647";
          }
        }
      }
    }
  }
  .special_list_setting_open {
    width: 100%;
    text-align: center;
    padding: .3rem 0;
    background: #92cdbb;
    margin: 0 0 1.5rem 0;
    color: #fff;
  }
  .special_list_con {
    .setting {
    }
    li {
      .title {
        font-size: 1.4rem;
      }
      .public_rl_left {
        border: #dfdfdf solid 1px;
        .setting {
          display: none;
        }
      }
      .public_rl_right {
        width: 100%;
        .public_rl_top {
          .text {
            display: none;
          }
        }
        .public_rl_bottom {
          .setting {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .state {
              background: #92cdbb;
              color: #010101;
              font-size: 1.2rem;
            }
            i {
              &.collect {
                color: #808080;
                &:before {
                  content: "\e61b";
                }
                &.active {
                  color: #fa1939;
                  &:before {
                    content: "\e81b";
                  }
                }
              }
              &.remin {
                color: #808080;
                &.active {
                  color: #fa1939;
                }
              }
            }
          }
          & > .text {
            font-size: 1.2rem;
          }
        }
      }
    }

    &.big_list {
      li {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        overflow: hidden;
        .public_rl_left {
          width: 100%;
          display: block;
          position: relative;
          padding-bottom: 100%;
          height: 0;
          overflow: hidden;
          background: #fff;
          img {
            border-radius: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .setting {
            display: flex;
            position: absolute;
            right: 1rem;
            top: 1rem;
            i {
              color: #424140;
              background: rgba(191, 165, 81, .4);
              width: 3.2rem;
              height: 3.2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
              &:first-child {
                margin-right: 1rem;
              }
              &.collect {
                color: #808080;
                &:before {
                  content: "\e61b";
                }
                &.active {
                  background: rgba(184, 181, 177, .4);
                  color: #fa1939;
                  &:before {
                    content: "\e81b";
                  }
                }
              }
              &.remin {
                color: #808080;
                &.active {
                  color: #fa1939;
                  background: rgba(184, 181, 177, .4);
                }
              }
            }
          }
        }
        .public_rl_right {
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;
          margin-top: .5rem;
          .title {
            margin-top: .7rem;
          }
          .setting {
            i {
              display: none;
            }
          }
          .public_rl_bottom {
            width: 10rem;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            .text {
              display: none;
            }
          }
          .public_rl_top {
            flex: 1;
            .text {
              display: block;
              margin-top: .3rem;
              font-size: 1rem;
              color: #3a3a3a;
            }
          }
        }
      }
    }
  }
  &.special_list_wrapper_ing {
    .special_list_info {
      background: #f1ebdf;
      .cutedown {
        .cutedown_con {
          span {
            background: #fbbf13;
          }
        }
      }
    }
    .special_list_con {
      li {
        .public_rl_right {
          .public_rl_bottom {
            .setting {
              .state {
                background: #fabf13;
              }
            }
          }
        }
      }
    }
    .special_list_setting_open {
      background: #fbbf13;
    }
    .special_list_setting {
      background: #fbbf13;
      .collectSpecial {
        i:before {
          content: "\e61b";
        }
        &.active {
          color: #fa1939;
          i {
            color: #fa1939;
            &:before {
              content: "\e81b";
            }
          }
        }
      }

    }
  }
  &.special_list_wrapper_before {
    .special_list_info {
      .cutedown {
        .cutedown_con {
          span {
            background: #e90526;
            color: #fff;
          }
        }
      }
    }
  }
  &.special_list_wrapper_end {
    .special_list_info {
      background: #e1e1e1;
      .cutedown {
        display: none;
      }
      .result {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        span {
          margin: 0 1rem;
          color: #818181;
          font-size: 1rem;
        }
      }
    }
    .special_list_setting_open {
      background: #b3b3b3;
    }
    .special_list_setting {
      background: #b3b3b3;
    }
    .special_list_con {
      li {
        .public_rl_right {
          .public_rl_bottom {
            display: flex;
            flex-direction: row;
            & > span.text {
              flex: 1;
            }
            .setting {
              justify-content: flex-end;
              width: 3rem;
              .state {
                display: none;
              }
              .collect {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .special_list_con_constr {
    width: 100%;
    background: #f5f5f5;
    &.active {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

/*专场列表页面结束*/
.auction_detail_top {
  height: 4rem;
  line-height: 4rem;
  background: #e5f4ef;
  position: relative;
  .cutedown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    .cutedown_con {
      color: #3a3a3a;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.4rem;
        color: #000000;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #92cdbb;
        margin: 0 .2rem;
        border-radius: .3rem;
      }
    }
  }
  .remind {
    font-size: 1.8rem;
    position: absolute;
    right: 2rem;
    top: 0;
    &.active {
      color: #fa1939;
    }
  }
  &.red_ing {
    .cutedown {
      .cutedown_con {
        span {
          background: #ff001b;
          color: #fff;
        }
      }
    }
  }
  &.star_ing {
    background: #f4eee3;
    .cutedown {
      .cutedown_con {
        span {
          background: #ffc100;
          color: #000000;
        }
      }
    }
  }
}

.auction_detail_banner {
  margin-top: 2rem;
  .swiper-slide {
    padding: 0 1.5rem;
    img {
      max-height: 300rem;
    }
  }
  .auction_detail_pagination {
    bottom: 30px !important;
  }
  .profit {
    padding: 0 1rem 0 0;
    height: 2rem;
    background: #fa1939;
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    bottom: 0;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 2rem;
    z-index: 8;
    b {
      font-size: 1.6rem;
    }
    &:before {
      content: '';
      background-image: url("../../images/lm/profit_left.png");
      background-repeat: no-repeat;
      height: 2rem;
      width: 3.1rem;
      position: absolute;
      background-size: cover;
      left: -3.1rem;
      top: 0;
    }
    &.gray_profit {
      background: #808080;
      &:before {
        background-image: url("../../images/lm/profit_left_end.png");
      }
    }
  }
}

.auction_detail_info {
  padding: 0 1.5rem 1.5rem;
  .title {
    color: #3a3a3a;
    font-size: 1.5rem;
    font-weight: bold;
    margin: .8rem 0 1.5rem;
  }
  .auction_detail_info_con {
    display: flex;
    justify-content: space-between;
    .left {
      width: 50%;
      .start_price {
        font-size: 1.2rem;
        color: #000;
        margin-bottom: 1.2rem;
        display: block;
        b {
          font-size: 1.5rem;
        }
      }
      .other_info {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        color: #3a3a3a;
        font-size: 1rem;
        i {
          display: inline-block;
          vertical-align: -1px;
          margin-right: 2px;
          color: #000000;
        }
      }
    }
    .right {
      width: 50%;
      align-self: flex-end;
      text-align: right;
      .collect {
        i:before {
          content: "\e61b";
        }
        &.active {
          color: #fa1939;
          i:before {
            color: #fa1939;
            content: "\e81b";
          }
        }
      }
      i {
        color: #000000;
        margin: 0 .5rem;
        font-size: 2rem;

      }
    }
  }
}

.auction_detail_authInfo {
  background: #f5f5f5;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    max-width: 60%;
    .name {
      color: #808080;
      font-size: 1.2rem;
    }
    .taglist {
      margin: .3rem 0 0 0;
      li {
        color: #808080;
        font-size: 1rem;
        margin: 0 1rem 1rem 0;
        display: inline-block;
        line-height: 1;
        padding: 0;
      }
    }
  }
  .right {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 100%;
    background: #ccc;
    img {
      width: 5.4rem;
      height: 5.4rem;
      border-radius: 100%;
    }
  }
}

.auction_detail_result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  span {
    color: #3b3b3b;
    font-size: 1rem;
    b {
      color: #333333;
      font-size: 1.4rem;
      display: block;
      line-height: 2;
    }
    i {
      line-height: 2;
      display: block;
      font-style: normal;
    }
  }
}

.auction_detail_history {
  background: #f5f5f5;
  margin-bottom: 1.5rem;
  .top_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: #818181;
    font-size: 1.4rem;
  }
  .list {
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .8rem 1.5rem;
      background-image: url("../../images/lm/qll_Parting_line.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      font-size: 1rem;
      margin: 0;
      span {
        text-align: left;
        &.name {
          flex: 2;
        }
        &.state {
          flex: 1;
        }
        &.date {
          flex: 3;
        }
        &.price {
          flex: 1;
        }
      }
      &:first-child {
        color: #cf9900;
        background-color: #fafafa;
      }
    }
  }
}

.auction_detail_bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #92cdbb;
  padding: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 99;
  &.star_ing {
    background: #ffc100;
  }
  &.chujia {
    padding: 0;
    height: 5rem;
    line-height: 5rem;
    a {
      width: 50%;
      height: 100%;
      color: #000;
      &.offer {
        background: #ffc100;
      }
      &.agent {
        background: #dcc792;
      }
      i {
        margin-right: 3px;
      }
    }
  }
  &.end {
    background: #808080;
    color: #fff;
  }
}

.bzjsy_top {
  color: #000;
  font-size: 1rem;
  text-align: center;
  margin: .5rem auto;
  display: block;
  width: 100%;
  font-weight: bold;
  i {
    display: inline-block;
    vertical-align: -2px;
    margin-left: 3px;
  }
}

.auction_detail_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 9;
  .buy_num_con {
    position: fixed;
    bottom: 5rem;
    left: 0;
    background: #f0ebde;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 2.6rem;
      color: #3b3b3b;
      border-radius: 2px;
      background: #fff;
      line-height: 2.1rem;
    }
    .add {
      margin-top: -3px;
    }
    .buy_num {
      border: #3b3b3b solid 1px;
      margin: 0 2rem;
      color: #000;
      height: 2.6rem;
      min-width: 5rem;
      max-width: 50%;
      border-radius: 2px;
      font-size: 1.8rem;
      padding: 0 1rem;
      &.blur {
        text-align: center;
      }
    }
    .auction_detail_mask_close {
      position: absolute;
      z-index: 1;
      top: -1.3rem;
      right: 0;
      background: #f0ebde;
      width: 2.9rem;
      height: 2.9rem;
      padding: 0.3rem;
      border-radius: 100%;
      i {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../../images/close_window.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        opacity: .5;
      }
    }
  }
}

/*拍卖详情页面结束*/
.auction_detail_history {
  .title {
    color: #818181;
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: normal;
    border-bottom: #919191 solid 1px;
    margin: 0;
    background: #fff;
  }
}

/*拍卖出价记录页面结束*/
.auction_margin {
  .auction_margin_tip {
    padding: 2.5rem 8rem 2.5rem 2rem;
    background-image: url("../../images/lm/bzj_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 7rem;
    .title {
      color: #272727;
      font-size: 1.5rem;
      margin: 0 0 1.4rem;
    }
    p {
      color: #272727;
      font-size: 1.2rem;
      line-height: 1.675;
    }
  }
  .auction_margin_top {
    background: #fff;
    padding: 1.5rem 0;
    border-bottom: #919191 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 2.6rem;
      color: #3b3b3b;
      border-radius: 2px;
    }
    .add {
      margin-top: -3px;
    }
    .buy_num {
      border: #3b3b3b solid 1px;
      margin: 0 2rem;
      color: #000;
      height: 2.6rem;
      min-width: 5rem;
      max-width: 50%;
      border-radius: 2px;
      font-size: 1.8rem;
      padding: 0 1rem;
      &.blur {
        text-align: center;
      }
    }
  }
  .auction_margin_type {
    background: #fff;
    padding: 1.5rem 2rem;
    margin: 0 0 1rem;
    .chose {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        i {
          font-size: 3rem;
          display: inline-block;
          vertical-align: -4px;
        }
        .text {
          color: #272727;
          font-size: 1.5rem;
        }
      }
      .right {
        .text {
          font-size: 1.2rem;
        }
      }
    }
    .agreement {
      font-size: 1.2rem;
      color: #272727;
      display: flex;
      align-items: center;
      margin: 1rem 0 0 0;
      .agreement_btn {
        i {
          &:before {
            content: "\e609";
          }
        }
        &.active {
          i {
            &:before {
              content: "\e625";
            }
          }
        }
      }
      a {
        line-height: 1.2rem;
        color: #b09f6a;
        margin: 4px 0 0 1rem;
      }
    }
  }
  .auction_margin_bottomTip {
    background: #fff;
    border-top: #919191 solid 1px;
    padding: 1.5rem;
    p {
      color: #272727;
      font-size: 1.2rem;
      line-height: 1.7;
      margin: 0;
    }
  }
}

.auction_margin_bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffc100;
  padding: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  color: #000;
}

.auction_margin_chose_type {
  .new-mask-box {
    .chose_list {
      padding: 0 0 0 2rem;
      li {
        color: #888;
        font-size: 1.2rem;
        background: #fff;
        border: solid 1px #BBB;
        padding: .8rem 1rem;
        margin: 0 1rem 1rem 0;
        display: inline-block;
        border-radius: .3rem;
        &.active {
          color: #FFF;
          background: #ED5564;
          border: solid 1px #ED5564;
        }
      }
    }
  }
}

/*拍卖提交保证金页面结束*/

.cms_activity_con {
  line-height: 0;
  img {
    max-width: 100%;
    border: none;
    line-height: 0;
  }
}

/*公用cms专题页面结束*/
.profit_activity_top {
  img {
    width: 100%;
  }
}

.profit_activity_wrapper {
  .title_wai {
    text-align: center;
    margin: 1.5rem 0 1rem;
    img {
      max-height: 1.5rem;
    }
  }
  .lm_title {
    color: #b09f69;
    font-size: 1.8rem;
    text-align: center;
    line-height: 4.5rem;
    height: 4.5rem;
    font-weight: normal;
    margin: 0;
    position: relative;
    a {
      font-size: 1.2rem;
      color: #999999;
      line-height: 2rem;
      margin-right: .6rem;
      position: absolute;
      right: 0;
      top: 1.2rem;
      img {
        max-height: .6rem;
        margin-right: 1rem;
      }
    }
  }
}

.profit_activity_footer {
  color: #3a3a3a;
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  margin: 2rem 0;
}

/*活动保证金收益汇总专题页面结束*/
#nativeShare {
  font-size: 1.3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10005;
  width: 100%;
  height: 100%;
  .nativeShare_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 10004;
    //filter: blur(1rem);
  }
  .label {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
  .list_con {
    width: 100%;
    margin: 0 auto;
    z-index: 10006;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .list {
    margin: 3rem 0;
    span {
      width: 25%;
      display: inline-block;
      text-align: center;
      margin: 1rem 0;
      color: #fff;
      i {
        width: 4rem;
        height: 4rem;
        display: block;
        margin: 0 auto .9rem;
      }
    }
  }
  .weibo {
    i {
      background-image: url('../../images/lm/icon/weibo.png');
      background-size: cover;
    }
  }
  .weixin {
    i {
      background-image: url('../../images/lm/icon/weixin.png');
      background-size: cover;
    }
  }
  .weixin_timeline {
    i {
      background-image: url('../../images/lm/icon/weixin_friend.png');
      background-size: cover;
    }
  }
  .qq {
    i {
      background-image: url('../../images/lm/icon/qq.png');
      background-size: cover;
    }
  }
  .qzone {
    i {
      background-image: url('../../images/lm/icon/qqzone.png');
      background-size: cover;
    }
  }
  .more {
    i {
      background-image: url('../../images/lm/icon/more.png');
      background-size: cover;
    }
  }
}

.boot_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 10001;
  overflow: scroll;
  .boot_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 10002;
  }
  @media screen and (min-width: 400px) {
    .boot_con {
      width: 34rem !important;
      height: 40rem !important;
      margin-top: -22rem !important;
      .imgs {
        width: 33rem !important;
        height: 35.9rem !important;
      }
    }
  }
  .boot_con {
    width: 28rem;
    height: 34rem;
    background: #fff;
    z-index: 10003;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -19rem;
    top: 50%;
    border-radius: .6rem;
    padding: .5rem;
    .imgs {
      display: block;
      width: 27rem;
      text-align: center;
      height: 29.9rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img {
      width: 100%;
      object-fit: contain;
      text-align: center;
      border-radius: 3px;
    }
    .boot_setting {
      margin: .3rem 0;
      position: relative;
      display: flex;
      align-items: center;
      .boot_icon {
        &.active {
          i {
            color: #fa1939;
            &:before {
              content: "\e607";
            }
          }
        }
        i {
          color: #808080;
          font-size: 2rem;
          margin: 0 1rem 0 0;

        }
      }
      .suport_icon {
        position: absolute;
        left: 0;
        top: -4rem;
        height: 4rem;
      }
    }
    .nativeShare_close {
      position: absolute;
      width: 3rem;
      height: 3rem;
      bottom: -4rem;
      left: 50%;
      transform: translateX(-50%);
      img {

      }
    }
  }
}

/*首页引导模块css*/
.liuchuanming_con {
  line-height: 0;
  font-size: 0;
  .img {
    width: 100%;
  }
  .liuchuanming_viedo_con {
    overflow: hidden;
    position: relative;
    .liuchuanming_viedo_wrapper {
      background: #fcfbf4;
      border: #f3ece1 solid 1px;
      height: 100%;
      width: 1200px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -600px;
      padding: 20px;
      .liuchuanming_viedo {
        float: left;
        position: relative;
        top: 50%;
        margin-top: -214px;
      }
      .liuchuanming_text {
        float: right;
        position: relative;
        height: 100%;
        img {
          max-width: 330px;
          margin: 60px 0 0 20px;
          position: absolute;
          top: 0;
          right: 40px;
        }
      }
    }
    .sign_activity_viedo_wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 170px;
      margin-left: -150px;
      margin-top: -85px;
    }
  }
  @media screen and (max-width: 1500px) {
    .liuchuanming_viedo_wrapper {
      width: 900px !important;
      margin-left: -450px !important;
      margin-top: 0 !important;
      top: 0 !important;
      .liuchuanming_text {
        img {
          max-width: 300px !important;
          right: 0 !important;
          margin: 30px 0 0 20px !important;
        }
      }
      .liuchuanming_viedo {
        margin-top: -160px !important;
      }
    }
  }
}

.fullScreen {
  max-width: 100%;
  min-width: 1200px;
  body {
    max-width: 100%;
    min-width: 1200px;
  }
}

.liuchuanming_footer {
  position: fixed;
  bottom: 0;
  height: 5rem;
  left: 0;
  display: flex;
  width: 100%;
  .link1, .link2 {
    flex: 1;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1rem;
  }
  .link1 {
    background: #4d4d4d;
  }
  .link2 {
    background: #caa100;
  }
}

/*刘传铭活动页面结束*/
.bank_list {
  border-top: #f5f5f5 solid 1rem;
  border-bottom: #f5f5f5 solid 1rem;
  .card_list {
    li {
      border-top: #eee solid 1px;
      border-bottom: #eee solid 1px;
      padding: 1.5rem 2.3rem;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 6rem;
      .bank_info {
        display: flex;
        align-items: center;
        justify-content: center;
        .bank_img {

        }
        .bank_card {
          display: inline-block;
          color: #888;
          font-size: 1.3rem;
          vertical-align: middle;
        }
      }
      &.bank_item {
        background: #fcfbf7;
      }
      &.new_bank {
        .bank_info {
          justify-content: flex-start;
          i {
            margin-right: .3rem;
          }

        }
        a {
          display: block;
          width: 100%;
          color: #000000;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.drawals_price {
  border-top: #eee solid 1px;
  border-bottom: #eee solid 1px;
  padding: 0 2.3rem;
  background: #fff;
  display: flex;
  align-items: center;
  min-height: 6rem;
  i {
    font-size: 16px;
    color: #000;
    font-style: normal;
    padding: 1.5rem 0;
    margin-right: .3rem;
  }
  input {
    height: 4rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: #000;
    width: 100%;
  }
}

.drawals_price_info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
  .text {
    color: #888;
    font-size: 1.2rem;
  }
  i {
    color: #000;
  }
}

.withdrawals_btn {
  background: #e29c04;
  width: 100%;
  margin: 2rem auto;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0;
  display: block;
  border: none;
  letter-spacing: .1rem;
}

.bank_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f5f5f5;
  z-index: 998;
  padding: 44px 0 60px;
  display: none;
  &.active {
    display: block;
  }
  .pub_header {
    z-index: 100000;
  }
  .bank_list {
    li {
      &.bank_item {
        &.active {
          border: #d99f37 solid 1px;
          .select_bank {
            display: block;
          }
        }
      }
    }
    .select_bank {
      display: none;
    }
  }
}

.drawals_modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  .drawals_modal_mask {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
  }
  .drawals_modal_con {
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    .drawals_modal_head {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 2.1rem 1.5rem;
      .text {
        font-size: 1.6rem;
        color: #000000;
        letter-spacing: .2rem;
        font-weight: bold;
      }
      .close {
        color: #bfbfbf;
        font-size: 2.6rem;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
      }
    }
    .inputBoxContainer {
      width: 22rem;
      height: 3.3rem;
      margin: 2rem auto;
      position: relative;
      .bogusInput {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 0;
        input {
          padding: 0;
          width: 3.2rem;
          height: 3.2rem;
          float: left;
          background: #ffffff;
          text-align: center;
          font-size: 2rem;
          border: #c3c3c3 1px solid;
          margin-right: .5rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .realInput {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        opacity: 0;
      }
    }
    .drawals_modal_wrapper {
      .drawals_modal_state {
        padding: 1.8rem 1.6rem;
        text-align: center;
        .big_text {
          font-size: 2.2rem;
          color: #000;
        }
        .small_text {
          font-size: 1rem;
          color: #999999;
          display: block;
          margin: 1.3rem 0;
        }
      }

    }
  }
  &.input_bank_pwd,
  &.input_bank_new {
    .drawals_modal_head {
      border-bottom: #ffcf66 solid 1px;
    }
  }
  &.active {
    display: block;
  }
  &.input_bank_success {
    .drawals_modal_bottom {
      background: #faf9f7;
      padding: 1.2rem;
      border-top: #ffcf66 solid 1px;
      text-align: center;
      i {
        display: inline-block;
        vertical-align: middle;
      }
      .text {
        color: #666666;
        font-size: 1rem;
      }
    }
  }
  &.input_bank_error {
    .drawals_modal_bottom {
      margin-top: 1rem;
      border-top: #ebebeb solid 1px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        flex: 1;
        text-align: center;
        padding: 1.2rem 0;
        color: #e29c04;
        font-size: 1.2rem;
        &:last-child {
          border-left: #ebebeb solid 1px;
        }
      }
    }
  }
  &.input_bank_new {
    .drawals_modal_wrapper {
      form {
        padding: 2.5rem 3rem;
        .input_form {
          margin: 0 0 1.5rem;
          .input_form_label {
            display: block;
            width: 100%;
            margin: 0 0 1rem;
            font-size: 1.3rem;
            color: #000000;
            font-weight: bold;
            letter-spacing: .3rem;
          }
          .input_form_inp {
            display: block;
            width: 100%;
            font-size: 1.2rem;
            color: #000000;
            border: none;
            outline: none;
            border-bottom: #ebebeb solid 1px;
            line-height: 2.2;
          }
        }
        .input_form_sub {
          background: #e29c04;
          border-radius: 5px;
          color: #ffffff;
          font-size: 1.4rem;
          letter-spacing: .6rem;
          padding: .9rem 0;
          width: 70%;
          margin: 1rem auto 0;
          display: block;
          border: none;
        }
      }
    }
  }
}

.select_bank_add {
  .card_list {
    background: #fff;
  }
  .bank_list {
    li.bank_item {
      position: relative;
      margin-bottom: .5rem;
      .select_bank {
        position: absolute;
        top: 0;
        right: 0;
        color: #d99f37;
      }
    }
  }
}

/*会员中心提现结束*/

.login_bg {
  width: 100%;
  min-height: 100%;
  body {
    background: url(../../images/lm/login_bg.png) center no-repeat #fff !important;
    background-size: 100% 100% !important;
  }
}

@media screen and (max-width: 360px) {
  .login_con {
    .login_logo {
      img {
        max-height: 5.95rem !important;
      }
    }
  }
}

.login_con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 640px;
  .login_logo {
    text-align: center;
    display: block;
    img {
      max-height: 6.95rem;
    }
  }
  .login_tips {
    display: flex;
    width: 90%;
    margin: 4rem auto;
    .login_tips_line {
      flex: 1;
      position: relative;
      top: -6px;
      border-bottom: 1px solid #ccc7b8;
    }
    .login_tips_text {
      padding: 0 1rem;
      font-weight: normal;
      font-size: 1.2rem;
      color: #666666;
      letter-spacing: .1rem;
    }
  }
  .login_form {
    width: 70%;
    min-width: 20rem;
    margin: 0 auto;
    .login_form_panpel {
      margin-top: 3rem;
      .login_form_label {
        color: #4c4736;
        font-size: 1.5rem;
        display: block;
        margin-bottom: .5rem;
      }
      .login_form_input_panpel {
        position: relative;
        .login_form_input {
          border: none;
          border-bottom: #ebe9e3 solid 1px;
          width: 100%;
          color: #999999;
          font-size: 1.2rem;
          padding: .1rem;
          outline: none;
          height: 2rem;
          border-radius: 0;
          background: transparent;
          &.focus {
            outline: none;
          }
          &.login_form_input_pwd {
            padding-right: 4rem;
          }
        }
        &.hide_pwd {
          .chose_pwd {
            color: #e29c04;
            &:before {
              content: "\e616";
            }
            &.active {
              color:#818181;
              &:before {
                content: "\e636";
              }
            }
          }
          .login_form_input_pwd {
            text-security: disc;
            -webkit-text-security: disc;
          }
        }
        .chose_pwd {
          color:#818181;
          &:before {
            content: "\e636";
          }
        }
        i {
          position: absolute;
          top: 0;
          right: 0;

        }
        &.error {
          i {
            color: #cc0000 !important;
            &:before {
              content: "\e633" !important;
            }
          }
          .login_form_input {
            color: #cc0000;
            &::placeholder {
              color: #cc0000;
            }
          }
        }
      }
      &.login_form_panpel_req {
        .login_form_input_panpel {
          display: flex;
          .login_form_input {
            flex: 1;
          }
          .login_form_req {
            height: 2rem;
            padding: .1rem;
            width: 8rem;
            margin: 0 0 0 1.5rem;
            color: #d9a300;
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            border-bottom: #ebe9e3 solid 1px;
            i {
              position: static;
              color: #d9a300 !important;
              &:before {
                content: "\e6e8" !important;
              }
            }
          }
        }
      }
      &.login_form_sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .login_form_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 0;
          flex:1;
          height: 3rem;
          margin-right: 2rem;
          border:#fcdf8e solid 2px;
          border-radius: .3rem;
          background: transparent;
          i {
            color: #fcdf8e;
            font-size: 4rem;
          }
          &.active {
            background: #ffdd75;
            i {
              color: #fff;
            }
          }
        }
        .target_reg{
          width: 7rem;
          font-size: 1.2rem;
          color:#999999;
          border-bottom: #ebe9e3 solid 1px;
          padding: .2rem;
          display: inline-block;
          letter-spacing: .1rem;
          text-align: center;
          b{
            color:#d9a300;
            font-weight: normal;
          }
        }
      }
      &.quick_login {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .quick_login_icon {
          margin: 0 1.5rem;
          display: none;
          i {
            color: #5f5f5f;
            font-size: 2.4rem;
          }
        }
      }
    }
    .login_form_forget {
      color: #999999;
      font-size: 1.2rem;
      border-bottom: #ebe9e3 solid 1px;
      padding: 1rem 0 .3rem;
      display: inline-block;
    }
  }
}

/*登录/注册/绑定/忘记密码页面*/
.member_margin_top {
  background: #464553;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .member_margin_price {
    display: flex;
    flex-flow: column wrap;
    .text {
      display: inline-block;
    }
    &.lf {
      flex: 2;
      .text {
        font-size: 1.5rem;
        color: #dadfe5;
        margin-bottom: 3.25rem;
      }
      .price {
        color: #ffffff;
        font-size: 3.2rem;
        line-height: 13px;
        b {
          font-weight: normal;
          font-size: 1.2rem;
          display: inline-block;
          margin-left: .7rem;
        }
      }
    }
    &.rg {
      flex: 1;
      //width: 7rem;
      .text {
        color: #828199;
        font-size: 12px;
        margin-bottom: 1.8rem;
      }
      .price {
        color: #828199;
        font-size: 13px;
        line-height: 13px;
        b {
          font-weight: normal;
          font-size: 1.3rem;
          display: inline-block;
          margin-left: .7rem;
        }
      }
    }
  }
}

.member_margin_select {
  .member_margin_select_head {
    padding: 1.5rem 2rem;
    display: flex;
    border-bottom: #ebebeb solid 1px;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    .trigger_date {
      position:relative;
      width:10rem;
      text-align:right;
      input {
        width: 100%;
        opacity: 0;
        right: 0;
        top:0;
        position: absolute;
      }
    }
  }
  .left {
    display: flex;
    align-items: center;
    .text {
      font-size: 13px;
      color: #000000;
    }
    .iconfont {
      color: #000000;
      vertical-align: middle;
      margin-left: .5rem;
      transition: .2s ease-in;
    }
  }
}

.member_margin_list {
  .member_margin_select_date {
    background: #fff;
    padding: 1.5rem 2rem;
    border-bottom: #ebebeb solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .date {
      color: #000;
      font-size: 15px;
    }
    i {
      color: #000;
    }
  }
  .member_margin_list_ul {
    background: #fcfbf7;
    padding: 0 0 0 2rem;
    border-bottom: #ebebeb solid 1px;
    li {
      padding: 1.5rem 2rem 1.5rem 0;
      border-bottom: #ebebeb solid 1px;
      a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
          color: #000000;
          font-size: 14px;
          display: inline-block;
          margin-right: 4px;
        }
      }
      .text {
        color: #000000;
        font-size: 12px;
        width: 12rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
      }
      .price {
        color: #000000;
        font-size: 15px;
        margin: 0 2rem;
      }
      .date {
        color: #999999;
        font-size: 10px;
        text-align: right;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

//保证金列表完成
.member_margin_info_top {
  background: #fff;
  .member_margin_info_work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-bottom: #ebebeb solid 1px;
    .work_info {
      font-size: 13px;
      color: #000;
      font-weight: 700;
      .work_name {
        font-weight: normal;
        vertical-align: middle;
        color: #666666;
        font-size: 11px;
        display: inline-block;
        margin-left: 2rem;
        width: 16rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    i {
      color: #aeb4aa;
    }
  }

  .time_line_con {
    padding: 0 2rem;
    border-bottom: #ebebeb solid 1px;
    $yelColor: #e5b82e;
    $blueColor: #7f7fff;
    &.active {
      .time_line_box {
        .time_line {
          background: $yelColor;
          ul {
            li {
              .order_item {
                &:before {
                  background: $yelColor;
                }
              }
            }
          }
        }
        &.one_step {
          .time_line {
            ul {
              li {
                &:nth-child(1) {
                  &:before {
                    background: $yelColor;
                  }
                }
                &:nth-child(2) {
                  &:before {
                    background: $yelColor;
                  }
                }
              }
            }
          }
        }
        &.two_step {
          .time_line {
            background: $yelColor;
          }
        }
      }
    }
    .time_line_box {
      position: relative;
      padding: 2rem 0;
      height: 9rem;
      width: 100%;
      .time_line {
        width: 100%;
        height: 1px;
        transition: transform 0.4s;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 2rem;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          li {
            flex: 1;
            position: relative;
            .order_item {
              display: flex;
              flex-flow: column wrap;
              align-items: center;
              position: relative;
              padding: 2rem 0 0 0;
              &:after {
                width: 2rem;
                height: 1rem;
                display: block;
                content: '';
                z-index: 2;
                background: #fff;
                position: absolute;
                left: 50%;
                top: -.5rem;
                transform: translate(-50%, 0);
              }
              &:before {
                position: absolute;
                width: 1rem;
                height: 1rem;
                display: block;
                content: '';
                background: $blueColor;
                border-radius: 100%;
                z-index: 3;
                left: 50%;
                top: -.5rem;
                transform: translate(-50%, 0);
              }
              .text {
                display: inline-block;
                color: #010101;
                font-size: 12px;
                margin-bottom: .7rem;
              }
              .date {
                display: inline-block;
                color: #999999;
                font-size: 10px;
              }
            }
            &:first-child,
            &:last-child {
              &:after {
                height: 2rem;
                background: #fff;
                left: 0;
              }
              &:last-child {
                &:after {
                  right: 0;
                  left: auto;
                }
              }
            }
            &:before, &:after {
              content: '';
              width: 50%;
              position: absolute;
              top: 0;
              z-index: 2;
              display: block;
              background: $blueColor;
            }
          }
        }
      }
      &.one_step {
        .time_line {
          ul {
            li {
              &:nth-child(1) {
                &:before {
                  left: 50%;
                  height: 1px;
                  background: $blueColor;
                }
              }
              &:nth-child(2) {
                &:before {
                  right: 50%;
                  height: 1px;
                  background: $blueColor;
                }
              }
            }
          }
        }
      }
      &.two_step {
        .time_line {
          background: $blueColor;
        }
      }
    }
  }
}

.member_margin_info_con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin: 1rem 0 0 0;
  border-bottom: #ebebeb solid 1px;
  border-top: #ebebeb solid 1px;
  background: #fff;
  .member_margin_info_con_pan {
    flex: 1;
  }
  .member_margin_info_con_left {
    flex-flow: column;
    display: flex;
    align-items: flex-start;
    &.active {
      max-width: 10rem;
      display: flex;
      justify-content: flex-end;
      flex-flow: column wrap;
      align-items: center;
      .dongjie {
        display: block;
      }
      .default {
        display: none;
      }
    }
    .default {
      .price {
        height: 3.8rem;
      }
    }
    .dongjie {
      display: none;
      text-align: center;
    }
    .img {
      height: 3.8rem;
      img {
        max-width: 2.5rem;
      }
    }
    .price {
      font-size: 18px;
      color: #e5ac00;
      display: flex;
      align-items: center;
      b {
        font-weight: normal;
        font-size: 11px;
        color: #999999;
        display: inline-block;
        margin-left: .7rem;
      }
    }
    .text {
      color: #999999;
      font-size: 12px;
      display: inline-block;
      margin-top: 2rem;
    }
  }
  .member_margin_info_con_center {
    width: 8rem;
    margin: 0 1rem;
    img {
      max-width: 100%;
    }
  }
  .member_margin_info_con_right {
    max-width: 10rem;
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    align-items: center;
    .img {
      height: 3.8rem;
      img {
        max-width: 2.5rem;
      }
    }
    .text {
      color: #999999;
      font-size: 12px;
      display: inline-block;
      margin-top: 2rem;
    }
  }
}

.member_margin_info_list {
  margin: 1rem 0 0 0;
  border-bottom: #ebebeb solid 1px;
  border-top: #ebebeb solid 1px;
  background: #fff;
  padding: 0 0 0 2rem;
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 2rem 1.5rem 0;
      border-bottom: #ebebeb solid 1px;
      .left {
        color: #000000;
        font-size: 12px;
        span {
          color: #999999;
          font-size: 10px;
          display: inline-block;
          margin-left: 1rem;
        }
      }
      .right {
        color: #666666;
        font-size: 11px;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.member_margin_info_orderList {
  background: #fcfbf7;
  padding: 0 2rem;
  margin: 1rem 0 0 0;
  border-bottom: #ebebeb solid 1px;
  border-top: #ebebeb solid 1px;
  min-height: 10rem;
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 0;
      .left {
        color: #999999;
        font-size: 11px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 60%;
      }
      .right {
        color: #999999;
        font-size: 11px;
      }
    }
  }
}

.member_margin_info_orderFooter {
  padding: 1.5rem 2rem;
  background: #faf9f7;
  border-bottom: #ebebeb solid 1px;
  .tel {
    color: #bfbfbf;
    font-size: 10px;
    display: block;
    text-align: center;
    width: 100%;
  }
}

.picker-modal {
  height: auto !important;
  .picker-modal-inner {
    .picker-items-col {
      display: none;
      &:nth-child(1), &:nth-child(2) {
        display: block;
      }
    }
  }
  .bar {
    & + .picker-items {
      height: 18rem;
    }
  }
  header {
    height: 44px;
    .title {
      height: 44px;
      line-height: 44px;
      font-size: 16px;
    }
    .close-picker {
      height: 44px;
      line-height: 44px;
      font-size: 14px;
    }
  }
}
.picker-modal header .reset-picker{
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  float: left;
}
//保证金详情页面完成
.predepositlog_list{
  padding-top: 1rem;
  background: #f5f5f5;
  li{
    background: #fff;
    a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 2rem;
      border-bottom: #ebebeb solid 1px;
      .left{
        display: flex;
        align-items: center;
        i{
          color:#000000;
          font-size: 18px;
        }
        .text{
          display: block;
          margin-left:.8rem;
          color:#000000;
          font-size: 15px;
        }
      }
    }
  }
}
.predepositlog_more{
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem 2rem;
  color:#999999;
  font-size: 14px;
  i{
    font-size: 14px;
    display: inline-block;
    margin-left: .3rem;
  }
}
//奖励金额主页完成
.get_commission{
  @extend .member_margin_top;
}
.get_commission_list{
  position: relative;
  .member_margin_select_date{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }
  .member_margin_list_ul{
    padding-top: 54px;
    li{
      a{
        .left{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  ul{
    padding-top: 54px;
  }
}
// 合伙人列表页面完成
.member_pather_top {
  background: #464552;
  //max-height: 12.4rem;
  //height: 0;
  //padding-bottom: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .member_pather_top_panpel {
    position: relative;
    .member_pather_top_con {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      .title {
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          display: inline-block;
          margin-right: .3rem;
        }
      }
      span {
        color: #fff;
      }
      .text {
        font-size: 14px;
        margin-top: 1.5rem;
      }
    }
    flex: 1;
    border-right: #585766 solid 1px;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }
}

.member_pather_top_more {
  padding: .8rem 2rem;
  color: #999999;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i {
    display: inline-block;
    margin-right: .3rem;
  }
  border-bottom: #f5f5f5 solid 1rem;
}


.member_pather_data {
  border-bottom: #f5f5f5 solid 1rem;
  padding-bottom: 1rem;
  @extend .clear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    padding: 0 2rem 0 1rem;
    flex: 1;
    .title {
      border-bottom: #f0f0f0 solid 1px;
      width: 100%;
      color: #000000;
      font-size: 14px;
      font-weight: bold;
      padding: 0 0 1.1rem 0;
      letter-spacing: .2rem;
    }
    .member_pather_data_left {
      padding-top: 1rem;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
        margin-bottom: 1.1rem;
        .value{
          color: #4c4c4c;
          font-size: 1rem;
        }
        .name {
          color: #4c4c4c;
          font-size: 1rem;
          i {
            width: 2rem;
            height: .8rem;
            display: inline-block;
            margin-right: .3rem;
          }
        }
      }
    }
  }
  .right {
    margin-right: 1rem;
    border: #c9c9c9 solid 1px !important;
    &>div:first-child,&{
      border-radius: 100%;
    }
    canvas {
      padding: 5px !important;
      border-radius: 100%;
    }
  }
}
.member_pather_href {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  .left {
    color: #000000;
    .text{
      font-size: 12px;
    }
  }
  .right {
    color: #aeb4aa;
  }
  border-bottom: #f5f5f5 solid 1rem;
}

.member_pather_invitation{
  color:#990000;
  margin: 1.5rem 0 0 0;
  background: #fafaf7;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  .text{
    font-size: 12px;
  }
  i{
    display: inline-block;
    margin-right: .4rem;
  }
}
// 合伙人主页完成
.member_partner_list_top {
  background: #464553;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  //align-items: flex-end;
  & > div {
    display: flex;
    flex-flow: column wrap;
    .text {
      display: inline-block;
    }
    &.left {
      flex: 2;
      .text {
        font-size: 1.5rem;
        color: #dadfe5;
        margin-bottom: 3.25rem;
      }
      .price {
        color: #ffffff;
        font-size: 3.2rem;
        line-height: 13px;
        b {
          font-weight: normal;
          font-size: 1.2rem;
          display: inline-block;
          margin-left: .7rem;
        }
      }
    }
    &.right {
      .member_partner_search {
        i {
          color: #fff;
          background: #6b6a75;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
        }
      }
    }
  }
}

.member_partner_list_list {
  border-top: #f5f5f5 solid 1rem;
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 2rem;
      border-bottom: #ebebeb solid 1px;
      .left {
        display: flex;
        align-items: center;
        .text {
          color: #000000;
          font-size: 12px;
          display: inline-block;
          margin-left: 1rem;
        }
        img {
          width: 1.4rem;
        }
      }
      .right {
        color: #666666;
        .text {
          font-size: 11px;
          margin-right: .1rem;
        }
      }
    }
  }
}

.member_partner_list_con {
  border-top: #f5f5f5 solid 1rem;
  .member_partner_list_panpel {
    .member_partner_list_con_date {
      background: #fff;
      padding: 1.5rem 2rem;
      border-bottom: #ebebeb solid 1px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .date {
        color: #000;
        font-size: 15px;
      }
    }
    .list {
      background: #fcfbf7;
      padding: 0 0 0 2rem;
      border-bottom: #ebebeb solid 1px;
      li {
        border-bottom: #ebebeb solid 1px;
        padding: 1rem 2rem 1rem 0;
        &:last-child{
          border-bottom: none;
        }
        a{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .left {
          display: flex;
          .img {
            position: relative;
            width: 4rem;
            height: 4rem;
            margin-right: 1.3rem;
            img {
              width: 100%;
              height: 100%;
            }
            & > img {
              border-radius: 4px;
            }
            .icon {
              width: 1.5rem;
              height: 1.5rem;
              position: absolute;
              bottom: -.3rem;
              right: -.3rem;
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
              img{
                border-radius: 100%;
              }
            }
          }
          .text{
            .name{
              font-size: 12px;
              font-weight:bold;
              color:#000;
              margin:.5rem 0 1rem 0;
            }
            .level{
              color:#808080;
              font-size: 10px;
            }
          }
        }
        .date{
          color:#000000;
          font-size: 12px;
        }
      }
    }
  }
}
//我的合伙人列表页面完成
.member_ortner_list_children{
  @extend .member_partner_list_con;
  border-top: none;
  .member_partner_list_panpel{
    background: #fcfbf7;
    padding-left: 2rem;
    ul{

    }
    .list{
      padding: 0;
      border: none;
    }
  }
  li{
    &:last-child{
      border: none;
    }
  }
}
// 合伙人1/2/优秀级完成