.qll_goods_item {
  border-bottom: 0.5rem solid #f5f5f5;
  padding: 1.6rem;
  display: flex;
  background: #fff;
  .qll_goods_pic {
    display: block;
    width: 12rem;
    height: 12rem;
    a {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.qll_goods_info {
  display: block;
  height: 12rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  .qll_goods_address {
    font-size: 1.2rem;
    overflow: hidden;
  }
  .qll_goods_sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .goods-price {
      em {
        font-size: 1.2rem;
      }
      font-size: 1.2rem;
      color: #000;
    }
  }
  .qll_goods_name {
    h4 {
      font-size: 1.4rem;
      line-height: 2rem;
      height: 2rem;
      overflow: hidden;
    }
    h6 {
      font-size: 1.4rem;
      color: #999;
      line-height: 2rem;
      height: 2rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
    }
  }
}

.qll_nctouch_layout {
  margin-top: 4.3rem !important;
}

.qll_goods_item_change {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5rem solid #f5f5f5;
  padding: 1.6rem;
  display: flex;
  background: #fff;
  .qll_goods_name_change {
    a {
      h4 {
        margin-top: 0.5rem;
      }
      h6 {
        margin: 0.5rem 0;
        color: #999;
      }
    }
  }
  .qll_goods_pic_change {
    display: block;
    width: 100%;
    height: 34rem;
    a {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .qll_goods_address_change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .qll_goods_sale_change {
      margin-left: -15rem !important;
      .qll_goods_price {
        color: #000;
      }
    }
    .qll_guanzhu_change {
    }
  }
}

.qll_goods_detail_top {
  padding: 1.5rem;
  .qll_goods_detail_pic {
    width: 100%;
    height: 34rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .qll_goods_detail_name {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  .qll_goods_detail_price {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .qll_goods_price_left {
      span {
        font-size: 1.6rem;
      }
      del {
        font-size: 1.2rem;
        color: #808080;
        margin-left: 1rem;
      }
    }
    .qll_goods_price_right {
      .qll_goods_guanzhu,
      .qll_goods_fenxiang {
        display: inline-block;
        height: 3.2rem;
        width: 3.2rem;
        line-height: 3.5rem;
        text-align: center;
        border-radius: 100%;
      }
      .qll_goods_guanzhu {
        color: #fa1939;
        background: #cccccc;
        margin-right: 1rem;
      }
      .qll_goods_fenxiang {
        background: #fde7a5;
      }
    }
  }
}

.qll_Parting_line {
  width: 100%;
  img {
    width: 100%;
  }
}

.qll_goods_detail_platform {
  color: #a38e4a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .qll_platform_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 1.4rem;
      color: #808080;
      margin-left: 0.5rem;
    }
    .qll_platform_right {
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fafafa;
      i {
        font-size: 3rem;
      }
    }
    .qll_platform_left {
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fafafa;
      i {
        font-size: 2rem;
      }
    }
  }
}

.qll_goods_detail_artist {
  margin-top: 1rem;
  background: #f5f5f5;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .qll_artist_img {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  .qll_artist_info {
    max-width: 70%;
    color: #808080;
    b {
      font-size: 1.6rem;
      font-weight: normal;
    }
    span {
      display: inline-block;
      padding: 0.5rem 1rem 0 0;
      font-size: 1.4rem;
    }
  }
}

.qll_goods_detail_evaluate {
  background-image: url("../../images/lm/qll_Parting_line.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 1px;
  .qll_evaluate_title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .qll_evaluate_title_left {
      display: flex;
      align-items: baseline;
      color: #808080;
      span:nth-child(1) {
        font-size: 1.6rem;
      }
      span:nth-child(3) {
        font-size: 1.4rem;
      }
      i {
        font-size: 1.4rem;
      }
    }
    .qll_evaluate_title_center {
      color: #808080;
      font-size: 1.4rem;
    }
    .qll_evaluate_title_right {
      color: #808080;
    }
  }
  .qll_evaluate_detail {
    background-image: url("../../images/lm/qll_Parting_line.png");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fafafa;
    background-size: contain;
    padding: 1.5rem;
    .qll_evaluate_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .qll_evaluate_top_left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: #808080;
          font-size: 1.2rem;
          margin-right: 2rem;
        }
        b {
          font-size: 1.4rem;
        }
        .qll_evaluate_img {
          width: 4rem;
          height: 4rem;
          border-radius: 100%;
          margin-right: 1rem;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .qll_evaluate_top_right {
        color: #808080;
        span {
          margin-left: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }
    .qll_evaluate_bottom {
      padding: 0.5rem 0 0 5rem;
      font-size: 1.4rem;
    }
  }
}

.qll_goods_detail {
  width: 100%;
  padding: 2rem 0;
  img {
    width: 100%;
  }
}

.qll_works_detail {
  width: 100%;
  height: 20rem;
}

.qll_works_more {
  padding-bottom: 6rem;
  .qll_works_more_title {
    width: 100%;
    padding: 2rem 0;
    img {
      width: 100%;
    }
  }
  .qll_works_more_list {
    padding: 0 1rem 1rem 1rem;
    overflow: hidden;
    li {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 0 0.5rem;
      img {
        width: 100%;
        height: 15rem;
        border-radius: 0.5rem;
      }
      dl {
        margin-top: 0.5rem;
        font-size: 1.4rem;
        dd {
          display: flex;
          justify-content: space-between;
          i {
            color: #fa1939;
          }
        }
      }
    }
  }
}

.qll_goods_detail_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  .qll_goods_detail_footer_left {
    width: 13.5rem;
    height: 4.9rem;
    background-color: #f3f1e9;
    background-image: url("../../images/lm/qll_goods_detail_footer_line.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .qll_goods_detail_footer_icon {
      i {
        font-size: 2.5rem;
        color: #777777;
      }
    }
  }
  .qll_goods_detail_footer_right {
    height: 4.9rem;
    line-height: 4.9rem;
    text-align: center;
    background: #fabf13;
    flex: 1;
    font-size: 2rem;
  }
}

.qll_bar_nav {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  h1 {
    color: #fff;
    flex: 1;
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
    margin: 0;
  }
}

.qll_content {
  margin-top: 3.5rem;
  .qll_list_top {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    color: #808080;
    border-bottom: 1px solid #919191;
    font-size: 1.4rem;
  }
  .qll_list-block {
    ul {
      li:nth-child(1) {
        dl {
          color: #cf9900;
        }
      }
      li {
        dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 1.5rem;
          background-image: url("../../images/lm/qll_Parting_line.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
          font-size: 1.2rem;
          margin: 0;
          dt {
            i {
              margin-right: 0.5rem;
            }
          }
          dd {
            span {
              padding: 0 1rem;
            }
          }
        }
      }
    }
  }
}

.qucai_list_tab {
  border-bottom: .1rem solid #a0a0a0;
  display: flex;
  justify-content: space-between;
  .qucai_ing,
  .qucai_end {
    height: 4.4rem;
    line-height: 4.4rem;
    width: 50%;
    text-align: center;
    font-size: 1.8rem;
  }
  .qucai_change {
    background: #b09f6a;
    color: #fff;
  }
  .qucai_change1 {
    color: #b09f6a;
  }
}

.guess_list_con {
  .qucai_list_detail {

    li {
      border-bottom: solid .5rem #f5f5f5;
      .qucai_detail_title {
        text-align: center;
        font-size: 1.6rem;
        font-weight: normal;
        color: #3a3a3a;
      }
      .qucai_detail_img {
        display: block;
        width: 100%;
        min-height: 21.5rem;
        position: relative;
        .qucai_detail_end_show {
          .qucai_detail_img_end {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: #000;
            opacity: 0.7;
            display: flex;
            align-items: center;
            justify-content: center;
            .qucai_detail_end_content {
              span {
                display: block;
                text-align: center;
              }
              span:nth-child(1) {
                color: #fff;
                font-size: 1.4rem;
                margin-bottom: .3rem;
              }
              span:nth-child(2) {
                color: #000;
                background: #fff;
                height: 2rem;
                line-height: 2rem;
                padding: 0 1rem;
                border-radius: .3rem;
                font-size: 1.2rem;
              }
            }
          }
        }
        img {
          width: 100%;
          min-height: 21.5rem;
        }
      }
      .qucai_detail_info {
        background-color: #f0ebde;
        display: flex;
        justify-content: space-between;
        .qucai_info_left {
          background-image: url("../../images/lm/qll_qucai_list_line.png");
          background-repeat: no-repeat;
          background-position: right;
          background-size: contain;
          width: 75%;
          padding: 1rem 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .qucai_info_left_top {
            margin-bottom: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .qucai_info_price {
              color: #808080;
              font-size: 1.2rem;
            }
            .qucai_info_num {
              color: #525250;
              font-size: 1rem;
              display: flex;
              align-items: center;
              margin-right: 5%;
            }
          }
          .qucai_info_left_bottom{
            .qucai_info_con{
              &:first-child{
                display: block;
              }
            }
            .qucai_info_endtime{
              text-align: center;
              font-size: 1rem;
              color: #31302d;
              em{
                display: inline-block;
                width: 2.3rem;
                height: 2.3rem;
                text-align: center;
                line-height: 2.3rem;
                background: #fabf13;
                border-radius: .5rem;
                vertical-align: baseline;
                margin: 0 .1rem;
                font-weight: bold;
                font-size: 1.4rem;
                font-style: normal;
              }
            }
            .qucai_info_end{
              color: #808080;
              font-size: 1.2rem;
            }
          }

        }
        .qucai_info_right {
          width: 25%;
          padding: 1rem 0;
          div:nth-child(1) {
            margin-bottom: .5rem;
          }
          div {
            b {
              font-size: 2.2rem;
              color: #3a3a3a;
              margin-right: .2rem;
            }
            text-align: center;
            font-size: 1.4rem;
            color: #3a3a3a;
          }
        }
      }
    }
  }
}

.special_list_top {
  position: relative;
  width: 100%;
  height: 13.5rem;
  img {
    width: 100%;
    height: 100%;
  }
  .special_list_top_rate {
    background-color: #e90525;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 1.2rem;
    height: 2rem;
    line-height: 2rem;
    padding-right: 1rem;
    &:before {
      background-image: url("../../images/lm/lm_finance_tip.png");
      width: 3.9rem;
      height: 2rem;
      position: absolute;
      left: -3.9rem;
      top: 0;
      display: block;
      content: '';
      background-size: 100%;
    }
  }
}

.special_list_time {
  background: #e5f4ef;
  padding: 1rem 0;
  .special_list_endtime {
    text-align: right;
    padding: 0 1.5rem 1.5rem 0;
    font-size: 1rem;
  }
  .special_list_startime {
    font-size: 1rem;
    text-align: center;
    em {
      display: inline-block;
      width: 2.3rem;
      height: 2.3rem;
      text-align: center;
      line-height: 2.3rem;
      background: #92cdbb;
      border-radius: .5rem;
      vertical-align: baseline;
      margin: 0 .1rem;
      font-weight: bold;
      font-size: 1.4rem;
      font-style: normal;
    }
  }
}

.special_list_guanzhu {
  padding: 1rem 1.5rem;
  background: #92cdbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    i {
      color: #000;
    }
  }
  .qll_font {
    i {
      font-size: 2.2rem;
    }
  }
  .qll_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    i:first-child {
      font-size: small;
    }
    i:last-child {
      font-style: normal;
      font-size: 1rem;
    }
  }
}

.special_works_list {
  margin-top: 2rem;
  .special_works_list_top {
    text-align: center;
    background: #92cdbb;
    a {
      color: #fff;
      font-size: 2.5rem;
    }
  }
  .special_works_list_items {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: .5rem solid #f5f5f5;
    .works_list_img {
      display: block;
      width: 13rem;
      height: 13rem;
      border-radius: .3rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: .3rem;
      }
    }
    dl {

      margin: 0 0 0 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    dd {
      margin: 0;
    }
    .works_list_name {
      font-size: 1.4rem;
      color: #3a3a3a;
    }
    .works_list_price {
      margin-bottom: -5rem;
      font-size: 1.2rem;
      color: #3a3a3a;
    }
    .works_list_bond {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: #000;
        &:first-child {
          font-size: 1.4rem;
          display: inline-block;
          height: 2.2rem;
          line-height: 2.2rem;
          padding: 0 1.5rem;
          background: #92cdbb;
          border-radius: 2.8rem;
        }
      }

    }
  }
  .special_works_list_items1 {
    border-bottom: .5rem solid #f5f5f5;
    padding: 1.5rem;
    width: 100%;
    position: relative;
    img {
      width: 100%;
      max-height: 34rem;
      border-radius: .3rem;
    }
    span {
      position: absolute;
      top: 3rem;
      right: 2rem;
      i {
        margin-right: 1rem;
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 100%;
        text-align: center;
        opacity: 0.5;
        background: #b89e53;
      }
    }
    .works_list_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .works_list_info_name {
        flex: 1;
        margin-right: 5rem;
        color: #3a3a3a;
        &:nth-child(1) {
          font-size: 1.4rem;
        }
        &:nth-child(2) {
          font-size: 3rem;
          margin-bottom: 0;
        }
      }
      .works_list_info_bond {
        font-size: 1.4rem;
        display: inline-block;
        height: 2.2rem;
        line-height: 2.2rem;
        padding: 0 1.5rem;
        background: #92cdbb;
        border-radius: 2.8rem;
        color: #000;
      }
    }
  }
}

.qucai_detail_top {
  height: 4rem;
  line-height: 4rem;
  background: #f1ebdf;
  position: relative;
  .cutedown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    &.start_ing {
      .cutedown_con {
        span {
          background: #fabf13;
        }
      }
    }
    .cutedown_con {
      color: #3a3a3a;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.4rem;
        color: #000000;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #92cdbb;
        margin: 0 .2rem;
        border-radius: .3rem;
      }
    }
  }
  i {
    font-size: 1.8rem;
    position: absolute;
    right: 2rem;
    top: 0;
  }
  .pub_start_time {
    position: relative;
    &.winning {
      display: flex;
      justify-content: center;
      align-items: center;
      .result {
        background: #dbdcdd;
        padding: 0 1.2rem;
        border-radius: .5rem;
        color: #010101;
        font-size: 1rem;
        line-height: 2.4rem;
        height: 2.4rem;
        margin: 0 0 0 .6rem;
      }
    }

    .remind {
      &.active {
        color: #fa1939;
      }
    }
  }
}

.qucai_detail_works {
  position: relative;
  padding: 1.5rem;
  .qucai_detail_banner {
    width: 100%;
    img {
      width: 100%;
      max-height: 34rem;
    }
  }
  .detail_works_name {
    font-size: 1.4rem;
    color: #3a3a3a;
  }
  .detail_works_price {
    font-size: 1.2rem;
    b {
      font-size: 1.4rem;
    }
  }
  .detail_works_follow {
    margin: 1rem 0;
    i {
      font-size: 1rem;
      font-style: normal;
      &:before {
        margin-right: .2rem;
        font-size: medium;
        vertical-align: middle;
      }

      &:nth-child(2) {
        margin-left: 2rem;
      }
    }
  }
  .detail_works_contact {
    position: absolute;
    bottom: 2.5rem;
    right: 1.5rem;
    i {
      font-size: 2rem;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      border-radius: 100%;
      background: rgba(191, 165, 81, .4);
      color: #808080;
      &:nth-child(2) {
        margin: 0 1rem;
      }
      &.active {
        background: rgba(184, 181, 177, .4);
        color: #fa1939;
      }
      &.collect {
        &:before {
          content: "\e61b";
        }
        &.active {
          &:before {
            content: "\e81b";
          }
        }
      }
    }
  }
}

.qll_quiz_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  b {
    font-weight: normal;
    color: #a6a6a6;
    font-size: 1.4rem;
  }

}

.qll_quiz_price_result {
  overflow: hidden;
  padding: 0 1.5rem 1.5rem;
  .title {
    color: #000;
    font-size: 1.4rem;
  }
  .result{
    &>span{
      float: left;
      width: 31%;
      margin: 0 3.5% .8rem 0;
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
  @media screen  and (max-width: 360px){
    .result{
      &>span{
        width: 48%;
        margin: 0 2% .8rem 0 !important;
        &:nth-child(2n){
          margin-right: 0 !important;
        }
      }
    }
  }
  .result, .botot {
    width: 100%;
  }
  .botot{
    span{
      font-weight: normal;
      color: #a6a6a6;
      display: inline-block;
      margin: 0 2% .8rem 0;
      float: left;
      &:nth-child(2n){
        margin-right: 0;
      }
      font-size: 1.2rem;
      width: 48%;
    }
  }
  b{
    margin: 0 .5rem .5rem 0;
  }
  b, span {
    font-weight: normal;
    color: #a6a6a6;
    display: inline-block;
    font-size: 1.2rem;
  }
}

.detail_artist {
  .detail_artist_info {
    b {
      font-size: 1.2rem;
    }
    span {
      font-size: 1rem;
    }
  }
}

.qucai_record {
  background: #f5f5f5;
  margin-bottom: 1.5rem;
  .record_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: #818181;
    font-size: 1.4rem;
    i {
      color: #818181;
    }
  }
  .record_list_block {
    ul {
      li:nth-child(1) {
        dl {
          color: #cf9900;
          background-color: #fafafa;
        }
      }
      li {
        dl {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: .8rem 1.5rem;
          background-image: url("../../images/lm/qll_Parting_line.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
          font-size: 1rem;
          margin: 0;
          dt {
            &.name {
              flex: 2;
            }
            i {
              margin-right: 0.5rem;
            }
          }
          dd {
            margin: 0;
            text-align: left;
            span {
              padding: 0 1rem;
            }

            &.state {
              flex: 1;
            }
            &.date {
              flex: 3;
            }
            &.price {
              flex: 1;
            }
          }
        }
      }
    }
  }
}

.qll_qucai_recommend {
  padding-bottom: 5rem;
  .qucai_recommend_title {
    img {
      width: 100%;
    }
  }
  ul {
    .qucai_list_item {
      border-bottom: solid .5rem #f5f5f5;
      .qucai_detail_title {
        text-align: center;
        font-size: 1.6rem;
        font-weight: normal;
        color: #3a3a3a;
      }
      .qucai_detail_img {
        display: block;
        width: 100%;
        min-height: 21.5rem;
        img {
          width: 100%;
          min-height: 21.5rem;
        }
      }
      .qucai_detail_info {
        background: #f0ebde;
        padding: .5rem 1.5rem;
        .qucai_info_left_top {
          display: flex;
          justify-content: space-between;
          .qucai_info_price {
            font-size: 1.4rem;
            color: #7f7f7f;
          }
          .qucai_info_num {
            font-size: 1rem;
            i {
              &:first-child {
                font-size: 1rem;
                &:before {
                  font-size: medium;
                  vertical-align: middle;
                }
              }
              &:last-child {
                margin-left: 1rem;
                font-style: normal;
              }
              font-size: 1rem;
            }

          }
        }
        .qucai_info_left_bottom {
          text-align: center;
          margin-top: .5rem;
          .cutedown {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            .cutedown_con {
              color: #3a3a3a;
              font-size: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.4rem;
                color: #000000;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #92cdbb;
                margin: 0 .2rem;
                border-radius: .3rem;
              }
            }
          }
        }
      }
    }
  }
}

.qucai_detail_bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fabf13;
  padding: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.qll_works_img {
  min-width: 320px;
  max-width: 640px;
  overflow: hidden;
  p,
  div,
  table {
    width: 100% !important;
    font-size: 0.6rem !important;
  }
  img {
    width: 100% !important;
  }
}

.shop_works_list {
  margin-top: 4.2rem;
  li {
    border-bottom: .5rem solid #f5f5f5;
    padding: 1.5rem;
    .works_list_img {
      .works_paimai_end {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;
        .works_customized {

          &:nth-child(1) {
            margin-bottom: .5rem;
            display: block;
          }
          color: #fff;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 300;

        }
      }
    }
    .works_paimai_btn {
      span {
        width: 6rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        display: inline-block;
        border-radius: 2.5rem;
        background: #fabf13;
        font-size: 1.4rem;
        opacity: 0.8;
        color: #000;
      }
    }

  }
  &.shop_works_list_narrow {
    li {
      display: flex;
      align-items: center;
      .works_list_img {
        width: 13rem;
        height: 13rem;
        position: relative;
        border: #dfdfdf solid 1px;
        .works_paimai_btn {
        }
        img {
          width: 100%;
          height: 100%;
        }
        .works_paimai_btn {
          display: none;
        }
        .works_paimai_end {
          .works_customized {
            span {
              &:nth-child(1) {
                margin-bottom: .5rem;
              }
              font-size: 1.2rem;
              display: block;
            }
            p {
              span {
                margin-top: .5rem;
              }
              text-align: center;
              margin: 0;
              color: #fff;
              font-weight: 300;
              font-size: 1.2rem;
            }
          }
        }
      }
      .works_list_detail {
        .works_name {
          flex: 1;
          span {
            font-size: 1.2rem;
            color: #6f6f6f;
            &.goods_name {
              font-size: 1.4rem;
              line-height: 1.6;
              margin: .6rem 0;
              display: block;
            }
            &.store_name {
              margin: 0;
            }
            &.goods_price {
              display: block;
              font-style: normal;
              font-size: 1.2rem;
              margin-top: 1rem;
              color: #6f6f6f;
              .market_price {
                font-size: 1.2rem;
                color: #808080;
              }
            }
          }
          .works_paimai_btn {
            margin-top: 1rem;
          }
        }
        .collect {
          background-image: url("../../images/lm/guanzhu.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 2rem;
          height: 2rem;
          &.active {
            background-image: url("../../images/lm/quxiao.png");
          }
        }
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1rem 1.5rem;
        flex: 1;
      }
    }
  }

  &.shop_works_list_enlarge {
    li {
      .works_list_img {
        display: block;
        position: relative;
        border: #dfdfdf solid 1px;
        .works_paimai_btn {
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .works_list_detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .works_name {
          margin-top: 1rem;
          flex: 1;
          p {
            color: #6f6f6f;
            margin: 0;
            &:nth-child(1) {
              font-size: 1.4rem;
              margin-bottom: .5rem;
              line-height: 1.6;
              padding-right: 2rem;
            }
            &:nth-child(2) {
              i {
                font-style: normal;
                font-size: 1.2rem;
                margin-left: 3rem;
                color: #6f6f6f;
              }
              font-size: 1.2rem;
            }
          }
          .works_paimai_btn {
            display: none;
          }
        }
        .collect {
          background-image: url("../../images/lm/guanzhu.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 2rem;
          height: 2rem;
          &.active {
            background-image: url("../../images/lm/quxiao.png");
          }
        }
      }
    }
  }
}

.qll_width {
  width: 10rem !important;
}

.qll_category {
  li {
    a {
      i {
        vertical-align: middle;
      }
    }
  }
}

.shop_works_screen {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding-bottom: 30px;
  overflow-y: scroll;
  .shop_works_screen_top{
    background: #000;
    height: 4.2rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    a{
      color: #fff;
    }
    h3 {
      text-align: center;
      flex: 1;
      font-weight: normal;
      color: #fff;
      font-size: 1.6rem;
    }
  }
  .shop_works_screen_content{
    padding: 50px 0 60px;
    .list_line{
      width:100%;
      height:1px;
      background-image: url("../../images/lm/qll_Parting_line.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
    }

    dl{
      margin: 0;
      display: block;
      background-color: #FFF;
      &.bigType{
        span{
          display: inline-block !important;
        }
      }
      &.active{
        dt{
          i{
            color: #fff;
            transform: rotate(180deg);
          }
        }
        dd{
          span{
            display: inline-block !important;
          }
        }
      }
      dt{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        color: #888;
        background: #e6e6e6;
        padding: .5rem 1.5rem;
        i{
          font-size: 2rem;
        }
      }
      dd{
        &:last-child{
          background-image: none;
        }
        margin: 0;
        padding: 1.5rem 0 1.5rem 0;
        background-image: url("../../images/lm/qll_Parting_line.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

          span{
            display: inline-block;
            width: 30%;
            text-align: center;
            height: 2rem;
            line-height: 2rem;
            margin: 1rem 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:nth-child(3) ~ *{
              display: none;
            }
            i{
              position: relative;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              &.active{
                text-align: center;
                width: 8rem;
                height: 2rem;
                line-height: 2rem;
                background-color: #e1dac5;
                border-radius: 2rem;
                padding-right: 1rem;
                &:after{
                  content: "\e679";
                  position: absolute;
                  right: .8rem;
                  font-size: smaller;
                  font-weight: bold;
                  color: #fff;
                }
              }
              font-style: normal;
              display: inline-block;
              font-size: 1.2rem;
            }
          }
      }
    }
  }
  .shop_works_screen_bottom {
    display: flex;
    background-image: url("../../images/lm/shop_list_screen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fabf13;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    a{
      display: inline-block;
      width: 50%;
      text-align: center;
      color: #000;
      font-size: 1.6rem;
      padding: 1.5rem 0;
    }
  }
  #own_shop.current {
    color: #FFF;
    background: #ED5564;
    border: none;
  }
}

.nctouch-norecord {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 10rem;
  margin: -7rem 0 0 -10rem;
  text-align: center;
  font-size: 0;
  .norecord-ico {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    padding: 0.4rem;
    margin: 0 auto;
    background-color: #DDD;
    border-radius: 100%;
    i {
      background-image: url(../../images/search_w.png);
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 70%;
    }
  }
  dl {
    height: 2.75rem;
    margin-top: 0.75rem;
    dt {
      display: block;
      height: 1rem;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 1rem;
    }
    dd {
      display: block;
      height: 1rem;
      font-size: 1.4rem;
      line-height: 1rem;
      color: #999;
      margin: 0;
    }
  }
  .btn {
    vertical-align: top;
    display: inline-block !important;
    height: 2rem;
    padding: 0 0.3rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #555 !important;
    line-height: 2rem;
    text-align: center;
    background-color: #FFF;
    border: solid 1px #CCC;
    border-radius: 0.15rem;
  }
}
.toast {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  color: white;
  padding: 0 .8rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  width: auto;
}

.qll_artlist_top{
  background: #e3e3e3;
  .qll_store_search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #e3e3e3;
    z-index: 9;
    .qll_artlist_top_left,
    .qll_artlist_top_right{
      i{
        color: #b5b5b5;
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
    .qll_title_search{
      display: flex;
      margin: 0 20px;
      flex: 1;
      overflow: hidden;
      max-width: 400px;
      width: 78px;
      border-radius: 30px 0 0 30px;
      .qll_search_tip{
        height: 3rem;
        flex: 1;
        color: #000;
        border: none;
        text-indent: 2em;
        font-size: 12px;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: #e6e6e6;
          font-size: 1.4rem;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #e6e6e6;
          opacity:  1;
          font-size: 1.4rem;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #e6e6e6;
          opacity:  1;
          font-size: 1.4rem;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #e6e6e6;
          font-size: 1.4rem;
        }

      }
      .qll_search_btn{
        width:3rem;
        height:3rem;
        line-height: 3rem;
        -webkit-appearance:none;
        border-left: 0;
        border: 0;
        outline: none;
        border-radius: 0 3rem 3rem 0;
        background: #fff;
        padding-left: 0;
        margin-left: -.1rem;
        i{
          font-size: 2.5rem;
          color: #e6e6e6;
        }
      }
    }
  }
  .qll_store_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-top: 4.9rem;
    .store_img{
      .store_logo{
        vertical-align: middle;
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        display: inline-block;
        img{
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      span{
        color: #1f1f1f;
        font-size: 1.4rem;
      }
    }
    .store_collect{
      text-align: center;
      &.active{
        i{
          &:before{
            content: '\e81b';
            color: #d81e06;
          }
        }
      }
      span{
        display: block;
      }
      i{
        color: #7b7b7b;
      }
    }
  }
}
.qll_nav_tab_con{
  border-bottom: .5rem solid #f5f5f5;
  ul{
    display: flex;
    justify-content: space-around;
    border-bottom: .1rem solid #a2a2a2;
    li{
      &.active{
        border-bottom: solid 1px #a6a167;
        color: #a6a167;
      }
      font-size: 1.4rem;
      color: #202020;
      padding: 1rem 1.5rem;
    }
  }
}
.qll_recommend_works{
  text-align: center;
  color: #a6a167;
  font-size: 1.4rem;
}
.qll_works_tab_con{
  padding-bottom: 5rem;
  ul{
    li{
      border-bottom: .5rem solid #f5f5f5;
      padding: 1.5rem;
      a{
        display: block;
        position: relative;
        &.qll_border{
          border: #dfdfdf solid 1px;
        }
        .qll_paimai_btn{
          position: absolute;
          display: block;
          width: 6rem;
          height: 2.5rem;
          line-height: 2.5rem;
          text-align: center;
          bottom: 2rem;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background: #fabf13;
          color: #3d3c42;
          font-size: 1.2rem;
          border-radius: 2.5rem;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
      .qll_works_info{
        padding: 1rem 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .qll_works_info_left{
          .qll_works_name{
            font-size: 1.4rem;
            color: #000;
          }
          .qll_works_price{
            display: block;
            margin-top: 1rem;
            font-size: 1.2rem;
          }
        }
        i{
          &.active{
            &:before{
              content: '\e81b';
              color: #d81e06;
            }
          }
          font-size: 2rem;
          color: #848484;
          margin-left: 3rem;
        }
      }
    }
  }
}
.qll_store_footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e9e9e9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  a{
    color: #000;
    display: block;
    width: 30%;
    text-align: center;
    padding: 1rem 0;
    &.qll_kefu{
      span{
        display: block !important;
        font-size: 1rem;

      }
      i{
        color: #6f6f6f;
      }

    }
    &.qll_introduce{
      font-size: 1.4rem;

    }
    &.qll_introduce,
    &.qll_shop_car{
      background-image: url("../../images/lm/lm_line.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      position: relative;
      span{
        display: block;
        font-size: 1rem;
      }
      i{
        color: #6f6f6f;
      }
    }
    &.qll_shop_car{
      sup{
        @media screen and (max-width: 340px) {
          right: 2.5rem;
        }
        @media screen and (min-width: 340px) {
          right: 3.5rem;
        }
        position: absolute;
        z-index: 1;
        top: .5rem;
        min-width: 1.2rem;
        height: 1.2rem;
        font-size: 1rem;
        line-height: 1.2rem;
        color: #000;
        text-align: center;
        background: #fabf13;
        border-radius: 100%;

      }
    }
  }
}
.fixed{
  background: #e3e3e3;
  position: fixed;
  z-index: 3;
  top: 5rem;
  left: 0;
  right: 0;
.download_img{
  line-height: 0;
  img{
    &.mt{
      margin-top: -1px;
    }
    width: 100%;
  }
}
.dowanload_btn {
  position: absolute;
  background: #fff;
  padding: 2rem 4rem 2rem;
  .btn_tip {
    display: flex;
    justify-content: space-between;
    .qll_download {
      width: 48%;
      img {
        width: 100%;
      }
    }
    a {
      display: block;
      width: 48%;
      z-index: 2;
      img {
        width: 100%;
      }
    }
  }
  .andr_download_content {
    &.andr_download_content_hide {
      display: none;
    }
    .andr_download {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .andr_download_left {
        border-radius: .3rem;
        width: 28%;
        background: #e6e3eb;
        display: block;
        text-align: center;
        img {
          width: 64%;
          padding: .6rem 0 0.4rem;
        }
      }
      .andr_download_right {
        border-radius: .3rem;
        width: 68%;
        background: #e6e3eb;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          display: block;
          width: 33%;
          img {
            &.qll_img_width {
              width: 60%;
              padding: .4rem 0;
            }
            width: 70%;
            padding: .6rem 0 0.4rem;
          }
          &:nth-child(1),
          &:nth-child(2) {
            background-image: url('../../images/lm/download_line.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;

          }

        }
      }
    }
  }
}

}

