@charset 'utf-8';
@import "./animate.css";

.tipModal {
  z-index: 9004;
  .tipModal_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9004;
    background: rgba(0, 0, 0, .6);
  }
  .tipModal_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index:9005;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    .tipModal_header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 2.1rem 1.5rem;
      &.showtitle {
        border-bottom: #ffcf66 solid 1px;
      }
      .tipModal_title {
        color: #000000;
        letter-spacing: .2rem;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
      }
      .tipModal_close {
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 1rem;
        }
      }
    }
    .tipModal_content {
      padding: 2.5rem 3rem;
      &.simple {
        text-align: center;
        color: #000000;
        line-height: 1.7;
        font-size: 16px;
      }
    }
    .tipModal_tools {
      margin-top: 1rem;
      &.allBtn {
        border-top: #ebebeb solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tipModal_btn {
          border-top: none;
          background: transparent;
          letter-spacing: .1rem;
          border-radius: 0 0 0 5px;
          &:last-child {
            border-left: #ebebeb solid 1px;
            display: block;
            border-radius: 0 0 5px 0;
          }
        }
      }
      .tipModal_btn {
        border-top: #ffcf66 solid 1px;
        background: #faf9f7;
        letter-spacing: 1rem;
        flex: 1;
        text-align: center;
        padding: 1.2rem 0;
        color: #cc9900;
        font-size: 14px;
        border-radius: 0 0 5px 5px;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
.pub_overFlow{
  overflow: hidden;
  min-height: 100%;
}
