.head-search-bar .search-form {
    background: transparent;
    background-color:transparent !important;
    padding: 1px;
}
.public-head-layout{
    height:83px;
}
.lm_clear {
    zoom: 1;
}

.lm_clear:after {
    content: "";
    clear: both;
    display: block;
}

.head-search-bar .input-text {
    border-radius: 20px 0 0 20px;
    width: 79%;
    border: #e8e8e8 solid 1px;
    border-right: none;
    padding: 6px 3%;
}

.head-search-bar .input-text:focus ~ input {
    border-color: #CCD0D9;
}

.head-search-bar .input-submit {
    width: 14%;
    border: #e8e8e8 solid 1px;
    float: left;
    height: 38px;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background: url("../../image/lm/lm_search.png") no-repeat;
    background-position: center center;
}

.head-search-bar .input-submit, .head-search-bar .input-submit:hover {
    font-size: 14px;
    color: red;
    font-weight: normal;
    background-color: #fff;
    width: 14%;
    height: 38px;
    float: left;
    border: #e8e8e8 solid 1px;
    cursor: pointer;
    border-left: none;
}
.head-user-menu dl.hover dt{
    background: transparent;
}

.lm_rl_nav a {
    color: #777;
    font-size: 14px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 110px;
    display: inline-block;
}

.lm_rl_nav {
    float: right;
    margin: 26px 7px 0 0;
}

.head-user-menu {
    margin: 18px 2px 0 0;
}

.head-user-menu .cart-new {
    background: none;
    color: #777777;
    font-size: 14px;
    position: relative;
    padding: 7px 0;
}



.head-search-bar {
    width: 100%;
    position: initial;

}

.head-search-layout {
    width: 380px;
    margin-right: 30px;
}

.lm_shop_cart span.ico {
    background: url("../../image/lm/lm_shopcart.png") no-repeat;
    width: 15px;
    height: 15px;
    vertical-align: -2px;
    display: inline-block;
}
.lm_shop_cart{

}
.lm_shop_cart span.ico {
    background-position: 0 !important;
    margin-right: 3px;
}

.head-user-menu dl.my-cart{
    width:auto;
}
.head-user-menu dl.my-cart dt{
    width:auto;
}
.head-user-menu dl dt b, .head-user-menu dl.hover dt b {
    margin: 0;
    background: #f3b71b;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.lm_arrow {
    font-size: 0px;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 8px;
    border-width: 4px;
    border-color: #777 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    -webkit-transition: .2s ease-in;
    -moz-transition: -webkit-transform .2s ease-in;
    -o-transition: -webkit-transform .2s ease-in;
    transition: .2s ease-in;
}

.lm_home_nav {
    width: 100%;
    position: relative;
}

.lm_home_nav .lm_content_ful {
    width: 1200px;
    margin: 0 auto 2px ;
}

.lm_home_nav .lm_content_ful > ul > li > a {
    color: #000;
    font-size: 16px;
    padding: 12px 15px;
}

.lm_home_nav .lm_content_ful > ul > li {
    display: inline-block;
    vertical-align: -14px;
}

.lm_home_nav .lm_content_ful > ul > li.current a,.lm_home_nav .lm_content_ful > ul > li:hover a{
    border-bottom: #f3b71b solid 2px;
}

.lm_home_nav .lm_category {
    position: absolute;
    top: 100%;
    background: rgba(226, 226, 226, 1);
    /*background: rgba(226, 226, 226, .9);*/
    height: 480px;
    left: 0;
    width: 208px;
    z-index: 11;
    margin-top: 2px;
    display: none;
}
.lm_all_category.lm_active .lm_category{
    display: block;
}
.lm_all_category:hover .lm_category{
    display: block;
}
 .lm_all_category {
    float: left;
    position: relative;
}

.lm_all_category .lm_home_nav_all {
    width: 208px;
    text-align: center;
    display: inline-block;
    padding: 12px 0 14px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: -2px;
}

.all-category .lm_home_nav_all{
    padding: 8px 0;
}
.lm_home_nav .lm_content_ful > ul {
    float: left;
}

.lm_home_nav .lm_content_ful .lm_nav_right:hover{
    background:#f3b71b;
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.09);
    border:#f3b71b solid 1px;
}
.lm_home_nav .lm_content_ful .lm_nav_right:hover  .lm_nav_right_icon{
    background: url("../../image/lm/lm_shophome1.png") no-repeat center center;
}
.lm_home_nav .lm_content_ful .lm_nav_right:hover  .text{
    color:#000;
}
.lm_home_nav .lm_content_ful .lm_nav_right {
    float: right;
    margin: 0 0 0 0;
    border: #e8e8e8 solid 1px;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
}

.lm_home_nav .lm_content_ful .lm_nav_right .text {
    color: #777777;
    font-size: 14px;
}

.lm_home_nav .lm_content_ful .lm_nav_right .lm_nav_right_icon {
    width: 19px;
    height: 16px;
    display: inline-block;
    background: url("../../image/lm/lm_shophome.png") no-repeat center center;
    vertical-align: -3px;
    margin-right: 3px;
}

.lm_home_nav .lm_category > ul > li:hover {
}

.lm_home_nav .lm_category > ul > li:last-child {
    border-bottom: none;
}

.lm_home_nav .lm_category > ul > li {
    border-bottom: solid rgba(255,255,255,.7) 1px;
}

.lm_home_nav .lm_default .lm_default_title i {
    display: inline-block;
    vertical-align: 4px;
    margin: 0 5px 0 0;
}

.lm_home_nav .lm_default .lm_default_title i.lm_home_arrow {
    vertical-align: 0;
    margin: 0 0 0 10px;
}

.lm_home_nav .lm_default .lm_default_title:hover a{
    color:#a99557;
}
.lm_home_nav .lm_default .lm_default_title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.lm_home_nav .lm_default .lm_home_links a:hover {
    text-decoration: underline;
    color:#a99557;
}

.lm_home_nav .lm_default .lm_home_links a {
    color: #000;
    font-size: 14px;
    display: inline-block;
    margin: 5px 5px 3px;
}

.lm_home_nav .lm_default .lm_home_links {
    padding: 5px 10px;
}

.lm_home_nav .lm_default {
    padding: 12px 12px 10px;
}


/*搜索页面调整浮动导航--原有*/
.all-category .lm_category {
    position: absolute;
    top: 100%;
    background: rgba(226, 226, 226, 1);
    /*background: rgba(226, 226, 226, .9);*/
    height: 480px;
    left: 0;
    width: 208px;
    z-index: 2;
    margin-top: 0;
    display: none;
}
.all-category:hover .lm_category{
    display: block;
}
.all-category  .lm_category > ul > li:last-child {
    border-bottom: none;
}

.all-category  .lm_category > ul > li {
    border-bottom: solid rgba(255,255,255,.7) 1px;
}
.all-category .lm_default {
    padding: 12px 12px 10px;
}
.all-category .lm_default .lm_default_title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.all-categor .lm_default .lm_default_title i {
    display: inline-block;
    vertical-align: 4px;
    margin: 0 5px 0 0;
}
.all-category .lm_default .lm_default_title i.lm_home_arrow {
    vertical-align: 0;
    margin: 0 0 0 10px;
}
.all-category  .lm_default .lm_home_links {
    padding: 5px 10px;
}
.all-category .lm_default .lm_home_links a {
    color: #000;
    font-size: 14px;
    display: inline-block;
    margin: 5px 5px 3px;
}
.all-category .lm_category{}
.all-category .lm_category{}
.all-category .lm_category{}
.all-category .lm_category{}
.all-category .lm_category{}
.all-category .lm_category{}

/*浮动导航*/
.lm_fixed_nav{
    position: fixed;
    top:0;
    z-index:12;
    background: #424242;
}

.lm_fixed_nav .lm_rl_nav a{
    color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 60px;
    display: inline-block;
}
.lm_fixed_nav .head-user-menu .cart-new a{
    color:#fff;

}

.lm_fixed_nav .head-user-menu dl dt span.ico{
    background: url(../../image/lm/lm_shopcart1.png) no-repeat;
}

.lm_fixed_nav .head-user-menu .cart-new{
    color:#fff;
}
.lm_fixed_nav .head-user-menu dl dt b,.lm_fixed_nav .head-user-menu dl.hover dt b{
    color:#424242;
}
.lm_fixed_nav .head-search-layout{
    width:282px;
}

.lm_fixed_nav .public-head-layout .site-logo img{
    max-height: 45px;
}
.lm_fixed_nav .public-head-layout .head-search-layout{
    margin: 17px 30px 0 0;
    float: right;
}
.head-search-layout{
    float: right;
    position: initial;
}
.lm_fixed_nav .public-head-layout{
    height:67px;
    position: relative;
}

.lm_fixed_nav .public-head-layout .site-logo{
    height:45px;
    margin:11px 0;
    width: 164px;
    /*width: 181px;*/
}

.lm_fixed_nav .head-search-layout{
    right: 200px;
    left: initial;
}
.lm_fixed_nav_ul{
    display: none;
}
.lm_fixed_nav .lm_fixed_nav_ul{
    float: left;
    display: block;
}
.lm_fixed_nav .lm_fixed_nav_ul li{
    display: inline-block;
}
.lm_fixed_nav .lm_fixed_nav_ul li a{
    color:#fff;
    font-size:14px;
    padding: 24px 5px;
    display: inline-block;
    margin-right: 7px;

}
.lm_fixed_nav .lm_fixed_nav_ul li:hover{

}
.lm_fixed_nav .lm_fixed_nav_ul li:hover a,.lm_fixed_nav .lm_fixed_nav_ul li.current a{
    border-bottom: #f3b71b solid 2px;
    padding: 24px 5px 22px;
}
.lm_fixed_nav .head-search-bar .input-text{
    height: 20px;
}
.lm_fixed_nav .head-search-bar .input-submit,.lm_fixed_nav .head-search-bar .input-submit:hover{
    height:34px;
}
.head-search-bar .input-submit:hover{
    background: url(../../image/lm/lm_search_hover.png) no-repeat;
    background-color: #fff;
    background-position: center center;
}
.head-search-bar .input-text:focus~input{
    background: url(../../image/lm/lm_search_hover.png) no-repeat;
    background-color: #fff;
    background-position: center center;
}
.lm_fixed_nav{
    margin-top: 0;
    box-shadow: -1px 5px 5px -1px rgba(0, 0, 0, 0.3);
}
.lm_fixed_nav .head-user-menu{
    margin:18px -9px 0 0;
}


/*footer*/
#faq dl dt{
    color:#4c3901;
    font-size: 14px;
}
#faq dl dd i{
    width:0;
    height:0;
    margin-right: 0;
}
#faq dl dd{
    padding: 2px;
    color:#333333;
    font-size: 12px;
}
#faq .faq-other .fl h2{
    margin: 0;

}
#faq .faq-other .fl h2 span{
    padding:0;
    color:#333333;
    font-size: 14px;
}
#faq li a:hover{
    text-decoration: underline;
}
#faq li{
    width:auto !important;
    float: left;
    margin-right: 55px;
}
#faq li:last-child{
    display: inline-block !important;

}
#faq dl{
    width:100%;
}


.lm_tc{
    position: relative;
}
.lm_tc:hover .lm_tc_con{
    display: block;
}
.lm_tc .lm_tc_con{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 6px;
    background: #fff;
    position: absolute;
    width:154px;
    top:-30px;
    left: 60px;
    z-index:3;
    padding: 5px;
    display: none;
    transition:  all ease-in .5s;
}
.lm_tc img{
    width:154px;
    height:154px;
    display: block;
}
#faq dl dd,#faq{
    overflow: initial !important;
    overflow: inherit !important;
}
.lm_tc .lm_tc_con .lm_text{
    color: #838383;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}
.public-top-layout{
    display: none !important;
}
.nch-breadcrumb.wrapper{
    display: none;
}
.head-user-menu dl div.addcart-goods-num{
    display: none !important;
}
.head-user-menu dl dd a.lm_shop_cart{
    background: none;
    color: #777777;
    font-size: 14px;
    display: inline-block;
    vertical-align: 0;
}

.head-user-menu dl.my-cart dd{
    width:auto;
    background-color: transparent;
    display: inline-block;
    border: none;
    position: relative;
    z-index: 1;
    top: inherit;
    right: inherit;
}
.head-user-menu dl.my-cart dt{
    display: inline-block;
}

.head-user-menu dl.my-cart dd:before {
    content: '';
    width: 1px;
    height: 14px;
    background: #777777;
    position: absolute;
    left: -14px;
    top: 2px;
}
.head-user-menu dl.my-cart span.ico{
    margin-right: 2px;
}


.head-search-layout input:focus{
    color: #333;
    border-color: #CCD0D9;
    outline: 0 none;
    box-shadow: none;
}

#faq{
    margin-top: 30px;
}
.other_nav_box{
    box-shadow: 0 13px 7px -7px rgba(0,0,0,.03);
    margin-bottom: 20px;
}
#faq .wrapper{
    border:none;
}
.lm_fixed_nav  dl dd a.lm_shop_cart{
   color:#fff;
}
.lm_fixed_nav  dl dd a.lm_shop_cart .ico{
    background: url("../../image/lm/lm_shopcart1.png") no-repeat;
}

.lm_home_nav>div>ul>li:nth-child(2){
    position: relative;
}
.lm_home_nav>div>ul>li:nth-child(2):after{
  height: 20px;
    width:29px;
background-image: url("../../image/lm/lm_quree.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top:-20px;
    left: 8px;
}
