<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>落地页</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
    <link rel="stylesheet" href="/wap/css/old/base.css">
    <link rel="stylesheet" href="/wap/dist/css/main.css">
    <link rel="stylesheet" href="/wap/promotion/css/landing.css">

</head>
<body >
<!--头部-->
<div class="header-w" id="landing_header"></div>

<script id="landing_header_content" type="text/html">
    <div class="header-img">
        <img src="<%=landing_info['banner_image']%>" alt="">
    </div>
    <div class="header-txt">
        <span><%=landing_info['title']%></span>
        <p><%=landing_info['content']%></p>
    </div>
    <%if(landing_info.storage_count == 0){%>
    <div class="header-btn">
        <span>各位小同学太热情了，活动商品已售罄···</span>
        <a href="/wap/index.html"><div class="w-btn"><p>前往商城选购其他>></p></div></a>
    </div>
    <%}%>
</script>

<!--主体-->
<section class="commodity" id="goods_list"></section>

<!--底部二维码-->

<div class="erweima" id="landing_footer"></div>

<script id="goods_list_content" type="text/html">
    <%if(goods_list.length){%>
    <ul>
        <%for(item in goods_list){%>
        <li>
            <a href="../tmpl/product_detail.html?goods_id=<%=goods_list[item]['goods_id']%>">
                <div class="img-sell">
                    <img src="<%=goods_list[item]['goods_image']%>" alt="">
                    <%if(!(goods_list[item]['goods_storage']>0)){%>
                    <div class="sell-out">
                        <div class="sell-dotted">
                            <span>已售罄</span>
                            <div class="z-line"></div>
                            <div class="f-line"></div>
                        </div>
                    </div>
                    <%}%>
                </div>
                <div class="information">
                    <p class="info-title"><%=goods_list[item]['goods_name']%></p>
                    <div class="info-price">
                        <div class="market-price"><span class="mp">市场价：</span><span class="line-through">￥<%=goods_list[item]['goods_price']%></span></div>
                        <div class="promotion-price"><span class="mp">促销价：</span><span class="price-red">￥<%=goods_list[item]['goods_promotion_price']%></span></div>
                    </div>
                    <p class="introduce">作品介绍：<span><%=goods_list[item]['introduce']%></span></p>
                    <%if(goods_list[item]['goods_storage']>0){%>
                    <div class="buying-btn">
                        <span>立即抢购</span>
                    </div>
                    <%}else{%>
                    <div class="info-btn">
                        <span>抢光了...</span>
                    </div>
                    <%}%>
                </div>
            </a>
        </li>
        <%}%>
    </ul>
    <%}%>
</script>

<script type="text/javascript" src="/wap/js/zepto.min.js"></script>
<script type="text/javascript" src="/wap/js/config.js"></script>
<script type="text/javascript" src="/wap/js/common.js"></script>
<script type="text/javascript" src="/wap/js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="/wap/js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="/wap/promotion/js/landing.js"></script>

</body>
</html>