<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>保证金赠送收益专场</title>

  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <link rel="apple-touch-icon" href="../../images/touch-icon-iphone.png"/>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../../css/lm/iconfont.css">

</head>
<body>
<a href="./cms_activity.html?cms_id=43" class="profit_activity_top">
  <img src="../../images/lm/activity/profit_activity/profit_top.jpg" alt="">
</a>

<div class="profit_activity_wrapper"></div>
<script type="text/html" id="profit_activity">
  <div class="app_auction">
    <ul>
      <%if(datas){%>
      <%for (var i in datas) {var list = datas[i]%>
      <%if(list&&list.length){%>
      <%if(i=='small'){%>
      <h2 class="title_wai" id="small"><img src="../../images/lm/activity/profit_activity/title1.png" alt=""></h2>
      <%}%>
      <%if(i=='middle'){%>
      <h2 class="title_wai" id="middle"><img src="../../images/lm/activity/profit_activity/title2.png" alt=""></h2>
      <%}%>
      <%if(i=='big'){%>
      <h2 class="title_wai" id="big"><img src="../../images/lm/activity/profit_activity/title3.png" alt=""></h2>
      <%}%>
      <%for (var j = 0;j < list.length ;j++){ var item = list[j];%>
      <li>
        <div href="tmpl/auction/special_details.html?special_id=<%=item.special_id%>" class="top">
          <div class="left ">
            <h3 class="title textOverflow"><%=item.special_name%></h3>
            <span class="collect"><i class="iconfont icon-chakan"></i><%=item.special_click||0%>人围观</span>
          </div>
          <div class="cutedown small_screen" data-date="<%=item.special_remain_rate_time%>">
            距赠送收益截止
            <div class="cutedown_con"></div>
          </div>
          <!--判断结束-->
        </div>
        <a href="../auction/special_details.html?special_id=<%=item.special_id%>" class="middle">
          <img src="<%=item.wap_image_path%>" alt="">
          <%if(item.special_type == 1){%>
          <div class="novice">新手体验标</div>
          <%}%>
          <div class="profit">
            奖励金年化率<b><%=item.special_rate||0%></b>% 期限<b><%=item.day_num||0%></b>天
          </div>
        </a>
        <div class="bottom">
          <a href="../auction/special_details.html?special_id=<%=item.special_id%>`" class="avgater">
            <div class="img">
              <img src="<%=item.store_logo%>" alt="">
            </div>
            <span class="text">
            出品方：<%=item.store_name%>
          </span>
          </a>
          <a class="bzjsy" href="./cms_activity.html?cms_id=43">什么是保证金送收益？</a>
        </div>
      </li>
      <%}}}}%>
    </ul>
  </div>
</script>

<div class="profit_activity_footer">
  版权归属艺诺网<br/>
  客服电话400-135-2688<br/>
  工作时间：周一至周五（9：00-18：00）
</div>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../dist/script/main.js" charset="utf-8"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script>
    $.ajax({
        url: ApiUrl + "/index.php?act=special&op=get_special_list",
        type: 'get',
        dataType: 'json',
        success: function (result) {
            var data = result.datas;
            var html = '';
            html += template.render('profit_activity', result);
            $(".profit_activity_wrapper").html(html);
            lmCuteDown();
        }
    });

    if (isWeiXin) {
        var shareData = {
            title: "保证金赠送收益专场",
            desc: "艺诺网为确保竞拍人权益，给竞拍者支付的保证金赠送最高10%的年化收益。",
            link: window.location.href,
            imgUrl: WapSiteUrl + '/images/lm/activity/profit_activity/share.jpg',
        };
        wx_config(shareData);
    }
    //APP分享参数
    appShareSet(shareData);
    var target = getQueryString('target');
    if (target) {
        $('html,body').animate({
            top: $('#' + target).offset().top
        });
    }

</script>
</body>
</html>