@charset "utf-8";
/* CSS Document */
.red-word{color:#800000 !important}
.red-bg{background:#800000 !important}
.auction-master{margin:20px 0 0;}
.auction-master .title{margin: 30px 0 0; width:100%;height:30px; background: url(../images/paimai/title-bg-gray.jpg) center repeat-x;}
.auction-master .title span{display:block;margin: 0 auto; width:120px;height:30px; font-size:24px; color: #333;text-align: center; background: #fff;line-height: 30px;}
.auction-master .master h2{font-size:14px; color: #333;margin: 20px 0 0 0;}
.auction-master .master a{display:block;margin: 10px 14px 0 0; float:left;}
.auction-master .master a img{padding: 4px; width:176px; height:176px;border:#e3e3e3 solid 1px;}
.auction-master .master a img:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.auction-master .master a span{width:176px; text-align: center;padding: 6px 0 0;}
.auction-master .master-detail div.fl{padding:0 0 10px;width:190px; background: #fcfcfc; display: inline-block; height: auto;border: #f2f2f2 solid 1px}
.auction-master .master-detail div.fl img{width:190px; height: 190px;}
.auction-master .master-detail div.fl h1{margin:30px 0 0;font-size: 24px; color: #000; text-align: center}
.auction-master .master-detail div.fl span,.auction-master .master-detail div.fl a.all-block{display:block; width: 190px; text-align: center}
.auction-master .master-detail div.fl span{margin:15px 0 0;}
.auction-master .master-detail div.fl a.all-block{margin:6px 0 20px; color: #800000}
.auction-master .master-detail div.fl a.pin{display: block;position: relative; margin:6px auto; width:148px; height: 30px; background: #fff; text-align: center;border:#f2f2f2 solid 1px;line-height: 28px}
.auction-master .master-detail div.fl a.pin:hover{background:#000; color: #fff; z-index: 2;left: 10px; width: 170px; height: 50px;line-height: 48px; font-size: 14px;}
.auction-master .master-detail div.fr{width:990px;}
.auction-master .master-detail div.fr h1{height:20px;border-left:#000 solid 4px;padding: 0 0 0 8px;margin: 0 0 16px 0; font-size: 20px;color:#000}
.auction-master .master-detail div.fr span{display:block;margin: 16px 0; font-size:16px;}
.auction-master .master-detail div.fr p{text-align:justify;margin: 0 0 20px 0; line-height: 22px}
.auction-master .master-detail div.fr ul.works-list li{width:480px;height: 168px;border:#f3f3f3 solid 1px;float:left;margin: 0 0 12px 10px}
.auction-master .master-detail div.fr ul.works-list li a img{width:230px; height: 168px;}
.auction-master .master-detail div.fr ul.works-list li a div{width: 218px; padding:16px;}
.auction-master .master-detail div.fr ul.works-list li a div h2{font-size:24px; text-align: center; color: #000; margin: 0 0 12px;}
.auction-master .master-detail div.fr ul.works-list li a div p{margin:0 0 4px;line-height: 21px;height:88px;overflow: hidden}
.auction-master .master-detail div.fr ul.works-list li a div span{text-align:right;font-size: 14px;margin: 0}
.auction-master .master-detail div.fr ul.works-list li:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
/*拍卖详情*/
.red-word{color:#800000 !important;}
.gold-word{color:#a47f1a;}
.auction-middle-box{padding:12px;}
.auction-middle-box .title div{width:420px}
.auction-middle-box .title div h1{font-size:14px; color: #000;}
.auction-middle-box .title .time{margin:12px 0 0;}
.auction-middle-box .title .time .time-remain em{display:inline-block;height: 32px; padding: 0 6px;margin: 0 5px; background: url(../images/new-index/time-bg.jpg) center repeat-x;color:#fff; font-weight: bold;font-size:24px;line-height: 28px;transform: translateY(4px);}
.auction-middle-box .title .time .now{display: block; width:72px; height: 30px;margin: 0 16px 0 0; background: #000; color: #fff;font-size: 14px; text-align: center; border-radius: 0 6px 6px 0;line-height: 28px;}
.auction-middle-box .title a{display:block;padding:0 0 0 14px;width: 66px;border-left:#e2e2e2 solid 1px;}
.auction-middle-box .title a img{display:block;margin:0 auto 4px;40px; height: 40px;}
.auction-middle-box .title a span{text-align:center;}
.auction-middle-box .auction-middle-box{margin:20px 0 0;padding:20px 0 0 70px;width:87%; height: 170px; background: #eeeeee;overflow: hidden}
.auction-middle-box .auction-middle-box .normal h1{margin: 0 0 20px 0;}
.auction-middle-box .auction-middle-box .normal h1 b{font-size: 30px;margin: 0 20px 0;color: #000}
.auction-middle-box .auction-middle-box .normal h1 span{font-size:12px; color: #595959;display: inline-block;transform: translateY(-6px);}
.auction-middle-box .auction-middle-box .gone h1{margin: 64px 0 0 60px;font-size: 22px}
.auction-middle-box .auction-middle-box .deal h1{margin: 40px 0 20px 140px;}
.auction-middle-box .auction-middle-box .deal h1 span{font-size: 22px}
.auction-middle-box .auction-middle-box .deal span{font-size:14px;}
.auction-middle-box .auction-middle-box .deal span.all-block{text-indent:136px;}
.auction-middle-box .auction-middle-box .deal span b{font-size:20px; color: #800000}
.auction-middle-box .auction-middle-box .reset .out{position: relative;left:468px;bottom:172px; width:57px; height: 46px;background: url(../images/paimai/out-bg.png) center no-repeat;text-align: center;color: #fff;line-height: 34px;}
.auction-middle-box .auction-middle-box a{display:inline-block}
.auction-middle-box .info{padding-left:20px;}
.auction-middle-box .info div:first-child{padding:20px 0;height: 18px; border-bottom: #eee solid 1px}
.auction-middle-box .info div span{display:block;padding:0 0 0 20px;margin: 0 20px 0 0; border-left:#ccc solid 1px; font-size: 14px;float: left;color: #000}
.auction-middle-box .info div span:first-child{border-left:none}
.auction-middle-box .info div span b{font-size:20px;}
.auction-middle-box .info ul li{display:block;margin: 6px 0 0; min-width:172px; float: left;color:#595959}
.auction-middle-box .share{margin:14px 0 0;}
.auction-middle-box .share a{display:block;margin:0; float: left;color: #000}
.auction-middle-box .share .selected{color:#800000}
.guess .auction-record{display: block; padding:0 0 10px 0;margin:20px auto 0;}
.guess .auction-record tr:first-child{border-top:#e9e9e9 solid 1px;border-left:#e9e9e9 solid 1px;border-right:#e9e9e9 solid 1px;}
.guess .content .auction-record tr{height:46px;border-bottom:#e9e9e9 solid 1px;font-size: 14px;}
.guess .content .auction-record tr td{width:240px;text-align: center}
.guess .content .auction-record tr td span{display:block;margin: 0 auto; width: 66px; height: 30px;color: #fff; text-align: center; line-height: 30px;border-radius: 4px;}
.ncs-lal .guess h1{margin:16px 0 10px}
.ncs-lal .guess h2{margin:8px 0 0}
.ncs-lal .guess span{display:inline-block; width: 90px}
.ncs-lal .guess a{display:block;width:68px; height: 26px;margin:20px 0 0;color:#e8a8a8;border:#e8a8a8 solid 1px;text-align: center;line-height: 24px}
.ncs-lal .guess a:hover{color:#fff;background: #e8a8a8}
/*拍卖详细左边部分*/
.auction-detail-left .box-01{border:#f2f2f2 solid 1px;}
.auction-detail-left .shop-name{height:40px; background: #f7f7f7;line-height: 36px;}
.auction-detail-left .shop-name h4{width:138px;margin: 2px 0 0 10px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;color: #505050;font-weight: bold}
.auction-detail-left .shop-info{display:inline-block; height: auto;border-bottom: #f2f2f2 solid 1px;width:100%;}
.auction-detail-left .shop-info h1{padding:36px 0 0;color:#800000; font-size: 24px;width: 90px; height: 60px;text-align: center;}
.auction-detail-left .shop-info p span{display:block;margin: 8px 0 0;font-size: 14px;}
.auction-detail-left .shop-info p span i{height:8px;overflow: hidden;color: #800000}
.auction-detail-left .shop-other{padding:6px 0 0; height: 38px;}
.auction-detail-left .shop-other a{display:block;margin: 0 6px; float: left;text-align: center;width:90px; height: 26px;line-height: 26px; background: #f8f8f8; border:#e4e4e4 solid 1px;font-size: 14px}
.auction-detail-left .shop-other a:hover{color:#fff; background: #800000; border:#800000 solid 1px;}
/*商品轮播*/
.auction-detail-left #vertical-slide{ width:210px;margin: 20px 0 0;}
.auction-detail-left #vertical-slide h1{width:100%;height:18px; background: url(../images/painting/title-bg-gray.jpg) center repeat-x;}
.auction-detail-left #vertical-slide h1 span{display:block;margin:0 auto;width: 76px; text-align: center;background: #fff; font-size:16px; color: #333}
.auction-detail-left #vertical-slide .gray{color:#000}
.auction-detail-left .slide-pic {margin:0 auto;width:190px; text-align: center}
.auction-detail-left .slide-pic a#prev,.slide-pic a#next{display:inline-block;width:50px;height: 36px; outline: none; font-size:30px;color:#8f8f8f}
.auction-detail-left .slide-pic .vertical-slide-pic {overflow: hidden; width: 190px; height: 680px}
.auction-detail-left .slide-pic ul {width: 180px !important;margin: 0 auto;display: block;}
.auction-detail-left .slide-pic ul li{border:#f1f1f1 solid 1px; width:178px;margin:16px 0 0;}
.auction-detail-left .slide-pic ul li:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.auction-detail-left .slide-pic ul li a {display:inline-block;height: 200px; overflow: hidden;}
.auction-detail-left .slide-pic ul li a img {width: 178px; height: 178px}
.auction-detail-left .slide-pic ul li .title {display: block;padding: 4px 6px 0; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2FFFFFF', endColorstr='#B2FFFFFF');background:rgba(255,255,255,0.7); width: 166px; color: #4c4c4c; line-height: 20px; height:46px; text-align: left;position: relative;bottom: 23px;}
.auction-detail-left .slide-pic ul li .title .title-name{display: block;padding: 0 0 3px 0; width:178px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.bidding-process{display:block;padding: 10px 0 0; width: 1200px;height: 50px;}
.bidding-process h1{margin:0 40px;color:#333; font-size: 16px;}
.bidding-process:hover{ color:#333}
.bidding-process span{display:block;width: 800px; height: 22px;background: url(../images/paimai/bidding-process.jpg) left no-repeat}
.bidding-process span b{font-weight:normal;display: block;float: left;margin: 0 0 0 109px;}
.bidding-process span b:first-child{margin:0 0 0 28px}
/*弹窗样式*/
.cd-popup{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup.is-visible{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:scale(1.2);transform:scale(1.2);-ms-transform:scale(1.2);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
.is-visible .cd-popup-container{-webkit-transform:scale(1);transform:scale(1);-ms-transform:scale(1)}
.cd-popup1{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup1.is-visible1{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container1{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:translateY(-60px);transform:translateY(-60px);-ms-transform:translateY(-60px);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
.is-visible1 .cd-popup-container1{-webkit-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0)}
.cd-popup2{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup2.is-visible2{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container2{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:translateY(60px);transform:translateY(60px);-ms-transform:translateY(60px);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
.is-visible2 .cd-popup-container2{-webkit-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0)}
.cd-popup3{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup3.is-visible3{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container3{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:scale(.8);transform:scale(.8);-ms-transform:scale(.8);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
a.cd-popup-close{position:absolute;top:5px;right:12px;z-index:10;display:block;width:auto;height:1.25rem;font-size:12px; color: #fff !important}
.is-visible3 .cd-popup-container3{-webkit-transform:scale(1);transform:scale(1);-ms-transform:scale(1)}
.cd-popup-top{padding:0 12px;width:426px; height: 30px; background: #000; color: #fff; text-align: left}
.cd-popup-top h1{line-height:28px;}
.cd-buttons{padding:20px; width: 410px}
.cd-buttons .box-01{width:100%;height:69px;border-bottom: #bfbfbf solid 1px}
.cd-buttons .box-01 div{width:56px;}
.cd-buttons .box-01 div img{margin:4px auto 0;}
.cd-buttons .box-01 span.all-block{padding:0 0 0 40px;margin: 10px 0 0; width:120px;border-left: #bfbfbf solid 1px;text-align: left; font-size: 16px;}
.cd-buttons .box-01 span.all-block b{display:block; font-size: 14px;}
.cd-buttons .box-01 span.all-block:last-child{border-left:none;color:#808080}
.cd-buttons .box-02{display:block;padding:20px 0;width: 100%;height: auto;overflow: hidden; border-bottom: #bfbfbf solid 1px;text-align: left;line-height: 24px;}
.cd-buttons .box-02 span b{font-weight:normal}
.cd-buttons .box-02 span{font-size:14px;}
.cd-buttons .box-02 div.fl{width:314px;}
.cd-buttons .box-02 div.fl span{color: #000}
.cd-buttons .box-02 div.fl span b{font-size:12px; color: #666}
.cd-buttons .box-02 .phone-number{padding:0 0 0 22px;}
.cd-buttons .box-02 .phone-number label{line-height: 30px;margin: 8px 0;display:block}
.cd-buttons .box-02 .phone-number label input{text-indent:4px}
.cd-buttons .box-02 .phone-number label a{display: inline-block;margin: 0 0 0 10px; padding:0 10px; background: #000;color: #fff}
.cd-buttons .box-02 .qrcode{width:96px;float: right}
.cd-buttons .box-02 .qrcode canvas{display:block;margin:0 auto;}
.cd-buttons .box-02 h3{font-size:16px; color: #333}
.cd-buttons .botton{width:212px; margin: 26px auto 0;}
.cd-buttons .botton input{display:block;width: 96px; height: 36px;border-radius: 4px;}
.cd-buttons .botton input:first-child{color:#fff; background: #000}
.cd-buttons .botton input{color:#000;
background: #cfcfd1; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #cfcfd1 , #f1f1f1); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #cfcfd1 , #f1f1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*加钱控件*/
.spinner{height:44px;margin: 0 0 14px 0}
.spinner .value,.spinner button{text-align:left;display:block;float:left;height:100%;line-height:25px;margin:0;color: #fbfcfc}
.spinner button{border:none;width:40px;padding:0;outline:0}
.spinner .decrease{background: url(../images/paimai/btn-05.png) center no-repeat; cursor:pointer;}
.spinner .increase{background: url(../images/paimai/btn-06.png) center no-repeat;cursor:pointer;}
.spinner .value{width:100px;height:42px;border:none;color:#000;padding:0 0 0 20px;margin: 0 4px 0;border:#dfdfdf solid 1px;font-size: 14px;}
.spinner .value.passive{color:#333;}
.spinner .error,.spinner .invalid{background:#800000;color: #fff !important}
/*买家帮助*/
.buyers-help .accordion{width:220px;background:#000;}
.buyers-help .accordion .link{cursor:pointer;display:block;padding:15px 15px 15px 42px;color:#fff;font-size:14px;border-bottom:1px solid #fff;position:relative;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.buyers-help .accordion li:last-child .link{border-bottom:0}
.buyers-help .accordion li i{position:absolute;top:15px;left:12px;font-size:18px;color:#fff;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.buyers-help .accordion li i.fa-angle-down{right:12px;left:auto;font-size:20px}
.buyers-help .accordion li.open .link{color:#fff}
.buyers-help .accordion li.open i{color:#fff}
.buyers-help .accordion li.open i.fa-angle-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.buyers-help .submenu{display:none;background:#f5f5f5;font-size:14px}
.buyers-help .submenu li{border-bottom:1px solid #dadada}
.buyers-help .submenu li:last-child{border-bottom:none}
.buyers-help .submenu a{display:block;text-decoration:none;color:#808080;padding:12px;padding-left:42px;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}
.buyers-help .submenu a:hover{background:#666;color:#FFF}
.buyers-help .buyers-help-right h1{padding:10px 0 0 20px;margin: 0 0 14px 0; width:940px; height: 30px;background: #f5f5f5;font-size: 16px;}
.buyers-help .buyers-help-right .content{padding:30px; width: 898px; display: inline-block; height: auto;border:#e3e3e3 solid 1px;}
/*艺术家简介*/
.artist-profile{margin: 40px auto 24px !important; width:1200px;height: 140px; background: url(../images/new-index/artist-profile-bg.jpg) center repeat-x;  overflow: hidden}
.artist-profile .artist-profile-word{margin: 12px 0;padding: 0 0 0 20px;height: 128px;}
.artist-profile .artist-profile-word h1{padding: 16px 0 0;font-size:18px; color: #000}
.artist-profile .artist-profile-word h2{margin: 8px 0 0; font-size:14px; color:#5e5e5e}
.artist-profile .artist-profile-word a{display:block;margin:16px 0 0; font-size:14px;color:#6a0115}
.artist-profile .artist-list{margin:0 0 0 10px}
.artist-profile .artist-list li{margin: 0 7px 0; width:152px; height: 140px; background: url(../images/new-index/artist-profile-image-bg.png) center no-repeat; overflow: hidden; float: left}
.artist-profile .artist-list li a{display:inline-block;width:146px; height: 140px; padding: 0 0 0 6px; overflow: hidden}
.artist-profile .artist-list li a img{position: relative; top: -140px; width:140px; height: 140px; z-index: 1}
.artist-profile .artist-list li span{position: relative;top:-140px; display:block; width: 140px; height: 140px; background-color: rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');z-index: 2}
.artist-profile .artist-list li span p:first-child{padding: 36px 0 0;}
.artist-profile .artist-list li span p{ color:#fff;font-size:14px; text-align: center !important;line-height: 24px;}
.artist-profile .artist-list li span i{margin: 10px 0 0; display:block; color: #fff; font-size:22px; text-align: center}
.artist-profile .artist-list li:hover span{top:0;transition:all 0.4s ease-in-out 0.1s;-moz-transition:all 0.4s ease-in-out 0.1s;-ms-transition:all 0.4s ease-in-out 0.1s;-o-transition:all 0.4s ease-in-out 0.1s;-webkit-transition:all 0.4s ease-in-out 0.1s;}
.artist-profile .artist-more{float: right; display:block;width:186px; height: 140px; background: #000; color: #fff; text-align: center;font-size: 14px;line-height: 140px;}
/*拍卖推荐*/
.auction-index #new-tab{margin: 20px 0 0;width:882px; height:auto;margin: 20px auto 0;}
.auction-index #new-tab .tab_menu{width:880px;height: 40px; background:#fff; border: #e5e5e5 solid 1px; border-right: none}
.auction-index #new-tab .tab_menu li{float:left; line-height: 40px; width:160px;height:40px;cursor:pointer;text-align:center;color:#000;font-size: 14px; text-align: center;border-right: #e5e5e5 solid 1px;}
.auction-index #new-tab .tab_menu li:hover{ background-color: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');color:#fff; text-decoration:none;}
.auction-index #new-tab .tab_menu .selected{background-color:#000;cursor:pointer;color:#fff;}
.auction-index #new-tab .hide{display:none;}
.auction-index #new-tab .tab_box{width:100%;clear:both;}
.auction-index #new-tab .tab_box div a{display:block;margin:0 0 20px 0;width: 880px; height: 220px; border:#dcdcdc solid 1px;}
.auction-index #new-tab .tab_box div a:hover{border:#000 solid 1px;}
.auction-index #new-tab .tab_box div a img{ display:block; float:left; width: 520px; height: 220px}
.auction-index #new-tab .tab_box .new-tab-list{width:344px;}
.auction-index #new-tab .tab_box .new-tab-list h1{padding:24px 0 10px ;font-size:18px; color: #000}
.auction-index #new-tab .tab_box .new-tab-list span{font-size:14px; color: #666;line-height: 28px}
.auction-index #new-tab .tab_box .new-tab-list span b{font-weight:normal; color: #000}
.auction-index #new-tab .tab_box .new-tab-list .new-tab-list-title{width:230px;}
.auction-index #new-tab .tab_box .new-tab-list .new-tab-list-title h1{line-height: 26px}
.auction-index #new-tab .tab_box .new-tab-list .offer{width: 110px; height:100px; background: #000}
.auction-index #new-tab .tab_box .new-tab-list .offer b:first-child{padding: 18px 0 0; font-size:20px;}
.auction-index #new-tab .tab_box .new-tab-list .offer b{display: block; font-size:16px; color:#fff; text-align: center;line-height: 30px}
.auction-index #new-tab .tab_box .tab-more{width: 100%; height: 38px;border:#e6e6e6 solid 1px;text-align: center;background: #f6f6f6;color:#000;font-size:14px;line-height: 34px}
.auction-index #new-tab .tab_box .tab-more:hover{border:#e6e6e6 solid 1px;}
.auction-index .hot-list{margin:20px 0 0; width:318px; height: auto;}
.auction-index .hot-list .top{ width:100%;height: 41px; border:#dcdcdc solid 1px;border-left: none}
.auction-index .hot-list .hot-goods{padding: 16px 16px 0 0; width: 276px;}
.auction-index .hot-list .hot-goods ul{display:block;padding: 2px 0 20px;margin: 0 0 40px; width: 100%;height: auto; 16px; background: #f6f6f6;border:#e6e6e6 solid 1px; border-top:none}
.auction-index .hot-list .hot-goods ul li{display:block;margin: 20px auto 0; width:240px; height: 274px;border:#e6e6e6 solid 1px;background: #fff;overflow: hidden;}
.auction-index .hot-list .hot-goods ul li:hover{border: #dadada solid 1px;-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.auction-index .hot-list .hot-goods ul li img{ width:240px; height: 240px}
.auction-index .hot-list .hot-goods .title{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000;line-height: 36px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99FFFFFF', endColorstr='#99FFFFFF');background:rgba(255,255,255,0.6);}
.auction-index .hot-list .hot-goods .info{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px;line-height: 36px; }
.auction-index .hot-list .hot-goods .info span b,.hot-list .hot-goods .info span i{color:#800000; font-size: 14px;}
.auction-index #new-tab .tab_box .new-tab-list .time{position: relative;bottom: -30px;}
.auction-index #new-tab .tab_box .new-tab-list .time .time-remain em{display:inline-block;padding: 0 6px;margin: 0 4px; background: url(../images/new-index/time-bg.jpg) center repeat-x;color:#fff; font-weight: bold;font-size: 14px;}
.auction-index #new-tab .tab_box .new-tab-list .time .sell{color:#000}
.auction-index .auction-headlines{margin:0 0 14px;padding:14px 0 0 22px;width:858px; height: 34px;background: #f6f6f6; border:#e6e6e6 solid 1px}
.auction-index .auction-headlines h1{padding:0 10px 0 0;width:100px;font-size:24px;font-weight: bold;color: #800000; border-right:#e6e6e6 solid 1px}
.auction-index .auction-headlines div span{width:42px; height: 22px;margin: 0 14px 0; border:#800000 solid 1px; text-align: center; line-height: 22px;color: #800000;}
.auction-index .auction-headlines div a{line-height:24px;}
.auction-index .lucky-bag{display:block;margin:0 0 0 26px;width:278px; height: 220px; overflow: hidden}
.auction-index .lucky-bag img{width:100%; height: 100%;}
.auction-index .lucky-bag span{width:78px; height: 44px; position: relative; bottom: 220px;z-index: 2;background: url(../images/paimai/lucky-bag.png) center no-repeat;}
.auction-index .lucky-bag h2{position:relative;bottom:80px; width:280px; height: 36px;background: url(../images/paimai/lucky-bag-bg.png) center repeat-x; color: #fff; text-align: center;line-height: 40px;font-size: 14px;}
/*新的弹窗*/
.ncs-detail{z-index:auto}
.dialog-box{height:auto;position:fixed;top:20%;left:50%;z-index:99999;display:none}
.show{display:block}
.dialog-box-container{position:relative;margin:0 auto;border-radius:5px;background: none !important; z-index: 99}
.dialog-box-close{position: absolute;top: 40px;right: -10px;width:40px;height: 40px; cursor:pointer;display:inline-block;}
.dialog-box-content{margin:0}
#dialog-box-mask{position:absolute;top:0;left:0;width:100%;height:100%;z-index:5;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000', endColorstr='#CC000000');background:rgba(0,0,0,0.8);display:none;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
#dialog-box-iframe body{margin:0;padding:0;border:0}
.effect-fade .dialog-box-container{-webkit-transform:scale(.6);-ms-transform:scale(.6);transform:scale(.6);opacity:0;transition:all .3s}
.show.effect-fade .dialog-box-container{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}
.effect-newspaper .dialog-box-container{-webkit-transform:scale(0) rotate(720deg);-ms-transform:scale(0) rotate(720deg);transform:scale(0) rotate(720deg);opacity:0;-webkit-transition:all .3s;transition:all .3s}
.show.effect-newspaper .dialog-box-container{-webkit-transform:scale(1) rotate(0);-ms-transform:scale(1) rotate(0);transform:scale(1) rotate(0);opacity:1}
.effect-fall{-webkit-perspective:1300px;perspective:1300px}
.effect-fall .dialog-box-container{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateZ(600px) rotateX(20deg);-ms-transform:translateZ(600px) rotateX(20deg);transform:translateZ(600px) rotateX(20deg);opacity:0}
.show.effect-fall .dialog-box-container{-webkit-transition:all .3s ease-in;transition:all .3s ease-in;-webkit-transform:translateZ(0) rotateX(0);-ms-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0);opacity:1}
.effect-scaled .dialog-box-container{-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);opacity:0;-webkit-transition:all .3s;transition:all .3s}
.show.effect-scaled .dialog-box-container{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}
.effect-flip-horizontal{-webkit-perspective:1300px;-moz-perspective:1300px;perspective:1300px}
.effect-flip-horizontal .dialog-box-container{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(-70deg);-ms-transform:rotateY(-70deg);transform:rotateY(-70deg);-webkit-transition:all .3s;transition:all .3s;opacity:0}
.show.effect-flip-horizontal .dialog-box-container{-webkit-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0);opacity:1}
.effect-flip-vertical{-webkit-perspective:1300px;-moz-perspective:1300px;perspective:1300px}
.effect-flip-vertical .dialog-box-container{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateX(-70deg);-ms-transform:rotateX(-70deg);transform:rotateX(-70deg);-webkit-transition:all .3s;transition:all .3s;opacity:0}
.show.effect-flip-vertical .dialog-box-container{-webkit-transform:rotateX(0);-ms-transform:rotateX(0);transform:rotateX(0);opacity:1}
.effect-sign{-webkit-perspective:1300px;perspective:1300px}
.effect-sign .dialog-box-container{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateX(-60deg);-ms-transform:rotateX(-60deg);transform:rotateX(-60deg);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:0;-webkit-transition:all .3s;transition:all .3s}
.show.effect-sign .dialog-box-container{-webkit-transform:rotateX(0);-ms-transform:rotateX(0);transform:rotateX(0);opacity:1}
.guess-price{position:absolute;bottom:30px;width:260px; text-align: center;color: #fff; font-size: 16px}
.lottery{margin: 14px 0 0;width:596px;height: 220px; background: url(../images/fudai/lottery-bg.png) center no-repeat;background-size: 100%;text-align:center}
.lottery h1{display: inline-block;padding: 0 34px;margin: 88px auto 0; height: 42px;background: #fff;color: #800000; border:#800000 solid 1px;font-size: 14px;line-height: 40px}
.lottery h2{color:#800000; font-size: 14px;margin: 13px 0}

.guess-hero{display:block;width: 278px;height: auto;margin:0 14px 0 0; border: #e6e6e6 solid 1px;}
.guess-hero h1{height:49px;border-bottom: #e6e6e6 solid 1px;}
.guess-hero h1 span{border-left:#800000 solid 4px;padding: 0 0 0 10px;font-size:14px;line-height: 50px}
.guess-hero ul li{padding:12px 0;height: 64px;border-bottom: #e6e6e6 solid 1px;}
.guess-hero ul li:last-child{border-bottom:none}
.guess-hero ul li img{display:block; margin: 0 18px 0 10px;border: #e6e6e6 solid 1px;}

.ncs-goods-summary{width:564px !important;margin-right:274px !important;}
.ncs-lal{width:270px}
.ncs-lal .content{width:260px !important;}
.ncs-lal .title{font-size:14px !important;background:none !important;border:none !important;padding:15px 10px !important;}
.sort-bar{border-left:none !important}
.ncs-goods-title-nav ul li a,.ncs-goods-title-nav ul li.current a{font-size:16px;color: #333;padding: 8px 35px 8px 35px;}
.ncs-goods-summary{border-left:none;border-right:none}
.ncs-detail{padding-top:9px;border-left:none;border-bottom: none;border-right: none}
.ncs-lal{border:solid 1px #EEE;margin-top:18px}
.ncs-lal .content{max-height:430px;}
.ncs-lal .content .auction-record tr:first-child td{font-size:14px}
.smallImg{width:348px;background: #fff;border:#e5e5e5 solid 1px}