@charset "utf-8";
/* CSS Document */

.auction-master{margin:20px 0 0;}
.auction-master .title{margin: 30px 0 0; width:100%;height:30px; background: url(../images/paimai/title-bg-gray.jpg) center repeat-x;}
.auction-master .title span{display:block;margin: 0 auto; width:120px;height:30px; font-size:24px; color: #333;text-align: center; background: #fff;line-height: 30px;}
.auction-master .master h2{font-size:14px; color: #333;margin: 20px 0 0 0;}
.auction-master .master a{display:block;margin: 10px 14px 0 0; float:left;}
.auction-master .master a img{padding: 4px; width:176px; height:176px;border:#e3e3e3 solid 1px;}
.auction-master .master a img:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.auction-master .master a span{width:176px; text-align: center;padding: 6px 0 0;}
.auction-master .master-detail div.fl{padding:0 0 10px;width:190px; background: #fcfcfc; display: inline-block; height: auto;border: #f2f2f2 solid 1px}
.auction-master .master-detail div.fl img{width:190px; height: 190px;}
.auction-master .master-detail div.fl h1{margin:30px 0 0;font-size: 24px; color: #000; text-align: center}
.auction-master .master-detail div.fl span,.auction-master .master-detail div.fl a.all-block{display:block; width: 190px; text-align: center}
.auction-master .master-detail div.fl span{margin:15px 0 0;}
.auction-master .master-detail div.fl a.all-block{margin:6px 0 20px; color: #800000}
.auction-master .master-detail div.fl a.pin{display: block;position: relative; margin:6px auto; width:148px; height: 30px; background: #fff; text-align: center;border:#f2f2f2 solid 1px;line-height: 28px}
.auction-master .master-detail div.fl a.pin:hover{background:#000; color: #fff; z-index: 2;left: 10px; width: 170px; height: 50px;line-height: 48px; font-size: 14px;}
.auction-master .master-detail div.fr{width:990px;}
.auction-master .master-detail div.fr h1{height:20px;border-left:#000 solid 4px;padding: 0 0 0 8px;margin: 0 0 16px 0; font-size: 20px;color:#000}
.auction-master .master-detail div.fr span{display:block;margin: 16px 0; font-size:16px;}
.auction-master .master-detail div.fr p{text-align:justify;margin: 0 0 20px 0; line-height: 22px}
.auction-master .master-detail div.fr ul.works-list li{width:480px;height: 168px;border:#f3f3f3 solid 1px;float:left;margin: 0 0 12px 10px}
.auction-master .master-detail div.fr ul.works-list li a img{width:230px; height: 168px;}
.auction-master .master-detail div.fr ul.works-list li a div{width: 218px; padding:16px;}
.auction-master .master-detail div.fr ul.works-list li a div h2{font-size:20px; text-align: center; color: #000; margin: 0 0 12px;width:218px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;height: 20px}
.auction-master .master-detail div.fr ul.works-list li a div p{margin:0 0 10px;line-height: 22px;height:88px;overflow: hidden}
.auction-master .master-detail div.fr ul.works-list li a div span{text-align:right;font-size: 14px;margin: 0}
.auction-master .master-detail div.fr ul.works-list li:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
/*拍卖详情*/
.red-word{color:#800000 !important;}
.red-bg{background:#800000 !important;}
.gold-word{color:#a47f1a;}
.auction-middle-box{padding:12px;}
.auction-middle-box .title div{width:420px}
.auction-middle-box .title div h1{font-size:14px; color: #000;}
.auction-middle-box .title .time{margin:12px 0 0;}
.auction-middle-box .title .time .time-remain em{display:inline-block;height: 30px; padding: 0 6px;margin: 0 5px; background: url(../images/new-index/time-bg.jpg) center repeat-x;color:#fff; font-weight: bold;font-size: 14px;line-height: 28px}
.auction-middle-box .title .time .now{display: block; width:72px; height: 30px;margin: 0 16px 0 0; background: #000; color: #fff;font-size: 14px; text-align: center; border-radius: 0 6px 6px 0;line-height: 28px;}
.auction-middle-box .title a{display:block;padding:0 0 0 14px;width: 66px;border-left:#e2e2e2 solid 1px;}
.auction-middle-box .title a img{display:block;margin:0 auto 4px;40px; height: 40px;}
.auction-middle-box .title a span{text-align:center;}
.auction-middle-box .auction-middle-box{margin:20px 0 0;padding:20px 0 0 70px;width:88%; height: 170px; background: #eeeeee;overflow: hidden}
.auction-middle-box .auction-middle-box .normal h1{margin: 0 0 20px 0;}
.auction-middle-box .auction-middle-box .normal h1 b{font-size: 28px;margin: 0 20px 0;color: #000}
.auction-middle-box .auction-middle-box .normal h1 span{font-size:12px; color: #595959;}
.auction-middle-box .auction-middle-box .gone h1{margin: 64px 0 0 60px;font-size: 22px}
.auction-middle-box .auction-middle-box .deal h1{margin: 40px 0 20px 140px;}
.auction-middle-box .auction-middle-box .deal h1 span{font-size: 22px}
.auction-middle-box .auction-middle-box .deal span{font-size:14px;}
.auction-middle-box .auction-middle-box .deal span.all-block{text-indent:136px;}
.auction-middle-box .auction-middle-box .deal span b{font-size:20px; color: #800000}
.auction-middle-box .auction-middle-box .reset .out{position: relative;left:468px;bottom:172px; width:57px; height: 46px;background: url(../images/paimai/out-bg.png) center no-repeat;text-align: center;color: #fff;line-height: 34px;}
.auction-middle-box .auction-middle-box a{display:inline-block}
.auction-middle-box .info div:first-child{padding:20px 0;height: 18px; border-bottom: #eee solid 1px}
.auction-middle-box .info div span{display:block;padding:0 0 0 20px;margin: 0 20px 0 0; border-left:#ccc solid 1px; font-size: 14px;float: left}
.auction-middle-box .info div span:first-child{border-left:none}
.auction-middle-box .info div span b{font-size:20px;}
.auction-middle-box .info ul li{display:block;margin: 6px 0 0; min-width:190px; float: left}
.auction-middle-box .share{margin:14px 0 0;}
.auction-middle-box .share a{display:block;margin: 0 16px 0 0; float: left}
.auction-middle-box .share .selected{color:#800000}
.ncs-lal .content .auction-record{display: block; padding:0 0 10px 0;border-bottom:#eeeeee solid 1px}
.ncs-lal .content .auction-record tr{height:30px;}
/*.ncs-lal .content .auction-record tr td{width:69px}*/
.ncs-lal .content .auction-record tr td:first-child{width:50px;}
.ncs-lal .content .auction-record tr td{width:70px;padding: 0 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; display: inline-block;color: #333}
.ncs-lal .content .auction-record tr td span{display:block;width: 40px; height: 20px;color: #fff; text-align: center; line-height: 20px;border-radius: 4px;}
.ncs-lal .content .auction-qrcode h1{text-align:center;margin:16px 0 3px;font-size: 14px;color: #333}
.ncs-lal .content .auction-qrcode #code canvas{display:block; margin:0 auto;}
/*拍卖详细左边部分*/
.auction-detail-left .box-01{border:#f2f2f2 solid 1px;}
.auction-detail-left .shop-name{height:40px; background: #f7f7f7;line-height: 36px;}
.auction-detail-left .shop-name h4{width:138px;margin: 0 0 0 10px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.auction-detail-left .shop-info{display:inline-block; height: auto;border-bottom: #f2f2f2 solid 1px;width:100%;}
.auction-detail-left .shop-info h1{padding:36px 0 0;color:#800000; font-size: 24px;width: 90px; height: 60px;text-align: center;}
.auction-detail-left .shop-info p span{display:block;margin: 8px 0 0}
.auction-detail-left .shop-info p span i{height:8px;overflow: hidden;color: #800000}
.auction-detail-left .shop-other{padding:6px 0 0; height: 38px;}
.auction-detail-left .shop-other a{display:block;margin: 0 6px; float: left;text-align: center;width:90px; height: 26px;line-height: 26px; background: #f8f8f8; border:#e4e4e4 solid 1px}
.auction-detail-left .shop-other a:hover{color:#fff; background: #800000; border:#800000 solid 1px;}
/*商品轮播*/
.auction-detail-left #vertical-slide{ width:210px;margin: 20px 0 0;}
.auction-detail-left #vertical-slide h1{width:100%;height:18px; background: url(../images/painting/title-bg-gray.jpg) center repeat-x;}
.auction-detail-left #vertical-slide h1 span{display:block;margin:0 auto;width: 76px; text-align: center;background: #fff; font-size:16px; color: #333}
.auction-detail-left #vertical-slide .gray{color:#000}
.auction-detail-left .slide-pic {margin:0 auto;width:190px; text-align: center}
.auction-detail-left .slide-pic a#prev,.slide-pic a#next{display:inline-block;width:50px;height: 36px; outline: none; font-size:30px;color:#8f8f8f}
.auction-detail-left .slide-pic .vertical-slide-pic {overflow: hidden; width: 190px; height: 680px}
.auction-detail-left .slide-pic ul {width: 180px !important;margin: 0 auto;display: block;}
.auction-detail-left .slide-pic ul li{border:#f1f1f1 solid 1px; width:178px;margin:16px 0 0;}
.auction-detail-left .slide-pic ul li:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.auction-detail-left .slide-pic ul li a {display:inline-block;height: 200px; overflow: hidden;}
.auction-detail-left .slide-pic ul li a img {width: 178px; height: 178px}
.auction-detail-left .slide-pic ul li .title {display: block;padding: 4px 6px 0; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2FFFFFF', endColorstr='#B2FFFFFF');background:rgba(255,255,255,0.7); width: 166px; color: #4c4c4c; line-height: 20px; height:46px; text-align: left;position: relative;bottom: 23px;}
.auction-detail-left .slide-pic ul li .title .title-name{display: block;padding: 0 0 3px 0; width:178px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.bidding-process{display:block;padding: 10px 0 0; width: 1200px;height: 50px;}
.bidding-process h1{margin:0 40px;color:#333; font-size: 16px;}
.bidding-process:hover{ color:#333}
.bidding-process span{display:block;width: 710px; height: 22px;background: url(../images/paimai/bidding-process.jpg)}
.bidding-process span b{font-weight:normal;display: block;float: left;margin: 0 0 0 109px;}
.bidding-process span b:first-child{margin:0 0 0 28px}
/*弹窗样式*/
.cd-popup{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup.is-visible{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:scale(1.2);transform:scale(1.2);-ms-transform:scale(1.2);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
.is-visible .cd-popup-container{-webkit-transform:scale(1);transform:scale(1);-ms-transform:scale(1)}
.cd-popup1{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup1.is-visible1{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container1{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:translateY(-60px);transform:translateY(-60px);-ms-transform:translateY(-60px);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
.is-visible1 .cd-popup-container1{-webkit-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0)}
.cd-popup2{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup2.is-visible2{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container2{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:translateY(60px);transform:translateY(60px);-ms-transform:translateY(60px);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
.is-visible2 .cd-popup-container2{-webkit-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0)}
.cd-popup3{position:fixed;top:0;left:0;z-index:999;visibility:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s}
.cd-popup3.is-visible3{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container3{position:relative;margin:250px auto;width:450px;min-height:290px;background:#fff;border:#000 solid 1px;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.2);text-align:center;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:scale(.8);transform:scale(.8);-ms-transform:scale(.8);-webkit-backface-visibility:hidden;-ms-transition-duration:.3s}
a.cd-popup-close{position:absolute;top:5px;right:12px;z-index:10;display:block;width:auto;height:1.25rem;font-size:12px; color: #fff !important}
.is-visible3 .cd-popup-container3{-webkit-transform:scale(1);transform:scale(1);-ms-transform:scale(1)}
.cd-popup-top{padding:0 12px;width:426px; height: 30px; background: #000; color: #fff; text-align: left}
.cd-popup-top h1{line-height:28px;}
.cd-buttons{padding:20px; width: 410px}
.cd-buttons .box-01{width:100%;height:69px;border-bottom: #bfbfbf solid 1px}
.cd-buttons .box-01 div{width:56px;}
.cd-buttons .box-01 div img{margin:4px auto 0;}
.cd-buttons .box-01 span.all-block{padding:0 0 0 40px;margin: 10px 0 0; width:120px;border-left: #bfbfbf solid 1px;text-align: left; font-size: 16px;}
.cd-buttons .box-01 span.all-block b{display:block; font-size: 14px;}
.cd-buttons .box-01 span.all-block:last-child{border-left:none;color:#808080}
.cd-buttons .box-02{display:block;padding:20px 0;width: 100%;height: auto;overflow: hidden; border-bottom: #bfbfbf solid 1px;text-align: left;line-height: 24px;}
.cd-buttons .box-02 span b{font-weight:normal}
.cd-buttons .box-02 span{font-size:14px;}
.cd-buttons .box-02 div.fl{width:314px;}
.cd-buttons .box-02 div.fl span{color: #000}
.cd-buttons .box-02 div.fl span b{font-size:12px; color: #666}
.cd-buttons .box-02 .phone-number{padding:0 0 0 22px;}
.cd-buttons .box-02 .phone-number label{line-height: 30px;margin: 8px 0;display:block}
.cd-buttons .box-02 .phone-number label input{text-indent:4px}
.cd-buttons .box-02 .phone-number label a{display: inline-block;margin: 0 0 0 10px; padding:0 10px; background: #000;color: #fff}
.cd-buttons .box-02 .qrcode{width:96px;float: right}
.cd-buttons .box-02 .qrcode canvas{display:block;margin:0 auto;}
.cd-buttons .box-02 h3{font-size:16px; color: #333}
.cd-buttons .botton{width:212px; margin: 26px auto 0;}
.cd-buttons .botton input{display:block;width: 96px; height: 36px;border-radius: 4px;}
.cd-buttons .botton input:first-child{color:#fff; background: #000}
.cd-buttons .botton input{color:#000;
background: #cfcfd1; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #cfcfd1 , #f1f1f1); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #cfcfd1 , #f1f1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*加钱控件*/
.spinner{height:44px;margin: 0 0 14px 0}
.spinner .value,.spinner button{text-align:left;display:block;float:left;height:100%;line-height:25px;margin:0;color: #fbfcfc}
.spinner button{border:none;width:40px;padding:0;outline:0}
.spinner .decrease{background: url(../images/paimai/btn-05.png) center no-repeat; cursor:pointer;}
.spinner .increase{background: url(../images/paimai/btn-06.png) center no-repeat;cursor:pointer;}
.spinner .value{width:100px;height:42px;border:none;color:#000;padding:0 0 0 20px;margin: 0 4px 0;border:#dfdfdf solid 1px;font-size: 14px;}
.spinner .value.passive{color:#333;}
.spinner .error,.spinner .invalid{background:#800000;color: #fff !important}
/*买家帮助*/
.buyers-help .accordion{width:220px;background:#000;}
.buyers-help .accordion .link{cursor:pointer;display:block;padding:15px 15px 15px 42px;color:#fff;font-size:14px;border-bottom:1px solid #fff;position:relative;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.buyers-help .accordion li:last-child .link{border-bottom:0}
.buyers-help .accordion li i{position:absolute;top:15px;left:12px;font-size:18px;color:#fff;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.buyers-help .accordion li i.fa-angle-down{right:12px;left:auto;font-size:20px}
.buyers-help .accordion li.open .link{color:#fff}
.buyers-help .accordion li.open i{color:#fff}
.buyers-help .accordion li.open i.fa-angle-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.buyers-help .submenu{display:none;background:#f5f5f5;font-size:14px}
.buyers-help .submenu li{border-bottom:1px solid #dadada}
.buyers-help .submenu li:last-child{border-bottom:none}
.buyers-help .submenu a{display:block;text-decoration:none;color:#808080;padding:12px;padding-left:42px;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}
.buyers-help .submenu a:hover{background:#666;color:#FFF}
.buyers-help .buyers-help-right h1{padding:10px 0 0 20px;margin: 0 0 14px 0; width:940px; height: 30px;background: #f5f5f5;font-size: 16px;}
.buyers-help .buyers-help-right .content{padding:30px; width: 898px; display: inline-block; height: auto;border:#e3e3e3 solid 1px;}
/*艺术家简介*/
.artist-profile{margin: 40px auto 24px !important; width:1200px;height: 140px; background: url(../images/new-index/artist-profile-bg.jpg) center repeat-x;  overflow: hidden}
.artist-profile .artist-profile-word{margin: 12px 0;padding: 0 0 0 20px;height: 128px;}
.artist-profile .artist-profile-word h1{padding: 16px 0 0;font-size:18px; color: #000}
.artist-profile .artist-profile-word h2{margin: 8px 0 0; font-size:14px; color:#5e5e5e}
.artist-profile .artist-profile-word a{display:block;margin:16px 0 0; font-size:14px;color:#6a0115}
.artist-profile .artist-list{margin:0 0 0 10px}
.artist-profile .artist-list li{margin: 0 7px 0; width:152px; height: 140px; background: url(../images/new-index/artist-profile-image-bg.png) center no-repeat; overflow: hidden; float: left}
.artist-profile .artist-list li a{display:inline-block;width:146px; height: 140px; padding: 0 0 0 6px; overflow: hidden}
.artist-profile .artist-list li a img{position: relative; top: -140px; width:140px; height: 140px; z-index: 1}
.artist-profile .artist-list li span{position: relative;top:-140px; display:block; width: 140px; height: 140px; background-color: rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');z-index: 2}
.artist-profile .artist-list li span p:first-child{padding: 36px 0 0;}
.artist-profile .artist-list li span p{ color:#fff;font-size:14px; text-align: center !important;line-height: 24px;width: auto;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 0 4%;}
.artist-profile .artist-list li span i{margin: 10px 0 0; display:block; color: #fff; font-size:22px; text-align: center}
.artist-profile .artist-list li:hover span{top:0;transition:all 0.4s ease-in-out 0.1s;-moz-transition:all 0.4s ease-in-out 0.1s;-ms-transition:all 0.4s ease-in-out 0.1s;-o-transition:all 0.4s ease-in-out 0.1s;-webkit-transition:all 0.4s ease-in-out 0.1s;}
.artist-profile .artist-more{float: right; display:block;width:186px; height: 140px; background: #000; color: #fff; text-align: center;font-size: 14px;line-height: 140px;}
/*拍卖推荐*/
.auction-index #new-tab{margin: 20px 0 0;width:882px; height:auto;margin: 20px auto 0;}
.auction-index #new-tab .tab_menu{width:880px;height: 40px; background:#fff; border: #e5e5e5 solid 1px; border-right: none}
.auction-index #new-tab .tab_menu li{float:left; line-height: 40px; width:160px;height:40px;cursor:pointer;text-align:center;color:#000;font-size: 14px; text-align: center;border-right: #e5e5e5 solid 1px;}
.auction-index #new-tab .tab_menu li:hover{ background-color: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');color:#fff; text-decoration:none;}
.auction-index #new-tab .tab_menu .selected{background-color:#000;cursor:pointer;color:#fff;}
.auction-index #new-tab .hide{display:none;}
.auction-index #new-tab .tab_box{width:100%;clear:both;}
.auction-index #new-tab .tab_box div a{display:block;margin:0 0 20px 0;width: 880px; height: 220px; border:#dcdcdc solid 1px;}
.auction-index #new-tab .tab_box div a:hover{border:#000 solid 1px;}
.auction-index #new-tab .tab_box div a img{ display:block; float:left; width: 520px; height: 220px}
.auction-index #new-tab .tab_box .new-tab-list{width:344px;}
.auction-index #new-tab .tab_box .new-tab-list h1{padding:24px 0 0 ;font-size:18px; color: #000}
.auction-index #new-tab .tab_box .new-tab-list span{font-size:14px; color: #666;line-height: 28px}
.auction-index #new-tab .tab_box .new-tab-list span b{font-weight:normal; color: #000}
.auction-index #new-tab .tab_box .new-tab-list .new-tab-list-title{width:230px;}
.auction-index #new-tab .tab_box .new-tab-list .new-tab-list-title h1{line-height: 26px}
.auction-index #new-tab .tab_box .new-tab-list .offer{width: 110px; height:100px; background: #000}
.auction-index #new-tab .tab_box .new-tab-list .offer b:first-child{padding: 18px 0 0; font-size:20px;}
.auction-index #new-tab .tab_box .new-tab-list .offer b{display: block; font-size:16px; color:#fff; text-align: center;line-height: 30px}
.auction-index #new-tab .tab_box .tab-more{width: 100%; height: 38px;border:#e6e6e6 solid 1px;text-align: center;background: #f6f6f6;color:#000;font-size:14px;line-height: 34px}
.auction-index #new-tab .tab_box .tab-more:hover{border:#e6e6e6 solid 1px;}
.auction-index .hot-list{margin:20px 0 0; width:318px; height: auto;}
.auction-index .hot-list .top{ width:100%;height: 41px; border:#dcdcdc solid 1px;border-left: none}
.auction-index .hot-list .hot-goods{padding: 16px 16px 0 0; width: 276px;}
.auction-index .hot-list .hot-goods ul{display:block;padding: 2px 0 20px;margin: 0 0 40px; width: 100%;height: auto; 16px; background: #f6f6f6;border:#e6e6e6 solid 1px; border-top:none}
.auction-index .hot-list .hot-goods ul li{display:block;margin: 20px auto 0; width:240px; height: 274px;border:#e6e6e6 solid 1px;background: #fff;overflow: hidden;}
.auction-index .hot-list .hot-goods ul li:hover{border: #dadada solid 1px;-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.auction-index .hot-list .hot-goods ul li img{ width:240px; height: 240px}
.auction-index .hot-list .hot-goods .title{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000;line-height: 36px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99FFFFFF', endColorstr='#99FFFFFF');background:rgba(255,255,255,0.6);}
.auction-index .hot-list .hot-goods .info{position: relative;bottom: 34px;padding: 0 10px; width: 220px;height: 34px;line-height: 36px; }
.auction-index .hot-list .hot-goods .info span b,.hot-list .hot-goods .info span i{color:#800000; font-size: 14px;}
.auction-index #new-tab .tab_box .new-tab-list .time{position: relative;bottom: -70px;}
/*.auction-index #new-tab .tab_box .new-tab-list .time .time-remain em{display:inline-block;padding: 0 6px;margin: 0 4px; background: url(../images/new-index/time-bg.jpg) center repeat-x;color:#fff; font-weight: bold;font-size: 14px;}*/
.auction-index #new-tab .tab_box .new-tab-list .time .time-remain em{display:inline-block;padding: 0 4px;margin: 0 4px; background: url(../images/new-index/time-bg.jpg) center repeat-x;color:#fff; font-weight: bold;font-size:24px;transform:translateY(4px);height:32px;line-height:30px}
.auction-index #new-tab .tab_box .new-tab-list .time .sell{color:#000}
.auction-index .auction-headlines{margin:0 0 14px;padding:14px 0 0 22px;width:858px; height: 34px;background: #f6f6f6; border:#e6e6e6 solid 1px}
.auction-index .auction-headlines h1{padding:0 10px 0 0;width:100px;font-size:24px;font-weight: bold;color: #800000; border-right:#e6e6e6 solid 1px}
.auction-index .auction-headlines div span{width:42px; height: 22px;margin: 0 14px 0; border:#800000 solid 1px; text-align: center; line-height: 22px;color: #800000;}
#scroll-news{width:600px;height: 24px; overflow: hidden}
.auction-index .auction-headlines div a{display:block;height: 24px;line-height: 26px}
.auction-index .lucky-bag{display:block;margin:0 0 0 26px;width:278px; height: 220px; overflow: hidden}
.auction-index .lucky-bag img{width:100%; height: 100%;}
.auction-index .lucky-bag span{width:78px; height: 44px; position: relative; bottom: 220px;z-index: 2;background: url(../images/paimai/lucky-bag.png) center no-repeat;}
.auction-index .lucky-bag h2{position:relative;bottom:80px; width:280px; height: 36px;background: url(../images/paimai/lucky-bag-bg.png) center repeat-x; color: #fff; text-align: center;line-height: 40px;font-size: 14px;}
/*日期选择*/
.date{width:100%;}
.date-list{margin:0 auto;overflow:hidden;height: 50px;padding: 14px 0 0; background: #f7f7f7;border-bottom: #d9d9d9 solid 1px}
.date-list-box{padding:0;}
.date-list-box .button-next{padding:0 13px;width:810px;position: relative;bottom:26px}
.date-list-left{cursor:pointer;float:left;text-align: center;font-size: 18px;color: #666666}
.date-list-right{cursor:pointer;float:right;text-align: center;font-size: 18px;color: #666666}
.date-list-ul{height:30px;width:832px;border:#d6d6d6 solid 1px;border-radius: 50px;background: #f7f7f7}
.date-list-ul ul li{display:block;float:left; /*padding:0 15px;*/padding:0 12px;font-size: 16px;/*width:40px*/width:48px !important; height:30px;overflow:hidden;position:relative;text-align: center;line-height: 32px;cursor: default;}
.date-list-ul ul li:hover{background:#000;color: #fff;border-radius: 50px}
.date-list-ul .tempWrap{left:22px;width:792px !important}
.date-list-ul .today,.date-list-ul .today:hover{background: url(../images/paimai/today.png) center no-repeat;}
.date-list-ul .today{font-size: 0}
.select-month{width:120px;height:32px; overflow: hidden;margin: 0 30px 0 0;}
.select-month select {
  width:120px;height:32px;
 /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #d6d6d6;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url(../images/paimai/down.png) right no-repeat;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding:0 20px;
  border-radius: 50px;
  font-size: 16px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.select-month select::-ms-expand { display: none; }
.select-month select option{display:block;padding:6px;border:none}

/*新添加时间下拉提示*/
.mytooltip{width:auto;padding:10px 16px;position:absolute;background:#fff;color:#000;border-radius:6px;text-align: center;font-size: 14px}
.mytooltip{-moz-box-shadow:0px 0px 6px #ccc; -webkit-box-shadow:0px 0px 6px #ccc; box-shadow:0px 0px 6px #ccc;}
.mytooltip:after,.mytooltip:before{content:" ";height:0;position:absolute;width:0;border:7px solid #fff;}
.mytooltip:before{border-width:9px}
.mytooltip--cursor-help{cursor:help!important}
.mytooltip-backing{position:absolute;width:100%}
.mytooltip.mytooltip-theme-default:before{display:none}
.mytooltip.mytooltip-theme-danger{background:#E04D3B}
.mytooltip.mytooltip-theme-danger:after{border-color:#E04D3B}
.mytooltip.mytooltip-theme-danger:before{display:none}
.mytooltip.mytooltip-theme-warning{background:#E67225}
.mytooltip.mytooltip-theme-warning:after{border-color:#E67225}
.mytooltip.mytooltip-theme-warning:before{display:none}
.mytooltip.mytooltip-theme-info{background:#0E7AC4}
.mytooltip.mytooltip-theme-info:after{border-color:#0E7AC4}
.mytooltip.mytooltip-theme-info:before{display:none}
.mytooltip.mytooltip-theme-success{background:#45B04F}
.mytooltip.mytooltip-theme-success:after{border-color:#45B04F}
.mytooltip.mytooltip-theme-success:before{display:none}
.mytooltip.mytooltip-theme-light{background:#FFF;color:#000;border:1px solid #E4E4E4}
.mytooltip.mytooltip-theme-light:after{border-color:#FFF}
.mytooltip.mytooltip-theme-light:before{border-color:#E4E4E4}
.mytooltip.mytooltip--top:after,.mytooltip.mytooltip--top:before{border-left-color:transparent;border-right-color:transparent;border-bottom:0;bottom:-7px;top:auto;left:50%;margin:0 0 0 -7px}
.mytooltip.mytooltip--top:before{bottom:-9px;margin:0 0 0 -9px}
.mytooltip.mytooltip--right:after,.mytooltip.mytooltip--right:before{border-top-color:transparent;border-bottom-color:transparent;border-left:0;left:-7px;margin-top:-7px;top:50%}
.mytooltip.mytooltip--right:before{left:-9px;margin-top:-9px}
.mytooltip.mytooltip--bottom:after,.mytooltip.mytooltip--bottom:before{border-left-color:transparent;border-right-color:transparent;border-top:0;margin:0 0 0 -7px;left:50%;top:-7px}
.mytooltip.mytooltip--bottom:before{margin:0 0 0 -9px;top:-9px}
.mytooltip.mytooltip--left:after,.mytooltip.mytooltip--left:before{border-top-color:transparent;border-bottom-color:transparent;border-right:0;margin-top:-7px;left:auto;right:-7px;top:50%}
.mytooltip.mytooltip--left:before{margin-top:-9px;right:-9px}
.type-inline-block{display:inline-block}
.dropdown-menu,.example-nav ul{overflow:hidden;list-style:none}
.hidden{display:none}
.mytooltip-template{width:250px;font-size:14px}
.my-tooltip{padding:10px 20px;width:120px;border-radius:10px}

.time-remain{transform: translateY(-5px);}
.ncs-goods-summary{width:564px !important;margin-right:268px !important;}
.ncs-lal{width:270px}
.ncs-lal .content{width:260px !important;}
.ncs-lal .title{font-size:14px !important;background:none !important;border:none !important;padding:15px 10px !important;}
.sort-bar{border-left:none !important}
.auction-qrcode{margin-bottom:15px}