@charset "utf-8";
/* CSS Document */
/*书画样式*/
.red-bg{background:#800000 !important}
.red-word{color:#800000 !important}
.gray-bg{background:#818181 !important}
.painting .nch-sortbar-array li a i{background: url(../images/painting/2014shop_background_img.png) no-repeat 0 -11px;}
.painting .nch-sortbar-array li a:hover i{background: url(../images/painting/2014shop_background_img.png) no-repeat -7px -11px;}
.painting .big-list{width:1232px;margin: 0 auto;}
.painting .big-list li{width:280px; height: 410px;margin: 13px; border: #e6e6e6 solid 1px; background: #f6f6f6;float: left;}
.painting .big-list li a{display:block;width: 100%; height: 410px;}
.painting .big-list li:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.painting .big-list li a img{ display:block; width: 280px; height: 280px}
.painting .big-list .new-tab-list{width: 252px; padding:14px;}
.painting .big-list h1{padding:0px 0 6px ;font-size:14px; color: #000;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;transform: translateY(-1px);}
.painting .big-list span{font-size:12px; color: #666;line-height: 28px;}
.painting .big-list span b{color: #800000;font-size: 20px;}
.painting .big-list .new-tab-list-title{width:190px;}
/*.painting .big-list .new-tab-list-title h1{line-height: 26px}*/
.painting .big-list .offer{width: 54px; height:64px; background: #000}
.painting .big-list .offer b:first-child{padding: 12px 0 0; font-size:18px;}
.painting .big-list .offer b{display: block; font-size:12px; color:#fff; text-align: center;}
.painting .big-list .time{margin: 12px 0 0}
.painting .big-list .time .time-remain em{display:inline-block;padding: 0 3px;margin: 0 3px; background: url(../images/new-index/time-bg.jpg) center repeat-x;color:#fff; font-weight: bold;font-size: 12px;}
.painting .big-list .time .sell{color:#000}
.painting .screening{width:1198px; height: auto;display: inline-block;background: #fafafa; border: #e5e5e5 solid 1px;}
.painting .screening .title{padding: 14px 0 0 20px; width:78px;font-size: 14px;}
.painting .screening .search-by{width:1100px; background: #fff}
.painting .screening .search-by dl{width:1100px;padding:8px 0;line-height:30px;border-bottom:1px solid #e5e5e5;overflow:hidden}
.painting .screening .search-by dl:last-child{border-bottom:none}
.painting .screening .search-by dl dt a{font-weight:inherit;color:#666;line-height:30px; }
.painting .screening .search-by dl dt{padding:0 0 0 40px;width:120px;text-align:left;margin:0;font-size:14px}
.painting .screening .search-by dl dd a{color:#666666;font-size:14px;line-height:30px;margin-left:20px;display:inline-block;width: 120px;}
.painting .screening .search-by dl dd{width:870px;font-size:14px;height:30px;overflow:hidden}
.painting .screening .search-by dl dd.show-more{width:70px;padding:0;text-align:left;cursor:pointer}
.painting .screening .search-by dl dd.show-more h3{background:0 0;border:none;font-size:14px;line-height:14px;height:30px;line-height:30px}
.painting .screening .search-by dl dd.show-more h3 i{background:0 0;float:none;display:inline-block;font-size:16px;margin-left:5px}
.painting .screening .search-by .selected{color:#800000;}
.painting .screening .search-by a:hover{color:#800000;}
.painting .sort-bar{background:#fff;margin: 20px auto;height:40px}
.painting .nch-sortbar-array{padding:0}
.painting .nch-sortbar-array li.selected,.nch-sortbar-array li:hover{background:#333;}
.no-hover:hover{background: #fff !important;}
.painting .nch-sortbar-array li.selected a, .nch-sortbar-array li:hover a{color:#fff}
.painting .nch-sortbar-array li a i{height:16px;transform: translateY(-2px);}
.painting .nch-sortbar-array li a{font-size:16px;padding:10px 24px 10px 24px;}
.painting .nch-sortbar-array li a:hover{color:#fff;background: #000}
.painting .nch-breadcrumb select,.painting .nch-breadcrumb .select{height:22px;vertical-align:top;padding: 1px 4px;} 
.painting .nch-breadcrumb select {
 /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #d6d6d6;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url(../images/painting/down.png) right no-repeat;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding:0 25px 0 10px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.painting .nch-breadcrumb select::-ms-expand { display: none; }

.painting .nch-breadcrumb span b{color:#800000}
.painting .nch-breadcrumb .shut{margin:0 10px 0 0;padding:0 8px;display: inline-block; border:#800000 solid 1px;color:#800000;height: 18px;cursor: pointer}
.painting .merchants-info{display:inline-block;width: 100%; height: auto;padding:24px 0;border-top:#f2f2f2 solid 1px;}
.painting .merchants-info .box-01{width:94px;margin:0 38px 0 0;}
.painting .merchants-info .box-01 img{display:block;width: 92px; height: 92px;border: #e8e8e8 solid 1px;border-radius: 100%; overflow: hidden;}
.painting .merchants-info .box-01 span{display:block;margin: 10px 0; width:100%;text-align:center}
/*.painting .merchants-info .box-01 button{display:block;margin:0 auto; width:84px; height: 24px;background: #000;border-radius: 50px;border:none; color: #fff;text-align: center; cursor: pointer}*/
.painting .merchants-info .box-01 h4{display:block;margin:0 auto; width:84px; height: 24px;background: #000;border-radius: 50px;border:none; color: #fff;text-align: center; cursor: pointer}
.painting .merchants-info .box-01 h4.selected{background:#800000}
.painting .merchants-info .box-02{width:250px}
.painting .merchants-info .box-02 h1{font-size:18px;color:#000;margin: 0 0 10px 0}
.painting .merchants-info .box-02 dl{margin:0 0 6px 0}
.painting .merchants-info .box-02 dl dt,.painting .merchants-info .box-02 dl dd{float:left;font-size: 14px;}
.painting .merchants-info .box-02 dl dt{width:70px;text-align: justify}
.painting .merchants-info .box-02 dl dd span{width:126px;display:inline;background: url(../images/painting/message.png) left no-repeat;color:#800000;text-indent: 26px}
.chat_online,.chat_offline{background:none !important;}
.painting .merchants-info .box-02 span{color:#800000}
.painting .merchants-info .box-03{width:810px;}
.painting .merchants-info .box-03 p{margin:20px 0 0; text-align: justify; font-size:12px;color: #000}
.painting .merchants-info .box-03 ul li{float:left;margin:0 50px 0 0}
.painting .merchants-info .box-03 ul li b,.painting .merchants-info .box-03 ul li span{display:block;}
.painting .merchants-info .box-03 ul li b{padding:0 0 0 34px;font-size:22px;color:#800000;font-weight: normal}
.painting .merchants-info .box-03 ul li span{display:block;margin: 10px 0 0;padding: 0 0 0 34px; height: 20px; font-size:14px;color: #000}
.painting .merchants-link{width:100%;height: 38px;background: #f7f7f7;text-align: center}
.painting .merchants-link a{display: inline-block;height: 36px;margin: 0 44px; padding:0 14px;color:#8c8c8c;line-height: 38px;border-bottom: #f7f7f7 solid 2px}
.painting .merchants-link a:hover,.painting .merchants-link a.selected{border-bottom: #000 solid 2px;color:#000}
.sorting{display:inline-block;width:auto;height:38px}
.sorting li{margin:0;padding:0;list-style:none;border-left: none;border-right: solid 1px #E6E6E6;}
.sorting li span i{background:none;vertical-align:baseline}
.sorting li span:hover{background:#fff !important;}
.sorting li span,.sorting li a{display:block;width:96px;color:#000;text-align:center;text-decoration:none;padding: 9px 10px !important;cursor: pointer;font-size: 16px;}
.sorting div{position:absolute;visibility:hidden;margin:0;padding:0;}
.sorting div a{position:relative;display:block;margin:0;padding:6px 10px;text-align:center;text-decoration:none;background:#f5f5f5;color:#8c8c8c !important;border-top:#e5e5e5 solid 1px}
.sorting div a:hover{background:#fff}

.painting .tab_box{width:1252px;margin: 0 auto; clear:both;}
.painting .tab_box li{margin:18px 18px 0;float:left}
.painting .tab_box li a{display:block;width: 588px; height: 148px; border:#dcdcdc solid 1px;}
/*.painting .tab_box li a:hover{border:#000 solid 1px;}*/
.painting .tab_box li a:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.painting .tab_box li a img{ display:block; float:left; width: 348px; height: 148px}
.painting .tab_box .new-tab-list{width:238px;}
.painting .tab_box .new-tab-list h1{padding:12px 0 0 10px ;font-size:16px; color: #000}
.painting .tab_box .new-tab-list span{font-size:14px; color: #666;line-height: 28px}
.painting .tab_box .new-tab-list span b{font-weight:normal; color: #000}
.painting .tab_box .new-tab-list .new-tab-list-title{width:154px;}
.painting .tab_box .new-tab-list .new-tab-list-title h1{    display: -webkit-box;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 60px;}
.painting .tab_box .new-tab-list .offer{width: 74px; height:68px; background: #818181}
.painting .tab_box .new-tab-list .offer b:first-child{padding: 10px 0 0; font-size:18px;}
.painting .tab_box .new-tab-list .offer b{display: block; font-size:14px; color:#fff; text-align: center;line-height: 24px}
.painting .tab_box .new-tab-list .others{margin:16px 0 0 10px}
.painting .merchants-news .merchants-news-left{width:944px;height:auto;display:inline-block;}
.painting .merchants-news .merchants-news-left li{display:inline-block;margin: 24px 0 0; padding:0 0 24px;border-bottom: #f1f1f1 solid 1px;width: 994px;}
.painting .merchants-news .merchants-news-left li img{display:block;margin: 0 20px 0 0; width:148px; height: 148px; float:left}
.painting .merchants-news .merchants-news-left li h1{margin: 0 0 10px 0;padding:4px 0 0;}
.painting .merchants-news .merchants-news-left li h1 a{ font-size:#3e3e3e; font-size: 18px;}
.painting .merchants-news .merchants-news-left li p{margin: 8px 0 0;font-size:14px; color:#767676}
/*商品轮播*/
#vertical-slide{ width:210px;margin: 20px 0 0;}
#vertical-slide h1{width:100%;height:18px; background: url(../images/painting/title-bg-gray.jpg) center repeat-x;}
#vertical-slide h1 span{display:block;margin:0 auto;width: 76px; text-align: center;background: #fff; font-size:16px; color: #333}
#vertical-slide .gray{color:#000}
.slide-pic {margin:0 auto;width:190px; text-align: center}
.slide-pic a#prev,.slide-pic a#next{display:inline-block;width:50px;height: 36px; outline: none; font-size:30px;color:#8f8f8f}
.slide-pic .vertical-slide-pic {overflow: hidden; width: 190px; height: 1118px}
.slide-pic ul {width: 180px !important;margin: 0 auto;display: block;}
.slide-pic ul li{border:#f1f1f1 solid 1px; width:178px;margin:16px 0 0;}
.slide-pic ul li:hover{-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.slide-pic ul li a {display:inline-block}
.slide-pic ul li a img {width: 178px; height: 178px}
.slide-pic ul li .price {display: block;padding:0 10px 0 0;background: #fff; width: 168px; color: #000; line-height: 20px; height:26px; text-align: right;}
/*专题页面*/
.painting .top-bg{width:100%; height: 300px;/*background-size:100% !important;*/}
.painting .info{float:right;padding: 22px 28px 0 0}
.painting .info .info-box-01{padding:10px;width:280px; height: 60px; background: #800000;}
.painting .info .info-box-01 h1{font-size:18px; color: #fff;}
.painting .info-box-01 .time{margin: 12px 0 0; color: #fff}
.painting .info-box-01 .time .time-remain em{display:inline-block;padding: 4px;margin: 0 4px; background:#000;color:#fff; font-weight: bold;font-size: 14px;}
.painting .info-box-01 a.fr{display:block; width: 64px;}
.painting .info-box-01 a.fr img{display:block; margin: 0 auto}
.painting .info-box-01 a.fr span{padding:6px 0 0;color:#fff}
.painting .info .info-box-02{padding:10px;width:280px; height: 60px; background: #818181;}
.painting .info .info-box-02 h2{font-size:32px; color: #fff; text-align: center;line-height: 58px}
.painting .info-box-02 a.fr{display:block; width: 64px;}
.painting .info-box-02 a.fr img{display:block; margin: 0 auto}
.painting .info-box-02 a.fr span{padding:6px 0 0;color:#fff}
.painting .info-box-03{padding:16px;width: 268px; height: 138px;background: #d1d1d1}
.painting .info-box-03 span{display:block;margin:6px 0 0;font-size:14px;}
.painting .info-box-03 h2{font-size:18px;margin: 0 0 12px; color: #000}
.painting .info-box-03 h2 b{font-size:26px;font-weight: normal}
.painting .succeed span.all-block{line-height: 22px}
.painting .succeed span.all-block b{color:#333; font-weight: normal;}
.painting i.liupai{display:block;position: relative;z-index:2;top:-100px;left:130px; width: 127px; height: 77px; background: url(../images/painting/liupai.png) center no-repeat}
.painting i.yichengjiao{display:block;position: relative;z-index:2;top:-100px;left:130px; width: 130px; height: 79px; background: url(../images/painting/yichengjiao.png) center no-repeat}

.painting .shuhua-top{position: relative;z-index:2;padding:0; width:100%;overflow:hidden;height:480px}
.painting .shuhua-top .box-01{width:190px;height:120px;}
.painting .shuhua-top .box-02{display:inline-block;padding:14px 6px; width: 178px; height: auto; background: #fff}
.painting .shuhua-top .box-02 a{display:inline-block;margin: 5px 3px; padding:0 10px; border:#ececec solid 1px; border-radius: 50px;}
.painting .shuhua-top .box-02 a:hover{ background: #800000; border:#800000 solid 1px; color: #fff}
/*楼层定位*/
.painting #menu{position:fixed;left:50%;margin-left:616px;top:210px;}
.painting #menu ul li a{display:block;margin:0 0 8px;font-size:12px;color:#333;padding:0 6px;width:auto; height:32px;line-height:32px; text-decoration:none;text-align:center;border:#e9e9e9 solid 1px;}
.painting #menu ul li a:hover,#menu ul li a.current{color:#fff;background:#000;border:#000 solid 1px;}
.painting #content{margin:36px 0 0;}
.painting #content #item1 h2{margin: 0 auto; color:#000;width:116px;height: 28px; border-left:#c9c9c9 solid 2px;border-right:#c9c9c9 solid 2px;line-height: 26px;font-size:24px; text-align: center}
.painting #content #item1 ul{display:inline-block;margin: 16px 0 0; width:1198px;height: auto; border-top:#d7d7d7 solid 1px;border-left:#d7d7d7 solid 1px;}
.painting #content #item1 ul li{width:132px; height: 83px; border-right:#d7d7d7 solid 1px;border-bottom:#d7d7d7 solid 1px; float: left; position: relative}
.painting #content #item1 ul li:hover{z-index:9;-moz-box-shadow:0px 3px 6px #dadada; -webkit-box-shadow:0px 3px 6px #dadada; box-shadow:0px 3px 6px #dadada;transition:all 0.2s ease-in-out 0.1s;-moz-transition:all 0.2s ease-in-out 0.1s;-ms-transition:all 0.2s ease-in-out 0.1s;-o-transition:all 0.2s ease-in-out 0.1s;-webkit-transition:all 0.2s ease-in-out 0.1s;}
.painting #content #item1 ul li a img{width:132px; height: 83px;}
.painting #content .item{margin-bottom:50px;height:auto;display:block}
.painting #content #item2 h2{color:#353530; font-size: 24px;}
.painting #content #item2 h2 span{color:#bfbfbf;font-size: 12px;}
.painting #content #item2 ul li div.title{height:32px;margin: 40px 0 26px; border-bottom: #f3f3f3 solid 1px;text-align:center; font-size: 18px; color: #353530}
.painting #content #item2 ul li div.title span:first-child{font-weight:bold}
.painting #content #item2 ul li a{display:inline-block; float: left}
.painting #content #item2 ul li a.little{margin: 0 0 0 6px; width:220px; height: 220px; overflow: hidden;}
.painting #content #item2 ul li a.little img{width:220px; height: 220px;}
.painting #content #item2 ul li a.little span{display: block;position: relative;bottom: 0px; padding:0 0 0 16px;width:204px;height: 30px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2717171', endColorstr='#B2717171');background:rgba(113,113,113,0.7); color: #fff;line-height: 30px;font-size:14px;}
.painting #content #item2 ul li a.little:hover span{bottom:30px; z-index: 9;transition:all 0.3s ease-in-out 0.2s;-moz-transition:all 0.3s ease-in-out 0.2s;-ms-transition:all 0.3s ease-in-out 0.2s;-o-transition:all 0.3s ease-in-out 0.2s;-webkit-transition:all 0.3s ease-in-out 0.2s;}
/*.painting #content #item3 h2,.painting #content #item4 h2{width:1200px; height: 36px; text-align:center; font-size:20px;line-height: 35px; color:#fff;background: #c9c9c9}
.painting #content #item3 div.middle-box div,.painting #content #item4 div.middle-box div{width:1200px; height: 36px; background: #f7f7f7; text-align: center;line-height: 36px;}
.painting #content #item3 div.middle-box div a,.painting #content #item4 div.middle-box div a{display: inline-block; padding: 0 10px;}*/
.painting .big-list .new-tab-list h3{color:#800000; font-size: 15px;margin: 18px 0 0}

.painting #content .item-all h2{width:1200px; height: 44px; text-align:center; font-size:24px;line-height:42px; color:#fff;background: #c9c9c9}
.painting #content .item-all div.middle-box div{width:1200px; height: 36px; background: #f7f7f7; text-align: center;line-height: 36px;font-size: 14px}
.painting #content .item-all div.middle-box div a{display: inline-block; padding: 0 10px;}
.painting #content .item-all div.middle-box div a.current{border-bottom: #800000 solid 1px;color:#800000}