
.lm_home_top {
    position: relative;
    height: 117px;
    width: 100%;
    background: url('../lm/images/lm_home_pub_bg.png') repeat-x;
    z-index: 1;
}
.mtb15 {
    margin: 15px auto !important;
}
.lm_notfound_arts {
    color: #808080;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 14px;
}
.lm_more {
    color: #808080;
    font-size: 18px;
    border: #e6e6e6 solid 1px;
    border-radius: 4px;
    width: 377px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 11px auto;
    text-align: center;
}
.qll_profit:hover,
.lm_more:hover{
    color: #808080;
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.09);
}
.profit_content .qll_home_mod1 li{
    margin-bottom: 20px;
}
.qll_profit_banner{
    width: 100%;
    position: relative;
}
.qll_profit_banner .profit_img{
    display: block;
    width: 100%;
    height:100%;
}
.qll_profit_banner .profit_btn{
    display: block;
    position: absolute;
    width: 280px;
    height: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 26px;
}
.qll_profit_banner .profit_btn img{
    width: 100%;
    height: 100%;
}

.profit_content{
    width: 1200px;
    margin: 5px auto 0;
}
.profit_content .profit_title{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.profit_content .qll_home_mod1 .qll_home_mod1_left{
    position: relative;
}
.qll_finance_ad span:before {
    background-image: url("../images/qll/qll_finance_tip.png");
    width: 54px;
    height: 34px;
    position: absolute;
    left: -54px;
    bottom: 0;
    display: block;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
}
.qll_finance_ad {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #e90525;
    font-size: 14px;
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding-right: 10px;
}
.qll_finance_ad span .qll_bzjsy{
    color: #fff;
}
.profit_content .qll_home_mod1 li {
    border-radius: 4px;
}
.profit_content .qll_home_mod1 .qll_home_mod1_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    object-position: center;
}
.profit_content .qll_home_mod1 .qll_home_mod1_left {
    float: left;
    width: 720px;
    height: 300px;
    display: block;
    border-radius: 4px 0 0 4px;
    background: #f3f3f3;
}
.profit_content .qll_home_mod1 .qll_home_mod1_right {
    float: left;
    width: 480px;
    height: 300px;
    background: #f3f3f3;
    border-radius: 0 4px 4px 0;
}
.profit_content .qll_home_mod1 .qll_home_mod1_right .qll_counttop{
    height: 200px;
    padding: 30px 0;
    box-sizing: border-box;
    background: #f9f4ea;
}
.profit_content .qll_home_mod1 .qll_home_mod1_right .qll_countdown{
    background: #ebe6d8;
    height: 100px;
}
.profit_content .qll_home_mod1 .qll_home_mod1_right .qll_title {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 26px;
    max-width: 95%;
}
.profit_content .qll_home_mod1 .qll_home_mod1_right .qll_address {
    color: #3a3a3a;
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 30px;
}
.profit_content .qll_home_mod1 .qll_home_mod1_right .qll_info {
    margin: 29px 0;
}
.qll_home_mod1 .qll_home_mod1_right .qll_count,
.qll_home_mod1 .qll_home_mod1_right .vote_count {
    width: 30%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #3a3a3a;
}
.qll_home_mod1 .qll_home_mod1_right .vote_count {
    float: right;
}

.qll_home_mod1 .qll_countdown .qll_timestate {
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #3a3a3a;
    text-indent: -25px;
}
.qll_home_mod1 .qll_countdown .lm_date span {
    margin-right: 16px;
    display: inline-block;
    font-size: 18px;
    color: #010101;
}
.qll_home_mod1 .qll_countdown .lm_date span:last-child {
    margin-right: 0;
}
.qll_home_mod1 .qll_countdown .lm_date .lm_date_info {
    width: 75px;
    height: 51px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: #fa1939;
    border-radius: 4px;
    line-height: 51px;
    margin-right: 6px;
}
.qll_home_mod1 .lm_date {
    width: 350px;
    margin: 0 auto;
}
.qll_home_titile img{
    margin: auto;
    display: block;
}
.qll_profit{
    margin-bottom: 30px;
}
.qll_profit .qll_profit_img{
    position: relative;
    width: 100%;
    height: 220px;
}
.qll_profit .qll_profit_img a{
    width: 100%;
    height:100%;
    display: block;
}
.qll_profit .qll_profit_img a img{
    width: 100%;
    height:100%;
}
.qll_profit li{
    width: 380px;
    float: left;
}
.qll_profit li:nth-child(1),
.qll_profit li:nth-child(2){
    margin-right: 30px;
}
.profit_activity_info .profit_activity_info_top{
    background: #f9f4ea;
    padding-bottom: 10px;
}
.profit_activity_info .profit_activity_info_top h2{
    text-align: center;
    color: #3a3a3a;
    font-size: 16px;
    padding: 15px 0;
}
.profit_activity_info .profit_activity_details{

}
.profit_activity_info .profit_activity_details .qll_address,
.profit_activity_info .profit_activity_details .vote_count{
    width: 30%;
    text-align: center;
    float: left;
}
.profit_activity_info .profit_activity_details .qll_count{
    width: 40%;
    text-align: center;
    float: left;
}
.profit_activity_info .profit_activity_info_bottom{
    background: #ebe6d8;
    padding-bottom: 10px;
}
.profit_activity_info .profit_activity_info_bottom .qll_timestate{
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #3a3a3a;
    text-indent: -25px;
}
.profit_activity_info .profit_activity_info_bottom .lm_date{
    text-align: center;
}
.profit_activity_info .profit_activity_info_bottom .lm_date span {
    margin-right: 16px;
    display: inline-block;
    font-size: 14px;
    color: #010101;
}
.profit_activity_info .profit_activity_info_bottom .lm_date span:last-child {
    margin-right: 0;
}
.profit_activity_info .profit_activity_info_bottom .lm_date .lm_date_info {
    width: 55px;
    height: 45px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background: #fa1939;
    border-radius: 4px;
    line-height: 45px;
    margin-right: 6px;
}
