/* reset */
body{color:#585858;}
body,div,p,span,form,iframe,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%; }
ul,ol,li,dl{list-style-type:none;}
em,i,dfn,cite,strong,small{font-style:normal;}
img{border:0;}
fieldset,button,input,select,option{vertical-align:middle;font:12px/18px "宋体",arial,sans-serif;}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:none}
/* color */
a:link,a:visited{color:#575757;text-decoration:none;}
a:hover{color:#ef4165;text-decoration:none;}
a:active{color:#1d7400;}
/* clearfix */
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
*html .clearfix{ zoom:1;}

.preview{width:360px; height:465px; margin:0;}
/* smallImg */
.smallImg{position:relative; height:52px; margin-top:1px; background-color:#f9f9f9; padding:6px 5px; width:355px; overflow:hidden;float:left;}
.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(images/d_08.png) no-repeat;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(images/d_09.png) no-repeat; margin-left:375px; margin-top:-50px;}

#imageMenu {height:50px; width:350px; overflow:hidden; margin-left:0; float:left;}
#imageMenu li {height:50px; width:50px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:50px; height:50px;cursor:pointer;}
#imageMenu li#onlickImg video{ width:48px; height:48px; border:1px solid #f40;}
.list-img-hover{width:48px !important; height:48px !important; border:1px solid #f40;}
/* bigImg */
.bigImg{position:relative; float:left; width:360px; height:360px; overflow:hidden;}
/*.bigImg #midimg{width:360px; height:360px;}*/
.bigImg #midimg{max-width:400px; max-height:400px;}
.bigImg #winSelector{width:175px; height:130px;}
#winSelector{position:absolute; cursor:move; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
.bigImg video{ position:absolute; top:0; left:0;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; background:#fff; overflow: hidden; z-index:999; height:463px; width:624px; top:0; left: 50%; margin-left: -232px}
#bigView img{position:absolute;}


/*弹框*/
/*#goodcover {*/
    /*display: none;*/
    /*position: absolute;*/
    /*top: 0%;*/
    /*left: 0%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1001;*/
/*}*/
/*#code {*/
    /*width: 300px;*/
    /*height: 500px;*/
    /*padding: 10px;*/
    /*position: absolute;*/
    /*display: none;*/
    /*left: 45% !important;*/
    /*top: 0 !important;*/
    /*z-index: 1002;*/
/*}*/
