<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>预览</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../css/swiper.min.css">
  <style>
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      overflow: hidden;
    }
  </style>
</head>
<body>
<div class="swiper-container">
  <div class="swiper-wrapper" id="img_list_html">
    <div class="swiper-slide">
      <div class="swiper-zoom-container">
        <img src="http://test.yinuovip.com/data/upload/shop/store/goods/86/86_05729822389916773_1280.jpg">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-zoom-container">
        <img src="http://test.yinuovip.com/data/upload/shop/store/goods/86/86_05729822426818295_1280.jpg">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-zoom-container">
        <img src="http://test.yinuovip.com/data/upload/shop/store/goods/86/86_05729822447001814_1280.jpg">
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <!--<div class="swiper-button-prev"></div>-->
  <!--<div class="swiper-button-next"></div>-->
</div>
<script type="text/html" id="img_list">
  <% for (var i =0;i<img_list.length;i++){ %>
  <div class="swiper-slide">
    <div class="swiper-zoom-container">
      <img src="<%=img_list[i]._big%>">
    </div>
  </div>
  <% } %>
</script>
<!-- Swiper JS -->
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/prism-h5-min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script type="text/javascript">
    var goods_id = getQueryString("goods_id");
    var auction_id = getQueryString("auction_id");
    var url = ApiUrl + "/index.php";
    var data_param = {};
    if (goods_id > 0){
        url +=  "?act=goods&op=get_goods_img";
        data_param = {goods_id: goods_id};
        get_img();
    }
    if (auction_id > 0){
        url +=  "?act=auction&op=get_auction_img";
        data_param = {auction_id: auction_id};
        get_img();
    }
    function get_img() {
        $.ajax({
            url: url,
            type: "get",
            data: data_param,
            dataType: "json",
            success: function (result) {
                var data = result.datas;
                if (!data.error) {
                    //渲染模板
                    var html = template.render('img_list', data);
                    $("#img_list_html").html(html);
                    aloud_swiper();
                }else{
                    $.sDialog({
                        content: data.error + '！<br>请返回上一页继续操作…',
                        okBtn: false,
                        cancelBtnText: '返回',
                        cancelFn: function () {
                            history.back();
                        }
                    });
                }
            }
        });
    }

    function aloud_swiper() {
        var swiper = new Swiper('.swiper-container', {
            zoom: true,
            speed: 300,
            parallax:true,
            pagination : '.swiper-pagination',
            paginationClickable :true,
          /*navigation: {
           nextEl: '.swiper-button-next',
           prevEl: '.swiper-button-prev',
           },*/
        });
    }
</script>
</body>
</html>
