<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>个性定制</title>
<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../css/agreement.css">

<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../css/qll/qll_base.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_310664_j8oiup8wgyuba9k9.css">
  <style>
  .text_area{
    background-color: #FFF;
    width: 90%;
    height: 4rem;
    padding: 0.5rem 2.5%;
    margin: 0.5rem 2.5%;
    border: none;
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
</style>
</head>
<body style="position: fixed;width: 100%;height: 100%">
<header id="header">
  <div class="header-wrap">
    <div class="header-l"><a href="javascript:void(0);" onclick="history.back();"><img src="../images/top-left.png" width="24" height="24" alt=""/></a></div>
    <div class="header-title">
      <h1>个性定制</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="save"></i></a> </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <form>
    <div class="nctouch_inp_con">
      <ul class="form-box">
        <li class="form-item">
          <h4>姓名：</h4>
          <div class="input-box">
            <input type="text" class="inp" name="cus_name" id="cus_name" autocomplete="off" oninput="writeClear($(this));"/>
            <span class="input-del"></span> </div>
        </li>
        <li class="form-item">
          <h4>手机号：</h4>
          <div class="input-box">
            <input type="tel" class="inp" name="cus_mobile" id="cus_mobile" autocomplete="off" oninput="writeClear($(this));"/>
            <span class="input-del"></span>
          </div>
        </li>
        <li class="form-item">
          <textarea id="content" name="content" class="text_area" placeholder="请描述一下您定制的内容" autocomplete="off" oninput="writeClear($(this));" ></textarea>
        </li>
      </ul>
      <div class="error-tips"></div>
      <div style="display: flex;justify-content: flex-end;">
        <i class="iconfont icon-gantan get_agreement_btn" g_type="custom_made_explanation"><span style="font-size: 10px;color:#888;margin-bottom: 10rem;">查看定制规则</span></i>
      </div>
      <div class="form-btn">
        <a class="btn" href="javascript:;">保&nbsp;&nbsp;&nbsp;存</a>
      </div>
    </div>
  </form>
</div>
<div class="agreement_bottom"></div>
<div class="agreement_content" id="withdrawalsAagreementHtml"></div>
<script type="text/html" id="withdrawalsAagreement">
  <h1>
    <%=title%>
    <div class="qll_close">
      <img src="../images/qll_close.png" alt="">
    </div>
  </h1>
  <div class="agreement_detail">
  </div>
</script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
<script type="text/javascript">
    $(function(){
        var is_submit = false;
        var key = getCookie('key');
        $.sValid.init({
            rules:{
                cus_name:"required",
                cus_mobile: {
                    required:true,
                    mobile:true
                },
                content:"required"
            },
            messages:{
                cus_name:"姓名必填！",
                cus_mobile: {
                    required : "手机号必填",
                    mobile : "请填写正确的手机号码",
                },
                content:"定制内容必填！"
            },
            callback:function (eId,eMsg,eRules){
                if(eId.length >0){
                    var errorHtml = "";
                    $.map(eMsg,function (idx,item){
                        errorHtml += "<p>"+idx+"</p>";
                    });
                    errorTipsShow(errorHtml);
                }else{
                    errorTipsHide();
                }
            }
        });
        if (key) {
            $.ajax({
                type: 'get',
                url: ApiUrl + "/index.php?act=member_card&op=get_member_info",
                data: {key: key},
                dataType: 'json',
                success: function (result) {
                    var member_info = result.datas;
                    $('#cus_name').val(member_info.member_name);
                    $('#cus_mobile').val(member_info.mobile);
                }
            });
        }
        $('#header-nav').click(function(){
            $('.btn').click();
        });
        $('.btn').click(function(){
            if(is_submit){
                return false;
            }
            if($.sValid()){
                is_submit = true;
                var cus_name = $('#cus_name').val();
                var cus_mobile = $('#cus_mobile').val();
                var content = $('#content').val();

                $.ajax({
                    type:'post',
                    url:ApiUrl+"/index.php?act=news&op=customize_add",
                    data:{
                        key:key,
                        cus_name:cus_name,
                        cus_mobile:cus_mobile,
                        content:content
                    },
                    dataType:'json',
                    success:function(result){
                        is_submit = false;
                        location.href = WapSiteUrl+'/app_index.html';
                    }
                });
            }
        });


        $('.get_agreement_btn').click(function () {
            var agreement_type = $(this).attr('g_type');
            _get_agreement(agreement_type);
        });

    });

    function _get_agreement(agreement_type) {
        $('body,html').addClass('pub_overFlow');
        $('body,html').height($(window).height());
        $(".agreement_bottom").height(document.body.scrollHeight);

        $.ajax({
            type: 'get',
            url: ApiUrl+'/index.php?act=mb_agreement&type=' + agreement_type,
            dataType: 'json',
            success: function (result) {
                var data = result.datas;
                var html = template.render('withdrawalsAagreement', data);
                $("#withdrawalsAagreementHtml").html(html);
                $('.agreement_detail').html(data.content);
                $('.qll_close').click(function () {
                    _clone();
                });
            }
        });
        $('.agreement_bottom').show();
    }
    function _clone() {
        $('body,html').css('height', 'auto');
        $('body,html').removeClass('pub_overFlow');
        $('.agreement_bottom').hide();
        $('.agreement_content').empty();
    }

    hide_header = true;
</script>

</body>
</html>