<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
  <title>艺术家</title>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <!--lm css-->
  <link rel="stylesheet" href="../css/lm/lm_main.css">
</head>
<body class="lm_box_con">
 <div class="enjoy_artist" id="lm_enjoy_artist">

 </div>

<script type="text/html" id="lm_enjoy_artist_con">
  <%if(list&&list.length){%>
  <ul class="ulno">
    <%for(var i=0;i< list.length;i++){%>
    <li>
      <a href="enjoy_artist_detail.html?brand_id=<%=list[i].brand_id%>&store_id=<%=store_id%>">
        <div class="img">
          <img src="<%=list[i].brand_pic%>" alt="<%=list[i].brand_name%>">
        </div>
        <span class="text"><%=list[i].brand_name%></span>
      </a>
    </li>
    <%if(i&&i%2===0){%>
      <hr class="enjoy_artist_hr">
    <%}%>
    <%}%>
  </ul>
  <%}%>
</script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="../js/lm_enjoy_artist.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</body>
</html>