<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
  <title>xxx艺术馆</title>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <!--lm css-->
  <link rel="stylesheet" href="../css/lm/lm_main.css">
</head>
<body class="lm_box_con">
<div class="lm_enjoy_artist_detail pub_works_list" id="pub_works_list"></div>

<script type="text/html" id="pub_works_list_con">

  <div class="lm_top">
    <img src="<%=brand_info.brand_pic%>" alt="<%=brand_info.brand_name%>">
    <span class="lm_username"><%=brand_info.brand_name%></span>
  </div>
  <%if(list&&list.length){%>
  <h2 class="title_wai">在售作品</h2>
  <ul>
    <%for(var i=0;i< list.length;i++){%>
    <li>
      <a href="product_detail.html?goods_id=<%=list[i].goods_id%>">
        <div class="img"><img src="<%=list[i].goods_image%>" alt="<%=list[i].goods_name%>"></div>
        <h4 class="lm_title"><%=list[i].goods_name%></h4>
        <dl>
          <dt class="price">¥<%=list[i].goods_price%></dt>
        </dl>
      </a>
    </li>
    <%}%>
  </ul>
  <%}%>
</script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
<script type="text/javascript" src="../js/enjoy_artist_detail.js"></script>
</body>
</html>