<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>尊享专区</title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <!--<link rel="stylesheet" href="../css/lm/lm_main.css">-->
    <link rel="stylesheet" href="../css/whk/enjoyArea.css">

</head>
<body class="lm_box_con">
<!--轮播图-->
<div class="swiper-container swiperBanner">
    <div class="swiper-wrapper" id="swiper-wrapper">
        <script type="text/html" class="swiperBannerContent" id="swiperBannerContent">
            <%for(var i=0;i< datas.length;i++){%>
            <div class="swiper-slide">
                <a href="<%=datas[i].url%>">
                    <img src="<%=datas[i].img%>" alt="<%=datas[i].name%>" onerror="whenError(this)">
                </a>
            </div>
            <%}%>
        </script>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination swiperBannerP"></div>
</div>

<!--   -->
<div class="enjoyTab">
    <div class="enjoyArtist everOne">
        <img src="../images/whk/enjoyArtist.png" alt="">
        <p>尊享艺术家</p>
    </div>
    <div class="works everOne">
        <img src="../images/whk/works.png" alt="">
        <p>作品集汇</p>
    </div>
    <div class="search everOne">
        <img src="../images/whk/search.png" alt="">
        <p>搜索</p>
    </div>
    <div class="help everOne">
        <img src="../images/whk/help.png" alt="">
        <p>帮助</p>
    </div>
</div>

<!-- 至尊首推 -->
<div class="supremacyFirst">
    <script type="text/html" id="supremacyFirstContent">
        <%if(list&&list.length){%>
        <div class="supremacTitle">
            <div class="sTiText">
                <div class="line"></div>
                <span>至尊首推</span>
            </div>
            <div class="supremacyMore">
                <span>查看更多</span>
                <img src="../images/whk/goMore.png" alt="">
            </div>
        </div>
        <div class="supremacyFirstContentScrollBG">
            <div class="supremacyFirstContentScroll">
                <%for(var i=0;i< list.length;i++){%>
                <div class="supremacyFirstContent">
                    <a href="enjoy_artist_detail.html?brand_id=<%=list[i].brand_id%>&store_id=<%=store_id%>" style="-webkit-touch-callout: none!important;
    text-decoration: none!important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)!important;
    -webkit-user-select: none!important;
    -moz-user-focus: none!important;
    -moz-user-select: none!important;">

                        <img src="<%=list[i].brand_pic%>" alt="<%=list[i].brand_name%>" onerror="whenError(this)">
                        <p class="supremacContentName"><%=list[i].brand_name%></p>
                        <p class="supremacContentWorksNum"><%=list[i].goods_count%>件作品</p>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <%}%>
    </script>
</div>

<!-- 尊享优选 -->
<div class="enjoyPreference">
    <script type="text/html" id="enjoyPreferenceContent">
        <%if(data&&data.length){%>
        <div class="enjoyPreferenceTitle">
            <div class="sTiText">
                <div class="line"></div>
                <span>尊享优选</span>
            </div>
            <!--<div class="enjoyPreferenceMore">-->
            <!--<span>查看更多</span>-->
            <!--<img src="../images/arrow_right_b.png" alt="">-->
            <!--</div>-->
        </div>
        <div class="enjoyPBottom">
            <div class="enjoyPBottomOne">
                <%for(var i=0;i< data.length;i++){%>
                <div class="enjoyPOneContent">
                    <a href="product_detail.html?goods_id=<%=data[i].goods_id;%>">
                        <div class="enjoyPOneImg">
                            <img src="<%=data[i].goods_image_url%>" alt="<%=data[i].brand_name%>" onerror="whenError(this)">
                        </div>
                        <p class="enjoyPOneContentTitle"><%=data[i].goods_name%></p>
                        <p class="enjoyPOneContentName"><%=data[i].brand_name%></p>
                        <p class="enjoyPOneContentNowPrice">￥<%=data[i].goods_price%> <span
                                class="enjoyPOneContentBeforePrice">￥<%=data[i].goods_marketprice%></span></p>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <%}%>
    </script>
</div>

<!-- 推荐作品 -->
<div class="recommendedWorks">
    <script type="text/html" id="recommendedWorksContent">
        <%if(data&&data.length){%>
        <div class="recommendedWorksTitle">
            <div class="sTiText">
                <div class="line"></div>
                <span>推荐作品</span>
            </div>
            <div class="recommendedWorksMore">
                <a href="store_goods.html?store_id=<%=store_id%>">
                    <span>查看更多</span>
                    <img src="../images/whk/goMore.png" alt="">
                </a>
            </div>
        </div>
        <div class="recommendedWorksBottom">
            <div class="recommendedWorksBottomOne">
                <%for(var i=0;i< data.length;i++){%>
                <div class="recommendedWorksOneContent">
                    <a href="product_detail.html?goods_id=<%=data[i].goods_id;%>">

                        <div class="recommendedWorksOneImg">
                            <img src="<%=data[i].goods_image_url%>" alt="<%=data[i].brand_name%>" onerror="whenError(this)">
                        </div>
                        <div class="recommendedWorksText">
                            <div class="recommendedWorksTextTop">
                                <p class="recommendedWorksTextTitle"><%=data[i].goods_name%></p>
                                <p class="recommendedWorksTextName"><%=data[i].brand_name%></p>
                                <!--<p class="recommendedWorksTextCategory"><%=data[i].brand_name%></p>-->
                                <!--<div class="recommendedWorksTextCategory"><span><%=data[i].brand_name%></span></div>-->

                            </div>
                            <div class="recommendedWorksTextBottom">
                                <p class="recommendedWorksTextNowPrice">￥<%=data[i].goods_price%> <span
                                        class="recommendedWorksTextBeforePrice">￥<%=data[i].goods_marketprice%></span></p>
                            </div>


                        </div>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <div class="lookMore">
            <a href="store_goods.html?store_id=<%=store_id%>" class="lookMoreA" href="javascript:0">查看更多作品</a>
        </div>
        <%}%>
    </script>
</div>
<!--<div class="lm_enjoy_banner">-->
<!--&lt;!&ndash;<a href="#"><img src="../images/lm/ZXZQb.jpg" alt=""></a>&ndash;&gt;-->

<!--</div>-->


<!--<div class="lm_enjoy_artist" id="lm_enjoy_artist"></div>-->

<!--<script type="text/html" id="lm_enjoy_artist_con">-->
<!--<%if(list&&list.length){%>-->
<!--<div class="pub_title">-->
<!--<div class="pub_title_left"></div>-->
<!--<div class="pub_title_center">推荐艺术家</div>-->
<!--<div class="pub_title_right">-->
<!--&lt;!&ndash; <a href="enjoy_artist.html?store_id=<%=store_id%>" class="more"><img src="../images/lm/more_hui.png" alt=""></a> &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="lm_enjoy_artist_wrapper swiper-container">-->
<!--<div class="swiper-wrapper">-->
<!--<%for(var i=0;i< list.length;i++){%>-->
<!--<div class="swiper-slide" brand_id="<%=list[i].brand_pic%>">-->
<!--<a href="enjoy_artist_detail.html?brand_id=<%=list[i].brand_id%>&store_id=<%=store_id%>">-->
<!--<img src="<%=list[i].brand_pic%>" alt="<%=list[i].brand_name%>">-->
<!--<span class="lm_text"><%=list[i].brand_name%></span>-->
<!--</a>-->
<!--</div>-->
<!--<%}%>-->
<!--</div>-->
<!--</div>-->
<!--<%}%>-->
<!--</script>-->

<!--&lt;!&ndash;热门艺术家结束&ndash;&gt;-->

<!--<div class="lm_enjoy_typelist" id="lm_enjoy_typelist"></div>-->

<!--<script type="text/html" id="lm_enjoy_typelist_con">-->
<!--<%if(list&&list.length){%>-->
<!--<h2 class="title_wai">作品分类<a href="store_search.html?store_id=<%=store_id%>" class="more"><img-->
<!--src="../images/lm/more.png" alt=""></a></h2>-->
<!--<ul class="ulno">-->
<!--<%for(var i=0;i< list.length;i++){%>-->
<!--<%if(i<=3){%>-->
<!--<li>-->
<!--<a href="store_goods.html?store_id=<%=store_id%>&stc_id=<%=list[i].category_id%>">-->
<!--<div class="img">-->
<!--<img src="<%=list[i].img%>" alt="<%=list[i].category_name%>">-->
<!--</div>-->
<!--<span class="text"><%=list[i].category_name%></span>-->
<!--</a>-->
<!--</li>-->
<!--<%}%>-->
<!--<%}%>-->
<!--</ul>-->
<!--<%}%>-->
<!--</script>-->

<!--&lt;!&ndash;分类结束&ndash;&gt;-->
<!--<div class="lm_enjoy_typelist_list_wrapper" id="lm_enjoy_typelist_list">-->

<!--</div>-->

<!--<script type="text/html" id="lm_enjoy_typelist_list_con">-->
<!--<%if(data&&data.length){%>-->
<!--<%for(var i=0;i< data.length;i++){%>-->
<!--<%if(data[i].goods_list&&data[i].goods_list.length){%>-->
<!--<div class="lm_enjoy_typelist_list pub_works_list">-->
<!--<h2 class="title_wai"><%=data[i].category_name%><a-->
<!--href="store_goods.html?store_id=<%=store_id%>&stc_id=<%=data[i].category_id%>" class="more"><img-->
<!--src="../images/lm/more.png" alt=""></a></h2>-->
<!--<ul>-->
<!--<%var item=data[i].goods_list %>-->
<!--<%if(item&&item.length){%>-->
<!--<%for(var j=0;j< item.length;j++){%>-->
<!--<li>-->
<!--<a href="product_detail.html?goods_id=<%=item[j].goods_id%>">-->
<!--<div class="img"><img src="<%=item[j].goods_image%>" alt="<%=item[j].goods_name%>"></div>-->
<!--<h4 class="lm_title"><%=item[j].goods_name%></h4>-->
<!--<dl>-->
<!--<dt class="price" style="font-size: 1.2rem">¥<%=item[j].goods_price%><span class="market_price"-->
<!--style="font-size: 1rem">￥<del><%=item[j].goods_marketprice%></del></span>-->
<!--</dt>-->
<!--<dd class="source"><%=item[j].brand_name%></dd>-->
<!--</dl>-->
<!--</a>-->
<!--</li>-->
<!--<%}%>-->
<!--<%}%>-->
<!--</ul>-->
<!--</div>-->
<!--<%}%>-->
<!--<%}%>-->
<!--<%}%>-->
<!--</script>-->


<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../js/whk_enjoyArea.js"></script>
<script type="text/javascript" src="../js/tmpl/new_footer.js"></script>

<script>
    window.onload = function () {
        var mySwiper = new Swiper('.swiperBanner', {
            direction: 'horizontal',
            loop: true,
            updateOnImagesReady: true,
            // 如果需要分页器
            pagination: '.swiperBannerP',

            //
            autoplay: 3000,//可选选项，自动滑动
        })


    }
    function whenError(a) {
        a.onerror = null;
        a.src = '../images/whk/bitamF.png';
        console.log('图片出错的时候调用默认的图片');
    }

</script>
</body>
</html>