<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>尊享艺术家</title>
    <link rel="stylesheet" href="../css/whk/whk_enjoyArist.css">

</head>
<body class="lm_box_con">

<!-- back -->
<header class="title_back">
    <div class="tb">
        <div class="back ">
            <img src="../images/whk/back.png" alt="">
        </div>
        <div class="title">
            <span>尊享艺术家</span>
        </div>
        <div class="Noback">
            <img src="../images/whk/back.png" alt="">
        </div>
    </div>
</header>
<!--  -->
<div class="enjoyPreference">
    <script type="text/html" id="enjoyPreferenceContent">
        <%if(list&&list.length){%>
        <div class="enjoyPreferenceTitle">

            <!--<div class="enjoyPreferenceMore">-->
            <!--<span>查看更多</span>-->
            <!--<img src="../images/arrow_right_b.png" alt="">-->
            <!--</div>-->
        </div>
        <div class="enjoyPBottom">
            <div class="enjoyPBottomOne">
                <%for(var i=0;i< list.length;i++){%>
                <div class="enjoyPOneContent">
                    <a href="enjoy_artist_detail.html?brand_id=<%=list[i].brand_id%>&store_id=<%=list[i].store_id%>"
                       style="text-decoration: none;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);-webkit-user-select: none;-moz-user-focus: none;
-moz-user-select: none;">
                        <div class="enjoyPOneImg">
                            <img src="<%=list[i].brand_pic%>" alt="<%=list[i].brand_name%>" onerror="whenError(this)">
                        </div>
                        <p class="enjoyPOneContentTitle"><%=list[i].brand_name%></p>
                        <p class="enjoyPOneContentNowPrice"><%=list[i].goods_count%>件作品 </p>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <%}%>
    </script>
</div>


<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<!--<script type="text/javascript" src="../js/swiper.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>-->
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<!--<script type="text/javascript" src="../js/tmpl/footer.js"></script>-->
<!--<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->
<!--<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>-->
<script type="text/javascript" src="../js/whk_enjoyArist.js"></script>

</body>
</html>