<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>尊享专区</title>
    <!--<link rel="stylesheet" href="../css/lm/lm_main.css">-->

</head>
<body class="lm_box_con">
<div id="help">
    <div class="agreement_content" id="withdrawalsAagreementHtml" style="z-index: 1001">
        <script type="text/html" id="withdrawalsAagreement">
            <!--<h1 >-->
                <!--<%=title%>-->
                <!--<div class="qll_close">-->
                    <!--<img src="../../images/qll_close.png" alt="">-->
                <!--</div>-->
            <!--</h1>-->
            <div class="agreement_detail">
            </div>
        </script>
    </div>

</div>


<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>
<!--<script type="text/javascript" src="../js/whk_enjoyArea.js"></script>-->
<script type="text/javascript" src="../js/tmpl/agreement.js"></script>

<!--<script type="text/javascript" src="../js/tmpl/new_footer.js"></script>-->


<script>

    function whenError(a) {
        a.onerror = null;
        a.src = '../images/whk/bitamF.png';
        console.log('图片出错的时候调用默认的图片');
    }

    $(function () {
        $.ajax({
            type: 'get',
            url: ApiUrl + "/index.php?act=mb_agreement&type=help",
            // data: {key: key},
            dataType: 'json',
            success: function (result) {
                var data = result.datas;
                console.log(data)
                var html = template.render('withdrawalsAagreement', data);
                $("#withdrawalsAagreementHtml").html(html);
                $('.agreement_detail').html(data.content);
            }
        });
    })


</script>
</body>
</html>