<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no"/>
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>商品分类</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_categroy.css">
</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"> <a class="icon fl" href="javascript:history.go(-1)"><img src="../images/top-left.png" width="20" height="20" alt=""/></a> </div>
    <div class="header-inp"> <i class="icon"></i> <span class="search-input" id="keyword">请输入关键字</span> </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../app_index.html"><i class="home"></i>首页</a></li>
        <li><a href="../tmpl/cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../tmpl/member/member.html"><i class="member"></i>个人中心</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <div class="categroy-cnt" id="categroy-cnt"></div>
  <div class="categroy-rgt" id="categroy-rgt"></div>
</div>
<div class="pre-loading">
  <div class="pre-block">
    <div class="spinner"><i></i></div>
    分类数据读取中... </div>
</div>
</body>
<script type="text/html" id="category-one">
	<ul class="categroy-list">
		<li class="category-item selected">
			<a href="javascript:void(0);" class="category-item-a brand">
					<div class="ci-fcategory-ico">
						<img src="../images/degault.png">
					</div>
				<div class="ci-fcategory-name">品牌推荐</div>
			</a>
		</li>
		<% for(var i = 0;i<class_list.length;i++){ %>
			<li class="category-item" id="lm_category-item<%= i %>">
				<a href="javascript:void(0);" class="category-item-a category" date-id="<%= class_list[i].gc_id %>">
					<div class="ci-fcategory-ico">
						<img src="<% if (class_list[i].image != '') { %><%= class_list[i].image %><% } else {%>../images/degault.png<% } %>">
					</div>
					<div class="ci-fcategory-name"><%= class_list[i].gc_name %></div>
				</a>
			</li>
		<% } %>
	</ul>
</script>
<script type="text/html" id="category-two">
	<dl class="categroy-child-list">
		<% for(var i=0; i<class_list.length; i++) { var col = i % 10;%>
			<dt><a href="<%= WapSiteUrl %>/tmpl/product_list.html?gc_id=<%= class_list[i].gc_id %>"><i class="col<%= col %>"></i><%= class_list[i].gc_name %><i class="arrow-r"></i></a></dt>
			<% for(var j=0; j<class_list[i].child.length; j++) { %>
				<dd><a href="<%= WapSiteUrl %>/tmpl/product_list.html?gc_id=<%= class_list[i].child[j].gc_id %>"><%= class_list[i].child[j].gc_name %></a></dd>
			<% } %>
		<% } %>
	</dl>
</script>
<script type="text/html" id="brand-one">
	<dl class="brands-recommend">
		<% for(var i = 0;i<brand_list.length;i++){ %>
			<dd>
				<a href="<%= WapSiteUrl %>/tmpl/product_list.html?b_id=<%= brand_list[i].brand_id %>">
					<img src="<%= brand_list[i].brand_pic %>">
					<p><%= brand_list[i].brand_name %></p>
				</a>
			</dd>
		<% } %>
	</dl>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/tmpl/categroy-frist-list.js"></script>
</html>