<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商城-作品列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
     <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="stylesheet" href="../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../css/lm/iconfont.css">
</head>
<body>
<div class="pub_screen_top">
    <div class="pub_screen_top_left qll_width"><span>最新排序<i class="pub_arrow"></i></span>
        <ul class="pub_category qll_category" style="display: none">
            <li data-order="" data-key=""><a href="#">最新排序</a></li>
            <li data-order="2" data-key="2"><a href="#">热门排序</a></li>
            <li data-order="1" data-key="3"><a href="#">价格<i class="iconfont icon-xiangshangjiantou-copy"></i></a></li>
            <li data-order="2" data-key="3"><a href="#">价格<i class="iconfont icon-xiangshangjiantou"></i></a></li>
        </ul>
    </div>
    <div class="pub_screen_top_right">
        <a href="#" class="pub_all_category" id="search_adv"><span>筛选</span> <i class="pub_arrow"></i></a>
        <div class="pub_change_list"></div>
    </div>
</div>
<!--筛选部分-->
<div class="shop_works_screen lm_hidden">
    <div class="shop_works_screen_top">
        <a href="javascript:void(0);" class="iconfont icon-jiantouzuo"></a>
        <h3>商品筛选</h3>
    </div>
    <div class="shop_works_screen_content">
        <div id="one_wrap"></div>
        <div id="two_wrap"></div>
    </div>
    <div class="shop_works_screen_bottom">
        <a href="javascript:void(0);" id="reset">重置</a>
        <a href="javascript:void(0);" id='search_submit'>确认</a>
    </div>
</div>
<!--<div class="list_line"></div>-->
<script type="text/html" id="one">
    <%if(class_list&&class_list.length>0){%>
    <dl class="bigType">
        <dt>大分类<i class="iconfont icon-guanbi close_type"></i></dt>
        <dd>
            <%for(var i=0 ;i< class_list.length ;i++){%>
            <span id="a__<%=class_list[i].gc_id%>" data-index="<%=i%>" gc_id="<%=class_list[i].gc_id%>"><i class="iconfont"><%=class_list[i].gc_name%></i></span>
            <%}%>
        </dd>
    </dl>
    <!--lm_hidden-->
    <dl class="smallType lm_hidden">
        <dt class="switch"><span>小分类</span> <i class="iconfont icon-jiantou9"></i></dt>
        <dd></dd>
    </dl>
    <%}%>
</script>
<script type="text/html" id="two">
    <%if(datas&&datas.length>0){%>
    <%for(var i = 0;i < datas.length;i++){var item=datas[i]%>
    <dl>
        <dt class="switch"><span><%=item.name%></span> <i class="iconfont icon-jiantou9"></i></dt>
        <dd>
            <%for (var j in item.value){var list = item.value[j]%>
            <span a_id="<%=list.attr_value_id%>"><i class="iconfont"><%=list.attr_value_name%></i></span>
            <%}%>
        </dd>
    </dl>
    <%}}%>
</script>

<!--筛选部分-->

<div>
    <ul class="shop_works_list shop_works_list_narrow" id="shop_works_list_html">
    </ul>
</div>

<script type="text/html" id="shop_works_list">
        <%if(goods_list.length>0){%>
        <%for(var i=0 ;i< goods_list.length ;i++){%>
        <li goods_id="<%=goods_list[i].goods_id%>">
            <a href="/wap/tmpl/product_detail.html?goods_id=<%=goods_list[i].goods_id%>" class="works_list_img">
                <img src="<%=goods_list[i].goods_image_url%>" alt="">
                <%if(goods_list[i].is_auctions){%>
                <div class="works_paimai_btn"><span href="#">拍卖中</span></div>
                <%}%>
                <%var goods_storage=goods_list[i].goods_storage;if(goods_storage==0){%>
                <div class="works_paimai_end">
                    <div class="works_customized">
                        <span>已售磬</span>
                        <p>定制请拨 <span>400-135-2688</span></p>
                    </div>
                </div>
                <%}%>
            </a>
            <div class="works_list_detail">
                <div class="works_name">
                    <span class="goods_name"><%=goods_list[i].goods_name%></span>
                    <span class="store_name"><%=goods_list[i].store_name%></span>
                    <%if(!goods_list[i].is_auctions){ if(goods_list[i].sales_model == '2'){%>
                    <span class="goods_price bargain"><%=goods_list[i].goods_price%></span>
                    <%} else {%>
                    <span class="goods_price">￥<%=goods_list[i].goods_price%><span class="market_price">￥<del><%=goods_list[i].goods_marketprice%></del></span></span>
                    <%}}if(goods_list[i].is_auctions){%>
                    <div class="works_paimai_btn"><span href="#">拍卖中</span></div>
                    <%}%>
                </div>
                <div class="works_guanzhu collect <%=goods_list[i].is_favorate?'active':''%>"></div>
            </div>
        </li>
        <%}%>
        <%}else{%>
        <div class="nctouch-norecord search">
            <div class="norecord-ico"><i></i></div>
            <dl>
                <dt>没有找到任何相关信息</dt>
                <dd>选择或搜索其它商品分类/名称...</dd>
            </dl>
            <a href="/wap/tmpl/product_list.html" class="btn">重新选择</a>
        </div>
    <%}%>

</script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script src="../dist/script/main.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>
<script src="../js/tmpl/product_list.js"></script>
</body>
</html>

