<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>商品详情</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no"/>

  <link rel="stylesheet" href="../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../css/lm/iconfont.css">
</head>
<body class="pabShop">

<div id="product_detail_html">

</div>


<div class="pub_banner product_detail_banner">
  <div class="swiper-wrapper">
    <%for(var i = 0;i< goods_image.length;i++){%>
    <a href="#" class="swiper-slide"><img src="<%=goods_image[i]%>" alt=""></a>
    <%}%>
  </div>
  <div class="swiper-pagination product_detail_banner_pagination"></div>
</div>

<div class="product_detail_con">
  <div class="product_detail_top">
    <h2 class="title">猛犸牙雕饰品招财进宝猛犸牙雕饰品招财</h2>
    <div class="product_detail_info">
      <div class="price_panel">
        <span class="price">¥ 3000</span>
        <del class="old_price">市场价：¥3000</del>
      </div>
      <div class="setting">
        <a href="#" class="collect setting_span">
          <i class="iconfont icon-guanzhu1"></i>
        </a>
        <a href="#" class="share setting_span">
          <i class="iconfont icon-fenxiang"></i>
        </a>
      </div>
    </div>
    <div class="line"></div>
    <div class="product_detail_tip">
      <div class="tip">
        <span class="icon">
          <i class="iconfont icon-zizuan"></i>
        </span>
        <span class="text">平台自营</span>
      </div>
      <div class="tip">
        <span class="icon">
          <i class="iconfont icon-zan zan"></i>
        </span>
        <span class="text">正品保证</span>
      </div>
    </div>
  </div>
  <div class="product_detail_authInfo">
    <div class="left">
      <h3 class="name">严嵩流</h3>
      <ul class="taglist">
        <li>纸本设色</li>
        <li>山水</li>
        <li>写意</li>
        <li>纸本设色</li>
        <li>山水</li>
        <li>写意</li>
      </ul>
    </div>
    <div class="right">
      <img src="http://lorempixel.com/g/100/100/" alt="">
    </div>
  </div>
  <div class="product_detail_comment">
    <a href="#" class="product_detail_comment_title">
      <h3 class="title">用户评价 | <span class="text">1511条</span></h3>
      <span class="text">查看全部评价</span>
      <i class="iconfont icon-danjiantou"></i>
    </a>
    <ul class="product_detail_comment_con">
      <li>
        <div class="con_padd">
          <div class="avgater">
            <img src="http://lorempixel.com/g/100/100/" alt="">
          </div>
          <div class="info">
            <h4 class="name">孙悟空</h4>
            <span class="date">2017.05.11 14:16:11</span>
            <span class="content">作品不错，很喜欢</span>
          </div>
          <div class="setting">
            <i class="iconfont icon-zan1"></i>
            <span class="text">11111</span>
          </div>
        </div>
      </li>
      <li>
        <div class="con_padd">
          <div class="avgater">
            <img src="http://lorempixel.com/g/100/100/" alt="">
          </div>
          <div class="middle_lm">
            <div class="con_nei_lm">
              <div class="info">
                <h4 class="name">孙悟空</h4>
                <span class="date">2017.05.11 14:16:11</span>
              </div>
              <div class="setting">
                <i class="iconfont icon-zan1"></i>
                <span class="text">11111</span>
              </div>
            </div>
            <span class="content">作品不错，很喜欢</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="pub_title mtb15">
  <div class="pub_left_title"></div>
  <div class="pub_center_title">作品详情</div>
  <div class="pub_right_title"></div>
</div>

<div class="product_detail_pannel">
  这里放详情页面的图片，暂时留空
</div>

<div class="pub_title mtb15">
  <div class="pub_left_title"></div>
  <div class="pub_center_title">其他作品</div>
  <div class="pub_right_title"></div>
</div>

<div class="pub_lm_list other_list">
  <ul>
    <li>
      <a href="tmpl/product_detail.html?goods_id=" class="pub_lm_list_img">
        <img src="http://lorempixel.com/g/100/100/" alt="">
      </a>
      <div class="pub_lm_list_bottom">
        <div class="pub_lm_list_left">
          <h3 class="lm_title">标题</h3>
          <div class="list_info">
            <span class="price">¥3000</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="tmpl/product_detail.html?goods_id=" class="pub_lm_list_img">
        <img src="http://lorempixel.com/g/100/100/" alt="">
      </a>
      <div class="pub_lm_list_bottom">
        <div class="pub_lm_list_left">
          <h3 class="lm_title">标题</h3>
          <div class="list_info">
            <span class="price">¥3000</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="tmpl/product_detail.html?goods_id=" class="pub_lm_list_img">
        <img src="http://lorempixel.com/g/100/100/" alt="">
      </a>
      <div class="pub_lm_list_bottom">
        <div class="pub_lm_list_left">
          <h3 class="lm_title">标题</h3>
          <div class="list_info">
            <span class="price">¥3000</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="tmpl/product_detail.html?goods_id=" class="pub_lm_list_img">
        <img src="http://lorempixel.com/g/100/100/" alt="">
      </a>
      <div class="pub_lm_list_bottom">
        <div class="pub_lm_list_left">
          <h3 class="lm_title">标题</h3>
          <div class="list_info">
            <span class="price">¥3000</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="pub_foo_shop">
  <div class="left">
    <a href="#" class="pub_foo_shop_news">
      <i class="iconfont icon-weixin-copy"></i>
      <span class="text">客服</span>
    </a>
    <a href="#" class="pub_foo_shop_cart">
      <i class="iconfont icon-shangcheng"></i>
      <span class="text">购物车</span>
    </a>
  </div>
  <div class="right add_cart">
    <span class="text">加入购物车</span>
  </div>
</div>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script src="../dist/script/main.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../js/tmpl/product_detail_new.js"></script>
</body>
</html>
