<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>商品搜索</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">
   <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- Mobile Devices -->
  <meta name="msapplication-TileColor" content="#800000"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="stylesheet" href="../dist/css/main.css">
  <link id="iconfont_s" rel="stylesheet" type="text/css" href="../css/lm/iconfont.css">
</head>
<body class="ptb">
  <div class="lm_search">
    <div class="lm_search_left">
      <span class="text">全部</span>
      <i class="lm_arrow"></i>
      <ul class="lm_category">
        <li data-val="0"><a href="#">全部</a></li>
        <li data-val="1"><a href="#">拍品</a></li>
        <li data-val="2"><a href="#">商品</a></li>
        <li data-val="3"><a href="#">艺术家</a></li>
      </ul>
    </div>
    <div class="lm_search_bar">
      <form id="qll_search">
        <input type="text" class="inp" id="keyword">
        <button class="btn" id="search_btn">
          <i class="iconfont icon-sousu"></i>
        </button>
      </form>
    </div>

  </div>
  <div class="lm_search_con">
    <h2 class="lm_search_history">热门搜索
      <!--<span class="del_search"><i class="iconfont icon-shanchu"></i>清除</span>-->
    </h2>
    <div class="pub_line"></div>
    <ul class="history_list" id="history_list">
    </ul>
  </div>

  <script type="text/html" id="history_list_con">
    <%for(var i=0;i< list.length;i++){%>
      <%if(list&&list.length){%>
         <li><a href="<%=$buildUrl('keyword',list[i])%>"><%=list[i]%></a></li>
      <%}%>
    <%}%>
  </script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script src="../dist/script/main.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>
  <script type="text/javascript" src="../js/tmpl/search.js"></script>

</body>
</html>
