<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>商品搜索</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
    <!--新增样式-->
    <link rel="stylesheet" href="../css/sm.min.css">
    <link rel="stylesheet" href="../css/sm-extend.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../font/font-awesome/css/font-awesome.min.css">
    <style>
		body{background: #191919;}
        .bar .icon{line-height:normal}
        select.fl{color:#fff;background: none;border:none;padding:0px 6px;font-size:14px;height:24px;line-height: 20px; appearance:none;-moz-appearance:none;-webkit-appearance:none;}
        select.fl option{color:#000;border:none;background: #fff;}
        header form.title input[type=text]{width:178px;padding:0 8px 0 0}
        @media screen and (max-width:360px){header form.title input[type=text]{width:138px !important;}}
        .nctouch-search-layout{margin-top:0}
        .nctouch-search-layout dt{color:#fff;font-size: 0.6rem;border-bottom:#fff solid 1px;padding: 0.2rem 0.5rem 0.5rem 0.1rem}
		.nctouch-search-layout dl{padding:0.1rem 0.5rem 0.5rem;}
        .nctouch-search-layout li{display:block;background:none;border:none}
        .nctouch-search-layout li a{color:#fff;border-bottom:#fff solid 1px;padding: 0.2rem 0.5rem 0.5rem 0.1rem}
        .nctouch-search-layout li a .fa{font-size:0.7rem}
		.nctouch-search-layout .hot-keyword li{width:100%}
		.nctouch-search-layout .hot-keyword img{display:inline-block;transform: translateY(6px);}
    </style>
</head>
<body class="no-footer">
<header id="page-modal" class="bar bar-nav">
    <a class="icon fl" href="javascript:history.go(-1)"><img src="../images/top-left.png" width="20" height="20" alt=""/></a>
    <a class="icon fr" id="header-nav" href="javascript:void(0);" >搜索</a>
    <form class="title" id="qll_search" action="">
        <i class="fa fa-caret-down all-block fl" aria-hidden="true" style="font-size:14px;margin:4px 0px 0 2px"></i>
        <select class="fl" name="search_type" id="search_type">
            <option value="0">全部</option>
            <option value="1">拍品</option>
            <option value="2">商品</option>
            <option value="3">艺术家</option>
        </select>
        <input class="fl" type="text" class="search-input" value="" oninput="writeClear($(this));" id="keyword" placeholder="请输入搜索关键词" maxlength="50" autocomplete="on" autofocus>
        <span class="input-del"></span>
    </form>
</header>
<!-- 全文搜索提示 begin -->
<div class="nctouch-main-layout mb-20" id="search_tip_list_container" style="display:none"></div>
<script type="text/html" id="search_tip_list_script">
    <ul class="nctouch-default-list">
        <%for(i = 0; i < list.length; i++){%>
        <li><a href="<%=$buildUrl('keyword',list[i])%>"><%=list[i]%></a></li>
        <%}%>
    </ul>
</script>
<!-- 全文搜索提示 end -->

<div id="store-wrapper">
    <div class="nctouch-search-layout">
        <dl class="hot-keyword">
            <!--<dt><img src="../images/search-time.png" width="12" height="12" alt=""/>&nbsp;&nbsp;搜索历史</dt>-->
            <dd id="hot_list_container"></dd>
        </dl>
        <!--<dl>
            <dt>历史记录</dt>
            <dd id="search_his_list_container"></dd>
        </dl>-->
    </div>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="hot_list">
    <ul>
        <%for(i = 0; i < list.length; i++){%>
        <li><a href="<%=$buildUrl('keyword',list[i])%>"><img src="../images/search-time.png" width="12" height="12" alt=""/>&nbsp;&nbsp;<%=list[i]%></a></li>
        <%}%>
    </ul>
</script>
<script type="text/html" id="search_his_list">
    <ul>
        <%for(i = 0; i < his_list.length; i++){%>
        <li><a href="<%=$buildUrl('keyword',his_list[i])%>"><%=his_list[i]%></a></li>
        <%}%>
    </ul><a href="javascript:void(0);" class="clear-history" onclick="$(this).prev().remove();delCookie('hisSearch');">清空历史</a>
</script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/tmpl/search_old.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</body>
</html>
