<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>分享列表</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_cart.css">
</head>
<body>
<header id="header" class="fixed">
	<div class="header-wrap">
		<div class="header-l"><a href="../index.html"><i class="home"></i></a>
		</div>
		<div class="header-title">
			<h1>分享列表</h1>
		</div>
		<div class="header-r">
			<a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a>
		</div>
	</div>
	<div class="nctouch-nav-layout">
		<div class="nctouch-nav-menu">
			<span class="arrow"></span>
			<ul>
				<li><a href="../app_index.html"><i class="home"></i>首页</a></li>
				<!--<li><a href="../tmpl/search.html"><i class="search"></i>搜索</a></li>-->
				<li><a href="../tmpl/member/member.html"><i class="member"></i>个人中心</a></li>
                <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
			</ul>
		</div>
	</div>
</header>
<div class="nctouch-main-layout">
  <div id="cart-list-wp"></div>
</div>
<footer id="footer" class="bottom"></footer>
<div class="pre-loading hide">
  <div class="pre-block">
    <div class="spinner"><i></i></div>数据读取中...
  </div>
</div>
<script id="cart-list" type="text/html">
	<% if(cart_list.length >0){%>
		<% for (var i = 0;i<cart_list.length;i++){%>
			<div class="nctouch-cart-container">
				<dl class="nctouch-cart-store">
					<dt><span class="store-check">
							<input class="store_checkbox" type="checkbox" checked>
						</span>
						<i class="icon-store"></i>
						<%=cart_list[i].store_name%>
					</dt>
				</dl>
				<ul class="nctouch-cart-item">
				<% if (cart_list[i].goods) { %>
					<% for (var j=0; j<cart_list[i].goods.length; j++) {var goods = cart_list[i].goods[j];%>
					<li cart_id="<%=goods.cart_id%>" class="cart-litemw-cnt" >
						<div class="goods-check">
							<input type="checkbox" checked name="cart_id" value="<%=goods.cart_id%>" />
						</div>
						<div class="goods-pic">
							<a href="<%=WapSiteUrl%>/tmpl/product_detail.html?goods_id=<%=goods.goods_id%>">
								<img src="<%=goods.goods_image_url%>"/>
							</a>
						</div>
						<dl class="goods-info">
							<dt class="goods-name"> <a href="<%=WapSiteUrl%>/tmpl/product_detail.html?goods_id=<%=goods.goods_id%>"> <%=goods.goods_name%> </a></dt>
							<dd class="goods-type"><%=goods.goods_spec%></dd>
						</dl>
						<div class="goods-subtotal"> <span class="goods-price">￥<em><%=goods.goods_price%></em></span> 
							<span class="goods-sale">
							<% if (!isEmpty(goods.groupbuy_info)) 
								{%><em>团购</em><% } 
							else if (!isEmpty(goods.xianshi_info)) 
								{ %><em>限时折扣</em><% } 
							else if (!isEmpty(goods.sole_info)) 
								{ %><em><i></i>手机专享</em><% } %>
							</span>
						</div>
						<% if (goods.gift_list && goods.gift_list.length > 0) { %>
							<div class="goods-gift">
							<% for (var k=0; k<goods.gift_list.length; k++) { var gift = goods.gift_list[k]%>
								<span><em>赠品</em><%=gift.gift_goodsname%>x<%=gift.gift_amount%></span>
							<% } %>
							</div>
						<% } %>
					</li>
					<% } %>
				<% } %>
				</ul>
					</div> 
                <%}%>
            <%}%>
					<div class="nctouch-cart-bottom no-login">
						<div class="cart-nologin-btn">
						    <div class="cart-nologin-tip">可以将分享的商品添加到购物车中，进行结算</div>
							<a href="javascript:void(0)" class="btn">添加到购物车</a>
						</div>
					</div>
            </script>
<script type="text/javascript" src="../js/zepto.min.js"></script> 
<script type="text/javascript" src="../js/config.js"></script> 
<script type="text/javascript" src="../js/template.js"></script> 
<script type="text/javascript" src="../js/common.js"></script> 
<script type="text/javascript" src="../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../js/tmpl/share_list.js"></script>
</body>
</html>