<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>店内搜索</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_store.css">
    <style>
        /*顶部*/
        #header {
            background: #fff !important;
            /*height: 2.5rem;*/
            padding: 0.3rem 0 0.3rem 0;
        }

        .header-wrap {
            /*height: 2.5rem;*/
            /*display: flex;*/
            /*display: -webkit-flex;*/
            /*justify-content: space-around;*/
            /*align-items: center;*/
        }

        .header-l {
            display: block;
            width: 1.95rem;
            padding: 0.3rem 0;
        }

        .header-l a i.back {
            width: 0.47rem;
            height: 0.86rem;
            /*margin: 10%;*/
            background-image: url(../images/whk/back.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .nctouch-store-header .header-r a.store-categroy {
            text-align: center;
        }

        .nctouch-store-header .header-r a.store-categroy i {
            width: 0.86rem;
            height: 0.86rem;
            background-image: url(../images/whk/back.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100%;
            background-color: #fabf13;
        }

        .nctouch-store-header .header-r a.store-categroy p {
            font-size: 0.45rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(117, 117, 117, 1);
        }
        .header-r {
            /*width: 1.95rem;*/
            /*height: 2.5rem;*/
            padding: 0.4rem 0 0.3rem 0;

        }

        .header-inp {
            position: relative;
            display: block;
            height: 1.4rem;
            border: none;
            margin: 0.275rem 2.5rem 0 2rem;
            background-color: #F2F2F2;
            text-align: left;
            border-radius: 15px;
        }
        .header-inp .search-input {
            float: left;
            width: 7.5rem;
            height: 1rem;
            padding: 0.2rem 0;
            font-size: 0.7rem;
            line-height: 1rem;
            color: #BBB;
            vertical-align: top;
            border: none 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #F2F2F2;
        }

        .nctouch-store-header .header-inp .icon {
            float: left;
            vertical-align: top;
            width: 1rem;
            height: 1rem;
            margin: 0.2rem 0.5rem;
            background-image: url(../images/search_ico.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 70%;
            opacity: 0.3;
        }
        .list{
            padding: 1.4rem 0.68rem 0.68rem 0.68rem;
            background-color: #fff;
        }
        .categroy-all a{
            color: #fabf13!important;
        }
    </style>
</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"><a href="javascript:history.go(-1);"> <i class="back"></i> </a> </div>
    <div class="header-inp"> <i class="icon"></i>
        <form id="qll_search_btn" action="">
      <input type="text" class="search-input" id="search_keyword" placeholder="请输入搜索关键词" maxlength="50" autocomplete="on" autofocus>
       </form>
    </div>
    <div class="header-r"><a id="search_btn" href="javascript:void(0);" class="search-btn">搜索</a></div>
  </div>
</header>
<div class="nctouch-main-layout fixed-Width">
  <div class="nctouch-main-layout">
    <div class="categroy-cnt">
      <div class="categroy-all"><a id="goods_search_all" href="javascript:void(0);" >全部商品<i class="arrow-r"></i></a></div>
      <ul class="categroy-list" id="store_category">
      </ul>
    </div>
  </div>
</div>
<div class="fix-block-r">
  <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
</body>
<script type="text/html" id="store_category_tpl">
	<% for (var i in store_goods_class) { var gc = store_goods_class[i]; %>
		<% if (gc.level == 1) { %>
		<li class="category-frist">
			<a class="level<%= gc.level %>" href="store_goods.html?store_id=<%= store_info.store_id %>&stc_id=<%= gc.id %>"><%= gc.name %><span>查看全部</sapn></a>
		</li>
		<% } else { %>
		<li class="category-seciond" >
			<a href="store_goods.html?store_id=<%= store_info.store_id %>&stc_id=<%= gc.id %>"><%= gc.name %></a>
		</li>
		<% } %>
	<% } %>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/touch.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/tmpl/store_search.js"></script>
</html>
