<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>店铺首页</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">-->
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#800000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <!--<link rel="stylesheet" href="../css/lm/lm_style.css">-->
    <link rel="stylesheet" href="../dist/css/main.css">
    <link id="iconfont_s" rel="stylesheet" type="text/css" href="../css/lm/iconfont.css">
    <style>
        .newPaimaiHide {
            display: none;
        }
    </style>

</head>
<body>
<div class="qll_artlist_top">
    <div class="qll_store_search">
        <a href="javascript:history.go(-1)" class="qll_artlist_top_left ">
            <i class="iconfont icon-jiantouzuo"></i>
        </a>
        <form class="qll_title_search" action="">
            <input type="text" class="qll_search_tip search_keyword" placeholder="搜索店内商品">
            <button class="qll_search_btn"><i class="iconfont icon-sousu"></i></button>
        </form>
        <div class="qll_artlist_top_right">
            <i class="iconfont icon-caidan"></i>
        </div>
    </div>
    <div class="qll_store_name" id="qll_store_info_html">

    </div>
    <script type="text/html" id="qll_store_info">
        <div class="store_img">
            <div class="store_logo">
                <img class="lazy" data-echo="<%=store_info.store_logo%>" src="/wap/images/whk/bitamF.png"  alt="">
            </div>
            <span><%=store_info.store_name%></span>
        </div>
        <div store_id="<%=store_info.store_id%>" class="store_collect <%=store_info.is_favorate?'active':''%>"><i
                class="iconfont icon-guanzhu1"></i><span>点击关注</span></div>
    </script>
</div>
<div class="qll_nav_tab_con">
    <ul>
        <li class="store_index active">店铺首页</li>
        <li class="works_total">全部作品</li>
        <!--<li class="works_auction newPaimaiHide">拍卖中</li>-->
    </ul>
</div>

<div class="qll_works_tab_con">
    <p class="qll_recommend_works">推荐作品</p>
    <ul id="qll_works_list_html">

    </ul>
</div>
<script type="text/html" id="qll_works_list">
    <% if(goods_list.length > 0){ %>
    <% for (var i=0; i < goods_list.length; i++) { var v = goods_list[i]; %>
    <li goods_id="<%=v.goods_id%>">
        <a href="product_detail.html?goods_id=<%= v.goods_id %>" class="qll_border">
            <img data-echo="<%=v.goods_image_url%>"  class="lazy" src="/wap/images/whk/bitamF.png" alt="">
            <%if(v.is_auctions){%>
            <span class="qll_paimai_btn">拍卖中</span>
            <%}%>
        </a>
        <div class="qll_works_info">
            <div class="qll_works_info_left">
                <a href="product_detail.html?goods_id=<%= v.goods_id %>" class="qll_works_name"><%=v.goods_name%></a>
                <%if(!v.is_auctions){ if(v.sales_model == '2'){ %>
                <b class="bargain" style="margin-top: 1rem"><%=v.goods_price%></b>
                <% } else { %>
                <b class="qll_works_price">￥<%=v.goods_price%></b>
                <%}}%>
            </div>
            <i class="iconfont icon-guanzhu1 collect <%=v.is_favorate?'active':''%>"></i>
        </div>
    </li>
    <%}%>
    <%}%>
</script>
<script type="text/html" id="qll_auction_list">
    <% if(auction_list.length > 0){ %>
    <% for (var i=0; i < auction_list.length; i++) { var v = auction_list[i]; %>
    <li goods_id="<%=v.goods_id%>">
        <a href="product_detail.html?goods_id=<%= v.goods_id %>" class="qll_border">
            <img class="lazy" data-echo="<%=v.auction_image_path%>" src="/wap/images/whk/bitamF.png" alt="">
            <span class="qll_paimai_btn">拍卖中</span>
        </a>
        <div class="qll_works_info">
            <div class="qll_works_info_left">
                <a href="product_detail.html?goods_id=<%= v.goods_id %>" class="qll_works_name"><%=v.auction_name%></a>
            </div>
            <i class="iconfont icon-guanzhu1 collect <%=v.is_favorate?'active':''%>"></i>
        </div>
    </li>
    <%}%>
    <%}%>
</script>


<div class="qll_store_footer">
    <a class="qll_introduce" href="">店铺介绍</a>
    <a class="qll_shop_car cart" href="cart_list.html"><i class="iconfont icon-shangcheng"></i><span>购物车</span><span id="cart_count"></span></a>
    <a class="qll_kefu"><i class="iconfont icon-weixin-copy"></i><span>客服</span></a>
</div>
<script src="../dist/script/main.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script src="../js/tmpl/store_new.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="../js/tmpl/wx_share.js"></script>
<script type="text/javascript" src="../js/echo.min.js"></script>
<script>
    // var str = navigator.userAgent;
    // var index = str .lastIndexOf("\/");
    // var str2  = str .substring(index + 1, str.length);
    // $.ajax({
    //     url: appUrl1 + "/api/version",
    //     type: 'get',
    //     dataType: 'json',
    //     success: function (result) {
    //         console.log(result.data.ios.new)
    //         if (result.status_code == 200) {
    //             if (result.data.ios.new == str2 && result.data.ios.auction == '0') {
    //                 $('.works_auction').addClass('newPaimaiHide')
    //             }
    //         }
    //     }
    // });
    $(function () {
        Echo.init({
            offset: 0,
            throttle: 0
        });
    })
</script>
</body>
</html>



