<head>
    <!--<link rel="stylesheet" href="../css/nctouch_products_list.css">-->
    <!--<link rel="stylesheet" href="../css/nctouch_common.css">-->
</head>
<script>
    window.load = loadCss(WapSiteUrl + "/css/nctouch_products_list.css");
    window.load = loadCss(WapSiteUrl + "/css/nctouch_common.css");

</script>
<style>
    .bargain {
        display: inline-block;
        width: 80px;
        background: #fcfbf7;
        text-align: center;
        padding: 5px;
        border-radius: 80px;
        border: 1px solid #ecebe7;
        height: 16px;
        line-height: 16px;
        margin-top: -0.2rem;
    }

    .enjoyPreference {
        padding: 0rem 15px 0 15px;
        background-color: #fff;
        margin-bottom: 0.45rem;
    }

    .enjoyPreferenceTitle {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
    }

    .enjoyPreferenceTitle span {
        margin-left: 0.27rem;
        font-size: 0.68rem;
        font-weight: bold;
        color: rgba(58, 58, 58, 1);
    }

    .enjoyPreferenceMore {

        display: flex;
        display: -webkit-flex;
        align-items: center;
    }

    .enjoyPreferenceMore span {
        font-size: 0.82rem;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        margin: 0.65rem 0 0rem 0;
    }

    .enjoyPreferenceMore img {
        width: 0.35rem;
        height: 0.64rem;
    }

    .enjoyPBottom {
        padding: 0.26rem 0 0.6rem 0rem;

    }

    .enjoyPBottomOne {

        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .enjoyPOneContent {
        width: 33.33%;
        text-align: center;
        margin-top: 0.6rem;
    }

    .enjoyPOneContent .enjoyPOneImg {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
    }

    .enjoyPOneContent .enjoyPOneImg img {
        width: 4.77rem;
        height: 4.77rem;
        display: block;
        /*background-color: #0EB800;*/
        text-align: center;
        border-radius: 5px;
    }

    .enjoyPOneContent p {
        /*margin-left: 0.5rem;*/
    }

    .enjoyPOneContentTitle {
        font-size: 0.64rem;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        margin: 0.45rem auto 0.32rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 4rem;
        /*margin-left: 0.6rem;*/
    }

    .enjoyPOneContentName {
        font-size: 0.55rem;
        font-weight: 400;
        color: rgba(117, 117, 117, 1);
        margin: 0 0 0.32rem 0;
    }

    .enjoyPOneContentNowPrice {
        font-size: 0.55rem;
        font-weight: 400;
        color: rgba(117, 117, 117, 1);
        margin: 0 0 0.32rem 0;
    }

    .goods-secrch-list {
        /*padding: 1.4rem 0rem 0rem 0rem;*/
        margin: 5.0rem 0 0 0.68rem;
    }

    .goods-secrch-list :first-child {
    }

    .whkenjoyPreferenceT {
        display: none;
    }

</style>

<!--  -->
<div class="enjoyPreference">
    <script type="text/html" id="enjoyPreferenceContent">
        <%if(list&&list.length){%>
        <div class="enjoyPreferenceTitle">
            <div class="enjoyPreferenceMore">
                <span>艺术家</span>
                <!--<img src="../images/arrow_right_b.png" alt="">-->
            </div>
        </div>
        <div class="enjoyPBottom">
            <div class="enjoyPBottomOne">
                <%for(var i=0;i< list.length;i++){%>
                <div class="enjoyPOneContent">
                    <a href="enjoy_artist_detail.html?brand_id=<%=list[i].brand_id%>&store_id=<%=store_id%>">

                        <div class="enjoyPOneImg">
                            <img src="<%=list[i].brand_pic%>" alt="<%=list[i].brand_name%>" onerror="whenError(this)">
                        </div>
                        <p class="enjoyPOneContentTitle"><%=list[i].brand_name%></p>
                        <p class="enjoyPOneContentNowPrice"><%=list[i].goods_count%>件作品 </p>
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <%}%>
    </script>
</div>

<div class="goods-search-list-nav ">

    <ul id="nav_ul">
        <li class="navUlActive"><a href="javascript:void(0);" class="cur whkUPZO"
                                   onclick="get_list({'order_val':'0','order_key':'0'})">综合排序<i></i></a></li>
        <!--<li><a href="javascript:void(0);" id="sort_salesnum">销量优先</a></li>-->
        <li><span><a href="javascript:void(0);" class="whkUPZT" onclick="get_list({'order_val':'2','order_key':'2'})">价格从高到低<i
                style="display: none"></i></a></span>
        </li>
        <li><span><a href="javascript:void(0);" class="whkUPZTh" onclick="get_list({'order_val':'1','order_key':'2'})">价格从低到高<i
                style="display: none"></i></a></span>
        </li>
        <!--<li><a href="javascript:void(0);" id="search_adv">筛选<i></i></a></li>-->

    </ul>

    <!--<div class="browse-mode"><a href="javascript:void(0);" id="show_style"><span class="browse-list"></span></a></div>-->
</div>
<div id="sort_inner" class="goods-sort-inner hide">
    <span><a href="javascript:void(0);" class="cur"
             onclick="get_list({'order_val':'0','order_key':'0'})">综合排序<i></i></a></span>


    <span><a href="javascript:void(0);" onclick="get_list({'order_val':'2','order_key':'5'})">人气排序<i></i></a></span>
</div>
<div class="list" nc_type="product_content">
    <div class="whkenjoyPreferenceT">
        <div class="enjoyPreferenceTitle">
            <div class="enjoyPreferenceMore" style="margin: 0 0 15px 15px;">
                <span>作品</span>
                <!--<img src="../images/arrow_right_b.png" alt="">-->
            </div>
        </div>
    </div>

    <ul class="goods-secrch-list" id="product_list">

        <script type="text/html" id="goods_list_tpl">

            <% if(goods_list&&goods_list.length >0){%>

            <% for (var k in goods_list) { var v = goods_list[k];%>
            <li class="goods-item" goods_id="<%=v.goods_id;%>">
				<span class="goods-pic">
					<a href="product_detail.html?goods_id=<%=v.goods_id;%>">
						<img src="<%=v.goods_image_url;%>" onerror="whenError(this)"/>
					</a>
				</span>
                <dl class="goods-info">
                    <div class="whkBetween">
                        <dt class="goods-name">
                            <a href="product_detail.html?goods_id=<%=v.goods_id;%>">
                                <h4 style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                    <%=v.goods_name;%></h4><h6><%=v.goods_jingle;%></h6>
                            </a>
                        </dt>
                        <dt class="goods-AristName">
                            <a href="product_detail.html?goods_id=<%=v.goods_id;%>">
                                <h4 style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                    <%=v.brand_name;%></h4><h6><%=v.goods_jingle;%></h6>
                            </a>
                        </dt>
                    </div>
                    <dd class="goods-sale">
                        <a href="product_detail.html?goods_id=<%=v.goods_id;%>">
							<span class="goods-price">
								<% if (v.sales_model == '2') { %>
                                <span class="bargain"><%= v.goods_price; %></span>
								<% } else { %>
									￥<em class="whkPariceNum"><%=v.goods_price;%></em>
                                    <em class="whk_bargain_em">￥<%=v.goods_marketprice;%></em>
								<%} if (v.sole_flag) {%>
									<span class="phone-sale"><i></i>手机专享</span>
								<% } %>
							</span>
                            <% if (v.is_virtual == '1') { %>
                            <span class="sale-type">虚</span>
                            <% } else { %>
                            <% if (v.is_presell == '1') { %>
                            <span class="sale-type">预</span>
                            <% } %>
                            <% if (v.is_fcode == '1') { %>
                            <span class="sale-type">F</span>
                            <% } %>
                            <% } %>

                            <% if(v.group_flag || v.xianshi_flag){ %>
                            <span class="sale-type">降</span>
                            <% } %>
                        </a>
                    </dd>
                    <!--<dd class="goods-assist">-->
                    <!--<a href="product_detail.html?goods_id=<%=v.goods_id;%>">-->
                    <!--<span class="goods-sold">销量&nbsp;<em><%=v.goods_salenum;%></em></span>-->
                    <!--</a>-->
                    <!--<div class="goods-store">-->
                    <!--<a href="javascript:void(0);" nc_type="goods_more_link" param_id="<%=v.goods_id;%>"><i></i></a>-->
                    <!--<div class="sotre-favorites-layout" id="goods_more_<%=v.goods_id;%>">-->
                    <!--<div nc_type="goods_more_con" param_id="<%=v.goods_id;%>" class="sotre-favorites-bg"></div>-->
                    <!--<div nc_type="goods_addfav" param_id="<%=v.goods_id;%>" class="add"><i></i><h5>加收藏</h5></div>-->
                    <!--<div nc_type="goods_cancelfav" param_id="<%=v.goods_id;%>" class="add added"><i></i><h5>已收藏</h5></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</dd>-->
                </dl>
            </li>
            <%}%>
            <li class="loading">
                <div class="spinner"><i></i></div>
                商品数据读取中...
            </li>
            <% }else { %>
            <div class="nctouch-norecord search">
                <div class="norecord-ico"><i></i></div>
                <dl>
                    <dt>没有找到任何相关信息</dt>
                    <dd>搜索其它商品名称或筛选项...</dd>
                </dl>
                <!--<a href="javascript:void(0);" onclick="get_list({'order_val':'<%=order%>','order_key':'<%=key%>'},true)"-->
                   <!--class="btn">查看全部商品</a>-->
                <a href="javascript:void(0);" id="checkoutMore" class="btn">查看全部商品</a>
            </div>
            <% } %>
        </script>
    </ul>
</div>

<!--筛选部分-->
<div class="nctouch-full-mask hide">
    <div class="nctouch-full-mask-bg"></div>
    <div class="nctouch-full-mask-block">
        <div class="header">
            <div class="header-wrap">
                <div class="header-l"><a href="javascript:void(0);"><i class="back"></i></a></div>
                <div class="header-title">
                    <h1>商品筛选</h1>
                </div>
                <div class="header-r"><a href="javascript:void(0);" id="reset" class="text">重置</a></div>
            </div>
        </div>
        <div class="nctouch-main-layout secreen-layout" id="list-items-scroll">
            <dl>
                <dt>价格区间</dt>
                <dd>
                    <span class="inp-balck"><input type="text" id="price_from" nctype="price" pattern="[0-9]*"
                                                   class="inp" placeholder="最低价"/></span><span class="line"></span><span
                        class="inp-balck"><input nctype="price" type="text" id="price_to" pattern="[0-9]*" class="inp"
                                                 placeholder="最高价"/></span>
                </dd>
            </dl>
            <div class="bottom"><a href="javascript:void(0);" class="btn-l" id="search_submit">筛选商品</a></div>
        </div>
    </div>
</div>


<script>
    window.load = loadJs(WapSiteUrl + "/js/tmpl/store_goods_list.js");

    function whenError(a) {
        a.onerror = null;
        a.src = '../images/whk/bitamF.png';
        console.log('图片出错的时候调用默认的图片');
    }

    if ((window.location.search).search("keyword") != -1) {
        // console.log(((window.location.search).search("keyword") != -1) + '12121')
        // var keyWord = "yesKW";
        $('.goods-search-list-nav').addClass("hide");
        $('.nctouch-main-layout').css('margin-top', '2.6rem!important')
        $('.goods-secrch-list').css('margin-top', '0.5rem!important')
        // $('.whkenjoyPreferenceT').css('display','block!important');

    } else {
        $('.whkenjoyPreferenceT').css('display', 'none');
        $('.enjoyPreference').addClass("hide");


    }

    $('.whkUPZO').click(function () {
        (function smoothscroll() {
            var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            if (currentScroll > 0) {
                window.requestAnimationFrame(smoothscroll);
                window.scrollTo(0, currentScroll - (currentScroll / 5));
            }
        })();
    })
    $('.whkUPZT').click(function () {
        (function smoothscroll() {
            var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            if (currentScroll > 0) {
                window.requestAnimationFrame(smoothscroll);
                window.scrollTo(0, currentScroll - (currentScroll / 5));
            }
        })();
    })

    $('.whkUPZTh').click(function () {
        (function smoothscroll() {
            var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            if (currentScroll > 0) {
                window.requestAnimationFrame(smoothscroll);
                window.scrollTo(0, currentScroll - (currentScroll / 5));
            }
        })();
    })


</script>