@charset "utf-8";
/* ================================ */
/* 商城团购页面独立样式定义 				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopnc.net	*/
/* Create Date:		Aug-10-2012		*/
/* Retrofit Date:	Aug-10-2012		*/
/* ================================ */
body { background-color: #FEFEFE;}
/* 公用导航区域
-------------------------------------- */
.public-nav-layout { border-bottom-width: 0;}
.nc-appbar-tabs a.compare { display: none !important;}/*团购页面去除侧边栏对比*/


/*团购顶部名称以及地区选择列表*/
.ncg-header { width: 1000px; height: 0; margin: 0 auto; position: relative; z-index: 999;}
.ncg-header .title { background-color: #FFF; position: absolute; z-index: 1; top: -156px; left: 230px;}
.ncg-header .title h1 { font: normal 20px/28px "microsoft yahei"; color: #333; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; height: 28px; *zoom: 1;}


/*团购顶部内容*/
.ncg-topbar { background-color: #A01111; height: 40px; }
.ncg-topbar-wrapper { color: #FFF; width: 1200px; margin: 0 auto; position: relative; z-index: 2;}
.ncg-topbar-wrapper .title { font-family: Arial, "microsoft yahei"; font-size: 0; line-height: 36px; color: #FFCFBF; *word-spacing:-1px/*IE6、7*/; height: 36px; float: left; padding: 4px 0 0 5px; }
.ncg-topbar-wrapper .title h2,
.ncg-topbar-wrapper .title .city { font-size: 22px; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncg-topbar-wrapper .title .city { font-size: 14px; margin-left: 8px; *zoom: 1; cursor: pointer;}
.ncg-topbar-wrapper .title .city a h3 { color: #FFCFBF; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncg-topbar-wrapper .title .city a:hover { text-decoration: none;}
.ncg-topbar-wrapper .title .city a:hover h3 { color: #FFF;}
.ncg-topbar-wrapper .title .city a i.arrow { font-size: 0; line-height: 0; vertical-align: middle; display: inline-block; *display: inline/*IE7*/ width: 0; height: 0; margin: 0 2px; border-style: solid dashed dashed; border-width: 5px; border-color: #FFCFBF transparent transparent; *zoom: 1;}
.ncg-topbar-wrapper .list { background-color: #FFF; width: 300px; border: 2px solid #D93600; position: absolute; z-index: 2; top: 42px; left: 0;}
.ncg-topbar-wrapper .list a.close { font: bold 12px/14px Verdana; color: #D93600; text-align: center; float: right; width: 14px; height: 14px; margin: 2px 2px 0 0;}
.ncg-topbar-wrapper .list a.close:hover { text-decoration: none;}
.ncg-topbar-wrapper .list ul { width: 280px; float: left;}
.ncg-topbar-wrapper .list ul li { font: 14px/20px "microsoft yahei"; text-align: center; width: 60px; display: inline-block; *display: inline/*IE7*/; padding: 6px 3px; *zoom: 1;}
.ncg-topbar-wrapper .nav-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; height: 24px; float: left; margin: 10px 0 6px 15px; overflow: hidden;}
.ncg-topbar-wrapper .nav-menu li { font-size: 14px; line-height: 20px; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; padding-left: 14px; margin-right: 15px; border-left: dotted 1px #D93600; *zoom: 1;}
.ncg-topbar-wrapper .nav-menu li a { font-weight: 600; color: #FFCFBF; display: block; padding: 2px 8px; border-radius: 14px;}
.ncg-topbar-wrapper .nav-menu li a.current,
.ncg-topbar-wrapper .nav-menu li a:hover { color: #B22D00; text-decoration: none; background-color: #FFCFBF;}

.ncg-container { width: 1200px; margin: 0 auto 10px auto; }
.ncg-banner { width: 100%;}
.ncg-category { width: 198px; float: left; border: solid 1px #D93600; margin-left: 10px;}
.ncg-category h3 { font: 14px/20px "microsoft yahei"; background-color: #F0F0F0; color: #333; padding: 9px;}
.ncg-category ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FEFEFE;}
.ncg-category li { font-size: 12px; line-height: 20px; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 97px;  border: solid #F5F5F5; border-width: 1px 0 0 1px; *zoom: 1;}
.ncg-category li a { display: block; padding: 5px 0 5px 12px; color: #666; }
.ncg-category li a:hover { background-color:#D93600; display: block; color: #FFF; }
.sticky .ncg-category { position: fixed; top: 0; z-index: 999;}

/*团购进行状态导航*/
.ncg-nav { border-bottom: solid 2px #D93600;}
.ncg-nav ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncg-nav ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; padding: 0; margin-left: 10px; overflow: hidden; box-shadow: 1px 0 1px rgba(0,0,0,0.05); *zoom: 1;}
.ncg-nav ul li a { font: normal 14px/20px "microsoft yahei"; color: #777; background-color: #FFF; display: block; height: 20px; padding: 5px 12px; border: solid #D7D7D7; border-width: 1px 1px 0 1px;}
.ncg-nav ul li a:hover { color: #D93600;}
.ncg-nav ul li.current a,
.ncg-nav ul li.current a:hover { font-weight: 600; text-decoration: none; color: #FFF; background-color: #D93600; border-color: #D93600; cursor: default;}
/*团购索引*/
.ncg-screen { background-color: #FFF; padding: 9px; margin: 10px 0; border: solid 1px #E6E6E6; overflow: hidden;}
.ncg-screen dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display:block; clear: both; padding: 6px; border-bottom: dotted 1px #E6E6E6;}
.ncg-screen dl:last-child { border-bottom: 0;}
.ncg-screen dl dt { font: bold 12px/22px Arial, "宋体"; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 60px; *zoom: 1;}
.ncg-screen dl dd { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin: 0 8px; *zoom: 1;}
.ncg-screen dl dd a { font: normal 12px/20px Arial, "宋体"; color: #666; display: block; height: 20px; padding: 1px 6px;}
.ncg-screen dl dd a:hover, .ncg-screen dl dd.selected a { color: #FFF; text-decoration: none; background-color: #D93600;}
.ncg-screen ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FAFAFA; display:block; clear: both; padding: 6px; margin: 5px 0 0 60px; border: solid 1px #F0F0F0;}
.ncg-screen li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin: 0 8px; *zoom: 1;}
.ncg-screen li a { color: #999;}
.ncg-screen li.selected a { text-decoration: none; color: #D93600; font-weight: 600;}
.ncg-screen li a:hover { text-decoration: none; color: #D93600;}

.ncg-screen .dc { text-align: right; background: url(../images/group_bg.png) no-repeat right -50px; width: 210px; height:50px; float: right; clear: left; padding: 5px 60px 5px 10px;}
.ncg-screen .dc h5 { font-size: 12px; font-weight: normal; line-height: 24px; color: #555;}
.ncg-screen .dc p { font-size: 16px; padding: 5px;}
.ncg-screen .dc p span { font-family: Verdana, Geneva, sans-serif; color: #F60; font-weight: 600; padding-right: 2px; padding-left: 2px;}
.ncg-sortord dd.selected a.asc i { background: url(../images/group_bg.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 8px; height: 8px; margin-left: 4px;}
.ncg-sortord dd.selected a.desc i { background: url(../images/group_bg.png) no-repeat -8px 0; vertical-align: middle; display: inline-block; width: 8px; height: 8px; margin-left: 4px;}

	
.ncg-content { width: 973px; float: right;}
.group-list { width: 100%; overflow: hidden; }
.group-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 972px; margin: 1px; }
.group-list li { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE7*/; width: 324px; border: solid 1px #E7E7E7; margin: -1px; *zoom:1;}
.group-list li .ncg-list-content { width: 280px; height: 296px; padding: 21px 21px 21px 22px; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #E6E6E6 #E6E6E6 transparent; position: relative;}
.group-list li .ncg-list-content { transition: border-color 0.4s ease-in-out 0s;}
.group-list li .ncg-list-content:hover { padding: 20px 21px; border: solid 1px #F30; box-shadow: 0 0 3px rgba(204,204,204,0.9);}
.group-list li.history .ncg-list-content:hover { border-color: #555;}
.group-list li.soon .ncg-list-content:hover { border-color: #396;}
.ncg-list-content .pic-thumb { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 290px; height: 193px; overflow: hidden;}
.ncg-list-content .pic-thumb img { max-width: 280px; max-height: 193px; margin-top:expression(193-this.height/2); *margin-top:expression(96-this.height/2)/*IE6,7*/;}
.ncg-list-content .title { display: block; width: 100%; height: 38px; margin: 10px auto 0 auto; overflow: hidden; }
.ncg-list-content .title a { font: normal 15px/19px "microsoft yahei"; color: #555; text-align: left;}
.ncg-list-content .title a:hover { text-decoration: none; color: #000;}
.ncg-list-content .title a span { font: lighter 11px/14px "microsoft yahei"; color: #FFF; background-color: #BA7538; vertical-align: middle; display: inline-block; height: 14px; padding: 1px 3px 0 3px; margin-right: 6px; border-radius: 3px; -webkit-text-size-adjust:none;}
.ncg-list-content .item-prices { margin-top: 15px; position: relative; z-index: 1; overflow: hidden;}
.ncg-list-content .item-prices .price { font: 700 32px/36px "microsoft yahei", Arial; color: #F04C44; text-overflow: ellipsis; white-space: nowrap; max-width: 125px; height: 36px; float: left; overflow: hidden;}
.ncg-list-content .item-prices .price i { font-weight: lighter; font-size: 20px; line-height: 24px; vertical-align: bottom; *vertical-align: auto; display:inline-block; *display: inline/*IE7*/; margin-right: 2px; zoom: 1;}
.ncg-list-content .item-prices .price em { font-weight: 600; font-size: 20px; line-height: 24px; vertical-align: bottom; *vertical-align: auto; display:inline-block; *display: inline/*IE7*/;margin-left: 2px; zoom: 1;}
.ncg-list-content .item-prices .dock { width: 70px; height: 40px; float: left; margin-left: 8px; position: relative;}
.ncg-list-content .item-prices .limit-num { font: 600 12px/20px "microsoft yahei"; color: #C30; background:url(../images/group_bg.png) no-repeat 0 -10px; width: 50px; height: 20px; padding: 2px 0 1px 12px; position: absolute; top: 0; left: 0;}
.ncg-list-content .item-prices .orig-price { line-height: 16px; display: block; position: absolute; bottom: 0; left: 8px;}
.ncg-list-content .item-prices .sold-num { font: normal 14px/36px "microsoft yahei", Arial; color: #999; float: right;}
.ncg-list-content .item-prices .sold-num em { font-size: 16px; font-weight: 700; color: #396; margin: 0 2px;}
.ncg-list-content:hover .sold-num { display: none;}
.ncg-list-content .item-prices .buy-button { font: normal 16px/20px "microsoft yahei"; color: #FFF; background-color: #FF0000; text-align: center; display: block; width: 80px; height: 20px; padding: 5px 0; position: absolute; right: 0; bottom: 5px; opacity: 0; filter: alpha(opacity=0)/*IE*/;
 transition: opacity 0.4s ease-in-out 0s;}
.history .ncg-list-content .item-prices .buy-button { background-color: #555;}
.soon .ncg-list-content .item-prices .buy-button { background-color: #396;}
.ncg-list-content:hover .buy-button { opacity: 1; filter: alpha(opacity=100)/*IE*/;
}
.ncg-list-content:hover .buy-button:hover { text-decoration: none;}

.ncg-recommend-title { padding: 5px; margin-bottom: 15px; border-bottom: solid 2px #D93600;}
.ncg-recommend-title h3 { font: 600 16px/20px "microsoft yahei", Arial; color: #D93600; display: inline-block; *display: inline/*IE7*/; *zoom:1/*IE7*/;}
.ncg-recommend-title .more { text-decoration: none; color: #999; float: right;}
.norecommend { text-align: center; margin: 100px auto;}

/*团购详情页面左侧内容*/
.ncg-layout-l { width: 980px; float: left; overflow: hidden;}
.ncg-main { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#0C000000', endColorstr='#0C000000');background:rgba(0,0,0,0.05); padding: 5px; margin-bottom: 20px;}
.ncg-group { background-color: #FFF; padding: 20px; border: solid 1px #D7D7D7;}
.ncg-group h2 { font: 20px/24px "microsoft yahei"; color: #333; height: 24px; margin-bottom: 6px; overflow: hidden;}
.ncg-group h2 span { font: 12px/16px "microsoft yahei"; color: #FFF; background-color: #BA7538; vertical-align: middle; display: inline-block; height: 16px; padding: 2px 6px; margin-right: 6px; border-radius: 3px; }
.ncg-group h3 { font: normal 16px/24px "microsoft yahei"; color: #999; height: 24px; margin-bottom: 6px; overflow: hidden;}
/*团购信息*/
.ncg-item { position: relative; z-index: 1; zoom: 1;}
.ncg-item .pic { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 440px; height: 293px; float: right; border: solid 2px #D93600; overflow: hidden;}
.ncg-item .pic img { max-width: 440px; max-height: 293px; margin-top:expression(193-this.height/2); *margin-top:expression(96-this.height/2)/*IE6,7*/;}
.ncg-item .button { background-color: #D93600; display:block; width: 505px; height: 80px; position: absolute; top: 0; left: -21px; z-index: 9;}
.ncg-item .button span { font: normal 24px/40px "microsoft yahei", Arial; color: #FFF; max-width: 300px; float: left; margin: 20px 0 0 18px; overflow: hidden;}
.ncg-item .button span em { font: 700 30px/40px "microsoft yahei", Arial; margin-left:4px;}
.ncg-item .button a { font: 600 20px/28px "microsoft yahei"; text-shadow: 0 1px 0 rgba(255,255,255,0.5); color: #630; background-color: #FC0; text-align: center; width: 100px; height: 28px; float: right; padding: 6px 0; margin: 20px 20px 0 0; border-radius: 5px; overflow: hidden; box-shadow: 2px 2px 0 rgba(0,0,0,0.25); cursor: pointer;}
.ncg-item .button a:hover { text-decoration: none; color: #000; margin: 21px 19px 0 0; box-shadow: none;}
.ncg-item .info { background-color: #FFF; width: 504px; overflow: hidden; position: absolute; z-index:1; top: 90px; left: -20px;}
.ncg-item .info .prices { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 504px; margin: 10px auto 10px -1px;}
.ncg-item .info .prices dl { font: normal 12px/20px arial; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 165px; border-left: dotted 1px #D7D7D7; zoom: 1;}
.ncg-item .info .prices dl dt { color: #555; height: 20px; margin-bottom: 5px;}
.ncg-item .info .prices dl dd { font-size: 14px; }
.ncg-item .info .prices dl dd del { text-decoration: line-through; color: #999;}
.ncg-item .info .prices dl dd em { font-weight: 600; color: #D93600;}
.ncg-item .info .trim { background: url(../images/group_bg.png) repeat-x 0 -40px; width: 100%; height: 20px;}
.ncg-item .info .require { background-color: #F9F9F9; text-align: center; display: block; padding: 9px 0 0 0;}
.ncg-item .info .require h4 { font-size: 14px; font-weight: 600;}
.ncg-item .info .require h4 em { font: 600 18px/20px Tahoma; color: #D93600; margin: 0 4px;}
.ncg-item .info .require p { color: #999; height: 20px; padding: 5px 0;}
.ncg-item .info .require p em { font: normal 12px/20px Tahoma; color: #D93600; margin: 0 2px;}
.ncg-item .info .time { font: normal 14px/20px "microsoft yahei"; background-color: #F9F9F9; text-align: center; display: block; height: 20px; padding: 20px 0; border-bottom: solid 2px #CCC;}
.ncg-item .info .time i { font-size: 16px; margin-right: 4px;}
.ncg-item .info .time span { font-size: 16px; margin: 0 2px;}
/*浮动条*/
.sticky .floating-bar { display: block; width: 980px; height: 50px; margin-left: -600px; position: fixed; _position: relative; top: 0; left: 50%; z-index:999; box-shadow: 0 2px 2px rgba(0,0,0,0.2);}
.floating-bar { background-color: #FFF; display: none; overflow: hidden;}
.floating-bar .button { background-color: #D93600; display: inline-block; *display: inline/*IE7*/; width: 400px; height: 50px; *zoom:1;}
.floating-bar .button span { font: normal 24px/30px "microsoft yahei", Arial; color: #FFF; max-width: 300px; float: left; margin: 10px 0 0 20px; overflow: hidden;}
.floating-bar .button span em { font: 700 32px/30px "microsoft yahei", Arial; margin-left: 4px;}
.floating-bar .button a { font: 600 20px/24px "microsoft yahei"; text-shadow: 0 1px 0 rgba(255,255,255,0.5); color: #630; background-color: #FC0; text-align: center; width: 100px; height: 24px; float: right; padding: 4px 0; margin: 8px 20px 0 0; border-radius: 5px; overflow: hidden; box-shadow: 2px 2px 0 rgba(0,0,0,0.25); cursor: pointer;}
.floating-bar .button a:hover { text-decoration: none; color: #000; box-shadow: none;}
.floating-bar .prices { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin: 8px 0 0 0; overflow: hidden; zoom: 1;}
.floating-bar .prices dl { font: normal 12px/18px arial; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 140px; margin-left: -1px; border-left: dotted 1px #D7D7D7; zoom: 1;}
.floating-bar .prices dl dt { color: #555; height: 18px;}
.floating-bar .prices dl dd del { text-decoration: line-through; color: #999;}
.floating-bar .prices dl dd a { color: #005EA6;}
/*结束未开始等状态*/
.close .ncg-item .pic,
.not-start .ncg-item .pic, 
.not-verify .ncg-item .pic { border-color: #777;}
.close .button, 
.not-start .button, 
.not-verify .button { background-color: #777;}
.close .button a, 
.not-start .button a, 
.not-verify .button a { color: #333; background-color: #CCC;}
.close .info .require p, 
.not-start .info .require p, 
.not-verify .info .require p { visibility: hidden;}
/*团购介绍详情*/
.ncg-title-bar { margin-top: 7px;}
.ncg-title-bar ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FCFCFC; border: solid 1px #D7D7D7;}
.ncg-title-bar ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; }
.ncg-title-bar ul li { *display: inline/*IE6,7*/;}
.ncg-title-bar ul li a { font: normal 14px/20px "microsoft yahei"; text-decoration:none; color:#777; background-color: #F5F5F5; display: block; padding: 6px 15px 5px 15px; border-style: solid; border-color: #D7D7D7; border-width: 0 1px 0 0;}
.ncg-title-bar ul li.tabs-selected { margin: -7px 0 -1px -1px;}
.ncg-title-bar ul li.tabs-selected a { color: #D93600; background-color: #FFF; padding: 11px 15px 6px 15px; border-style: solid; border-color: #D93600 #DDD transparent #DDD; border-width: 2px 1px 0 1px ;}
/*商品信息*/
.ncg-detail-content { font-size: 12px; line-height: 20px; color: #555; padding: 0; border: solid #D7D7D7; border-width: 0 1px 1px; overflow: hidden;}
.ncg-detail-content.hide { display: none; visibility: hidden;}
.ncg-intro { padding: 15px; min-height: 100px;}
.ncg-intro img { max-width: 740px;}

/*虚拟商品实体店地址地图*/
.ncs-store-map-content { margin: 20px; overflow: hidden;}
.ncs-store-map-baidu { float: left;}
.ncs-store-map-info { width: 280px; height: 400px; float: right; padding: 0 0 0 20px; border-left: solid 1px #E6E6E6;}
.ncs-store-map-info .store-district { font-size: 16px; margin-bottom: 20px;}
.ncs-store-map-info .address-box { width: 100%; height: 360px; position: relative; z-index: 1; overflow: hidden;}
.ncs-store-map-info .address-list {}
.ncs-store-map-info .address-list dl { border: solid 1px #E6E6E6; padding-bottom: 5px; margin-bottom: 10px; }
.ncs-store-map-info .address-list dt { font-size: 12px; line-height: 20px; font-weight: 600; background-color: #FAFAFA; padding: 2px 10px; border-bottom: solid 1px #E6E6E6;}
.ncs-store-map-info .address-list dd { font-size: 12px; line-height: 20px; margin: 5px 10px 0 10px}

/*线下团使用说明*/
.ncg-instructions { font-size: 14px; background-color: #FEFEED; display: block; clear: both; padding: 9px; margin: 20px; border: solid 1px #E5E5E5; }
.ncg-instructions h4 { font-weight: 600; color: #FFF; background-color: #D93600; display: inline-block; *display: inline; padding: 4px 12px; *zoom: 1;}
.ncg-instructions ul { color: #777; margin-top: 10px;}
.ncg-instructions li { line-height: 24px;}
.ncg-instructions li time { color: #F60; margin: 0 4px;}
.ncg-instructions li strong { color: #333; margin: 0 4px;}


/*购买记录*/
.ncg-buyer thead th { font-weight: 600; text-align: center; height: 20px; padding: 6px;}
.ncg-buyer td { line-height: 28px; color: #555; text-align: center;}
/*评价详情*/
.ncg-evaluate { padding: 9px;}
.ncg-evaluate .rate { line-height: 20px; color: #D93600; vertical-align: middle; display: inline-block; *display: inline; *zoom:1; margin: 10px 40px 10px 20px;}
.ncg-evaluate .rate strong { font: lighter 40px/40px arial; vertical-align: bottom;}
.ncg-evaluate .rate sub { font: 16px/20px arial; vertical-align: bottom; margin-right: 6px;}
.ncg-evaluate .rate span { color: #999; display: block; clear: both;}
.ncg-evaluate .percent { vertical-align: middle; display: inline-block; *display: inline; *zoom:1;}
.ncg-evaluate .percent dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncg-evaluate .percent dt { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 80px; height: 20px;}
.ncg-evaluate .percent dt { *display: inline/*IE6,7*/;}
.ncg-evaluate .percent dt em { color: #999; margin-left: 4px;}
.ncg-evaluate .percent dd { background-color: #F5F5F5; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 100px; height: 14px; margin: 3px 0;}
.ncg-evaluate .percent dd { *display: inline/*IE6,7*/;}
.ncg-evaluate .percent dd i { background-color: #D93600; display: block; height: 14px;}
.ncg-evaluate .btns { vertical-align: middle; display: inline-block; *display: inline; *zoom:1; height: 60px; padding-left: 30px; margin-left: 400px; border-left: dotted 1px #E6E6E6;}
/*评价详情-列表*/
.ncg-evaluate-main { padding: 20px 0 0 0; margin-top: 10px; border-top: solid 1px #E6E6E6;}
.ncg-evaluate-floor { margin: 0 40px 0 60px; border-left: solid 3px #F5F5F5; position: relative; z-index: 1;}
.ncg-evaluate-floor .user-avatar { background-color: #F2F2F2; width: 40px; height: 40px; border-radius: 20px; position: absolute; z-index: 1; top: 0; left: -20px; }
.ncg-evaluate-floor .user-avatar a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height:40px; border-radius: 20px; overflow: hidden;}
.ncg-evaluate-floor .user-avatar a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2); border-radius: 20px;}
.ncg-evaluate-floor .detail { margin: 10px 0 0 30px;}
.ncg-evaluate-floor .detail dt { display: block; margin-bottom: 10px; overflow: hidden;}
.ncg-evaluate-floor .detail dt .user-name { font: bold 12px/20px "Microsoft Yahei"; color: #AAA; float: left;}
.ncg-evaluate-floor .detail dt time { color: #CCC; float: right;}
.ncg-evaluate-floor .detail dd { color: #999; margin-bottom: 10px;}
.ncg-evaluate-floor .detail dd span { color: #555;}
.ncg-evaluate-floor .detail dd.explain { color: #D93600; background-color: #FFC; border: dotted 1px #FEF4B1;}
.ncg-evaluate-floor .detail .photos-thumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.ncg-evaluate-floor .detail .photos-thumb li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; text-align: center; width: 44px; margin-right: 6px; *zoom: 1;}
.ncg-evaluate-floor .detail .photos-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; padding: 1px; border: solid 1px #E6E6E6; overflow: hidden;}
.ncg-evaluate-floor .detail .photos-thumb a:hover { border-color: #D93600;}
.ncg-evaluate-floor .detail .photos-thumb a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}
.ncg-evaluate-floor .detail hr { font-size: 0; line-height: 0; padding: 0; margin: 10px 0; height: 0; width: 100%; border: none 0; border-top: dashed 1px #E6E6E6;}

/*聚合页banner切换*/
.ncg-slides-banner { width: 970px; height: 300px; position: relative; z-index: 1;}
.full-screen-slides { width: 100%; height: 100%; position: relative; z-index: 1;}
.full-screen-slides img { max-width: 970px; max-height: 300px;}
.full-screen-slides li { background-repeat: no-repeat; background-position: center top; width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0;}
.full-screen-slides-pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; display: block; list-style:none; width: 100px; height: 10px; margin-left: -50px; position: absolute; z-index: 9; bottom: 15px; left: 50%;}
.full-screen-slides-pagination li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width: 12px; height: 12px; margin-left: 8px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BF000000', endColorstr='#BF000000');background:rgba(0,0,0,0.75); overflow: hidden; border-radius: 6px; cursor: pointer; *zoom: 1;}
.full-screen-slides-pagination a { width:100%; height:100%; padding:0; margin:0; text-indent: -9999px;}
.full-screen-slides-pagination .current { background: #FFF; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);}




/*团购详情页面右侧内容*/
.ncg-layout-r { width: 210px; float: right;}
/*店铺信息*/
.ncg-store { margin-bottom: 10px;}
.ncg-store .title { font: 700 14px/20px "microsoft yahei"; color: #FFF; background-color: #D93600; height: 20px; padding: 8px 10px;}
.ncg-store .content { background-color: #FFF; border: solid #D7D7D7; border-width: 0 1px 1px;}
.ncg-store-info { }
.ncg-store-info dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; border-bottom: solid 1px #D7D7D7;}
.ncg-store-info dl dt, .ncg-store-info dl dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 20px; padding: 6px 0; zoom:1;}
.ncg-store-info dl dt { color: #555; text-align: right; width: 35%;}
.ncg-store-info dl dd { width: 65%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ncg-store-info dl dd.auto { height: auto; white-space: normal;}

.ncg-store-info .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block;  *display: inline/*IE7*/; width: 79px; height: 17px; zoom: 1;}
.ncg-store-info .all-rate .rating span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.ncg-store-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin: 0 5px;}

.ncg-store-info .detail-rate { color: #999; width: 182px; padding: 5px; margin: 0 auto; border-bottom: dotted 1px #CCC;}
.ncg-store-info .detail-rate ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 5px 0;}
.ncg-store-info .detail-rate li { font-size: 12px; color: #333; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 33.333%; height: 32px; *zoom: 1;}
.ncg-store-info .detail-rate li h5 { color: #777; line-height: 16px; height: 16px;}
.ncg-store-info .detail-rate li div { line-height: 16px; height: 16px; }
.ncg-store-info .detail-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.ncg-store-info .detail-rate li div i { background: url(../images/2014grate.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px;}
.ncg-store-info .detail-rate .high { color: #DA542E; }
.ncg-store-info .detail-rate .high i { background-position: 0 -40px;}
.ncg-store-info .detail-rate .equal { color: #DA542E; }
.ncg-store-info .detail-rate .equal i { background-position: -32px -40px;}
.ncg-store-info .detail-rate .low { color: #28B779; }
.ncg-store-info .detail-rate .low i { background-position: -16px -40px;}

.ncg-store-info .goto { background-color: #F7F7F7; text-align: center; padding: 8px 0;}
.ncg-store-info .goto a { font: normal 14px/20px "microsoft yahei"; background-color: #FEFEFE; display: inline-block; padding: 5px 10px; border: solid 1px #E6E6E6;}
.ncg-store-info .goto a:hover { color: #FFF; text-decoration: none; background-color: #D93600; border-color: #B22D00;}
.ncg-store-info .map { margin: 5px; width: 198px; height: 200px; position: relative; z-index: 1;}
.ncg-store-info .map .window { width: 198px; height: 200px; position: absolute; z-index: 1; top: 0; left: 0;}
.ncg-store-info .map:hover .window { display: block; width: 298px; height: 300px; border: solid 1px #D93600; top: -52px; left: -51px; box-shadow: 4px 4px 0 rgba(153,153,153,0.25); transition:ease-in-out 0.5s;}

/*侧边推荐团购*/
.ncg-module-sidebar { margin-bottom: 10px;}
.ncg-module-sidebar .title { font: 700 14px/20px "microsoft yahei"; color: #D93600; height: 20px; padding: 8px 10px; border: solid 1px #D7D7D7;}
.ncg-module-sidebar .content { background-color: #FFF; border: solid #D7D7D7; border-width: 0 1px 1px;}
.ncg-module-sidebar .content .nothing { text-align: center; padding: 50px 0; color: #CCC;}
.ncg-group-command { width: 190px; margin: 0 auto;}
.ncg-group-command dl { width: 100%; padding-bottom: 8px; border-top: solid 1px #D7D7D7; overflow: hidden;}
.ncg-group-command dt.name { line-height: 18px; height: 36px; overflow: hidden; padding: 5px 0;}
.ncg-group-command dt.name a { color: #555;}
.ncg-group-command dt.name a:hover { color: #D93600;}
.ncg-group-command .pic-thumb { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 190px; height: 163px; overflow: hidden;}
.ncg-group-command .pic-thumb img { max-width: 190px; max-height: 163px; margin-top:expression(163-this.height/2); *margin-top:expression(81-this.height/2)/*IE6,7*/;}
.ncg-group-command .item { background-color: #F7F7F7; padding: 8px 0;}
.ncg-group-command .item .price { font-weight: 600; color: #D93600; vertical-align: top; display: inline-block; font-size:14px; *display: inline/*IE7*/; width: 100px; margin-left: 8px; overflow: hidden; zoom: 1;}
.ncg-group-command .item .buy { vertical-align: top;display: inline-block; *display: inline/*IE7*/; width:100%; overflow: hidden; zoom: 1; padding-left:8px;}
.ncg-group-command .item .buy em { font-weight: 600; color: #D93600; margin-right: 2px;}
.ncg-group-command .item a { line-height: 16px; color: #FFF; background-color: #D93600; display: inline-block; *display:inline/*IE7*/; float: right; padding: 2px 4px; margin-right: 5px; border-radius: 3px; zoom: 1;}
.ncg-group-command .item a:hover { background-color: #CA3300; text-decoration: none;}
/*无内容*/
.no-buyer { font: lighter 14px/24px "microsoft yahei"; color: #999; text-align: center; padding: 80px 0;}
.no-content { font: lighter 18px/24px "microsoft yahei"; color: #999; text-align: center; padding: 180px 0;}
