@charset "utf-8";
/* ================================ */
/* 积分商城页面独立样式定义 				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopnc.net	*/
/* Create Date:		Aug-10-2012		*/
/* Retrofit Date:	Oct-15-2012		*/
/* ================================ */

.nc-appbar-tabs a.compare { display: none !important;}/*积分中心页面去除侧边栏对比*/

.ncp-container { width: 1200px; margin: 0 auto 10px auto;}
.ncp-base-layout { border: solid 1px #FED4AE; overflow: hidden;}
.ncp-member-left { background-color: #FFF; width: 297px; float: left; border-right: solid 1px #EEE;}
.ncp-member-right { width: 900px; float:right;}

/*会员概述*/
.ncp-member-info { padding: 9px 19px; overflow: hidden;}
.ncp-member-info .avatar { width: 88px; height: 88px; float: left; position: relative; z-index: 1;}
.ncp-member-info .avatar .frame { background: url(../images/point_bg.png) no-repeat 0 0; width: 88px; height: 88px; position: absolute; z-index: 2; top: 0; left: 0;}
.ncp-member-info .avatar img { width: 80px; height: 80px; position: absolute; z-index: 1; top: 4px; left: 4px;}
.ncp-member-info dl { display: block; width: 140px; float: left; margin: 10px 0 0 10px;}
.ncp-member-info dt { font: 600 14px/20px "microsoft yahei"; margin-bottom: 6px;}
.ncp-member-info dd { line-height: 22px;}

/*会员等级*/
.ncp-member-grade { background-color: #FFFBF3; text-align: center; width: 100%; padding: 9px 0; border-top: solid 1px #FED4AE;}
.ncp-member-grade .progress-bar { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block;}
.ncp-member-grade .progress-bar em,
.ncp-member-grade .progress-bar span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncp-member-grade .progress-bar em { font: 12px/20px "microsoft yahei"; text-align: center; width: 30px;}
.ncp-member-grade .progress-bar span { background-color: #CCC; width: 200px; height: 10px; border-radius: 5px;}
.ncp-member-grade .progress-bar span i { background-color: #D93600; display: block; height: 10px; border-radius: 5px;}
.ncp-member-grade .progress { color: #AAA; text-align: center; margin-top: 5px;}
.ncp-member-grade .progress em { font-weight: 600; color: #D83500; margin: 0 2px;}
.ncp-member-grade .links { text-align: center; margin-top: 5px;}
.ncp-member-grade .links a { color: #005EA6; margin: 0 20px;}
/* 会员积分 */
.ncp-member-point { font-size: 0; background-color: #FFF6E6; *word-spacing:-1px/*IE6、7*/; border-top: solid 1px #FED4AE;}
.ncp-member-point dl { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 98px; margin: 10px 0; border-left: dotted 1px #FED4AE; *zoom: 1;}
.ncp-member-point dt { font: 12px/30px "microsoft yahei"; color: #FF8400; height: 30px; padding: 10px 0 5px 0;}
.ncp-member-point dt strong { font-size: 20px; font-weight: 400; margin-right: 4px;}
.ncp-member-point dd { font: 12px/20px "microsoft yahei"; color: #555; height: 20px; padding: 5px 0 10px 0;}
.ncp-member-point a { text-decoration: none;}
/* 会员积分兑换购物车 */
.ncp-memeber-pointcart { background-color: #FFF2DA; text-align: center; border-top: solid 1px #FED4AE;}
.ncp-memeber-pointcart .btn { font: 14px/32px "microsoft yahei"; color: #FFF; background-color: #FFB577; display: inline-block; *display: inline/*IE7*/; width: 150px; height: 32px; margin: 19px auto; border-radius: 4px; position: relative; z-index: 1;*zoom: 1;}
.ncp-memeber-pointcart .btn:hover { background-color: #FF8400; text-decoration: none;}
.ncp-memeber-pointcart a em { font: 12px/18px Verdana; line-height: 18px; color: #FFF; background-color: #C11C1C; display: block; min-width: 10px; height: 18px; padding: 0 4px; border-radius: 9px; position: absolute; z-index: 1; top:-9px; right: 4px;}
/* 会员未登录 */
.ncp-not-login { background-color: #FFFBF3; height: 367px;}
.ncp-not-login .member { text-align: center; padding: 30px 0 20px 0;}
.ncp-not-login .member a { font: 18px/30px "microsoft yahei";}
.ncp-not-login .member p { font: 14px/20px "microsoft yahei"; color: #777;}
.ncp-not-login .function { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 260px; margin: 0 auto; padding: 22px 0; border-top: dotted 1px #FFB577;}
.ncp-not-login .function i { background: url(../images/point_bg.png) no-repeat; vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 48px; height: 48px; margin: 0 20px 0 10px; *zoom: 1;}
.ncp-not-login .function i.voucher { background-position: -170px -70px;}
.ncp-not-login .function i.exchange { background-position: -218px -70px;}
.ncp-not-login .function dl { vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncp-not-login .function dt { font: 14px/28px "microsoft yahei"; color: #333;}
.ncp-not-login .function dd { font-size: 12px; color: #777;}
.ncp-not-login .button { text-align: center; margin-top: 20px;}

/* 会员内容横向排列样式  */
.ncp-member-top { background-color: #fff2da; height: 106px; border: solid 1px #FED4AE; overflow: hidden;}
.ncp-member-top .ncp-member-info { background-color: #FFF; float: left;}
.ncp-member-top .ncp-member-grade { width: auto; float: left; padding: 18px; border-top: 0; border-left: solid 1px #FED4AE;}
.ncp-member-top .ncp-member-point { float: left; border-top: 0; border-left: solid 1px #FED4AE;}
.ncp-member-top .ncp-member-point dl { width: 119px; margin: 13px 0;}
.ncp-member-top .ncp-memeber-pointcart { float: left; width: 260px; padding: 18px 0; border-top: 0; border-left: solid 1px #FED4AE;}

/*首页内容部分*/
.ncp-main-layout { margin-top: 20px;}
.ncp-main-layout .title { padding: 5px 5px 10px 5px; border-bottom: solid 2px #D93600;}
.ncp-main-layout .title h3 { font: 18px/32px "microsoft yahei"; color: #333; display: inline-block; *display: inline;}
.ncp-main-layout .title i { background: url(../images/point_bg.png) no-repeat; vertical-align: bottom; display: inline-block; *display: inline; width: 32px; height: 32px; margin-right: 8px; *zoom: 1;}
.ncp-main-layout .title i.voucher { background-position: -100px 0;}
.ncp-main-layout .title i.exchange { background-position: -100px -40px;}
.ncp-main-layout .title i.rpt { background-position: -100px -80px;}
.ncp-main-layout .title .more { float: right; padding: 10px 0 0;}
.ncp-main-layout .title a { color: #999;}
.ncp-main-layout ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncp-main-layout li { font-size: 12px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}

/* 成长值介绍页面 */
.ncp-grade-layout { border: solid 1px #EEE; margin-top: -1px;}
.ncp-grade-layout .title { background-color: #F9F9F9; padding: 9px; border-bottom: solid 1px #EEE;}
.ncp-grade-layout .title h3 { font: 16px/20px "Microsoft Yahei"; color: #333;}
.ncp-grade-layout dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncp-grade-layout dt, 
.ncp-grade-layout dd{ font-size: 12px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncp-grade-layout dt { font-size: 14px; text-align: center; width: 239px; padding: 30px;}
.ncp-grade-layout dt i { background: url(../images/point_bg.png) no-repeat; display: inline-block; width: 64px; height: 64px;}
.ncp-grade-layout dt i.icon-01 { background-position: -170px 0;}
.ncp-grade-layout dt i.icon-02 { background-position: -234px 0;}
.ncp-grade-layout dd { width: 790px; padding: 30px;}
.ncp-grade-layout dd li { line-height: 24px; background: url(../images/point_bg.png) no-repeat -398px 10px; padding-left: 10px;}
/* 成长值获得明细 */
.ncp-table-style { width: 100%; margin: 0 auto;}
.ncp-table-style th,
.ncp-table-style td { padding: 12px 0; text-align: center;}
.ncp-table-style thead th { background-color: #F9F9F9; border-bottom: solid 1px #EEE;}
.ncp-table-style tbody td { border-bottom: solid 1px #EEE;}

/*店铺代金券列表*/
.ncp-voucher-list { background-color: #F9F9F9;}
.ncp-voucher-list li { width: 372px; margin: 20px 0 20px 20px;}
.ncp-voucher { background-color: #FFFBF3; display: block; height: 212px; border: dotted 1px #FFCFBF; position: relative; z-index: 1;}
.ncp-voucher .cut { background: url(../images/point_bg.png) no-repeat -140px 0; width: 20px; height: 18px; position: absolute; z-index: 2; top: -9px; left: 5px;}
.ncp-voucher .info { background: url(../images/point_voucher_bg.png) repeat-y right 0; width: 120px; height: 192px; padding: 20px 30px 0 25px; position: absolute; z-index: 1; top: 0; left: 0;}
.ncp-voucher .store { font-weight: 600; text-align: center; display: block; height: 20px; overflow: hidden;}
.ncp-voucher .store-classify { text-align: center; height: 20px; margin-bottom: 5px;}
.ncp-voucher .pic { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden;}
.ncp-voucher .pic img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); }
.ncp-voucher .value,
.ncp-voucher .point,
.ncp-voucher .button { display: block; padding-left: 185px;}
.ncp-voucher .value { padding-top: 5px; padding-bottom: 5px;}
.ncp-voucher .value dt { font: 30px/48px "microsoft yahei"; color: #D93600; height: 48px;}
.ncp-voucher .value dt em { font-size: 40px;}
.ncp-voucher .value dd { color: #D83500; white-space: nowrap; margin-bottom: 4px;}
.ncp-voucher .value dd.time { color: #999;}
.ncp-voucher .point { background-color: #FFF2DA; height: 44px; padding-top: 5px; padding-bottom: 5px;}
.ncp-voucher .point p { line-height: 20px; display: block; color: #777; height: 20px;}
.ncp-voucher .point p.required { font: 16px/24px "microsoft yahei"; color: #D93600; height: 24px;}
.ncp-voucher .button { padding-top: 10px;}
/* 领取店铺代金券 */
.ncp-voucher-exchange { padding: 40px 20px 80px 20px;}
.ncp-voucher-exchange .pic { vertical-align: top; display: inline-block; width: 64px; height: 64px;}
.ncp-voucher-exchange .pic span { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 64px; height: 64px; overflow: hidden;}
.ncp-voucher-exchange .pic img { max-width: 64px; max-height: 64x; margin-top:expression(64-this.height/2); }
.ncp-voucher-exchange dl { vertical-align: top; display: inline-block; margin-left:20px;}
.ncp-voucher-exchange dt { font: 400 18px/25px "microsoft yahei"; color: #D93600;}
.ncp-voucher-exchange dt em { font-size: 16px;}
.ncp-voucher-exchange dd { line-height: 24px; color: #999;}
.ncp-voucher-exchange .button { margin-left: 80px; margin-top: 10px;}
.ncp-voucher-exchange .submit { vertical-align: top; display: inline-block;}

/*积分礼品列表*/
.ncp-exchange-list { padding: 15px;}
.ncp-exchange-list li { width: 200px; padding: 15px;}
.ncp-exchange-list li:hover { box-shadow: 0 0 10px rgba(0,0,0,0.15);}
.ncp-exchange-list li .gift-pic { display: block; }
.ncp-exchange-list li .gift-pic a {line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 200px; height: 200px; overflow: hidden;}
.ncp-exchange-list li .gift-pic img { max-width: 200px; max-height: 200px; margin-top:expression(200-this.height/2); }
.ncp-exchange-list li .gift-name { line-height: 18px; display: block; width: 100%; height: 36px; margin: 10px 0; overflow: hidden;}
.ncp-exchange-list li .exchange-rule { background-color: #F9F9F9; overflow: hidden;}
.ncp-exchange-list li .exchange-rule .pgoods-price { line-height: 18px; color: #999; display: block; width: 150px; height: 18px; float: left; margin: 5px 0 0 10px;}
.ncp-exchange-list li .exchange-rule .pgoods-price em { text-decoration: line-through;}
.ncp-exchange-list li .exchange-rule .pgoods-points { font-size: 12px; color: #D93600; display: block; width: 140px; float: left; margin: 5px 0 5px 10px; clear: left;}
.ncp-exchange-list li .exchange-rule .pgoods-grade { font-family: Georgia,Arial; font-size: 18px; line-height: 53px; background-color: #E8E8E8; text-align: center; display: block; width: 40px; height: 53px; float: right; clear: left;}
.norecord { font: 12px/20px "microsoft yahei"; color:#999; text-align:center; margin: 100px 0;}

/*账户信息*/

.ncp-member-account { font-size: 0; word-spacing:-1em/*IE6、7*/; vertical-align: top; display: inline-block;}
.ncp-member-account dl {font-size: 12px; word-spacing: normal; letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/; padding: 0 10px; margin-left: 10px; *zoom: 1;}


/* 优惠券分类选择 */
.ncp-category { border-bottom: solid 2px #D93600; overflow: hidden;}
.ncp-category dl { font-size: 0; word-spacing:-1em; padding-bottom: 5px; margin-top: -1px; border-top: dotted 1px #CCC;}
.ncp-category dt, 
.ncp-category dd { font-size: 12px; word-spacing: normal; letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/; padding: 5px 0; *zoom: 1;}
.ncp-category dt { font-weight: 600; text-align: right; width: 110px; padding: 10px 0;}
.ncp-category .searchbox dt { line-height: 28px;}
.ncp-category ul { font-size: 0; word-spacing:-1em;}
.ncp-category li { font-size: 12px; word-spacing: normal; letter-spacing: normal; white-space: nowrap; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; padding: 5px 10px; margin-left: 10px;*zoom: 1;}
.ncp-category .searchbox li { cursor: pointer;}
.ncp-category li.selected { color: #FFF; background-color: #D93600;}
.ncp-category li.selected em.asc { background: url(../images/point_bg.png) no-repeat 0 -100px; vertical-align: middle; display: inline-block; width: 8px; height: 8px; margin-left: 4px;}
.ncp-category li.selected em.desc { background: url(../images/point_bg.png) no-repeat -8px -100px; vertical-align: middle; display: inline-block; width: 8px; height: 8px; margin-left: 4px;}

.ncp-category li a.selected { font-weight: 600; color: #F32613; }
/* =========================== */
/* 积分兑换礼品详情页面 -> goods.php */
/* =========================== */

/* 积分礼品信息兑换 */
.ncp-detail { min-height: 400px; margin-bottom: 10px; border: solid 1px #EEE; position: relative; z-index: 2;}
.ncp-detail .ncp-info { position: absolute; z-index: 2; top: 0; right: 0;}
/**/
/* ====================== */
/* 店铺简介边栏 -> info.php */
/* ====================== */
.ncp-info { width: 210px;}
.ncp-info .title { background-color: #F5F5F5; padding: 5px 10px; border: solid 1px #E6E6E6;}
.ncp-info .title h4 { font: 600 14px/20px "Microsoft Yahei"; color: #555;}
.ncp-info .content { border: solid #E6E6E6; border-width: 0 1px 1px;}
.ncp-info .content dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; padding: 6px 0;}
.ncp-info .content dl dt { font-size: 12px; color: #666; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 68px; *zoom:1;}
.ncp-info .content dl dd { font-size: 12px; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; white-space: nowrap; text-overflow: ellipsis; display: inline-block; *display: inline/*IE7*/; width: 130px; *width: 125px; overflow: hidden; zoom: 1;}


.ncp-exchangeNote { padding: 0 10px; overflow: hidden;}
.ncp-exchangeNote li { padding: 10px 0; margin-top: -1px; border-top: dotted 1px #CCC; overflow: hidden;}
.ncp-exchangeNote li .user-avatar { width: 36px; height: 36px; padding: 1px; margin-right: 5px; border: solid 1px #EEE; border-radius: 20px; float: left;}
.ncp-exchangeNote li .user-avatar img { width: 36px; height: 36px; border-radius: 20px;}
.ncp-exchangeNote li .user-name { float: left; width: 140px; height: 20px;}
.ncp-exchangeNote li .user-log { color: #999; float: left; width: 140px; height: 20px;}


/* 礼品图片*/
.ncp-gift-picture { background-color: #FFF; width: 320px; height: 320px; padding: 20px; position: absolute; z-index:99; top: 0; left: 0;}
.ncp-gift-picture a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 320px; height: 320px; overflow: hidden;}
.ncp-gift-picture a img { max-width: 320px; max-height: 320px; margin-top:expression(320-this.height/2); }
/* 站外分享操作 */
.ncp-share { width: 350px; height: 24px; padding-top: 10px; border-top: dotted 1px #EEE; position: absolute; z-index: 1; left: 10px; bottom: 10px;}
.ncp-gift-summary { background-color: #FAFAFA; float: right; width: 622px; min-height: 400px; margin-right: 208px; border-right: solid 1px #EEE; box-shadow: inset 4px 0 1px rgba(153,153,153,0.15);}
.ncp-gift-summary .name { padding: 20px 25px;}
.ncp-gift-summary .name h1, 
.ncp-gift-summary .name strong { font: 600 18px/1.2em "Microsoft Yahei", Arial; color: #333; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden;} 
.ncp-gift-summary .name strong { font-weight: normal; font-size: 14px; color: #D93600;}

/* 销售信息 */
.ncp-meta { background: #EEE; padding: 10px 0; position: relative; z-index: 1; box-shadow: inset 4px 0 1px rgba(153,153,153,0.15);}
.ncp-key { border-top: dotted 1px #DDD; padding-top: 15px; }
.ncp-meta dl, .ncp-key dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncp-meta dl dt, .ncp-meta dl dd,
.ncp-key dl dt, .ncp-key dl dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7 */; min-height: 20px; padding: 4px 0; *zoom:1;}
.ncp-meta dl dt, .ncp-key dl dt { font-family: simsun; text-align: right; width: 15%; margin-right: 1%;}
.ncp-meta dl dd, .ncp-key dl dd { text-align: left; width: 84%; *width: 83%/*IE7*/;}
.ncp-meta dl dd i.ver-line { display: inline-block; *display: inline; zoom: 1;}
.ncp-meta dl dd a { color: #005AA0; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncp-meta dl dd a:hover { text-decoration: underline;}
.ncp-meta .points strong  { font-family:"Microsoft Yahei", Arial; font-size: 20px; font-weight:600; color: #D93600;}
.ncp-meta .points span { font: 600 12px/16px Georgia,Arial; color: #FFF; background-color: #F32613; padding: 2px 4px; border-radius: 2px;}
.ncp-meta .points em { color: #999; vertical-align: middle; margin-left: 8px;}
.ncp-meta .countdown i { font-family: Georgia,Arial; font-size: 16px; color: #F32613;}
.ncp-meta .cost-price strong  { text-decoration: line-through;}
.ncp-meta .promotion-info { color: #D93600}
.ncp-meta .promotion-info em { color: #690; vertical-align: middle; margint: 2px 0 12px 0;}
.ncp-meta .promotion-info span { color: #999; vertical-align: middle;}
/*购买数量和库存*/
.ncp-figure-input { position: relative; z-index: 1;}
.ncp-figure-input span { margin-left: 10px; color:#999;}
.ncp-figure-input span em { margin: 0 2px;}
.ncp-figure-input span strong { color: #F60; margin: 0 2px;}

/* 立即购买和加入购物车按钮 */
.ncp-gift-summary .ncs-btn { display: inline-block; margin: 10px 0 0 20px; position: relative; z-index: 70;}
.ncp-gift-summary .ncs-btn { *display: inline/*IE6,7*/; zoom: 1;}
.ncp-gift-summary .ncs-btn a.buynow,
.ncp-gift-summary .ncs-btn a.addcart,
.ncp-gift-summary .ncs-btn a.no-buynow,
.ncp-gift-summary .ncs-btn a.no-addcart { font: lighter 16px/20px "Microsoft Yahei"; color: #FFF; text-align: center; display: inline-block; height: 20px; padding: 6px 18px; margin-right: 10px; border-radius: 3px; position: relative; overflow: hidden; box-shadow: 0 0 0 2px rgba(204,204,204,0.25);}
.ncp-gift-summary .ncs-btn a.buynow:hover,
.ncp-gift-summary .ncs-btn a.addcart:hover,
.ncp-gift-summary .ncs-btn a.no-buynow:hover,
.ncp-gift-summary .ncs-btn a.no-addcart:hover  { text-decoration: none;}
.ncp-gift-summary .ncs-btn a.buynow { background-color: #BA7538;}
.ncp-gift-summary .ncs-btn a:hover.buynow { background-color: #96602E;}
.ncp-gift-summary .ncs-btn a.addcart { background-color: #D93600;}
.ncp-gift-summary .ncs-btn a:hover.addcart { background-color: #BB0000;}
.ncp-gift-summary .ncs-btn a.no-buynow, 
.ncp-gift-summary .ncs-btn a.no-addcart,
.ncp-gift-summary .ncs-btn a:hover.no-buynow, 
.ncp-gift-summary .ncs-btn a:hover.no-addcart { background-color: #AAA; cursor: not-allowed;}
.ncp-gift-summary .ncs-btn a i { font-size: 17px; margin-right: 6px;}


.ncp-grade {}
.ncp-grade .title { background-color: #F9F9F9; padding: 9px; border-bottom: solid 1px #EEE;}
.ncp-grade .title h3 { font: normal 16px/20px "Microsoft Yahei"; color: #333; }
.ncp-gradeall-bar { font-size: 0; *word-spacing:-1px/*IE6、7*/; background: url(../images/point_grade.png) no-repeat 0 0; width: 660px; height: 18px; padding: 220px 200px 90px 40px;}
.ncp-gradeall-bar .itemlevel { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7 */;  *zoom:1; position: relative; z-index: 1;}
.ncp-gradeall-bar .exp-lv0 { width: 15%;}
.ncp-gradeall-bar .exp-lv1 { width: 35%;}
.ncp-gradeall-bar .exp-lv2 { width: 35%;}
.ncp-gradeall-bar .exp-lv3 { width: 15%;}
.ncp-gradeall-bar .gradelabel { position: absolute; z-index: 1; top: -55px;}
.ncp-gradeall-bar .gradelabel strong { font: 18px/20px "Times New Roman", Times, serif; color: #333; display: block;}
.ncp-gradeall-bar .gradelabel i { font: 11px/18px Tahoma, Geneva, sans-serif; color: #555;  display: block;}
.ncp-gradeall-bar .exp-lv0 .gradelabel { display: none;}
.ncp-gradeall-bar .exp-lv1 .gradelabel { left: -90px;}
.ncp-gradeall-bar .exp-lv2 .gradelabel { left: -120px;}
.ncp-gradeall-bar .exp-lv3 .gradelabel { left: -90px;}
.ncp-gradeall-bar .bar i { background-color:#F66; display: block; width: 14px; height: 14px; border: solid 2px #FFF; border-radius: 9px; position: absolute; z-index: 3; top: 0;}
.ncp-gradeall-bar .exp-lv0 .bar i { left: 5px;}
.ncp-gradeall-bar .exp-lv1 .bar i { left: -7px;}
.ncp-gradeall-bar .exp-lv2 .bar i { left: -7px;}
.ncp-gradeall-bar .exp-lv3 .bar i { left: -7px;}
.ncp-gradeall-bar .arrow { font-size: 0; border-color: transparent transparent #FFF transparent; border-style: dashed dashed solid dashed; border-width: 8px; width: 0; height: 0; line-height: 0; position: absolute; z-index: 4; top: 20px; left: 5px;}
.ncp-gradeall-bar .exp-lv0 .arrow { left: 5px;}
.ncp-gradeall-bar .exp-lv1 .arrow { left: -7px;}
.ncp-gradeall-bar .exp-lv2 .arrow { left: -7px;}
.ncp-gradeall-bar .exp-lv3 .arrow { left: -7px;}
.ncp-gradeall-bar .tips { background-color: #FFF; border-radius: 5px; padding: 0 10px; white-space: nowrap; position: absolute; z-index: 2; top: 36px; overflow: hidden;}
.ncp-gradeall-bar .tips p { color: #777; padding: 5px; border-top: dotted 1px #CCC;  margin-top: -1px;}
.ncp-gradeall-bar .tips strong { color: #F60;}
.ncp-gradeall-bar .tips em { color: #333;}
.ncp-gradeall-bar .exp-lv1 .tips  { left: -20px;}
.ncp-gradeall-bar .exp-lv1 .tips  { left: -120px;}
.ncp-gradeall-bar .exp-lv2 .tips  { left: -120px;}
.ncp-gradeall-bar .exp-lv3 .tips  { left: -120px;}

.ncp-sidebar { width: 210px; float: left;}
.ncp-sidebar-container { margin-bottom: 10px;}
.ncp-sidebar-container .title { background-color: #F7F7F7 ; height: 20px; padding: 5px 10px; border: solid #DDD; border-width: 1px 1px 0 1px;}
.ncp-sidebar-container .title h4 { font: 600 14px/20px "Microsoft Yahei"; color: #666;}
.ncp-sidebar-container .content { border: solid 1px #DDD; background:#FFF; }
.ncp-sidebar .recommend { width: 190px; margin: 0 auto; overflow: hidden;}
.ncp-sidebar .recommend li { padding: 10px 5px; margin: -1px 0 0 0; border-top: dotted 1px #DDD;}
.ncp-sidebar .recommend .gift-pic { width: 160px; height: 160px; margin: 0 auto;}
.ncp-sidebar .recommend .gift-pic a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden;}
.ncp-sidebar .recommend .gift-pic a img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); }
.ncp-sidebar .recommend .gift-name { line-height: 16px; height: 32px; margin: 5px 0; overflow: hidden;}
.ncp-sidebar .recommend .pgoods-points { font: 600 14px/20px Tahoma, Geneva, sans-serif; color: #F32613; margin-right: 6px;}
.ncp-sidebar .recommend .pgoods-points span { font: 600 12px/16px Georgia,Arial; color: #FFF; background-color: #F32613; padding: 2px 4px; border-radius: 2px; }
.ncp-goods-main { float: right; width: 980px; }
.ncp-goods-layout { width: 100%; margin-bottom: 10px; position: relative; z-index: 1; overflow: hidden;}
/* 商品内容处TabBar */
.tabbar { background: #FFF;}
.ncp-goods-title-nav { margin-top: 7px;}
.ncp-goods-title-nav ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FCFCFC; border: solid #D7D7D7 1px;}
.ncp-goods-title-nav ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.ncp-goods-title-nav ul li { *display: inline/*IE6,7*/;}
.ncp-goods-title-nav ul li a { font: normal 14px/20px "Microsoft Yahei"; text-decoration:none; color:#777; background-color: #F5F5F5; display: block; padding: 6px 15px 5px 15px; border-style: solid; border-color: #D7D7D7; border-width: 0 1px 0 0;}
.ncp-goods-title-nav ul li.current { margin: -7px 0 -1px -1px;}
.ncp-goods-title-nav ul li.current a { color: #333; background-color: #FFF; padding: 11px 15px 6px 15px; border-style: solid; border-color: #D93600 #DDD transparent #DDD; border-width: 2px 1px 0 1px ;}
.ncp-goods-info-content { padding: 10px 0; border: 0 none; margin: 0; overflow: hidden;}












