            /*
  maincolor   fac734

 */

        .clear {
            zoom: 1;
        }

        .clear:after {
            content: "";
            clear: both;
            display: block;
        }

        .ul_no {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .lm_upload .submit {
            display: none;
        }

        .lm_upload .lm_upload_form {
            width: 720px;
            margin: 0 auto;
        }

        .lm_container_ful {
            width: 1200px;
            min-height: 10px;
            margin: 0 auto;
        }

        .lm_req {
            color: #fac734;
            font-size: 14px;
            margin-right: 3px
        }

        .lm_upload_form .zm_form-group {}

        .lm_upload_form .zm_form-group {}

        .lm_upload_form .zm_form-group {
            zoom: 1;
            margin-bottom: 15px;
        }

        .lm_upload_form .zm_form-group label.error {
            background: none;
            border: none;
            color: #fac734 !important;
        }

        .lm_upload_form .zm_form-group:after {
            content: "";
            clear: both;
            display: block;
        }

        .lm_upload_form .zm_form-group .zm_label {
            width: 200px;
            margin: 0 14px 0 0;
            text-align: right;
            float: left;
            min-height: 1px;
        }

        .lm_upload_form .zm_form-group .zm_inp {
            float: left;
            width: 446px;
            min-height: 1px;
        }

        .lm_upload_form .zm_form-group .zm_inp input,
        .lm_upload_form .zm_form-group .zm_inp textarea {
            width: 213px;
            padding: 3px 3px;
        }

        .lm_upload_form .zm_form-group .zm_inp input[type='checkbox'],
        .lm_upload_form .zm_form-group .zm_inp input[type='radio'] {
            width: 12px;
        }

        .lm_upload_form .zm_form-group .zm_inp input[type="text"].error,
        .lm_upload_form .zm_form-group .zm_inp input[type="password"].error,
        textarea.error {
            border: #fac734 solid 1px;
            box-shadow: none;
            outline: none;
            background-color: transparent;
        }

        .lm_upload_form .zm_form-group .zm_inp select {
            width: 70px;
        }

        .lm_upload_form .zm_form-group .placeholder,
        .lm_upload_form .zm_form-group .webuploader-pick {
            width: 119px;
            height: 28px;
            border: #eee solid 1px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            background: #fff;
            padding: 0;
            color: #666;
            text-align: center;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
        }

        .lm_upload_form .zm_form-group .placeholder,
        .lm_upload_form .zm_form-group .webuploader-pick i {
            display: inline-block;
        }

        .lm_upload_form .zm_form-group .upload_list {
            margin: 15px 0;
        }

        .lm_upload_form .zm_form-group .upload_list .filelist {
            margin: 15px 0 0;
        }

        .lm_upload_form .zm_form-group .upload_list .upload_sign_con {
            width: 150px;
            float: left;
            margin: 0 20px 0 0;
        }

        .lm_upload_form .zm_form-group .upload_list .webuploader .filelist .uploadli {
            float: left;
        }

        .lm_upload_form .zm_form-group .placeholder,
        .lm_upload_form .zm_form-group .webuploader-pick span {
            display: inline-block;
            vertical-align: middle;
        }

        .uploader-list {
            margin: 10px 0 0 0;
        }

        .marno {
            margin: 0 !important;
        }

        .uploader-list li {
            position: relative;
            width: 150px;
            height: 80px;
            display: inline-block;
            float: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }

        .uploader-list li p.img {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .uploader-list li img {
            max-height: 100%;
            max-width: 100%;
        }

        .uploader-list .over .setting {
            transition: all .1s;
        }

        .uploader-list .over .del {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 24px;
            background: rgba(0, 0, 0, .6);
            text-align: center;
            display: inline-block;
            line-height: 24px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            z-index: 3;
        }

        .uploader-list .loader {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            left: 50%;
            margin-left: -30px;
        }

        .uploader-list .zz {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            top: 0;
            left: 0;
        }

        .upload_list .tip {
            color: #777777;
            font-size: 14px;
            margin-left: 10px;
        }

        .font0 {
            font-size: 0;
        }

        .upload_list .tips {
            color: #777777;
            font-size: 14px;
        }

        .upload_list .upload_btn {
            width: 120px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px
        }

        .upload_list .error {
            padding: 1px 5px 1px 0;
        }

        .settled .zm_form-group .zm_label {
            width: 230px
        }

        .settled .zm_form-group .zm_inp input {
            vertical-align: baseline;
        }

        .settled .zm_form-group .zm_inp .checkboxs label {
            margin-right: 7px;
            display: inline-block;
            margin-bottom: 13px;
        }

        .settled .zm_form-group .zm_inp .checkboxs {
            display: block;
            margin: 17px 0 0 17px;
        }

        .settled .zm_form-group .zm_inp {
            width: 400px;
            font-size: 14px;
            color: #000;
        }

        .settled .zm_form-group .lm_radio {
            display: none;
        }

        .settled .zm_form-group .zm_label {
            position: relative;
        }

        .settled .zm_form-group .zm_label:before {
            position: absolute;
            border: #ccc solid 1px;
            width: 14px;
            height: 14px;
            top: 2px;
            right: 0;
            content: '';
            display: block;
            border-radius: 100%;
        }

        .settled .zm_form-group.active .zm_label:after {
            position: absolute;
            width: 6px;
            height: 6px;
            top: 7px;
            right: 5px;
            content: '';
            display: block;
            border-radius: 100%;
            background: #042239;
        }

        .lm_hr {
            width: 100%;
            height: 1px;
            background: #e4e4e4;
        }

        .mr30 {
            margin: 30px 0;
        }

        .lm_result {
            margin: 30px auto;
            width: 1200px;
            min-height: 1px;
            text-align: right;
        }

        .lm_result .bzj,
        .lm_result .fwf {
            color: #c90000;
            font-size: 16px;
            margin: 0 0 17px 0;
        }

        .lm_result .sum_result {
            font-size: 20px;
            color: #000;
        }

        .lm_rz_success_con {
            padding: 79px 0 120px;
            text-align: center;
        }

        .lm_rz_success_con .title {
            color: #010101;
            font-size: 18px;
            margin: 0 0 30px;
        }

        .lm_rz_success_con .text {
            font-size: 14px;
            margin-top: 20px;
            color: #000;
        }

        .rz_success_bg .yindao_6{
            background: url(../images/joinin/rz_success.png) !important
        }

        .zm_form-group {}

        .zm_form-group .lm_upload_btn {
            border: #e4e4e4 solid 1px;
            width: 120px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 20px;
            box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, .1);
            margin-bottom: 15px;
            position: relative;
            display: inline-block;
        }

        .lm_upload_btn img {
          padding: 0 0 3px;
        }

        .zm_form-group .lm_upload_btn i {
            display: inline-block;
            vertical-align: text-bottom;
            line-height: 0;
        }

        .zm_form-group .lm_upload_btn span {
            color: #777;
            font-size: 14px;
        }

        .zm_form-group .upload_con {
            width: 150px;
            margin-right: 15px;
            float: left;
        }

        .zm_form-group .lm_upload_imgs img {
            width: 150px;
            height: 80px;
            object-fit: cover
        }

        .zm_form-group .lm_upload_imgs li {
            display: inline-block;
            margin: 0 10px 10px 0;
        }

        .zm_form-group .lm_upload_btn input[type='file'] {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 100px;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        /* 商户提交 */

        .lm_shopUpload {}

        .lm_shopUpload .shop_title {
            margin: 0 0 20px;
            font-size: 16px;
            color: #000;
            text-align: center;
            text-indent: -89px;
        }

        .lm_shopUpload .lm_yy {
            margin: 15px 0 0 0;
        }

        .lm_shopUpload .lm_begin_date,
        .lm_shopUpload .lm_end_date {
            min-width: 80px;
            width: 91px !important;
        }

        .lm_shopUpload .middle_hr {
            width: 15px;
            height: 1px;
            background: #e4e4e4;
            display: inline-block;
            vertical-align: middle;
        }

        .ml0 {
            margin-left: 0
        }

        .pl0 {
            padding-left: 0
        }

        .uploader-list~.error {
            padding-left: 0;
            margin-left: 0;
        }

        .mt13 {
            margin-top: 13px;
        }

